[2018-05-16 08:44] hrm143 opened #1 "Sync based on Stock Status & Specific Categories"
Hi,
 How to exclude out of stock products in the sync? Also it would be great to sync in selective Categories
And Newest Products Displayed First

[2018-05-16 17:08] shue249 commented on #1
Hi! Thank you for you feedback!

On OpenCart, we are excluding disabled products from syncing to Facebook. You can set those products to disabled. We do not have the feature to sync in selective categories or to have a Newest products section yet. We can keep it as a feature request.

[2018-05-16 17:37] antisocialbrother opened #2 "There is an error with Facebook Ads Extension setup (...)"
Version 1.0.13.

There is this error right after the setup:

Facebook Ads Extension setup. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup

log error:

Complete - Get Sample product feed
2018-05-16 16:48:09 - Failure - facebook feed not created, get initial product sync status
2018-05-16 16:48:09 - null

[2018-05-16 23:17] shue249 commented on #2
Thank you for your feedback.
1. Will you be able to try to delete away the settings and re-setup Facebook Ads Extension again? To delete away the settings, click on the Manage Settings button, and on the popup window, choose Advanced options and click on Delete Settings.

2. Will you be able to send the log error file to ads_extension_opencart@fb.com?

[2018-05-16 23:26] antisocialbrother commented on #2
Yes, that was the first thing I did, same error. I've send the log file.

Thank you.

[2018-05-18 08:07] serkanbalta opened #4 "Feed URL"
Hello,
This is really great module and thank you for great work.

There is a small issue with updating catalog products in fb business manager. I have tried the schedule it for auto update per hour, but it asks feed url and i couldn't find it.
Could you please help me about this feed url ? Because i already started to catalog commercials but it's really important to define or schedule auto update

[2018-05-18 10:09] shue249 commented on #4
Thank you for your question. The short answer is the products on your Opencart store are automatically synced to Facebook product catalog through API.

For the detailed explanation. We are adopting a 2 mechanism approach to ensure a good experience for you when you setup the Facebook Ads Extension. When you completed the setup, we will automatically create a Facebook product catalog and sync all y

[2018-05-18 10:09] #4 closed

[2018-05-18 10:12] shue249 commented on #2
Thank you for your feedback! We are working on a fix now.

[2018-05-21 08:53] farhanabbas1983 opened #5 "Facebook Ads extension for Opencart 3.x?"
Please let me know when you people are going to deliver an update of Facbeook Ads Extension for Opencart 3.0.2 version. I am populating a store of my client and he is interested in connecting facebook page / shop with his opencart store. I tried the existing plugin but it gives internal server error.

Hope I will get a positive answer soon.

Regards,

[2018-05-21 13:49] shue249 commented on #5
Thank you for your feedback! Supporting OpenCart 3.0.2 is on our roadmap. We will inform you soonest when we have clearer visibility on the release date.

[2018-05-22 01:07] neonaresh commented on #2
Facing the same issue from over a month, have installed latest versions atleast 10 times, have sent error logs to ads_extension_opencart@fb.com email. Deleted settings and re-configured it a lot of times.

waiting for the resolution

[2018-05-22 09:44] shue249 commented on #2
Thank you for your feedback and we really appreciate your time and effort with us on improving the plugin. We are releasing out a new version within this week to address this problem.

I do have a question. How many enabled products do your store have now? Our fix is to adopt the API approach when we detect that the feed fails for the initial product sync. However, this method will take more time

[2018-05-22 10:05] neonaresh commented on #2
I have 4 Lakh enabled products on my store, right now, and we add about new 1500 products each day.

[2018-05-22 10:09] shue249 commented on #2
In this case, the new fix will still not work, as it will take too long to sync in all the products.

Earlier, we reached out to you on a test for us to deep dive into the problem. Wondering if you will be open to this test. The process will be as follow:
1. We will send you a alpha version which contains more logging information
2. We ask for your help to do another setup again, most likely the s

[2018-05-22 10:14] neonaresh commented on #2
Will it cause any downtime on my live website ? are there any chances ?

If i give you a test server, replicating my present database, will you be able to develop and test your module on that server (with same number of products)

The problem is, communication takes a very long time, i get replies and feedbacks in 24-48 or sometimes 4-5 days. If in case a problem occurs on the website due to testi

[2018-05-22 10:16] shue249 commented on #2
No, there will be no downtime on the live website. It will be the exact same plugin version 1.0.13 with few additional logging to show out the errors when the feed upload fail. We will like to keep the exact same server as we suspect there could also be specific server configuration.

[2018-05-22 11:15] neonaresh commented on #2
oh okay, Then there is no problem, sure, lets go ahead with this.

[2018-05-22 23:02] shue249 commented on #2
Here is the alpha version of 1.0.13 with additional logging.
[facebook_ads_extension_113a.ocmod.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2028875/facebook_ads_extension_113a.ocmod.zip)

[2018-05-22 23:09] neonaresh commented on #2
Getting this error, while installation

Modification Facebook Ads Extension is using the same ID code as the one you are trying to upload!

[2018-05-23 00:08] antisocialbrother commented on #2
@shue249   ALPHA (113a) version is working fine. I have around 500 products.

@neonaresh Make sure you remove the old version. Then reset settings.

[2018-05-23 00:43] shue249 commented on #2
@antisocialbrother Can you share the OpenCart log file with me? You can send it to ads_extension_opencart@fb.com. Thanks!

[2018-05-23 00:52] antisocialbrother commented on #2
I'm sorry, you mean the facebook_ads_extension.log, correct?

[2018-05-23 01:04] shue249 commented on #2
Yes that is correct. Apologies for not making myself clear. Its the same log file where you pasted the contents in the very first post above.

[2018-05-23 16:50] shue249 commented on #2
@antisocialbrother , we double checked your log file. The setup is successful. Things should be working now. Also, when we release any new versions subsequently, feel free to update to the latest version.

@neonaresh , we need some time to check out the log file. At the same time, we suspect it may be due to the large number of products on your database. Following back to your earlier suggestion t

[2018-05-24 09:50] kunalfule commented on #5
I have developed the opencart store for my client which has multi-stores. Please let me know when will be the extension will be available for opencart 3.0.2.

[2018-05-26 08:47] neonaresh commented on #2
I have shared the required details, on the email, please kindly check and let me know if any other information required.

[2018-06-02 13:30] harrysrevis opened #6 "VQMod error in opencart ver.: 2.3.0.2"
When installing it and trying to enable it in opencart ver.: 2.3.0.2 i get an error
"Fatal error: Uncaught Error: Class 'FacebookCommonUtils' not found in.. etc.."

[2018-06-03 06:34] harrysrevis commented on #6
I've given write+execute permissions to that fodler and still nothing.
I've also sent an email in ads_extension_opencart@fb.com with the exact error message.
--

[2018-06-03 08:18] shue249 commented on #6
Can you take a look on your webserver and see if these files are in the system/library folder. We have seen your error log file and the "class FacebookCommonUtils not found..." error is most likely due to the missing files on your webserver.

If the installation is successful, these files should have been copied over from the plugin to your webserver.

![image](https://user-images.githubuserconten

[2018-06-03 11:27] harrysrevis commented on #6
Yeap that was the issue! One last thing, in another pixel inserted in website, in facebook products section i see all the products correctly but there's an "Out of stock" sign in top right corner, while all the products are available.

Any thoughts?

[2018-06-03 12:28] shue249 commented on #6
Thanks for the feedback! We will be improving on the plugin to make it more robust to better handle the missing file error.

For both the facebook product out of stock as well as your store website console error. Will you be able to share
1. The url of the facebook products
2. The url of your website

[2018-06-03 12:36] harrysrevis commented on #6
URL of facebook products: [https://www.facebook.com/contactprints/shop/](url)
Website url: [https://shop.revisios.gr](url)

We have disabled right click for copyright issues. But i also disabled the extension of that in case that was the problem, but the error persists.

Thank you in advance.

[2018-06-03 23:49] shue249 commented on #6
For the availability of products on Facebook Page Shop, the logic is as follow. If the product has "subtract stock=yes", we will set the availability to "Out of stock" if the quantity is zero, otherwise the availability will be "In stock". If the product has "subtract stock=no", the availability will always be "In stock".
![image](https://user-images.githubusercontent.com/11957585/40892585-b74b56b

[2018-06-04 14:08] harrysrevis commented on #6
As for the first, the thing is that every product is available and subtract stock is set to OFF. Nonetheless the availability in facebook shop page is set to out of stock.

For the second one, when i deactivate the FacebookAdsExtension the problem does not exist anymore.

[2018-06-04 14:43] shue249 commented on #6
Thank you for your feedback and patience with us.

Let us look into both issues.

[2018-06-04 23:20] shue249 commented on #6
We identify the problem for the out of stock issue on Facebook page shop and we will be rolling out a fix within the next 1-2 days. Pls bear with us while we work on this.

For the second case, we suspect it is due to incompatibility issue with other plugins. Apart from journal, are there any other plugins you are using on your system? What is the version of journal you are using?

[2018-06-05 09:55] harrysrevis commented on #6
First of all thank you for your help and patience,
as for the first problem I will wait for your response as soon as you will fix it.

As for the second one, I use several plugins like live price change,  etc. I also had the "Minify JS" option enabled so i deactivated it and it looks like there's something wrong with the jquery file. If this is helpful for you you can check it in my website link a

[2018-06-05 14:50] easydev10 commented on #5
One the facebook ads extension is here if you want you can download it.

https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=28804

[2018-06-05 14:55] shue249 commented on #5
@easydev10  Thank you for your feedback!

Our Facebook Ads Extension is officially developed and supported by Facebook. In addition to pixel, we are also providing support for automated catalog setup and Facebook Page Shop creation.

The work for supporting Opencart v3.x is already ongoing and we are projecting launching the plugin in June. Thank you all for your patience and we will inform everyo

[2018-06-06 05:54] theglobalartisans opened #7 "Products Pending Approval being Sync'ed with Facebook Page Store!"
Hi - we have successfully installed and setup the facebook ad extension on our store - opencart version 2.1.0.2 and everything works fine except for one thing - we have a multi-vendor vqMOD product extension enabled on our store (rendering us as multi-vendor website) and this extension allows us to hold every submission by individual vendor on our store to be placed in a state called "Pending Appr

[2018-06-07 00:30] shue249 commented on #7
Thank you for your feedback!

Pls help me to understand this correctly. In your use case, there is a additional 3rd party extension on your store, which allows products to be in an additional state known as "Pending Approval". You want to products which are in "Pending Approval" to be excluded from the Page Shop.

Can I understand what is the name of this 3rd party extension. We need to understand

[2018-06-07 07:31] ILDaviz commented on #5
shue249, do you need some help for the conversion?

[2018-06-07 14:02] shue249 commented on #2
@zvekov Thank you for your feedback. Can we ask for you to create a separate issue for this so that we can track this. This is on our radar and we are working on a fix for this.

[2018-06-07 14:10] aolguner opened #8 "There is an error with Facebook Ads Extension setup. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup."
Dear all,

we would like to use your extension and connect our website to FB.

However, we are receiving the error &quot;Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup&quot;

Our admin uploaded the newest version again as it is mention in the FAQ. But we are still not able to get through. We would like to not sync o

[2018-06-07 14:15] shue249 commented on #8
Thank you for your feedback and your support for the plugin!

Can I understand more on 3 questions.
1. What is the version of the plugin?
![image](https://user-images.githubusercontent.com/11957585/41105363-2712838a-6aa0-11e8-920d-123a8b0c5e19.png)

2. Can you send us the log file from the plugin?
![image](https://user-images.githubusercontent.com/11957585/41105321-06cd2260-6aa0-11e8-91aa-06ea4863

[2018-06-07 14:20] aolguner commented on #8
Hi,

1- What is the version of the plugin? - 1.0.14

2- Can you send us the log file from the plugin? attached
[Nostalgiepalast_2018-06-07_14-19-12_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2080785/Nostalgiepalast_2018-06-07_14-19-12_facebook_ads_extension.log)

3- How many products do you have on your store? - 3253 Products, however, we would lik

[2018-06-09 12:28] harrysrevis commented on #6
Any further news with the FacebookAdsExtension?

[2018-06-09 13:36] shue249 commented on #6
Thank you for your patience. Can I invite you to re-setup the Facebook Ads Extension again. Re-setup here means for you to access Facebook Ads Extension on your OpenCart -> Click on Manage Settings -> Advanced options -> Delete Settings, and go through the settings again. The products on facebook page shop should be fine now.

Can I also request for you to leave the Facebook Ads Extension setup on

[2018-06-09 13:48] harrysrevis commented on #6
As for the first one as i can see from the first products inserted everything is fine!

As for the second problem please inform me if you want me to disable the minify cache so you can work on it!

If you also want to test what the problem is please enter here: [https://shop.revisios.gr/stylo-me-asemi-kormo](https://shop.revisios.gr/stylo-me-asemi-kormo) and select some product options and add it

[2018-06-09 14:42] shue249 commented on #6
@harrysrevis Thank you so much for your fast response!

We have a hypothesis and wondering if you can help us to test this out? The steps will be as follow:
1. Download an earlier version, v1.0.12 from here https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v1.0.12
2. Uninstall v1.0.14 and install v1.0.12. Do a refresh from modifications
3. Check on store front to see if the e

[2018-06-09 15:03] harrysrevis commented on #6
I should thank you guys for your patience!

I've reinstalled the extension and the problem persists!
Moreover i've noticed that my chrome add-on for facebook pixel does not find any pixels in my website. I'm using an extension in my shop where i disable right click for copyright reasons. Is it possible for it to be the problem for not locating it?

[2018-06-09 15:16] shue249 commented on #6
Thank you again, for your time and patience.

So, unfortunately, our hypothesis is wrong. We need to go back to the drawing board and rethink again. We are able to figure out what is wrong but we need to find out where and what is the cause. Will need to ask for your patience while we work this out.

For more transparency, here are our findings. We located the offending line. However, we are still

[2018-06-09 15:28] harrysrevis commented on #6
Ok i figured it out it was the disable-right-click extension's fault! After i disabled it it could discover the pixel code!

As for the main problem with the option, i will disable the extension so the website can work properly and as soon as you have a solution please let me know!

Thank you!

[2018-06-09 15:49] shue249 commented on #6
This is really interesting. After the Facebook Ads Extension plugin is disabled, that entire chunk of code  "isHovered = ..." is gone! It seems that our plugin is somehow causing extra codes to be injected.

Ok, so this is our fault. We should have saved a cached copy of your website source with the extension installed and we did not. I know this is going to inconvenience you. Can you install back

[2018-06-09 16:21] shue249 commented on #6
@harrysrevis Pls ignore the earlier request. Turns out we did kept a copy of the website. We have all the information we need to dig deeper. Will get back to you once we have any updates!

[2018-06-11 10:28] aolguner commented on #8
Hi,

Is there any result or solution about the "bug"?

Regards,
Alp

[2018-06-11 22:17] shue249 commented on #8
Thank you for your patience!

We are now focusing on the work for supporting OpenCart v3 which will be completed really soon, and we can focus on your problem soon. In the meantime, I am wondering if you are well-verse in making SQL calls. Will like to see if you can get some settings for us to verify.

[2018-06-12 07:35] aolguner commented on #8
Hi,

Thank you for your answer! I am happy that you are working on v3.

I am not %100 sure what you mean well-verse in making SQL calls, please let me know, what information that you need, I would be happy to help you.

Looking forward to hearing from you,

Kind regards,
Alp

[2018-06-14 01:20] shue249 commented on #5
Hi! We are pleased to announce the release of our v2.0.0 of our plugin which supports OpenCart v3.0.2.0b

Facebook Ads Extension
Latest version: 2.0.0

Change log
2.0.0 - 12 June 2018
* Supported OpenCart v3.x
** OpenCart v3.x users need to perform 1 more step - access Extensions -> Extensions -> Select Modules -> Click on the green Install button for Facebook Ads Extension
* Deprecated facebookpr

[2018-06-14 12:20] shue249 commented on #2
@zvekov We have released a new version of the plugin, v2.0.0 which addresses this problem. Will you like to install this new version.

[2018-06-15 11:27] neonaresh commented on #2
Hey, the testing server is same as you asked for. Its completely separate than my live server.

Any database, or any file of testing server will not affect my live server.

It has around 3 lakh products, please just give it a try and see if your module works !

If there is any other way to list 4 lakh products, for the first time, do let me know !

[2018-06-16 13:36] antisocialbrother commented on #2
@shue249

With version 2.0.0
HTTP ERROR 500 on facebook extension page and control panel.

[2018-06-16 13:54] harrysrevis commented on #6
@shue249 Hello,
Do you have any further news as for the problem with the extension?

[2018-06-16 18:28] shue249 commented on #2
@antisocialbrother Thank you again for your feedback, patience and time with us.

Version 2.0.0 provides support for OpenCart v3 and at the same time, there are path folder location changes for the files in the plugin. The biggest change is that the files are now in the /extension folder instead of the /facebook folder. Can you check if the extension folders are given write+execute access rights.

[2018-06-16 18:30] shue249 commented on #6
@harrysrevis Thanks you again for your feedback and patience with us!

As we just released the latest version for v3 this week, we have started looking into the errors shown on your website due to the plugin. Pls give us some more time and we will get back to you soonest!

[2018-06-16 20:00] antisocialbrother commented on #2
Yes access rights are ok on these folders.

Also there are no errors in the log files (opencart / httpd server side)
I had the php error display off, when I turn it on the facebook extension page is just empty (OC control panel too - any other menu and the frontend are working fine)

I'll speak with my admin soon for more information but for now I see no errors.

[2018-06-16 20:45] ronneo commented on #8
Hi Alp,

I'm helping to troubleshoot your issue, are you using v3? Could you reinstall your extension with the attached testing version. This will not fix your issue but to include more logging to allow us to see what's happening. Please do back up your opencart or use another test duplicate of your opencart installation.

Thanks again for helping us fix this issue.

Regards,
Ron

[facebookadsexte

[2018-06-16 22:41] shue249 commented on #2
When you access the admin/controller/extension folder on your webserver, do you see these files?
facebookadsextension.php
facebookproduct,php
facebookproductfeed.php
facebookproducttrait.php

[2018-06-16 23:04] shue249 commented on #2
Also, it's weird that there is no info on your webserver log. Usually error 500 will show up something on the server log.

[2018-06-16 23:33] shue249 commented on #6
@harrysrevis We attached here a separate version of our Opencart plugin. Can we invite you to install this plugin to see if this fixes the error on your web store?

[facebook_ads_extension_200a.ocmod.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2108576/facebook_ads_extension_200a.ocmod.zip)

[2018-06-16 23:59] harrysrevis commented on #6
Warning: require_once(facebookproducttrait.php): failed to open stream: No such file or directory in /home/revisios/shop.revisios.gr/vqmod/vqcache/vq2-admin_controller_extension_facebookproduct.php on line 8
Fatal error: require_once(): Failed opening required 'facebookproducttrait.php' (include_path='.:/opt/alt/php55/usr/share/pear:/opt/alt/php55/usr/share/php') in /home/revisios/shop.revisios.gr

[2018-06-17 00:04] antisocialbrother commented on #2
Yes these files are there.

Still no errors.

Back to 113a and it's working again.

[2018-06-17 00:17] harrysrevis commented on #6
Any ideas on how to delete it manually? Cause i can't enter my admin panel

[2018-06-17 00:28] shue249 commented on #6
![image](https://user-images.githubusercontent.com/11957585/41503484-b5691540-718a-11e8-9c49-2bba51a79282.png)

[2018-06-17 00:30] shue249 commented on #6
![image](https://user-images.githubusercontent.com/11957585/41503492-f0f4323e-718a-11e8-842a-3501c8cd3e27.png)

[2018-06-17 00:31] harrysrevis commented on #6
First of all thank you very much for your quick answer!
Secondly, i have in both folder read and write permissions but let me cross-check it with your answer!

[2018-06-17 00:35] shue249 commented on #2
Apart from the admin/controller, there are also other files which are modified in the plugin.
![image](https://user-images.githubusercontent.com/11957585/41503526-a5d36ce2-718b-11e8-9905-0f46daaec76d.png)

[2018-06-17 00:37] harrysrevis commented on #6
I have in both folders read + write permissions and the files are there, but the problem persists!

[2018-06-17 00:40] harrysrevis commented on #6
Here are the folders' permissions!
![admin-perm](https://user-images.githubusercontent.com/27227418/41503551-1174b416-71e0-11e8-9101-983f10fbb5e4.PNG)
![catalog-perm](https://user-images.githubusercontent.com/27227418/41503553-174f23bc-71e0-11e8-87d0-43f81281bbca.PNG)

[2018-06-17 00:41] neonaresh commented on #2
Hello @shue249,

How can i proceed with uploading my products to Facebook catalog ? is there any other way to do that ?

[2018-06-17 00:44] antisocialbrother commented on #2
@shue249

All files are there. It's very hard to find out what's the problem without visible errors.

I'm sending you the opencart log file. I can't see anything useful but you can check it.

[2018-06-17 00:46] shue249 commented on #6
The permission 755 is only for read+execute. You will need to provide the write permission, otherwise the files will not be able to be saved to your webserver. Can you give the access 775 for both the admin and catalog folders?

[2018-06-17 00:47] neonaresh commented on #2
2018-06-17 0:14:00 - Update products for availability change - 258709,259278
2018-06-17 0:14:00 - Failure - facebook feed not created, update products for availability change
2018-06-17 0:14:01 - {"success":true}
2018-06-17 0:42:55 - Failure - facebook feed not created, dashboard module
2018-06-17 0:42:55 - {"success":true}
2018-06-17 0:43:33 - Get Sample product feed
2018-06-17 0:43:47 - Complete

[2018-06-17 00:48] shue249 commented on #2
@neonaresh We are still checking on your issue as this is separate issue. Please do bear with us

[2018-06-17 00:50] shue249 commented on #2
@antisocialbrother The OpenCart log file is the install log. Do you have the httpd (webserver) error file? If you are using apache, it should be inside the /var/log/apache2/error.log

[2018-06-17 00:52] shue249 opened #9 "Catalog sync fails due to large number of products"
Reported by @neonaresh

Facing the same issue from over a month, have installed latest versions atleast 10 times, have sent error logs to ads_extension_opencart@fb.com email. Deleted settings and re-configured it a lot of times.

waiting for the resolution

I have 4 Lakh enabled products on my store, right now, and we add about new 1500 products each day.

[2018-06-17 00:52] shue249 commented on #2
@neonaresh We have separated out your problem into a different ticket - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/9. Let's follow up there

[2018-06-17 00:54] shue249 commented on #2
@antisocialbrother Do you have permission number for your admin and catalog folders? Will you be able to try to change them to 775?

[2018-06-17 00:56] harrysrevis commented on #6
I did set them to 775 and the problem persists.

[2018-06-17 00:58] shue249 commented on #6
So, after you set the admin and catalog folders to 775, you uninstalled the plugin and reinstall the plugin again. And you see the error on the OpenCart admin panel. Is that correct?

[2018-06-17 01:00] antisocialbrother commented on #2
@shue249 Yes I'm using apache. No related errors in log file.

admin and catalog folders are 755.  I can change them to 775.

Let me take a snapshot of the server and I'll modify them (the shop is live)

[2018-06-17 01:00] shue249 commented on #6
![image](https://user-images.githubusercontent.com/11957585/41503695-25792d3a-718f-11e8-8417-c79ca04867a1.png)

[2018-06-17 01:03] harrysrevis commented on #6
Exactly! Yes the files are there:
![admin-extension](https://user-images.githubusercontent.com/27227418/41503702-44e4a4de-71e3-11e8-8d97-0b75192f77b9.PNG)

[2018-06-17 01:04] harrysrevis commented on #6
The error again:
Warning: require_once(facebookproducttrait.php): failed to open stream: No such file or directory in /home/revisios/shop.revisios.gr/vqmod/vqcache/vq2-admin_controller_extension_facebookproduct.php on line 8
Fatal error: require_once(): Failed opening required 'facebookproducttrait.php' (include_path='.:/opt/alt/php55/usr/share/pear:/opt/alt/php55/usr/share/php') in /home/revisios

[2018-06-17 01:07] shue249 commented on #6
Thanks for the screenshot. I see that the facebook-related files are all permission 644. Can you put all the facebook-related files into permission 775?

The error which you are seeing is mostly due to permissioning error.

[2018-06-17 01:09] antisocialbrother commented on #2
@shue249 Switched to 775, no difference.

[2018-06-17 01:10] harrysrevis commented on #6
Sure, wait please!
Thank you for your patience!

[2018-06-17 01:15] harrysrevis commented on #6
Should i apply 775 to subfolders too? Cause after doing these (after setting 775 to the files you mentioned) the problem now is here:

Warning: require_once(facebookproducttrait.php): failed to open stream: No such file or directory in /home/revisios/shop.revisios.gr/vqmod/vqcache/vq2-admin_controller_extension_facebookproduct.php on line 8
Fatal error: require_once(): Failed opening required 'fac

[2018-06-17 01:16] shue249 commented on #2
@antisocialbrother What is the permission of the extension folder and its parents

[2018-06-17 01:18] shue249 commented on #6
Can we try to put 775 to these folders and its child folders:
admin/controller/extension
admin/model/extension
admin/language
admin/view/template
catalog/controller/extension

[2018-06-17 01:20] antisocialbrother commented on #2
All folders are 755

[2018-06-17 01:27] shue249 commented on #2
@antisocialbrother You mentioned that the php error is turned off. Wondering if this can be turned on.

[2018-06-17 01:29] antisocialbrother commented on #2
Yup I did switch error display on. (both server side and opencart folder)

Now I have just an empty page (no http error 500)

[2018-06-17 01:40] harrysrevis commented on #6
Still the same problem.

[2018-06-17 01:47] shue249 commented on #2
Can I also understand if you have vqmod installed?

[2018-06-17 01:48] antisocialbrother commented on #2
Yes I have vqmod.

[2018-06-17 01:50] shue249 commented on #6
Thank you for your feedback! We may have found an incompatibility issue with vqmod. We will continue to investigate this.

For now, pls uninstall the v2.0.0 plugin from your webserver.

At the same time, we noticed that you have uninstalled the disabled-right click module. Can you pls install version 1.0.14 of our plugin and we like to see if the error on the console still appear. The reason is be

[2018-06-17 01:51] shue249 commented on #2
Thanks for the feedback! We think the incompatibility is due to vqmod. Let us look into this now.

For the time being, you can revert back to a version 1.0.14 which is the latest version before 2.0.0. https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v1.0.14

[2018-06-17 01:54] harrysrevis commented on #6
I've installed it and as i can see the problem in console persists. Do you want me to keep it so you can track something or can i delete it?

[2018-06-17 01:57] antisocialbrother commented on #2
You are correct.

With vqmod disabled it's working fine.

[2018-06-17 02:01] shue249 commented on #6
I see that the disabled-right click module is enabled on your store. Wondering if you can disable that module. This is still with our OpenCart 1.0.14 plugin installed.

[2018-06-17 02:04] neonaresh commented on #9
I have a follow up question,

Before installing this module, i had uploaded products to facebook, by creating product feed (manually).

When i installed this module, All the existing products from facebook got deleted.

If I again, create, manual product feed for my facebook, will this module continue to work for new products (because, on daily basis, there will only be 1500 products).

If there i

[2018-06-17 02:17] harrysrevis commented on #6
The right click is disabled after i enable your module. While i disable it everything work fine.

[2018-06-17 03:19] antisocialbrother opened #10 "Add to Cart button not working (on some custom layouts)"
With the extension enabled, on some custom designs, the add to cart button it's not working.

Uncaught TypeError: Cannot read property 'target' of undefined
    at Function.add (common_oc.js:224)
    at Object.cart.add (facebook_pixel.js:62)
    at HTMLAnchorElement.onclick (index.php?route=common/home:803)

I'm attaching the common_oc.js file (as txt)
[common_oc.txt](https://github.com/facebookin

[2018-06-17 05:19] neonaresh commented on #9
I uploaded the products, to facebook manually, and i am getting this error

Retargeted ads can't be run for xxxx of xxxx products that people added to cart on your website, because they are missing from your catalog.

To fix this:
For each product, check that the content ID in your pixel installation matches the id used in your catalog.

While adding up products manually, i have entered "product_i

[2018-06-17 06:19] shue249 commented on #10
Thanks! We will take a look at this!

[2018-06-17 06:37] shue249 commented on #6
Apologies for the delay!

We have a alpha version for v1.0.14. Like to invite you again to give this version a spin to see if it works on your server. Let us know if the error persists.

Thank you once again for spending time with us on troubleshooting this issue. Really appreciate this.
[facebook_ads_extension_114a.ocmod.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/210873

[2018-06-17 07:13] shue249 commented on #10
@antisocialbrother Like to share some thoughts. Let me know if this makes sense.

On OpenCart's common.js, the cart.add method is only accepting 2 parameters, productId and quantity. The 3rd parameter, event, on your common_oc.txt is not part of the official Opencart definition. Hence, it will be hard for us to support any custom definition as it will is not a standard deifnition. https://github.c

[2018-06-17 13:55] harrysrevis commented on #6
Nuh, still the same! Here's a screenshot of the console error too:
![pseudo](https://user-images.githubusercontent.com/27227418/41508529-05e0fa32-724f-11e8-930f-1bb09dff0d9f.PNG)

No problem guys, just trying to help you solve a future problem for other users too! So..!

[2018-06-19 22:21] shue249 commented on #10
@antisocialbrother I will be closing off this ticket as not a bug as the custom designs are adding additional features and not adhering to the default standard of OpenCart.

[2018-06-19 22:21] #10 closed

[2018-06-20 23:35] tomjaden opened #11 "Products not syncing."
Hi,

We are using version 2.0.1.1 of OpenCart, with version 1.0.14 of the Facebook Ads Extension.

Whilst the initial upload of our products to the Facebook catalogue worked, new products/changes to products aren't updating.

Any help with this would be appreciated.

Thanks

[2018-06-21 23:02] harrysrevis commented on #6
Well guys i figured it out! For future usage here's what caused the problem:
I had installed an extension called "Disable Right click" with OCMod installation method but i forgot that i tried to install it with vqmod too in the past. So i checked the VQMod folder and i had the "Disable right click" vqmod file there.
I deleted it and as i see it works like a charm!! You can also check it in case i

[2018-06-22 05:54] kunalfule commented on #5
after installing the new update it's showing the error "The directory admin/controller/facebook is not allowed to be written to!". While trying to install extension through "Extension Installer".

[2018-06-22 07:10] shue249 commented on #11
Thank you for your feedback!

2 things I will like to understand.
1. Are you using any custom plugins for the inventory module?
2. Can you share the Facebook Ads Extension error log file with us?

[2018-06-22 07:11] shue249 commented on #6
Thank you for your feedback! This is super helpful for future users. And we are really happy that this helps you.

[2018-06-22 07:11] #6 closed

[2018-06-22 21:10] shue249 commented on #5
@kunalfule We have released the new version v2.0.1 which fixes your problem.

[2018-06-22 21:13] #5 closed

[2018-06-22 21:13] shue249 commented on #2
@antisocialbrother The latest version v2.0.1 fixes this problem.

[2018-06-23 08:07] lipmycar opened #12 "Facebook-for-opencart Fatal error Invalid opcode 153/1/8"
Hello support team,
After extension installation this fatal error came up:
Fatal error: Invalid opcode 153/1/8. in /home/lipmycar/public_html/admin/controller/extension/facebookadsextension.php on line 421
Now I am not able to log in to my admin panel and there are some errors on the website.
My Opencart version is 2.0.3.1. I have installed Facebook for OpenCart v2.0.1
I really need your help on t

[2018-06-23 08:19] suresh4949 opened #13 "Fail to upload products to catalog"
I can't see to add any products using pixel . it shows I have products in the inventory but when I re-sync, it won't do anything and I can't see my products . how do I go about this

[2018-06-23 08:20] shue249 commented on #12
Hi! You can remove the plugin by accessing this URL on your admin panel - index.php?route=extension/modification. This will allow you to access back your admin panel.

Do you have any eaccelerator installed on your OpenCart. If so, can you share the version of the eaccalerator and your PHP version?

Let me know if this makes sense.

[2018-06-23 08:33] lipmycar commented on #12
Thank you!
I've managed to uninstall the extension, but another problem appeared. There is an error in modules section in admin panel : "Page Not Found"
I haven't installed any accelerators on my Opencart. I checked in the Cpanel, my PHP version is 5.6.30

[2018-06-23 08:38] suresh4949 commented on #13
I don't think you need my id for that

[2018-06-23 08:40] lipmycar commented on #12
Ok, I fixed the problem with modules section after I deleted admin/controller/extension/module. I still would like to use the extension. Any ideas?
THank you,
Nikolay

[2018-06-23 08:47] suresh4949 commented on #13
645756245760425

[2018-06-23 08:47] suresh4949 commented on #13
anyways this is the store id

[2018-06-23 08:47] shue249 commented on #13
Thank you for your feedback.

With the store id, we will be able to double check the catalog from our side to see if the products are intact.

In any case, you will be able to also check this your self.
1. On the Facebook Ads Extension, click on Manage Settings. A popup dialog will appear
2. Click on Products and the link to see your products on Facebook
![image](https://user-images.githubusercont

[2018-06-23 08:51] shue249 commented on #13
I did a check on your store ID, seems that there is some problem with your initial product sync. Can you send to us a copy of your log file at ads_extension_opencart@fb.com, for us to better troubleshoot the problem? Also, how many products do you have on your store?

![image](https://user-images.githubusercontent.com/11957585/41807717-e2fed3c6-7687-11e8-8f0c-8df25f2c9652.png)

[2018-06-23 08:53] shue249 commented on #12
Thank you for your feedback! This is very interesting to us, as this is also the first time we are seeing this problem. We can continue to take a look, but pls let us know if you have any thoughts to this.

[2018-06-23 08:54] shue249 commented on #12
Just a quick thought, are you running any opcode cache? https://forum.joomla.org/viewtopic.php?t=848554

[2018-06-23 08:55] lipmycar commented on #12
My mistake. PHP version was 5.3. I change it to 5.6 and succesfully installed the extension without this opcode fatal error, but again modules in admin panel are missing.

[2018-06-23 09:05] shue249 commented on #12
Thanks for your feedback! Can you share a screenshot on how the modules in admin panel missing looks like, for us to better understand this.

[2018-06-23 09:08] lipmycar commented on #12
I really appreciate your help! This is the screenshot that shows the modules issue:
![clipboard03](https://user-images.githubusercontent.com/40515131/41807886-2cf153fe-76de-11e8-927a-9656c76bdbff.png)

[2018-06-23 09:12] lipmycar commented on #12
Previously I deleted admin/controller/extension/module and the file in it created by the extension and everything was fine with modules after that.  After your advices I have succfully installed the extension and of course the same foulder and file are created again :)

[2018-06-23 09:14] shue249 commented on #12
Thanks for the feedback. So want to understand this better. Is your modules page back to normal now? Or are you still facing the same problem/

[2018-06-23 09:15] suresh4949 commented on #13
I have send it in

[2018-06-23 09:17] shue249 commented on #13
Thank you! We have received this. We are also seeing this same problem across 1 other merchant. We are still checking onto this problem to better understand this. Let us get back to you soonest once we identified the problem.

[2018-06-23 09:19] lipmycar commented on #12
If i delete folder admin/controller/extension/module and the file in it my modules go back to normal. Now I am facing the problem (shown in the screenshot) becase I've successfully installed the facebook extension and this folder is created again.
Thank you

[2018-06-23 16:33] shue249 commented on #12
Thank you for your feedback and we really appreciate your patience! We will deep dive into this and inform you soonest.

Probably you have already done this. Pls uninstall the plugin first while we work on this.

[2018-06-25 06:42] suresh4949 commented on #13
hi. any updates on this matters

[2018-06-26 12:14] kunalfule commented on #5
@shue249: I'm using opencart 3.0.2.0. The previous issue was of opencart 3 not on
Version2

[2018-06-27 09:40] shue249 commented on #5
@kunalfule We have released a version 2.0.2 of our Facebook Ads Extension plugin. This version supports for OpenCart 3.x. Can you download this version from OpenCart marketplace - https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336

[2018-06-27 09:40] shue249 commented on #13
Thank you for your feedback. We are still working on figuring out the problem. Pls bear with us while we work on this.

[2018-06-27 09:46] shue249 commented on #12
@lipmycar Thank you for your feedback. We will check this out and get back to you soonest!

[2018-06-29 22:27] awadi13 opened #14 "error"
1- if i go to facebook button will take me to
 " page isn’t working
is currently unable to handle this request.
HTTP ERROR 500 "
2- if i go to extension < module  < facebook < no permission
even i gave the permission to wright and read

my opencart is 2.3.0.2
i installed v2.0.2
please help

[2018-07-01 00:28] shue249 commented on #14
Thank you for your feedback and patience!

As the problem is too generic for us to debug here, we will need more details to be able to proceed. Will you be able to access the facebook button again and then share with us your web server log file at ads_extension_opencart@fb.com?

[2018-07-01 12:48] awadi13 commented on #14
i can't access the facebook button and even my admin
i had to uninstall it to access the admin again

[2018-07-01 12:49] awadi13 commented on #14
Montajaat.com<http://Montajaat.com>

On 1 Jul 2018, at 3:28 AM, shue249 <notifications@github.com> wrote:

Thank you for your feedback and patience!

As the problem is too generic for us to debug here, we will need more details to be able to proceed. Will you be able to access the facebook button again and then share with us your web server log file at ads_extension_opencart@fb.com<mailto:ads_exte

[2018-07-02 11:08] lipmycar commented on #12
I searched over the internet and couldn't find any solution that works. If I delete the above mentioned folder the facebook extension stops working. I really hope you will find a way to fix this.
Thank you!

[2018-07-02 14:49] suresh4949 commented on #13
hi. Shue249 I got this error today. hope this might help
2018-07-02 17:05:12 - PHP Warning:  require_once(C:/inetpub/wwwroot/opencart/catalog//controller/extension/facebookproducttrait.php): failed to open stream: No such file or directory in C:\inetpub\wwwroot\opencart\admin\controller\extension\facebookproduct.php on line 8
2018-07-02 17:05:29 - PHP Warning:  require_once(C:/inetpub/wwwroot/open

[2018-07-03 06:31] shue249 commented on #12
Thank you for your feedback! Let us work on this and get back to you soonest!

[2018-07-03 06:33] shue249 commented on #13
@suresh4949 Thank you for your feedback. We have a latest version of the plugin, version 2.0.2, which will fix the problem on the errors. Can you take a look to see if it helps you.

Also, I am wondering if you are still facing problem for your catalog sync?

[2018-07-03 06:42] suresh4949 commented on #13
Where can I get the latest version of the installer ?

[2018-07-03 06:49] suresh4949 commented on #13
the facebook ads module is no longer in opencart marketplace. so how can I download the latest version to fix this error and ensure me to be able to upload my data for ads

[2018-07-05 13:46] awadi13 commented on #14
u mean log of my panel ?!
if yes where should i send the details ?!

[2018-07-06 16:08] shue249 commented on #14
Hi! Can you send the log file to ads_extension_opencart@fb.com

[2018-07-10 12:18] awadi13 commented on #14
hi dear
i already sent the file, is there any update ?
thank you

[2018-07-12 05:56] shue249 commented on #14
@awadi13 Our email system filtered away attachments, so your email came in with no log file. Is there anyway you can host the file on a public location for us to test?

[2018-07-12 08:30] shue249 commented on #13
@suresh4949 Like to get back to you on this issue. Are you able to get the latest version v2.0.2 of our plugin and if the checkout problem is resolved for you?

[2018-07-12 08:42] suresh4949 commented on #13
hi.. no as your module screws up my website. I even got errors on success pages and payment system also all got issue . because of your module. best of yet. its your module and you guys should fix it. instead of asking people to join the forum and fix things. I don't mind paying $20 and above for a module that works and the support is able to fix the errors . but unfortunately . you guys aren't ab

[2018-07-12 08:43] suresh4949 commented on #13
im running a live site. and I can't effort for this miracle waits to happen. thats why I do not wish to get your module . thanks for nothing

[2018-07-12 09:02] shue249 commented on #13
@suresh4949 Thank you for your feedback. We sincerely want to help you and your business be successful and we are working hard on this. We understand the pain that you been going through and we really thank you for your patience with us.

We understand that the checkout problem is due to a new version of our plugin which is upgraded to support for OpenCart v3. As there are many differences between

[2018-07-12 23:38] shue249 commented on #14
@awadi13 We looked at some of your logs on Facebook side. I believe that you are using our plugin version of 2.0.0. Can you uninstall/remove this version and install the newer version of 2.0.2 - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.0.2.

Let us know if this works for you.

[2018-07-12 23:39] shue249 commented on #13
Closing this as our plugin is not compatible with @suresh4949 system. We welcome reopening this issue and go deeper to work out the incompatible issues.

[2018-07-12 23:39] #13 closed

[2018-07-12 23:40] shue249 commented on #11
@tomjaden Like to check in on this issue again. Are you still encountering the problem?

[2018-07-13 02:04] shue249 commented on #2
Closing the case for @antisocialbrother
We are tracking @neonaresh case on https://github.com/facebookincubator/Facebook-For-OpenCart/issues/9

[2018-07-13 02:04] #2 closed

[2018-07-13 02:08] shue249 commented on #9
@neonaresh Apologies for the late reply.
Can you share with me your website URL for me to check this for you.

To clarify, our plugin do not delete away any existing product feed or catalog, as we will be creating a new catalog and feed. As you have already setup your own feed, we can help you to check on the feed settings and your pixel setup and if this works, you can skip and ignore our plugin

[2018-07-13 17:07] awadi13 commented on #14
i am using the 2.0.2
even i installed the 2.0.2 again but still same issue, i can't reach the facebook button page

[2018-07-15 23:48] shue249 opened #15 "Error: Table 'oc_facebook_product' doesn't exist"
Solution for resolving this error.

If you are on OpenCart v3.0.2, please install the Facebook Ads Extension module. You can do that via Extensions -> Extensions -> Choose Modules from the dropdown list -> Search for Facebook Ads Extension and click on the Green icon with "+" sign at the right.
![image](https://user-images.githubusercontent.com/11957585/42739599-7720cd74-88cc-11e8-88c2-c922a9c4ea8

[2018-07-15 23:48] #15 closed

[2018-07-16 00:03] shue249 commented on #8
@aolguner I will like to check in with you on the OpenCart issue. Can I understand if you are still encountering the problem?

If so, can I ask for your store ID shown on the Facebook Ads Extension for us to debug further?
![image](https://user-images.githubusercontent.com/11957585/42739706-b6277728-88ce-11e8-83fd-aed804aaa27e.png)

[2018-07-21 21:13] dalibordim commented on #12
i got the exact same problems with the folder admin/controller/extension/module, and after removing the folder i got the same error messages on the admin page. Seams that only OC 2.0.3.1 has this problem because I've tested the extension on 2.3 and it works perfectly

[2018-07-22 04:46] reorado opened #16 "Customer group price"
There are different price for different customer group. The Facebook shop now disclose the non public special price in the OpenCart shop and there is option to change. Pls enable customer group price change asap

[2018-07-23 00:02] shue249 commented on #16
@reorado Thank you for your feedback. Can I understand how do you setup the customer group price on OpenCart, what are the criterias for deciding the various customer groups? Suppose if I am a new customer visiting your website, which is the set of prices I should be seeing?

[2018-07-23 00:54] shue249 commented on #12
@lipmycar , @dalibordim Thank you again for your comments. We are working on a fix now. We will keep you updated the soonest when we have the fix ready for Opencart v2.0.3.1

[2018-07-23 02:49] reorado commented on #16
@shut, we first set up different user group in the user group setting. For example, basic, VIP, WHOLESALE’s. Any customers who have a login are assigned to a user group and it can be change according to its type.

In the product edit page, there is a tab named “special”, different price can be applied to different user group.

Create prices for different group in that page. If customer do not have

[2018-07-24 09:40] amplexus opened #17 "[OpenCart 2.0.3.1] - facebookadsextension_installer.php makes admin -> extensions -> modules menu "not found""
Hi,

I have OpenCart 2.0.3.1.

When I installed your module, I found that clicking on the Admin --> Extensions --> Modules menu option displayed "not found" when I clicked on it.

I discovered that the root cause was the addition of a "module" directory:
* admin/controller/extension/module/facebookadsextension_installer.php

When I removed the admin/controller/extension/module directory, the Modul

[2018-07-24 12:33] shue249 commented on #16
@reorado Thank you for your clear explanation. Can I understand if the Facebook Page Shop is now showing out the standard price from your website. The reason is because on the Facebook Page Shop, we do not have the feature to create customer groups+discounts, hence the prices shown have to be the standard or "default" price that is common for customers who have yet to login.

Right now, our plugin

[2018-07-24 12:42] amplexus commented on #17
Thanks shue249, I thought that #12 was an "opcode error" problem, I should have read all the comments :)

[2018-07-24 12:45] reorado commented on #16
Attached is some of the product of my Facebook shop.

It also shows the discount price for the specific customer group. The ski key product are showing 2 prices, default price and discount price.

從我的 iPhone 傳送

[2018-07-24 12:49] amplexus commented on #12
Hi,

I had the same problem in my 2.0.3.1 installation. The way I fixed this issue was to:
1. rename admin/controller/extension/module/facebookadsextension_installer.php to admin/controller/extension/fbinstaller/facebookadsextension_installer.php
2. rename admin/language/en-gb/extension/module/facebookadsextension_installer.php to cnut/language/en-gb/extension/fbinstaller/facebookadsextension_inst

[2018-07-24 12:54] amplexus opened #18 "[Opencart 2.0.3.1] Unable to complete an order after installing this module"
Hi,

I installed your module but have NOT yet setup Facebook ads.

I did a test order on my website, and when I clicked "Confirm Order", it resulted in a browser error:

[code]

I backed out the module because of this issue so my customers won't be affected.

Some questions:
1. Is this the expected behaviour because I didn't activate the module?
2. the "cookieconsent" code seems to want to open a

[2018-07-24 18:06] shue249 commented on #17
@amplexus No apologies needed, I will have done the same if I were you. And thank you so much for offering the suggestions for the fix in the other thread :)

[2018-07-25 07:15] amplexus commented on #18
Ok unrelated to the extension install. Was a problem with my payment gateway. Sorry my bad!

[2018-07-25 07:15] #18 closed

[2018-07-25 09:03] amplexus opened #19 "Not complying with GDPR regulations because cookieconsent.js is using freegeoip API that is no longer available"
Hi,

I am getting lots of browser errors after installing this module.

The browser error I see is as follows:

[code]

I clicked on the link to https://freegeoip.net/json/?callback=callback1532508093259 and can see that the API interface has been shut down:

[code]

Although these errors are not impacting my customers, it would be good to have this resolved so that my browser developer console is

[2018-07-25 13:06] shue249 commented on #19
Thanks for the feedback! We are looking into this now

[2018-07-25 19:29] robteeshirtguy opened #20 "facebook pixel (facebook ads extension)"
hi i installed the module
Facebook Ads Extension | Facebook | 2.0.2 | Enabled | 23/07/2018
catalog work like a treat and add product to my facebook shop
my problem with pixel i conected it to me
![image](https://user-images.githubusercontent.com/20581530/43222866-3ac3f5b6-9049-11e8-9eda-5a4fc42e66f3.png)
![image](https://user-images.githubusercontent.com/20581530/43222884-4bd99374-9049-11e8-9c0d-c

[2018-07-25 23:22] shue249 commented on #20
Thank you for your feedback!

Can we have the URL for your opencart store for us to verify the pixel installation?

[2018-07-26 00:13] amplexus commented on #20
Ok I have a staging server where I test everything before it goes live:

·        https://staging.flowerswithpassion.com.au/

It uses basic auth just to prevent Google crawling. Login is “guest”, pwd is “dorasflora”.

Cheers,
Craig

From: shue249 [mailto:notifications@github.com]
Sent: Thursday, 26 July 2018 9:23 AM
To: facebookincubator/Facebook-For-OpenCart <Facebook-For-OpenCart@noreply.github.

[2018-07-26 06:34] robteeshirtguy commented on #20
Custom-funky.co.uk

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: craig jackson <notifications@github.com>
Sent: Thursday, July 26, 2018 1:13:46 AM
To: facebookincubator/Facebook-For-OpenCart
Cc: robteeshirtguy; Author
Subject: Re: [facebookincubator/Facebook-For-OpenCart] facebook pixel (facebook ads extension) (#20)

Ok I have a staging server where I tes

[2018-07-26 15:10] shue249 commented on #20
@amplexus Thanks for the feedback. Can I understand if there are any custom plugins installed on your staging website?

Currently we are tapping into the header.php to try to inject the pixel data.

[2018-07-26 15:34] shue249 commented on #20
@robteeshirtguy Can I understand if you have made any manual modifications to your website header/footer codes after you installed the Facebook Ads Extension plugin. Specifically, we identified 3 things which are stands out from your website.

I have to go into technical explanation here to call out the usual items.
![image](https://user-images.githubusercontent.com/11957585/43272034-99b177be-912b

[2018-07-26 16:14] robteeshirtguy commented on #20
Loads of module not hard codes in to theme though

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: shue249 <notifications@github.com>
Sent: Thursday, July 26, 2018 4:34:39 PM
To: facebookincubator/Facebook-For-OpenCart
Cc: robteeshirtguy; Mention
Subject: Re: [facebookincubator/Facebook-For-OpenCart] facebook pixel (facebook ads extension) (#20)

@robteeshirt

[2018-07-27 00:39] shue249 commented on #20
@robteeshirtguy I like to rephrase to better understand your context. Are you saying that you have made hardcoded changes to the header.tpl file in the theme resulting in many modules not loading?

If you are making hardcoded changes, I can advise you on how to correct those changes.

[2018-07-27 00:45] shue249 commented on #16
@reorado I am unable to see any attachments. Will you be able to repost them again.

It will be great if you can give an example of your product on page shop, its corresponding prices on your opencart product module and what is your expectation of how the page shop price should be reflecting.

Like to emphasis here again that Facebook Page shop currently do not have the concept of customer groups,

[2018-07-27 05:33] robteeshirtguy commented on #20
no i not made any hard code changes to the header.tpl

i run opencart cart 2.1.0.2 and journal 2 theme

ocmods please see sceen shot of them

[cid:46a32984-ba34-479f-90d8-0cc8ecc9c9dc]

[cid:329a3a32-9704-4b84-9a4a-dbb4371ed9c0]
[cid:03c224df-7cb5-4566-a644-0de974cf4a59]
my vqmod[cid:2032104d-085e-4119-a93b-05433a369879]

[cid:b173675e-0f16-4efb-8d56-5531b24dfaf6]
[cid:4d679edd-f389-44f7-9978-bd68

[2018-07-27 05:51] robteeshirtguy commented on #20
shue249 are you the developer of this module ??

[2018-07-27 09:40] shue249 commented on #19
Thank you for the feedback! We will work to put this into the next release and recognize your credit.

[2018-07-28 06:30] robteeshirtguy commented on #20
shue249 i manage to sort it by unstalling the module facebook ads which i got from facebook business section and restalled it with the facebook ad module i download from opencart and it worked the only problem with it is i keep getting a cookie bar accross the bottom from facebook which i dont want how do i get rid of it as i all ready have a cookie bar installed please advise

[2018-07-29 01:38] shue249 commented on #20
@robteeshirtguy Thank you for your feedback. We are glad that it worked out for you.

The cookie bar is part of Facebook's pixel requirement to adhere to the GDPR regulations. The bottom cookie bar will be gone after the user clicks on Accept.

If you will still wish to disable the Facebook's pixel cookie bar, you can do it manually.
1. Look into your opencart folder on your webserver, under the s

[2018-07-29 01:38] #20 closed

[2018-07-29 01:38] shue249 commented on #20
Closing this as @robteeshirtguy is able to fix the pixel installation. Feel free to re-open if you need more assistance.

[2018-07-29 01:42] shue249 commented on #14
@awadi13 Closing this case as the bug has been resolved in the 2.0.2 version of our plugin. Feel free to re-open if you are still encountering any problems.

[2018-07-29 01:42] #14 closed

[2018-07-30 00:47] 2728384 opened #21 "Providing support for PHP 5.3"
Hi,i got 2 problem after installed it in the OC-2.2.0.0.
The installed is success and i did refresh after the installed.
And the plugin's version is 2.0.2.

Here's the error message after i want to click the extension▼
Fatal error: Using $this when not in object context in /home/vitaorga/public_html/shoponline/admin/controller/extension/facebookadsextension.php on line 484

And another error messa

[2018-07-30 00:58] shue249 commented on #21
Thank you for the feedback! Let us look into this.

[2018-07-30 02:56] shue249 commented on #21
@2728384 Can I understand
1. what is the version of PHP used on your server
2. what is the server you are using, eg OS, version

[2018-07-30 03:18] 2728384 commented on #21
php-5.3
os- centos 6

[2018-07-30 08:59] shue249 commented on #21
@2728384 Thanks for the feedback! The problem you are encountering is due to the PHP requirement, as we did not support for 5.3. Based on OpenCart's requirement, we are catering for PHP 5.4 and higher - http://docs.opencart.com/en-gb/requirements/

Will you be able to upgrade your php to 5.4 or higher?

[2018-07-30 09:21] 2728384 commented on #21
I have installed some other plugin. (Ajax Quick Checkout .....) Everything works good.
Upgrade php version may cause some other errors, so it's not my first choice.
Do you have another way to fix it???

[2018-07-30 10:34] shue249 commented on #21
We can consider it as an enhancement subsequently but not in the immediate timeline. We can share with you when it is ready soonest.

[2018-07-30 19:11] robteeshirtguy commented on #20
hi can you help im trying to get this module to work with this module https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=34092

Analytics and Statistics
These cookies allow us to measure visitor traffic and see traffic sources by collecting information in data sets. They also help us learn what are the most popular products and activities on our store.
_ga
_gid
_gat
_

[2018-07-31 20:47] dalibordim commented on #12
I noticed a different issue. The installation went ok and i got a new option in the admin menu on the side but after setting everything up the problem now is that the pixel is not showing any data in the Facebook Pixel Helper.

[2018-08-01 00:40] shue249 commented on #12
@dalibordim Thank you for your feedback! Can I ask you to open a separate ticket so that we are not diluting the problem for this issue. At the same time, can I ask for your website URL.

[2018-08-07 09:14] shue249 commented on #19
We have released the new version v2.0.3 which addressed this issue. We will be closing off this ticket, but feel free to open it if you have any further questions.

Facebook Ads Extension
Latest version: 2.0.3

Change log
2.0.3 - 7 August 2018
* Improves on the robustness of firing the Facebook pixels by using preactions (OpenCart v2.2.0.0 and higher) or tapping into the maintenance controller (lo

[2018-08-07 09:14] #19 closed

[2018-08-07 09:15] shue249 commented on #17
We have released the new version v2.0.3 which addressed this issue. We will be closing off this ticket, but feel free to open it if you have any further questions.

Facebook Ads Extension
Latest version: 2.0.3

Change log
2.0.3 - 7 August 2018
* Improves on the robustness of firing the Facebook pixels by using preactions (OpenCart v2.2.0.0 and higher) or tapping into the maintenance controller (lo

[2018-08-07 09:15] #17 closed

[2018-08-07 09:15] shue249 commented on #12
We have released the new version v2.0.3 which addressed this issue. We will be closing off this ticket, but feel free to open it if you have any further questions.

Facebook Ads Extension
Latest version: 2.0.3

Change log
2.0.3 - 7 August 2018
* Improves on the robustness of firing the Facebook pixels by using preactions (OpenCart v2.2.0.0 and higher) or tapping into the maintenance controller (lo

[2018-08-07 09:15] #12 closed

[2018-08-08 09:50] zavaruev opened #22 "using http://freegeoip.net/"
http://freegeoip.net/ had changed (https://github.com/apilayer/freegeoip#readme), so some modifications needed. Now extension raising error:
"The service[0] (//freegeoip.net/json/?callback={callback}) responded with the following error Error: Error [UNKNOWN]: Invalid response (SyntaxError: Unexpected end of JSON input)
    at o (cookieconsent.min.js:25)
    at Object.callback (cookieconsent.min.js

[2018-08-09 00:44] shue249 commented on #22
@zavaruev Thank you for your feedback! We have recently released a new version of our plugin - version 2.0.3 which addressed this problem. You can download the plugin either from OpenCart or from our release page here on github.

https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336

[2018-08-09 00:44] #22 closed

[2018-08-09 17:25] hrm143 opened #23 "GeoIP issues...http://freegeoip.net/shutdown"
API provided by freegeoIP not working..it is now throwing out Errors on my website becuz of this

[2018-08-11 02:33] shue249 commented on #23
@hrm143 Thank you for your feedback! We have recently released a new version of our plugin - version 2.0.3 which addressed this problem. You can download the plugin either from OpenCart or from our release page here on github.

https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336

[2018-08-11 02:33] #23 closed

[2018-08-11 08:13] kg0925 opened #24 "no event activity in catalog even if pixel installed"
recently i installed this module to my opencart store 3.0.2.0 . it installed successfully. pixel is also installed correctly. i checked product page, category page, add to cart, initial checkout, purchase. pixel show correctly. but it's not showing any activity on catalog -&gt; event data sources. it shows no events. if i want to create dynamic ads then in catalog it should be shown. but there is

[2018-08-11 14:30] adamford4 opened #25 "Your plugin just crashed my entire site!?!?"
Everything - can't login to backend - entire site is down.

YOU need to send help URGENTLY, what on earth is with this?

[2018-08-11 14:48] shue249 commented on #25
Thank you for the feedback.
Can you try to access your admin panel server URL with this path - index.php?route=extension/modification. You should be able to access the plugin. Select the plugin to remove it and click on the blue refresh icon. Your backend should be fine now.

At the same time, we will like to understand more on what happened so that we can further improve on our plugin. Will you b

[2018-08-11 15:00] shue249 commented on #25
Our plugin requires to save in some new files to some opencart sub-folders on your webserver. Can you take a look to see if the admin, catalog and system sub-folders are writeable on your opencart folder.

[2018-08-11 15:40] shue249 commented on #24
Thank you for your feedback.

We went to your website but did not found the pixel installed. Did you delete away the Facebook Ads Extension settings? If you like us to continue to check, will appreciate if you can send us your pixel id.

Some of the event activities may take some time, ~24 hours, to be reflected on the dashboards (eg catalog or pixel).

[2018-08-12 08:09] kg0925 commented on #24
i had uninstalled the module. now i installed it again. please check now and also let me know how to remove that cookie policy tab from the website bottom. i don't to be shown it to visitors.

[2018-08-12 09:48] shue249 commented on #24
@kg0925 We can see that the plugin is installed correctly and the events are fired correctly on the product catalog event source (see the ViewContent and AddToCart). Regarding your earlier concern on the purchase warning, this is because we have yet to receive Purchase events. Once consumers start to make purchases on your website, the dashboard will show out the purchase events.

With regards to

[2018-08-12 10:12] kg0925 commented on #24
i understand that it's part of facebook but it can be hide right?? with
manual pixel installation there is no such tab so why it can't be with this
plugin. i don't want to be shown it on my website to affect user
experience. please help me to remove it.

On Sun, Aug 12, 2018 at 3:18 PM, shue249 <notifications@github.com> wrote:

[2018-08-13 04:15] shue249 commented on #25
Thank you again for your feedback. Based on our understanding, the plugin may not have been installed correctly leading to the problem of of the website being unavailable. To now, the website has been brought back up.

We will be happy to take on any insights/suggestions from you or your team on how we can improve the plugin. We will proceed to close off the ticket, but feel free to re-open or cre

[2018-08-13 04:15] #25 closed

[2018-08-13 06:01] kg0925 commented on #24
i removed that cookie tab code and reinstalled the plugin now pixel is not
showing in pixel helper.

On Sun, Aug 12, 2018 at 6:51 PM, shue249 <notifications@github.com> wrote:

[2018-08-13 07:10] kg0925 commented on #24
it shows this error   client denied by server configuration:
/home/myusername/public_html/ads.txt

On Mon, Aug 13, 2018 at 11:31 AM, fashiondeal. in <kgonline0925@gmail.com>
wrote:

[2018-08-13 07:14] shue249 commented on #24
What do you see when you go into Facebook Ads Extension from the OpenCart admin panel? Do you see the setup completed with a Store ID? If do not see the store ID, can you setup the Facebook Ads Extension again?

[2018-08-13 07:17] kg0925 commented on #24
yes it shows store id everything same as before. i also tried settings and
setup again. but still no luck. pixel stop showing after removing that
cookie tab code.

On Mon, Aug 13, 2018 at 12:44 PM, shue249 <notifications@github.com> wrote:

[2018-08-13 13:31] kg0925 commented on #24
i just started setup 15 minutes ago currently extension uploading the
catalog to facebook. can you check it now is it showing pixel to you?
url - fashiondeal.in
for me it's not showing pixel installed since i removed that cookie code.

On Mon, Aug 13, 2018 at 6:53 PM, shue249 <notifications@github.com> wrote:

[2018-08-13 14:30] kg0925 commented on #24
i tried again by uninstall previous one installed this one. but still pixel
doesn't show in pixel helper. now even if i installed the fresh plugin with
the cookie tab. it also not working for pixel. seems like pixel is
completely disabled for this plugin.

On Mon, Aug 13, 2018 at 6:53 PM, shue249 <notifications@github.com> wrote:

[2018-08-13 18:36] slaventiy92 opened #26 "Products not syncing"
There is an error with Facebook Ads Extension setup. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
[TehnoBox.com.ua_2018-08-13_18-31-24_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2284287/TehnoBox.com.ua_2018-08-13_18-31-24_facebook_ads_extension.log)

[2018-08-13 22:53] shue249 commented on #24
Can I check if you have click on the Refresh button in the Modifications panel? This step is required for the plugin to take effect after every new installation.

![image](https://user-images.githubusercontent.com/11957585/44062379-a4e57326-9f8e-11e8-95e2-9f011ddb7a06.png)

[2018-08-13 23:08] shue249 commented on #26
@slaventiy92 Thank you for your feedback and taking the initiative to share the log file with us.

Can I ask 2 things:
1. How many products do you have on your opencart store?
2. From the log file, we can identify that the setup failed during the initial product catalog sync to FB. Specifically, the failure happened during the generation of the product feed file. We need to understand better where

[2018-08-14 04:02] kg0925 commented on #24
i already did that. after each and every installation i do refresh cache in
modification.

On Tue, Aug 14, 2018 at 4:23 AM, shue249 <notifications@github.com> wrote:

[2018-08-14 04:40] shue249 commented on #24
@kg0925 We went to your website and it is showing as under maintenance.

At the same time, I want to share with you on how we check if the plugin is installed correctly.
![image](https://user-images.githubusercontent.com/11957585/44072020-14ce36ac-9fbf-11e8-9154-cd7b2462fef0.png)

Can I understand if you have deleted away the Facebook Ads Extension settings? I can suggest you to retain the setting

[2018-08-14 04:43] kg0925 commented on #24
i figured it out. journal 2 theme is blocking pixel code. in default theme
pixel shows. so i am reinstalling the journal theme.

On Tue, Aug 14, 2018 at 10:10 AM, shue249 <notifications@github.com> wrote:

[2018-08-14 10:25] shue249 commented on #26
@slaventiy92 I attached here a copy of the plugin with more additional logs. Also showing a screenshot of how the new log file will look like.

Will love to hear your thoughts.

![image](https://user-images.githubusercontent.com/11957585/44086509-6af03aaa-9fef-11e8-9d89-4a348efcb475.png)
[facebook_ads_extension_203_extra_logging_feedfile.ocmod.zip](https://github.com/facebookincubator/Facebook-For

[2018-08-14 10:40] shue249 commented on #24
@kg0925

1. We tested on our test servers and our plugin is still firing the pixels on journal theme

2. I remembered that earlier, you managed to get the plugin setup and the pixels are firing. See the 4th post above where I did check your website and found the pixels fired. Are there any other 3rd party plugins?

3. Which OpenCart version are you on?

![image](https://user-images.githubuserconte

[2018-08-14 11:41] kg0925 commented on #24
My store is on opencart 3.0.2.0 version. Yes, i have installed many third
party modules. If other module is causing this problem. Can you suggest how
to find that module.

On Tue, 14 Aug 2018, 4:10 pm shue249, <notifications@github.com> wrote:

[2018-08-14 12:41] slaventiy92 commented on #26
@shue249
[TehnoBox.com.ua_2018-08-14_12-39-45_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2286908/TehnoBox.com.ua_2018-08-14_12-39-45_facebook_ads_extension.log)

[2018-08-14 14:13] shue249 commented on #24
@kg0925 I am wondering if you have made any changes to your OpenCart setup? We went in to check and found that the pixels are firing correctly and the plugin version does not contain the cookie bar.

Also, do take note that if you will to upgrade the plugin to newer versions subsequently, you will need to do the same changes to remove the cookie bar otherwise the cookie bar will still continue to

[2018-08-14 14:19] shue249 commented on #26
@slaventiy92 Thanks for the fast response, and truly appreciate your time and patience with us!

We can be sure that the product sync failed due to the huge number of products loaded to generate the initial product feed file. One solution we can work on is to separate the loading of products into chunks (of 1000 products per chunk). However, we will also like to understand how do you manage the la

[2018-08-14 15:03] kg0925 commented on #24
even i am wondering pixels are really firing???  but i am not able to see
it firing. from my side pixel helper is not showing anything. i just
reinstalled the plugin after removing that cookie tab code.

On Tue, Aug 14, 2018 at 7:43 PM, shue249 <notifications@github.com> wrote:

[2018-08-14 15:17] slaventiy92 commented on #26
@shue249 Now we use the supplier's API: api.brain.com.ua
Periodically run the update of availability and prices + download new products by API.
Even over time, we plan to cooperate with other suppliers already on xls or xml

[2018-08-14 15:37] shue249 commented on #24
@kg0925 Here is a screenshot of your website from my computer showing the pixels fired. Are you using any ad blockers?

![image](https://user-images.githubusercontent.com/11957585/44101892-03d7dad6-a01b-11e8-8732-ddb4baf37792.png)

[2018-08-14 16:07] kg0925 commented on #24
yes i am using adblocker in chrome but tried after disabling it. but still
pixel is not showing.

On Tue, Aug 14, 2018 at 9:08 PM, shue249 <notifications@github.com> wrote:

[2018-08-14 16:34] kg0925 commented on #24
also when i check event manager in Facebook business manager. event pixels
is not firing properly. it shows pageview event last received 51 minutes
ago. but my website is visited by above 150 visitors in this time frame.

On Tue, Aug 14, 2018 at 9:37 PM, fashiondeal. in <kgonline0925@gmail.com>
wrote:

[2018-08-15 00:47] shue249 commented on #24
Will you be able to check on View Source of your website if you can find the pixel ID on the page?

The information on pixel dashboard/events manager may be slightly delayed. For more real time updates, you can check on Facebook Analytics - https://www.facebook.com/analytics. I can see that you have some ViewContent and AddToCart events.

![image](https://user-images.githubusercontent.com/11957585

[2018-08-15 01:44] shue249 commented on #26
@slaventiy92

Thank you for your feedback. Based on your description, I feel that our plugin may not be the best fit for your use case. The biggest reason being that we do a sync of the products on your website to Facebook catalog via Facebook API from the OpenCart product management module. What this means that if you create, edit or delete any products from OpenCart product management module, th

[2018-08-15 04:54] kg0925 commented on #24
yes in view source of my website pixel id is shown. i think that pixel code
script is blocking randomly somewhere. i looked in to analytics it shows
only 6 visits yesterday. so it's confirmed that there is something wrong.
previously it was working great all pixel was firing with third party
plugins.there was no issue there. i just wanted to remove that cookie bar
after that this facebook plugin s

[2018-08-15 05:03] kg0925 commented on #24
and yes i am on php 7  is this plugin supported to php version 7??

On Wed, Aug 15, 2018 at 10:24 AM, fashiondeal. in <kgonline0925@gmail.com>
wrote:

[2018-08-15 05:44] shue249 commented on #24
1. Yes our plugin supports PHP7. It supports PHP 5.4 and above
2. The pixel code script is run on consumer's computer/mobile phones, as it is a website page. As long as you see the pixel_id in view-source, the pixel should be fired.
3. I go back to your website and strangely, the pixel_id is no longer there. Want to confirm if you have delete the Facebook Ads Extension Settings?

[2018-08-15 05:49] kg0925 commented on #24
yes i uninstalled the plugin. now i am installing pixels manually. plugin
is not working for me so now i must install it manually. pixel code working
fine manually. you can check now.

On Wed, Aug 15, 2018 at 11:14 AM, shue249 <notifications@github.com> wrote:

[2018-08-16 05:31] kg0925 commented on #24
hello are you sure is it compatible with php 7. i tried this plugin to
another server with same third party plugins which i am using. your module
is working there and php version is 5.6 to that server.

On Wed, Aug 15, 2018 at 11:19 AM, fashiondeal. in <kgonline0925@gmail.com>
wrote:

[2018-08-16 22:14] shue249 commented on #24
Thank you for your feedback.

Yes, our plugin supports php7, as our test servers are on php 7.

Can I also understand if you have vqmod installed?

![image](https://user-images.githubusercontent.com/11957585/44237851-be2c7480-a1e4-11e8-814d-0e58a50a8b68.png)

[2018-08-17 05:11] kg0925 commented on #24
no vqmod is not installed. i tested everything i switched opencart version
from 3.0.2.0 to   2.3.0.2 fresh installation. no third party plugins
installed and then installed the facebook plugin but it's not working. then
i tested on different server with same settings and data backup and
facebook plugin worked there even if third party plugins installed. so i
don't think other module is blocking pi

[2018-08-17 05:59] neshchadin opened #27 "No pixel is added to the pages of the site."
Hello. No pixel is added to the pages of the site.
Products were synchronized normally. But the pixel helper does not see the pixel on the site.
Thank you in advance.

[Kidzzz - магазин детской одежды_2018-08-17_08-53-45_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2296133/Kidzzz.-._2018-08-17_08-53-45_facebook_ads_extension.log)

[2018-08-17 08:17] kg0925 commented on #24
hello thanks for your support. now extension is working great. my hosting
provider done something and it starts working.

On Fri, Aug 17, 2018 at 10:41 AM, fashiondeal. in <kgonline0925@gmail.com>
wrote:

[2018-08-17 08:18] kg0925 commented on #24
please check from your side also and let me know.

On Fri, Aug 17, 2018 at 1:47 PM, fashiondeal. in <kgonline0925@gmail.com>
wrote:

[2018-08-17 08:41] kg0925 commented on #24
the problem is coockie tab still appearing even if i removed cookie tab
code from the install.xml

On Fri, Aug 17, 2018 at 1:48 PM, fashiondeal. in <kgonline0925@gmail.com>
wrote:

[2018-08-17 13:38] slaventiy92 commented on #26
Generating the xml product feed on Facebook for a large number of products will create an additional load on my web server. The logic of the work of your module I like more.

I will try to make it so that the record/editing of products on the supplier's API is made both with the manual addition/editing of products in Opencart.

It will take some time. I'll write how I'll do it

[2018-08-17 14:03] slaventiy92 commented on #26
@shue249 My programmer said that fixed recording/editing products. Can you send the module version with the loading of products into chunks (of 1000 products per chunk)?

[2018-08-17 14:51] shue249 commented on #27
Thank you for your feedback. Can we understand what is your website URL?

[2018-08-17 15:02] shue249 commented on #26
@slaventiy92  Thanks for your feedback!

It will take us some time to work this out as we are pushing for some other changes at the moment.

If you will like to take on this from your side, perhaps we can share with your developer on the steps for him/her to assess the work required:
1. Change the loading of all products from db by chunks of products for the initial sync using feed file. This is t

[2018-08-17 15:06] shue249 commented on #24
@kg0925 I did a check on your website and found that you switched to putting pixels manually? Is there a way for you to install back the plugin (using the version which we provided with no cookie bar) so that we can help you check?

[2018-08-17 16:00] shue249 commented on #27
@neshchadin We have released a new update of our plugin.
1. Can you download the version from Opencart marketplace - https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336
2. Uninstall the previous version and install in the new version
3. Check if the pixel is fired correctly

[2018-08-18 14:08] kg0925 commented on #24
i was getting this error PHP Notice:  Undefined index: filter_name in
/home/fashiond/public_html/catalog/controller/extension/facebookevents.php
on line 338

moudle is not working again.

On Fri, Aug 17, 2018 at 8:36 PM shue249 <notifications@github.com> wrote:

[2018-08-18 14:47] Merih06 opened #28 "Products Update Problem..."
Failure create product 1254 /  on Facebook {"message":"(#32) Page request limit reached","type":"OAuthException","code":32,"fbtrace_id":"HpoLLNVSn5z"

[2018-08-19 13:22] magixrys opened #29 "Facebook cookie consent bar"
Hi, I have installed this extension (version 2.0.3). Everything is ok, except one thing. When visiting my site a cookie consent/opt out bar appears at the bootom of the page. This bar is about  cookies, terms etc of facebook (not  my site). So if a visitor clicks one link (eg for privacy policy), he is redirected to facebook's privacy policy.
What should I do to make this bar disappear?

[2018-08-19 20:57] tatcheff opened #30 "Acces denied"
after fresh install on OC 3.0.2.0 with Journal theme the extention says
Access Denied! Please contact your administrator! cash was refreshed after install.
please advice.
ms-style.eu
Also - the cookie bar must be removed, but there is no setting for it.
Thanks

[2018-08-19 23:16] shue249 commented on #24
Thank you for the feedback. Let us take a look at this specific problem.

[2018-08-20 02:36] shue249 commented on #30
Thank you for your feedback.

For OpenCart v3.x, there is an additional step required. Pls refer to this video guide - https://drive.google.com/open?id=1-ljN_pNcyZBbN2LoXtxwaJEy0dfnxAum

For the cookie bar, it is with reference to the GDPR requirement. At the moment, there is no setting to disable this. We may look into how to configure for this later on.

[2018-08-20 02:37] shue249 commented on #28
Thank you for your feedback. This error occurs when there are many product updates made within an hour. Can we understand what is the action that you are doing before leading to this error?

[2018-08-20 02:38] shue249 commented on #27
@neshchadin We will be closing off this ticket as we released a new version to fix this problem. But feel free to open up this ticket again and feedback to us on any follow up questions and we will be happy to take it from there.

[2018-08-20 02:38] #27 closed

[2018-08-20 08:41] tatcheff commented on #30
Thank you fir this video. I did this step as well /it is done for many other OC v3.x extentions/. at this step of the module it gives: **page does not exist**, so actually did not solve the problem.

[2018-08-20 11:56] shue249 commented on #30
@tatcheff Will you be able to share a screenshot of this so that we can better understand where is the problem that you are encountering.

[2018-08-21 08:05] tatcheff commented on #30
Sure, here are the screens:
![1](https://user-images.githubusercontent.com/42522760/44388875-f4922880-a531-11e8-9b2c-12647dd142c8.png)
![2](https://user-images.githubusercontent.com/42522760/44388876-f4922880-a531-11e8-8095-45c475b2ab01.png)

[2018-08-21 08:29] tatcheff commented on #30
and this is when you click on "edit" blue button on the extention in the module list menu

![3](https://user-images.githubusercontent.com/42522760/44390245-7c2d6680-a535-11e8-8528-3bb5d3535245.png)

[2018-08-21 10:49] shue249 commented on #30
So, we are only auto-registering the permissions for Administrator groups.
1. What is the user group you are having
2. Can you check the screenshot below to enable the permission for your group

![image](https://user-images.githubusercontent.com/11957585/44397383-bf59fa80-a572-11e8-95d7-eac44343e774.png)

[2018-08-21 11:55] shue249 commented on #29
@magixrys

At the end of the cookie bar, visitor can choose to opt out or enable cookies. (see screenshot). This cookie bar is required to fulfil the GDPR compliance.

If you like to disable the cookie bar totally, you can make the change on the plugin files directly.

![image](https://user-images.githubusercontent.com/11957585/44399952-039dc880-a57c-11e8-8c2e-d27109574fed.png)

[2018-08-21 12:54] tatcheff commented on #30
yes, sorry - this was the issue. clicked off by default for all user groups.

[2018-08-21 12:54] #30 closed

[2018-08-21 14:29] shue249 commented on #30
For your earlier question on cookie bar, we can recommend https://github.com/facebookincubator/Facebook-For-OpenCart/issues/29

[2018-08-21 16:17] magixrys commented on #29
thank you for replying. I found how to remove the cookie consent bar at #20

[2018-08-22 05:08] tatcheff commented on #29
HI, for OC 3.0.2.0 it should be in header.twig or footer.twig fut I dont find it - can anyone help with locating the cookie bar text?
Thanks in advance a lot.

[2018-08-22 05:51] neshchadin opened #31 "synchronized with Facebook, but the site does not install the pixel"
Hello, the goods are synchronized with Facebook, but the site does not install the pixel. Log attached. Site - https://kidzzz.online/

[2018-08-22 05:51] neshchadin commented on #31
[Kidzzz - магазин детской одежды_2018-08-22_08-48-38_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2309041/Kidzzz.-._2018-08-22_08-48-38_facebook_ads_extension.log)

[2018-08-22 10:18] shue249 commented on #29
@tatcheff You need to look into the modifications folder to make the changes as that is where our plugin made the change - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/20#issuecomment-408645847. But do be aware that the changes will be gone after you activate the refresh and you need to make the changes again.

[2018-08-22 10:18] #29 closed

[2018-08-22 15:27] shue249 commented on #31
@neshchadin Thank you for your feedback! There was some issues with the version of the plugin from the partner gallery on Facebook. We are currently updating that version of the plugin.

Can you download the updated version from OpenCart.
https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336

After you remove and install in the new version the pixel should be fired

[2018-08-25 12:26] shue249 commented on #31
@neshchadin We have also updated the plugin file from the partner gallery on Facebook. We will proceed to close out this ticket, but feel free to reopen if you need any help from us.

[2018-08-25 12:26] #31 closed

[2018-08-27 18:06] reginamor commented on #31
i've installed the extension and i hace a problem with the url of the feed, because when i've installes de https certificated, i have to erase the url on the config files (i don't have url)
Where can i chage the url of the feed? i found the file that sends this configuration, but i can't found it. Thanks

[2018-08-27 18:18] reginamor opened #32 "problem with feed url"
i've installed the extension and i have a problem with the url of the feed, because when i've installed the https certificated, i have to erase the url on the config files (i don't have url)
Where can i chage the url of the feed? i try to find the file that sends this configuration, but i can't found it. Thanks

[2018-08-27 18:25] reginamor opened #33 "cookies notice"
how can erase this message? i have my own RGPD cookie notice that saids that i use the facebook pixel, and i don't need a second notice (it's very annoying for my costumers acept 2 notices of cookies)

[2018-08-27 23:45] shue249 commented on #32
@reginamor Thank you for your feedback.

For the initial product sync, we are not using a feed URL, but uploading the feed file to Facebook catalog directly. Hence you are unable to find any URL config on the Facebook feed.

For the detailed explanation. We are adopting a 2 mechanism approach to ensure a good experience for you when you setup the Facebook Ads Extension. When you completed the setu

[2018-08-27 23:45] #32 closed

[2018-08-27 23:47] shue249 commented on #33
@reginamor Thank you again for your feedback.

We are now looking into enhancing the plugin to allow the option to show the cookie bar. In the meantime, you can look into making a manual change yourself. For the details, pls refer to this ticket https://github.com/facebookincubator/Facebook-For-OpenCart/issues/20

[2018-08-28 07:41] reorado commented on #16
@shue249 ,

Sorry for putting up this case on hold. Please refer to the image attachment. We've set a special price for a VIP group member, which this price should be disclose to this group and this is not a public price.

but in facebook shop, it is showing this price.
![fb-shop-pro-top-2](https://user-images.githubusercontent.com/40544394/44707987-8bce2180-aad8-11e8-9096-9f97eece8de1.png)
![fb-s

[2018-08-28 09:31] reginamor commented on #33
I don't know how to wage that, I'm not a developer, just a web designer
that try to understand.
I saw that it's on the Javascript file, but I don't know in witch part,
because there you also put the information of the pixel.
If I erase something that I don't have to erase, the pixel will not work

El mar., 28 ago. 2018 1:47, shue249 <notifications@github.com> escribió:

[2018-08-31 15:52] reginamor commented on #32
Hi!
Yes you pick a url from somewhere, because on facebook you put the link of the product.
FAcebook do not acept my products because the URL is wrong.

If the url is "www.domain.com/category/product" in facebook apears: "/category/product" the domain desapear and you reject my product on my facebook catalog.
![captura de pantalla 2018-02-07 a las 13 32 01](https://user-images.githubusercontent.co

[2018-09-03 10:43] subpro2 opened #34 "Products not syncing version 2.1.0.2.2 OPENCART.PRO"
Hi,
I installed and synced, but after that my website got a new products and i cant find them on my Facebook shop! Why? As described here https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336&filter_search=facebook%20ads%20&filter_license=0
 : Any changes made on my OpenCart website are automatically synced with your Facebook shop.

[2018-09-04 04:56] shue249 commented on #34
@subpro2 Thank you for your feedback.

1. Are the products synced to the Facebook catalog?

2. How are you adding in new products? Are you using the default opencart product management module?

3. What is your website URL?

[2018-09-04 16:36] badereshtaya opened #35 "Bug There is an error with Facebook Ads Extension setup. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup."
Dear All

Bug : There is an error with Facebook Ads Extension setup. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.

![image](https://user-images.githubusercontent.com/19614143/45044784-c3f5d700-b079-11e8-849c-9a1e44ecfd54.png)

![image](https://user-images.githubusercontent.com/19614143/45044680-78dbc400-b079-11e8

[2018-09-04 23:48] shue249 commented on #32
@reginamor Thanks for your feedback!

You are right that we are getting the website URL from your OpenCart server. We are using the HTTP_CATALOG variable found in the config.php on your OpenCart server. We are using this variable on this line of code - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/library/facebookproductformatter.php#L154

![image](https://us

[2018-09-05 07:13] badereshtaya commented on #35
thanks for replay

i have 35000 product

but i added filters on query for upload product to facebook , total products Uploaded to facebook 2000 product

[2018-09-05 07:19] badereshtaya commented on #35
@shue249

![image](https://user-images.githubusercontent.com/19614143/45077170-263fed80-b0f5-11e8-9794-580dbd2aba1c.png)

[2018-09-05 14:54] subpro2 commented on #34
Hi,
1. Yes, I think it is true (if i want see a new product from my website a should resynced my products http://prntscr.com/kqxljq  BUT, after that the prices do not change) price from Facebook catalog http://prntscr.com/kqxrln and from my website http://prntscr.com/kqxsdd https://dhmd.ru/307_plate_maxim They are different!!! I resynced my products more than 10 times
2. I synced opencart with 1C

[2018-09-06 06:55] shue249 commented on #35
@badereshtaya
Thank you for your feedback! We are aware that the catalog upload will not function properly for a large catalog and we are putting in the changes to resolve this.

[2018-09-06 06:59] shue249 commented on #34
@subpro2
Thank you for your feedback. We are syncing the product updates from the default OpenCart product management module. We believe that the problem lies in that 1C is a different product management module and our plugin is not integrated to 1C.

Can you share the URL for the 1C plugin for us to take a closer look?

[2018-09-06 07:03] badereshtaya commented on #35
@shue249

This issue after connect to Business Manager Account

[2018-09-06 07:10] subpro2 commented on #34
Hi
And that about syncing product price?

[2018-09-10 11:13] subpro2 commented on #34
I shared with you the URL for the 1C plugi? please look it closer https://ocmod.net/modul-opencart-exchange-1c-v8x

[2018-09-14 10:35] mashum opened #36 "Facebook ads Extension Edit Error"
Hello!
I have problem when i am going to edit the facebook_ads_extension under the module it give me the error page not found path(extension/module/facebookadsextension_installer&user_token=4rf7et7r0NuqX1dsfh1Hn8reE5ijTjXQ) Where really the index function can not exist how i can enable or disable the extension. I am using latest version.
Best Regd: Mashum
Thanks!

[2018-09-14 11:05] mashum commented on #36
[facebookadsextension_installer.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2383068/facebookadsextension_installer.zip)
this is the file where request is going

[2018-09-14 11:29] mashum commented on #36
### _****_

[2018-09-14 11:29] #36 closed

[2018-09-15 05:41] shue249 commented on #36
@mashum
Thanks for the feedback! Can I understand the reason for you to disable the extension? We will like to take in the feedback to better improve our plugin.

To setup the extension, pls follow these videos -
1. Step by step video guide for installing the Facebook Ads Extension https://drive.google.com/open?id=1V4Nu8nlmHX5ppKqsjcR-xR05Rozb7MKN

2. Additional installation step required for Open

[2018-09-18 05:56] hrm143 commented on #33
Even after clicking allow Cookies/ Opt Out button..the Cookie bar always shows on OC2.3.0.2 so i have to manually removed to disallow cookie bar from the plugin.

[2018-09-18 19:53] dunamit commented on #5
Hello! Opencart 2.1.0.2 the same problem

[2018-09-18 23:27] marcusanson opened #37 "Error with Facebook Ads Extension Set-Up"
Hi there,

I've tried to install your mod to OpenCart to have it up and running, but when I install it, I get a message that says:  You have yet to setup Facebook Ads Extension. Please click on Facebook Ads Extension and Get Started.

The problem is, when I click on it, there is no Get Started option. There's only a blue swirly circle that never seems to finish loading. Any ideas or help would be

[2018-09-19 01:38] easydev10 commented on #5
Dear,

Please share with us the updated ftp and admin credentials.

Regards

On Wed, Sep 19, 2018, 1:23 AM dunamit <notifications@github.com> wrote:

[2018-09-19 06:59] dunamit opened #38 "facebook_ads_extension - page not found"
Hello! I have problem when i am going to edit the facebook_ads_extension under the module it give me the error page not found path(extension/module/facebookadsextension_installer&user_token=4rf...

I walked the steps exactly as in the ticket ([Facebook ads Extension Edit Error #36](https://github.com/facebookincubator/Facebook-For-OpenCart/issues/36))

[2018-09-19 07:00] dunamit commented on #38
opencart 2.1.0.1
module from [here https://www.facebook.com/business/help/1494437460610744?helpref=faq_content](url)

[2018-09-19 16:49] shue249 commented on #5
Hello all. We DO NOT require any ftp details nor admin credentials. Please DO NOT share out such details with anyone.

@easydev10 We have reported you as abuse to guithub moderator.

[2018-09-19 16:51] shue249 commented on #38
@dunamit Thank you for your feedback. You do not need to click on the edit function. You should setup Facebook Ads Extension from the menu bar.

![image](https://user-images.githubusercontent.com/11957585/45768394-4f24be80-bc6f-11e8-819e-244406fe79eb.png)

You may also want to refer to this vide guide for the full instructions - https://drive.google.com/open?id=1JPXQ0mS1pGk2Bat9RV02vYNdbRfCLP9r

[2018-09-20 10:46] kg0925 commented on #24
hello i just installed the plugin and i just found this error in error
manager. 2018-09-20 9:58:28 - PHP Notice:  Undefined index: filter_name in
/home/fashiond/public_html/catalog/controller/extension/facebookevents.php
on line 338

On Mon, Aug 20, 2018 at 4:46 AM, shue249 <notifications@github.com> wrote:

[2018-09-21 04:38] kg0925 opened #39 "Facebook pixel error"
hello i have installed this module successfully. but facebook pixel is not showing on my website by pixel helper. pixels are not firing even if i installed this module. and when i check error logs i found this error

[2018-09-21 04:38] kg0925 commented on #39
2018-09-20 14:57:10 - PHP Notice:  Undefined index: filter_name in /home/fashiond/public_html/catalog/controller/extension/facebookevents.php on line 338
2018-09-20 16:27:15 - PHP Notice:  Undefined index: filter_name in /home/fashiond/public_html/catalog/controller/extension/facebookevents.php on line 338
2018-09-20 19:06:51 - PHP Notice:  Undefined index: filter_name in /home/fashiond/public_htm

[2018-09-21 04:38] #39 closed

[2018-09-21 04:44] kg0925 opened #40 "facebook pixel error"
hello i have installed this module successfully. but facebook pixel is not showing on my website by pixel helper. pixels are not firing even if i installed this module. and when i check opencart admin error logs i found this error

2018-09-20 14:57:10 - PHP Notice: Undefined index: filter_name in /home/fashiond/public_html/catalog/controller/extension/facebookevents.php on line 338
2018-09-20 16:2

[2018-09-21 04:57] shue249 commented on #40
Hi! What is your website URL?

[2018-09-21 04:59] kg0925 commented on #40
https://fashiondeal.in

On Fri, Sep 21, 2018 at 10:27 AM, shue249 <notifications@github.com> wrote:

[2018-09-21 09:58] shue249 commented on #40
Hey there, thanks again for the feedback. Sorry for dropping the ball previously, but the website URL brings back the memory to me.

1. I went to your website again and yes, I can see the pixels firing.
![image](https://user-images.githubusercontent.com/11957585/45874571-d2592800-bdc7-11e8-8c5d-f373a41d89e2.png)

2. We are aware of the problem - Undefined index: filter_name, we are working on a fi

[2018-09-21 10:39] kg0925 commented on #40
have you visited website without https?? in screenshot looks like without
please visit again with https  and if pixels are firing then why i am not
receiving events in facebook event manager.

On Fri, Sep 21, 2018 at 3:28 PM, shue249 <notifications@github.com> wrote:

[2018-09-21 10:46] kg0925 commented on #40
if possible you can check via anydesk or teamviewer to look in to the
problem. it is very strange that pixels are showing from your side only.
and no events are not capturing in event manager. if pixel are really
working then event manager should show some data.

On Fri, Sep 21, 2018 at 4:09 PM, fashiondeal. in <kgonline0925@gmail.com>
wrote:

[2018-09-23 11:11] shue249 commented on #38
@dunamit I will be closing this ticket, but pls feel free to open up if you are still having problems

[2018-09-23 11:11] #38 closed

[2018-09-23 11:51] kg0925 commented on #40
hello sorry but i have purchased other 3rd party module for facebook pixel
and feed and it's working fine.

On Sun, Sep 23, 2018 at 4:48 PM, shue249 <notifications@github.com> wrote:

[2018-09-24 10:38] shue249 commented on #40
@kg0925 Thank you for your feedback! We will be closing out this but feel free to reach to us if you have any further questions!

[2018-09-24 10:38] #40 closed

[2018-09-24 21:04] marcusanson commented on #37
Hi there. My apologies for the severe delay, family issues arose and I’ve been out of town. The image I get when I load into the Dashboard looks like this:
![28ce046c-8129-47e9-9760-4b272798dfe3](https://user-images.githubusercontent.com/18747686/45979041-abd30100-c002-11e8-81a2-e9bdc827f124.png)

Then when I go and click on the Facebook Ads Extension, instead of the “Get Started” button, I get th

[2018-09-25 03:06] shue249 commented on #37
@marcusanson Thanks for your feedback and hope everything's well for you and your family.

I believe there is an error on the browser side. Do you think you can access your admin panel using Chrome and launch developer tools and access Facebook Ads Extension and provide us the error message shown?

![image](https://user-images.githubusercontent.com/11957585/45990477-0f1c6c00-c0b3-11e8-870b-bbfb743

[2018-09-25 03:08] shue249 opened #41 "Provide support for vqmod"
From OpenCart support ticket ID 183633:

Hi, well, I finally installed this using extension installer. I have tried so many times. Each time by restoring my whole site to try different methods. With or without 775 permission.
I tried with default files, I tried by modifying the admin folder, etc.

I get this error:
Warning: require_once(/home/cpaneluser/public_html/subdomain/admin/../admin/control

[2018-09-25 22:51] marcusanson commented on #37
Hi there,

I pulled up the page with Chrome using the Developer Tools, and it gave me the following error codes:

index.php?route=extension/facebookadsextension&token=300fc27f22b42230833f2d3d9b0c2f6a&user_token=300fc27f22b42230833f2d3d9b0c2f6a:32 Uncaught SyntaxError: Unexpected identifier
dia.js:272 Uncaught TypeError: Cannot read property 'diaSettingId' of undefined
    at Object.refreshUIForDia

[2018-09-25 23:42] shue249 commented on #37
@marcusanson As there was sensitive data in your comment, I removed it away and repost a new one without the data.

Hi there,

I pulled up the page with Chrome using the Developer Tools, and it gave me the following error codes:

index.php?route=extension/facebookadsextension&token=&user_token=:32 Uncaught SyntaxError: Unexpected identifier
dia.js:272 Uncaught TypeError: Cannot read property 'diaS

[2018-09-25 23:43] shue249 commented on #37
@marcusanson The feedback is really helpful. Pls give us some time to look into this to find the root cause.

[2018-10-01 09:50] lennt92 opened #42 "Cannot redeclare ModelCheckoutOrder::checkMapTables"
Hi! This part of code cause an error when I try to confirm order. If comment it, all work normal. OC 2.3.0.2

[code]

[2018-10-01 09:54] lennt92 commented on #33
the same problem, what code you change for it ?

[2018-10-02 08:44] shue249 commented on #42
@lennt92 Thanks for following up on this!

Are there other 3rd party plugins installed on your opencart?

For full context, I am going into the technicality of how opencart plugin works.

For the error mentioned, the "checkMapTables()" method is found multiple times on the order.php file. Unfortunately, this "checkMapTables() is not introduced by our plugin. As you have highlighted on your message

[2018-10-03 09:04] chichebiev commented on #37
I have the same problem.
The error comes when an update to the last version.
I see the button Manage Settings. But is not active.
Is it have a decision?

[2018-10-03 12:56] shue249 commented on #37
@chichebiev Your problem seems like it is different. Can you create a new ticket and we follow up from there?

[2018-10-04 04:25] shue249 opened #43 "Facebook Ads Extension not setup properly"
Have some problem with Facebook Ads extension. I wrote in GitHub.

The error comes when an update to the last version.
Remove catalog from facebook, and try to add new with extension but he's not working.
When adding a new product.
There is an error with Facebook Ads Extension setup. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to res

[2018-10-04 04:27] shue249 commented on #37
@chichebiev Thank you for opening the OpenCart ticket. The fault is on me for not being clear, as I will like you to create a new github issue instead. I have opened up a new one for you. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/43

Can you share a screenshot of your screen on the new ticket?

[2018-10-04 06:28] chichebiev commented on #37
![image](https://user-images.githubusercontent.com/12606396/46456501-c69e3600-c7b7-11e8-8ab2-4019d1fa05d7.png)

[2018-10-04 06:32] chichebiev commented on #43
The Manage Settings button is not clickable.
How edit this settings manually. Some file?

![image](https://user-images.githubusercontent.com/12606396/46456698-6956b480-c7b8-11e8-82d8-aa436c35507d.png)

[2018-10-04 08:17] chichebiev commented on #37
Yes, that is right, this is an error from chrome browser. I try with Mozilla and everything works.
I had to check before sending a ticket.
Sorry, stupid mistake.

[2018-10-04 08:19] chichebiev commented on #43
Yes, that is right, this is an error from chrome browser. I try with Mozilla and everything works.
I had to check before sending a ticket.
Sorry, stupid mistake.

[2018-10-04 08:19] shue249 commented on #37
@chichebiev Thank you for your valuable feedback. Do you still happen to have the error from Chrome? We will like to check in more details on what is the error and how can we further improve on our plugin.

[2018-10-04 08:20] shue249 commented on #43
@chichebiev Thank you for your valuable feedback. Do you still happen to have the error from Chrome? This could also be a fault on our plugin and we will like to check in more details on what is the error and how can we further improve on our plugin.

[2018-10-04 13:06] chichebiev commented on #43
Yes, the problem in chrome still exist. I disable all chrome extensions, which I use, but nothing. Not working in chrome.
This is on the console, I hope to be helpful for you.

![image](https://user-images.githubusercontent.com/12606396/46475717-f6b4fb80-c7ee-11e8-8d63-fa90a8c6d7c4.png)

Regards

[2018-10-05 09:33] reginamor opened #44 "Error UTF-8"
Hi! i have a lot of errors that says this
/system/library/facebookcommonutils.php on line 127Warning: html_entity_decode(): charset `UTF-8;' not supported, assuming utf-8 in

![captura de pantalla 2018-10-05 a las 10 59 24](https://user-images.githubusercontent.com/27919921/46527782-6b8d4180-c892-11e8-8556-6a4cf8e2a5e3.png)

how can i fix it?

[2018-10-07 02:58] shue249 commented on #43
@chichebiev I think this could be a case of outdated javascript files cached locally on your chrome browser. Can you force a hard reload of the chrome of the Facebook Ads Extension page and see if the problem still persists.

![image](https://user-images.githubusercontent.com/11957585/46509057-1b52b700-c873-11e8-8ba4-d4830211334b.png)

[2018-10-07 03:04] shue249 commented on #44
@reginamor Thanks for the feedback!

A search on google returns these top matches. I believe it is a wrong configuration on the php.ini file. Can you locate that file and do a search to see what is the value of the default-charset in your php.ini file.

https://stackoverflow.com/questions/49251687/php-warning-html-entity-decode-charset-utf-8-not-supported-assuming-utf

For your reference, this is

[2018-10-07 06:17] chichebiev commented on #43
Yes, the problem is gone, Thank you.

[2018-10-08 12:44] shue249 commented on #43
Closing this issue as it is a case of outdated cache

[2018-10-08 12:44] #43 closed

[2018-10-09 09:02] makue10 commented on #20
Hello i did this step but the cookies bar is still there please help

[2018-10-14 17:35] wayday opened #45 "Error after installing Facebook for OpenCart Extension"
Please help .
There is an error after i install the extension
Fatal error: require_once(): Failed opening required '/home/mysite/admin/../admin/controller/extension/facebookproducttrait.php' (include_path='.:/opt/alt/php56/usr/share/pear:/opt/alt/php56/usr/share/php') in /home/mysite/admin/controller/extension/facebookproduct.php on line 8

Already set permission Read and Write .

[2018-10-15 00:02] shue249 commented on #44
@reginamor We will be closing this ticket as it is a settings change on the apache server

[2018-10-15 00:02] #44 closed

[2018-10-15 00:04] shue249 commented on #45
@wayday Thank you for your feedback.

Can you check your server file server to confirm that the file facebookproducttrait.php exists. If not, can you delete away the plugin and re-install again.

![image](https://user-images.githubusercontent.com/11957585/46923896-fdded380-d050-11e8-8642-4b29f74f3355.png)

[2018-10-22 15:51] ivladoff opened #46 "Pixel on mobile site for OC 3.0.2.0"
Hello,

I have the pixel installed on my site www.uoou.bg and it's operational when I'm checking it with the FB pixel helper. But on the mobile version of the site www.m.uoou.bg it says there is no pixel installed.

Is this an issue, or problem for reading data correctly as I still can see some of the activities on the mobile site in Facebook analytics? But I don't know if the data is complete and

[2018-10-23 07:01] shue249 commented on #46
Thank you for the feedback!

We did a check and found the pixels are correct on both the mobile site as well as the source codes.
The pixel should be fine.

![image](https://user-images.githubusercontent.com/11957585/47341699-4bec7a80-d6d4-11e8-8666-fdcaa6e60784.png)
![image](https://user-images.githubusercontent.com/11957585/47341739-645c9500-d6d4-11e8-9df0-ceb832caa7b8.png)

[2018-10-23 07:01] shue249 commented on #46
We will proceed to close out this ticket, but pls feel free to open again if there's any questions

[2018-10-23 07:01] #46 closed

[2018-10-23 07:02] shue249 commented on #42
We will be closing out this ticket as we checked that the code is not from our plugin. But pls feel free to reopen the ticket, if there's any further follow up needed.

[2018-10-23 07:02] #42 closed

[2018-10-23 08:16] Famistock opened #47 "Errore di configurazione"
Buongiorno
Ho installato il vostro modulo ma quando clicco su Facebook Ads mi da " page not found  "

[2018-10-23 08:31] Famistock commented on #47
yes

Il giorno mar 23 ott 2018 alle ore 10:27 shue249 <notifications@github.com>
ha scritto:

[2018-10-23 15:00] Famistock commented on #47
Have you something news?

Il Mar 23 Ott 2018, 10:27 shue249 <notifications@github.com> ha scritto:

[2018-10-24 10:56] Famistock commented on #47
?

[2018-10-24 13:20] shue249 commented on #47
@Famistock I could not see the screenshot. Can u share here on the ticket?

At the same time, can you take a look at these 2 videos. Will these be useful?
https://drive.google.com/open?id=1JPXQ0mS1pGk2Bat9RV02vYNdbRfCLP9r
https://drive.google.com/open?id=1JUwZPlUNIhFO7I8U0slbJSQNjyu4al_J

[2018-10-24 14:13] Famistock commented on #47
Can i  have an email address where i can Sand files?

Il Mer 24 Ott 2018, 15:21 shue249 <notifications@github.com> ha scritto:

[2018-10-24 19:05] Famistock commented on #47
![cattura2](https://user-images.githubusercontent.com/44394289/47454826-7a4f8000-d7d0-11e8-9d3f-a18308708d9c.PNG)
![cattura](https://user-images.githubusercontent.com/44394289/47454827-7a4f8000-d7d0-11e8-8f5f-e92b236c2fdf.PNG)

[2018-10-25 05:42] miteshdevelopment1 opened #48 "Cart is not defined (oc 3.0.2.0) (theme journal3 )"
i have pixel install on my site (oc 3.0.2.0) -  theme journal3
i have one error on developer tool
look like :
Uncaught ReferenceError: cart is not defined
at facebook_pixel.js:59
at facebook_pixel.js:82

and check on facebook pixel helper only one event call pageview ... what about other events like add to cart/wishlist... not working
website URL : https://www.mayloz.com

[2018-10-25 13:30] shue249 commented on #47
Can I confirm if you access the Facebook Ads Extension from the left hand side menu bar?

![image](https://user-images.githubusercontent.com/11957585/47503641-31193200-d89d-11e8-9e67-9bdab9db1a69.png)

[2018-10-25 13:32] Famistock commented on #47
No, I see extension only within the modules

Il Gio 25 Ott 2018, 15:30 shue249 <notifications@github.com> ha scritto:

[2018-10-25 13:36] shue249 commented on #48
@miteshdevelopment1 Thank you for the feedback!

There are 2 things to highlight.
1. I can see the pixel firing on your website. Can you verify if you can also see the pixel firing for a product page.

2. We will look into the "cart is not defined" error. This will affect the AddToCart and AddToWishlist events.

We will highlight you when we update the plugin soonest.

[2018-10-25 16:01] ryanstacey opened #49 "Hiding Cookie Banner & Pixel Only Firing After 'Allow Cookies' Pressed!"
The Facebook Ads Extension automatically installs a Facebook cookie banner at the bottom of the page. I already have a cookie banner and have no need for this so I need to get rid of it.

The problem also is I've found the pixel only fires and receives information when the user clicks 'Allow Cookies' on the banner.

So I need to make it so what 'Allow Cookies' button does is automatically activate

[2018-10-25 16:01] shue249 commented on #47
Can you follow the 4 steps on the screenshot to see if the option appears?
![image](https://user-images.githubusercontent.com/11957585/47514173-51072080-d8b2-11e8-9f2b-a3c7ee0c3dee.png)

[2018-10-25 16:09] Famistock commented on #47
done all 4 points but does not change

Il Gio 25 Ott 2018, 18:02 shue249 <notifications@github.com> ha scritto:

[2018-10-25 22:04] shue249 commented on #49
Thank you for the feedback! We are working on this now

[2018-10-26 06:12] shue249 commented on #47
Can you share with us your store front website URL?

[2018-10-26 06:49] Famistock commented on #47
Www.famistock.com

Il giorno Ven 26 Ott 2018, 08:12 shue249 <notifications@github.com> ha
scritto:

[2018-10-26 09:41] Famistock commented on #47
Now works. Please help me understand what the problem is with the extension. And for several days it has not worked and we will not want to waste additional sales time.

[2018-10-26 09:42] Famistock commented on #47
When we click on the refresh button the home page stops responding and the Facebook Ads extension does not go. As happened a little while ago.

[2018-10-28 01:05] shue249 commented on #47
@Famistock Thank you for your patience!

We did a check on your website and found that you have setup the Facebook Ads Extension and the pixels and catalog are setup properly.

At the same time, we found there is a problem with the ViewContent event as we found that you are using SEO url. We are working on this fix now and we will update you soonest when the patch is ready.

[2018-10-28 06:17] shue249 commented on #48
@miteshdevelopment1 We identified the bug which causes "cart is not defined" error. We are working to fix this now.

[2018-10-28 07:47] Famistock commented on #47
thank you so much

Il giorno Dom 28 Ott 2018, 02:05 shue249 <notifications@github.com> ha
scritto:

[2018-10-29 11:10] papke88 opened #50 "Facebook helper do not detect any pixel conversion codes"
Hello,

I have installed your module, everything connected, the catalog was created but when i check website with Facebook pixel helper I cannot see any conversion pixels.... what might be wrong?

[2018-10-29 12:03] shue249 commented on #45
@wayday We will be closing out this ticket, but pls feel free to reopen if you have further questions

[2018-10-29 12:03] #45 closed

[2018-10-29 12:04] shue249 commented on #50
@papke88 Thank you for your feedback! What is your store website URL?

[2018-10-29 12:05] papke88 commented on #50
Hello,

http://dev.cr7shop.lt <http://dev.cr7shop.lt/>

The module is now installed and activated, but facebook pixel helper do not detect it…

Regars,
Rokas V.

[2018-10-29 12:21] shue249 commented on #50
@papke88
I can see that the pixel is firing on my web browser.
![image](https://user-images.githubusercontent.com/11957585/47649242-99c32000-dbb7-11e8-98bc-844041d36294.png)
![image](https://user-images.githubusercontent.com/11957585/47649290-c840fb00-dbb7-11e8-8d57-118a47bdf914.png)

However, I see that the checkout page is not firing the pixel. Are you using any custom checkout module instead of

[2018-10-29 12:40] shue249 commented on #50
@papke88
2 possible reasons that I know of:
1. Did you opt out of the cookie consent? If you opt out of cookie, the pixels will not be fired. Can you try to opt in?
2. Are you on incognito mode?

[2018-10-29 12:46] papke88 commented on #50
On my web browser i san see only opt out button. We have our own cookie bar and might be the css files have the same name with yours, so might be why styles are shown not properly. is it possible to shut down your cookie bar from the module?

Regars,
Rokas V.

[2018-10-29 13:07] shue249 commented on #50
Yes, we are working on this now.

[2018-10-29 13:09] papke88 commented on #50
So you say that my problem is only because opt out on consensus bar? When you plan to release availability to turn of the cookie bar?

Regars,
Rokas V.

[2018-10-29 13:11] shue249 commented on #50
We can test out the newer version once its available to see if it solves your problem.

We are working on this ow and should be ready in the next 1-2 weeks.

[2018-10-29 13:12] papke88 commented on #50
Can you please inform me when its ready to test?

Regars,
Rokas V.

[2018-10-29 13:13] shue249 commented on #50
Yes, that is definitely the plan. We will update you soonest when it is ready.

[2018-10-30 04:18] tuananh8127 opened #51 "Friendly path when click on button Payment on site from Fanpage"
I want friendly path when click on button Payment on site from Fanpage
View image: https://imgur.com/a/SgLsRNu
Thanks

[2018-10-31 21:18] beachgeek opened #52 "Internal server error when installing fb extension"
I saw several issues that occurred with the installation but I get an internal server error during the unpacking of the zip file. The installation stops halfway through the unpacking and a window comes up saying
internal server error
internal server error
Is anyone having this problem? I am on a godaddy server and file permissions are  755
Can I install manually?
OC version 3.0.2.0

![image](https

[2018-11-01 15:57] shue249 commented on #51
Thank you for your feedback! May I know what is your web store URL?

[2018-11-02 00:18] beachgeek commented on #52
Hi Shue,

I was able to get the extension to unpack and install but I have some issues. The godaddy server did not have zip installed so I installed it and it unpacked and installed with no issues.
when I go to the Facebook extension on the main menu I it tells me I have no permission to access it.
When I go to extensions/extensions/modules and select the facebook ads extension it shows disabled t

[2018-11-02 08:12] afourcustom opened #53 "Facebook helper do not detect any pixel conversion codes and wrong catalog category"
Hello. Everything is established but the pixel does not collect information, and the application for Chrome does not see it, what could be the problem?
PS Catalog of goods unloaded without problems. Only a breakdown into categories is a strange part of the categories in Russian (primary language) in English. Be trusted 3.0.2

afourcustom.ru

[2018-11-03 12:04] bobosg opened #54 "Facebook Pixel Helper not detect any pixel"
I installed the enstension, I have correctly configured the catalog but I can't see any pixel...

[2018-11-03 19:50] beachgeek commented on #52
it seems to work fine but a huge issue was just discovered. The in the Opencart Admin Catalog/Products page is not coming up. I get a blank page and my employee at another computer gets a message that it cannot handle the request. This is after the FB extension was installed an set up.

[2018-11-03 20:59] beachgeek commented on #52
2018-11-02 17:00:33 - PHP Notice:  Undefined index: filter_name in /home/scubageek01/public_html/catalog/controller/extension/facebookevents.php on line 338
2018-11-03 13:11:41 - PHP Notice:  Undefined index: filter_manufacturer_id in /home/scubageek01/public_html/catalog/controller/extension/facebookevents.php on line 462
2018-11-03 18:04:46 - PHP Notice:  Undefined index: filter_manufacturer_id

[2018-11-03 21:01] beachgeek commented on #52
sad, it is a nice extension but since I cannot add product to my site only on the FB side it isn't functional.

[2018-11-04 16:55] tuananh8127 commented on #51
My store url
https://www.facebook.com/pg/newsshares/shop/?ref=page_internal
Thanks.

[2018-11-04 23:56] shue249 commented on #54
@bobosg Thanks for the feedback, can you share your store website URL

[2018-11-05 00:05] shue249 commented on #53
@afourcustom Thanks for the feedback!

We found that an important javascript file is not inserted into the header file resulting in the pixels not fired. Let us look into improving the plugin and we will inform you once we have this ready.

[2018-11-05 00:12] shue249 commented on #52
@beachgeek Thank you for the feedback. I am sorry that the plugin installation did not go as well for you and you have to spend time on this.

Will you still be interested to debug with us for us to understand where has the problem gone wrong? The plugin should automatically sync in new products and product changes from your site to FB automatically. However, this could mean taking up some of your

[2018-11-05 00:43] beachgeek commented on #52
Yes I want to continue using it. I used to dev with CRE-loaded years back
and although I am not a coder per say I know the processes involved.
For the moment when I need to add or edit products I disable the extension,
make my edits or additions the reenable the extension and sync.

On Sun, Nov 4, 2018 at 6:12 PM shue249 <notifications@github.com> wrote:

--

*Carlos Faught*
*Bay Breeze Dive Cente

[2018-11-05 03:33] shue249 commented on #52
@beachgeek I am suspecting that the blank page is due to some problems with our plugin integrating with the product management module on your system. In order for us to do the automatic sync, we added in some codes to the product management module.

Are you able to send us a copy of your webserver log file? It is not the opencart extension mod log but probably the apache web server log. It should

[2018-11-05 07:58] afourcustom commented on #53
ok, i will wait for the news from you

[2018-11-05 10:16] bobosg commented on #54
Thanks for the answer
The url is 2yield.it

[2018-11-05 22:01] beachgeek commented on #52
Yes I will pull it and send it today

*Carlos Faught*
*Bay Breeze Dive Center*

*49 Gulf Breeze Pkwy*

*Gulf Breeze, Fl  32561*
*850-934-8363**carlos@baybreezescuba.com <carlos@baybreezescuba.com>*

On Sun, Nov 4, 2018 at 9:33 PM shue249 <notifications@github.com> wrote:

[2018-11-06 08:42] Famistock commented on #47
Good morning, do you have any news?

Il giorno dom 28 ott 2018 alle ore 02:05 shue249 <notifications@github.com>
ha scritto:

[2018-11-06 23:30] beachgeek commented on #52
here are some error logs. the cpanel isn't recording errors for some reason but I will find out why and correct it to obtain the server logs too. these are logs from the site in the main root and in admin plus the maintenance
[error_log 2.txt](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2555472/error_log.2.txt)
[error_log.txt](https://github.com/facebookincubator/Facebook-For-

[2018-11-06 23:31] beachgeek commented on #52
Shue, if you would like access to the admin I can set that up....

[2018-11-07 02:59] wayy634 opened #55 "How can I solve this problem?"
You do not have permission to access this page, please refer to your system administrator.
Version 3.0.2.0

How can I solve this problem?

[2018-11-07 04:19] shue249 commented on #55
@wayy634 , Thanks for your feedback!

Can you refer to these 2 video guides
https://drive.google.com/open?id=1-ljN_pNcyZBbN2LoXtxwaJEy0dfnxAum
https://drive.google.com/open?id=1JUwZPlUNIhFO7I8U0slbJSQNjyu4al_J

Will close out the comment, but feel free to reopen them if needed.

[2018-11-07 04:19] #55 closed

[2018-11-07 11:31] ryanstacey commented on #49
Any update onto these fixes?

[2018-11-07 14:12] drewnya opened #56 "Pixel not on all pages"
Facebook Pixel Helper detect pixel only on home and success pages. The pixel is not fire on other pages. My url [https://imocean.com.ua/](https://imocean.com.ua/)

[2018-11-08 00:43] shue249 commented on #49
Thank you for your patience! We are working on a few other fixes and we are testing rigorously to ensure that the plugin is compatible with your system to avoid any downtime or unpleasant experience. Appreciate your patience with us

[2018-11-08 05:35] shue249 commented on #56
Thank you on the feedback! We are aware of this bug and working on the fix now. We will inform you once the latest version is available

[2018-11-08 05:38] shue249 commented on #54
@bobosg I am looking at the website, but could not see that the plugin has been installed. Want to check if you have removed away the plugin?

[2018-11-08 08:15] bobosg commented on #54
I checked, the plugin is installed
![schermata 2018-11-08 alle 09 14 36](https://user-images.githubusercontent.com/4668507/48185900-be956100-e336-11e8-83c6-084c2ddd10f0.png)
![schermata 2018-11-08 alle 09 15 36](https://user-images.githubusercontent.com/4668507/48185958-e1c01080-e336-11e8-8b1f-f1d310ccae97.png)

[2018-11-08 12:39] shue249 commented on #53
@afourcustom Do you have any extensions which will compress javascript files on your website? We are trying to figure out why our javascript is not loaded and we noticed that the default opencart js files are also not loaded on your website. So we wanted to learn more

[2018-11-08 12:59] shue249 commented on #54
@bobosg Thank you for the feedback.

This is really strange as we are not sure what could have gone wrong.

1. Can you try to do a refresh of your opencart site from the admin panel.
![image](https://user-images.githubusercontent.com/11957585/48200104-1b296800-e399-11e8-9169-c9b892fa1a33.png)

2. What are the extensions you have installed on your opencart server?

[2018-11-08 13:16] bobosg commented on #54
in fact it is strange that the pixel does not work
I have already updated

![schermata 2018-11-08 alle 14 16 23](https://user-images.githubusercontent.com/4668507/48200929-ef8a8b80-e360-11e8-8d74-b4726a979032.png)
![schermata 2018-11-08 alle 14 16 08](https://user-images.githubusercontent.com/4668507/48200930-ef8a8b80-e360-11e8-8709-8fa3ca83985e.png)
![schermata 2018-11-08 alle 14 15 54](https://u

[2018-11-08 19:04] beachgeek commented on #52
I removed the paths and UID's

*Carlos Faught*
*Bay Breeze Dive Center*

*49 Gulf Breeze Pkwy*

*Gulf Breeze, Fl  32561*
*850-934-8363**carlos@baybreezescuba.com <carlos@baybreezescuba.com>*

On Tue, Nov 6, 2018 at 10:22 PM shue249 <notifications@github.com> wrote:

[30-Oct-2018 21:51:06 UTC] PHP Fatal error:  Class 'ZipArchive' not found in directory/admin/controller/marketplace/install.php on li

[2018-11-09 02:08] shue249 commented on #54
Yes, this is really weird. I checked on your website but could not find any reason why it should fail. Will you be able to share with us the log of the extension mod file? Specifically, I am looking for the references where it changed the /common/header.twig file as this is the place where we inserted in the pixel code.

Also, will you be able to see if the below screenshots make sense to you?

![

[2018-11-09 02:17] shue249 commented on #52
@beachgeek Thanks for the feedback!

I may have spot the problem. Will you be able to share with us a copy of this file, vqmod/vqcache/vq2-storage_modification_admin_controller_catalog_product.php

![image](https://user-images.githubusercontent.com/11957585/48239090-89f1da00-e408-11e8-8443-94373d5a9b4e.png)

[2018-11-09 07:11] beachgeek commented on #52
*Carlos Faught*
*Bay Breeze Dive Center*

*49 Gulf Breeze Pkwy*

*Gulf Breeze, Fl  32561*
*850-934-8363**carlos@baybreezescuba.com <carlos@baybreezescuba.com>*

On Thu, Nov 8, 2018 at 8:17 PM shue249 <notifications@github.com> wrote:

[2018-11-09 16:38] afourcustom commented on #53
i use this plugin https://opencartforum.com/files/file/2172-opencart-lightning/

[2018-11-09 16:39] afourcustom commented on #53
https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=8068&filter_member=MaxD

[2018-11-11 07:54] jubidubi opened #57 "Installation issues"
hi
we are using 3.0.2.0 version with differant name for admin folder
we have downlaoded the module and changed the admin folder name and also admin path in all files
and tried to install it it is showing the module through installer it is sucessfully installed , then we also installed Extensions >> modules >> Facebook Ads extensions
after refreshing the modifications we tried to open module for se

[2018-11-11 09:36] shue249 commented on #57
@jubidubi Thank you for the feedback. Can you look at these 2 video guides if they help.
https://drive.google.com/open?id=1-ljN_pNcyZBbN2LoXtxwaJEy0dfnxAum
https://drive.google.com/open?id=1JUwZPlUNIhFO7I8U0slbJSQNjyu4al_J

[2018-11-12 08:26] ipramov opened #58 "Pixel events issue"
Hello,
I have installed the extension automatically. Pixel helper shows that only Page view event is fired.  No other event has been installed. What shall I do?
Thanks

[2018-11-13 09:57] aidebe1 opened #59 "Items Synced but on facebook site they are OUT OF STOCK"
Hello there,
Thank you very much for this extension.
Everything is working fine but what I noticed is that on the facebook site most of my products are OUT OF STOCK. When I open the product on my site it is IN STOCK. Could you please help me resolve this issue .
Regards,
L.P.

[2018-11-13 10:15] afourcustom commented on #53
hello. It turns out to solve the problem?

[2018-11-13 12:31] aidebe1 commented on #59
Actually I was just checking and all of the synced products are OUT OF STOCK on Facebook....

[2018-11-13 14:43] feliperabreu commented on #16
Hi guys, I just want to say that I have the same problem, the wholesale price is being show as the general public price. I manage it the same way as @reorado

[2018-11-13 23:16] shue249 commented on #59
Thank you for your feedback. We are looking into this for you.

[2018-11-13 23:17] shue249 commented on #58
@ipramov Thank you for the feedback. What is your webstore URL?

[2018-11-14 05:30] jubidubi commented on #57
hi
Thanks for your suggetions
we have made all changes on files before installation . and we ddint find any log on modifications and no icon or link on dashboard menu .
but meanwhile it is working fine with direct url like https://jubidubi.com/customeadmin/index.php?route=extension/facebookadsextension&user_token=hCeRg89CDvxi3SOX33twwlse82Z55aY2

[2018-11-14 05:53] shue249 commented on #57
@jubidubi Thanks for the feedback. This is really a weird case. At the same time, direct accessing via the URL will work fine as well. Can you go thru the FAE setup flow and see if it works out properly.

[2018-11-14 05:54] beachgeek commented on #52
did you receive the file and my last reply?

*Carlos Faught*
*Bay Breeze Dive Center*

*49 Gulf Breeze Pkwy*

*Gulf Breeze, Fl  32561*
*850-934-8363**carlos@baybreezescuba.com <carlos@baybreezescuba.com>*

On Fri, Nov 9, 2018 at 1:10 AM Carlos Faught <carlos@baybreezescuba.com>
wrote:

[2018-11-14 12:13] tomeda opened #60 "Installation issue OC 2.1.0.2"
I'm  trying to install your plugin. I got installation successful message, than I refresh modifications, and see the menu in admin panel, when I go there I get error "Page not found", I check user permissions but there I see no extension files. Than I go to the server files and see that there is no files added by your extension?!

[2018-11-14 14:18] jubidubi commented on #1
hi
we are facing same issue our products are updating to the store even they are Disabled status
and we are expecting new products on first

[2018-11-14 23:31] shue249 commented on #60
Can you check if you have given the read+write permissions to the server files? We require at least read+write (775) permission for the admin, catalog, system folders when you install the plugin. You should be able to see the new files from our plugin if the correct permissions are given and OpenCart can copy the new files to the server

![image](https://user-images.githubusercontent.com/11957585/

[2018-11-14 23:40] shue249 commented on #59
@aidebe1 We should have fixed the OUT OF STOCK problem. Can you take a look at your shop if things are in order.

[2018-11-14 23:44] shue249 commented on #52
@beachgeek Thanks for following up! Unfortunately we did not receive the email, and may have been filtered by our spam system. Will you be able to upload the file to a common location so we can grab the file?

[2018-11-15 07:00] beachgeek commented on #52
Yes, I will upload it asap. Also, I was told today that the extension is
not updating the products to the FB pixel even when done manually.

*Carlos Faught*
*Bay Breeze Dive Center*

*49 Gulf Breeze Pkwy*

*Gulf Breeze, Fl  32561*
*850-934-8363**carlos@baybreezescuba.com <carlos@baybreezescuba.com>*

On Wed, Nov 14, 2018 at 5:44 PM shue249 <notifications@github.com> wrote:

[2018-11-15 07:12] beachgeek commented on #52
[vq2-storage_modification_admin_controller_catalog_product.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2584034/vq2-storage_modification_admin_controller_catalog_product.zip)

[2018-11-15 09:34] papke88 commented on #50
Hello,

Maybe you have fixed all errors and updated your module?

Regars,
Rokas V.

[2018-11-15 09:38] beachgeek commented on #59
I am having the same issue in addition to the other issue you are working
on.

*Carlos Faught*
*Bay Breeze Dive Center*

*49 Gulf Breeze Pkwy*

*Gulf Breeze, Fl  32561*
*850-934-8363**carlos@baybreezescuba.com <carlos@baybreezescuba.com>*

On Wed, Nov 14, 2018 at 5:40 PM shue249 <notifications@github.com> wrote:

[2018-11-15 09:52] aidebe1 commented on #59
I will check later today and will let you know...;-)

[2018-11-15 14:38] aidebe1 commented on #59
It looks like everything is in order now ;-)

[2018-11-15 17:48] aidebe1 commented on #59
Hello again something else came up...when I open all products with Facebook app on my phone and try open to open a product nothing happens...

[2018-11-19 05:30] shue249 commented on #59
@aidebe1 What is your Facebook page?

@beachgeek The OUT OF STOCK problem should have been resolved for your page. Can you take a look?

[2018-11-19 05:30] shue249 commented on #33
@reginamor , @hrm143 We have released a latest version of the plugin, v2.1.2, which you can now choose to disable the cookie bar from the Facebook Ads Extension panel. Pls install the latest version for the changes to take effect.

Will be closing out this request, but feel free to reopen the ticket as needed.

[2018-11-19 05:30] #33 closed

[2018-11-19 06:54] papke88 commented on #56
But did you turn off the consensus bar?

Regards,
Rokas V.

[2018-11-19 06:55] papke88 commented on #50
Did you turn off the consensus bar?

Regards,
Rokas V.

[2018-11-19 07:10] aidebe1 commented on #59
Hi out of stock is ok now but something else came up... when I go to shop and than to all products with Facebook app on my phone and try to open a product... nothing happens...

[2018-11-19 07:17] aidebe1 commented on #59
https://m.facebook.com/EleganceFashionTrend/shop/?ref=bookmarks&mt_nav=0
This my Facebook page the problem appears only with Facebook app when shop-all products are selected if opened with the browser everything works fine...

[2018-11-19 07:21] drewnya commented on #56
I installed the latest version 2.1.2 but pixel still does not work on product pages.

[2018-11-19 07:33] drewnya opened #61 "I installed the latest version 2.1.2 but pixel still does not work on product pages."
_Originally posted by @drewnya in https://github.com/facebookincubator/Facebook-For-OpenCart/issue_comments#issuecomment-439794501_

[2018-11-19 09:34] shue249 commented on #61
@drewnya Thank you for the feedback, and we really apologies for the inconvenience for the plugin. I will have to dig deeper as the problem may be a different one from the SEO product URL. Pls give us some time to check this out.

https://imocean.com.ua/svitshoti/zhenskie-svitshoti/svitshot-rozhdestvenskij-s-olenjami-belij-ukrs-8823

[2018-11-19 10:40] aidebe1 commented on #59
Just a small update this problem appears only when I am logged in with the account  the store if I am logged from another account everything works fine...maybe this is the way it's supposed to be...;-)

[2018-11-20 07:17] beachgeek commented on #59
https://www.facebook.com/Bay-Breeze-Dive-Center-108272231137/?ref=bookmarks

[2018-11-20 10:06] ryanstacey opened #62 "Directory containing files to be uploaded could not be found!"
I can't even upload the .ocmod.zip file, every time it tries to upload the loading bar gets half way, goes red and says: Directory containing files to be uploaded could not be found!

[2018-11-20 11:20] ryanstacey commented on #49
I'd love to install the latest version if it worked.
Directory containing files to be uploaded could not be found!

[2018-11-20 11:29] ryanstacey commented on #62
Seems that if i collapse the 'upload' folder and have admin, catalog and system in the same folder and the other files it can upload. I click continue and do the whole modification refresh but nothing happens. The bar doesn't show up in the menu.

[2018-11-20 12:14] ryanstacey commented on #62
Ive tried uploading with FTP, without FTP using the OCMOD iSenseLab. Ive tried changing the install.xml to install.ocmod.xml which someone recommended. Nothing is working. Is there a manual way of uploading it?

[2018-11-20 18:17] beachgeek commented on #52
I don't understand why these files are not being found if the app needs them? Why are they not in the Opencart build or in the extension files?

![image](https://user-images.githubusercontent.com/44654428/48793952-38760480-ecbe-11e8-937a-6ddedec19e4a.png)

[2018-11-20 19:40] Erikas013 opened #63 "Can't uncheck cookie bar"
Hi,

I installed the latest version of extension, but I can't uncheck cookie bar, no button for save

[2018-11-20 23:59] shue249 commented on #63
Thank you for your feedback. The settings will be auto-saved when you uncheck the option, hence we did not provide the save button.

Can you uncheck the cookie bar option and then check your web store to verify that the cookie bar is no longer present.

[2018-11-21 01:25] i3kevin opened #64 "About installing the updated version"
I am now to update to the newest version to fix the 'freegeoip.net/shutdown' bug which caused google error.
Do I have to delete the original facebook extension in my admin panel or I will just have to install the newest version once again and it will automatically cover the files?

[2018-11-21 02:07] i3kevin opened #65 "Issue about creating new catalogs thru syncing"
I am running a Facebook page and I had uploaded products manually to catalog which is link to the "Shop" Tab in my Facebook page.
However, when I develop my opencart site recently and installed the facebook extension, it sync all my opencart products and creates a new catalog. Now on facebook I have two catalogs (some products are duplicated). Is it possible I can delete the old catalog (the one o

[2018-11-21 05:05] Erikas013 commented on #63
Uncheck not working :) When refresh page it check anyway. Maybe this setting are in mysql and I can do it with it?

[2018-11-21 22:18] nobreferreira commented on #20
Why all that work when you can hide the cookie bar on your CSS?!

[2018-11-21 23:33] shue249 commented on #62
@ryanstacey Thank you for the feedback.

Can we understand where  have you obtained the file from? Can you try to get the zip file from https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.2?

From our understanding, the error message "Directory containing files to be uploaded could not be found" is due to the missing upload folder. And the upload folder must be the inside

[2018-11-21 23:46] shue249 commented on #65
@i3kevin Thank you for the feedback.

I agree with your thoughts. Our recommendation is to use the catalog created from the facebook extension plugin, because our extension plugin will automatically sync in products from your opencart webstore into the catalog and Shop tab on Facebook page.

When you install the Facebook Ads Extension, did you select the option to create Page Shop? If you do so, t

[2018-11-21 23:46] #65 closed

[2018-11-21 23:50] shue249 commented on #64
@i3kevin To upgrade the facebook extension plugin, access the modifications, select the plugin and click on Delete icon to remove the old version. Then follow the same installation process to re-install the plugin via zip file and click on the refresh button.

[2018-11-21 23:52] shue249 commented on #63
@Erikas013 Can you do a hard refresh of your browser to remove away the old cached files? If you complete this step and still is unable to save the cookie bar settings, can you share any error messages that appear on the developer panel console log?

![image](https://user-images.githubusercontent.com/11957585/48873903-6af14000-ee2b-11e8-8e0f-ae4cc086218d.png)

[2018-11-21 23:54] shue249 commented on #64
I will be closing off this ticket, but feel free to open it if you encounter any problems.

[2018-11-21 23:54] #64 closed

[2018-11-21 23:58] shue249 commented on #59
@beachgeek Thank you for your feedback. Can I ask for you to help us to create a separate ticket for your product update issue, as we like to keep this ticket for the OUT OF STOCK problem.

For the latest version of the plugin, can you try to get the copy from https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.2 as we have yet to update the plugin version on the Facebook

[2018-11-21 23:58] #59 closed

[2018-11-22 00:00] shue249 commented on #52
@beachgeek My apologies for the delay. I can get your catalog file now, let me check on what is the problem and get back to you soonest. For the latest version of the plugin, can you grab it from here https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.2

[2018-11-22 00:01] shue249 commented on #20
We have released a latest version of the plugin, 2.1.2, which provides you with the option to disable to cookie bar via the Facebook ads extension module.

[2018-11-22 00:03] shue249 commented on #50
@papke88 Apologies for the late reply. After you install the latest version of the plugin, 2.1.2, you will be able to turn off the cookie bar from the Facebook Ads Extension module.

![image](https://user-images.githubusercontent.com/11957585/48874213-020ac780-ee2d-11e8-891e-e3ac8a5dfd74.png)

[2018-11-22 03:43] papke88 commented on #50
Yes I know, i did it and the cookie bar is gone. But my oroginal cookie bar css is still affected and changed cause you css file and my css orginal css files are with the same name. So the design is affected of borh cookie bars and even if I turn off your cookie bar it does not change nothing. You can check how it looks my original cookie bar on on dev.cr7shop.lt (affected by the same name of css)

[2018-11-22 08:52] ryanstacey commented on #62
Thank you, the problem was no matter where I downloaded the files from it never downloaded it as a .zip its like it automatically extracted the files into a folder on download. So I had to take them out the folder and recompress them. I was using Safari on MacOs for reference.

[2018-11-22 09:00] shue249 commented on #62
@ryanstacey I believe that the zip file that you re-compressed has a inner sub-folder layer which caused the zip file to fail. Can you try to zip in this method instead?

![image](https://user-images.githubusercontent.com/11957585/48892014-f395cd80-ee77-11e8-8618-49239e7412e0.png)
![image](https://user-images.githubusercontent.com/11957585/48892096-250e9900-ee78-11e8-98cf-08580ec4ed5d.png)

[2018-11-22 09:14] ryanstacey commented on #62
Yes this has worked. Thank you.

[2018-11-22 10:36] sonia-coelho opened #66 "Products not syncing version Version 2.0.3.1 OpenCart"
hello, so i've already installed the facebook ads extension and did the setup but the thing is when i access the catalog on facebook the diagnosis says i have only 4 products, if i go to products it says that i have 817 products, but when i go to the extension advanced settings it says that i have 2800 products. i tried to resync but nothinf happens. Am i doing something wrong? Does this really sy

[2018-11-22 15:36] Erikas013 commented on #63
Error: WARNINGS
Products Are Missing From Your Catalogs
Retargeting ads can't run for 1 out of 1 product views on this page, because the products people have viewed are missing from your catalogs.Learn more
Investigate in Catalog Manager

Cookie bar checkbox work now

[2018-11-22 15:52] shue249 commented on #63
@Erikas013 Thank you for your feedback. Can we ask for you to help us create a new ticket for the catalog warning. Also can you provide us your webstore URL.

We will proceed to close off this ticket on the cookie bar unable to be unchecked.

[2018-11-22 15:52] #63 closed

[2018-11-22 15:53] shue249 commented on #62
@ryanstacey Nice to hear that this works. We will proceed to close off the ticket, feel free to reopen if needed.

[2018-11-22 15:53] #62 closed

[2018-11-22 18:16] Erikas013 opened #67 "Catalog issue"
Error: WARNINGS
Products Are Missing From Your Catalogs
Retargeting ads can't run for 1 out of 1 product views on this page, because the products people have viewed are missing from your catalogs.Learn more
Investigate in Catalog Manager
site: beyou.lt

[2018-11-22 19:39] papke88 commented on #50
Still waiting for your answer!

Regars,
Rokas V.

[2018-11-26 00:09] shue249 commented on #50
Reopening the issue as the pixel is still not tracked

[2018-11-26 06:14] shue249 commented on #67
@Erikas013 Thank you for your feedback. We see that the initial sync of products to FB is not working. There are no products in the catalog.

Can we understand how many products are in your website?

[2018-11-26 06:30] shue249 commented on #66
@sonia-coelho Thank you for your feedback.

We see that you are having an earlier version of our plugin, v2.0.3, whereby store websites with large number of products may not perform the initial product sync correctly. I will say that the catalog on FB should be incomplete as it should be 2800+ instead of just 800+.

We have released a newer version, v2.1.2, whereby we have addressed this problem.

[2018-11-26 06:30] #66 closed

[2018-11-26 06:34] shue249 commented on #60
@tomeda Following up on the issue. Pls check if you have given the right access rights (775) to your OpenCart admin, catalog and system folders. Once the permissions are given, pls try to install the plugin again.

We will be closing out this ticket, but pls feel free to reopen the ticket if you still encounter the problems.

[2018-11-26 06:34] #60 closed

[2018-11-26 06:35] shue249 commented on #58
@ipramov Like to follow up on this problem. What is your website URL?

[2018-11-26 19:34] trsistemas opened #68 "How Change Currency?"
All base prioces are in USD but the frontend th currency is ARS Pesos Argentinos, how can i change to Facebook extension use ARS and not USD?

[2018-11-27 00:01] shue249 commented on #68
@trsistemas Thank you for your feedback!

Here are the steps to setup the correct currency for Facebook Ads Extension.

![image](https://user-images.githubusercontent.com/11957585/49049453-ff87e380-f219-11e8-9eb3-30d3558146c3.png)

![image](https://user-images.githubusercontent.com/11957585/49049557-6e653c80-f21a-11e8-8c20-61cb33072928.png)

[2018-11-27 00:03] shue249 commented on #68
We will proceed to close this ticket, but feel free to re-open the ticket again if you need more help.

[2018-11-27 00:03] #68 closed

[2018-11-27 00:05] trsistemas commented on #68
Thanks shue249, but this not my issue, my problem is how i configure this extension use the currency i choose, sorry my english...

[2018-11-27 00:32] shue249 commented on #68
@trsistemas No apologies needed, perhaps I wasnt clear myself too.

There are 2 places where the currency is being used - catalog and pixel.

1. For the catalog, we use the currency selected on your OpenCart settings as the currency for the product prices. (see the screenshot on my earlier post). If you check the products on Facebook catalog, it will reflect the same currency on your OpenCart sett

[2018-11-27 00:32] shue249 commented on #57
@jubidubi We will be closing out this ticket, but feel free to open this if you need any help from us.

[2018-11-27 00:32] #57 closed

[2018-11-27 00:43] trsistemas commented on #68
Thanks again, i use the same extension and the currency is ARS, for the frontend i disable the other currencies, we use the USD internally because our PESO vs DOLLAR change all time, our cost is in USD (backend) and or sale price is in ARS (frontend).

[2018-11-27 03:33] shue249 commented on #37
@marcusanson Our sincere apologies for the late reply, as we were previously working on some other fixes. We will like to circle back to your problem. We think we may have some idea on what is the problem.

Can we ask for this information from you.

![image](https://user-images.githubusercontent.com/11957585/49056735-e7bf5800-f237-11e8-9e52-960b9bb0f541.png)
![image](https://user-images.githubuser

[2018-11-27 15:00] jwestlake opened #69 "Cannot install extension with different admin name"
Hi all,

Found this page searching for help with the OC FB extension.  Trying to install on 2.3.0.2 with different admin directory name, but getting nowhere.  Opened the .zip, changed the upload/admin dir to match mine, searched all files for anything with "admin/" and changed it as well, but still cannot install via the Extensions Installer.  After making my changes and re-zipping, I get the erro

[2018-11-27 22:52] impresya commented on #37
Hi, I would like to report the same bug as the author of this issue. I get a notification on my dashboard that "You have yet to setup Facebook Ads Extension. Please click on Facebook Ads Extension and Get Started." However when I do click on the Facebook Ads Extension, instead of the “Get Started” button I get a spinning wheel.
I followed all additional instructions, eg. refreshed modifications, a

[2018-11-27 23:10] impresya commented on #37
@shue249 I am encouraged by your comment that you may have some idea on what is causing the problem. As this is exactly the same issue as @marcusanson was experiencing a few months back I hope my screenshot below will help you verify your idea
![image](https://user-images.githubusercontent.com/29625622/49117408-7794ee80-f298-11e8-9ee9-409a30f54978.png)
Looking forward to your reply

[2018-11-27 23:47] shue249 commented on #37
@impresya Thank you for your feedback! Yes, your screenshot is very helpful as it confirmed our bug. The problem is on line 35, where presence of special characters in the store name caused the formatting to break. In your case, it is the presence of the single quote (Impresya's store). We are working on this fix now and will update you soonest once we release the plugin.

[2018-11-27 23:54] shue249 commented on #69
@jwestlake Thank you for your feedback! As we need the admin folder to make modifications to the core plugin files during the plugin installation, I am afraid just manually uploading the files will not work. Can i suggest the following:

1. Rename the folder on your opencart server back to "admin" name
2. Install our plugin using the original plugin zip file (do not use the one that you re-zip as

[2018-11-28 00:51] impresya commented on #37
That's great, many thanks for that! Looking forward to trying the new release

[2018-11-28 06:28] herrysuhe opened #70 "error if clicked from the product tag link oc. 3.0.2.0"
i have install on my site (oc 3.0.2.0)
i have one error on search page tag : https://elysianastore.com/search?tag=bajutiduranak

PHP Notice: Undefined index: search in /home/k2285254/public_html/elysianastore.com/catalog/controller/extension/facebookeventparameters.php on line 305

[2018-11-28 12:15] shue249 commented on #70
@herrysuhe Thank you for the feedback. Let us look into this.

[2018-11-28 13:01] impresya commented on #37
@shue249 I can confirm, the use of special character causes the bug to appear. After removing it from the store's name it works like a charm, this workaround allows me to carry on with my project. Many thanks!

[2018-11-28 15:36] jwestlake commented on #69
Hey @shue249,

Thanks for the reply.  I went ahead and made that change, though now I have a problem with the admin language files.  I have an English-US plugin installed where my language directory/code is "en-us", and the plugin is looking for "english".  I tried uploading the files to my "en-us" directory, but it still seems to be hardcoded to "english".  Is there any way I can change this?  So

[2018-11-28 23:38] jwestlake commented on #69
@shue249 -

Ok, so I grepped for "english" in all files, changed those to "en-us", then repackaged the .zip as in your link above.  This now installed, but then I was getting errors when accessing the extension panel.

There are problems with the installation of the Facebook Ads Extension.

[code]

I manually copied the files from the "upload" in the zip to the server in the appropriate locations

[2018-11-29 00:40] shue249 commented on #69
@jwestlake Thanks for the feedback. The plugin should be able to support for both english and en-us as we ensure both sets of folders are updated accordingly. Let us double check again on this for future users of the plugin.

After completing the Facebook Ads Extension setup flow (Pixel setup wizard), you should be all set. There is no more further setup required. There is no action required from

[2018-11-29 03:02] jwestlake commented on #69
@shue249 -

Oh, well that makes me feel better then. :-)  I saw a message after setting up the module that said something about editing the extension, which is why I went there.  Glad to hear it's not needed!

Our store is https://shop.jwestlake.com.  Just grabbed PixelHelper.  Got a green check, so looks like we're up and running.

Thanks for the replies!  I think we're good to go for now.

[2018-11-29 16:33] shue249 commented on #69
@jwestlake Thanks for the feedback. Your website looks good. We will proceed to close off the ticket, but feel free to reach out if you have any further questions.

[2018-11-29 16:33] #69 closed

[2018-11-29 20:25] impresya opened #71 "Provide support for multisite"
Could you please provide support for multisite setups? I have a main a store with full inventory and 3 other stores running specific subsets of the stock. I would like to be able to track each store through FB pixel and to be able to export catalogue to separate FB pages. My main reason for using OpenCart is that it allows for frictionless multisite setup which is important for entrepreneurs runni

[2018-11-29 23:49] shue249 commented on #71
@impresya Thank you for your feedback. We agree with you as this is one limitation for the plugin. It is part of our roadmap to extend this support, after we mash out the major bugs in the plugin and getting it to a stable status.

We will continue to look into this.

[2018-11-30 17:47] papke88 commented on #50
Hello,

Any news on the problem? is it possible for you to try delete completely cookie bar from the code and I try to install? I believe it might help...

[2018-12-03 14:10] MusaAlami opened #72 "Facebook Ads Extension crashes mysql"
I have a large store with thousands for products. Every time I run this extension, mySQL server crashes (too many connections). Is there a way I can limit the amount of facebook server connections to my server?

[2018-12-04 03:49] tuananh8127 opened #73 "Not synchronized product option"
Hello. My product has optional attributes that are not synchronized with the product on the fanpage.

[2018-12-04 23:43] shue249 commented on #73
Thank you for your feedback. Can we understand what is your website URL?

[2018-12-04 23:45] shue249 commented on #72
@MusaAlami Thank you for your feedback! Can we understand how many products you have on your store?

[2018-12-06 06:03] beachgeek commented on #52
Thanks Shue. Do you know how much longer?  the two issues are we cannot see
products on the backend of the cart while the extension is enabled and the
products are not being updated properly.

*Carlos Faught*
*Bay Breeze Dive Center*

*49 Gulf Breeze Pkwy*

*Gulf Breeze, Fl  32561*
*850-934-8363**carlos@baybreezescuba.com <carlos@baybreezescuba.com>*

On Tue, Nov 27, 2018 at 3:29 AM shue249 <notif

[2018-12-06 08:50] MusaAlami commented on #72
Hello,
We used a script to to limit the amount of products to a specific category/brand. We are trying to upload 5000 products. The main problem is that the server reaches the max multi connections allowed. Is there a way to limit the amount of connections facebook does to the server?

[2018-12-06 13:34] Akbarkz opened #74 "Failure - facebook upload not created, sync all products using feed"
My website has around 30k products. I'm getting error "Failure - facebook upload not created, sync all products using feed"
Facebook Ads Extension version = 2.1.2
 OpenCart version = 3.0.2.0
 PHP version = 7.1.14

[2018-12-06 14:00] adedolaisaac opened #75 "Facebook Pixel Extension Issue"
I have now spent over 10 hours trying to figure this out. I installed the 2.1.2 version on a 3.0.2, the installation worked perfectly. But to my biggest surprise facebook pixel heler didn't detect the pixel installation on my server. I have done series of troubleshooting myself.  See below:

* Checked the source code directly using view source option on the brower => No pixel script installed
* Mo

[2018-12-07 05:46] Akbarkz commented on #74
Its working great now.
Deleted all cache including mod cache.
Deleted facebook settings from db.
Re-installed two three times and its working fine now.
I think for store with large number of products we need to wait some time for the module to create feed and upload.

[2018-12-07 05:46] #74 closed

[2018-12-07 06:13] shue249 commented on #74
@Akbarkz Thanks for the feedback! As you mentioned, for large catalogs, the system will need some time to create the feed file.

[2018-12-07 06:16] shue249 commented on #75
@adedolaisaac Thank you for your feedback! We are sorry that the experience is not as ideal and it took you time to solve this.

2 suggestions.

1. Can you look at this video, did you perform this step? https://drive.google.com/open?id=1JPXQ0mS1pGk2Bat9RV02vYNdbRfCLP9r

2. Can you check if these files are existing on your server after installing the plugin?
![image](https://user-images.githubuserc

[2018-12-07 06:53] shue249 commented on #72
@MusaAlami Thanks for the feedback!

1. We are only uploading products whose status are Enabled. If you like to disregard products which are no longer selling, you can consider to set those products to Disabled.
![image](https://user-images.githubusercontent.com/11957585/49632006-21117800-fa2f-11e8-8e1c-8decbc162f27.png)
![image](https://user-images.githubusercontent.com/11957585/49632077-6f267b80

[2018-12-07 07:16] adedolaisaac commented on #75
Yes, I followed the steps in the video. I just checked, all my folders are in 755, I wonder why I didn't notice them, so do I need to reinstall it again after changing the permission 775 or just flush the cache?

[2018-12-07 07:22] shue249 commented on #75
@adedolaisaac I like to learn more on your situation. I believe that you should be able to see the Facebook Ads Extension plugin on your menu bar, but you are unable to see the contents of that module, ie it shows out as Page not found. Is that correct?
![image](https://user-images.githubusercontent.com/11957585/49633298-d80ff280-fa33-11e8-938f-d36fa58c738b.png)

You need to re-install the plugin

[2018-12-07 07:50] adedolaisaac commented on #75
Thanks for the swift response and tailored step by step information. However, I do not have any issue accessing this part of the extension.

1) As you can see in the screenshot below, the only part not visible is the cookies section.
![fpage](https://user-images.githubusercontent.com/33562400/49633930-4214a180-fa0c-11e8-8ec2-e3917dec6a69.png)

2) Here is where I have the issue. Extensions > Module

[2018-12-07 08:05] adedolaisaac commented on #75
I just checked the modification error log, and this is what I got.

`----------------------------------------------------------------
MOD: Facebook Ads Extension
MISSING FILE!
/home/casorashop/public_html/admin/view/template/common/dashboard.tpl
----------------------------------------------------------------
MOD: Facebook Ads Extension
MISSING FILE!
/home/casorashop/public_html/admin/controller/c

[2018-12-07 08:08] adedolaisaac commented on #75
I just checked the modification error log, and this is what I got.

----------------------------------------------------------------
MOD: Facebook Ads Extension
MISSING FILE!
/home/casorashop/public_html/admin/view/template/common/dashboard.tpl
----------------------------------------------------------------
MOD: Facebook Ads Extension
MISSING FILE!
/home/casorashop/public_html/admin/controller/co

[2018-12-07 08:10] shue249 commented on #75
@adedolaisaac Ok, I am seeing more context with your screenshot.

1. I see that you have completed the Facebook Ads Extension setup. This means the installation is done and you should be good. There is no need to click on the Edit button of the modification as we do not have any features there.

2. The errors from the modifications should be fine as they are intended for the OpenCart v2.x. We deve

[2018-12-07 08:10] adedolaisaac commented on #75
I just checked the modification error log, and this is what I got.

I think issue still resolves to the permission

[2018-12-07 08:13] adedolaisaac commented on #75
@shue249 the website is casorashop.com

[2018-12-07 10:34] adedolaisaac commented on #75
@shue249 From the error log on with request on load. I got this error

Here is the code of the function where line 159 precedes

159 ~> html_entity_decode($text),
[code]
My php.ini is properly set at "UFT-8"
default_charset	= UTF-8;

Please let me know your suggestion.

[2018-12-07 10:50] adedolaisaac commented on #75
@shue249 Hello again, I fixed the error by removing the semicolon from the end of the line `default_charset = UTF-8; `in my .htaccess, user.ini and php.ini files. But Facebook Extension issue still persists.

[2018-12-07 12:00] rutar111 commented on #51
Hi, did you fix that problem with SEO urls?

[2018-12-07 12:16] rutar111 opened #76 "Multi language Description and SEO friendly link issue"
Hi, as i can see the extension only reads and shows the description of a product from an english tab in opencart 3.0.0.2. We are from Slovenia so we are writing our product description in slovenian tab in OC. Can you fix it, that the extension reads the product data from another tab?

In facebook shop if you clik on check out on website it redirects you to our page, but the link is not SEO friendl

[2018-12-07 15:09] shue249 commented on #76
@rutar111 Thank you for the feedback.

1. Let us look into the product description

2. For the checkout URL, we will be looking at it. In the meantime, it should not affect your sales as consumers are able to reach to your page.

3. We are not supporting for the direct adding of products to cart, as we are unable to cater for support for the product variant options.

[2018-12-07 15:11] shue249 commented on #75
@adedolaisaac I took a look at your website. The problem is that the facebook pixel did not get installed correctly on your website.

[2018-12-07 15:41] shue249 commented on #75
![image](https://user-images.githubusercontent.com/11957585/49656987-930eaf00-fa79-11e8-82d5-3a33e4415e4b.png)

[2018-12-07 16:04] rutar111 commented on #76
When could we expect the fix?
The problem for the un friendly SEO url is that we are not getting traffic to the correct urls, and is not boosting our position on google like it should, it would be great if you could fix that first, its much more important as descriptions etc..

Regards

[2018-12-07 20:11] adedolaisaac commented on #75
I previously attached a screenshot of the log in my previous thread, see below again for reference. In addition, I was thinking about fixing the bugs in the codes but would take a while. There are some files that are suppose to be .twig instead of .tpl, and I found some invalid request as well. According to my observation there is a missing </footer> tag in `/theme/theme-name/template/common/foote

[2018-12-09 22:07] impresya commented on #71
hi @shue249, is there any temporary workaround to amend the product feed with urls from substores. I have spent the last 10 days trying to achieve that using other extensions but noting works as good as this one, however I can only feed the catalogue with the urls from the main store. Could you please suggest some way to feed the catalogue with urls from other than the main site?

[2018-12-11 00:38] shue249 commented on #71
@impresya Thank you for your feedback. We understand your use case. It will take us some to work out our plugin to support multiple stores as there are some fundamental changes involved. Let us look into this in more details and let u know soonest on any updates.

The other way is for you to create and maintain the catalogs manually for the other sites. This is the detailed documentation on how to

[2018-12-11 00:51] shue249 commented on #67
@Erikas013 Like to follow up on this. We will like to help you to debug this further. Is there anyway that you can provide to us the error log file from the Facebook Ads Extension?

![image](https://user-images.githubusercontent.com/11957585/49770976-ee62ca80-fd21-11e8-9b05-db8ad1811aed.png)

[2018-12-11 17:31] fgi2006 opened #77 "Page not found"
My log

MOD: Facebook Ads Extension
CODE: public function index() {
LINE: 22

FILE: admin/controller/common/dashboard.php
CODE: public function index() {
LINE: 25

FILE: admin/view/template/common/dashboard.tpl
CODE: <?php if ($error_install) { ?>
LINE: 20
CODE: return $product_id;
LINE: 917
CODE: public function index() {
LINE: 27
CODE: $this->model_catalog_product->addProduct($this->request->pos

[2018-12-12 13:03] ihos1 commented on #2
Installed version 2.1.2. But knocks out the error http://prntscr.com/ltzj1f. Looked at logs, seemingly enough time for request processing. Now in the store about 17,000 products. In the future there will be about 20,000 products.
Facebook ads extension 2.1.2 was installed on a site with a quantity of 200 products, everything is super, and does not work with a large amount.
We can use Facebook ads

[2018-12-12 13:15] ihos1 commented on #74
How long did you wait? We have 17,000 items, we have been waiting for 5 days. But all the same Failure - facebook feed not created, access product module

[2018-12-12 13:18] ihos1 opened #78 "Failure - facebook feed not created, access product module"
Installed version 2.1.2. But knocks out the error http://prntscr.com/ltzj1f. Looked at logs, seemingly enough time for request processing. Now in the store about 17,000 products. In the future there will be about 20,000 products.
Facebook ads extension 2.1.2 was installed on a site with a quantity of 200 products, everything is super, and does not work with a large amount.
We can use Facebook ads

[2018-12-12 20:19] f1sh3rL commented on #19
Hi, ive installed the latest version but i am still getting the error? sorry to revive an old thread but it is driving me mad.

[2018-12-13 19:52] papke88 commented on #50
?

[2018-12-14 00:50] shue249 commented on #50
@papke88 We are terribly sorry for the late reply and really appreciate your time and patience.

We are happy to inform you that we have released a new version v2.1.3 to address your cookie bar naming conflict issue. Can you install the version either from OpenCart or https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.3

Let us know if this works.

[2018-12-14 00:52] shue249 commented on #70
@herrysuhe We have released a new version 2.1.3 to address this issue. You can either download from OpenCart or from here https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.3.

We will close out the ticket, but feel free to let us know if there's further questions.

[2018-12-14 00:52] #70 closed

[2018-12-14 00:53] shue249 commented on #53
@afourcustom Thank you for your patience and apologies it took us time to solve the problem.

We have released a new version 2.1.3 to address this issue. You can either download from OpenCart or from here https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.3.

We will close out the ticket, but feel free to let us know if there's further questions.

[2018-12-14 00:53] #53 closed

[2018-12-14 00:54] shue249 commented on #52
@beachgeek Thank you again for your patience. We have released a new version 2.1.3 to address this issue. You can either download from OpenCart or from here https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.3.

We will close out the ticket, but feel free to let us know if there's further questions.

[2018-12-14 00:54] #52 closed

[2018-12-14 00:55] shue249 commented on #67
@Erikas013 We will proceed to close out this ticket, but pls feel free to reach to us if you need any further questions

[2018-12-14 00:55] #67 closed

[2018-12-14 00:56] shue249 commented on #37
@marcusanson , @impresya  We have released a new version 2.1.3 to address the special characters issue on your store name. You can either download from OpenCart or from here https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.3.

We will close out the ticket, but feel free to let us know if there's further questions.

@impresya We will continue the conversation on the mult

[2018-12-14 00:56] #37 closed

[2018-12-14 03:06] shue249 commented on #78
@ihos1 Thanks for feedback!

Supporting large number of products has to do with the capability of the server where your MySQL database is hosted. In our plugin, we attempt to retrieve all the eligible products from the database to generate a one-time feed file to upload to Facebook. If the server is not able to support the query, the connection will fail, resulting in the problem which you are see

[2018-12-14 03:07] shue249 commented on #19
@f1sh3rL Can I ask for you to help us to create a new ticket here and share with us your website URL.

[2018-12-14 03:08] shue249 commented on #58
@ipramov We will be closing out this ticket, but pls feel free to reach out to us if you need more help

[2018-12-14 03:08] #58 closed

[2018-12-14 04:07] Akbarkz commented on #74
We waited for a night . I worked well but yesterday we tried to re sync
again but no success till now

On Wed, Dec 12, 2018 at 7:15 PM ihos1 <notifications@github.com> wrote:

[2018-12-14 04:12] hoangit81 commented on #78
Hello,
I also suffer from this problem when changing personal page passwords.
Do not know facebook is there any way to change the password is not affected?
Thank you!

[2018-12-14 13:59] ihos1 commented on #78
Thanks for the answer. With 17K, we have now published about 13K products. I tried to change http://prntscr.com/luxv71 from 100 to 1000. No result. Our usual hosting is not a server, it is clear that there are restrictions. Probably this module on hosting does not work. Many see problems like mine.

[2018-12-17 01:49] adisius commented on #77
Same here, when trying to continue install and configuration, the admin page says "Page not found". Any ideas?

[2018-12-17 17:52] reginamor commented on #33
hi! i downloaded the extension from github (on facebook still the older version) and when i'm trying to upload gives this error

i have opencart 2.3.0.2

[2018-12-17 18:00] reginamor commented on #33
@shue249 i don't know how to re-open

[2018-12-18 18:40] papke88 commented on #50
Just tried updated extension, looks like it works fine, just cant track the pixel on success page, the pixel helper do not show it. Can you check it?

Success page is here
https://cr7shop.lt/atsiskaitymas-sekmingas

[2018-12-18 18:44] papke88 commented on #50
also cant see the pixel "checkout initianed"

[2018-12-20 11:23] ssii-bur opened #79 "Problem with Facebook Ads Extension"
Hi, we have a problem with the instalation of this extension.

![boceto](https://user-images.githubusercontent.com/46023038/50282142-17860800-0452-11e9-977f-b1c203322e6b.jpg)

What is the error?

Best regards

[2018-12-22 09:20] HunKiat opened #80 "Error Log says..."Undefined index: product_id in .../catalog/controller/extension/facebookproduct.php on line 28"
2018-12-22 16:21:30 - PHP Notice:  Undefined index: product_id in /opt/bitnami/apps/opencart/htdocs/catalog/controller/extension/facebookproduct.php on line 28

This lines so often in the Maintainance Error Logs. I don't think it is syncing well with FB Pixel.
What can I do?

[2018-12-28 10:27] pmrpoint opened #81 "The sync failure of your products to Facebook opencart 2.3"
The sync failure of your products to Facebook may be because of the large number of products on your system (We detected 78093 products).
[imperiumloft.ru -  светильники, люстры, треки и многое другое по освещению_2018-12-28_09-32-21_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2714620/imperiumloft.ru.-._2018-12-28_09-32-21_facebook_ads_extension.log

[2018-12-29 07:32] shue249 commented on #78
@ihos1 Thanks for the feedback. We may need to look into this more to see if we can provide a solution for servers on hosting

[2018-12-29 07:34] shue249 commented on #81
@pmrpoint Thanks for the feedback. We also see that you have file us a ticket via OpenCart support. Let us continue the discussion here.

We have received few other reports on this issue. Are you on a web hosting service? If so, the problem is probably due to the limited resources on the database when doing the initial pull of all products. There are some suggestions to try to mitigate this proble

[2018-12-29 07:54] shue249 commented on #80
@HunKiat Thank you for your feedback. Can we know what is your store website URL?

[2018-12-29 07:56] shue249 commented on #79
@ssii-bur Thank you for your feedback. We need to copy some new files to your server, but your server folder does not have the write access permission, hence we are unable to do this. Can you give the write access permission (775) to the admin, catalog and system folders on your OpenCart server. Pls see this link for more information https://github.com/facebookincubator/Facebook-For-OpenCart/issue

[2018-12-29 07:58] shue249 commented on #77
@fgi2006 , @adisius Thank you for your feedback. To setup the Facebook Ads Extension, pls follow the video link here - https://drive.google.com/open?id=1JPXQ0mS1pGk2Bat9RV02vYNdbRfCLP9r

I believe you are getting the Page not found error when you click on the Edit button on the module page. There is no need to do this.

We will be closing out this ticket, but pls feel free to open up a new ticket

[2018-12-29 07:58] #77 closed

[2018-12-29 08:01] shue249 commented on #73
@tuananh8127 At the moment we are not supporting the optional attributes to the Facebook shop as it is not fully compatible.

We will close out this ticket, but pls feel free to open up a new ticket if you have any further questios.

[2018-12-29 08:01] #73 closed

[2018-12-29 08:01] shue249 commented on #81
This is also another link for your reference https://github.com/facebookincubator/Facebook-For-OpenCart/issues/72

[2018-12-29 08:03] shue249 opened #82 "Purchase and InitiateCheckout pixel events not fired"
Posting on behalf of papke88

@shue249 Just tried updated extension, looks like it works fine, just cant track the pixel on success page, the pixel helper do not show it. Can you check it?

Success page is here
cr7shop.lt/atsiskaitymas-sekmingas

also cant see the pixel "checkout initianed"

[2018-12-29 08:04] shue249 commented on #50
@papke88 Thank you for the feedback. We have created another ticket to follow up on this https://github.com/facebookincubator/Facebook-For-OpenCart/issues/82

We will close off this ticket for the cookie bar issue.

[2018-12-29 08:04] #50 closed

[2018-12-29 08:45] pmrpoint commented on #81
FACEBOOK PRODUCT QUERY BATCH COUNT - increased to 1000 and does not help

[2018-12-30 01:12] HunKiat commented on #80
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;} https://www.bumwear.com                                                                                                                                                                        Sent via the BlackBerry Hub for Android

[2019-01-01 09:52] papke88 commented on #82
Hello @shue249 , any news omn this issue?

[2019-01-01 23:47] magixrys opened #83 "Messenger chat language"
Hello, I have activated facebook chat - messenger and I want to translate "Hi! How can we help you? ....." in my own language. Which file should I edit? I cannot find it.

[2019-01-01 23:55] magixrys opened #84 "Product special prices are not syncing"
When I bulk edit product prices, the new prices are not syncing to facebook catalog, so my customers cannot see the discounted products. Is there any solution for this?
I run the latest version of facebook for opencart 2.3.0.2 with 1000+ products and except from the above issue I see that the extension cannot synchronize the catalog. It says that last successful update was on June. However I can s

[2019-01-02 12:03] pmrpoint commented on #81
someone will help me with a solution

[2019-01-04 11:36] reginamor commented on #33
@shue249 hello??

[2019-01-04 11:38] reginamor opened #85 "reopen #33"
i still having the problem of the topic #33 and i can't reopen the issue.
Thank you

[2019-01-04 13:18] ryanstacey opened #86 "Updating Extension Issue"
I'm having trouble figuring out how to update the extension to the latest version. There no uninstall feature so how do I update it?

[2019-01-05 03:30] shue249 commented on #84
@magixrys Thank you for your feedback. Can we understand how are you performing the bulk edit? Are you using any 3rd party extensions?

Our plugin integrated with the default OpenCart product management module, such that every product changes made from the product management module (add, edit, delete) will sync the changes to Facebook catalog.

[2019-01-05 03:33] shue249 commented on #85
@reginamor Thank you for the feedback and apologies for missing out on your previous comment. When you download the latest plugin from our github or OpenCart, is it as a zip file? If not, did you re-zip the file yourself?

If you have to re-zip the file, most likely the zip procedure is incorrect, resulting in a sub-folder inside the zip file. Can you take a look at this thread if the solution wor

[2019-01-05 03:35] shue249 commented on #86
@ryanstacey Thank you for the feedback. To uninstall the previous version of the plugin, you need to delete the current version. And then re-install the new version of the plugin.

![image](https://user-images.githubusercontent.com/11957585/50719886-f40fbe00-10dd-11e9-9d88-19ff446143c9.png)

We will proceed to close this ticket, pls feel free to create a new ticket if you have any further question

[2019-01-05 03:35] #86 closed

[2019-01-05 03:40] shue249 commented on #81
@pmrpoint Thank you for the feedback.

Our current plugin is splitting up the product list query into batches (hence the FACEBOOK PRODUCT QUERY BATCH COUNT) in order to generate the initial feed file. We may need some time to further look into this on how we can further optimise for really large catalog size on hosting services.

If you are familiar with SQL, you can attempt to make changes on the

[2019-01-05 03:41] shue249 commented on #79
@ssii-bur We hope the solution helped you. We will be closing out the ticket, but pls feel free to create a new ticket if you have any further questions.

[2019-01-05 03:41] #79 closed

[2019-01-05 03:45] shue249 commented on #80
@HunKiat Thank you for your feedback. We found there is an issue of the AddToCart event not firing properly from the product details page, due to the error in the log.

We will look into this and update you soonest when we have the fix.

[2019-01-05 03:49] shue249 commented on #82
@papke88 Apologies for the late reply. Can we understand if you are using any 3rd party checkout modules? Our pixel event for InitiateCheckout and Purchase is supporting the default OpenCart checkout module.

[2019-01-05 06:51] papke88 commented on #82
We are using only default ones!

Regards,
Rokas V.

[2019-01-05 08:17] shue249 commented on #82
@papke88 I see that your checkout and thank you URL is different from the OpenCart default ones. In the default URL, it will follow something like "index.php?route=checkout/checkout".

Are you using any SEO mapping to change the checkout and payment URL on your website?

![image](https://user-images.githubusercontent.com/11957585/50722145-6b0c7d00-1105-11e9-94a7-42ea1ca1d0d7.png)

[2019-01-05 08:41] papke88 commented on #82
Yes of course, we use seo tool for friendly urls. Thats very important and most of well made sites use only clean seo urls..

Regards,
Rokas V.

[2019-01-05 10:52] magixrys commented on #84
Yes, I am using a 3rd party extension for bulk editing products (Product manager by isense labs). And I see that products that had been bulk edited have wrong price on my facebook store. I started advertizing products from my facebook catalog, but first I had to edit product prices one by one. Is there a solution to this? Editing each product's price is very time consuming when having to edit 1000

[2019-01-06 13:36] slaventiy92 commented on #26
HI. I installed the latest version of the module, see that created the feed file on the hosting (175607 products, 421 MB of csv filesize), but the products were not uploaded to facebook. I attach a log file _tehnobox.com.ua/facebook_ads_extension_log.zip

[2019-01-07 08:38] papke88 commented on #82
Hello @shue249, can i get a fix for this problem?

[2019-01-08 15:24] miaosun opened #87 "Only few images got synced to facebook"
I am having problem with this extension in syncing the product from my opencart website to my facebook page. Have tried so many times (reinstalling the extension, reconnecting facebook page etc), no matter what I do, it always fails in syncing the products' images. To be exact, everytime the extension can successfully sync all my 92 products to facebook catalogues and facebook page shop section, b

[2019-01-09 07:32] shue249 commented on #82
@papke88 We will look into this. Can I understand how do you use the seo tool to setup the friendly URLs, so I am not familiar with this SEO tool.

[2019-01-09 07:33] shue249 commented on #87
@miaosun Thank you for your feedback. We see that you have posted the question on OpenCart and on OpenCart support ticket. Let us continue the discussion here.

Can you share with me your webstore URL so that we can check on the status of the products.

[2019-01-09 14:07] papke88 commented on #82
We use this extension:
https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=9486&filter_search=Complete%20SEO%20Package <https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=9486&filter_search=Complete%20SEO%20Package>

There you can check demo. (go to seo editor > param url)

Regars,
Rokas V.

[2019-01-09 16:05] slaventiy92 opened #88 "reopen #26"
HI @shue249 I installed the latest version of the module, see that created the feed file on the hosting (175607 products, 421 MB of csv filesize), but the products were not uploaded to facebook. I attach a log file: _tehnobox.com.ua/facebook_ads_extension_log.zip

[2019-01-09 16:52] miaosun commented on #87
@shue249 Thank you for your reply.
My opencart website: https://casadacortica.pt
Facebook shop page: https://facebook.com/casadacorticaportugal/shop

You can see that in the shop page only 4 products have images, tried lots of times and many ways, the current status is the best result I could get.

[2019-01-10 00:39] slaventiy92 commented on #88
And in error.log often repeats this error:
`PHP Notice:  Undefined index: filter_category_id in /home/thnbx/public_html/catalog/controller/extension/facebookeventparameters.php on line 397`

[2019-01-10 00:58] shue249 commented on #84
@magixrys Let us evaluate for possible solution for this.

[2019-01-11 17:48] pmrpoint commented on #81
Help me change the code to unload a category from the ID 333

[2019-01-11 17:51] pmrpoint commented on #81
Help me change the code to unload a category from the ID 333

[2019-01-11 17:53] pmrpoint commented on #81
my programmer says it will not work, I would like you to explain how to implement or what code to insert or change, I would be very grateful for the help

[2019-01-14 09:33] miaosun commented on #87
Hi @shue249 Have you figured out anything?

[2019-01-15 08:15] papke88 commented on #82
hello @shue249 , any news on this issue?

[2019-01-15 11:53] miaosun commented on #87
Hi @shue249 Sorry to bother you again, have you figured out anything?

[2019-01-17 12:19] shue249 commented on #88
@slaventiy92 Apologies for the late reply. Based on my initial assessment, I believe your server hit a timeout when generating the initial product catalog feed file, and probably the feed file you are seeing on your server contains only partial of all the products. Where can I download a copy of your log file for me to better understand the problem?

[2019-01-17 12:35] shue249 commented on #87
@miaosun Apologies for the late reply.

We did a check on your catalog and found that the image url sent to FB is different from the one shown on your website.
![image](https://user-images.githubusercontent.com/11957585/51319106-1f5bbb00-1a97-11e9-96e6-4bfdb57a48df.png)

Can I understand if you are using any 3rd party product management module to manage your inventory? This is because we are gener

[2019-01-17 12:39] shue249 commented on #82
@papke88 Apologies for the late reply. As it is a 3rd party extension, we may need more time to figure how best to support this feature.

In the meantime, you may want to try to make some changes on our plugin code to be able to send in the events. However, that will require you to have access to development skills. Will you be open to that?

[2019-01-17 12:51] papke88 commented on #82
Yes sure write me in which files and what to change, thanks

Regards,
Rokas V.

[2019-01-17 12:55] miaosun commented on #87
@shue249 Thank you for your reply and information.

I don't think there is a 3rd party product management module in my website, I only use this extension https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=17 to import products from excel files. And by the way this is the theme used for the website: https://themeforest.net/item/up-multipurpose-responsive-opencart-theme

[2019-01-17 13:14] miaosun commented on #87
@shue249 Than you for your reply and information.

I have found the problem, the reason is because the folders and files in image/catalog were not having the right permissions, that's why the images were not accessible. I have fixed the permissions and now everything is working as expected.

Thank you so much for the support and great extension. Best regards.

[2019-01-18 11:54] dalibordim commented on #54
Hi i have the same problem with the latest version of the plugin on OC 3.0.2
The installation went ok and i have the extension in my admin panel but no pixel code on the front end.
I checked on the default theme of OC and it works fine but not on my custom theme.
Any help or advice pls.
Thanks in advance

[2019-01-21 10:27] maxdmtrv opened #89 "Manual resync crashes webserver"
I'm running Opencart on a quad core VPS (4 х 2600 MHz) and 8GB RAM.

Resync of 150 products takes about 8 mins. During this time my website becomes unresponsive and later nginx crashes with error 504.

Facebook Ads Extension version = 2.1.3
OpenCart version = 2.3.0.2.3
PHP version = 7.1.17

[2019-01-21 12:02] papke88 commented on #82
@shue249 i am waiting for your directions, thanks!

[2019-01-22 00:02] slaventiy92 commented on #88
@shue249 [tehnobox_error_logs.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2780829/tehnobox_error_logs.zip)

[2019-01-22 02:04] slaventiy92 opened #90 "All products In Stock"
In opencart i have 5535 products in stock and 5173 products out of stock. But in facebook all products in stock

![2019-01-22_03-43-09](https://user-images.githubusercontent.com/13348534/51507400-7647f400-1df9-11e9-899d-d487edc327e4.png)
![2019-01-22_03-42-30](https://user-images.githubusercontent.com/13348534/51507401-7647f400-1df9-11e9-84b5-1804243436ff.png)

[facebook_ads_extension.log](https:/

[2019-01-22 20:02] shue249 commented on #89
Thank you for the feedback. We are aware of this limitation and is looking at ways to improve the experience. We will share with you any updates soonest.

[2019-01-22 20:11] shue249 commented on #90
@slaventiy92 Thank you for the feedback.

For the Facebook out of stock status, if the product does not subtract stock, we are always setting the availability to be In Stock. Can you check the "subtract stock" status of your products.

![image](https://user-images.githubusercontent.com/11957585/51562453-d22b7f00-1ec4-11e9-8d4d-541bce2da8b9.png)

You can refer to the code logic here. If you want to

[2019-01-22 20:18] shue249 commented on #88
@slaventiy92 I looked at the file. Our plugin was attempting to create the feed file for 178892 products. From your feedback on the feed file generated, there are 175607 products which means the database is unable to handle the product load for the last 3k products before crashing.

I see from https://github.com/facebookincubator/Facebook-For-OpenCart/issues/90 that you have managed to upload a se

[2019-01-23 09:08] shue249 commented on #82
@papke88 Can you try putting in the below code lines to this file at line 188 on your server.
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/catalog/controller/extension/facebookeventparameters.php#L188

Code lines to be added:

    $uri = $_SERVER['REQUEST_URI'];
    if (strcmp($uri, '/atsiskaitymas') == 0) {
      $facebook_pixel_event_params_fae = $this->getPurcha

[2019-01-23 13:48] slaventiy92 commented on #90
@shue249  all products have "Yes" in "Subtract stock"
![2019-01-23_15-40-58](https://user-images.githubusercontent.com/13348534/51610752-2dda2480-1f26-11e9-812b-f1d33696807c.png)

[2019-01-24 00:00] nasspar commented on #84
Hello,
i have the same problem. I'm using an external software - eMagicOne Store manager. I'm not sure that its the reason.. so far i tried several methods of sync discount prices - but no change, even when i use default method. Before installing your plugin i have already added the discounts. After installing the extension and map them - price map to sale_price in settings options of fb catalog -

[2019-01-24 10:47] papke88 commented on #82
@shue249 hello, added the code using your directions, but pixels are not fired... you  can check cr7shop.lt/atsiskaitymas-sekmingas

[2019-01-26 20:15] #87 closed

[2019-01-28 19:40] itshaman commented on #8
I have some troble
Opencart Version 2.3.0.2 (rs.6)
Facebook Ads Extension 2.1.3
I have two sites with same configs
& i got troble on a both

Sorry for my bad English

[2019-01-29 20:06] itshaman opened #91 "The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token."
Plugin Version: 2.1.3
Try to find at Advanced options  "Update token" button or link, nothing ((

![image](https://user-images.githubusercontent.com/16690535/51936673-cafef680-2419-11e9-9c12-b18fc23d3545.png)
I have button "Delete Settings",
In my experience, the store setting is erased and it is recreated again. How to fix this problem?
![image](https://user-images.githubusercontent.com/16690535/

[2019-01-29 20:08] itshaman commented on #91
same problem on another site Opencart v2.3

[2019-01-30 08:56] shue249 commented on #82
@papke88 Apologies for the delay. We are still checking on this, pls do give us more time and will update you soonest.

[2019-01-30 08:58] shue249 commented on #91
@itshaman Can you send us the Log file for the Facebook Ads Extension here?

![image](https://user-images.githubusercontent.com/11957585/51969809-4f03bd80-24b0-11e9-856a-bb0feebd9c91.png)

[2019-01-30 09:17] papke88 commented on #82
@shue249 ok thanks, hope to get the solution soon, we cant advertise without pixels on those pages

[2019-01-30 21:06] itshaman commented on #91
`2019-01-16 2:10:22 - Get Sample product feed
2019-01-16 2:10:22 - Complete - Get Sample product feed
2019-01-16 2:10:28 - Updating FAE settings - facebook_enable_cookie_bar
2019-01-16 2:10:28 - Complete - Updating FAE settings
2019-01-16 2:17:38 - Get Sample product feed
2019-01-16 2:17:38 - Complete - Get Sample product feed
2019-01-16 2:17:41 - Get Sample product feed
2019-01-16 2:17:41 - Compl

[2019-01-31 09:04] shue249 commented on #91
@itshaman Thanks for the information. Can I ask you for some more further details.

1. Can you go to any product in the OpenCart admin product management module. Click on Edit and click on Save. You do not need to make any changes. We want to force the plugin to make a immediate sync for that product to facebook. After which, can you share the log file again, we want to check if there are any erro

[2019-01-31 16:38] papke88 commented on #82
@shue249 hello, any news on this issue?

[2019-02-01 06:59] itshaman commented on #91
Thank you very much for your promptness.
1. Update poduct id=1741. Here is log file
![update_product](https://user-images.githubusercontent.com/16690535/52107612-1840bb00-2608-11e9-8347-3e907521a4a4.PNG)

[2019-02-01_09-50-28_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2820406/2019-02-01_09-50-28_facebook_ads_extension.log)

2. One of facebook page

[2019-02-01 10:40] shue249 commented on #90
@slaventiy92

Will you be able to do these:
1. Try to delete away the Facebook Ads Extension setting and complete the setup again
2. Check if those products still have the same problem, ie their quantity is zero and reflecting as in stock on Facebook
3. If point 2 is still true, can you share the store website URL so that we can verify deeper.

On our end, we have checked that the current logic fo

[2019-02-01 22:41] itshaman commented on #91
And one more question.
Where can I edit text about privacy policy in popUp window allowing the use Cookies?

[2019-02-02 02:48] shue249 commented on #82
@papke88 Thank you for the patience and apologies for the delay.

We have some initial findings and we want to cross-check with your configuration setup to verify if the findings tally. We like to understand more on how you do the configuration on the SEO editor. Will you be able to share screenshots of your SEO configuration. Please remove away any sensitive information from the screenshot.

In p

[2019-02-02 08:38] papke88 commented on #82
Hello @shue249 , here are the screen shots of common page url settings for both LT and US language on the site. Do you need anything else?
<img width="1180" alt="screen shot 2019-02-02 at 10 37 36" src="https://user-images.githubusercontent.com/44572066/52162040-b733e880-26d6-11e9-89ae-ddd7a5b29d34.png">
<img width="1059" alt="screen shot 2019-02-02 at 10 37 18" src="https://user-images.githubuser

[2019-02-02 08:42] papke88 commented on #82
all other settings is default ones, nothing special there that could effect your module i think... the main thing that affects your module i think is friendly urls...

[2019-02-02 10:46] Khnaz35 opened #92 "Permission Denied! for opencart 2.3.0.2"
Hi i have download the extension from Facebook and install it. After a successful installation i'm getting the error for "Permission Denied!
 Permission Denied!
You do not have permission to access this page, please refer to your system administrator."
The funniest thing is that i'm login as **Top Administrator**  when i went to add the user group there are not files like facebook/facebookextensio

[2019-02-02 14:16] shue249 commented on #85
@reginamor I will close off this ticket, but pls feel free to reach out to us if you are still encountering any problems.

[2019-02-02 14:16] #85 closed

[2019-02-02 14:36] shue249 commented on #92
@Khnaz35 The permission setting is extension/facebookadsextension. Can you try to see if this setting is available on your server. (See below screenshot)

![image](https://user-images.githubusercontent.com/11957585/52165348-b2088500-273a-11e9-86e5-39857394cf2d.png)

Our plugin will automatically give the Access and Modify permission to the "Administrator" user group when the plugin is installed. T

[2019-02-02 14:45] shue249 commented on #91
@itshaman Thanks for the response. Pls give us some time to look into this in more details.

For the cookie bar text, you will need to manually change the text on your server. There are 2 ways to do this.

1. Change the install.xml file inside the zip file. Then uninstall the extension and reinstall again. This will make the changes be reflected on your server.

The changes are in:
https://github.

[2019-02-02 15:16] papke88 commented on #82
Thank you for your anwers. Interesting, i guess se could switch to absolute but can you explain the difference between absolute and common urls? Does it make difference to SEO?

Regards,
Rokas V.

[2019-02-02 20:19] ryanstacey opened #93 "Pulling Wrong Product Price!"
I have special prices on most of my products within OpenCart. But when the extension uploads the products to Facebook catalog it takes the original price and not the special discounted price which is obviously what I want.
OC:
<img width="343" alt="screenshot 2019-02-02 at 8 17 16 pm" src="https://user-images.githubusercontent.com/44474887/52168885-bd05ea00-2727-11e9-8812-d302b3d0b27f.png">
FB:
<i