[2019-02-02 21:09] oguzhansari opened #94 "Cannot find page in Opencart v3.0.2.0"
Hi,
I use Opencart v3.0.2.0.
I'm entering the application page.
I get the page not found error.
![notfound](https://user-images.githubusercontent.com/13555457/52169346-9788d880-2747-11e9-926f-ce1fa91d91e2.JPG)

[2019-02-03 01:31] shue249 commented on #94
@oguzhansari Thank you for your feedback. Can you look at this post to see if the solution helps you. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/77

[2019-02-03 01:34] shue249 commented on #84
@nasspar For the initiate checkout issue, are you using the SEO editor plugin? If so, can you look at this post and see if it helps you https://github.com/facebookincubator/Facebook-For-OpenCart/issues/82

[2019-02-03 01:43] shue249 commented on #61
@drewnya Apologies for the long delay in response. We have been looking into the SEO issue with another user. Can we understand if you are using the SEO editor plugin? Will you be able to look into this post and see if you are using similar setup configurations on your website. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/82

If so, can you share with us how are you setting up

[2019-02-03 01:45] shue249 commented on #54
@dalibordim Thank you for your feedback and sorry to have dropped the ball on this. Will you be able to create a separate ticket for us to follow up separately.

[2019-02-03 01:46] shue249 commented on #54
@bobosg I will like to follow up on the previous comment. Will you be able to share the plugin installation log so that we can check deeper on the issue.

[2019-02-03 02:00] shue249 commented on #82
@papke88 As we are not the developers for the SEO editor plugin, we are not in the best position to be able to explain the differences between the absolute and common URLs. Perhaps you may want to check in with the developers to understand the differences. Off the hand from their plugin site, it offers a very high level explanation.
![image](https://user-images.githubusercontent.com/11957585/52171

[2019-02-03 07:27] xrist0s29 opened #95 "FACEBOOK crashing CP Panel"
Hello everyone. i am trying to install the facebook extention but whenever i do it my cp panel crashes.

It shows a "no page found" error when i click on my cp panel and the facebook plugin.

Here is my error log:

2019-02-02 20:55:59 - MOD: Modification Default
FILE: system/engine/action.php
REGEX: ~(require|include)(_once)?\(([^)]+)~
LINE: 39
FILE: system/engine/loader.php
REGEX: ~(require|inclu

[2019-02-03 08:56] Khnaz35 commented on #92
@shue249 Thanks for your response i have look into setting but their is nothing like that as in your provided picture.
See here from my Dashboard
![facebook_ads_extension ocmod](https://user-images.githubusercontent.com/43812103/52174809-86d27400-27d4-11e9-9555-54c0a69650eb.png)

 i have downloaded the extension directly from Facebook.
is it there are some file are missing in it? i had attached th

[2019-02-03 09:58] drewnya commented on #61
Hi, @shue249.  I'm not using the SEO editor plugin. This add-on is used to SEO urls [https://github.com/rb2/opencart-seopro](https://github.com/rb2/opencart-seopro)
Addition is already built into this Openсart [https://github.com/ocshop/ocshop/tree/oc-2.3.0.2.1](https://github.com/ocshop/ocshop/tree/oc-2.3.0.2.1)

[2019-02-03 21:57] Aykeagle opened #96 "Facebook Ads Extension for Opencart 2.1.0.1 cant installed properly"
Hello,
I am trying to build up face ads extension to my opencart store but unfortunately this extension got some errors when i install it to extensions. I follow the steps from this link and also download the zip from here: https://www.facebook.com/business/help/opencart_pixel
I think, i have done nothing wrong in installation because i can see the extension in the modifications section and also c

[2019-02-04 14:52] shue249 commented on #92
@Khnaz35 Thank you for your feedback. We have a newer version, v2.1.3, of the plugin and we are now in the progress of updating the plugin on Facebook. In the meantime, can you get this version here https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.3. You need to remove away the current plugin version and install in the newer version.

[2019-02-04 14:56] shue249 commented on #95
@xrist0s29 Thank you for your feedback. We like to suggest 3 things.

1. We require the admin, catalog and system folders on your OpenCart to have write+read permission as we need to copy some files to your server. Pls refer to this post for more details - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/60

2. We want to share with you these installation videos. We like to sugges

[2019-02-04 15:14] shue249 commented on #96
@Aykeagle Thanks for your feedback.

Most probably the read+write permission on your server is not correct resulting in some files not copied over correctly. Can you check if you have given read+write recursively to the admin, catalog and system folders on your OpenCart server.

If this is done, pls proceed to remove the plugin and re-install the plugin again. We have a latest version, v2.1.3, whi

[2019-02-04 15:16] shue249 commented on #61
@drewnya Thank you for your feedback. Let us look into this SEO plugin and see if we can make our plugin to be compatible with this.

[2019-02-04 19:11] veliel opened #97 "GeoIp https problem"
I am having the problem in the image bellow after installation of your extension
http://prntscr.com/mgle51

Opencart 2.3.0.2

[2019-02-05 21:36] Aykeagle commented on #96
Thanks for the reply @shue249 ,
We have solved the problem, everything works fine now.

[2019-02-05 21:36] #96 closed

[2019-02-06 09:16] andrejuseu opened #98 "Missing cookie bar DB field"
Hi,

So, my client was having problems with cookie bar (as all EU e-shops must have GDPR notice) then having his own notice.

The **Show cookie bar on store website** checkbox doesn't work, because there's no row in **oc_setting** are created as **facebook_enable_cookie_bar**.

If you encounter this problem, you need to run this SQL:

**ONLY IF YOU KNOW WHAT THIS CODE DOES!!!**

[code]

[2019-02-07 02:57] shue249 commented on #94
@oguzhansari Can you look at this video link to see if it helps you.

https://drive.google.com/open?id=1V4Nu8nlmHX5ppKqsjcR-xR05Rozb7MKN
https://drive.google.com/open?id=1-ljN_pNcyZBbN2LoXtxwaJEy0dfnxAum
https://drive.google.com/open?id=1JPXQ0mS1pGk2Bat9RV02vYNdbRfCLP9r

There should be a Facebook Ads Extension menu on the left hand side

[2019-02-07 02:58] shue249 commented on #98
@andrejuseu Can we understand what is the version of the Facebook Ads Extension plugin and what is the version of your OpenCart.

[2019-02-07 04:47] Khnaz35 commented on #92
Hi @shue249 I followed your instructions and uninstall the previous version and installed V2.1.3, but unfortunately same problem still exist.
![image](https://user-images.githubusercontent.com/43812103/52391022-46297200-2ad6-11e9-9e52-160e887f8e46.png)

![image](https://user-images.githubusercontent.com/43812103/52391042-57727e80-2ad6-11e9-8ce0-25c74c6abd9f.png)

This is the latest v 2.1.3 i downl

[2019-02-07 08:26] burkoyuriy commented on #93
I have the same problem.
Version opencart 2.3.0.2
Version module 2.1.13

[2019-02-07 13:50] andrejuseu commented on #98
@shue249

Opencart - 3.0.2.0
Facebook Ads Extension plugin - 2.1.3 (latest)

[2019-02-08 11:08] itshaman commented on #91
Hi
Any issues about "Update token" avalible now?

[2019-02-08 12:44] veliel commented on #97
Yes indeed I had an older version. I have downloaded my version from opencart store. That means your opencart store version dosn't include this fix please update it!

[2019-02-08 12:44] #97 closed

[2019-02-08 14:46] burkoyuriy commented on #93
I got into the problem. My problem is not a problem. It turns out that the module promotional prices works well, but the discount does not count. This is definitely the right decision.

[2019-02-08 15:51] shue249 commented on #98
@andrejuseu Thank you for the feedback. Few suggestions.

1. Did you install a earlier version of the plugin and then update to the latest version? If so, can I suggest for your to look into this post. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/63

2. Does the mysql user has rights to insert/edit the data in the oc_setting table? Our plugin relies on the same mysql user used

[2019-02-08 15:54] shue249 commented on #93
@burkoyuriy Thank you for the feedback. I am understanding that you have understand how our plugin sync the OpenCart product discounts to Facebook and you are able to resolve this problem.

Feel free to create a new ticket if you have any further questions.

[2019-02-08 16:01] shue249 commented on #92
@Khnaz35 Can you check if the admin, catalog and system folders on your OpenCart server have read+write folder permission recursively. We need to copy in some new files to your servers and if you are unable to see the permissions for the Facebook Ads Extension module on your server, it could be that the files are not copied over. After you give read+write permissions, uninstall the plugin and re-i

[2019-02-08 16:15] shue249 commented on #97
@veliel Thank you for your feedback.

The OpenCart store version is using this download URL - https://www.opencart.com/index.php?route=marketplace/download&extension_id=32336. We have checked and the version is the latest 2.1.3.

Earlier, we found that we have yet to update the version of the plugin on Facebook, resulting in Facebook still having a older version. This could be the reason why you a

[2019-02-08 20:15] saamani opened #99 "Update for latest OpenCart version v3.0.3.1"
Hi, will it support latest version 3.0.3.1
I want to install it please suggest me kindly...
Or please update it kindly...

[2019-02-08 20:16] shue249 commented on #99
@saamani Thank you for the feedback. Let us look into this and get back to you soonest.

[2019-02-08 20:24] shue249 commented on #54
@bobosg , @dalibordim I will like to follow up on this. If you are using OpenCart 3.x and above, it could be a cache issue. Can you disable the cache and do a refresh modifications.

![image](https://user-images.githubusercontent.com/11957585/52504109-65351a80-2c22-11e9-9ec1-84fd7f31fda4.png)
![image](https://user-images.githubusercontent.com/11957585/52504150-8269e900-2c22-11e9-9e1e-484705b1199a.

[2019-02-08 20:36] shue249 commented on #91
@itshaman We looked into the log file and it seems that the product sync with the access token is running fine. We will be putting in more logging mechanism in our next version and we like to invite you to help us troubleshoot this further with the additional logging, so that we can figure out where is the problem.

We wil update you soonest once the plugin is ready.

[2019-02-09 09:18] ustunsoz opened #100 "FAE settings are not saved successfully on the backend server. There are always missed settings"
Trying yo install Facebook ads extension more than 100 times and always getting same error on opencart side.

2019-02-09 8:59:26 - Updating FAE settings - facebook_pixel_id,facebook_pixel_use_pii
2019-02-09 8:59:26 - Complete - Updating FAE settings
2019-02-09 8:59:26 - Complete - Updating FAE settings
2019-02-09 9:00:17 - Updating FAE settings - facebook_page_id,facebook_messenger_activated,faceb

[2019-02-09 12:59] shue249 commented on #100
@ustunsoz Thank you for the feedback. May I understand what is your web store URL?

[2019-02-09 15:19] shue249 commented on #100
Possible duplicate as https://github.com/facebookincubator/Facebook-For-OpenCart/issues/91

[2019-02-09 16:12] ustunsoz commented on #100
getirgel.com

[2019-02-09 16:17] ustunsoz commented on #100
![screen1](https://user-images.githubusercontent.com/33930051/52523148-390baf00-2c9f-11e9-8ce6-1032ebff8c31.JPG)

it is not sam issue as #91

[2019-02-09 16:41] ustunsoz commented on #100
During Facebook extension setup process, it is creating a catalog under assets > catalogs.
But when it receives error, it is deleting catalog and failing.

I am trying manually creating a new catalog and assigning all necessary permission. also deleting such catalog during setup process

[2019-02-09 16:45] ustunsoz commented on #100
Setup process ending with below message
![image](https://user-images.githubusercontent.com/33930051/52523513-301cdc80-2ca3-11e9-84e1-d4f42764856b.png)

[2019-02-10 09:41] robteeshirtguy opened #101 "facebook module not automaticaly synced my product to my facebook catalog /shop"
facebook module not automatically synced my product to my facebook catalogue/shop my site is opencart 2.3.0.2 journal 3 themes new them
faceook module Plugin Version: 2.1.3
the facebook module does automatically sync my product when i first installed it but about 1 week after it been installed it does update the catalogue/shop on facebook
should i try unstalling the module from scratch again ??

[2019-02-10 15:21] itshaman commented on #91
I'd be happy to help you make it better
Any logs i can send you

[2019-02-11 09:17] andrejuseu commented on #98
@shue249 thank you for suggestions, but:

1. It's fresh 2.1.3 installation of extension.
2. If user didn't have MySQL rights - OC wouldn't work at all, so this is not a case.
3. By default cookie setting is set to TRUE, so EU shops will need a FALSE.

All settings that are needed for extension to work should be in install.php by default.

I didn't investigate more into this, but I think JS part is

[2019-02-12 00:13] am786 opened #102 "[OC 2.3.0.2] Extension does not load"
After installing Facebook and going to the module, it does not load. Receiving an error. https://prnt.sc/mjtdov

[2019-02-12 02:09] shue249 commented on #102
@am786 Thank you for your feedback. Can you look at this post and see if the solution helps you - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/77

[2019-02-12 02:49] shue249 commented on #101
@robteeshirtguy Thank you for your feedback. There are 2 things I like to understand.

1. Can you share how are you making changes to your product on OpenCart (adding new products, editing existing products and deleting products)? Are you using OpenCart's default product management module or a 3rd party extension to manage products?

2. Will you be able do the below test to verify if the product i

[2019-02-12 03:05] shue249 commented on #91
@itshaman Thanks for your help, this is valuable.

We did a double check again on your log file and found that there could be something wrong with the settings.

In particular, we found that there are no successful response for the product updates after 12th Jan.
![image](https://user-images.githubusercontent.com/11957585/52608348-9462ba80-2eb4-11e9-9ab7-e2a85653f8bc.png)

Will you be able to help

[2019-02-12 03:10] shue249 commented on #100
@ustunsoz Thank you for the feedback. Can I check on 3 things for you.

1. Can you capture again a latest screenshot of Facebook Ads Extension module and share here again.

2. Can you check if you have disabled the theme cache for OpenCart 3? We found that there are no pixels added to your website.
![image](https://user-images.githubusercontent.com/11957585/52608973-9cbbf500-2eb6-11e9-8fcf-321769e

[2019-02-12 03:42] shue249 commented on #98
@andrejuseu Thank you for the feedback. I want to share these suggestions, pls let me know if it makes sense.
1. Your client needs to disable our plugin's cookie bar as they have their own cookie bar in place.

2. Your client tried to uncheck the option to disable cookie bar but our plugin's cookie bar is still shown on the client's webstore.

If the above are correct, we may need more help/detail

[2019-02-12 11:36] ustunsoz commented on #100
1. I have deleted the settings and reprocess the module but this time it is not finished with success:
![image](https://user-images.githubusercontent.com/33930051/52632569-fdf1c180-2ed2-11e9-84a3-491d169ea142.png)
![image](https://user-images.githubusercontent.com/33930051/52632608-15c94580-2ed3-11e9-9f39-87c78aea7be0.png)

2. The heme cache was on, according to your instruction I have disabled be

[2019-02-12 11:44] ustunsoz commented on #100
I am selecting the pixel properly during setup, but it is not ending with success
![image](https://user-images.githubusercontent.com/33930051/52633190-b1a78100-2ed4-11e9-867f-3197749f77ef.png)

[2019-02-12 11:51] ustunsoz commented on #100
The latest log file recorded as follow:
2019-02-12 11:49:13 - Updating FAE settings - facebook_page_id,facebook_page_token
2019-02-12 11:49:13 - Complete - Updating FAE settings
2019-02-12 11:49:16 - Sync all products using feed
2019-02-12 11:49:16 - Failure - no catalog, page or access token, sync all products using feed
2019-02-12 11:50:12 - Deleting FAE settings
2019-02-12 11:50:12 - Complete -

[2019-02-14 13:40] prosenjeet123 opened #103 "Https links are malicious"
It was working fine and i was doing advertising as well but suddenly it stopped working and started throwing errors in catalog , attaching screenshot of the errors and help me to sort this out.
https://prnt.sc/mk1fh5
https://prnt.sc/mk1fvc
https://prnt.sc/mk1g7f

[2019-02-15 10:17] sirericg commented on #100
I am experiencing the same issue. Did you find a solution.

[2019-02-15 10:53] sirericg opened #104 "Error at setup, products don't upload; pixels not fired for v2.1.5"
I have tried setting up the plugin mutiple times but I get the same error.
Log as follows
2019-02-15 7:48:08 - Get Sample product feed
2019-02-15 7:48:08 - Complete - Get Sample product feed
2019-02-15 7:49:54 - Updating FAE settings - facebook_pixel_id,facebook_pixel_use_pii
2019-02-15 7:49:55 - Updating FAE settings - facebook_page_id,facebook_page_token
2019-02-15 7:49:55 - Updating FAE setting

[2019-02-15 12:01] sameersb opened #105 "Only worked on first time setup!"
After installing and setting up facebook ads extension, it automatically created the catalog of all the products properly. But then onwards, it did not resynced the products automatically (We update products with export/import extension). If I assume it does not resync when products updated with export/import extension, it should at-least import and update the products again when I click "Fetch No

[2019-02-15 17:13] shue249 commented on #103
@prosenjeet123 Thank you for the feedback. Currently your website URL is marked as malicious by Facebook. You can reach to the Facebook team at https://www.facebook.com/help/contact/571927962827151 and share with them context on your website and request for them to review your website URL again.

We will close off this issue for now, but pls feel free to reach to us if you have any further questio

[2019-02-15 17:13] #103 closed

[2019-02-15 17:15] shue249 commented on #100
@ustunsoz We require more information from you in order for us to continue to investigate further. Can you reach to us at ads_extension_opencart@fb.com so that we can reach to you privately?

[2019-02-15 17:16] shue249 commented on #100
@sirericg We see that you have created a separate ticket. Let us follow up from there. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/104

[2019-02-15 17:16] shue249 commented on #104
@sirericg Can I understand how many products do you have on your website?

[2019-02-15 17:19] shue249 commented on #105
@sameersb Thank you for the feedback. Our plugin does not support integration with 3rd party product management modules, and most likely that is why the product changes from the export/import extension did not sync to Facebook catalog.

Our plugin integrates with the OpenCart default product management module. For more details you can check on this post https://github.com/facebookincubator/Faceboo

[2019-02-15 17:20] shue249 commented on #95
@xrist0s29 We will be closing out this ticket. Feel free to reach to us again if you have any further questions.

[2019-02-15 17:20] #95 closed

[2019-02-15 17:21] shue249 commented on #94
@oguzhansari We will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-02-15 17:21] #94 closed

[2019-02-15 17:21] shue249 commented on #93
@ryanstacey  We will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-02-15 17:21] #93 closed

[2019-02-15 17:26] shue249 commented on #90
@slaventiy92 Wondering if there is any updates from your side that you can share with us for us to continue checking this.

[2019-02-15 17:30] shue249 commented on #75
@adedolaisaac I want to follow up with you on this issue, as we have a new idea.

For OpenCart v3.0.2.0, you need to disable the theme cache for the UI modifications to take effect. Can you look at this screenshot and see if it helps you. https://drive.google.com/open?id=1bY-bworYxX36b88HDvFW0_32C3Wtq_Tm

[2019-02-15 17:33] sameersb commented on #105
Thanks for the reply.
But there is one more important issue in my comment. So I am repeating that part of the comment.
On clicking "Fetch Now" button, it never update the products and the worst thing is that, my store get completely hanged and for hours I can not do anything with my store down for hours (I cant even access admin area). Then I have to deactivate all my Facebook Ads for hours. Pleas

[2019-02-15 18:28] sirericg commented on #104
@shue249 I have a total of 58 products

[2019-02-15 19:48] shue249 commented on #104
@sirericg Will you be able to provide us your web store URL?

[2019-02-15 19:50] shue249 commented on #100
@ustunsoz Will you also be able to provide us your webstore URL?

[2019-02-15 19:51] sirericg commented on #104
@shue249  my store url are https://www.blok.co.ke/

[2019-02-15 19:52] shue249 commented on #105
@sameersb Thanks for the feedback and apologies for missing out on the "Fetch Now" button. Can you provide us a screenshots of which is the Fetch Now button that you are referring to.

[2019-02-15 20:27] shue249 commented on #104
@sirericg Can I understand if you have disabled the theme cache on OpenCart 3.x? If the theme cache is not disabled, the pixel will not be added to your webstore.
https://drive.google.com/open?id=1bY-bworYxX36b88HDvFW0_32C3Wtq_Tm

[2019-02-15 20:36] sirericg commented on #104
Yes , I have disabled the the theme cache

[2019-02-15 21:14] DeniDay opened #106 "There is an error with Facebook Ads Extension setup ocStore 2.3.0.2.3"
Good evening!
After installing the module, there is a large load on the database and the site gives 500 error until you remove the module. What is the problem?

Version ocStore 2.3.0.2.3. And how to create XML by crown?
My site: prizma-ua.com

[2019-02-15 21:16] DeniDay commented on #106
http://prntscr.com/mlor77 log

[2019-02-16 00:28] shue249 commented on #106
@DeniDay Thank you for the feedback.
1. How many products do you have on your website?
2. Where do you encounter the 500 error? Will you be able to share a snapshot of your webserver error log for that 500 error?

[2019-02-16 10:55] DeniDay commented on #106
1. More 15 000
2. http://prntscr.com/mlor77 log (snapshot)
3. Why there is no cron, so the system would not be loaded?

[2019-02-16 12:27] sameersb commented on #105
![facebookadsextension](https://user-images.githubusercontent.com/40753234/52898756-c1da9b80-3207-11e9-81c2-c2372dda8c5d.png)
The screenshot is attached.... This window opens on clicking "Manage Settings" button

[2019-02-17 01:50] shue249 commented on #91
@itshaman Wondering if you have performed the tests and if there's any results from your tests?

[2019-02-17 02:26] shue249 commented on #106
@DeniDay Thank you for the feedback.

The reason for the problem is most likely due to the large number of products on your OpenCart server. When you completed the initial setup of Facebook Ads Extension, the plugin will attempt to retrieve out all the products in order to generate the catalog feed file and send to Facebook. The retrieval of all products is done in batches of 100, but even so, it

[2019-02-17 15:26] DeniDay commented on #106
@shue249 I have got a server

- System | Linux prizm115.vds 3.16.0-6-amd64 #1 SMP Debian 3.16.57-2 (2018-07-14) x86_64
- Build Date | Jun 26 2018 17:26:32
- Server API | Apache 2.0 Handler

But, I have not problem with any modules, which I use for import/export on any sites. If I turn on your module, that my sites 10 min gives 500 error and I gives them:
[code]

****

[2019-02-18 00:57] shue249 commented on #92
@Khnaz35 We will be closing out on this issue, but pls feel free to reach out to us if you have any further questions.

[2019-02-18 00:57] #92 closed

[2019-02-18 01:12] Khnaz35 commented on #92
Thanks for trying your best to resolve the issue anyway it doesn't help.  I have uploaded it via FTP and it's work

[2019-02-18 03:52] sameersb commented on #105
Finally it worked with "Resync Products to Facebook" button. Thanks for your support.

[2019-02-18 03:52] #105 closed

[2019-02-18 04:04] sameersb opened #107 "Purchase pixel event not fired with guest checkout"
Purchase pixel event is fired properly when customer registers and makes a purchase. But it does not fire purchase pixel event if any customer makes a purchase with "Guest Checkout" i.e. without registering.

[2019-02-18 07:37] itshaman commented on #91
In Graph Explorer I got error.
Realy I change my pass at FB.
It happens usualy. FB write me "You page is hacked, lets change password"

How can I renew access token after change pass of my fbpage?

"message": "Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for security reasons.",
    "type": "OAuthExceptio

[2019-02-20 12:24] Bankina opened #109 "Facebook ads extension error"
Hello. I installed it, followed the instructions and this error keeps showing " There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Github if this error keeps showing."
I did that. Nothing changed.

[2019-02-20 13:00] Bankina commented on #109
P.S. OC 3.0.2.0

[2019-02-21 05:52] cadmiumc commented on #75
@shue249 Hi, Thanks for your effort to the extension!  I have a similar issue to adedolaisaac.
Aim: Everything worked smoothly but cannot disable the cookies setting.
OC Version: 3.0.3.1
Plugin Version: 2.1.3 (firstly installed Plugin Version: 2.0.3, switch to the lastest version now.)
- I have installed the extension correctly (I think so, because I dont have the error log raised in modification.

[2019-02-22 10:22] shue249 commented on #109
@Bankina Thank you for your feedback. Few questions.

1. How many products do you have on your OpenCart store?

2. What is your webstore URL?

[2019-02-22 10:22] shue249 commented on #107
@sameersb Thank you for your feedback.

Can you share with us your webstore URL?

[2019-02-22 10:52] shue249 commented on #75
@cadmiumc Thank you for your feedback. Can you take a look if this post helps you https://github.com/facebookincubator/Facebook-For-OpenCart/issues/63

[2019-02-22 10:54] shue249 commented on #91
@itshaman In this case, this is a case of the access token being invalidated. Can you share with me a screenshot of the Facebook Ads Extension module on your OpenCart again.

[2019-02-22 11:40] Bankina commented on #109
Hello,

18544 in the moment.

https://abarauto.bg/

[2019-02-22 12:50] ysn opened #110 "Multi Currency"
No multi currency support..
So I can't use the module.
Will you add multiple currencies?

[2019-02-22 14:16] ysn commented on #110
db: after price, currency_id.

system/library/cart/currency.php:
search: $this->currencies[$result['code']] = array(
after: 'currency_id'   => $result['currency_id'],
search: public function getSymbolLeft($currency) {
before:
public function getId($currency) {
		if (isset($this->currencies[$currency])) {
			return $this->currencies[$currency]['currency_id'];
		} else {
			return 0;
		}
	}

search:

[2019-02-22 17:00] wichystar opened #111 "facebook pixel in opencart"
Hi I install facebook ads extension and  say this

There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Github if this error keeps showing.

my version of opencart  is Version 3.0.3.1

my site is   http://www.ofertas.coolwatches.website/

[2019-02-22 17:05] HelgiSikoRa opened #112 "Messenger plugin - it is not displayed on website"
I've just installed module. Pixel and product sinc working well but i faced issue with messenger plugin - it is not displayed on website. I enabled plugin in this module and also tried placing the generated code on business page after the opening <body> tag but no one case doesn't work.
website: sweater.in.ua
CMS version 2.3.0.2

[2019-02-22 22:00] micorrado opened #113 "After Syncing Products with facebook store problem with checkout link to SEO Url page product"
Hi,

I have recently pass all my pages of my opencart store to SEO url , i have delete pixel and setup again config but after have get back all product on my facebook store page there is a problem when you click on checkout URL , link is not good , link send to a bad page and customer is redirect to homepage

Actually i have disable link to my facebook store page and i have re create all my produc

[2019-02-23 01:22] shue249 commented on #109
@Bankina The reason for the failure could be due to out of memory when fetching all the products for the initial product sync. Are you selling all the products on your store? Will you be able to disable products which are no selling anymore?
https://github.com/facebookincubator/Facebook-For-OpenCart/issues/72

[2019-02-23 01:54] shue249 commented on #90
@slaventiy92 We will proceed to close off this ticket, but pls feel free to reach to us if you have any further questions.

[2019-02-23 01:54] #90 closed

[2019-02-23 01:56] shue249 commented on #102
@am786 We will proceed to close off this ticket first, feel free to reach to us if you have any further questions.

[2019-02-23 01:56] #102 closed

[2019-02-23 02:08] shue249 commented on #91
@itshaman We have released a latest version of the plugin, v2.1.4. Can you access the Facebook Ads Extension module, download the log file and share the log file with us for us to take a look at the additional logs.

[2019-02-23 02:10] shue249 commented on #82
@papke88
We have released a latest version of the plugin, v2.1.4 and can be downloaded from OpenCart marketplace or our github. The new version will resolve the issue with SEO URL.

https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336
https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.4

We will close out this ticket for now, but pls do r

[2019-02-23 02:10] #82 closed

[2019-02-23 02:11] shue249 commented on #61
@drewnya
We have released a latest version of the plugin, v2.1.4 and can be downloaded from OpenCart marketplace or our github. The new version should resolve your issue with SEO URL.

https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336
https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.4

Can you try out the new version of the plugin an

[2019-02-23 02:12] shue249 commented on #80
@HunKiat
We have released a latest version of the plugin, v2.1.4 and can be downloaded from OpenCart marketplace or our github. The new version will resolve the issue with "Undefined index". You can verify this by going to your product details page and adding products to cart. You should be able to see the AddToCart pixel fired.

https://www.opencart.com/index.php?route=marketplace/extension/info&

[2019-02-23 02:12] #80 closed

[2019-02-23 02:13] shue249 commented on #54
@bobosg , @dalibordim

We have released a latest version of the plugin, v2.1.4 and can be downloaded from OpenCart marketplace or our github. The new version will resolve the issue with SEO URL.

https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336
https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.4

We will close out this ticket for now

[2019-02-23 02:13] #54 closed

[2019-02-23 02:16] shue249 commented on #107
@sameersb We have tested on our sites and the Purchase pixel is fired for "Guest Checkout".

Can I understand if you are using any 3rd party extensions for checkout.

![image](https://user-images.githubusercontent.com/11957585/53280354-0f00c500-3754-11e9-991b-e3a399dafd5e.png)

[2019-02-23 02:25] shue249 commented on #110
@ysn Thank you for your feedback. Can you explain more on multi-currency for us to better understand your request. If you can provide screenshots, that will help us understand better.

At the moment, our plugin is supporting the firing of pixels with the right currency on the web store. Pls see the below screenshots for an example.
![image](https://user-images.githubusercontent.com/11957585/532803

[2019-02-23 02:27] shue249 commented on #111
@wichystar Thank you for your feedback. Can we understand how many products do you have on your webstore?

We will like to also inform you that we are still in the progress of testing the compatibility of our plugin with version 3.0.3.1.

[2019-02-23 02:30] shue249 commented on #112
@HelgiSikoRa
We have released a latest version of the plugin, v2.1.4 and can be downloaded from OpenCart marketplace or our github. The new version will resolve your issue with the Messenger chat plugin.

https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336
https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.4

We will close out this ticke

[2019-02-23 02:30] #112 closed

[2019-02-23 02:31] shue249 commented on #113
@micorrado

Can you share your website URL and your Facebook page for us to understand the issue better.

[2019-02-23 06:34] micorrado commented on #113
@shue249

My Webpage : https://www.2ememain.ovh/

My facebook page : https://www.facebook.com/2ememain.ovh

Have a nice day

[2019-02-23 08:18] papke88 commented on #82
Thanks!

Regards,
Rokas V.

[2019-02-23 10:17] Bankina commented on #109
@shue249 Yes. I sell them all. I have even more, so I can't reduce them. Any solution?

[2019-02-24 06:07] shue249 commented on #109
@Bankina Are you using MYSQL database? If so, can you try to increase the wait_timeout and max_allowed_packet variables of your MYSQL server.

You can refer to the section "Syncing of OpenCart products to Facebook catalog" in our FAQ - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md

[2019-02-24 07:19] shue249 commented on #106
@DeniDay  Are you using MYSQL database? If so, can you try to increase the wait_timeout and max_allowed_packet variables of your MYSQL server.

You can refer to the section "Syncing of OpenCart products to Facebook catalog" in our FAQ - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md

[2019-02-24 21:38] DeniDay commented on #106
@shue249 I need ocmod from you, which uploads on Facebook the price not from the admin panel, but the one that the user sees already on the site. Since I have a module that charges the brand, depending on the group of customers: wholesale or retail.

[2019-02-25 16:13] itshaman commented on #91
[afterUpdateFBAds.txt](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2901352/afterUpdateFBAds.txt)

Ohh,

[2019-02-25 18:43] itshaman commented on #91
When I update product
![default](https://user-images.githubusercontent.com/16690535/53360197-f6580100-3945-11e9-9fcc-39f338ed68de.png)
Go to Facebook Ads Extention
![default](https://user-images.githubusercontent.com/16690535/53360278-2b645380-3946-11e9-8055-3eb52abadc78.png)
Enter to Settings
![default](https://user-images.githubusercontent.com/16690535/53360332-5353b700-3946-11e9-9778-70e24c4801

[2019-02-25 18:45] itshaman commented on #91
[lastLog.txt](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2902119/lastLog.txt)

[2019-02-25 18:51] itshaman commented on #91
I try to generate token in Graph API Explorer
But There i must to create aplication to give it access to page (((
I have admin permission on both of page/site
Button "Renew Access Token" will make happy many people, i think.
Facebook usualy ask me to change password - > it broke token to page & stoping work of modules

[2019-02-26 06:12] shue249 commented on #113
@micorrado We have took a look at one example of the product URL link and it shows up fine. As you have disabled the original facebook page shop, we are unable to verify on our side. Can you re-do the Facebook Ads Extension setup again, and then share with us a product on the page shop where the link is wrong (link sends to an empty page and consumer is directed to homepage), so that we can verify

[2019-02-26 06:49] drewnya commented on #61
Everything is working. Thanks.

[2019-02-26 06:49] #61 closed

[2019-02-26 07:10] micorrado commented on #113
@shue249

Helllo

I have update facebook ads extension with last update and i have re enable pixel link with my facebook store page .

Could you re check now ?

Thanks

[2019-02-26 07:14] micorrado commented on #113
@shue249

After re enabling facebooks links , problem is again present , when you click on links to webpage on an article , a bad page is open and you are only on main web page of the site

[2019-02-26 07:32] shue249 commented on #113
@micorrado Thanks for the quick response. We have found this observation and will like to offer this suggestion to the cause of the problem.

Observation:
1. The URL links on the page shop is shown as below. Notice that the URL link has this %2F
![image](https://user-images.githubusercontent.com/11957585/53394479-61ebae00-39da-11e9-98e0-daceee4de1ce.png)
2. %2F is the URL encoding for the "/" char

[2019-02-26 07:39] micorrado commented on #113
Thanks i will try this solution

I don't known very much into apache command , i will try to undertsand how i make that

Have a nice day

[2019-02-26 07:58] micorrado commented on #113
@shue249

Ok it's done i have add NE on somes intrusction lines on my .htaccess file and now url redirection work

Thanks to you to have look my problem

[2019-02-26 10:38] shue249 commented on #113
Great to hear that. We will be closing off this issue, feel free to reach to us if you have any further questions.

[2019-02-26 10:39] #113 closed

[2019-02-26 11:24] shue249 commented on #91
@itshaman Thank you for the feedback. Our plugin has the mechanism to be able to "Renew Access Token", but we are not sure why it did not appear successfully for you.

Alternatively, will you be able to re-do the Facebook Ads Extension setup again? This means for you to delete away the existing settings and complete the setup again? In this case, the access token will be updated as the correct one

[2019-02-26 11:43] shue249 commented on #76
@rutar111 We have evaluated on supporting SEO url for the products on Facebook. Due to the underlying database structure of how the SEO urls are stored (SEO data are stored on separate tables url_alias or seo_url, depending on the OpenCart version), there will be a decrease in the performance when performing the initial catalog sync to Facebook. This may cause extra load on the database server, es

[2019-02-26 11:44] shue249 commented on #51
@tuananh8127 We have evaluated on supporting SEO url for the products on Facebook. Due to the underlying database structure of how the SEO urls are stored (SEO data are stored on separate tables url_alias or seo_url, depending on the OpenCart version), there will be a decrease in the performance when performing the initial catalog sync to Facebook. This may cause extra load on the database server,

[2019-02-26 15:09] ysn commented on #110
hi,
u must use the currency library.  system/library/cart/currency.
not necessary for default currency.

example, extension/feed/google_base:

[code]
`$this->currency->format`
takes care of all this problem..

Sorry for my english. did i tell?

[2019-02-26 15:15] ysn commented on #110
example:

catalog/controller/product/product.php

[code]

if you use this way there is no problem..

[2019-02-26 19:12] itshaman commented on #91
It will delete all my catalog and pixels in buisnes.facebook.com?
After last so peration, at my fb page deleted storage ang all my collection of it.

[2019-02-27 04:24] shue249 commented on #106
@DeniDay Can you help us to create another ticket on this price issue and share some screenshots to illustrate your requirement. Perhaps you can use few products as an example.

[2019-02-27 14:09] zigi00x opened #114 "Rights problem?"
Hello, i have a problem with the rights when installing the fb module everything is going to be fine, then I click on facebook dashboardwill list this error ↓, the privileges I have all the files set at 770 uninstall install did not help, is there any other solution? My e-shop is  i have renamed admin folder. oc version 3.0.2.0 error log is empty

Facebook Ads Extension
There are problems with the

[2019-02-27 14:27] zigi00x commented on #114
![vystrizek](https://user-images.githubusercontent.com/1354349/53497324-392feb00-3aa4-11e9-8ba0-fee9c2c0c71c.PNG)
![vystrizek1](https://user-images.githubusercontent.com/1354349/53497333-3c2adb80-3aa4-11e9-847d-a099d61707bb.PNG)

[2019-02-28 11:16] shue249 commented on #114
@zigi00x Thanks for the feedback. Here are some suggestions.
1. Can you check the folder permissions for the OpenCart root folder (public_html), as well as the admin, catalog and system folders. What are the folder permissions?
2. Can you also try to give the folders 775 permission
3. We have a similar issue reported by other user here - https://github.com/facebookincubator/Facebook-For-OpenCart/i

[2019-02-28 11:22] zigi00x commented on #114
Hi, i try it but nothing work, I can give you FTp access data and we can look at it together.

[2019-02-28 11:26] zigi00x commented on #114
![vystrizek2](https://user-images.githubusercontent.com/1354349/53563338-0c3b1100-3b54-11e9-86db-85441b856779.PNG)
![vystrizek](https://user-images.githubusercontent.com/1354349/53563332-034a3f80-3b54-11e9-9104-eda9f1dc2495.PNG)

[2019-03-01 02:21] shue249 commented on #114
@zigi00x We have 2 follow up suggestions.
1. Unzip the plugin file. From the unzipped folder copy the contents of the admin, catalog and system folders into your OpenCart web folder.

2. Check if the files that are copied over have execute options.

[2019-03-01 02:33] shue249 commented on #110
@ysn Thank you for the feedback.

Our plugin setup the Facebook pixel and sync the OpenCart products to Facebook catalog.
The earlier example and screenshots we shared are for the Facebook pixel.

For the Facebook catalog, we are only supporting for a single currency and hence we are using the default currency and price of the OpenCart products.

We will mark this request as an enhancement on how

[2019-03-01 02:34] shue249 commented on #107
@sameersb Like to follow up on this. Are you still having problems with the guest checkout on your webstore? Are you using any 3rd party extensions?

[2019-03-01 03:30] shue249 commented on #91
@itshaman Deleting and re-setup pf the Facebook Ads Extension will delete the existing catalog and re-create a new catalog. There is another alternative if you do not wish to redo the setup. The steps are below:
1. Access the Facebook Ads Extension module on your OpenCart admin panel
2. Launch the Javascript console
![image](https://user-images.githubusercontent.com/11957585/53614531-41f3fe80-3c15

[2019-03-01 03:33] shue249 commented on #100
@ustunsoz We have taken this offline and you have resolved this issue by re-installing your OpenCart website. We will be closing out this issue.

[2019-03-01 03:33] #100 closed

[2019-03-01 03:34] shue249 commented on #75
@adedolaisaac We will be closing out this issue, but pls feel free to reach to us if you have any further questions.

[2019-03-01 03:34] #75 closed

[2019-03-01 03:35] shue249 commented on #98
@andrejuseu Like to follow up with you if you have any further feedback.

[2019-03-01 07:58] zigi00x commented on #114
I got the problem by reinstalling the opencart..

[2019-03-01 12:15] shue249 commented on #114
@zigi00x Thank you for the feedback. Can I understand that you have solved the problem and the plugin is now working properly for you.

[2019-03-01 12:18] shue249 commented on #104
@sirericg We have checked on your website and the plugin changes are now in place (previously the changes are not in place).

We have a latest version of the plugin, 2.1.4. Can you try to install the plugin and re-do the Facebook Ads Extension setup again and let us know if it works for you. If not, can you download the log file and share the file here.

https://github.com/facebookincubator/Facebo

[2019-03-01 12:32] zigi00x commented on #114
Yes the problem has been solved and the plugin works fantastically :)

[2019-03-02 01:35] shue249 commented on #114
@zigi00x Great to know that the plugin works for you. Feel free to reach to us if you have any further questions. We will be closing out this issue.

[2019-03-02 01:35] #114 closed

[2019-03-02 01:39] shue249 commented on #83
@magixrys We have released a latest version 2.1.5 which provides you the feature to customise the Messenger chat plugin on the locale, welcome greeting message and the theme colour. You can view the setup on this video guide - https://drive.google.com/open?id=1XubpAUFYw6m7lB9A8RqrdOPq3IjEQvIq

You can download the latest plugin from OpenCart marketplace or our github.
https://www.opencart.com/inde

[2019-03-02 01:39] #83 closed

[2019-03-02 01:42] shue249 commented on #99
@saamani We have released a latest version 2.1.5 which we verified that our plugin is compatible with Opencart v3.0.3.1.

You can download the latest plugin from OpenCart marketplace or our github.
https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336
https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.5

We will be closing out this issue.

[2019-03-02 01:42] #99 closed

[2019-03-02 01:43] shue249 commented on #88
@slaventiy92  We have released a latest version 2.1.5 which fixes the error of "Undefined index: filter_category_id"

You can download the latest plugin from OpenCart marketplace or our github.
https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336
https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.5

We also like to circle back on the cata

[2019-03-02 12:09] sirericg commented on #104
Hi, the plugin has installed successfully, all products have been sync but the pixel is not active on my website. See attached.
![pixel](https://user-images.githubusercontent.com/47660981/53681622-31b74e80-3cfd-11e9-97e4-4519241caf7c.jpg)

[2019-03-03 01:12] shue249 commented on #104
@sirericg Here are our thoughts. Let us know if this makes sense to you.
1. When we view-source for your website, we can find the presence of the pixel firing codes but the pixel id not retrieved from the setting. Resulting in the pixel not fired.
![image](https://user-images.githubusercontent.com/11957585/53689570-1a777000-3d94-11e9-92d4-5eda97f98803.png)
2. Can you install the latest version, 2.

[2019-03-06 03:31] RamseyKal commented on #41
Hi, I am wondering if there has been any progress for creating a vQmod module? I'm interested in this. Thanks!

[2019-03-06 03:59] shue249 commented on #41
@RamseyKal thank you again for checking back with us and your continued interest and support for the plugin.

The support for vqmod is still on our roadmap. We were not able to prioritize this feature yet as we have been fixing and addressing other issues reported by other users. We want to ensure the best experience for you and other users when the support for vqmod is ready, so pls do bear with

[2019-03-08 14:03] SergejsRo opened #115 "Facebook pixel is not firing"
Hi,

After installing new version of FB for opencart, pixel is not firing anywhere on site.
However, product are updated to FB catalogue.
Please help find the solution.
Opencart version 2.2.0.0
site: www.vaveritesgiftshop.eu
www.voverytesbutkelis.lt uses old version, and there pixel fires, but seems it not working properly.

[2019-03-08 20:08] Hristow opened #116 "Only ViewContent and ViewCategory events are fired on v2.1.5"
Pixel working only on Product pages with PageView and ViewContent events. All other events don't work.  Can you help me with that problem?
Opencart Version 2.1.0.2
Site: https://nevakids.bg/

[2019-03-09 06:19] nichinu commented on #116
Same with me... the last purchase event was around 10 days ago. So may be it happened after last update. I am using opencart 3.0.2 and Journal 3 theme.

[2019-03-09 06:19] nichinu commented on #115
Same with me... the last purchase event was around 10 days ago. So may be it happened after last update. I am using opencart 3.0.2 and Journal 3 theme.

[2019-03-09 08:47] SergejsRo commented on #115
Tried to switch different themes and default theme, all is the same.

[2019-03-09 08:48] nichinu commented on #115
yeah.. it was working fine before the last update...

[2019-03-09 08:49] nichinu commented on #115
pixel is only firing for "view content" and "pageview"

[2019-03-10 01:30] shue249 commented on #111
@wichystar We have released a new version of the plugin, 2.1.5, which you can obtain from OpenCart marketplace or our github. https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.5

We will be closing out this ticket, pls feel free to reach to us if you have any further questions

[2019-03-10 01:30] #111 closed

[2019-03-10 01:34] shue249 commented on #115
@SergejsRo Thank you for your feedback. We have a few questions.
1. What is the plugin version?
2. Can you share the log file from Facebook Ads Extension?
![image](https://user-images.githubusercontent.com/11957585/54079456-be729580-4317-11e9-9a3d-c4f6dd4a6e79.png)

To provide more context. We find that the pixel code is correctly injected on your website by the plugin, but there is no pixel id at

[2019-03-10 01:35] shue249 commented on #115
@nichinu Can you share your website, plugin version number and the log file?

[2019-03-10 01:46] shue249 commented on #116
@Hristow and @nichinu We will like to see if the problem is due to our recent plugin changes. Will you be able to revert back to the earlier version of 2.1.3 and see if the pixels are able to fire correctly through pixelhelper.

https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.3

[2019-03-10 04:31] nichinu commented on #115
www.ComicSense.xyz, i have the latest plugin 2.1.5 and have attached the log file.
I will also try the older plugin as suggested by you in the other thread and let you know.
[ComicSense.xyz_2019-03-10_04-29-54_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2949063/ComicSense.xyz_2019-03-10_04-29-54_facebook_ads_extension.log)

[2019-03-10 05:20] nichinu commented on #115
After reinstalling the earlier version 2.1.3 its working properly. all the events are firing now.

[2019-03-10 08:36] SergejsRo commented on #115
Now I installed again 2.1.5 version and no fires on www.vaveritesgiftshop.eu
[Vaverites Gift Shop_2019-03-10_10-31-39_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2949224/Vaverites.Gift.Shop_2019-03-10_10-31-39_facebook_ads_extension.log)

Same situation is with www.voverytesbutikelis.lt just now there is older plugin version 2.1.2

[2019-03-10 09:23] SergejsRo commented on #115
@shue249  At www.voverytesbutikelis.lt it fires only on main page and checkout/success with plugin version 2.1.2

[2019-03-10 12:33] Hristow commented on #116
I changed to old version 2.1.3 and now does not work ViewContent and ViewCategory events. All the others are working. Can you look and fix that?

[2019-03-10 16:32] zigi00x opened #117 "Rename admin folder"
Hello i renamed admin folder and get some errors, so extension not work properly, where i find settings to change way to the new renamed admin folder?? Sorry for my english...

[2019-03-11 03:16] shue249 commented on #115
@nichinu Your case of pixel not firing may be different from @SergejsRo . Can we ask for you to create a separate ticket so we follow up accordingly.

[2019-03-11 10:07] nichinu commented on #115
Sure

[2019-03-11 10:08] nichinu opened #118 "Only ViewContent is fired on v2.1.5"
All Facebook pixels except viewcontent, and page view stopped firing after latest update. I have swtiched back to version 2.1.3 as suggested by you in other thread. Everything is working fine now.

[2019-03-11 10:32] lcfigo opened #119 "facebook ads extension error opencart 3.0.2.0"
Warning: Use of undefined constant INITIAL_PRODUCT_SYNC_EXCEPTION_MESSAGE - assumed 'INITIAL_PRODUCT_SYNC_EXCEPTION_MESSAGE' (this will throw an Error in a future version of PHP) in /home/kog89pdba7qu/public_html/admin/controller/extension/facebookproducttrait.php on line 219

facebooks ads extension works well but always show this error in the panel admin.
more than 18000 products, can any one he

[2019-03-11 11:35] Emwestside commented on #72
Am having similar problem, but how do i adjust batch volume to 1000 products.
thanks

[2019-03-11 14:17] shue249 commented on #119
@lcfigo We have a latest version of the plugin, v2.1.5, which fixes this problem. Can you remove and install this latest version and see if it helps you to solve the problem. https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.5

Also, we suspect the catalog sync may not be completed successfully. In this case, can you delete away the existing Facebook Ads Extension settin

[2019-03-11 14:21] shue249 commented on #117
@zigi00x We have some guidelines on how to do this in our install_guide. You may want to refer here https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#pre-requisites-prior-to-installing-the-plugin

[2019-03-11 14:23] shue249 commented on #116
@Hristow Are you using an SEO plugin to change the URL for product and category pages?

[2019-03-11 14:24] shue249 commented on #116
Summary on the problem:
On v2.1.3 - all events work except for ViewContent and ViewCategory
On v2.1.5 - Only ViewContent and ViewCategory work, all other events do not work

[2019-03-11 14:32] shue249 commented on #115
@SergejsRo Are you using any SEO plugin?

[2019-03-11 14:35] shue249 commented on #72
@Emwestside You can adjust the number on this file on your webserver, after you installed the plugin.
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/library/facebookcommonutils.php#L113

[2019-03-11 14:39] shue249 commented on #118
@nichinu Thanks for your feedback. We will like to investigate deeper on why the latest version of the plugin did not work for you.

Will you be able to help us with some troubleshooting?
1. Clear away the modifications log file
2. Remove the 2.1.3 plugin and install the 2.1.5 plugin
3. Copy out the modifications log and share with us
4. You can replace back the 2.1.3 plugin after this test.

We l

[2019-03-11 15:24] Hristow commented on #116
URL on all products and categories are entered manually.

[2019-03-12 08:32] Emwestside commented on #72
Thanks for your help adjusting the number doesn't seem to work, I have 1072
products to upload, any other solution to try? Thanks

On Monday, March 11, 2019, shue249 <notifications@github.com> wrote:

[2019-03-12 11:05] SergejsRo commented on #115
@shue249 no, I am using only default opencart seo urls

[2019-03-12 11:39] nichinu commented on #118
After installing 2.1.5:
"
2019-03-12 11:38:20 - MOD: Modification Default

FILE: system/engine/action.php
REGEX: ~(require|include)(_once)?\(([^)]+)~
LINE: 69

FILE: system/engine/loader.php
REGEX: ~(require|include)(_once)?\(([^)]+)~
LINE: 77
LINE: 151
LINE: 168

FILE: system/library/config.php
REGEX: ~(require|include)(_once)?\(([^)]+)~
LINE: 59

FILE: system/library/language.php
REGEX: ~(requir

[2019-03-12 11:39] nichinu commented on #118
after installing 2.1.3
"
2019-03-12 11:38:56 - MOD: Modification Default

FILE: system/engine/action.php
REGEX: ~(require|include)(_once)?\(([^)]+)~
LINE: 69

FILE: system/engine/loader.php
REGEX: ~(require|include)(_once)?\(([^)]+)~
LINE: 77
LINE: 151
LINE: 168

FILE: system/library/config.php
REGEX: ~(require|include)(_once)?\(([^)]+)~
LINE: 59

FILE: system/library/language.php
REGEX: ~(require

[2019-03-12 11:41] nichinu commented on #118
also like mentioned in issue #116
On v2.1.3 - all events work except for ViewContent and ViewCategory [i don't need these two, just informing]
On v2.1.5 - Only ViewContent and ViewCategory work, all other events do not work

[2019-03-12 14:26] Emwestside commented on #115
@shue249 kindly assist pixels are also not firing. Thanks

[2019-03-13 09:17] Hristow commented on #116
Can you look at the code where the problem is? I can give you FTP and Admin access on email?

[2019-03-13 09:27] Emwestside opened #120 "Facebook Pixel not working"
Kindly assist facebook pixel not firing also the FB chat doesn't show up on the website product catalog already updated.
olmartstores.com

[2019-03-13 12:48] Emwestside commented on #116
am having similar problem of pixel not showing up, also i use an SEO extension to change the URL, what do i do to fix this problem. Thanks

[2019-03-14 00:01] shue249 commented on #115
@Emwestside As you have created a separate ticket https://github.com/facebookincubator/Facebook-For-OpenCart/issues/120, lets follow up your issue there instead of diluting this thread.

[2019-03-14 00:33] shue249 commented on #120
@Emwestside Can we check if you have setup the Facebook Ads Extension? Also which version of th e plugin are you using?

[2019-03-14 04:19] Emwestside commented on #120
Sure, what details do you need? Am using the latest version of the
extension.

On Thursday, March 14, 2019, shue249 <notifications@github.com> wrote:

[2019-03-14 08:27] bike9527 commented on #91
@shue249  I have the same problem
![image](https://user-images.githubusercontent.com/32729137/54341870-f52d1080-4675-11e9-821b-b37a48ad8dd5.png)

[2019-03-14 08:28] Emwestside commented on #120
plugin version 2.1.5

[2019-03-14 11:01] ryanstacey opened #121 "Dynamic Value"
Does the extension get the dynamic value of the products / transactions etc?

[2019-03-14 15:14] Emwestside commented on #115
Ok. Thanks

On Thursday, March 14, 2019, shue249 <notifications@github.com> wrote:

[2019-03-14 16:10] aravindlikes opened #122 "Facebook Ads Extension Not Working"
Installed new version  2.1.5 ads extension. But getting Error
"There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Github if this error keeps showing."

In the console, I got the error
"GET https://www.sundarisilks.com/admin/index.php?route=ex

[2019-03-14 19:00] sirericg opened #123 "Pixels not firing"
Hi I updated to the latest model as advised on issue #104 but still it's not working, please advise...

[2019-03-15 00:08] Emwestside commented on #122
You can adjust the number on this file on your webserver, after you installed the plugin.
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/library/facebookcommonutils.php#L113

[2019-03-15 07:21] aravindlikes commented on #122
It's already 100 in my file also

![image](https://user-images.githubusercontent.com/17896446/54415030-18f96080-4721-11e9-866a-3210ed9f7474.png)

[2019-03-15 07:23] aravindlikes commented on #122
It's already 100 in my file server
But still getting error

![image](https://user-images.githubusercontent.com/17896446/54415085-3dedd380-4721-11e9-89ac-9904ded7ea1e.png)

[2019-03-15 07:54] Emwestside commented on #122
Change it to 1000

On Friday, March 15, 2019, Aravind <notifications@github.com> wrote:

[2019-03-15 08:26] aravindlikes commented on #122
Changed It to 1000

Still Getting Error

The error in the console

![image](https://user-images.githubusercontent.com/17896446/54418166-1f400a80-472a-11e9-9df3-1f3f1803a55e.png)

[2019-03-16 13:04] hammadrahman opened #124 "Images are not showing in facebook page shop section"
Only 4-5 images are showing.
https://www.facebook.com/pg/AL-Modest-344372056403579/shop/?ref=page_internal

[2019-03-16 13:27] robteeshirtguy commented on #101
here what my server tech are saying as i tryed that and still having problems
ooking into this whilst it's having this problem, it seems that the website is accepting requests but it's holding open the database query along with the php request for the user and simply not outputting any data for the user. This seems like it's going to be a problem with the facebook extension with the way it's pulli

[2019-03-16 17:20] Emwestside commented on #120
@shue249 Please, find time to say something, we need your help. Thanks

[2019-03-16 19:47] cccelil opened #125 "After installing new version of FB for opencart, pixel is not firing anywhere on site"
After installing new version of FB for opencart, pixel is not firing anywhere on site.
However, products are updated to FB catalog.
Please help find the solution.
Opencart version 2.3.0.2
Now use other module for pıxel
When stop module that now use
Not showed any pıxel

[2019-03-16 20:23] Merih06 opened #126 "Ajax Best Checkout pixel not working"
https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=20736

pixel code does not work on payment page..

does not seem iniatecheckout...

[2019-03-17 01:05] shue249 commented on #126
@Merih06 Our plugin currently supports only the OpenCart default checkout and does not support 3rd party checkout plugins.

If you have development resources, we can suggest for you to modify our plugin codes to extend for this 3rd party checkout plugin. A starting point for you will be:
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/catalog/controller/extension/face

[2019-03-17 01:06] shue249 commented on #126
We will be closing out this issue, but feel free to reach to us if you have any other questions.

[2019-03-17 01:06] #126 closed

[2019-03-17 01:09] shue249 commented on #125
@cccelil Thank you for your feedback. Can you try to install back the earlier version 2.1.3 and see if the pixel is now firing correctly.

https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.3

[2019-03-17 01:26] shue249 commented on #124
@hammadrahman We are checking on this now. Pls give us some time to work this out

[2019-03-17 01:27] shue249 commented on #104
@sirericg Can you install the version 2.1.3 of the plugin and let us know if the pixel is able to be fired.

https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.3

[2019-03-17 01:29] shue249 commented on #123
@sirericg Lets continue on the issue 104 thread. Will close out this ticket

[2019-03-17 01:29] #123 closed

[2019-03-17 01:30] shue249 commented on #122
@aravindlikes This error should have been resolved. We will close out this ticket, but pls reach out to us if you have any questions.

[2019-03-17 01:34] shue249 commented on #121
@ryanstacey Yes, we are pulling the value of the products and transactions and putting them on the pixel firing. If you install pixelhelper, you can inspect the parameters of the pixel fired.

![image](https://user-images.githubusercontent.com/11957585/54483959-a2cb3a00-4897-11e9-93a7-1305bc09334a.png)
![image](https://user-images.githubusercontent.com/11957585/54483970-de660400-4897-11e9-8175-c96

[2019-03-17 01:34] #121 closed

[2019-03-17 01:36] shue249 commented on #120
@Emwestside Apologies for the delay.

1. Which OpenCart version are you using? If you are using version 3.x, can you disable the theme cache.

2. If you are using OpenCart version 2.x, can you try out the earlier v2.1.3 version of the plugin to see if the pixels are able to be fired.

https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.3

[2019-03-17 01:37] shue249 commented on #117
@zigi00x We will close out this ticket, feel free to reach to us if you have any further questions.

[2019-03-17 01:37] #117 closed

[2019-03-17 01:38] shue249 commented on #115
@SergejsRo Can you try to install back the earlier version of the plugin 2.1.3 and see if the pixels are able to be fired.

https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.3

[2019-03-17 01:39] shue249 commented on #107
@sameersb We will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-03-17 01:39] #107 closed

[2019-03-17 01:39] shue249 commented on #98
@andrejuseu we will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-03-17 01:39] #98 closed

[2019-03-17 01:40] #51 closed

[2019-03-17 06:13] DORMETA opened #127 "Facebook Catalog Feed Not working"
Hi,

I've installed on OC 2.3.0.2 the latest version of v.2.1.5 and the only issue is the Facebook Catalog and Shop the feed uploaded just about 657 products out of almost 980. I tried to resynchronize and redo the steps in settings/setul panel but not working.
Not having the full catalog creates problems for remarketing...

Best regards,

[2019-03-17 06:20] DORMETA commented on #127
https://dormeta.ro

[2019-03-17 07:35] Emwestside commented on #120
Thanks for your help, I have disabled theme cache, still not firing
here is my website name http://olmartstores.com/ , please help look into it.
Thanks again

[2019-03-18 13:07] ryanstacey opened #128 "FB Pixel v2.1.5 No Pixel On Website - OC2.3.0.2"
I recently updated the fb extension to the latest version 2.1.5.

The catalogue seems to work but I'm not getting any pixel events and the pixel doesnt seem to even be on my site anymore?

Im on Opencart 2.3.0.2

[2019-03-18 13:17] ryanstacey commented on #128
So there is no pixel firing on v2.1.5 or on v2.1.4.
So I have went back and installed v2.1.3 until this is fixed.

[2019-03-18 15:56] SergejsRo commented on #115
I tried install it previously, pixels work only on main page, success,
special.
NOT in categories or product pages.

On 2019.03.17 03:38, shue249 wrote:

[2019-03-18 17:51] sirericg commented on #104
hi, 2.1.3 one pixel is firing, but I seem to have an error, see attached, I don't know what is all about. See attached images
![pixel](https://user-images.githubusercontent.com/47660981/54551647-84f8f480-49bf-11e9-9bed-b6603310643f.jpg)
![one pixel](https://user-images.githubusercontent.com/47660981/54551648-84f8f480-49bf-11e9-92df-95f4bbb6f216.jpg)

[2019-03-18 23:33] shue249 commented on #124
@hammadrahman We have resolved the issue. The images are now loaded. We will close out this ticket, feel free to reach to us if you have any further questions/

[2019-03-18 23:33] #124 closed

[2019-03-18 23:34] shue249 commented on #128
@ryanstacey Thank you for the feedback.

Will you be able to help us install back the v2.1.5 and share with us the modifications log, so that we can troubleshoot better. You can install back v2.1.3 after this.

![image](https://user-images.githubusercontent.com/11957585/54570446-74756800-4a19-11e9-91db-179167d08442.png)

[2019-03-18 23:39] shue249 commented on #120
@Emwestside

We found that your case is different from the recent pixel cases that are reported.
We are unable to find the plugin pixel codes inserted into your web store front.
![image](https://user-images.githubusercontent.com/11957585/54570591-11d09c00-4a1a-11e9-932a-0ef9b34b1cf0.png)

2 more things we can suggest:
1. Have you click on the refresh modifications button? https://drive.google.com/

[2019-03-19 06:24] aravindlikes commented on #122
@shue249 The error is still not resolved even after Changing "FACEBOOK_PRODUCT_QUERY_BATCH_COUNT = 1000"

https://www.sundarisilks.com/admin/index.php?route=extension/facebookadsextension/getinitialproductsyncstatus&user_token=8OXl9KWiFGP0dZLK9hQVwkLyrnsKHczj&token=8OXl9KWiFGP0dZLK9hQVwkLyrnsKHczj This page getting 400 error.

![image](https://user-images.githubusercontent.com/17896446/54584576-bf

[2019-03-19 09:46] ryanstacey commented on #128
[FB-Github-v2.1.5-Log.txt](https://github.com/facebookincubator/Facebook-For-OpenCart/files/2982575/FB-Github-v2.1.5-Log.txt)

[2019-03-19 14:54] Hristow commented on #116
Will you be able to fix the problem? Two weeks already the pixel does not work correctly...

[2019-03-19 17:07] vlad3609 opened #129 "Different Currencies at front and admin-sites"
Dear Devs,

My store uses a currency fix module, that allows me to input prices in admin in USD and output them in a local currency (smith like this: https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=19640).

Hence, as in some modules happens, all the goods are output in USD values and codes & not in the local currency.
Could you please advice me on where should I mo

[2019-03-19 17:11] robteeshirtguy commented on #101
when i click to resynic site i finding my server Of Processes
147 / 150 (98%)

[2019-03-19 19:37] supermatjar commented on #109
I have the same problem
my store is
supermatjar.com

only 8000 products !!

[2019-03-20 07:47] vlad3609 commented on #129
Alright, I managed to change the currency code.

Now the module understands my real currency, however it does not multiply it:

Example:
[admin side in the shop]
Product A costs 5$

[customer side in the shop]
It would cost 50 local bucks (exchange rate is 10 lb per dollar)

[Facebook store]
The product costs 5 local bucks, so there is no multiplication.

Where should I look up for the multiplicat

[2019-03-20 10:43] missbow opened #130 "Messenger is not displayed"
I've installed the Facebook Ads Extension. Pixel and product work as expected but I am facing an issue with the messenger plugin, it is not displayed on website.

- I have enabled plugin (by following the instructions https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md), but it doesn't work.

- Latest Version of the extension is installed (https://www.opencart.c

[2019-03-20 14:50] ryanstacey opened #131 "Catalogs Product Website Links"
When the extension uploads the products from opencart it uses a generic product id link rather then pulling the seo url.
This creates an issue when analysing data in google analytics/facebook as now you not only have your seo urls but you have product id urls. So you dont get the correct data for a page all together.
I know you can edit each for the products links within facebook but this is an is

[2019-03-21 11:47] shue249 commented on #131
@ryanstacey We have evaluated the performance of generating the SEO URL and decided not to pursue with this feature as it will impose a performance degradation when doing the initial product sync.

We have described the details in this reply and also the action steps needed to make the changes yourself if you have development resources. https://github.com/facebookincubator/Facebook-For-OpenCart/is

[2019-03-21 11:47] #131 closed

[2019-03-21 11:49] shue249 commented on #119
@lcfigo We will close off this ticket, but pls feel free to create another ticket if you have further questions.

[2019-03-21 11:49] #119 closed

[2019-03-21 11:50] shue249 commented on #116
@Hristow For now can you revert and use version 2.1.3 while we work on this issue.

[2019-03-21 11:51] shue249 commented on #129
@vlad3609 This is where you can key in the exchange rate (multiplication).
![image](https://user-images.githubusercontent.com/11957585/54750470-bd444100-4c12-11e9-8c57-d5a8fde00c33.png)

[2019-03-21 12:45] Emwestside commented on #120
@shue249  Thanks for reaching out , i have tried the precribed solutions, what other hard options do i have to do? Thanks

[2019-03-21 15:55] Hristow commented on #116
I am on 2.1.3 version already and ViewCategory and ViewContent are not working ...

[2019-03-21 16:48] lcfigo commented on #119
Thx, If I update the new version, the data still exist？

[2019-03-21 23:49] shue249 commented on #91
@bike9527 Can you click on the "Manage settings" button and you will be able to reset the access token via the Advanced options.

[2019-03-21 23:54] shue249 commented on #120
@Emwestside The things that we usually see that cause your problem are:
1. Disabling the theme cache
2. Clicking on the Refresh modifications button
3. Incompatible with 3rd party UI themes

You can try to revert back to the original OpenCart UI theme and see if the pixels are fired to determine if it is due to incompatibility with 3rd party UI themes.

You can also check the modifications log for

[2019-03-21 23:55] shue249 commented on #122
@aravindlikes Can you check your apache error logs to see if there's any error messages reflected there.

[2019-03-21 23:56] shue249 commented on #109
@supermatjar Can you pls help us to create a new ticket

[2019-03-22 06:16] aravindlikes commented on #122
@shue249 I have uninstalled facebook ads extension. I have developed my own RSS feed for products. In the catalog manager, I have added it as a data feed URL.

[2019-03-22 09:29] supermatjar commented on #109
Yes but how to create

في الجمعة، ٢٢ مارس، ٢٠١٩ ٣:٥٦ ص shue249 <notifications@github.com> كتب:

[2019-03-22 12:24] SergejsRo commented on #115
@shue249 any info?

[2019-03-24 06:00] vlad3609 commented on #129
Thank you. It would work in a default version. In my case I had to make a custom request to DB and then multiply currency.

[2019-03-25 11:42] #122 closed

[2019-03-25 19:39] SergejsRo commented on #115
@shue249 with version 2.1.5 in admin panel I am getting message: The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token.
but there is no "update token" inside.
And on extension i get "Bad request"

[2019-03-25 23:09] shue249 commented on #115
@SergejsRo We have seen this from another user but we are unable to reproduce this on our dev environment - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/122.

Will you be able to check on your webserver error log files and share any insights with us?

[2019-03-25 23:10] shue249 commented on #129
@vlad3609 Can I understand if this means that you have solved the currency problem?

[2019-03-25 23:13] shue249 commented on #130
@missbow Can I understand if the extension is still installed on your website?

[2019-03-25 23:17] shue249 commented on #127
@DORMETA I am seeing 857 products on your catalog.

![image](https://user-images.githubusercontent.com/11957585/54960315-012ea180-4f97-11e9-8c9a-0e3f9b537817.png)

[2019-03-26 07:26] missbow commented on #130
Yes it is installed :)
![image](https://user-images.githubusercontent.com/34458043/54978517-45c33880-4fa9-11e9-867e-04c7bb5c2b6d.png)

[2019-03-27 16:40] robteeshirtguy opened #132 "it not updating for me"
2019-03-19 17:07:46 - Complete - Delete for products - 224
2019-03-19 17:07:46 - Delete for products - 572
2019-03-19 17:07:47 - Complete - Delete for products - 572
2019-03-19 17:07:48 - Success update product 574 / 2000584906707299 on Facebook
2019-03-19 17:07:49 - Success update product 98 / 2140219239400824 on Facebook
2019-03-19 17:07:50 - Success update product 539 / 2093328440704868 on Face

[2019-03-27 16:40] robteeshirtguy commented on #132
2019-03-20 22:08:47 - Success update availability product 572 / 2632863476754767 on Facebook
2019-03-20 22:08:47 - Complete - Update products for availability change - 572
2019-03-22 8:06:22 - Update products for availability change - 572
2019-03-22 8:06:23 - Success update availability product 572 / 2632863476754767 on Facebook
2019-03-22 8:06:23 - Complete - Update products for availability chan

[2019-03-27 19:42] DORMETA commented on #127
![issue](https://user-images.githubusercontent.com/48640019/55107104-24616a00-50d9-11e9-888d-fa902b2896d8.jpg)
There is a diference between products in shop and in catalog!

[2019-03-28 09:48] SergejsRo commented on #115
@shue249 Can you tell me, how to disable pixel on my site, but leave working product import to FB catalog in this extension? As it only tries to load without pixel ID.

[2019-03-28 23:08] smart81bg opened #133 "Multi language"
How can I control the output language>

[2019-04-01 02:57] shue249 commented on #133
@smart81bg Can you explain more on your use case. Are you referring to using multi languages in the product catalog?

[2019-04-01 02:59] shue249 commented on #132
@robteeshirtguy Are there any specific products which you found to be not updating?

From the log files, there was some failure on the 19th March but it seems to be fine after that. The part where it is fine is where the log file is showing "Success update xxx" - this is the success indicator.

[2019-04-01 03:07] shue249 commented on #130
@missbow We looked at your website but found that the codes for firing pixel is not inserted. And it is the same case for the messenger chat plugin.

![image](https://user-images.githubusercontent.com/11957585/55301214-0182dd00-546e-11e9-8ed3-ab6de5480733.png)
![image](https://user-images.githubusercontent.com/11957585/55301250-30994e80-546e-11e9-974a-e2853984b109.png)

3 things that you can check

[2019-04-01 03:08] shue249 commented on #129
@vlad3609 We will be closing this request, feel free to reach to us if you have further questions.

[2019-04-01 03:08] #129 closed

[2019-04-01 03:10] shue249 commented on #127
@DORMETA One thing you can try is to re-do the Facebook Ads Extension setup and see if the product count is correct. https://drive.google.com/open?id=1PenBy_xizQGszdiS5BrmVFPypn5HKnkL

[2019-04-01 03:12] shue249 commented on #128
@ryanstacey Thank you for the log file, we are still checking on this and trying to repo this on our side. We will update you soonest when we have any findings.

[2019-04-01 03:13] shue249 commented on #120
@Emwestside Like to hear from you if the above options work for you?

[2019-04-01 03:16] shue249 commented on #115
@SergejsRo Our plugin bundles the pixel and catalog sync together.

There are 2 issues that are faced by you
1. Pixel not firing correctly - we are still working on this to understand the root cause.

2. Bad request faced - are you still facing this problem?

[2019-04-01 03:19] shue249 commented on #104
@sirericg For the "Error" shown on the Facebook Ads Extension settings screen, can you try to follow these instructions and see if it works for you - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/91#issuecomment-468529521

[2019-04-01 07:37] SergejsRo commented on #115
At the present I use another extension.
With your extension all is the same.

On 2019.04.01 06:16, shue249 wrote:

[2019-04-01 12:21] lcfigo opened #134 "v2.1.5 error - opencart 3.0.2.0"
<img width="1505" alt="error" src="https://user-images.githubusercontent.com/30689749/55326876-1c167f80-5489-11e9-87b7-1097651eda3a.png">

Hi, I already update the newest version 2.1.5, but there is an error in the Facebook ADS panel. Anyone help me？
My website more than 18000 product and 3 languages. The FB extension is very important for us. Thx.

[2019-04-01 12:59] lcfigo commented on #134
[CICMB2B_2019-04-01_12-17-09_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3029476/CICMB2B_2019-04-01_12-17-09_facebook_ads_extension.log)

here is my log

[2019-04-01 13:22] lcfigo commented on #134
<img width="1281" alt="error2" src="https://user-images.githubusercontent.com/30689749/55330712-ffcb1080-5491-11e9-9e52-26c868fdda21.png">

[2019-04-02 11:14] lcfigo commented on #134
And Pixel cant use. can not receive the website traffic. Do you have the same error with me?

[2019-04-02 12:18] cepcemuh commented on #134
Try to delete your cache from the dashboard, redis cache (if any) and also refresh the modifications... It should works.

[2019-04-02 12:34] lcfigo commented on #134
Thx cepcemuh. Unfortunately, the error still exists, and I tried to uninstall and clear the cache then restart the extension. Anyway, thx for your help:)

[2019-04-02 14:54] shue249 commented on #134
@lcfigo Thank you for the feedback. I see there are 2 issues.

1. For the error reflected on Facebook ads extension admin panel, the reason is because your OpenCart products is not successfully synced to Facebook. We have outlined some strategies for you to try. Specifically, I will suggest for you to look at your MySQL error logs to see if there's problem with MySQL shut down during the catalog s

[2019-04-02 15:25] lcfigo commented on #134
Thx Shue249, our link is https://cicmb2b.com
For the first error, I do not very understand, because I don't have much MySQL knowledge, I install just like the video you shared. It worked in the last version, but the newest version occurs the error. Thx again for everything.

[2019-04-03 00:43] shue249 commented on #128
@ryanstacey We think we have found the root of the problem. Will you be able to share a file with us so that we can double confirm our hypothesis. The file is /system/engine/front.php on your webserver.

![image](https://user-images.githubusercontent.com/11957585/55445157-bac8dc00-556e-11e9-8828-36e85ecd5890.png)

[2019-04-03 00:43] shue249 commented on #125
@cccelil We think we have found the root of the problem. Will you be able to share a file with us so that we can double confirm our hypothesis. The file is /system/engine/front.php on your webserver.

![image](https://user-images.githubusercontent.com/11957585/55445157-bac8dc00-556e-11e9-8828-36e85ecd5890.png)

[2019-04-03 00:53] shue249 commented on #116
@Hristow  We think we have found the root of the problem. Will you be able to share a file with us so that we can double confirm our hypothesis. The file is /system/engine/front.php on your webserver.

![image](https://user-images.githubusercontent.com/11957585/55445157-bac8dc00-556e-11e9-8828-36e85ecd5890.png)

[2019-04-03 00:54] shue249 commented on #115
@SergejsRo We think we have found the root of the problem. Will you be able to share a file with us so that we can double confirm our hypothesis. The file is /system/engine/front.php on your webserver.

![image](https://user-images.githubusercontent.com/11957585/55445157-bac8dc00-556e-11e9-8828-36e85ecd5890.png)

[2019-04-03 07:13] SergejsRo commented on #115
Hi,

here is the file.

On 2019.04.03 03:54, shue249 wrote:

[2019-04-03 12:12] mohet786 opened #135 "admin folder is changed"
I have followed all the steps in installing the extension, but always getting the same error:

"We have detected missing files for Facebook Ads Extension. Please enable read, write and execute access permissions for these files and folders."

I have given 777 permission to public_html folder already and the issue persists.

Waiting for some help on this, as i am stuck since last 3 days.

Regards,

[2019-04-03 15:08] shue249 commented on #115
@SergejsRo I am unable to see the file. Can you try to attach the file to here again?

[2019-04-03 15:09] shue249 commented on #135
@mohet786 Can you try to give the permission recursively to all the child folders under public_html.

[2019-04-03 15:11] mohet786 commented on #135
Hello,

Thank you for your response. I have tried that already. But no luck. Is
there any other way?

By the way, I have changed the folder name of admin to something else. Will
that cause any issues ??

Regards,
Mohit

On Wed, Apr 3, 2019, 20:39 shue249 <notifications@github.com> wrote:

[2019-04-03 15:36] SergejsRo commented on #115
@shue249 Seems it was not attached from email.
Here again.

[front.php.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3039482/front.php.zip)

[2019-04-03 16:08] Emwestside commented on #120
@shue249 I have tried these options, none seem to work, what else will you have me do?

[2019-04-04 15:01] shue249 commented on #134
@lcfigo For the pixel, I see that it is installed on your website.

![image](https://user-images.githubusercontent.com/11957585/55565794-5c574700-56af-11e9-8467-53a91b2fca07.png)

![image](https://user-images.githubusercontent.com/11957585/55565824-6d07bd00-56af-11e9-9632-942bf30a55a3.png)

![image](https://user-images.githubusercontent.com/11957585/55565869-7f81f680-56af-11e9-8b75-9f4327bfe0a4.pn

[2019-04-04 15:04] shue249 commented on #135
@mohet786 Yes, that is probably the cause of why the plugin fail to work, as we build the plugin based on the admin folder name.

Can you take a look at these instructions and make the changes on the plugin files.
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#pre-requisites-prior-to-installing-the-plugin

[2019-04-04 15:58] SergejsRo commented on #115
@shue249 Any news?

[2019-04-04 18:40] Merih06 opened #136 "Product Update Error (Access token invalid)"
2019-04-04 13:27:35 - Get Sample product feed
2019-04-04 13:27:35 - Complete - Get Sample product feed
2019-04-04 13:27:35 - Invalid access token when querying FB page
2019-04-04 13:27:35 - Error with getting the initial product sync status The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token.

[2019-04-05 05:24] shue249 commented on #115
@SergejsRo Thanks for the file. This is what we have suspected. I believe this file is changed on your side by the Journal plugin and it differs from the original OpenCart file, resulting in some incompatibilty  issues to detect the location to insert in the pixel code.

We will be working on a fix and to make it more robust to be able to handle more of such edge cases. We will keep you posted as

[2019-04-05 07:28] Emwestside commented on #120
@shue259 Help!!!!

[2019-04-05 08:40] lcfigo commented on #134
Thx, Shue249. Unfortunately, I have no technical to help me right now. Is there any way? I can study or pay for someone help me fix my site. Because since this error occurred, I can't use pixels very well.

[2019-04-05 10:56] SergejsRo commented on #115
@shue249 Ok, waiting for new version

[2019-04-05 11:28] SergejsRo commented on #115
@shue249 Tried to install older extension version, 2.0.3, it shows "Bad Request", but in the frontend I see pixel fires on addToCart, Purchase, PageView

[2019-04-05 12:44] Anders1982 opened #137 "Problems with installation (Access token invalid)"
I've installed the Facebook Ads extension on my OpenCart store and everything works fine, except an error message. I use version 3.0.2.0. This error message appears on the admin front and the text "error" appears when I enter the Facebook Ads extension:

There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete

[2019-04-07 09:36] duncanbbd commented on #135
we have the same problem,  the admin folder name is different,
we cannot get into admin to uninstall the plugin, what is best way to recover so we can try and install again.
thanks brian

Warning: require_once(/home/abc/public_html/adminxxx/../admin/controller/extension/facebookproducttrait.php): failed to open stream: No such file or directory in /home/abc/public_html/adminxx/controller/extension

[2019-04-08 10:44] mupcku commented on #84
im NOT using 3rd party module, and im just updating 9 of my products with special prices. The prices are updating as well and im able to see the changes in the catalog, BUT when i create campaign and i want to customize the images, so i can show the new and the old price i getting the following error: "The catalog info for *my product" exceeds our character limit so it won't show in your ad. You c

[2019-04-08 15:52] shue249 commented on #84
@mupcku Will you be able to help us to follow up by creating a new ticket.

Can you check the character length of name and description of the product. We have a character limit on the lengths.
https://developers.facebook.com/docs/marketing-api/dynamic-product-ads/product-catalog#required-fields

![image](https://user-images.githubusercontent.com/11957585/55738264-a60b9e80-59db-11e9-9698-40d8cda30e

[2019-04-08 15:55] shue249 commented on #135
@duncanbbd Brian, I want to check if you are able to access your admin panel on OpenCart. If you are still able to access it, then all's good for now.

We are looking to see how we can simplify the installation for users who have renamed the admin folder. We will keep you updated soonest

[2019-04-08 15:56] shue249 commented on #137
@Anders1982 Thank you for the feedback. We are looking into this issue now. We will keep u updated soonest.

[2019-04-08 15:58] shue249 commented on #134
@lcfigo Are all your 17K+ products available in store now? Are you able to disable or delete away products no longer selling? That will help to reduce the number of total products and possibly able to complete the sync

[2019-04-08 15:59] shue249 commented on #132
@robteeshirtguy We will be closing out this ticket as the syncing is performing again after 19th March. Feel free to reach to us if you have any further questions.

[2019-04-08 15:59] #132 closed

[2019-04-08 16:02] shue249 commented on #130
@missbow Like to check if the above solutions are working for you.

[2019-04-08 16:02] duncanbbd commented on #135
Hi

YES I got access to it by modifying the files you suggested.

I guess it would be good to determine the base admin folder somehow and
use that.

On another topic, I'm always concerned when people tell users to set
folder permissions to 777  (becuase I'm sure some people don't set back
to correct permissions)

Is it not possible that you use an FTP script to upload files into the
correct folder

[2019-04-08 16:05] shue249 commented on #127
@DORMETA Is the res-setup working for you?

[2019-04-08 16:07] shue249 commented on #120
@Emwestside I am out of options now. The last thing I could think of is some conflict with a 3rd-party plugin. It will be a tedious job to verify, but you could try out the following.

Setup a fresh installation of OpenCart separately. Install our plugin first, verify if it is working. Then slowly install the other 3rd party plugins one by one and figure out where the failure happens.

[2019-04-08 16:33] lcfigo commented on #134
Hi Shue249, actually, we have more products, and we update every day because we are B2B and more than 80 shops here, we are now considering using a new platform to build our website, it may take months to a year. And we found so many people are using mobile, opencart is not the best choice I think. Can you help me, o do you have any idea？

[2019-04-08 17:56] DORMETA commented on #127
Hi,
I am reticent about doing that. I believe it may affect my ads!
Regards,

Trimis din Yahoo Mail pe Android

  Pe lun., apr. 8, 2019 la 19:05, shue249<notifications@github.com> a scris:
@DORMETA Is the res-setup working for you?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-09 00:41] shue249 commented on #135
@duncanbbd I am glad that you got it working.

Rather than 777, one way is to set as 775 or 755 permission for better security access.

We decided to go with OpenCart's default ocmod system because it is the most user friendly. There could have other users who are not savvy enough to use FTP scripts. Another alternative will be using vqmod approach, to copy and paste in the unzipped files into the

[2019-04-09 00:44] shue249 commented on #134
@lcfigo Will you be able to reach to us via our email so we can discuss this offline - ads_extension_opencart@fb.com

[2019-04-09 07:48] Shrimp1234 opened #138 "Problem with catalogues"
Hi there
Im having problem from the last 3 weeks, my catalogue in fb lost some of its features. This is the automated catalogue created via the "facebook ads extension". version 2.1.3.  My open cart vers is  2.3.0.2. Old catalogues created via spreadsheets are all ok, but it is pain in the ass. Attaching 2 files for preview

[2019-04-09 08:02] lcfigo commented on #134
yes, sure:)

[2019-04-09 09:45] SergejsRo commented on #115
@shue249 can you tell, when will be new release with fix?

[2019-04-09 11:18] mohet786 commented on #135
Thank you for replying @shue249 I tried making changes in each file of the extension and replacing the original path of the installation with the one with the link to my renamed admin panel name, ie, current path says /admin/... and i replaced "admin" with the renamed name of my admin folder, but still no luck.

what can be the alternative now? Please suggest...

[2019-04-10 05:25] yingqingzhou opened #139 "cant remove fb ads plugin,told error,opencart 3.0.2.0"
There was an error. It could be a temporary problem and we are working to solve it as soon as possible. Try again later.

[2019-04-10 07:02] hammadrahman opened #140 "Access token invalid automatically."
Hi,

Suddenly my ad extension stop working. and on my facebook page also the product has stop showing. I have tried to re-install plugin by deleting from modification and uninstalling modules, but the same error is coming. I am stuck in this from last 10 days. Please help me.

[2019-04-10 13:06] Hristow commented on #116
Hello, Here's the file

 @Hristow  We think we have found the root of the problem. Will you be able to share a file with us so that we can double confirm our hypothesis. The file is /system/engine/front.php on your webserver.

   —
You are receiving this because you were mentioned.
Reply to this email directly,  view it on GitHub , or  mute the thread .

[2019-04-10 15:41] Hristow commented on #116
Did you fix the problem?

[2019-04-10 16:54] shue249 commented on #138
@Shrimp1234 Thank you for the feedback.
The features you mentioned were disabled intentionally for Facebook Ads Extension catalogs, as the plugin is be able to handle all the product syncs.

Can I understand what are the reasons you need these features for your Facebook Ads Extension catalog?

[2019-04-10 16:58] shue249 commented on #140
@hammadrahman Thank you for the feedback.

1. Can you share with us on how you determined that your facebook ads extension has stopped working. Do you have any screenshots to share here.

2. Can you share with us the facebook ads extension log file.
![image](https://user-images.githubusercontent.com/11957585/55898234-0551e600-5b77-11e9-9ca5-1e5a69616c36.png)

[2019-04-10 16:59] shue249 commented on #139
@yingqingzhou Can you share with us a screenshot of how the problem looks like.

[2019-04-10 17:02] shue249 commented on #116
@Hristow Can you attach the file here?

[2019-04-10 17:06] shue249 commented on #115
@SergejsRo We are targeting to roll out the new release within these 2 weeks.

[2019-04-10 17:19] Hristow commented on #116
[front.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3065014/front.zip)

[2019-04-10 17:23] yingqingzhou commented on #139
shue249 <notifications@github.com> 于 2019年4月10日周三 12:00写道：

[2019-04-10 17:46] shue249 commented on #136
@Merih06 Thank you for the feedback. Can you share with us a screenshot of how the Facebook Ads Extension module screen looks like from your OpenCart admin panel

[2019-04-10 18:20] shue249 commented on #137
@Anders1982 Can you share with us a screenshot of the Facebook Ads Extension on your admin panel.

[2019-04-11 06:09] hammadrahman commented on #140
1. When I login in the opencart dashboard the error was coming. Then I go to my facebook page, then automatically all my product imported in the shop section disappear.

This is the main error coming on opencart dashboard.

![image](https://user-images.githubusercontent.com/10977376/55934416-1a4d7880-5c4e-11e9-9ce7-e08d025cd638.png)

And below is the log file.

`2019-03-15 18:04:10 - Get Sample pr

[2019-04-11 06:24] Shrimp1234 commented on #138
shue249, thanks for the reply. I need this so i can run dynamic ads without creating inner catalogues, with exact products. It saves a lot of time. You can easy control which products to be shown or not. For example i create dynmic ad with entire catalogue 1.1k products, i deactivate delivery on 700 so i can have active only 400. During promoting period for example 1 month i keep changing products

[2019-04-11 19:53] crossbodycom80 opened #141 "problem with uplouding the catalog from e-shop to Facebook ads extension"
Hello, I try to implement the catalog to Facebook ads extension but it gives me a message -

There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.

after the steps, it gives me another message:

Connection failed
Check that you're logged into your store. You can close this win

[2019-04-12 06:26] hammadrahman commented on #140
Any update?

[2019-04-12 08:00] mohet786 commented on #135
Hello Brian, any luck ?

[2019-04-12 23:49] missbow commented on #130
Hello Shue,

Where do I have to put this code?

Thank you :)

[2019-04-13 08:52] monefff commented on #140
The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token.

ON all of my opencart stores. No update button.. any fixes?

[2019-04-13 08:56] shue249 commented on #141
@crossbodycom80 Can you check if the Facebook login on your browser has access to the Facebook Page that you have used in the setup?

You are seeing "Connection failed
Check that you're logged into your store. You can close this window and reopen the plugin from inside your store's admin panel." because the current browser Facebook login does not have access to the Facebook page used in the Facebo

[2019-04-13 09:03] shue249 commented on #140
@monefff Can you help us to create a new ticket and share with us the screenshot of Facebook Ads Extension on your OpenCart admin panel.

[2019-04-13 09:10] monefff opened #142 "The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token."
The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token.

http://prikachi.com/images/538/9544538x.png

I have problem on all of my stores. I don't have button to update. How to update the access token?
Any suggestions?

[2019-04-13 09:16] shue249 commented on #142
@monefff Does this screenshot help you?

![image](https://user-images.githubusercontent.com/11957585/56077526-e621b580-5e0f-11e9-94de-998f4a3812fa.png)

[2019-04-13 09:23] monefff commented on #142
I am sorry, but I don't have that button on none of my stores.
http://prikachi.com/images/543/9544543M.png

[2019-04-13 09:30] monefff commented on #142
To add: My plugin version is 2.1.5

[2019-04-13 10:03] shue249 commented on #142
![image](https://user-images.githubusercontent.com/11957585/56078083-5c291b00-5e16-11e9-94f6-2f4cfae66a4d.png)

[2019-04-13 10:06] monefff commented on #142
Yes. I will give you 2 pictures on 2 of my stores:

Store 1: http://prikachi.com/images/570/9544570U.png
Store 2: http://prikachi.com/images/571/9544571I.png

[2019-04-13 10:07] monefff commented on #142
On 5 stores most of them have: Bad Request

[2019-04-13 10:35] itshaman commented on #142
After near month I have same troble
![image](https://user-images.githubusercontent.com/16690535/56078430-98e21b80-5df0-11e9-8ec2-5b598601df89.png)

I have no The botton "Update Token"
![image](https://user-images.githubusercontent.com/16690535/56078442-c4650600-5df0-11e9-9f0c-cf76e394c694.png)
NO any changes in my FB acount, same pass, same name
Please Help me update token

[2019-04-13 10:37] itshaman commented on #142
No "Apdate Token" botton on all my sites ((
Version of module 2.1.5

[2019-04-13 10:45] tenableboy commented on #142
The same situation. Please give a solution. Thank.

[2019-04-13 10:48] Eaglebill commented on #142
Mine is doing the same, and no update token button anywhere  to be found. 2.1.5. version
![image](https://user-images.githubusercontent.com/7140192/56078605-b0220880-5df2-11e9-8a60-a51848e25a75.png)

[2019-04-13 12:24] serkanbalta commented on #142
same here.
would you please help us how to fix that issue without loosing our catalog and product sets ?
![Screenshot_19](https://user-images.githubusercontent.com/8876539/56079662-3729ad80-5e00-11e9-97c1-a999ffa36abe.jpg)
![Screenshot_20](https://user-images.githubusercontent.com/8876539/56079664-3729ad80-5e00-11e9-94a7-2a3de3e0df77.jpg)

[2019-04-13 12:33] dmitrytrue commented on #142
No "Apdate Token" botton also
Version of module 2.1.5

[2019-04-13 15:02] BarlPro commented on #140
Hello. Has the extension stopped working?
[Интернет-магазин_2019-04-13_17-58-22_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3076349/-._2019-04-13_17-58-22_facebook_ads_extension.log)

[2019-04-13 15:04] BarlPro opened #143 "Hello. Has the extension stopped working?"
My log file
[Интернет-магазин_2019-04-13_17-58-22_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3076355/-._2019-04-13_17-58-22_facebook_ads_extension.log)

[2019-04-13 15:38] BarlPro commented on #142
Hello. Has the extension stopped working?
My log file
[Интернет-магазин_2019-04-13_17-58-22_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3076398/-._2019-04-13_17-58-22_facebook_ads_extension.log)

[2019-04-13 20:25] dmitrytrue commented on #142
it didn't start working
products didnt transfer, pixel FB didnt instal...

--
Mail For Spam

[2019-04-14 01:06] shue249 commented on #142
@monefff , @itshaman , @tenableboy , @Eaglebill , @dmitrytrue , @BarlPro , @serkanbalta

We are working on a fix now. In the meantime, you can do this to be able to see the "Update Token" option.

1. Access the Facebook Ads Extension module on your OpenCart admin panel using Chrome browser
2. Launch the Javascript console
![image](https://user-images.githubusercontent.com/11957585/53614531-41f3fe8

[2019-04-14 01:07] shue249 commented on #143
Duplicate issue, going to track this here https://github.com/facebookincubator/Facebook-For-OpenCart/issues/142

[2019-04-14 01:07] #143 closed

[2019-04-14 01:08] shue249 commented on #140
@hammadrahman We are putting a fix soon. In the meantime, can you follow this post to see if it works for you. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/142#issuecomment-482908951

[2019-04-14 01:08] shue249 commented on #137
@Anders1982 We are putting a fix soon. In the meantime, can you follow this post to see if it works for you. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/142#issuecomment-482908951

[2019-04-14 01:09] shue249 commented on #136
@Merih06  We are putting a fix soon. In the meantime, can you follow this post to see if it works for you. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/142#issuecomment-482908951

[2019-04-14 01:24] shue249 commented on #88
Closing out this ticket. Feel free to reach to us if you have further questions.

[2019-04-14 01:24] #88 closed

[2019-04-14 06:19] joanna-7 opened #144 "Update of token does not work, the access token is still shown as invalid"
The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token.

But there is no button to update token
![2019-04-14 at 08-21-36](https://user-images.githubusercontent.com/22748087/56089100-46f3d100-5e96-11e9-95f7-95a41fe6fcaa.png)

[2019-04-14 06:46] joanna-7 commented on #144
I did what you've mentioned before about "window.facebookAdsToolboxConfig.tokenExpired = 'true'" in the console which shows the button and updates the token, but if I close the tab and reopen a new one the problem will come back, what is the solution?

[2019-04-14 06:47] joanna-7 commented on #144
tho I'm using Plugin Version: 2.0.3

[2019-04-14 11:05] itshaman commented on #142
Its work for me, thanks

[2019-04-14 11:57] alengeere opened #145 "My admin dashboard page doesn't open after installing v2.1.5"
Hi. I previously use old version but today i tried installing v2.1.5. First i uninstall old version, refresh extensions, upload ocmod.zip successfully, and refresh extensions again.

After that, my admin dashboard page gone. I can enter other pages from panel, extensions, layouts etc. but dashboard page doesn't work. i get "connection timeout" message from server after waiting.

When i delete cook

[2019-04-14 12:11] monefff commented on #142
@shue249, it solves the problem, but only for a while. I tried it on 5 stores, 3 of them are working, the other 2 are bad request again, and I have to sync them again and again...

[2019-04-14 13:30] shue249 commented on #142
@monefff Can you explain in more details for the other 2 stores that shows Bad request. Does it mean that you complete the steps above, clicked on the Update Token button. After which you refresh the page and it shows as Bad request again?

[2019-04-14 13:31] shue249 commented on #144
@joanna-7 Can you share with us a screenshot of how the Facebook Ads Extension module looks like on your OpenCart admin panel.

[2019-04-14 13:34] shue249 commented on #145
@alengeere Are you able to access your web server (eg apache) error log file and see if there's any error message logged there.

Can you also share with us a screenshot of the warning message.

This is weird as the admin dashboard does not access the cookieconsent.min.js or facebook_pixel.js files.

[2019-04-14 14:13] BarlPro commented on #142
I have a pixel installed, there are no errors when checking on facebook. Errors only when adding new products in the module.

[2019-04-14 14:18] BarlPro commented on #142
![333333333333](https://user-images.githubusercontent.com/49591628/56094135-46305e80-5ed9-11e9-9aff-8d9cd6169874.jpg)

[2019-04-14 14:21] shue249 commented on #142
@BarlPro We are working on a fix now, the problem is due to invalid access token. I believe you are not able to see the option to Update token. In the meantime, you can do this to be able to see the "Update Token" option.

1. Access the Facebook Ads Extension module on your OpenCart admin panel using Chrome browser
2. Launch the Javascript console
![image](https://user-images.githubusercontent.com

[2019-04-14 14:31] BarlPro commented on #142
i don't have that line that's what i have
![4444](https://user-images.githubusercontent.com/49591628/56094258-11250b80-5edb-11e9-94d8-1cd5159dd78b.jpg)

[2019-04-14 14:41] BarlPro commented on #142
it turned out to update, the error warning is gone

[2019-04-14 14:41] shue249 commented on #142
@BarlPro You have to manually copy-paste in that line into the console log. For your information, this is running a line of code on your chrome browser and this code line below will allow the "Update token" to be shown.

`window.facebookAdsToolboxConfig.tokenExpired = 'true'`

[2019-04-14 14:48] dmitrytrue commented on #142
i`ve updated token by this way
![22](https://user-images.githubusercontent.com/49588392/56094455-4cc0d500-5edd-11e9-9bed-0b6dca8acc69.JPG)

but after refresh OpenCart admin panel, the same
![23](https://user-images.githubusercontent.com/49588392/56094467-6eba5780-5edd-11e9-82e6-775f5e15b447.JPG)

[2019-04-14 15:02] BarlPro commented on #142
I have no error, clicked to update and new products appeared on Facebook

[2019-04-14 16:33] dmitrytrue commented on #144
the same problem

[2019-04-14 23:12] shue249 commented on #142
@BarlPro Can we understand that the problem has been solved on your OpenCart? ie, you are able to refresh the token successfully.

[2019-04-14 23:14] shue249 commented on #144
@joanna-7 , @dmitrytrue. We are unable to debug further your problem from our side. Can we ask for you to reach to us directly at ads_extension_opencart@fb.com and we can discuss on the next steps offline.

[2019-04-14 23:15] shue249 commented on #142
@monefff We are unable to debug further your problem for the other 2 stores from our side. Can we ask for you to reach to us directly at ads_extension_opencart@fb.com and we can discuss on the next steps offline.

[2019-04-15 06:17] joanna-7 commented on #144
![2019-04-15 at 08-17-50](https://user-images.githubusercontent.com/22748087/56111011-29d70500-5f5f-11e9-9c4a-e15529bf78ed.png)
@shue249

[2019-04-15 06:18] joanna-7 commented on #144
@shue249  Yes sure, how would you like to connect by email?

[2019-04-15 07:15] BarlPro commented on #142
I updated on your recommendation, my error disappeared. Thanks for the help.

[2019-04-15 08:51] serkanbalta commented on #142
@shue249 thanks, it worked.

[2019-04-15 12:33] Mayaldossari commented on #142
Hi..
I have this issue exactly :(((
how to solve it ??

[2019-04-15 12:38] Mayaldossari commented on #142
@shue249 " You have to manually copy-paste in that line into the console log. For your information, this is running a line of code on your chrome browser and this code line below will allow the "Update token" to be shown."

//////////////////////////////////////////////////
I did all steps but if refresh  page the error appear ??

[2019-04-15 14:48] shue249 commented on #142
@Mayaldossari  We are unable to debug further your problem from our side. Can we ask for you to reach to us directly at ads_extension_opencart@fb.com and we can discuss on the next steps offline.

[2019-04-15 14:49] shue249 commented on #144
@joanna-7 Yes, you can reach us by email.

[2019-04-15 16:12] shue249 commented on #144
@joanna-7 Also, can you update the plugin to the latest version 2.1.5? You are still using the older version - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.5

[2019-04-16 06:20] chicho-picho commented on #91
Hi there, i have absolutely the same issue from first post. When I go to Facebook Ads Extentions i have "error" and when i go to Manage Settings, than Advanced Settings, can't find where to Update Token? I'm using ver. 2.1.5 on OC 3.0.2

[2019-04-16 20:46] shue249 commented on #142
Everyone, we have just released a version 2.1.6 which will solve the "error" or "Bad request" error message, allowing you to update the token and without the need to run any codes on the console. Please update to the latest version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.6

However, if you still encounter the "Invalid access token" even after updating th

[2019-04-16 20:46] #142 closed

[2019-04-16 20:47] shue249 commented on #140
@hammadrahman , we have just released a version 2.1.6 which will solve the "error" or "Bad request" error message, allowing you to update the token and without the need to run any codes on the console. Please update to the latest version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.6

However, if you still encounter the "Invalid access token" even after updat

[2019-04-16 20:47] #140 closed

[2019-04-16 20:48] shue249 commented on #139
@yingqingzhou Can you put the screenshot here as we cannot see the image from your previous reply.

[2019-04-16 20:49] shue249 commented on #137
@Anders1982, we have just released a version 2.1.6 which will solve the "error" or "Bad request" error message, allowing you to update the token and without the need to run any codes on the console. Please update to the latest version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.6

However, if you still encounter the "Invalid access token" even after updating

[2019-04-16 20:49] #137 closed

[2019-04-16 20:50] shue249 commented on #136
@Merih06, we have just released a version 2.1.6 which will solve the "error" or "Bad request" error message, allowing you to update the token and without the need to run any codes on the console. Please update to the latest version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.6

However, if you still encounter the "Invalid access token" even after updating th

[2019-04-16 20:50] #136 closed

[2019-04-16 20:50] shue249 commented on #91
Everyone, we have just released a version 2.1.6 which will solve the "error" or "Bad request" error message, allowing you to update the token and without the need to run any codes on the console. Please update to the latest version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.6

However, if you still encounter the "Invalid access token" even after updating th

[2019-04-16 20:50] #91 closed

[2019-04-16 20:52] shue249 commented on #104
@sirericg, we have just released a version 2.1.6 which will we hope to solve the pixel firing issue on your system.

Can you upgrade the plugin to the latest version and see if all the pages are now firing pixel, eg product details page, product category, shopping cart, check out and payment.

[2019-04-16 20:53] shue249 commented on #115
@SergejsRo , we have just released a version 2.1.6 which will we hope to solve the pixel firing issue on your system.

Can you upgrade the plugin to the latest version and see if all the pages are now firing pixel, eg product details page, product category, shopping cart, check out and payment. Pls let us know the status on your website.

[2019-04-16 20:54] shue249 commented on #116
@Hristow , we have just released a version 2.1.6 which will we hope to solve the pixel firing issue on your system.

Can you upgrade the plugin to the latest version and see if all the pages are now firing pixel, eg product details page, product category, shopping cart, check out and payment. Pls let us know the status on your website.

[2019-04-16 20:54] shue249 commented on #118
@nichinu  , we have just released a version 2.1.6 which will we hope to solve the pixel firing issue on your system.

Can you upgrade the plugin to the latest version and see if all the pages are now firing pixel, eg product details page, product category, shopping cart, check out and payment. Pls let us know the status on your website.

[2019-04-16 20:55] shue249 commented on #125
@cccelil  , we have just released a version 2.1.6 which will we hope to solve the pixel firing issue on your system.

Can you upgrade the plugin to the latest version and see if all the pages are now firing pixel, eg product details page, product category, shopping cart, check out and payment. Pls let us know the status on your website.

[2019-04-16 20:56] shue249 commented on #120
@Emwestside We will be closing off this ticket as a wontfix. Feel free to reach out to us if you have any new findings or progress.

[2019-04-16 20:56] #120 closed

[2019-04-16 20:58] shue249 commented on #127
@DORMETA We need to work on improving the resync feature for the plugin, so that you can re-update all the products gracefully. We will inform you soonest when we have any updates.

[2019-04-16 20:59] shue249 commented on #128
@ryanstacey  , we have just released a version 2.1.6 which will we hope to solve the pixel firing issue on your system.

Can you upgrade the plugin to the latest version and see if all the pages are now firing pixel, eg product details page, product category, shopping cart, check out and payment. Pls let us know the status on your website.

[2019-04-16 21:00] shue249 commented on #130
@missbow You do not need to put any code. What you need to do are these following 2 steps:
1. Can you disable the OpenCart theme cache - https://drive.google.com/open?id=1bY-bworYxX36b88HDvFW0_32C3Wtq_Tm

2. Can you click on Refresh modifications again. Then check if the pixel is firing and you can see the messenger chat plugin. https://drive.google.com/open?id=1qy-ipwK1HCk8oSnUmGuy6MCJxQdUyGfw

[2019-04-16 21:04] shue249 commented on #138
@Shrimp1234 To activate the products based on conditions, the recommended way to do it is via product sets. You can set in various filters to your product set to control the products to be shown.

https://www.facebook.com/business/help/620275848114281

[2019-04-16 21:58] xakou commented on #144
Hello, i have the error: Error with getting the initial product sync status The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token.

[2019-04-17 02:29] yingqingzhou commented on #139
*It was already resolved, thank you very much!*

shue249 <notifications@github.com> 于2019年4月16日周二 下午3:48写道：

[2019-04-17 05:04] shue249 commented on #139
Great, feel free to reach to us if you have any further questions.

[2019-04-17 05:04] #139 closed

[2019-04-17 08:48] iq860 commented on #144
how do i update do i just install the new extension or do i have to remove the old one ?

[2019-04-17 10:20] hassni1 opened #146 "after installed the newer version fb openccart 2.1.6 , getting an error on AD SETUP tab ."
Catalog Can't Be Synced
A system error is preventing your catalog from syncing. You can still get website visitors and track sales, and we'll notify you when your catalog is ready to sync.

[2019-04-17 10:27] racasanucrinel commented on #144
Hello, i installed the latest version 2.1.6 and i have same problem. I can regenerate token but i have this error "The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token."
![Facebook Ads Extension](https://user-images.githubusercontent.com/31210280/56281051-508a6c80-6114-11e9-9276-48f393f3915e.png)

LOGS:

201

[2019-04-17 14:55] Elected0406 opened #147 "Products are not uploaded to catalog due to invalid access token"
pixel identifier on the site and on facebook are not the same, can I register the identifier in the code of the plugin and set it to the site again
![pixel](https://user-images.githubusercontent.com/20260940/56297888-dec51980-6139-11e9-8afe-51c2f317f07c.png)

[2019-04-17 16:53] VitaliiFesh commented on #91
Hello, I've just updated to 2.1.6 and still getting same error.
Please advice.
Logs:
2019-04-17 19:44:12 - Facebook Ads Extension version = 2.1.6
2019-04-17 19:44:12 - OpenCart version = 2.3.0.2
2019-04-17 19:44:12 - PHP version = 5.6.40
2019-04-17 19:44:12 - Verifying Availability of Facebook Ads Extension Settings Availability
2019-04-17 19:44:12 - FAE Setting ID = true
2019-04-17 19:44:12 - Pix

[2019-04-17 16:56] maxdmtrv commented on #146
I'm getting the same error after updating to version 2.1.6. I've tried deleting OCMOD and system caches but it didn't help.

I'm running the module on Opencart 2.3.

[2019-04-17 18:54] xakou opened #148 "Catalog Can't Be Synced"
Hello, with Opencart 2.3.0.2 and Facebook Ads Extension 2.1.6

"Catalog Can't Be Synced
A system error is preventing your catalog from syncing. You can still get website visitors and track sales, and we'll notify you when your catalog is ready to sync."

Also i have after some minutes "You must update the access token, which is used to synchronize your products with Facebook."

[2019-04-17 20:00] stefansxxl commented on #148
the same problem
![image](https://user-images.githubusercontent.com/18592184/56317003-6cb5fa00-6164-11e9-89f3-1b35f5ac8965.png)
and
![image](https://user-images.githubusercontent.com/18592184/56317046-89eac880-6164-11e9-9bf5-677d305ae143.png)

[2019-04-17 20:16] AnPervak opened #149 "The Facebook access token is invalid"
Hello!

I'm getting periodical error
"The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token."

Token update works fine, but not for a long time.
I need to update token few times a day.

What's the possible reason of this problem and how can I fix it?

Opencart version 2.1.0.1 (trs.2.0.3.0)
Plugin version 2.1.

[2019-04-17 20:17] AnPervak commented on #149
Log file:

2019-04-17 0:21:03 - Update products for availability change - 3275
2019-04-17 0:21:03 - Invalid access token when querying FB page
2019-04-17 10:00:46 - Invalid access token when querying FB page
2019-04-17 10:08:28 - Invalid access token when querying FB page
2019-04-17 10:26:42 - Invalid access token when querying FB page
2019-04-17 10:26:52 - Invalid access token when querying FB pa

[2019-04-17 20:32] adias commented on #142
Hello, same problem after a clean install of o.c 3031 and 2.1.6.
Tnk's [ ]'s

17-04-2019 20:01:31 - Get Sample product feed
17-04-2019 20:01:31 - Complete - Get Sample product feed
17-04-2019 20:19:28 - Get Sample product feed
17-04-2019 20:19:28 - Complete - Get Sample product feed
17-04-2019 20:21:59 - Get Sample product feed
17-04-2019 20:21:59 - Complete - Get Sample product feed
17-04-2019 20

[2019-04-17 20:33] adias commented on #144
Hello, same problem after a clean install of OC 3031 and 2.1.6 module.
Tnk's [ ]'s

17-04-2019 20:01:31 - Get Sample product feed
17-04-2019 20:01:31 - Complete - Get Sample product feed
17-04-2019 20:19:28 - Get Sample product feed
17-04-2019 20:19:28 - Complete - Get Sample product feed
17-04-2019 20:21:59 - Get Sample product feed
17-04-2019 20:21:59 - Complete - Get Sample product feed
17-04-2

[2019-04-17 22:23] shue249 commented on #149
@AnPervak Thank you for your feedback. We are working to resolve this issue now and will update you soonest when it is done.

[2019-04-17 22:23] shue249 commented on #149
Duplicate issue as https://github.com/facebookincubator/Facebook-For-OpenCart/issues/144

[2019-04-17 22:27] shue249 commented on #147
@Elected0406 What is your website URL?

[2019-04-17 22:29] shue249 commented on #146
@hassni1 , @maxdmtrv We are looking into this issue now. To help with easier tracking, we will close off this ticket and consolidate the tracking on this https://github.com/facebookincubator/Facebook-For-OpenCart/issues/148

[2019-04-17 22:29] #146 closed

[2019-04-17 22:31] Elected0406 commented on #147
@shue249 https://lavlis.com.ua

[2019-04-17 22:40] AnPervak commented on #149
Not actually "Duplicate issue as #144".
I've got Update button and it works.
For a few hours everything is OK,
But afterwards, "The Facebook access token is invalid..."

[2019-04-17 22:53] shue249 commented on #142
@adias Are you able to see the option to update the token?
![image](https://user-images.githubusercontent.com/11957585/53614459-06f1cb00-3c15-11e9-825b-c042eb15cebb.png)

[2019-04-17 22:55] shue249 commented on #144
Yes, you need to remove the old version and install the new version

[2019-04-17 22:59] shue249 commented on #144
@xakou Are you able to see this option to update the token?
![image](https://user-images.githubusercontent.com/11957585/53614459-06f1cb00-3c15-11e9-825b-c042eb15cebb.png)

[2019-04-18 00:39] shue249 commented on #148
@stefansxxl Can we trouble you to share a file from your webserver. The file is <opencart folder>/admin/controller/extension/facebookadsextension.php. We like to verify the status of that file on your webserver. You can attach the file here

[2019-04-18 00:42] shue249 commented on #149
@AnPervak this is correct. The users on issue 144 are experiencing the same issue as well. After updating the token, they still encounter invalid access token. We are looking into this issue now.

Can I suggest for us to close this ticket and continue to track your case on issue 144, so that we can streamline our reporting. Let us know if you have any further questions.

[2019-04-18 00:42] #149 closed

[2019-04-18 00:47] shue249 commented on #147
@Elected0406 We can see that your website is firing for the pixel id that ends with 2157. Is this what you want to achieve?

![image](https://user-images.githubusercontent.com/11957585/56329533-8c760e00-61b6-11e9-8fb5-d69cb7092457.png)

[2019-04-18 04:45] zigi00x opened #150 "Catalog Can't Be Synced"
Catalog Can't Be Synced
After update facebook extension i get this error A system error is preventing your catalog from syncing. You can still get website visitors and track sales, and we'll notify you when your catalog is ready to sync.

[2019-04-18 05:30] alexob commented on #91
Hi,
I have the same problem as in 1st post. (version 2.1.6)

[2019-04-18 06:02] xakou commented on #144
@shue249 yes i can see this option. I did Update Token and after sometime i have the error " The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token."
At the log file i have "Invalid access token when querying FB page" and "Error with getting the initial product sync status The Facebook access token is invalid.

[2019-04-18 06:07] xakou commented on #148
This is my fine (zipped)
[facebookadsextension.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3092976/facebookadsextension.zip)

[2019-04-18 06:54] karabuluterkan commented on #148
@shue249 I have the same problem.the file you want here

[facebookadsextension.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3093103/facebookadsextension.zip)

[2019-04-18 06:57] Elected0406 commented on #147
@shue249 I thought ID mismatch caused Catalog sync error but it still not working
![123](https://user-images.githubusercontent.com/20260940/56342309-4e7de780-61c0-11e9-86d4-24b60d1634a0.png)
[Lavlis_2019-04-18_09-25-44_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3093111/Lavlis_2019-04-18_09-25-44_facebook_ads_extension.log)

[2019-04-18 09:50] Hristow commented on #116
@shue249 I have updated the extension but now InitiateCheckout, Purchase and Search events are not working... I have been waiting for a month and still, Fb pixel is not working properly. Can you look and fix the problem manually? I can send you FTP and admin access by email.

[2019-04-18 09:55] itshaman commented on #150
![image](https://user-images.githubusercontent.com/16690535/56352994-17680000-61d9-11e9-8531-1b6d9c747c68.png)
Have a same troble. Update extension to 2.1.6

[2019-04-18 10:26] SergejsRo commented on #115
@shue Thank you for info about new release.
Seems pixel fires everywhere: addtocart, category, pageview, purchase, viewcontent, search
Only not fires on checkout "initiatecheckout", but it is probably as our checkout path is onepagecheckout/checkout
Where can I modify it to make work?

Also I see error of catalog sync, however, new catalog has been created in FB business.
Adding print screen and f

[2019-04-18 10:59] hongyiu commented on #148
i have the same problem

[2019-04-18 11:00] hongyiu commented on #150
i have the same problem

[2019-04-18 13:56] alycecristines commented on #148
having the same problem here too.

[2019-04-18 18:32] stefansxxl commented on #148
<?php
// Copyright 2017-present, Facebook, Inc.
// All rights reserved.

// This source code is licensed under the license found in the
// LICENSE file in the root directory of this source tree.

class ControllerExtensionFacebookAdsExtension extends Controller {
  private $faeLog;

  public function __construct($registry) {
    parent::__construct($registry);
    if (class_exists('FacebookCommonUt

[2019-04-18 18:33] stefansxxl commented on #148
[facebookadsextension.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3095739/facebookadsextension.zip)

[2019-04-18 19:29] alengeere commented on #145
When i had problems, facebook, instagram and whatsapp were working very slowly in Turkey. Later in the day, they started working properly, and my problem was spontaneously improved. Thank you for your quick reply. It works fine now.

[2019-04-18 19:29] #145 closed

[2019-04-18 19:54] stefansxxl commented on #148
This extension has created another problem in my site, in the admin / controller / extension folder it created a folder "module" and when I go from admin-->extensions-->modules, I get the message "The Page Not Found!" and when i rename the folder module, the page modules works.

[2019-04-18 20:38] shue249 commented on #150
Thanks to everyone for your feedback! We are looking into this issue now. For now, in order to streamline the error tracking, we will be consolidating all these cases into this thread https://github.com/facebookincubator/Facebook-For-OpenCart/issues/148, and we will be closing off this.

[2019-04-18 20:38] #150 closed

[2019-04-19 00:26] ac5m4ck commented on #148
[facebookadsextension.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3096588/facebookadsextension.zip)

This is my facebookadsextension.php (zipped). I'm having the same trouble in my website
"Catalog Can't Be Synced
A system error is preventing your catalog from syncing. You can still get website visitors and track sales, and we'll notify you when your catalog is ready to s

[2019-04-19 05:56] ba4enas commented on #144
Hello,
I have trouble installing Facebook Ads Extension. My version of Open Cart in 2.1.0.1. After update the token i have this issue:
 There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Github if this error keeps showing.

[2019-04-19 06:31] shue249 commented on #148
Everyone, thank you for your patience. We are working to resolve this problem and we will update everyone soonest once we have any updates.

[2019-04-19 06:33] shue249 commented on #148
@stefansxxl Can you reach to us at ads_extension_opencart@fb.com, as we need to check in with you on your case offline.

[2019-04-19 06:34] shue249 commented on #144
Everyone, thank you for your feedback. We are working now to resolve this issue and will inform everyone soonest once we have any update.

[2019-04-19 06:41] shue249 commented on #115
@SergejsRo Thank you for the feedback on the catalog sync error. We are working to resolve this issue now. Feel free to leave a comment on https://github.com/facebookincubator/Facebook-For-OpenCart/issues/144 so that we can notice you when the issue is solved.

As for the checkout path, this is the place where you can make the changes https://github.com/facebookincubator/Facebook-For-OpenCart/blob

[2019-04-19 06:41] #115 closed

[2019-04-19 16:27] anasnemer opened #151 "two pixels and duplicate conversion"
Hi

thank you all for your efforts

Kindly help me with this issue

i have on my website two pixels and duplicate conversion as per below pic

i am trying to solve it by delete one pixel but i cant

i install the pixel by plugin

![Annotation 2019-04-19 191903](https://user-images.githubusercontent.com/49791430/56433310-1e763780-62d9-11e9-93f7-97734d44993b.jpg)

[2019-04-19 18:58] svvikki opened #152 "After installation i am seeing this error"
I am using versdion 2.3.0.2. I have installed the module using ocmod. I have renamed my admin folder. After installation when i go to my site I am seeing the below error

Notice: Undefined index: route in /home/public_html/trendy/vqmod/vqcache/vq2-catalog_controller_extension_facebookpageshopcheckoutredirect.php on line 13Notice: Undefined offset: 1 in /home3/public_html/trendy/vqmod/vqcache/vq2-c

[2019-04-19 22:38] i3kevin opened #153 "Handling of pre-order products"
90% of my website order are pre-order items.
Therefore I will set items quantity in Opencart as 'zero' for pre-order items and opencart will display as "Pre-order" when it is out of stock.
However, facebook catalog will show item all "out of stock" and disable the link to my website on the Facebook shop tab.
May I know how to solve this problem?

[2019-04-20 02:55] svvikki commented on #152
This is due to another module. I am closing this issue

[2019-04-20 02:55] #152 closed

[2019-04-20 06:39] shue249 commented on #153
@i3kevin Thank you for your feedback. This is an interesting use case. Let us look into this and see how we can put in this enhancement. We will update you soonest when we have any updates.

[2019-04-20 06:48] shue249 commented on #148
Everyone, thank you for your patience. We have resolved the issue of "Catalog  cant be synced". We will be closing out this ticket.

@stefansxxl We like to continue to follow up with you on your issue of the "error" shown on the facebook ads extension. Can you create another separate ticket and we will follow up with you on the new ticket.

[2019-04-20 06:48] #148 closed

[2019-04-20 06:57] xakou commented on #148
@shue249 The problem exist! Check the error message: "Error with getting the initial product sync status The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token"

[2019-04-20 07:00] xakou commented on #148
@shue249
![image4763](https://user-images.githubusercontent.com/49698771/56454000-2b377180-6353-11e9-8c7c-17daeaf542f5.jpg)
![image4762](https://user-images.githubusercontent.com/49698771/56454001-2bd00800-6353-11e9-9160-a86f21d7e8bf.jpg)

[2019-04-20 07:08] shue249 commented on #151
@anasnemer We looked at your website. There is already a pixel code embedded in your website that you need to remove. You may need to see if you need to modify your opencart website codes manually or this is from a 3rd party plugin that you need to disable.

![image](https://user-images.githubusercontent.com/11957585/56454064-17553500-637e-11e9-9312-3146ab2d4895.png)

Unfortunately, we are unable

[2019-04-20 07:09] #151 closed

[2019-04-20 07:13] shue249 commented on #116
@Hristow
1. Can I understand if the InitiateCheckout, Purchase and Search are working on plugin version 2.1.3?
2. Are there any 3rd party extensions you are using for search and checkout?

[2019-04-20 07:14] shue249 commented on #104
@sirericg We will be closing out this ticket. Feel free to reach out us again if you have any further questions.

[2019-04-20 07:15] shue249 commented on #118
@nichinu We will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-04-20 07:15] shue249 commented on #128
@ryanstacey. We will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-04-20 07:15] #128 closed

[2019-04-20 07:16] shue249 commented on #125
@cccelil.  We will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-04-20 07:16] #125 closed

[2019-04-20 07:19] hongyiu commented on #148
I have the same problem

[2019-04-20 07:31] shue249 commented on #91
@VitaliiFesh , @alexob

Launch the Facebook Ads Extension popup and you should be able to see the option to update the token.
![image](https://user-images.githubusercontent.com/11957585/53614459-06f1cb00-3c15-11e9-825b-c042eb15cebb.png)

Click on Update token. If the error message still remains, can you leave a comment on this ticket. We have a small group of users who still have problems with the

[2019-04-20 07:33] shue249 commented on #148
@xakou , @hongyiu

@VitaliiFesh , @alexob

Launch the Facebook Ads Extension popup and you should be able to see the option to update the token.
![image](https://user-images.githubusercontent.com/11957585/53614459-06f1cb00-3c15-11e9-825b-c042eb15cebb.png)

Click on Update token. If the error message still remains, can you leave a comment on this ticket. We have a small group of users who still hav

[2019-04-20 07:39] shue249 commented on #144
Everyone, we will like to get additional feedback on your opencart plugin setup to help us troubleshoot this issue. If you have access to mysql knowledge, we need your help to send us the access token and page id from your system, for us to verify the reason why the access token remains invalid.
To get these details, you need to do the follow:

1. Connect to your MySQL database
2. Run the query –

[2019-04-20 07:51] hongyiu commented on #148
I have no this option, cannot find under “delete setting” button or anywhere

[2019-04-20 08:15] shue249 commented on #148
@hongyiu Can you share the full screenshot of the Facebook Ads Extension popup with us here. It seems there is a red warning about API but I am unable to interpret the language.

[2019-04-20 08:22] VitaliiFesh commented on #148
![screen1](https://user-images.githubusercontent.com/49728200/56454780-8cb10d80-635e-11e9-878f-b7c8e63743c9.jpg)
here is the thing... I do not have that option.

[2019-04-20 08:30] shue249 commented on #148
@VitaliiFesh Can you also share how the facebook ads extension plugin looks like on your admin panel.

![image](https://user-images.githubusercontent.com/11957585/56454847-88e6b080-6389-11e9-9012-fb9fa2f8f878.png)

[2019-04-20 08:31] VitaliiFesh commented on #148
![screen2](https://user-images.githubusercontent.com/49728200/56454863-e1a15380-635f-11e9-8e4f-43667263f470.jpg)
sure

[2019-04-20 08:35] shue249 commented on #148
@VitaliiFesh, this is really helpful. Will you be able to follow the instructions in this link and send us more information for us to troubleshoot your issue.

https://github.com/facebookincubator/Facebook-For-OpenCart/issues/144#issuecomment-485066996

[2019-04-20 09:20] alexob commented on #144
I have the same error and I know how it arises.
I set up plugin, it work correctly. Then in browser I login to Facebook site with my other account. After that if I go to management my ocStore I will get this error.

[2019-04-20 09:41] hongyiu commented on #148
My admin panel look the same

[2019-04-20 10:05] shue249 commented on #144
@alexob This is really helpful! Can I confirm with you. What happens when you login back to the original account that you used to setup the plugin? Will the error go away?

[2019-04-20 10:27] alexob commented on #144
No, the error remains even after login back into the orignal account.

[2019-04-21 10:02] i3kevin commented on #153
When I change the product setting: subtract stock -> "NO", will this solve the problem?
Then facebook shop will always display "in stock" even I have 'zero' quantity in the backend?

[2019-04-22 02:42] shue249 commented on #153
@i3kevin That is correct - putting as subtract stock -> No will always display as stock available on Facebook page shop. If this works for you, you can use this method first.

[2019-04-22 13:54] ba4enas commented on #144
I put the token again but the same problem appeared. Must i put non-expiring Access Token?
Also which token should i get: the catalog or the page?

[2019-04-22 21:20] ac5m4ck commented on #144
having the same error here. Email sended.

[2019-04-23 08:35] Hristow commented on #116
@shue249

1. Yes
2. No

[2019-04-23 12:00] robihdr commented on #91
@shue249 Thanks

[2019-04-23 12:53] shue249 commented on #144
For everyone who encounters the problem where the access token continues to show as invalid. Can we understand if you have logged out of Facebook on that same browser which you used to complete the setup?

Thanks to @alexob for flagging this!

[2019-04-23 14:01] ac5m4ck commented on #144
I have facebook account logged in. I can not remember when I last logged out.

[2019-04-23 19:58] adias commented on #144
hello, im trying to depure the problem, for now i get 2 possible erros...

1 - After update the token (at plugin setting area), i'm check if is valid in the url :
https://developers.facebook.com/tools/debug/accesstoken

And i get this error, a know facebok api error.

![face-log-error-1](https://user-images.githubusercontent.com/1707013/56611189-96997180-65e7-11e9-8850-9ad2809228b8.png)

https://g

[2019-04-23 20:39] adias commented on #144
Hello,
i think i resolve the error...

admin/controller/extensions/facebookadsextension.php
line 303:
: $this->session->data['token'];
to
: 'MY-TOKEN';

line: 307
return 'user_token=' . $this->getToken() . '&token=' . $this->getToken();
to
return 'user_token=' . $this->getToken() . '&token=MY-TOKEN';

The message error disappear and, i dont know but im thinkin its working now,
im waiting ... the p

[2019-04-24 07:27] Latchezar commented on #144
@shue249  I am having the same issue. I'm not sure if the issue is in opencart. I went to the Graph API Explorer and typed in my opencart sql data and i got the following message:
{
  "error": {
    "message": "The 'manage_pages' permission must be granted before impersonating a user's page.",
    "type": "OAuthException",
    "code": 190,
    "fbtrace_id": "**********"
  }
}

So may be I have to

[2019-04-25 07:56] WilliamYuAnLai commented on #144
I still have an error as well

[2019-04-25 08:29] SamairZia commented on #91
Hey,
I have updated the version of this plugin to v2.1.6 , but still it shows the error "The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token.". But no such button was found there I'm using Opencart version 2.3.0.2.
I have ran this code on the JavaScript console "window.facebookAdsToolboxConfig.tokenExpired

[2019-04-25 08:41] chicho-picho commented on #91
Hi there, i had the same problem with 2.1.5, i Updated token and after that i have no problems. I think the problem is very simple.... you have 2 or more facebook profiles and when you switch to other profile you get the error. It's very simple :)

[2019-04-25 09:42] shue249 commented on #144
Thank you to all for the feedback. We are working on addressing the issue. One possible solution for now is not to log out of Facebook on the same browser.

[2019-04-25 13:05] JakubSVK opened #154 "Special price on Products"
Hello,
we have in Opencart 3.0.2.0 special price for wholesale customers. Not for default customers.

If we are using plugin, we have a wholesale price on Facebook store catalog.

It is possible to change or hide special price ?

Thank you

[2019-04-25 13:07] zigi00x commented on #154
site?

[2019-04-25 13:09] JakubSVK commented on #154
https://www.project-f.sk

[2019-04-26 08:35] shue249 commented on #144
Thank you to everyone for your patience and thank you for all the information you have send to us. We are working on a fix now and is expecting to land the fix  by end of the week. We will keep everyone posted once the fix is landed.

For now, we have sufficient data points and you do not need to send us anymore invalid access tokens and page ids.

[2019-04-26 11:13] bloodey opened #155 "Journal3 is not conforming to Opencart default implementation; resulting in not directing to checkout automatically on product listing pages"
Firstly thanks for this great extension.
I'm using latest version of FFO (2.1.6) with Journal 3 (www.sarvonni.com)
Normally, my products have buy now (quick buy) function which automatically adds product to cart and then redirect you to checkout page. But after installing this extension this function doesnt work anymore. I mean if you click buy now (Heman al in my site) button products goes to car

[2019-04-27 07:26] Skulptz opened #156 "Facebook Ads extension update access token error"
Updated the Facebook Ads Extension plugin 2.1.6. Still the <Update access token> button is not found in the Advanced options. Please check the attached screenshot for your reference and provide your assistance to resolve the issue
![Screen Shot 2019-04-27 at 11 27 01 AM](https://user-images.githubusercontent.com/50041530/56846342-cf895d00-68eb-11e9-87b9-e4d0847490e4.png)
.

[2019-04-28 01:47] shue249 commented on #147
@Elected0406 We have fixed the message on the Catalog Cant's be Synced.

Are you still getting any errors on the Facebook Ads Extension module screen?

[2019-04-28 01:49] shue249 commented on #141
@crossbodycom80 We will be closing out this ticket. Pls feel free to reach to us if you have any further questions.

[2019-04-28 01:49] #141 closed

[2019-04-28 01:49] shue249 commented on #138
@Shrimp1234 We will be closing out this ticket. Pls feel free to reach to us if you have any further questions.

[2019-04-28 01:49] #138 closed

[2019-04-28 01:58] shue249 commented on #154
@JakubSVK
1. Can you share more details on how do you setup the wholesale price for the customers. Any screenshots will be super helpful for us
2. Can you explain how do you expect the price to be like. We want to understand what is the mismatch/gap between your expectation and what the plugin is doing now.

This is based on my understanding, pls feel free to let me know if my understanding is wro

[2019-04-28 02:03] shue249 commented on #16
@reorado , @feliperabreu

Re-visiting this old issue. One way for you to prevent the general public to see the special price is for you to change the code of this file on your webserver (pls ensure that you are using the latest version of the plugin - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.6). By setting the $product_specials to be false, the discount price wi

[2019-04-28 02:03] shue249 commented on #154
Duplicate issue as https://github.com/facebookincubator/Facebook-For-OpenCart/issues/16

[2019-04-28 02:22] shue249 commented on #155
@bloodey This is what we observed.
1. The (Helman al) button on the product details page work as expected; it directs to checkout page.
![image](https://user-images.githubusercontent.com/11957585/56857313-7a5a5380-699e-11e9-8a23-8913060b063f.png)

2. The (Helman al) button on the product listing page does not work as expected. Upon further investigation, the reason is because Journal 3 is not usin

[2019-04-28 02:25] shue249 commented on #156
@Skulptz Can you share the screenshot of how the Facebook Ads Extension entry module screen looks like. Are there any error message shown here?

![image](https://user-images.githubusercontent.com/11957585/56857423-dd98b580-699f-11e9-8881-5e15e55cd60a.png)

[2019-04-30 08:45] robteeshirtguy opened #157 "facebook shopping trying to get it to work on multimerch marketplace"
hi know i need to hook a link up to multimerch marketplace seller product submit button but what link do link to it from the facebook module so it add the product to facebook shopping as at min the only time it add them is if i go in to opencart admin and click on a product in product and then click save

[2019-05-01 09:15] Hristow commented on #116
Hello guys, I am waiting for two months now with useless FB pixel which doesn't work. Is there anyone who can solve my problem please because I am losing data every day?

[2019-05-02 03:57] Skulptz commented on #156
Here with sharing the screenshots. Just shows "error" as per the screenshot.
![Facebook Ads Extension-www skulptz com](https://user-images.githubusercontent.com/50041530/57055924-5a87a000-6cbc-11e9-8f19-38fb5409d976.png)

[2019-05-02 04:07] shue249 commented on #156
@Skulptz We tried to debug this with another OpenCart user, but we were not able to figure out the root cause.

Will you be able to delete away the Facebook Ads Extension settings and re-do the setup again? Here is a video on how to delete away the settings - https://drive.google.com/open?id=1PenBy_xizQGszdiS5BrmVFPypn5HKnkL

[2019-05-02 04:11] Skulptz commented on #156
Hi,

I have already done that, but no luck. Sharing the Opencart Dashboard,
Facebook Ads Extension home page and the log file for your reference.
Please provide your assistance to resolve the issue.

Regards,
Ravi.U
General Manager
Mob: 7010343119

www.skulptz.com

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.c

[2019-05-02 05:06] shue249 commented on #156
@Skulptz Instead of pasting the contents of the log file, will you be able to attach the log file directly to the github thread. Do not reply from your email as the attachment will not be able to go through

[2019-05-02 05:08] shue249 commented on #157
@robteeshirtguy Can you explain more on "multimerch marketplace seller". Is this a default feature of OpenCart or is this an additional 3rd party plugin?

Currently, our plugin is already creating and showing the products on facebook page shop and the link from facebook page shop is to your product details page on your store website

[2019-05-02 05:10] #104 closed

[2019-05-02 05:22] shue249 commented on #116
@Hristow Apologies for the slow response here, we are evaluating what are the other possible reasons on why this failed on your website. To provide context, our earlier fix worked for some merchants who are having the same problem as you, but unfortunately, it didnt work for you.

Could you send us a copy of this files on your webserver -> <opencart folder>/system/storage/modification/system/engin

[2019-05-02 06:04] Skulptz commented on #156
Sure. Please find attached the screenshots.
![Dashboard-www skulptz com](https://user-images.githubusercontent.com/50041530/57058470-ccb4b080-6ccd-11e9-96e0-fc9467f267bb.png)
![Facebook Ads Extension-www skulptz com](https://user-images.githubusercontent.com/50041530/57058471-ccb4b080-6ccd-11e9-827e-259d4ac621c8.png)

Log file content:
2018-11-30 10:45:41 - Get Sample product feed
2018-11-30 10:45

[2019-05-02 07:06] robteeshirtguy commented on #157
yes it a 3rd party module https://multimerch.com/ why turn opencart 2 into a full marketplace (multiseller platform) all the product as still add to opencart product section but throw the database as far as i understand as the seller have there own sections on the site what i needing to know is how does the facebook module know when you add a product normaly in opencart is it a line of code on the

[2019-05-02 08:11] shue249 commented on #156
@Skulptz I could not find the log file that shows that you delete away the Facebook Ads Extension settings. If you have triggered the deletion, you will see the log file having this message.

![image](https://user-images.githubusercontent.com/11957585/57063159-e1586f00-6cf4-11e9-92d1-365dc64ab3f2.png)

[2019-05-02 09:52] Hristow commented on #116
@shue249 Here's a file
I'm using a vqmod.
[front.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3137525/front.zip)

[2019-05-02 10:07] shue249 commented on #157
@robteeshirtguy Thanks for the context. Here are the code modifications that we made to the default OpenCart module to handle product changes.

Adding new products:
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/install.xml#L205

Editing existing products:
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/install.xml#L240

Deleting existing products:
ht

[2019-05-02 16:22] shue249 commented on #116
@Hristow The file you sent out is helpful. We found there is a code block which is not part of OpenCart's default implementation, so this could be a 3rd party extension that you used. We can suggest for you to try the steps in the screenshot out. (We also attached a copy of the update front.php file here for your reference) You can make the changes on your webserver and then try out to see if the

[2019-05-02 16:55] dimitris212 commented on #144
Hello,
I did what you've mentioned before about "window.facebookAdsToolboxConfig.tokenExpired = 'true'" in the console which shows the button and updates the token, but if I close the tab and reopen a new one the problem will come back, what is the solution?

[2019-05-03 17:59] xakou commented on #144
Hello @shue249 , do you have any news? The problems are true...
#1 "The Facebook access token is invalid. Please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token."
#2 The catalog doesn't sync

[2019-05-05 07:25] shue249 opened #158 "Tracking all new cases where access token shows as invalid"
Reference to previous tickets:
https://github.com/facebookincubator/Facebook-For-OpenCart/issues/144

**What have been done:**
1. Fixed the issue with access token encountering "manage_pages permission is missing"
2. Release version 2.1.7 which shows out the detailed error message with the access token

**What do you need to do:**
1. Update your plugin to version 2.1.7 - https://github.com/faceboo

[2019-05-05 07:30] shue249 commented on #144
Everyone, thank you again for your patience and your information to help us look into this case. We will like to take this chance to share what have we fixed, how should you go about resolving the problem on your OpenCart and what should you do if the access token still shows up as invalid

**What have been done:**
1. Fixed the issue with access token encountering "manage_pages permission is missi

[2019-05-05 07:30] #144 closed

[2019-05-05 07:32] shue249 commented on #144
@joanna-7 , @dmitrytrue, @xakou , @iq860 , @racasanucrinel , @adias, @ba4enas, @alexob , @ac5m4ck, @Latchezar, @WilliamYuAnLai , @dimitris212. Please note the comment above

[2019-05-05 07:36] shue249 commented on #91
Everyone, thank you again for your patience and your information to help us look into this case. We will like to take this chance to share what have we fixed, how should you go about resolving the problem on your OpenCart and what should you do if the access token still shows up as invalid. Please refer to this comment for more details. https://github.com/facebookincubator/Facebook-For-OpenCart/is

[2019-05-05 07:38] shue249 commented on #156
@Skulptz We will be closing out this ticket. Please refer to this link for more details - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/144#issuecomment-489399216

[2019-05-05 07:38] #156 closed

[2019-05-05 07:40] shue249 commented on #147
@Elected0406 We will be closing out this ticket. Please refer  to this post for more details. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/144#issuecomment-489399216

[2019-05-05 07:40] #147 closed

[2019-05-06 08:57] svremeto commented on #158
Hello! I have exactly this problem:

There is an error making API calls using the access token. The error encountered is "The access token could not be decrypted".
To update your access token, please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Update token.

[2019-05-06 09:13] dimitris212 commented on #144
@shue249
Ok that was fixed!

[2019-05-06 16:01] xakou opened #159 "There is an error making API calls using the access token"
Hello @shue249 ,
i have installed Plugin Version: 2.1.7  and after log out from FB i got the error `There is an error making API calls using the access token. The error encountered is "Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for security reasons.".
To update your access token, please click on Facebo

[2019-05-06 16:11] xakou commented on #159
2019-05-06 16:09:01 - Get Sample product feed
2019-05-06 16:09:01 - Complete - Get Sample product feed
2019-05-06 16:09:01 - Error when querying FB page - Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for security reasons.
2019-05-06 16:09:01 - Error with getting the initial product sync status There is a

[2019-05-07 01:36] shue249 commented on #158
@svremeto Can you pull out the Javascript console to inspect if there are any errors. If there are, can you force a reload of your browser.
![image](https://user-images.githubusercontent.com/11957585/57265687-67850480-70ab-11e9-94f5-e6527f1df7ee.png)

![image](https://user-images.githubusercontent.com/11957585/57265732-8f746800-70ab-11e9-9ecf-b0baac3cd323.png)

[2019-05-07 01:38] shue249 commented on #158
Logged out of FB - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/159

[2019-05-07 01:39] shue249 commented on #159
@xakou Thank you for the feedback. This is a known issue that occurs when you log out of FB. Can I better understand your use case on why do you need to log out of FB?

[2019-05-07 06:36] xakou commented on #159
@shue249 , I had to log out from FB because i have two FB accounts at my PC ;)
But when I log in again (with the right account), the error still exists.
Is it only the "display message" of the error? Are the products syncing correct? Or i have to do something else?

[2019-05-07 07:55] svremeto commented on #158
Hello! I hope this is what you are looking for.
![facebook 4](https://user-images.githubusercontent.com/50319977/57282793-71f8cb80-70b6-11e9-9254-f982d8084bef.jpg)
When i clicked to Empty Cache and Hard Reload i received one more error, after click on the Menage Settings button i received one more error (its show by the arrow, and after clicking to the cookies button i received one more.

[2019-05-07 11:09] haxcop opened #160 "Missing catalog id from the Facebook Ads Extension settings"
After updating the version of FB from 2.1.6 to 2.1.7 the tool stopped working and I'm not able to go to the setting or perform any action.

![image](https://user-images.githubusercontent.com/7826906/57294486-bfc60180-70bf-11e9-8119-f1443cdba1cc.png)

Also, notice the version was already uploaded and updated but keeps showing the previous version.

![image](https://user-images.githubusercontent.com

[2019-05-07 11:20] haxcop commented on #160
I have cleared the cache, disable the extension, re-enabled - Modification > Refresh
Tried again, the version now shows the correct, log back into FB Account page. - and receive the same behaviour.

Log File
2019-05-07 11:06:22 - Complete - Get Sample product feed
2019-05-07 11:06:23 - Failure - no catalog, page or access token, get initial product sync status
2019-05-07 11:06:23 - {"success":true

[2019-05-07 15:38] Hristow commented on #116
@shue249 I changed the file as described above but still: Search, InitiateCheckout and Purchase events do not work..
![Capture](https://user-images.githubusercontent.com/48366152/57312888-47514780-70a3-11e9-8c89-187f3db24327.PNG)

[2019-05-07 16:18] adias opened #161 "Suggestion to improve on the access token by replacing with own token"
@shue249 you have a bug here, not fixed at latest version !

You are passing the wrong token, you are passing the opencart token instead of the facebook token.

admin/controller/extensions/facebookadsextension.php
line 303
line: 307

-------------------

Hello,
i think i resolve the error...

admin/controller/extensions/facebookadsextension.php
line 303:
: $this->session->data['token'];
to
: 'MY-T

[2019-05-07 16:19] adias commented on #144
@shue249 you have a bug here, not fixed at latest version !

You are passing the wrong token, you are passing the opencart token instead of the facebook token.

admin/controller/extensions/facebookadsextension.php
line 303
line: 307

[2019-05-07 17:17] Hristow commented on #116
@shue249 Sorry my bad. Yes, all events are working after changing the code.
When I refresh modifications button the file changes back.

[2019-05-08 00:01] shue249 commented on #160
@haxcop Thank you for the feedback. The details for the log file is really helpful.

We found the cause is due to missing catalog_id. Will you be able to reset the Facebook Ads Extension setting? You will need to delete away the existing settings and re-do the setup again.

You can find the steps to delete away the existing settings here.
https://drive.google.com/open?id=1PenBy_xizQGszdiS5BrmVFPyp

[2019-05-08 00:02] shue249 commented on #159
@xakou Thank you for the feedback. Let us look into this on our side. We will get back to you soonest.

[2019-05-08 11:32] condor2 commented on #159
After I have deleted settings, now I can't import products. Store has no products.

It show Error on Dashboard and on console
Failed to load resource: the server responded with a status of 400 ()

And url is wrong
`....route=extension/facebookadsextension/getinitialproductsyncstatus&user_token=generated_token&token=generated_token`

Should read what oc version and use correct url

token for 2.3.0.

[2019-05-08 18:14] dyslexicdrakness opened #163 "Error when saving product Unsupported post request. Warning: Encountered problem updating product(s) to Facebook. Please retry again. Check the error log file for more details"
These error suddenly started happening on all stores...

Running version of OC 2.3.0.2 and Facebook Ads Extension version 2.1.6

The log shows something like this:

Sync for product 155
2019-05-08 17:34:52 - Failure update product 155 / 2268647409861605 on Facebook {"message":"Unsupported post request.","type":"GraphMethodException","code":100,"fbtrace_id":"BqBxuNT1KJ7"}
2019-05-08 17:34:53 - {"su

[2019-05-08 18:54] dimitris212 commented on #159
I have the same problem.
_There is an error making API calls using the access token. The error encountered is "Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for security reasons.".
To update your access token, please click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Upd

[2019-05-08 21:22] adias commented on #144
@shue249 I'm so sorry! the module is working now ...
Tnks ! [ ]'

[2019-05-09 00:10] shue249 commented on #161
@adias Thank you for your suggestion.

The plugin is already taking care of generating a set of access token that you can use for the catalog sync. The code pointers are as follow:

https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/admin/view/javascript/facebook/dia.js#L175

https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/admin/view/javascr

[2019-05-09 00:10] #161 closed

[2019-05-09 00:39] shue249 commented on #144
@adias Glad that it works for you. We have also replied to your comments - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/161

[2019-05-09 00:40] shue249 commented on #159
@dimitris212 Did you log out from FB on your browser?

[2019-05-09 07:59] dimitris212 commented on #144
You're right, its working!
I must log out from facebook.

[2019-05-09 08:29] svremeto commented on #158
Hello shue249, Did you found something? Could you help me, please?

[2019-05-10 07:05] condor2 commented on #159
Dowgraded to 2.0.3  (I use oc 2.3.0.2) and products was added to facebook store.

[2019-05-10 10:42] shue249 commented on #158
@svremeto 2 things.

1. We have released a new version of the plugin 2.1.8. You need to empty your browser cache and force refresh again.

2. We suspect that the latest plugin files are not copied over to your webserver correctly. Can you ensure that the opencart folder as write access. In particular, you need to check if this file is updated correctly as from the error message on the console, the

[2019-05-10 10:44] shue249 commented on #159
@xakou We have released a latest version of the plugin 2.1.8, where you will be able to refresh the access token now. Pls do a empty of your browser cache and force refresh. However, if you log out from FB, the access token will be invalidated.

[2019-05-10 10:45] shue249 commented on #159
@dimitris212  As mentioned on the other thread, we are aware of the problem where the access token becomes invalidated if you log out from FB.

You can also install the latest version of the plugin 2.1.8, where you will be able to refresh the access token now. Pls do a empty of your browser cache and force refresh.

[2019-05-10 10:47] shue249 commented on #159
@condor2 From your description, your problem is not on the access token, as we did not change the method of catalog sync from 2.0.3 to 2.1.7.

What I suspect is that when you install version 2.1.7, there are some files which are not copied over correctly. Can you check if your webserver folder has write access permission? Also can you check your webserver error log as it will tell you the exact pr

[2019-05-10 10:48] shue249 commented on #163
@dyslexicdrakness Let us take a look at the errors.

[2019-05-10 10:54] shue249 commented on #116
@Hristow You are correct that once you refreshed modifications, the amended file will be changed back. To fix this problem permanently, we need to find the right way to fix this on the plugin codes. For the time being, can you avoid the refresh modifications button or to replace back the amended front.php while we look to see how we can fix this permanently.

[2019-05-10 12:47] condor2 commented on #159
I have installed using ocmod installer and using FTP same issue.

For example in my case

When I have deleted ocmod file Facebook Ads Exstension, refreshed ocmod and installed 2.1.8 it show Checking on upload status...

When you go to Manage settings and delete facebook store settings and start again 2.1.8 can't upload 3858 products.

If you delete settings 2.0.3 can upload the products .

[2019-05-10 13:32] shue249 commented on #159
@condor2 We believe that your issue is not to do with access token. Can we ask for you to help us create a new ticket so we can address your issue on that new ticket.

Were you able to look into the webserver error log file? Also can you check this file on your webserver and paste it on the ticket. We can compare to see if the file belongs to the latest version. admin/controller/extension/facebook

[2019-05-10 14:40] Hristow commented on #116
@shue249 Okay. Please let me know when you fix it.

[2019-05-10 15:17] svremeto commented on #158
I`ve checked the folder where the website is based and these are the settings http://prntscr.com/nmvdlm
Is it fine?

[2019-05-10 16:03] dyslexicdrakness commented on #163
They are all production sites and last time I updated the extension I had to delete settings and reconfigure which needless to say caused a lot of issues for my clients who had campaigns running and had already organized the fb catalog into categories...

Do you think going from 2.1.6 to 2.1.8 will unsync the catalog?

I'm attaching the log file for one of the sites but I suppose they will all sho

[2019-05-10 17:04] svremeto commented on #158
I`ve installed the new plugin. I`ve copied the file that you send me and placed on my server. I`ve clicked the button "Empty Cache and Hard Reload" but still facing the same error...

[2019-05-10 18:14] dyslexicdrakness opened #165 "Sales end should not be inclusive and ends sales is not considering in the timezone locale"
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/8d5d217bda1d6e9f185444b3cd5388e7026a86fd/upload/system/library/facebookproductformatter.php#L210

I'm new to github community and culture so not sure how to contribute...

I got a report from a client that the sales were not syncing properly. Upon doing some test and reviewing the code I believe this line:

          : $product_specia

[2019-05-11 04:07] shue249 commented on #157
@robteeshirtguy We will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-05-11 04:07] #157 closed

[2019-05-11 04:08] shue249 commented on #155
@bloodey We will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-05-11 04:08] #155 closed

[2019-05-11 04:13] shue249 commented on #158
@svremeto
![image](https://user-images.githubusercontent.com/11957585/57564850-c87f4600-73e5-11e9-9277-d31b5271cb19.png)

![image](https://user-images.githubusercontent.com/11957585/57564877-26ac2900-73e6-11e9-8d37-4334500a70b8.png)

[2019-05-11 04:42] shue249 commented on #165
@dyslexicdrakness Thank you for your feedback. We believe the culprit is on the locale of the MAX_TIME.

https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/library/facebookproductformatter.php#L67

The MAX_TIME is already set at 23:59, but the locale is set to be at GMT time and should have considered in the locale time zone instead.

Let us work out a fix for thi

[2019-05-11 04:43] shue249 commented on #160
@haxcop Want to check in here if you are able to reset the settings and get the product sync working?

[2019-05-11 04:46] shue249 commented on #163
@dyslexicdrakness

1. Updating the plugin to latest version does not require you to delete away the existing settings. The plugin update is only copying over the updated plugin files to your webserver. There is no need to re-do the Facebook Business extension setup again.

2. You can safely update the plugin from 2.0.3 to current 2.1.8

3. How are the products managed? Are your clients using the d

[2019-05-11 11:55] svremeto commented on #158
Hello, i`ve tried to do this but i`m facing the same problem. Here is the file after reinstalling the plugin.

[facebookadsextension.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3168991/facebookadsextension.zip)

[2019-05-12 02:27] HWDonald opened #166 "Error when removing connections for page with existing page shop connected"
Trying to get FB for OpenCart to connect but it says I'm already connected.  When I click to remove existing connection I get Sorry, something went wrong. This might be a temporary issue and we're working to get it fixed as soon as we can. Please try again later.  How do I fix this?

[2019-05-12 04:07] shue249 commented on #166
@HWDonald  Thank you for the feedback.

Can you share a screenshot of how the error message looks like, so we ca better understand where is the point of failure.

[2019-05-12 13:04] HWDonald commented on #166
![1](https://user-images.githubusercontent.com/50535273/57582603-c1fbd780-7494-11e9-8f3e-3e88655d9ac6.jpg)
![2](https://user-images.githubusercontent.com/50535273/57582604-c6c08b80-7494-11e9-8851-b532b211587e.jpg)

[2019-05-12 17:26] iq860 opened #167 "Messenger Chat not Appearing"
Messenger chat bubble not appearing on the website even after several reinstalls and cash clearing. I can see the activity on my pixel and its reading events from my site.

Plugin Version: 2.1.8
Opencart Version: 3.0.2.0
Website: [el-vet.com](https://el-vet.com)
Theme: Default

[2019-05-12 18:51] saharock2019 commented on #158
Hi

i installed the new version of the extention and i get this error in my dashboard
![1](https://user-images.githubusercontent.com/50554932/57586512-7114cf00-74e6-11e9-8649-a0660a3b211f.png)

when i get in the extention i got this

![2](https://user-images.githubusercontent.com/50554932/57586516-825ddb80-74e6-11e9-9f98-bf14f3acdda2.png)

so i tried to delete settings and i get this error
![3](ht

[2019-05-12 23:46] shue249 commented on #167
@iq860 Thank you for the feedback.

Can you copy out these 2 files from your webserver and share here for us to better dig into the possible root causes.
![image](https://user-images.githubusercontent.com/11957585/57589182-02218f80-7553-11e9-86cc-3fb2247e2ff7.png)
![image](https://user-images.githubusercontent.com/11957585/57589192-267d6c00-7553-11e9-88e2-84daa555bd7d.png)

[2019-05-13 00:41] shue249 commented on #158
@saharock2019
1. Can you enable the jaavscript console panel and share with us if there's any error messages shown on the console panel. This will help us to troubleshoot the screenshot which shows "Not found" error.

2. There is another workaround to display the option to refresh the access token. The steps are highlighted on this comment - https://github.com/facebookincubator/Facebook-For-OpenCa

[2019-05-13 00:42] shue249 commented on #166
Duplicate error faced when trying to delete away the settings - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/158#issuecomment-491619629

[2019-05-13 01:20] saharock2019 commented on #158
Now the error is
Failed to load resource: the server responded with a status of 400 (Bad Request)
dia.js:91 Bad Request
Bad Request
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>400 Bad Request</title>
</head><body>
<h1>Bad Request</h1>
<p>Your browser sent a request that this server could not understand.<br />
</p>
</body></html>

2- the  dashboard shows : There is an err

[2019-05-13 02:43] HWDonald commented on #166
I have read through that thread and another that was linked to it, I can't get to Advanced Setting through the module, that isn't an option.  I have the latest module installed 2.1.8, all the correct files are where they should be with read/write access as it should be.  I had an opencart website that was running for a while, and then I closed it down but I kep the FB page.  I have recently gone b

[2019-05-13 03:18] shue249 commented on #158
@saharock2019 How about this approach - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/142#issuecomment-482908951? Are you able to see the option to update the access token?

We are looking into the issue of unable to delete the settings, in the meantime, pls do not try to delete away your settings.

[2019-05-13 03:21] atra1329 opened #168 "Link from Facebook shop catalogue back to product on website is not working"
Hi
We have installed  the module on opencart version 2.0.1.1 And all appears to be working fine However and are getting an incorrect link to our product on our website eg:

index.php?route=product%252Fproduct&product_id=53

this link gives a page not found error on our website.

The correct link syntax should be:
index.php?route=product/product&product_id=53

thanks for your help

[2019-05-13 03:22] saharock2019 commented on #158
How about this approach - #142 (comment)? Are you able to see the option to update the access token?
yes it worked fine

thank you for working on that issue. i need to delete settings because i have a new facebook page that i want to direct products to

best regards

[2019-05-13 03:25] byron0920 commented on #168
My version 3.0 also has this problem, which has not been solved.

[2019-05-13 03:38] iq860 commented on #167
@shue249 sure here you go
[footer.php](https://drive.google.com/open?id=1oo33VWHfsE0Y-ldQCH0aLylb03LJ9m0O)
[footer.twig](https://drive.google.com/open?id=1oKgfjEH3S-DSP-UDKgSc-Q-ZJHzjvS4N)

and thanx for your quick response

[2019-05-13 04:44] shue249 commented on #168
@atra1329 , @byron0920 This is the case of rewrite rules on your webserver. We have provided a solution to resolve this that you need to apply on your webserver.

https://github.com/facebookincubator/Facebook-For-OpenCart/issues/113#issuecomment-467328263

[2019-05-13 04:45] shue249 commented on #166
@HWDonald Thank you for your feedback. We are working to resolve this problem now. We will update you soonest once we have resolved the issue.

[2019-05-13 04:45] shue249 commented on #158
@saharock2019 Thank you for your feedback. We are working to resolve the problem of not being able to delete away the settings. We will update you soonest once we have resolved the issue.

[2019-05-13 04:47] shue249 commented on #167
@iq860 From your files, the plugin modifications are correct. We have 1 more place to check. Will you be able to download the plugin log file and share the log file with us here?

[2019-05-13 04:48] iq860 commented on #167
@shue249 can you define its location?

[2019-05-13 05:07] byron0920 commented on #168
Hello, we have two websites; one is normal, the other is wrong; and the data we read is Catalog and Link.

Another normal website

shbqiu09@163.com

From: shue249
Date: 2019-05-13 12:44
To: facebookincubator/Facebook-For-OpenCart
CC: byron0920; Mention
Subject: Re: [facebookincubator/Facebook-For-OpenCart] Link from Facebook shop catalogue back to product on website is not working (#168)
@atra1329

[2019-05-13 05:09] byron0920 commented on #168
Need FTP or?

[2019-05-13 05:12] atra1329 commented on #168
We have just added the NE parameter to our rewrite rules in the htaccess file but we are still not getting  the / in our link url

[2019-05-13 05:30] atra1329 commented on #168
Sorry there is a change we are getting now:
 %2F with the NE parameter in place of: /
before it was set we were getting:
 %252F insted of the: /

thanks for your help

[2019-05-13 05:54] atra1329 commented on #168
It still doesn't change %2F with the NE parameter in place of: / but the links now work and are not getting the page not found error anymore. thanks

[2019-05-13 05:54] #168 closed

[2019-05-13 07:27] shue249 commented on #168
To give more context. We are not changing the URL link, but it is changing on how your web server handles the URL rewrite rule to handle the character encoding due to %2F.

[2019-05-13 08:31] shue249 commented on #158
@svremeto Thanks for your file. We checked and found the file is correct. We have 1 more idea on where the problem is. Could you identify this file on your webserver and share with us?

![image](https://user-images.githubusercontent.com/11957585/57606445-7849e480-759b-11e9-8331-bf405a1aa527.png)

[2019-05-13 08:35] svremeto commented on #158
@shue249 Here is the file
[dia.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3171895/dia.zip)

[2019-05-13 14:36] dyslexicdrakness commented on #165
If the locale is not being taken into account then that's another bug.

I still believe it should be MIN_TIME, or alternatively {end date - 1 day} MAX_TIME.

[2019-05-13 14:38] dyslexicdrakness commented on #163
1. cool

2. i'm on 2.3.0.2 version of opencart. The facebook extension is 2.1.6, do you still think the upgrade will fix it?

3. default

[2019-05-13 16:56] Schwannn opened #169 "Special Price Customer Group ID"
Opencart has the option to create many spacial prices for different Customer Group IDs, but the facebook extension only synchs one customer group special price.
How can the spacial price customer group ID be defined for this app when synching ?

[2019-05-14 01:09] HWDonald commented on #166
I don't know if this is going to help any but I downloaded the log file.  It has product numbers that don't even exist in my current opencart website.  They may have existed in the old site that I deleted.  I have gone through FB Business Manager and deleted everything I could.  There were no apps and only 1 pixel.  I went through FB Developer, nothing there either.

[Black Goat Soap Co._2019-05-1

[2019-05-14 12:53] saharock2019 commented on #158
Hi
for the problem of deleting the setting here is the screenshot of error
![5](https://user-images.githubusercontent.com/50554932/57699350-134bc880-7647-11e9-9fa0-3840657dcad6.jpg)

and i still have a bad request issue and the pixel is not firing
thank you for your help

[2019-05-14 14:57] shue249 commented on #169
@Schwannn Thank you for the feedback.

Unfortunately, Facebook does not have the structure of customer groups, hence this feature is not able to be ported completely and we only sync 1 special price as the discount.

If you like to disable the discount completely on facebook, you can look to manually edit the codes of the plugin on your webserver. This post will be able to help you - https://githu

[2019-05-14 15:19] osworx opened #171 "Hard coded language strings"
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/8d5d217bda1d6e9f185444b3cd5388e7026a86fd/install.xml#L383
Please remove those hard coded strings into a own, seperate language file and add here that language file and assign the vars instead.
thx.

[2019-05-14 17:43] osworx opened #172 "How do disable this extension?"
Because this extension has no setting to en- or disable the whole module, how do you recommend to disable it completely?
Do I have to disable the ocmod always and make a refresh?

Seems so, but this cannot be the solution!
Please add a setting to simply disable the extension as all others are do.

[2019-05-14 17:48] osworx commented on #16
And why not creating a setting for this module for such?
At every update those edits are lost!
Basically the same like here: https://github.com/facebookincubator/Facebook-For-OpenCart/issues/172

Not every shopowner is a coder and can edit files!

[2019-05-14 18:55] iq860 commented on #167
@shue249 can you tell me the location for the log files that you need? I'll share them right away, thnx

[2019-05-14 23:38] shue249 commented on #172
@osworx Thank you for the feedback! That is correct that we did not cater for disabled of extension for our plugin and the current way to disable is to uninstall the plugin.

However, this is great feedback and let us put it as an enhancement for upcoming versions.

[2019-05-14 23:38] shue249 commented on #171
@osworx Thank you for the feedback! Let us put it as a fix for upcoming versions.

[2019-05-15 00:01] shue249 commented on #167
@iq860
![image](https://user-images.githubusercontent.com/11957585/57739801-93296f80-76e7-11e9-95d3-015220bf8403.png)

[2019-05-15 00:04] shue249 commented on #16
@osworx Thank you for your feedback! We completely agree with you that we need to make this simple for all shopowners.

We have considered putting in a setting, however as this toggle requires a entire re-sync of the catalog from OpenCart to Facebook and we are re-visiting on what is the right mechanism to do this re-sync and possibly a re-write of the entire catalog sync mechanism.

One of the fa

[2019-05-15 00:06] shue249 commented on #158
@saharock2019 Thank you for your feedback and sharing the screenshots. We are actively working on this and checking this failure on our side. We will get back to you soonest once we have any updates!

[2019-05-15 00:08] shue249 commented on #158
@svremeto We checked the files and found that the files are correct. Currently, we are unsure what could be the problem(s) since you have already cleared cache and force reload the browser.

One more suggestion. Are you able to try to do the setup using a different browser? Eg firefox.

[2019-05-15 00:12] shue249 commented on #166
@HWDonald Thank you for the feedback. We will suggest a clean restart (ie delete away old settings and restart again) will be the best approach. We are actively looking into the problem on our side and we will keep you updated soonest!

[2019-05-15 00:14] shue249 commented on #167
@iq860 One more suggestion. Can you disable the theme cache and see if the messenger chat plugin can now be shown. A screenshot is here - https://drive.google.com/open?id=1bY-bworYxX36b88HDvFW0_32C3Wtq_Tm

[2019-05-15 04:40] iq860 commented on #167
@shue249 I already have theme cash disabled and I just did a refresh for it, sadly still not working.
here is the log filr
[el-vet_2019-05-15_06-38-07_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3180934/el-vet_2019-05-15_06-38-07_facebook_ads_extension.log)

[2019-05-15 08:05] svremeto commented on #158
I`ve tried and I succeed to open the Manage Settings button. I see some error here: http://prntscr.com/norhzd
I`ve typed my user name and password (I`m using this Facebook extension for the first time on this website) and i saw this: http://prntscr.com/norj4f and after closing the window and clicking Manage Settings button again i`m seeing the same error: http://prntscr.com/norj4f

[2019-05-15 08:20] shue249 commented on #165
@dyslexicdrakness Thank you for the great feedback. You are right that the end date is the date where the sales must end. We will make the changes accordingly.

[2019-05-16 08:53] squarelabindia commented on #160
@shue249 I am also experiencing the same problem. Below is my log data. Resetting the settings is also not helpful.
![Untitled](https://user-images.githubusercontent.com/48884885/57840363-1b8e3a00-77e6-11e9-9226-16a7ad9da919.png)

[RUNWAY FASHION_2019-05-16_08-43-45_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3186151/RUNWAY.FASHION_2019-05-16_08-43-

[2019-05-16 14:47] shue249 commented on #166
@HWDonald We have done up a fix on the issue that you are facing with the deletion of the settings. Can you try to delete away the settings again and let us know if it works.

[2019-05-16 15:08] haxcop commented on #160
I was finally able to solve the issue -
### 1
Clear the browser cache and data
### 2
Try the steps again

- manage settings
- following the steps here : https://drive.google.com/open?id=1PenBy_xizQGszdiS5BrmVFPypn5HKnkL
- finally, Click on the URL bar of the pop up window browser ( this was important to me as allows me to see the output)

[2019-05-16 15:13] shue249 commented on #167
@iq860 After checking the files and settings, I couldnt figure out why the messenger chat plugin failed to load on your website.

Are you using vqmod?

[2019-05-16 16:51] saharock2019 commented on #158
@shue249 Still same problem. nothing changed in my side

[2019-05-16 18:58] i3kevin opened #173 "2.3.0.2 with journal 2 pixel is not firing, and missing products in the Facebook catalog"
Two main problems here:
1. Pixel cannot fired normally
2. Product catalog are not fully syned.

I am using OC 2.3.0.2 with Journal 2.
Things were good when I was using Plugin Version: 2.1.3.
all products can be uploaded to catalog and pixel fired normally.

However, Facebook pixel cannot be fired when I updated to 2.1.5 and part of the products are missing while product catalog is being updated.
S

[2019-05-16 19:02] i3kevin commented on #173
[2019-05-17_02-03-28_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3188626/2019-05-17_02-03-28_facebook_ads_extension.log)

I cannot paste the log here since it is too long and exceeds the characters limit.

[2019-05-16 19:33] i3kevin commented on #153
Is there any update on this issue?

[2019-05-17 12:29] i3kevin opened #174 "Delete setting of the extension caused ads error"
If I delete the settings here, will the product catalog on Facebook also being deleted as well?

![temp1](https://user-images.githubusercontent.com/45218158/57927257-10b7d000-78e0-11e9-8e4d-ae3d341c51f8.jpeg)

Yesterday I encountered some error and I was trying to troubleshoot by deleting the setting of this extension. After I re-connected back my page by the extension, all of my Facebook ads disp

[2019-05-17 14:34] khrizzcristian commented on #166
Hello. Please let us know when you will fix the issue from "remove existing connection". I get that error also and I'm not able to setup the extension. Thank you

[2019-05-18 01:50] shue249 commented on #166
@khrizzcristian Can you share a screenshot of where you are getting the error so that we can better troubleshoot. Thanks

[2019-05-18 02:05] shue249 commented on #174
@i3kevin Thank you for your feedback.

Unfortunately, deleting away the Facebook Ads Extension settings will delete away the catalog and when you re-setup again, a new catalog will be created.

In this case, I am afraid that the best way for you now will be to stop the existing ads and setup a new set of ads again. We are truly sorry for the sub-optimal experience and we will take in this feedback

[2019-05-18 02:05] #174 closed

[2019-05-18 02:35] shue249 commented on #173
@i3kevin Again, I apologise for the sub-optimal experience with the plugin.

Based on your feedback here and this other thread https://github.com/facebookincubator/Facebook-For-OpenCart/issues/174, our suggestions will be as follow:

1. Since you have already deleted away the existing Facebook Ads Extension settings, we will suggest for you to use the new catalog. As that new catalog will have the

[2019-05-18 02:36] shue249 commented on #153
@i3kevin We are working on this enhancement now. We plan to roll out some other fixes together. Pls do bear with us and we will update you soonest when ready.

[2019-05-18 02:40] shue249 commented on #160
@haxcop We are glad that this works out for you.

@squarelabindia Can you let us know if the fix works for you.

[2019-05-18 02:45] shue249 commented on #167
@iq860 We have 1 more idea to share.

Can you try to disable the SASS cache too.

![image](https://user-images.githubusercontent.com/11957585/57963653-0afed080-795a-11e9-85a4-9225cc931b1f.png)

[2019-05-18 02:48] shue249 commented on #163
@dyslexicdrakness

I want to follow up with you on this case. It is weird, but we are unable to identify the root cause of the errors from your clients based on the error messages.

1. Are you able to check on their log if those error messages are still occuring?
2. Are they getting any message saying that their access tokens are invalid

[2019-05-18 06:16] khrizzcristian commented on #166
Same error as here: https://github.com/facebookincubator/Facebook-For-OpenCart/issues/166#issuecomment-491594029

When i try to remove the existing connection I receive that message and error 500 in console on dia.js ... if I try to ignore that and finish the setup, I receive again error 500 and nothing happens.

[2019-05-19 07:20] iq860 commented on #167
@shue249 Thanx so much for the help !! I did have an edit at Theme Editor for the footer
when I removed the edit the plugin worked gr8! thanx for `that!`

btw here is my footer edit
[footer.txt](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3194853/footer.txt)

[2019-05-19 08:19] shue249 commented on #167
@iq860 Great to hear that it is working.

Can we understand what is the edit that you made, so that we can think on how to further improve our plugin.

[2019-05-19 19:04] i3kevin commented on #173
**1. Pixel cannot fired normally.**

I am using SEO plugin to change the URL for product and category pages. But it works fine on 2.1.3 version. And catalog sync works well on 2.1.3. I use vqmod as well.

**Files are here:**
 /system/engine/front.php
[front.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3195490/front.zip)

/system/storage/modification/system/engine/front.php

[2019-05-20 05:42] iq860 commented on #167
@shue249
ANY edit at all at the footer will render the messenger plugin to be broken.
**Even just viewing the footer.twig without edits and saving it to the theme editor will break messenger.**

my edit was removing "Powered By OpenCart" text and link

![footer](https://user-images.githubusercontent.com/15311677/57998618-555f8900-7ae3-11e9-993a-1a7f6b7ea59a.PNG)

[2019-05-20 06:49] svremeto commented on #158
@shue249 I dont have such problem to delete away the settings. Just cant log in to facebook from the extension`s windows. https://prnt.sc/norj4f

[2019-05-20 09:51] shue249 commented on #130
@missbow We debugged with another user where their website is also not showing the messenger chat plugin. Can you take a look at this comment and see if you have made any edits to the footer template via the editor. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/167#issuecomment-493733468

[2019-05-20 09:54] shue249 commented on #130
@missbow We found that the messenger chat plugin is now working correctly on your website.

![image](https://user-images.githubusercontent.com/11957585/58013002-4bac4480-7b28-11e9-848b-f4c3dba09388.png)

However, the pixels are not fired on the website. Can I know what is the version of our plugin that you are using.

[2019-05-20 12:05] siteadvice opened #175 "JSON.parse: unexpected character at line 1 column 1 of the JSON data"
I am unable to install the Facebook plugin. I'm using Opencart 2.0.2.0. I have tried it on both my development server and production server with the same result. Permissions seem to be set up correctly as per the screenshot in your installation guide. I've tried using both the regular System > Store > FTP settings and also the iSenseLabs "Quickfix"modification to install the extension. Again, same

[2019-05-20 12:58] mahmoudelgharabawy opened #176 "There are problems with the installation of the Facebook Ads Extension."
please i need help to solve this problem.
after install facebook extension show this error
the error message :
There are problems with the installation of the Facebook Ads Extension.

We have detected missing files for Facebook Ads Extension. Please enable read, write and execute access permissions for these files and folders.

Please uninstall and reinstall the Facebook Ads Extension after correc

[2019-05-20 15:24] FBA-Gal commented on #142
I have tried adding the "window.facebookAdsToolboxConfig.tokenExpired = 'true'" line but get the following
VM5071:1 Uncaught TypeError: Cannot set property 'tokenExpired' of undefined
    at <anonymous>:1:46

[2019-05-20 15:28] FBA-Gal commented on #142
I meant to add .... I see the mention of the updated version above, but when I clicked on it, I note that it's "for OpenCart versions 2.2.0.0 to 2.3.0.2".  Is there a transposition in that first version number?  (I'm using OpenCart version 2.0.2.0, not 2.2.0.0)

[2019-05-20 16:02] claudineythomazette commented on #158
the same for me...

[2019-05-20 16:22] KonstantinGOT opened #177 "Facebook Ads Extension error - "Sorry, something went wrong""
Hello
I try to set up the Facebook ad extension to have my catalogs there but face couple problems.
it says to go to manage setting to delete it but when i go there it says there is another problem

![Screen Shot 2019-05-20 at 9 19 32](https://user-images.githubusercontent.com/50840258/58036713-a3bf5880-7ae0-11e9-8f03-cb69550d760c.png)
![Screen Shot 2019-05-20 at 9 19 44](https://user-images.githu

[2019-05-20 19:20] KonstantinGOT commented on #160
I want to do the same thing but now when i click manage setting i get this problem.
please help

![Screen Shot 2019-05-20 at 11 58 16](https://user-images.githubusercontent.com/50840258/58046276-ada18580-7af9-11e9-9f5c-f7743da4bd7d.png)

[2019-05-20 19:25] KonstantinGOT opened #178 "@haxcop We are glad that this works out for you."
@haxcop We are glad that this works out for you.

@squarelabindia Can you let us know if the fix works for you.

_Originally posted by @shue249 in https://github.com/facebookincubator/Facebook-For-OpenCart/issues/160#issuecomment-493642218_

[2019-05-20 23:00] shue249 commented on #178
@KonstantinGOT Let's follow up with your error at https://github.com/facebookincubator/Facebook-For-OpenCart/issues/177. Will be closing out this ticket

[2019-05-20 23:00] #178 closed

[2019-05-20 23:01] shue249 commented on #176
@mahmoudelgharabawy

1. Did you rename the admin folder to some other name?

2. Can you check if you have given 775 access to the OpenCart folders?

[2019-05-20 23:03] shue249 commented on #175
@siteadvice Can you try the steps in the below screenshots so that we can better understand why the installation fails.

![image](https://user-images.githubusercontent.com/11957585/58057161-792fd700-7b96-11e9-90be-41f1a61fb9b8.png)

[2019-05-20 23:06] shue249 commented on #160
@KonstantinGOT - Can we better understand what is the browser that you are using? Do you have any ad blocker or popup blocker; is it possible to disable the blockers and see if it works?

[2019-05-20 23:38] KonstantinGOT commented on #160
@shue249 i was using both chrome and firefox.
when i clear he cache im able to see the login window (email and password) but when entering and loggin in it keep showing this problem

[2019-05-20 23:40] shue249 commented on #142
@FBA-Gal Our plugin supports from 2.0.1.1 to 2.3.0.2

1. Which browser are you using
2. What is the plugin version you are using?
3. Can have clear cache and force restart of the browser?
4. Can you open up the console window and show if there's any error messages

[2019-05-20 23:42] KonstantinGOT commented on #160
when i firstly download it i was able to see everything (all the settings) there.

[2019-05-20 23:43] shue249 commented on #159
We will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-05-20 23:43] #159 closed

[2019-05-20 23:45] shue249 commented on #160
@KonstantinGOT Is it possible for you to record a screen video of what is happening on your setup and share the screen video here with us. Thanks in advance.

[2019-05-20 23:48] shue249 commented on #158
@svremeto , @saharock2019 , @claudineythomazette

Again, we apologise for the inconvenience and sub-optimal experience. We are doing the best to figure out the problem. Can we request for you to share a video recording of what you are experiencing so that we can better understand where could the errors be. Thanks in advance.

[2019-05-20 23:57] shue249 commented on #160
@squarelabindia We looked through your log file. The problem is because the database server was not able to generate the feed file.

![image](https://user-images.githubusercontent.com/11957585/58059081-f3b02500-7b9d-11e9-9f59-556e0f41e1ba.png)

Few questions
1. Have you made any changes to the plugin, especially on the setting on the number of products to extract per batch? Our default setting is

[2019-05-20 23:59] KonstantinGOT commented on #160
@shue249 you mean to reinstall the plugin again>?

[2019-05-21 00:00] KonstantinGOT commented on #160
if you like i can add my log

[2019-05-21 00:08] shue249 commented on #173
@i3kevin Thanks for the feedback.

1. For the pixel problem, we found the problem and we are working on a fix to solve this.
![image](https://user-images.githubusercontent.com/11957585/58059376-29a1d900-7b9f-11e9-84d0-f6c634710672.png)

2. For the catalog problem where products are not in synced - we are looking at a different approach to solve this problem.

3. Can you wait for 1 week for the new

[2019-05-21 00:30] FBA-Gal commented on #142
@shue249 I typically work on Chrome, and have for quite some time, even before I installed the plugin. I'm currently using Plugin Version 2.0.3 and see that you have an updated version, but wasn't sure if it would work for me since it says it's "for OpenCart versions 2.2.0.0 to 2.3.0.2" yet I have 2.0.2.0. Now that you've indirectly confirmed that the reference to 2.2.0.0 was incorrect, I'll try i

[2019-05-21 00:33] KonstantinGOT commented on #160
@shue249  can it be issues with facebook? anyone else have this?
or some issues with tokens or id?

[2019-05-21 00:37] shue249 commented on #160
@KonstantinGOT I meant can you record your screen while you perform the steps of setting up Facebook Ads Extension till the point where you encountered the error. We like to visualise the entire flow and try to repo on our side.

[2019-05-21 00:39] 1991x commented on #177
Hi, I have same problem. Get error message when click manage setting button

[2019-05-21 00:44] shue249 commented on #177
@1991x Thank you for your feedback. Will you be able to record a screen recording of the steps that leads to the error and share with us. Thanks in advance.

[2019-05-21 00:53] shue249 commented on #160
@KonstantinGOT Let us follow up with your problem in your thread - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/177

@squarelabindia If you are still having issues on your mysql database, can you create a new ticket and we will follow up on there.

We will be closing out this ticket as the original problem is missing catalog_id.

[2019-05-21 00:53] #160 closed

[2019-05-21 00:56] shue249 commented on #158
Possible duplicate error that @svremeto , @saharock2019  @claudineythomazette is facing https://github.com/facebookincubator/Facebook-For-OpenCart/issues/177

[2019-05-21 01:06] KonstantinGOT commented on #160
@shue249 here you go guys

[2019-05-21 01:07] KonstantinGOT commented on #160
@shue249 its not supporting mac quick time vid

[2019-05-21 01:10] KonstantinGOT commented on #160
@shue249 links to the screen video

https://we.tl/t-1JeXmoXFgE

[2019-05-21 01:23] 1991x commented on #177
This is the record https://drive.google.com/file/d/1Nb5Fek6uLzC-1KZRdPj10bvGyB4QUcPc/view

[2019-05-21 01:28] KonstantinGOT commented on #177
@1991x thank you for your help on video

[2019-05-21 01:29] KonstantinGOT commented on #177
https://we.tl/t-1JeXmoXFgE
here is mine with more details

[2019-05-21 01:31] 1991x commented on #177
I've tried to empty cache and hard reload, use different browser, reinstall but it doesn't work

[2019-05-21 01:49] KonstantinGOT commented on #177
@1991x same here

[2019-05-21 02:40] shue249 commented on #177
@1991x , @KonstantinGOT Thanks for your help. This is helpful for us. We will continue to deep dive to figure out the root cause.

[2019-05-21 10:32] svremeto commented on #158
This is the record https://drive.google.com/file/d/1Nb5Fek6uLzC-1KZRdPj10bvGyB4QUcPc/view

[2019-05-21 10:34] svremeto commented on #177
Same with me - https://drive.google.com/file/d/1Nb5Fek6uLzC-1KZRdPj10bvGyB4QUcPc/view