[2020-04-22 07:45] baud13 commented on #360
Thank you for your reply, thats great!
Right now i just have the extension from git with an enabled chat bubble that i cannot change the text or disable. Its like the extension from git and the one from facebook merged somehow.
Can i somehow manage the chat bubble text? Already i tried to uninstall and install the old extension but its not responding when i turn the chat on and off..

[2020-04-22 07:48] acjp commented on #369
1.https://www.salumipasini.com/it/checkout/
2.yes
3.where the customer confirm the purchase.

thank you a lot

[2020-04-22 08:20] dtying commented on #370
Hi @bonyod , here's the workaround:
1. Launch management view, and open Catalog tab
2. Click the button, it should link to Catalog Manager
3. In Catalog Manager -> Product Data Sources, click Edit button
![Screen Shot 2020-04-22 at 4 11 41 PM](https://user-images.githubusercontent.com/21333308/79958012-040b0700-84b5-11ea-86b3-6ecc9f8a5954.png)
4. In the URL field, change the endpoint from 'genFeed

[2020-04-22 08:41] dtying commented on #351
Hi @blakerr , @missbow can you provide me with your webstore url?

[2020-04-22 08:44] dtying commented on #351
Hi @magbor , I think your catalog sync can work is because your previous setup with FBE is still working.
In this case, it'd be easier for you to downgrade to the previous version first, so that you can keep your operation continuing.

[2020-04-22 08:51] missbow commented on #351
https://e-trenaki.gr/

[2020-04-22 10:02] #370 closed

[2020-04-22 11:02] AlexGolemis commented on #368
I cleared all the storage and cache of the page, ctrl +F5, logged in again and have the same error. Which is the official ocmod for the 3.0.3.2 OC version (in order to check if my installation package is correct)?

[2020-04-22 15:13] Bjornhjacobs opened #372 "Facebook Ads Extension not connecting to Business manager"
As requested in your email, I am continuing the support issue here.

We have successfully created the FB Pixel but cannot get it to sync with our OC website. This issue occurred after upgrading to version 3.0.0.0 of the OC Facebook Ads Extension.

[2020-04-22 15:52] tej17584 opened #373 ""Get started" button missing after bad sync"
Hello, I have version 2.1.3 of the extension currently. When I installed it the first time, it worked correctly, timing, etc.
Afterwards, I modified a model file (the specific file is the facebookproduct.php file), saved the changes and tried to sync again. Synchronization did not take place so I closed the window and stopped connecting to facebook. Then, when reloading, the Get Started button dis

[2020-04-22 19:45] valiobar commented on #351
Hi @dtying same issue https://nexo.bg/

[2020-04-22 20:36] ankitjn227 commented on #277
Got the same error today..

Did anyone find the solution, plz help/

[2020-04-23 04:28] arturiokas commented on #371
One of module functions is " Auto synchronize OpenCart products to Facebook catalog."
I created Facebook catalog whith this module, but in Facebook  showing products synchronized with opencart at catalog creation date. And product in FB catalog not renewing.
Question. How set in module synchronization FB catalog with OC?
Thank you

[2020-04-23 04:34] ankitjn227 opened #374 "Fatal error: Uncaught Error: Class 'FacebookCommonUtils' not found in"
Got the same error today..

Did anyone find the solution, plz help/

_Originally posted by @ankitjn227 in https://github.com/facebookincubator/Facebook-For-OpenCart/issues/277#issuecomment-618025864_

[2020-04-23 04:44] shue249 commented on #374
@ankitjn227

1. Can you check if you have provided read+write access to the admin, catalog and system folders. The problem that you are facing is because some of the plugin files are not successfully copied over to your OpenCart webserver. After you set the read+write permissions, pls ensure that you remove away the plugin and re-install the plugin again.
![image](https://user-images.githubusercon

[2020-04-23 04:45] shue249 commented on #277
@AlexGolemis , @ankitjn227 Can you check this reply and see if it works for you.

[2020-04-23 05:06] shue249 commented on #373
@tej17584 As you mentioned there was modifications to the model file which could have resulted in errors from the modifications. Can you look at the browser console log and your server error logs to see if there are any errors.

Also, we have a latest 3.0.0 version, which you can download and upgrade your Facebook Business Extension settings. https://github.com/facebookincubator/Facebook-For-OpenC

[2020-04-23 05:28] ankitjn227 commented on #277
@shue249  i got this error after i uninstalled the facebookadsextension.ocmod module from admin panel opencart, before i refresh the modification, i have refreshed the main webpage, error occurs,

also i am not able to open admin panel, getting error at admin panel also...

atal error: Uncaught Error: Class 'FacebookGraphAPIError' not found in /home/ambrokuf/storage_opencartnew/modification/admin/

[2020-04-23 05:32] ankitjn227 commented on #277
@shue249 still having facebookadsextension.ocmod.zip extension under oc_extension_install

should i delete this also from db, to get the issue resolved..

[2020-04-23 05:39] tej17584 commented on #373
Actually, there was a typo error in the model that causes to crash.

I fixed it.
Thanks..all done.

[2020-04-23 05:44] dtying commented on #372
Hi @Bjornhjacobs, may I confirm that your webstore_url is as below? https://www.artdevivresansgluten.com/

I can see that your store's FBE setup is completed.
However, your store currently has two active pixels. 796601444010452 is the one newly created when you setup v3.0.0 FBE, and you don't need to touch pixel script code of this one because it has already been injected to fire events when you'v

[2020-04-23 05:47] dtying commented on #371
Hi @arturiokas - We are using a daily scheduled generated feed to sync the OpenCart products to Facebook catalog.

Refer to below workaround if you need to force catalog sync at realtime.
https://github.com/facebookincubator/Facebook-For-OpenCart/issues/370

[2020-04-23 05:56] shue249 commented on #277
@ankitjn227 Can we follow up on this ticket for your issue https://github.com/facebookincubator/Facebook-For-OpenCart/issues/374

[2020-04-23 05:57] shue249 commented on #374
@ankitjn227 Can you try to access this URL on your opencart admin panel - admin/index.php?route=marketplace/modification. Are you able to access the modifications? If you can access, pls delete away the plugin and click on Refresh Modifications.

The problem you are facing is because the files are not copied over correctly because of invalid read+write permissions on the admin, catalog and system

[2020-04-23 05:58] shue249 commented on #373
Thank you for the feedback.

[2020-04-23 05:58] #373 closed

[2020-04-23 05:59] shue249 commented on #368
@AlexGolemis Can you check this post and see if it works for you. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/374#issuecomment-618174399

[2020-04-23 06:05] ankitjn227 commented on #374
@shue249 Issue Resolved

Thanks ..

[2020-04-23 06:05] #374 closed

[2020-04-23 06:05] dtying commented on #351
Hi @valiobar , may I know when is your last time setup FBE and encountered issue? This is because we recently had an issue with FBE so that all user were impacted. The issue was already fixed, can you try to setup again and let me know if it still doesn't work?

[2020-04-23 06:06] ankitjn227 commented on #277
Thanks

[2020-04-23 06:23] arturiokas opened #375 "Sincronyse errors"
google_product_category: Invalid google product category provided (28 520 products affected) | google_product_category: Invalid google product category provided (28 520 products affected)
-- | --
google_product_category: Invalid google product category provided (28 520 products affected)
google_product_category: Invalid google product category provided (28 520 products affected) | google_product_c

[2020-04-23 06:27] shue249 commented on #375
@arturiokas You can safely ignore the warnings. You can refer to this post for more info - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/340#issuecomment-609672424

We will be closing out this ticket

[2020-04-23 06:27] #375 closed

[2020-04-23 06:48] valiobar commented on #351
@dtying I just uninstall the modification and install it again and it still dosesn't work

[2020-04-23 07:05] missbow commented on #351
Hello @dtying is there any new on this?
It's a little bit critical at the time being :)
Thank you in advance.

[2020-04-23 07:43] Luciano26 opened #376 "Can't see Facebook label in my admin label"
Hi, i've installed you plugin but i can't see the Facebook Business Extension label in my admin panel. that's the situation:
![Schermata 2020-04-23 alle 09 40 28](https://user-images.githubusercontent.com/14168951/80072665-d8d0f800-8546-11ea-86d8-36a35335bd95.png)
![Schermata 2020-04-23 alle 09 40 08](https://user-images.githubusercontent.com/14168951/80072670-db335200-8546-11ea-9030-7816049c41a8.

[2020-04-23 07:45] Luciano26 commented on #376
I've installed also the latest version(3.0), but have the same issue.

[2020-04-23 07:53] Luciano26 commented on #376
this is the log:
![Schermata 2020-04-23 alle 09 52 26](https://user-images.githubusercontent.com/14168951/80073530-344fb580-8548-11ea-9c70-eb7324ef9773.png)
![Schermata 2020-04-23 alle 09 52 16](https://user-images.githubusercontent.com/14168951/80073537-36b20f80-8548-11ea-828a-bb9e941fb92e.png)
![Schermata 2020-04-23 alle 09 52 07](https://user-images.githubusercontent.com/14168951/80073542-37e33

[2020-04-23 08:29] rhinsu commented on #359
@shue249 i have installed again the new version and the issue still remains the same, check new screenshots below

https://i.postimg.cc/v8SZxPGh/fbsnip.jpg
https://i.postimg.cc/X7RNQpGy/feedsnip.jpg
https://i.postimg.cc/L8j972LQ/ocsnip.jpg

the images attached
1. Snip from Catalog Manager from Facebook
2. Snip from Special Price tab from Opencart
3. Snip from csv extract from /index.php?route=exte

[2020-04-23 08:32] rhinsu commented on #359
forgot the item link on example, but the whole site does not sync special price.
https://www.devikenya.com/y9s-6gb-ram-128gb-rom-6-59-4g-lte-black

[2020-04-23 09:48] #357 closed

[2020-04-23 10:17] shue249 commented on #376
@Luciano26

1. Will you be able to do a hard refresh your browser to see if the menu label comes up

2. Otherwise, you can access the URL directly via index.php?route=extension/facebookadsextension

[2020-04-23 10:59] Luciano26 commented on #376
Trying to access to the URL but i have this page:
![Schermata 2020-04-23 alle 12 58 38](https://user-images.githubusercontent.com/14168951/80091909-31fa5500-8562-11ea-94e8-c5460ef83c9a.png)

[2020-04-23 11:29] dtying commented on #351
Hi @missbow , if it's urgent, please download our previous version as an alternative. https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

[2020-04-23 11:42] dtying commented on #351
Hi @valiobar , did you try click 'Edit Settings' button after FB login popup is opened? This will bring you through setup again.

[2020-04-23 12:08] valiobar commented on #351
@dtying yes I did, couple of times still no success. Is this previous version compatible with oc 3.0.3.2

[2020-04-23 12:26] dtying commented on #351
@valiobar Yes the previous version is also compatible with oc 3.0.3.2.

[2020-04-23 12:32] AlexGolemis commented on #368
The issue you mention does not help. The error i get is different. I checked the files you say the should exist in system/library directory and they exist.
System, catalog and admin directory have all 755 permissions

[2020-04-23 12:56] Bjornhjacobs commented on #372
Hello,

Yes, indeed our domain is artdevivresansgluten.com <http://artdevivresansgluten.com/>

The issue that we are having is that even after completing the setup process from the OC extension, there are no events which are being reported by the pixel. Both the opencart Extension and Facebook are stuck and continue to return the configuration steps, see below. This screenshot has been taken just

[2020-04-23 14:31] missbow commented on #351
@dtying  I'm switching back to the previous version as a workaround.
Let me know if you have any update on this.
Regards

[2020-04-23 15:12] Eaglebill commented on #345
I am trying to enable it in the new version 3.0 but i can't find it anymore in this new window.
![image](https://user-images.githubusercontent.com/7140192/80115914-00977e80-858e-11ea-919b-26b4986033c2.png)

[2020-04-23 19:41] tburke45208 opened #377 "Extension error: Your tools are connected to a different Business Manager"
I upgraded to the new FB extension but I suspect I did not remove the old version properly first.  Now when I click on the OpenCart menu item to manage the extension and attempt to connect from within OpenCart I get:
"Connect Existing Tools
Your tools are connected to a different Business Manager. Ask your admin for access, or continue to overwrite the existing connection."

The existing Pixel app

[2020-04-24 00:00] shue249 commented on #369
@acjp We looked through your website. Only the base pixel code is firing; none of the down funnel pixel events are fired, eg apart from the Thank you page, the product details page is also not firing the ViewContent event.

We believe that this problem is due to the SEO module that you installed which results in our pixel not able to firing the events correctly. Unfortunately, we will not be able

[2020-04-24 04:22] dtying commented on #377
Hi @tburke45208 , as you're an existing user of FBE, your previous setup will not be impacted if you can't migrate to the latest version. The pixel is still working and you can re-install the previous version to keep your operation continuing as before.

Could you also share a screenshot of the msg above?

[2020-04-24 06:10] shue249 commented on #345
@Eaglebill We are still in progress on enabling the Messenger chat on the new version 3.0. We will update you soonest when it is ready.

[2020-04-24 07:17] shue249 commented on #368
@AlexGolemis We may need further information to debug this more. Can we ask for you to download the page as a standalone html and send the page to us at our email - ads_extension_opencart@fb.com

[2020-04-24 07:22] shue249 commented on #360
@baud13 Unfortunately, we are unable to provide further insights on the 3rd party Messenger chat, as we do not own this 3rd party plugin.

We can update you soonest when our Messenger chat plugin is ready for v3 and you can use our plugin to customise the chat welcome text.

[2020-04-24 07:25] shue249 commented on #367
@siteadvice The permission we recommend is 755 recursive for admin, catalog and system folders. After you set the permissions, pls remove away the plugin and reinstall the plugin again.

Can you share the screenshot of how the error looks like on your plugin page?

[2020-04-24 07:28] shue249 commented on #376
@Luciano26 Can you look at point 4 on this FAQ to see if it helps you to overcome the Access denied problem - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#accessing-the-facebook-business-extension-module

[2020-04-24 07:37] dtying commented on #372
Hi @Bjornhjacobs , I found that you were actually an existing user of FBE before v3.0. So when you upgraded to v3.0, you shouldn't create any new pixel or catalog but to reuse the existing ones. By default, your previous FBE connected assets should automatically be migrated to the latest version.

The expected migration screen should look like this for the existing user: https://drive.google.com/f

[2020-04-24 07:45] shue249 commented on #359
@rhinsu Want to check with you if the Facebook Business Extension setup is completed or have you deleted away the setup.

[2020-04-24 08:14] dtying commented on #368
Hi @AlexGolemis , did you click Modifications->Refresh?
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#plugin-installation

Your admin site is not loading the latest bundle of plugin. That's why you see the js error as above.

[2020-04-24 09:28] Luciano26 commented on #376
Thank you, I solved the problem giving access permission by following the 4th point on the FAQ. you're great.

[2020-04-24 09:28] #376 closed

[2020-04-24 09:43] rhinsu commented on #359
@shue249 i still have the setup installed, haven't removed it yet

[2020-04-24 09:52] baud13 commented on #360
Excellent, thank you very much for your reply.

[2020-04-24 09:52] #360 closed

[2020-04-24 09:54] shue249 commented on #359
@rhinsu Wondering if you could share the catalog ID with us.

[2020-04-24 09:59] rhinsu commented on #359
@shue249
1066643733705749 Catalog ID

[2020-04-24 12:26] AlexGolemis commented on #368
I have done Refresh, clear cache etc...Finally i uninstalled the extension and start again.
The latest version is this:
https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v3.0.0

Correct?

[2020-04-24 12:50] Bjornhjacobs commented on #372
Hi,

Indeed, we were able to get everything to work again, I’m not sure exactly what changed but luckily everything is up and running now. I thank you very much for your help!

Have a great day, I hope you are well in these uncertain times!

Bjorn Jacobs
514-815-2788

[2020-04-25 16:28] marcdoyle opened #378 "Can't Connect Opencart to Facebook"
Hi - I have used this extension for over 2 years but this morning it disconnected from Facebook so I tried to reconnect but it just shows the timer but does not connect. I have tried to uninstall and reinstall but no joy.
Can you suggest anything?
Regards
Marc Doyle
www.thescarfseller.com
![connection](https://user-images.githubusercontent.com/64322768/80285047-1fc31700-871a-11ea-87c2-65a82772988f

[2020-04-26 17:03] effectiveemea opened #379 "[object Object]"
Hello,
I got [object Object] alert when I try to connect Facebook

[2020-04-27 02:36] dtying commented on #378
Hi @marcdoyle , I have checked that your existing FBE setup is still working as before.

Above screen shows that you may have issue in upgrading to the latest version v3.0 when granting permissions. You can try re-login your FB account. However, if it's still not working, you can keep using the older plugin version.

[2020-04-27 02:39] dtying commented on #379
Hi @effectiveemea, can you provide the webstore url?

FYI here's the FAQ for updates: https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#setup-for-facebook-business-manager-page-pixel-catalog-and-page-shop

[2020-04-27 05:53] marcdoyle commented on #378
Hi - I've tried to login numerous times but it doesn't work. :-(

Where can I download an older version?

Cheers

[2020-04-27 06:01] marcdoyle commented on #378
The older version works fine. Thanks for your help.

[2020-04-27 06:47] dtying commented on #372
Thank you no problem!

[2020-04-27 06:47] #372 closed

[2020-04-27 06:50] dtying commented on #368
Yes this is the latest version.

[2020-04-27 06:52] dtying commented on #355
Hi @elavweb , could you follow FAQ and verify first?

https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#setup-for-facebook-business-manager-page-pixel-catalog-and-page-shop

[2020-04-27 07:08] xakou commented on #355
Any good news???
At previous version 2.2.1 i can see all pages.
At this version 3.0.0, i see only new of them...

[2020-04-27 07:23] effectiveemea commented on #379
Hi
http://romaopticals.com/

Regards,

[2020-04-27 08:39] itshaman commented on #379
have a same troble
httsp://vikart-molbert.ru
Last string of log file
2020-04-27 11:33:17 - Facebook Ads Extension version = 3.0.0
2020-04-27 11:33:17 - OpenCart version = 2.3.0.2
2020-04-27 11:33:17 - PHP version = 7.1.26
2020-04-27 11:33:17 - Verifying Availability of Facebook Ads Extension Settings Availability
2020-04-27 11:33:17 - Pixel ID = true
2020-04-27 11:33:17 - Pixel use PII = true
2020

[2020-04-27 09:43] khvoroffski commented on #379
Got same error
ecoelectro.com.ua
2020-04-27 12:42:20 - Facebook Ads Extension version = 3.0.0
2020-04-27 12:42:20 - OpenCart version = 2.3.0.2.3
2020-04-27 12:42:20 - PHP version = 7.2.29
2020-04-27 12:42:20 - Verifying Availability of Facebook Ads Extension Settings Availability
2020-04-27 12:42:20 - Pixel ID = false
2020-04-27 12:42:20 - Pixel use PII = false
2020-04-27 12:42:20 - Page ID = fals

[2020-04-27 14:41] siteadvice commented on #367
Here's what the error looks like
![Facebook-Opencart-extension-error-message](https://user-images.githubusercontent.com/1247766/80385016-7a38b080-889d-11ea-8822-21493566d220.png)

[2020-04-27 19:24] Stiliyana1 commented on #364
I have the same problem and after the installation of facebook_ads_extension.ocmod.zip, and follow the step "Get started".....I have the error [object Object]. What to do to solve the problem?

[2020-04-28 00:52] wegee-us commented on #378
@dtying i got the same problem, after that i got [object Object] error. but older version is working fine

[2020-04-28 02:23] dtying commented on #364
Hi @Stiliyana1, could you provide your webstore url?

You may also refer to FAQ for updates: https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#setup-for-facebook-business-manager-page-pixel-catalog-and-page-shop

[2020-04-28 02:47] dtying commented on #367
Hi, could you verify that both parameters are set correctly in your platform? https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/library/facebookcommonutils.php#L118-L119

However, I checked in the backend that your FBE setup was successfully completed.

Your [catalog](https://www.facebook.com/products/catalogs/790054331519328/feeds/251269412673185/overview) is sy

[2020-04-28 05:06] Stiliyana1 commented on #364
Hi, I now installed the Fb AD Extension, given from fb, and I success to follow the steps "Get started..", but now I have an error with and products still uploading! - www.destibg.com

![1111](https://user-images.githubusercontent.com/64435880/80449203-270b4000-8927-11ea-838c-f64f09f93544.JPG)
![222222](https://user-images.githubusercontent.com/64435880/80449210-283c6d00-8927-11ea-9154-9f44fa5c14a

[2020-04-28 05:22] Stiliyana1 commented on #364
You can see that should click on UPDATE TOKEN, but I can't
![444444444](https://user-images.githubusercontent.com/64435880/80450039-4e630c80-8929-11ea-80e6-ce1cd71c9dac.JPG)
Txs

[2020-04-28 05:33] shue249 commented on #359
@rhinsu

Using the previous product as an example, we checked on your catalog and found that the sales price is correctly synced in.

https://www.devikenya.com/y9s-6gb-ram-128gb-rom-6-59-4g-lte-black

![image](https://user-images.githubusercontent.com/11957585/80450733-c692f780-8954-11ea-98d4-d218943f95cb.png)

Like to better understand your problem better. Are you not able to see this sale price

[2020-04-28 07:00] rhinsu commented on #359
@shue249 voila!!! if you check the below link screenshot you can clearly see that special price was not captured...
in my opinion, I think I may have been impatient to before it could complete sync

https://i.postimg.cc/v8SZxPGh/fbsnip.jpg

Anyway, I'm happy to see it work...thanks alot

Is there a way I can add the manufacturer name before the product name on sync..

[2020-04-28 08:21] shue249 commented on #359
@rhinsu Glad to know that the sale price is alright on your catalog.

For the changes to the manufacturer name, if you have access to developer resources, I can point you to the code pointers. However, do note that any local changes made will be overwritten when you install a new version of the plugin or re-install the existing version of the plugin.

This is the code location where we extract out

[2020-04-28 08:21] #359 closed

[2020-04-28 10:08] Vemonz opened #380 "Parse error: syntax error, unexpected '{' in"
Parse error: syntax error, unexpected '{' in /home/u7150790/storage/modification/admin/model/catalog/product.php on line 680

`
[product.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/4544915/product.zip)
`

[2020-04-28 10:10] shue249 commented on #380
@Vemonz Thanks for the feedback. Can you re-attach the zip file via the desktop web browser? Unfortunately the zip package was not successfully attached in the 1st post

[2020-04-28 10:14] Vemonz commented on #380
[product.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/4544954/product.zip)

[2020-04-28 11:11] Vemonz commented on #380
@shue249 did u check it?

[2020-04-29 07:00] rhinsu commented on #359
@shue249 it is very kind of you to show me the files to edit, but since i am a novice developer i wouldn't know the exact edit, if you don't mind would you be able to show me the edit,
Example
Opencart name in product - Galaxy A51
Manufacturer - Samsung

current facebook catalog is showing - Galaxy A51
need it to show - Samsung Galaxy A51

really appreciate your assistance.

[2020-04-29 10:42] Stiliyana1 commented on #91
Hi, I have the same problem with the products. Its being always processes and not updated in my fb page
![ggfgfgfgf](https://user-images.githubusercontent.com/64435880/80587464-471e2a80-8a1f-11ea-87a9-a41ad51e4654.JPG)
![gfgdg](https://user-images.githubusercontent.com/64435880/80587468-47b6c100-8a1f-11ea-936d-6e4c7c249a45.JPG)

[2020-04-29 10:44] Stiliyana1 commented on #364
Hi, I now installed the Fb AD Extension, given from fb, and I success to follow the steps "Get started..", but now I have an error with and products still uploading! - www.destibg.com
![gfgdg](https://user-images.githubusercontent.com/64435880/80587601-82b8f480-8a1f-11ea-9fd7-d549c3b73153.JPG)
![ggfgfgfgf](https://user-images.githubusercontent.com/64435880/80587604-83518b00-8a1f-11ea-955c-341bb867

[2020-04-29 11:34] shue249 commented on #380
@Vemonz Which version of opencart are you using?

[2020-04-29 14:57] AlexGolemis commented on #368
i uninstalled and installed again the latest version from the url posted here and now it works. After choosing the account i cant choose page. It says _You don't have permission to edit these settings. Reach out to the admin of ''P&B' Business Manager to to gain access._

I am admin at the account
![2020-04-29 17_54_08-Σύνδεση μέσω Facebook](https://user-images.githubusercontent.com/64062947/80611

[2020-04-29 17:39] tburke45208 commented on #377
Yes, but now I cannot manage either version.  So I need to resolve this.  Do I need to setup a new Business Manager??  Or uninstall / reinstall?

<img width="1322" alt="Screenshot 2020-04-29 13 32 14" src="https://user-images.githubusercontent.com/45772409/80628089-d7a83b00-8a1e-11ea-9c26-63c2c32dd8d2.png">

Log File shows:
2020-03-31 22:06:03 - Complete - Sync for product 80
2020-04-02 19:36:01 -

[2020-04-29 17:56] ShahreerHimel commented on #379
hi, i'm also facing same issue, is there any soluation

[2020-04-30 04:46] dtying commented on #368
Hi @AlexGolemis , glad it works now!

Regarding to the permission, can you refer to FAQ [here](https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#setup-for-facebook-business-manager-page-pixel-catalog-and-page-shop) - _2. I can't see my page_ , and then let me know the result?

[2020-04-30 08:29] rhinsu opened #381 "Join manufacturer name with product name"
@shue249 i being novice into programming, i would like your assistance to assist me with the code for joining the two, from the previously advised links.

[2020-04-30 09:10] rhinsu commented on #381
@shue249 we have run into a strange issue, the title column is showing empty

[2020-04-30 13:23] tonyblaze27 commented on #379
Hi! Same here... Can someone please help!

[2020-04-30 18:40] Vemonz commented on #380
3.0.3.2

shue249 <notifications@github.com>, 29 Nis 2020 Çar, 14:35 tarihinde şunu
yazdı:

[2020-05-02 06:21] hassni1 opened #382 "How to configure the Event Initiate Checkout fb pixel ( partner integration opencart)"
fb pixel successfully integrate with opencart partner , but i checked some events are not configure. so i configure them manually like initiate checkout and purchase

it gives an error on value , how to fix the issue

Please check the attachment
https://prnt.sc/s9k0ae

Best Regards

[2020-05-04 02:47] shue249 commented on #382
@hassni1 Can you share with us a screenshot of the pixelhelper on your initiatecheckout and purchase page?

[2020-05-04 05:35] hassni1 commented on #382
Please check the attachment
https://prnt.sc/sahh9f
https://prnt.sc/sahhsg

[2020-05-04 12:55] AlexGolemis opened #383 "How to disable Cookie Bar"
How can i disable the cookie bar from opencart admin? There is no option at Facebook Business Extension. My site url is pnb-shop.gr

![image](https://user-images.githubusercontent.com/64062947/80967820-a913d100-8e1f-11ea-84ce-2d611f61a47b.png)

![image](https://user-images.githubusercontent.com/64062947/80968047-fc861f00-8e1f-11ea-965d-368272ad319a.png)

[2020-05-04 13:49] AlexGolemis commented on #368
I didn't find any solution at FAQ. I also tried to communicate with Facebook support. They informed me that i have all the admin permissions.

[2020-05-04 19:51] thrift4good opened #384 "Microdata for pixel"
Regarding Microdata meta tags, is there a way to automatically generate? For my pixel to work it says I need to add meta tags to each of my products for the pixel to work. Since the product pages are generated dynamically, is there a way to also generate the tags dynamically?
--

![facebook-pixel](https://user-images.githubusercontent.com/64807399/81007320-a19bfa00-8e16-11ea-9332-3a0bca686834.jpg)

[2020-05-05 05:55] hassni1 commented on #382
Please check the attachment
https://prnt.sc/sb33j3
https://prnt.sc/sb33yn

How to fix missing value parameters ( Partner Integration Opencart )

Best Regards.

[2020-05-05 10:51] garganoadv opened #385 "We have detected the Facebook pixel is not correctly setup in your web store site."
Hello,

I have gone through all the recommended steps and continue to experience the same issue.
All products have been successfully imported into the business manager, but I don't receive any events from the pixel.

<img width="1717" alt="Schermata 2020-05-05 alle 12 50 02" src="https://user-images.githubusercontent.com/25225822/81058650-20ed0480-8ecf-11ea-80a6-febce75a68a2.png">

[2020-05-05 10:58] shue249 commented on #385
@garganoadv Can you share your webstore URL?

[2020-05-05 10:59] shue249 commented on #382
@hassni1 Can you share with us your webstore URL?

[2020-05-05 10:59] garganoadv commented on #385
Yes is https://www.xtremeaerodynamics.it/

[2020-05-05 12:53] shue249 commented on #384
@thrift4good Have you completed our Facebook Business Extension setup? Our setup will automatically create a product catalog with the Data source set as the product feed which is generated from your webserver.

It seems to us that this catalog is not created from our plugin.

[2020-05-05 13:58] shue249 commented on #385
@garganoadv The pixel code from our plugin is not successfully setup on your website. If you look at the suggestions on the module page, those are the usual causes of error. Can you take a look to see if it helps.

In particular, if you are using OpenCart v3.x, are you making any changes to the header and footer from the Theme design. Also you may want to check if you disable the theme/SASS cache.

[2020-05-05 14:02] shue249 commented on #383
@AlexGolemis The option to disable the cookie bar will appear after you complete the setup process, which you can start by clicking on Get Started. If you have yet to complete the setup, the cookie bar disable option will not be shown.

We will be closing out this ticket, feel free to reach to us if you have further questions.

[2020-05-05 14:02] #383 closed

[2020-05-05 14:03] shue249 commented on #381
@rhinsu Can we check on your empty title column first. Can you share example products where the title is empty. Did you make any changes to the coding?

[2020-05-05 14:25] shue249 commented on #380
@Vemonz We want to check with you on what is the version of the plugin that you are using? Are you using the latest 3.0.0 plugin version?

You can download the latest version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v3.0.0

Remove the existing version and install this newer version and refresh modifications. Let us know if this helps.

[2020-05-05 16:14] hassni1 commented on #382
https://www.qmart.pk/

[2020-05-05 16:30] garganoadv commented on #385
@shue249 Thanks. The problem is the customized footer in Fastor template. I modified the default footer and now all it's ok.

[2020-05-05 16:57] thrift4good commented on #384
The feed is showing up properly with all of the items in the manager, but none of the products are showing in the shop.

[2020-05-06 00:52] shue249 commented on #385
Glad that it works for you. We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-05-06 00:52] #385 closed

[2020-05-06 00:53] shue249 commented on #384
@thrift4good can you share with us your catalog ID. Is a new catalog generated or are you using the existing catalog?

[2020-05-06 01:01] huaxiashenqi opened #386 "My opencart use 3rd theme JOURNAL 3.045,Seems the Pixel not work,"
i contact the facebook, but when i text connect with the pixel , it is not work,

my questions is this plugs not support the 3rd theme?

best regards

[2020-05-06 01:36] huaxiashenqi commented on #386
my website:  www.foogme.com  ,opencart 3.032

[2020-05-06 07:08] AlexGolemis commented on #368
The problem solved after communicating with Facebook Support. There was an old Facebook business account that created the conflict.

[2020-05-06 07:08] #368 closed

[2020-05-06 08:56] rhinsu commented on #381
@shue249 all product titles were empty, also facebook reported a problem importing the feed. but a while ago I checked and all was back to normal...i have cloudflare running, can that in any case interfere with realtime sync??

I tried an edit on this file, but all was restored back to original file about a week ago
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/syst

[2020-05-06 09:25] AlexGolemis opened #387 "Facebook Business Manager Warnings"
All my products have been synced and i can see them at Facebook Business Manager. But i get some warnings.

**Invalid Google product category provided** : The Google product category specified in the feed file does not match the standard taxonomy defined by Google: https://support.google.com/merchants/answer/6324436. You can specify either the string representation or the numeric representation of

[2020-05-06 12:06] CPR-head opened #388 "Special Price not showing on Facebook Catalog"
Hi, the Special Price not showing on Facebook Catalog.

[2020-05-06 13:19] itshaman commented on #379
UPD: I got this error after try to config second site to same facebook acount.
May be it metter.

[2020-05-06 14:34] shue249 commented on #388
@CPR-head We have some FAQs on special price on this link (look at point 2). https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#product-configurations-and-settings

We have a few similar cases earlier, eg https://github.com/facebookincubator/Facebook-For-OpenCart/issues/359. You may want to refer to the thread to see if it helps you.

If all else fails, can you share wit

[2020-05-06 14:40] shue249 commented on #387
@AlexGolemis You can ignore the warnings on the google product category as it does not have impact on the catalog or dynamic ads.

For the HTTPS setting, we leverage on the HTTP_CATALOG php setting on your server. Can you check the file admin/config.php and see if this setting has https, and if not, you can change this setting to https.

Alternatively, if you have developer resources, you can chan

[2020-05-06 15:01] thrift4good commented on #384
This catalog feed was generated when I installed the extension.
Feed ID: 1345136379018791

Product Set:
ID: 1011387282596421

I want the catalog to be generated fully from the data feed. My facebook
page is @thrift4good.

Taylor Watts

On Tue, May 5, 2020 at 7:53 PM shue249 <notifications@github.com> wrote:

[2020-05-07 13:28] tburke45208 commented on #377
Bump

[2020-05-08 07:11] AlexGolemis commented on #387
I had only HTTPS_CATALOG url at my  config.php file. I added HTTP_CATALOG  with https at url and now i don't have the warnings.
The only warning i still have is the google product category. Can you give me more information about the reason i see it and why it does not affect the catalog or dynamic ads?

[2020-05-08 07:27] #378 closed

[2020-05-08 07:28] dtying commented on #378
Thank you @wegee-us - We have recently fixed an API issue in FBE plugin v3.0.0, the [object object] error should be gone now.

[2020-05-08 07:36] dtying commented on #379
Hi everyone, we have recently fixed an API issue of FBE plugin v3.0.0, this error should be gone by now.

[2020-05-08 07:36] #379 closed

[2020-05-08 07:37] #371 closed

[2020-05-08 07:40] dtying commented on #351
Hi everyone, we have recently fixed an API issue of FBE plugin v3.0.0, the [object Object] error should be gone for now.

[2020-05-08 07:40] #351 closed

[2020-05-08 10:35] hassni1 commented on #382
@shue249 No response on last reply

[2020-05-08 10:39] missbow commented on #351
Hi @dtying I've installed the new version again but the I'm facing the same error
![image](https://user-images.githubusercontent.com/34458043/81398109-44af8500-9131-11ea-972b-13b15ff92ad5.png)

[2020-05-08 14:32] CPR-head commented on #388
ill give you a few examples
https://mcgorisks.ie/index.php?route=product/product&product_id=7493
![screen 1](https://user-images.githubusercontent.com/64903944/81416038-16d23c80-9141-11ea-90e5-359db1b95f61.png)
![screen 3](https://user-images.githubusercontent.com/64903944/81416044-18036980-9141-11ea-8ad5-a89cab05fdaf.png)
![screen 2](https://user-images.githubusercontent.com/64903944/81416046-189

[2020-05-08 15:25] CPR-head commented on #388
it also doesnt bring the correct brand info over

[2020-05-08 18:23] thrift4good commented on #384
I created the data set with your app.
see pic
Taylor Watts
817320928

[image: image.png]

On Tue, May 5, 2020 at 7:53 AM shue249 <notifications@github.com> wrote:

[2020-05-09 04:53] wegee-us opened #389 "facebook messager is gone in Version: 3.0.0"
Hi,
i want to make sure, the facebook messager is removed in Version: 3.0.0? because i can't see add facebook messager in setting anymore. and facebook messager is disappeared when we upgrade from version 2 to Version: 3.0.0

[2020-05-10 12:13] CPR-head commented on #388
this might be the problem the sales date are all like this

Sale Price End Date | 1970-01-30T23:59+00:00
-- | --
Sale Price Start Date | 1970-01-30T00:00+00:00

[2020-05-10 12:14] CPR-head commented on #388
![image](https://user-images.githubusercontent.com/64903944/81499012-35127680-92c0-11ea-8564-267b582de86a.png)

[2020-05-11 02:15] dtying commented on #353
Hi @cepcemuh , we have recently updated the FBE UI to show the disabled pages in grey color, and when you hover on it, it also tells the reason why you can't select that page. I hope this can help you to solve the page access issue.

[2020-05-11 02:15] #353 closed

[2020-05-11 02:18] dtying commented on #355
Hi @xakou, we have recently updated the FBE UI to show the disabled pages in grey color, and when you hover on it, it also tells the reason why you can't select that page. I hope this can help you to solve the page access issue.

[2020-05-11 02:26] dtying commented on #386
Hi @huaxiashenqi , the pixel_id which you have connected with FBE is 1140228989662560.
I also checked in your webstore, the pixel works correctly.

[2020-05-11 02:26] #386 closed

[2020-05-11 02:40] dtying commented on #356
Hi @ramirami593 , category is not available in FBE at this moment, I'll take this as a feedback to the team.
Hi @cheekymykool , I've checked that your FBE setup is done correctly and the catalog is synced to your FB Shop now.

I'll close out the ticket. Feel free to open new tickets for further questions.

[2020-05-11 02:40] #356 closed

[2020-05-11 02:42] dtying commented on #349
Hi @calvintcow , I've updated FAQ and Install_guide to reflect the latest change. Feel free to take a look.

[2020-05-11 02:42] #349 closed

[2020-05-11 02:48] dtying commented on #334
Hi @chauting , do you still have any issues with FBE setup?

[2020-05-11 02:50] dtying commented on #352
Hi @exitsport , we have recently updated the FBE UI to show the pages which you don't have access to in grey color, and when you hover on it, it also tells the reason why you can't select that page. I hope this can help you to solve this issue.

[2020-05-11 02:50] #352 closed

[2020-05-11 02:52] dtying commented on #350
Hi @siteadvice , we have recently fixed an API issue with FBE, this error should not happen now.
Feel free to open a new ticket if you have further questions.

[2020-05-11 02:52] #350 closed

[2020-05-11 02:58] dtying commented on #377
Hi @tburke45208, can you refer to FAQ [here](https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#setup-for-facebook-business-manager-page-pixel-catalog-and-page-shop)? Section 2. I can't see my page. -> Ensure you own the Business Manager associated with the page. You can go to Page Settings, click Page Roles tab, under Page Owner section, check whether you have access to

[2020-05-11 03:05] dtying commented on #389
Hi @wegee-us , you may refer to the update here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#setup-for-facebook-messenger-chat

The messenger plugin will be brought back in the next plugin version.

[2020-05-11 03:05] #389 closed

[2020-05-11 03:09] dtying commented on #367
Hi @siteadvice , we're closing the ticket for now. Feel free to approach us if you have any further questions.

[2020-05-11 03:09] #367 closed

[2020-05-11 06:10] xakou commented on #355
@dtying  Hello again,
i have hover on page i have the error "You don't have permission to edit these settings. Reach out to the admin of xxxx Business Manager to to gain access."

As i see at **mine** Business Manager, i have all the permitions.
What is my wrong? With FBE 2.2.1 everyting work OK.

![img_460](https://user-images.githubusercontent.com/49698771/81529252-259a3880-9367-11ea-9251-95de8b

[2020-05-11 10:41] shue249 commented on #388
@CPR-head We checked on the feed file generated and the sales period and sales price is not set in the feed file, hence you are not seeing the discounts.

1. Want to check if you are using the OpenCart default product management module.
2. What is the time set in your server, is the time up to date?

[2020-05-11 11:22] jvteam20 opened #390 "Extension: Facebook for OpenCart (ID: 32336)"
Dear Team,
We would like to use the  Facebook Business Extension v3.0.0 ( Facebook for OpenCart ) in our opencart portal.
We are using vqmod (2.6.4). Few of the codes are already there in vqmod. Another important change is that, we changed the admin folder name using vqmod. I was reading through the Facebook for OpenCart installation guide ( https://github.com/facebookincubator/Facebook-For-OpenCa

[2020-05-11 13:35] CPR-head commented on #388
yes im using the default product module, im not sure what you mean about the time set is the server

[2020-05-11 13:43] tburke45208 commented on #377
I'm the sole Admin of the FB page and sole admin of the Open Cart storefront. However, I do see something weird in FB.  When I click the SELECT button to the right of Page Owner it takes me to some personal web page of someone I don't know.  Notice the URL in the screenshot:
https://www.dropbox.com/s/3kfavqbxs8bcc7a/Screenshot%202020-05-11%2009.37.33.png?dl=0
It takes you to https://www.facebook.c

[2020-05-11 15:41] meverikxp opened #391 "How install pixel and don't remove modifications?"
Hello, I installed the plugin but got pixel error
but I got this error
We have detected the Facebook pixel is not correctly setup in your web store site. You can try these below steps to fix the problem.
1. Ensure that you have given read+write permissions to the admin, catalog and system folders on your OpenCart webserver
2. Ensure that you have Refresh the modifications, View steps
3. For OpenCa

[2020-05-11 19:45] thrift4good commented on #384
Just checking in to see if I can get some help with this issue.

I created the data set with your app.
see pic
Taylor Watts
817320928

[image: image.png]

On Tue, May 5, 2020 at 7:53 AM shue249 <notifications@github.com> wrote:

[2020-05-11 23:59] shue249 commented on #381
@rhinsu Are you still seeing the problem where the product titles are empty? If so, can you share your catalog id with us and want to understand if you have made any edits to the code file yourself.

With regards to the ask to provide code changes on joining the manufacturer name. We are currently unable to help on this at the moment, as we are focusing on other priorities. We are unable to provid

[2020-05-12 00:06] shue249 commented on #387
@AlexGolemis When feed file with google product category is uploaded to Facebook, we do a validation against the Google taxonomy to check if it is following Google's specifications. If not, we will show the warnings to inform the advertisers of this problem.

However, this is only shown up as warnings to notify the advertisers. This does not impact the catalog or dynamic ads. Even if the products

[2020-05-12 00:06] #387 closed

[2020-05-12 00:37] shue249 commented on #382
@hassni1
1. From your screenshot, the InitiateCheckout is setup via EventSetupTool instead of through the plugin.
![image](https://user-images.githubusercontent.com/11957585/81624419-aa00c000-9428-11ea-88b3-fe6446498eea.png)

2. Are you using 3rd party checkout modules or SEO modules? We access the checkout page on your website and found that the pixel is not firing. This is usually the case when

[2020-05-12 00:48] shue249 commented on #390
@jvteam20

1. Our plugin is vqmod compatible, the steps to install will still be via the Extension installer.

2. The renaming of admin folder is a larger problem. There are few code references where we are relying on admin folder. If you have access to developer resources, you can consider making the code changes on your website directly to test if it will work. Do note that, we have yet to test

[2020-05-12 00:59] shue249 commented on #388
@CPR-head

We are using the time set in the server to determine if we should be using the discount prices. Here is the code pointer - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/library/facebookproductformatter.php#L272

In layman terms, this code condition checks if the product discount end time is set after the server time. For example, in your product, y

[2020-05-12 02:14] dtying commented on #391
Hi @meverikxp , a better way for your to validate whether your pixel is firing event correctly is to install [Facebook Pixel Helper](https://developers.facebook.com/docs/facebook-pixel/support/pixel-helper/) chrome extension.

If the pixel helper shows signals firing, you may ignore the warning.

[2020-05-12 08:04] shue249 commented on #384
@thrift4good We checked your catalog and everything seems correct. There are now 80 products and the last sync is on 11th May. Looks to me that everything is in order and you do not need to implement any micro data for pixel.

Are there other questions/issues that you are seeing or facing?

[2020-05-12 08:05] shue249 commented on #391
@meverikxp Do you have developer resources? If so we can point to you on the code path to make the changes so that you do not need to click on Refresh modifications.

However, if you do not have developer resources, it will be very hard for us to guide you to make those changes, as things may go wrong easily.

[2020-05-12 08:27] khvoroffski opened #392 "[object Object]"
Here is a log
`2020-05-12 11:24:45 - Facebook Ads Extension version = 3.0.0
2020-05-12 11:24:45 - OpenCart version = 2.3.0.2.3
2020-05-12 11:24:45 - PHP version = 7.2.29
2020-05-12 11:24:45 - Verifying Availability of Facebook Ads Extension Settings Availability
2020-05-12 11:24:45 - Pixel ID = true
2020-05-12 11:24:45 - Pixel use PII = true
2020-05-12 11:24:45 - Page ID = true
2020-05-12 11:24:45

[2020-05-12 09:27] dtying commented on #392
Hi @khvoroffski , could you provide your webstore_url?

[2020-05-12 10:19] rosemariepopescu commented on #392
Hi, my log looks the same as khvoroffski, except that I use OC 2.1.
I am not worried about mess plugin, but I am a bit of the System User Access Token.
Because after the update I just did the mod shows 'Get started' rather than 'Resync' as it usually did after updates https://prnt.sc/sf8wad, and it starts the facebook wizard from beginning rather than recognize existing connection. No other visibl

[2020-05-12 12:17] jvteam20 commented on #390
Hi shue249,
Thank you for the reply. It is really helpful.
Regards

[2020-05-12 13:34] atlantisevo opened #393 "Error during plugin configuration"
After install and after login to facebook account i get this error: An error occured when creating Facebook Business Extension setup.
![musicstore_fb](https://user-images.githubusercontent.com/65234913/81698308-13eb8a80-9466-11ea-8749-5e2a8d272a9d.png)
[Music Store_2020-05-11_16-43-02_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/4615904/Music.Store_2

[2020-05-12 15:08] CPR-head commented on #388
if (!ini_get('date.timezone')) {
	date_default_timezone_set('Europe/Dublin');
thats the part where the time is set, and as far i know that is correct

can you tell me exactly which condition check i should remove?

[2020-05-12 15:28] shue249 commented on #390
@jvteam20 One correction. I meant to say to make changes to the plugin files and then zip up into ocmod.zip extension again and use the new zip package to install on your OpenCart website. Do take note that the zip package must NOT have any root folder else the installation will complain of errors.

We will be closing out this ticket, feel free to reach to us if you have further questions.

[2020-05-12 15:28] #390 closed

[2020-05-12 16:58] myartmarket opened #394 "How can I remove cookie bar ?"
Hi, How can I remove cookie bar on mobile view ?
we already have one and don't need a second one.

[2020-05-12 17:04] meverikxp commented on #391
Yep I have developer resources

вт, 12 мая 2020 г. в 11:06, shue249 <notifications@github.com>:

[2020-05-12 19:45] bonny3 commented on #350
Hi @dtying ,

I installed the new version 3.0.0 of Facebook Opencart,
but unfortunately I keep getting the error message ...

**_"The message received is not from the verified source."_**

before installing the new version, I removed the previous version 2.10.
I ask how can I solve the problem

Thanks
Best Regards
Alessandro

![2020-05-12_213849](https://user-images.githubusercontent.com/19350758/

[2020-05-13 09:26] pipperis opened #395 "Proble with cart notification in Journal 3"
Hi,

I am using Journal 3 with OC 2.3.0.2 and Facebook Business Extension v3.0.
When a product is added in the cart, the notification on the cart icon remains 0 (see attached image).

I contacted the support of Journal about the issue and they replied:
_Your issue is related to Facebook Pixel extension, please consult with its developers for more information._

Can you please advise.
Thanks

![Ann

[2020-05-13 09:32] shue249 commented on #388
@CPR-head We are referring to line 272 on the file facebookproductformatter.php. Remove the condition "strtotime($sale_end) >= time()"

![image](https://user-images.githubusercontent.com/11957585/81796214-b4fa4400-953f-11ea-8b2e-62541f8af95f.png)

[2020-05-13 09:33] shue249 commented on #394
We have an option to disable the cookie bar. You can read more details here.  https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#cookie-bar-shown-on-web-store

[2020-05-13 10:45] shue249 commented on #391
@meverikxp This will be my suggestions on how to go about doing this.

1. Look up this file which contains all the pointers where we need to make the changes on your OpenCart website. https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/install.xml

2. Each <file> tag is the modification section. In summary, what you need to do is to edit the file on your webserver, locate the co

[2020-05-13 10:47] shue249 commented on #395
@pipperis Can you share with us your website URL

[2020-05-13 11:50] pipperis commented on #395
Please click [here ](https://www.beautyangel.gr/)to visit the website.

[2020-05-13 14:48] CPR-head commented on #388
i removed that line, but its still the same

[2020-05-13 15:36] CPR-head commented on #388
this is the error i am getting now
![image](https://user-images.githubusercontent.com/64903944/81833661-e5d67b00-9537-11ea-949a-348e2dcbb0f7.png)

[2020-05-13 16:22] CPR-head commented on #388
when i remove that line, my back end of my website went down. i added back in and the site is back up again

[2020-05-14 00:59] shue249 commented on #388
Sorry for not communicating correctly.

The exact changes is to replace lines 272 and 273 with this line:

if (strtotime($sale_end) >= strtotime($sale_start)) {

An image to better illustrate this:
![image](https://user-images.githubusercontent.com/11957585/81880885-30e8a080-95c1-11ea-9316-12c403bde85a.png)

[2020-05-14 09:54] dtying commented on #393
Hi @atlantisevo , can you provide your webstore_url?

[2020-05-14 10:05] atlantisevo commented on #393
Url is: https://www.musicstore.sm/

[2020-05-14 10:11] dtying commented on #392
Hi @rosemariepopescu , from log I can see that you didn't finish the FBE setup, and stopped at create catalog step. As you're still on FBE v2, you can still downgrade to v2.2.1.

[2020-05-14 10:19] dtying commented on #393
Hi @atlantisevo , I checked the log that your installation failed due to 'Can't approve request to add Page to a Business Manager account: As a security precaution, you aren't allowed to approve a request to add this Page to a Business Manager account because you were added as an admin on the Page less than a week ago'.

Can you try again after one week?

[2020-05-14 10:23] atlantisevo commented on #393
Thank you very much. I'll wait.

[2020-05-14 14:19] CPR-head commented on #388
its still the same

[2020-05-15 03:38] grozevhr commented on #392
Hi, my site is www.store4u.ro and I have the same problem - error "Object, object" when I finish setup.
Here is a log
2020-05-15 3:31:03 - Get Sample product feed
2020-05-15 3:31:03 - Complete - Get Sample product feed
2020-05-15 3:32:14 - Generating product feed file for batch 0
2020-05-15 3:32:14 - Feed Generation Time Estimate: 30
2020-05-15 3:33:00 - Facebook Ads Extension version = 3.0.0
2020

[2020-05-15 04:13] dtying commented on #392
Hi @grozevhr, I can see that your installation failed once before, but after your latest setup, the installation is success. And I also verified in your web store that pixel is working fine.

![Screen Shot 2020-05-15 at 12 09 55 PM](https://user-images.githubusercontent.com/21333308/82010599-24d60f00-96a5-11ea-9325-efa0a938158d.png)

Can you download the latest log for me to check? I think your se

[2020-05-15 04:33] grozevhr commented on #392
I put code manualy.

[2020-05-15 04:36] grozevhr commented on #392
This is the latest log.

2020-05-12 17:04:51 - Get Sample product feed
2020-05-12 17:04:51 - Complete - Get Sample product feed
2020-05-12 17:06:39 - Get Sample product feed
2020-05-12 17:06:39 - Complete - Get Sample product feed
2020-05-12 17:50:40 - Get Sample product feed
2020-05-12 17:50:40 - Complete - Get Sample product feed
2020-05-12 18:36:08 - Get Sample product feed
2020-05-12 18:36:08

[2020-05-15 04:45] grozevhr commented on #392
Hi, I remove any added manually code and run Setup again. Here is a log file.

2020-05-15 4:43:10 - Facebook Ads Extension version = 3.0.0
2020-05-15 4:43:10 - OpenCart version = 3.0.3.3
2020-05-15 4:43:10 - PHP version = 7.3.15
2020-05-15 4:43:10 - Verifying Availability of Facebook Ads Extension Settings Availability
2020-05-15 4:43:10 - Pixel ID = false
2020-05-15 4:43:10 - Pixel use PII = fals

[2020-05-15 09:24] dtying commented on #392
Hi @grozevhr , I can see there's an error exception in your latest setup. Just to clarify, haven't you seen a failed installation screen at the last step of FBE setup?

[2020-05-15 09:38] bonny3 opened #396 ""The message received is not from the verified source.""
Hi,

I installed the new version 3.0.0 of Facebook Opencart,
but unfortunately I keep getting the error message ...

"The message received is not from the verified source."

![2020-05-15_113816](https://user-images.githubusercontent.com/19350758/82036003-9eb7c980-96a0-11ea-967a-c37902554d14.png)

before installing the new version, I removed the previous version 2.10.
I ask how can I solve the prob

[2020-05-15 09:43] grozevhr commented on #392
Yes, after last step I see error "Object, object" screen.

[2020-05-16 01:50] Vollanddzaft opened #397 "Feed update"
I have updated prices and images on the website, and when i am trying to update it in www.facebook.com/products/catalogs/ - manually it updates me old date. So Feed is always old. On the website is new information - in Feed is old

[2020-05-16 22:19] 1ucyph3r commented on #392
Same here. OC 3.0.2 Journal3

[2020-05-17 04:19] grozevhr commented on #392
Hi @dtying, I install new OpenCart installation and try to install Facebook Pixel extension. I see the same error. Please, check your extension compartability with newest OpenCart version...

[2020-05-17 07:52] pipperis commented on #395
@shue249 Have you managed to check if there is a conflict of the extension with Journal 3?

[2020-05-17 11:45] cepcemuh commented on #353
Hey @dtying sorry for late response. I just checked, it shows the pages now but cannot fix the reason - You don't have permissions... I do not know why is that... I have full access to the pages and all permissions as an administrator...

[2020-05-17 15:09] nik-anto commented on #385
I have the same problem, could you please explain your silution?

[2020-05-17 15:49] PaulBogdanCom commented on #393
Hi, i have the same problem on OC 3.X while setting up FB Extension:
An error occured when creating Facebook Business Extension setup.
Store is : motocorner.ro

[2020-05-18 02:46] dtying commented on #397
Hi @Vollanddzaft ,

1. Refer here for our current design: https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#syncing-of-opencart-products-to-facebook-catalog
2. Here's a workaround for real-time feed updating: https://github.com/facebookincubator/Facebook-For-OpenCart/issues/370

[2020-05-18 02:48] dtying commented on #396
Hi @bonny3 , could you provide us your webstore url?

[2020-05-18 07:20] garganoadv commented on #385
Try to disable the footer in the common folder of the fastor template, this should start the footer of the basic Opencart template. In this way the Facebook module should start.

[2020-05-18 09:03] shue249 commented on #395
@pipperis We played around the cart functionality on your website, looks like it is not simply a zero display problem.

1. If we try to add multiple items, the cart counter notification will increment, but at 1 number lesser

2. If you access the cart page, the cart counter notification will show the correct number

3. if you access back any product pages, the cart counter notification will show b

[2020-05-18 09:53] bonny3 commented on #396
Hi @dtying,
I am testing on my test site
https://www.occhialando.it/test/
first important thing if the admin folder has been renamed
the extension doesn't work, you need to re-link
in the facebookadsextension.php file
in admin / controller
Another problem today is an object / object error

[2020-05-18 12:27] atlantisevo commented on #393
I tried to install the plugin again. 10 days have passed since the configuration change on Facebook. Am I still waiting? Is it possible there is another problem? Thanks

[2020-05-18 13:07] meverikxp commented on #391
Hello,
Thank you for your response
But I already have facebook link in left menu. My problem is in pixel,
Plugins doesn't find it
[image: image.png]
How I can fix this problem, without clean modifications?

ср, 13 мая 2020 г. в 13:45, shue249 <notifications@github.com>:

[2020-05-18 15:43] pipperis commented on #395
@shue249 I uninstalled the Facebook extension and the problem stopped. See image attached.
After the test, I re-installed the extension and the problem is back.
Any advise on how to solve?
Should I re-install the previous version of the Facebook extension?
![Annotation 2020-05-18 183918](https://user-images.githubusercontent.com/58871352/82232173-eeafbe00-9936-11ea-94bf-e4dea4571176.png)

[2020-05-18 21:43] Albertovi4 opened #398 "При установке выдало ошибку"
![Снимок экрана 2020-05-19 в 0 40 10](https://user-images.githubusercontent.com/65570585/82262467-a1007900-9969-11ea-80b7-80ab100516eb.png)
При установке расширения выдает следующую ошибку.

[2020-05-18 21:46] Albertovi4 commented on #398
Попробовал установить версию 3.0 выдает такое сообщение. Прошел по пунктам, не помогло((
![Снимок экрана 2020-05-19 в 0 44 33](https://user-images.githubusercontent.com/65570585/82262738-22580b80-996a-11ea-931e-cdabfdbddb6a.png)

[2020-05-19 04:42] xakou commented on #355
@dtying  any news? Did you see my previous post 8 days before ?

[2020-05-19 05:03] xakou commented on #368
@AlexGolemis  goodmoring Alex (καλημέρα, έχω το ίδιο πρόβλημα... τι είπες στο support και τι σου έκαναν;) , i have the same problem  "you don't have permission to edit these settings. Reach out to the admin of xxxxx Business Manager to gain access"

[2020-05-19 05:43] dtying commented on #355
Hi @xakou , sorry that I missed your latest msg.
In order for us to troubleshoot, could you provide us your webstore url, business_manager_id, and page_id which you want to connect to FBE?

[2020-05-19 05:46] xakou commented on #355
@dtying can i send you to a private message?

[2020-05-19 05:49] dtying commented on #355
@xakou , sure you can send to this email address -ads_extension_opencart@fb.com

[2020-05-19 05:50] xakou commented on #355
Thank you, please also re-open this ticket. It isn't Closed

[2020-05-19 06:20] dtying commented on #396
@bonny3 , did you receive the object / object error in last installation only? From backend the installation runs correctly.
Can you open FBE popup -> click on "Continue as xxx" button again?

[2020-05-19 06:22] AlexGolemis commented on #368
Δε γνωρίζω τον ακριβή διάλογο γιατί επικοινώνησε το τμημα marketing. Το πρόβλημα ήταν ότι υπήρχε παλιός λογαριασμός και δημιουργούταν conflict.

I don't know the exact dialogue because the marketing department contacted me. The problem was that there was an old account and there was a conflict.

[2020-05-19 06:36] xakou commented on #368
@AlexGolemis επαφή (email?) από το τμήμα marking?

Contact from the marketing team ?

[2020-05-19 07:26] Albertovi4 commented on #398
https://www/kvartyra.ru

[2020-05-19 08:47] bonny3 commented on #396
@dtying ,
I solved the problem of (object object)
going to change the settings in "edit"
in the popup, now this error is no longer present ..
but the error continues
"The message received is not from the verified source"
I send you a video

https://www.occhialando.it/test/Video_2020-05-19.wmv

[2020-05-19 10:07] dtying commented on #396
Hi @bonny3, thanks a lot for your video, it's very useful!
I never encountered the issue like yours before so I'm a bit surprised to see it. Will try to do a minor release as early as possible.

[2020-05-19 10:39] bonny3 commented on #396
Hi @dtying ,
ok Thanks

[2020-05-19 13:41] shue249 commented on #398
@Albertovi4 Seems like your website is down or the domain is not correct. Want to understand if the URL is correct.

![image](https://user-images.githubusercontent.com/11957585/82333601-85ed4200-9a19-11ea-8fc5-dd1c961578ed.png)

[2020-05-19 13:43] Albertovi4 commented on #398
https://kvartyra60.ru/

[2020-05-19 13:45] Albertovi4 commented on #398
Ошибся чуть))

[2020-05-19 14:16] shue249 commented on #395
@pipperis We do not have the exact same setup on your site, hence posing challenges for us to dive into the problem.

You can try out the previous versions of our plugin - but I am not hopeful for this, as we are pretty confident that we did not make changes on the cart between these versions. https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

[2020-05-19 16:21] pankajparas commented on #396
Hello, I am facing with same issue.
My Installation steps.
1. Uploaded facebookadsextension.ocmod.zip
2. Uploaded manually "upload" folder/subfolders to our server (Due to facebook B ext. not found on dashboard after refreshing modification)

[2020-05-20 09:40] mike-goncharov commented on #392
I have the same problem. Receiving [object Object] message after trying to connect fb account. OC 3.0.2 Journal 3, plugin 3.0.0.

Logs:
2020-05-19 20:51:31 - Facebook Ads Extension version = 3.0.0
2020-05-19 20:51:31 - OpenCart version = 3.0.2.0
2020-05-19 20:51:31 - PHP version = 5.6.40
2020-05-19 20:51:31 - Verifying Availability of Facebook Ads Extension Settings Availability
2020-05-19 20:51:3

[2020-05-20 12:09] bonny3 commented on #396
Hi @dtying ,
did you manage to fix the problem?

[2020-05-21 07:19] dtying commented on #396
Hi @bonny3 , I've uploaded the latest version here: https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336. Github will be updated in a later time.

[2020-05-21 09:21] pipperis commented on #395
@shue249 you were right. Even with v.2.2.1 the problem remains.
Do you know of a previous version that may not cause the problem with the cart?

[2020-05-21 13:59] bonny3 commented on #396
Hi @dtying ,
the message problem seems to be solved,
but I notice a message in the PHP error.log

[21-May-2020 15:43:16] WARNING: [pool xxxxxxxxxxxxx] child 48231 said into stderr: "NOTICE: PHP message: feed file = /home/wwwxxxxxxxxxxx/public_html/test/system/storage/download/fbe_product_catalog.csv"

[2020-05-21 15:40] bonny3 commented on #396
Hi @dtying ,

I have encountered an additional problem
when facebook import the feed
with this link:

https://www.my_site.com/index.php?route=extension/facebookfeed/genFeedNow

every time it is regenerated in my store,
this is a problem, because I have so many products
about 43000 if it is regenerated at the time of download
the session expires and facebook is unable to import the products
I found

[2020-05-21 20:43] atlantisevo commented on #393
Ho provato a disinstallare e reinstallare il plug in, ora ho questo errore:

![image](https://user-images.githubusercontent.com/65234913/82604362-7fdf9880-9bb4-11ea-8e5e-b23732a99c5a.png)

[2020-05-25 09:05] bonny3 commented on #396
Hi @dtying ,

can you answer me please?

[2020-05-25 13:18] PaulBogdanCom opened #399 "3.0.1"
An error occured when creating Facebook Business Extension setup. {"success":true,"pixel_id":"2599893580338004","installed":true}

[2020-05-25 14:49] magbor opened #400 "Object-object error again"
The error still exists.
Site: magbor.com
OC 2.3.0.2 plus Journal 2 (latest).
Removed previous version 2.2.1,
Refreshed modifications, refreshed theme cash,
Removed **every** file or cash connected with the module in cPanel.
Facebook pixel helper shows No pixels found on ....

Installed the new 3.0.1 version,
Path 1 - Get started - (You've previously linked OpenCart to Facebook
Would you like to co

[2020-05-26 00:31] dtying commented on #396
Hi @bonny3 , could you change the url setting from 'https://www.my_site.com/index.php?route=extension/facebookfeed/**genFeedNow**' to 'https://www.my_site.com/index.php?route=extension/facebookfeed/**genFeed**'?
I made this update because several users requesting for real-time catalog sync last time.

[2020-05-26 01:14] dtying commented on #399
Hi @PaulBogdanCom , there's a typo in your HTTP_CATALOG constant - currently is 'https:/.motocorner.ro/'.

Could you correct HTTP_CATALOG under admin/config.php, and then retry?

[2020-05-26 01:29] dtying commented on #400
Hi @magbor , there's an exception of migration in our backend for your case. We'll check it and get back to you later.

[2020-05-26 07:23] PaulBogdanCom commented on #399
@dtying oh hell, did not seen that, works but Messenger still is with red alert and does not work

[2020-05-26 08:39] Albertovi4 opened #401 "Ошибка объект-объект"
сайт: https://kvartyra60.ru/
ocstore 3.0
Была установлена предыдущая версия Facebook Business Extension 2.2.1
Была удалена предыдущая версия расширения.
Pixel halper показывает что пиксель не установлен.
Установлена ​​новая версия 3.0.1,
Путь 1 - Начало работы - (Вы ранее связали OpenCart с Facebook
Хотите продолжить с прежними настройками?) - Продолжить как xxxxxxx = объект - Ошибка объекта.
Путь

[2020-05-26 12:38] bonny3 commented on #396
Hi @dtying ,

if I use the link you gave me, it doesn't work properly,
an 8MB file is downloaded comparing the 32MB of the generated file in the "system / storage / download" folder
many products are missing from this file

this is not a good solution,
you have to think that there are large databases that cannot implement this option.

you should add the choice whether to use this option
in this w

[2020-05-26 13:17] #398 closed

[2020-05-27 04:36] mzilyaev opened #402 "object object mistake"
HI I deleted FBE 2.2.3 previyously installed and installed FBE 3.0.1 according to instructions.
But I get error - "Object object" when I push Get started in FBE.
Here is log
2020-05-27 7:32:13 - Get Sample product feed
2020-05-27 7:32:13 - Complete - Get Sample product feed
2020-05-27 7:32:35 - Get Sample product feed
2020-05-27 7:32:35 - Complete - Get Sample product feed
2020-05-27 7:32:46 - Fac

[2020-05-27 04:47] mzilyaev commented on #402
website - belok.shop

[2020-05-27 05:57] mzilyaev commented on #401
Вы не решили вопрос? у меня такая же ошибка((

[2020-05-27 06:12] mzilyaev commented on #402
![image](https://user-images.githubusercontent.com/65995649/82984136-b46fac00-a01b-11ea-83f8-09ae6fff9984.png)

[2020-05-27 06:31] gogescuvicentiu opened #403 "SSL"
Hi,
I have a problem with Facebook Business Extension: after I switched to SSL the extension does not work anymore. No other settings were made. Please advice.
I receive the following error:

We have detected the Facebook pixel is not correctly setup in your web store site. You can try these below steps to fix the problem.
1. Ensure that you have given read+write permissions to the admin, catalog

[2020-05-27 07:25] Albertovi4 commented on #401
нет, не решил

[2020-05-27 07:36] dtying commented on #399
Hi @PaulBogdanCom, messenger is unavailable in current version. We're targeting to bring it back in next release.

[2020-05-27 07:38] dtying commented on #396
Hi @bonny3 , thanks for your feedback! This is a good point and let me follow up internally first.

[2020-05-27 10:36] bonny3 commented on #396
ok Thanks!
when can you upgrade?

[2020-05-27 11:07] Albertovi4 commented on #403
Скачай последнюю версию 3.0.1 У меня была данная ошибка, помогло обновление на более свежую версию. Однако новая версия выдает ошибку object object))

[2020-05-27 14:15] dtying commented on #396
Hi @bonny3 , would you mind providing your catalog_id in order for us to troubleshoot this?
You may email to ads_extension_opencart@fb.com

[2020-05-28 07:16] rickymarso opened #404 "connection problems between fb page and website"
hello I have problems with facebook application, it loads all the products but does not divide them by category, on the facebook page it shows the whole list of products not divided by category, am I wrong in something?  thanks

[2020-05-28 08:11] dtying commented on #404
@rickymarso , yes you're right, currently the products are not grouped by collection.

[2020-05-28 08:23] rickymarso commented on #404
so to divide them by category can I upload them only manually? thanks

[2020-05-28 10:29] haxcop opened #405 "Sorry, something went wrong. 3.0.1"
After updating the plugin I receive the following error

Logs

`020-05-28 10:10:54 - Get Sample product feed`
`2020-05-28 10:10:55 - Complete - Get Sample product feed`
`2020-05-28 10:12:20 - Get Sample product feed`
`2020-05-28 10:12:21 - Complete - Get Sample product feed`
`2020-05-28 10:18:19 - Get Sample product feed`
`2020-05-28 10:18:20 - Complete - Get Sample product feed`
`2020-05-28 10:24

[2020-05-28 10:35] atlantisevo opened #406 "Errore per Plug In Facebook per Open Cart"
Good morning, I tried to install the plug in on the site www.musicstore.sm but I get this error:

An error occured when creating Facebook Business Extension setup. {"success":true,"pixel_id":"708518805987126","installed":true}

![image](https://user-images.githubusercontent.com/65234913/83131558-4a6d0a80-a0e0-11ea-92be-2fc78aff27d4.png)

How can I do?

[2020-05-29 09:10] dtying commented on #406
Hi @atlantisevo , I see the last time you installed is on May 8th. Could you try click 'Edit Settings' when opening FBE popup and go through the setup flow again?

[2020-05-29 09:11] dtying commented on #405
Hi @haxcop , could you share the webstore_url with us?

[2020-05-29 09:16] dtying commented on #402
Hi @mzilyaev , your installation failed due to some backend exception. Let us take some time and check the details first.

[2020-05-29 09:28] dtying commented on #401
Hi @Albertovi4 , your installation failed due to some backend exceptions. Give us some time to look into it.

[2020-05-29 09:46] dtying commented on #403
Hi @gogescuvicentiu , I see that you have uninstalled FBE as in the latest step, please confirm is it correct.

[2020-05-29 09:50] haxcop commented on #405
thanks for your prompt reply @dtying . our site is:

https://lookyourtech.com/

[2020-05-29 09:53] gogescuvicentiu commented on #403
Hi,
No, I haven't uninstalled it. I've only activated SSL. Now, I receive the attached errors on admin page  and Facebook.
Thank you!
Regards,
Vicentiu,
![Screenshot_2020-05-29 Facebook Business Extension](https://user-images.githubusercontent.com/65999584/83246771-4823b280-a1ab-11ea-9111-ffb4087cee53.png)
![Screenshot_2020-05-29 Facebook](https://user-images.githubusercontent.com/65999584/8324677

[2020-05-29 09:54] mzilyaev commented on #402
Yes sure, let me know if you need some details from me as well

[2020-05-29 10:00] dtying commented on #405
Hi @haxcop , I see that your last activity was on May 5th. Could you try to open the FBE popup, click on 'Continue as xxx' button, and see if it works?

[2020-05-29 10:32] dtying commented on #403
Hi @gogescuvicentiu , I found two different connections in your history:
* http://www.artelier.online/store/ ==> currently disabled ==> That's why you see error screenshot above when launch management view
* http://artelier.design/ ==> currently active

Note that we use HTTP_CATALOG constant defined under admin/config.php as the key identifier during setup. My suggestion would be:
1. Uninstall the

[2020-05-29 10:45] gogescuvicentiu commented on #403
Hi,
I''ve already did this a few times. I receive the same errors as in the before message...

[2020-05-29 12:40] rickymarso commented on #404
Hi, can you make the change to the application, so as to view the categories as on the website? If so how much could it cost?

[2020-05-30 07:45] hisoka502 opened #407 "Facebook ads problem"
Hi, there is problem about conversion value:
I created a catalog ad but the conversion value of ads didn't work in the ads panel but the number of conversions are correct.
And I found out that the conversion value could work in facebook analytics.

[2020-05-31 09:10] hassni1 opened #408 "New Error displayed in admin panel"
We have detected the Facebook pixel is not correctly setup in your web store site. You can try these below steps to fix the problem.
1. Ensure that you have given read+write permissions to the admin, catalog and system folders on your OpenCart webserver
2. Ensure that you have Refresh the modifications, View steps
3. For OpenCart 3.x, ensure that you have disabled the theme and SASS cache, View st

[2020-06-01 01:16] dtying commented on #404
Hi @rickymarso, we're planning to enable collections sync feature in next half of the year, and it's still under discussion.

[2020-06-01 01:29] dtying commented on #407
Hi @hisoka502 , can you help to provide screenshots to illustrate your issue in details?

[2020-06-01 01:29] dtying commented on #408
Hi @hassni1 , can you provide your webstore url?

[2020-06-01 04:48] hassni1 commented on #408
www.qmart.pk

On Mon, Jun 1, 2020 at 6:29 AM dtying <notifications@github.com> wrote:

--
Regards
Quality Mobiles
Hassan Haroon
142 Ground Floor,Hafeez Center, Gulberg, Lahore, Pakistan
Office:- +92-42-571 5782 & 571 5783
Cell:- +92-333-400 0000
Fax:- +92-42-571 5783
Email:-qualitymobilez@gmail.com

[2020-06-02 03:59] dtying commented on #408
Hi @hassni1, you may follow these steps to check:

1. Behind the scene, we're scraping the html file from the url set in HTTPS_CATALOG, and check if the following code snippet exists in the html.
`window.isFacebookPixelAdded=1;`
Pls ensure that HTTPS_CATALOG constant is correctly specified as your website store https://www.qmart.pk/.

2. Verify that pixel setup is correct. We strongly recommend yo

[2020-06-02 06:22] hisoka502 commented on #407
https://imgur.com/a/NFhWcM5
The ROAS of ads shows nothing(no conversion value), but conversions detected.
In the anylatics panel, conversion value is working.

[2020-06-02 06:55] dtying commented on #407
@hisoka502 , thank you. Could you provide your webstore url too?

[2020-06-02 12:54] hisoka502 commented on #407
https://woofandgoods.tw/

dtying <notifications@github.com> 於 2020年6月2日 週二 下午2:55寫道：

--
郭奕信
Kuo Yi-Hsin

hisoka502@gmail.com
+886 954093343

[2020-06-03 04:40] shue249 commented on #408
@hassni1 We also did a quick check on your website. The pixel code is correctly setup. You can follow @dtying 's suggestion to loo at the HTTPS_CATALOG setting, if it matches your website URL.

[2020-06-03 04:49] shue249 commented on #395
@pipperis Apologies for the late reply. We have not changed the implementation for the cart since the beginning, so I will say this could be a general incompatibility with this particular journal template.

Unfortunately, we do not have the bandwidth at the moment to dig deeper into your setup to figure out the root cause.

One suggestion I can provide is to look for this file on your webserver an

[2020-06-03 11:07] monefff opened #409 "This may be because of a technical error that we're working to get fixed. Try reloading this page"
Hello,

We have Migrated from 2.2.1 to 3.0.1 and now we have major issue with the pixel.
We have 2 websites for 2 different countries.

The first website went perfect with the new module, got connected to business manager, the catalog imported, pixel works fine, and everything is perfect.

Now we tried and deleted and disconnected the old module and installed the new one on the other website. (The

[2020-06-03 13:49] zlatina-il opened #410 "[Object] [Object] error - fb module not getting JSON data"
There are already many threads related to this error and it has not been fixed yet. When trying to attach the facebook business manager via opencart the following error occurs:
Something went wrong
This may be because of a technical error that we're working to get fixed. Try reloading this page.

![image](https://user-images.githubusercontent.com/17768524/83644168-aa205580-a5b9-11ea-8645-f6a6af9fe

[2020-06-03 15:32] Filx19 opened #411 "No update to the number of product sent to feed"
Hello, i am using facebook Plugin Version: 3.0.1 with 3.0.3.2 and journal theme. I also have disabled opencart's cache.
My problem is that since I have added the extension the number of products sent to the data feed: https://telex.gr/index.php?route=extension/facebookfeed/genFeedNow is 300.
I have added almost 200 new products since then but they don't show up on the feed.
Everytime the catalogue

[2020-06-03 19:37] cepcemuh commented on #409
Same here...

[2020-06-04 02:49] luiscrez opened #412 "Just recently upgraded from previous version to 3.0.1"
Hello,

I recently upgraded from previous version. After upgrading, i went to facebook extension page and it asked me to get started so i clicked on it. After going through the setup, it said done. However, i went back to revisit the page to check out the new setting but it still says "Get Started"

Do you guys know what is it wrong?
Or is that normal?

This is the error log:
2020-06-04 2:32:01 -

[2020-06-04 04:30] dtying commented on #412
Hi @luiscrez , could you share the webstore url with us?

[2020-06-04 04:39] dtying commented on #411
Hi @Filx19 , usually this issue shouldn't happen. When calling genFeedNow, a new feed file should be created with the latest products data.

Did you see any issue from the log file? Are you able to share it?

[2020-06-04 04:54] dtying commented on #410
Hi @zlatina-il , thanks for your detailed research!

I'm fully aware of this issue. It should display a generic error message instead of the json code. However, it's not the root cause of their FBE setup failure for anyone who had encountered it.
In your case, kindly share your webstore url so that I can help to check if any backend exception. And this error message should be fixed in the next rel

[2020-06-04 04:57] dtying commented on #409
Hi @monefff , feel free to downgrade to the latest version of previous major release 2.x.x to resume your business operation.

The error means your FBE setup failed due to backend exception. Kindly share your webstore url so that I can help to check.

[2020-06-04 05:22] luiscrez commented on #412
@dtying vicrez.com

[2020-06-04 10:52] monefff commented on #409
Thank you for the response. We have downgraded to latest release. Can I share url in private message somehow?

[2020-06-04 11:26] zlatina-il commented on #410
This is the website url: https://delmondclothing.com

On Thursday, June 4, 2020, 7:54:25 AM GMT+3, dtying <notifications@github.com> wrote:

Hi @zlatina-il , thanks for your detailed research!

I'm fully aware of this issue. It should display a generic error message instead of the json code. However, it's not the root cause of their FBE setup failure for anyone who had encountered it.
In your case

[2020-06-04 11:31] zlatina-il commented on #410
https://delmondclothing.com/

[2020-06-04 13:32] DrinkZZ commented on #410
Hi, i face same issue. opencart 2.2.0.0  store https://DrinkZZ.ro
Any chance for a solution in next days?
Thanks!

[2020-06-04 15:37] Filx19 commented on #411
Hello, yes. Many errors like the ones below.
[Wed Jun 03 00:02:53.372311 2020] [fcgid:warn] [pid 25643] [client 79.130.243.229:37266] mod_fcgid: stderr: feed file = /var/www/vhosts/telex.gr/httpdocs/system/storage/download/fbe_product_catalog.csv, referer: https://l.facebook.com/
[Thu Jun 04 14:02:34.271605 2020] [fcgid:warn] [pid 8804] [client 66.220.149.118:57930] mod_fcgid: stderr: feed file =

[2020-06-05 00:54] SaneepGeorge opened #413 "Special Sales Price is not displaying in Facebook Catalog Manager - Products"
Please help to fix to display the Special Sales Price of the products in my FB Catalog Manager, the products are synced from my site.. When I checked the Sales Price & Date Range field values, the details are available but not displaying. Please find the attached screenshots.

www.DealsForBrands.in
Catalogue ID: 1424429091081660

![image](https://user-images.githubusercontent.com/36241690/83824558

[2020-06-05 02:25] dtying commented on #409
Hi @monefff , sure you can email us at ads_extension_opencart@fb.com

[2020-06-05 06:01] dtying commented on #411
Thanks @Filx19. Are you able to share the FBE log which can downloaded by clicking the button as below?
![Screen Shot 2020-06-05 at 2 00 00 PM](https://user-images.githubusercontent.com/21333308/83842244-0360c400-a735-11ea-894f-6995a1f2e59c.png)

[2020-06-05 07:25] azonicdh2000 opened #414 "Facebook shop all products show "out of stock""
hello. installed the facebook extension and on my facebook page shop all the products are showing out of stock but in the catalog manager its showing In Stock, Can you help me with this?

[2020-06-05 20:25] Filx19 commented on #411
2020-06-03 0:01:34 - gen feed file
2020-06-03 0:01:34 - gen feed file, remove existing feed file
2020-06-03 0:01:34 - Generating product feed file
2020-06-03 0:01:34 - Generating product feed file header
2020-06-03 0:01:34 - Generating product feed file for batch 0
2020-06-03 0:01:34 - Generating product feed file for batch 1
2020-06-03 0:01:34 - Generating product feed file for batch 2
2020-06-03

[2020-06-05 20:39] luiscrez commented on #412
any news?

[2020-06-06 04:41] dtying commented on #414
Hi @azonicdh2000 , could you share with us your web store url, as well as the Facebook Shop?

[2020-06-06 04:49] dtying commented on #413
Hi @SaneepGeorge , I can see that your Facebook Page Shop displayed the sales price correctly. This shouldn't be an issue.
https://www.facebook.com/commerce/products/2072355722889469/
![Screen Shot 2020-06-06 at 12 48 25 PM](https://user-images.githubusercontent.com/21333308/83936215-1b4b4d00-a7f4-11ea-91cb-e89ad3270206.png)

[2020-06-06 05:03] dtying commented on #412
Hi @luiscrez , I can see our backend exception said 'Cannot move Catalogs between BMs'. Is the catalog you tried to connect already owned by another Business Manager?

[2020-06-06 08:30] azonicdh2000 commented on #414
https://www.facebook.com/pg/davaoarts/shop/?ref=page_internal

[2020-06-06 12:49] mrozsmann opened #415 "The cookie bar is displayed continuously"
Hi!

I installed the newest Facebook for OpenCart extension to my page (rozsmanncukraszda.hu) and if I accept the cookies and then click on a product then it apperears again and so on.

My OpenCart version is 2.1.0.2.

How can I solve this problem or disable the cookie bar totally?

Thanks.

[2020-06-06 20:14] edersonserviopencart opened #416 "admin com erro 500 apos instalar extenção"
instalei uma estençao do pixel de facebook no site agora não entra mais no admin do site, da erro 500 o site esta funcionando mas na hora de fechar o pedido da essa mensagem: Warning: require_once(/home/consor2/public_html/catalog/../admin/controller/extension/facebookproduct.php): failed to open stream: No such file or directory in /home3/consor2/public_html/system/library/facebookcommonutils.php

[2020-06-06 21:18] edersonserviopencart commented on #416
Aviso: require_once (/ home / consor2 / public_html / catalog /../ admin / controller / extension / facebookproducttrait.php): falha ao abrir o fluxo: esse arquivo ou diretório não existe em / home3 / consor2 / public_html / escservi / controller / extension /facebookproduct.php na linha 8

[2020-06-06 21:38] edersonserviopencart commented on #416
consegui resolver ronomeando dos codigos admin para escservi que é a minha pagina admin do site renomeada, mas a extenção do facebook não funcionou,  You have yet to setup Facebook Ads Extension. Please click on Facebook Ads Extension and Get Started. qunado clico na aba do facebook dentro do admin a pagina dsai fora

[2020-06-07 02:34] atiteccr commented on #414
the same happens to me

[2020-06-07 23:36] azonicdh2000 commented on #414
@atiteccr Hi. I made another Catalog and a new Facebook Shop and everything is working fine now.
Maybe you can try creating a new Catalog, just a thought.

[2020-06-08 07:17] #414 closed

[2020-06-08 14:14] mzilyaev commented on #402
Hi, did you check?

[2020-06-08 15:36] makyha opened #417 "The currency and value parameters are not set in the Complete Registration event"
Good afternoon. We are having problems integrating with Facebook. Catalog is not enabled, and one or more registration events that you have completed do not have the Value and Currency parameters.
![Снимок экрана 2020-06-08 в 18 29 25](https://user-images.githubusercontent.com/66633335/84049888-a58edf00-a9b5-11ea-8abb-179b81036ca7.png)
![Снимок экрана 2020-06-08 в 18 31 31](https://user-images.git

[2020-06-08 17:16] memopalomas opened #418 "Setup issue"
Hello, I installed the plugin without problems but in the panel where admin shows me some errors in red, I did what it mentioned but I can't get them removed, also if I configure a store, at the end of the process "An error occurred when creating facebook business extension setup. {"success": true, "Pixel_id_number", "installed: true"} "

In addition to this extension, I have activated another one

[2020-06-10 04:05] luiscrez commented on #412
@dtying  Yes, well he has more access to the ads. However, I originally created the pixels for this account. Is there anyway he can add me as another BM to fix this issue?

[2020-06-11 10:03] bingochris opened #419 "cannot use the facebook plugin"
I got oops' sth went wrong on the facebook and here is the log

2020-06-11 10:58:21 - Get Sample product feed
2020-06-11 10:58:22 - Complete - Get Sample product feed
2020-06-11 10:58:35 - Get Sample product feed
2020-06-11 10:58:35 - Complete - Get Sample product feed
2020-06-11 11:21:07 - Get Sample product feed
2020-06-11 11:21:07 - Complete - Get Sample product feed
2020-06-11 11:28:34 - Get S

[2020-06-11 10:51] bonny3 commented on #396
Hi @dtying ,
can I get an answer to the problem on the new Facebook feed import?
Thanks

[2020-06-11 12:29] shue249 commented on #419
@bingochris will you be able to share a screenshot of the error?

Have you deleted away the Facebook page?

[2020-06-11 12:31] shue249 commented on #417
@makyha You can ignore this warning message on Currency and Value for CompleteRegistration. From your screenshots, seems the pixel events are coming in correctly. So things should be good.

We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-06-11 12:31] #417 closed

[2020-06-11 12:33] shue249 commented on #416
@edersonserviopencart Can you share with us a screenshot of the error that you are seeing.

[2020-06-11 12:34] shue249 commented on #415
@mrozsmann You can disable the cookie bar, the instructions are here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#cookie-bar-on-the-webstore

We will be closing out this ticket, feel free to reach to us if you have further questions.

[2020-06-11 12:34] #415 closed

[2020-06-12 04:25] haxcop commented on #405
It was A not know issue with my Facebook account. everything works now

[2020-06-12 04:25] #405 closed

[2020-06-12 07:15] hisoka502 commented on #407
Hi, any response please?

[2020-06-12 08:49] dtying commented on #418
Hi @memopalomas , I don't think there's a conflict.
The msg means there's an error in FBE installation. Could you share your webstore_url with us? So that we can check any exception in our backend.

[2020-06-12 13:29] PaulBogdanCom commented on #413
I have the same problem, eshop is agrotech.ro and we have products on sale but does not take or show them

[2020-06-13 05:54] penkocode commented on #400
Hello,
Same issue here. (OC 2.3.0.2 ,extension ver. 3.0.1)
How manually delete all previous extension files and install the new version of extension. No change. Why after new installation the extension remember my old pixel and fb catalogue ID? How I can remove manually the old FB pixel ID and fb catalogue ID and replace them with new one? How to solve this issues ?

[2020-06-13 06:59] vadymand opened #420 "catalog pictures bad quality"
Hello
we have a problem with the quality of pictures in the catalog - it is much lower than the pictures on the site. what could be the problem and how to solve it?

[2020-06-13 14:05] 1istbesser opened #421 "Wrong product links/no images when opencart is in a subdirectory"
The shop is in a subdirectory like  shop.com/london, the correct link for any product would be something like: https://shop.com/london/index.php?route=product/product&product_id=66684

However, the links fetched are like https://shop.com/londonindex.php?route=product/product&product_id=66684

Basically missing a "/".

Same for the image links which is why no image has been fetched.

How can I go a

[2020-06-14 16:14] amOn101 commented on #408
so exactly the error of www.megamall.in.ua

[2020-06-14 16:46] amOn101 opened #422 "This may be because of a technical error that we're working to get fixed. Try reloading this page."
I have two mistakes at once. The first in the admin panel shows an error
![Screenshot_20200614-193205](https://user-images.githubusercontent.com/64661787/84598903-bbe5e080-ae76-11ea-8cf1-95c8ba7a9446.png)
Second if I'm trying to finish setting up
![Screenshot_20200614-193148](https://user-images.githubusercontent.com/64661787/84598930-e768cb00-ae76-11ea-801a-1f8617fe05cb.png)
site www.megamall.in.

[2020-06-14 23:26] nab0306 opened #423 "Can't access the Create Collection button in the FB-store"
Hi, please help me with the problem.
When i create a FB-catalog manually on a page in the store section i have access to Create Collection button. But when i create a catalog through the plugin Facebook-For-OpenCart and bind it to the store, there is no button i see to create a collection. Products appeare in the store, but there is no way to manage them.
Can I somehow access the button in this st

[2020-06-14 23:37] nab0306 opened #424 "How to get a feed link in Facebook-For-OpenCart?"
Please, help with problem.
How to get a feed link (url) in the Facebook-For-OpenCart application so that it can be specified in the catalog (data source) for the planned load of products?
![image](https://user-images.githubusercontent.com/66925441/84606721-29aefe00-aeb1-11ea-9ec5-7d36add7a0e3.png)
![image](https://user-images.githubusercontent.com/66925441/84606726-316ea280-aeb1-11ea-93bd-0ad9af74

[2020-06-14 23:47] nab0306 opened #425 "Help for fix errors in catalog"
Please help me!
The catalog was created through a plugin Facebook-For-OpenCart
there are 2 errors in the catalog
There are no errors in the pixel.
There are no errors per pixel helper.

how to fix these errors ?

Website https://missdm.com/
Facebook page @ MissDM.ua

![image](https://user-images.githubusercontent.com/66925441/84606903-54e61d00-aeb2-11ea-93f1-7f42e2d884f2.png)
![image](https://user

[2020-06-16 09:00] icop opened #426 "Facebook Extension Problem"
I have a problem with the instal of the Module. i got the following error

There are problems with the installation of the Facebook Ads Extension.
We have detected missing files for Facebook Ads Extension. Please enable read, write and execute access permissions for these files and folders.

I've changed the permissions but i still got the same error. Seems like that the problem is that i've chang

[2020-06-16 09:35] dtying commented on #426
Hi @icop , here're the files which we uploaded to the [admin folder](https://github.com/facebookincubator/Facebook-For-OpenCart/tree/master/upload/admin), you can try to upload the files to the renamed admin folder directly.

However, inside this method we're also checking whether the [required file existed](https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/admin/contro

[2020-06-16 09:47] dtying commented on #425
Hi @nab0306 , the screenshots were too blurred to read, could you upload a higher resolution one?

Also, I've checked in your Catalog Manager and didn't find the error as above. Is it still happening now?

[2020-06-16 09:55] dtying commented on #424
Hi @nab0306 , it's your 'HTTP_CATALOG/index.php?route=extension/facebookfeed/genFeedNow' for real-time generation, or 'HTTP_CATALOG/index.php?route=extension/facebookfeed/genFeed' for a cached version.

[2020-06-16 09:57] icop commented on #426
I have already uploaded the files but i fixed the required file path and everything is ok. Thanks for your time.

[2020-06-16 09:57] #426 closed

[2020-06-16 09:59] dtying commented on #423
Hi @nab0306 , I think our feed doesn't support Collection feature at this moment. Hopefully it'll be available in the next half.

[2020-06-16 10:09] dtying commented on #421
Hi @1istbesser, here's the code related: https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/library/facebookproductformatter.php#L162-L173

[2020-06-16 10:14] dtying commented on #420
Hi @vadymand , the feed image_url is pointing to the exact same location of your product image, you can verify that from your Catalog Manager. Are you saying that the image you see in Page Shop is much lower than the site?

[2020-06-16 10:20] dtying commented on #413
@PaulBogdanCom , Hi could you share a screenshot to show?

[2020-06-16 10:43] dtying commented on #412
@luiscrez , I think you may need to be added as an admin of the BM which owning the catalog, and disconnected the relationship between the catalog and its owning BM.

[2020-06-16 10:51] dtying commented on #411
Hi @Filx19 , this issue is weird because the log file did show the feed was generated successfully, and in each batch we output 100 products. I'm unsure what's the cause of the issue.

[2020-06-16 11:20] #425 closed

[2020-06-16 11:25] nab0306 commented on #425
Hi, sorry!
I see these errors now in the directory Catalog Manager .
There was another error last night.
I did not do anything.
I don’t understand why the errors are different?

![FireShot Capture 001 - (84) Catalog Manager - business facebook com](https://user-images.githubusercontent.com/66925441/84768248-9a9f0480-afdc-11ea-85bc-a9171e4a3c24.png)

[2020-06-16 12:23] vadymand commented on #420
https://brand-centr.com/men/futbolka-lacoste-kt3237
<img width="1024" alt="Снимок экрана 2020-06-16 в 15 21 52" src="https://user-images.githubusercontent.com/66863128/84773543-36347300-afe5-11ea-8fb4-a4a73f7f5a61.png">
its 1500x1500 on my site, but 600x600 in fbcatalog the same item

[2020-06-16 13:06] nab0306 commented on #424
Hi,
I entered the address and was denied access.
writes:

Access is denied!
You do not have permission to access this page. If you need one, contact your administrator.

But I am the administrator.

What should I do?

![image](https://user-images.githubusercontent.com/66925441/84777386-308d5c00-afea-11ea-8672-470d86c76078.png)

[2020-06-16 13:17] nab0306 commented on #423
I did not understand you)
do you think or do you know?
I have the Facebook Ads Extension 2.0.2 plugin installed.
Perhaps in the new version of the plugin Version v3.0.1 there is this possibility?

[2020-06-16 13:21] nab0306 commented on #424
Sorry, forgot to write. I have the old version of the Facebook Ads Extension 2.0.2 plugin installed.

[2020-06-16 18:44] Filx19 commented on #411
Ok so.. the extension in opencart admin says 457 products but sends only 300 to the feed. Also i have added some products today which some of them appeared in my catalogue. It seems that something is blocking it to send more than 300 products. Any ideas on that?

[2020-06-16 21:20] nab0306 opened #427 "2 errors in the catalog"
Please help me!
The catalog was created through a plugin Facebook-For-OpenCart
there are 2 errors in the catalog
There are no errors in the pixel.
There are no errors per pixel helper.

how to fix these errors ?

Website https://missdm.com/
Facebook page @ MissDM.ua

![FireShot Capture 001 - (84) Catalog Manager - business facebook com](https://user-images.githubusercontent.com/66925441/84829294-2

[2020-06-17 01:23] dtying commented on #423
No, this feature is not available.

[2020-06-17 01:23] #423 closed

[2020-06-17 07:26] TyrannosaurHex opened #428 "Business Manager"
Is it not possible to use this extension without Business Manager? It seems overkill for a small business like ours, where we manage ads etc. in-house.

Additionally, even after spending countless hours trying to connect the Page to Business Manager I have made little progress. While trying to link my page from within the extension, I am getting the following error:

"You don't have permission to

[2020-06-17 07:36] nab0306 commented on #424
where to see the value of HTTP_CATALOG?

[2020-06-18 07:51] TyrannosaurHex commented on #424
config.php in your Opencart install directory.

[2020-06-18 13:04] nab0306 commented on #424
![image](https://user-images.githubusercontent.com/66925441/85023370-4e3efa80-b17d-11ea-9be6-5b9bc8813d35.png)

I do not see

[2020-06-18 13:41] nab0306 commented on #424
There is no HTTP_CATALOG in config.php file in opencart root directory, but it exists in /admin/config/config.php file. Is this correct?
![image](https://user-images.githubusercontent.com/66925441/85027453-9dd3f500-b182-11ea-85dd-30baeb077c3e.png)

[2020-06-19 08:01] dtying commented on #428
Hi @TyrannosaurHex , thanks for sharing your experiences and true feelings with us!
As Business Manager is our recommended way to setup and manage the assets in the future, it's really meant to help our users take best use of the tools. I do see many users have raised confusions and questions related to BM, especially for those who are originally from v1.
I'll share the feedback with team, and see

[2020-06-19 18:52] ivent commented on #410
Several errors occurred, but it was not possible to finish whenever this error was not finished, but it was possible to downgrade to version 2.xxx and it is working perfectly now. I hope you can solve these problems in the new versions.

[2020-06-19 18:52] ivent commented on #409
Several errors occurred, but it was not possible to finish whenever this error was not finished, but it was possible to downgrade to version 2.xxx and it is working perfectly now. I hope you can solve these problems in the new versions.

[2020-06-20 21:24] thgear opened #429 "[object Object] message when trying to connect my shop with FB"
I've got connectivity issue too.
![image](https://user-images.githubusercontent.com/67207329/85211790-4c2f9400-b355-11ea-8c8f-03b21dd67f2f.png)

my web-shop is under OC 3.0.3.2 with Journal 3.0.64

Please assist me....

[2020-06-22 11:44] zaur-pixel opened #430 "All products do not load"
Hello, I apologize in advance for my English. The text is made with the help of Google translator.

My problem:
When integrating facebook with my website, not all products are uploaded to the facebook store.
The number of products on the site is 2088, the number of products in the facebook catalog is 255.

Site:  https://xozyayushka.az/
Plugin:  Facebook Ads Extension 2.1.3. (The new version of th

[2020-06-23 08:21] dtying commented on #430
Hi @zaur-pixel , just to double check - are you using version 2.1.13 rather than 2.1.3 ?

[2020-06-23 08:29] zaur-pixel commented on #430
Plugin Version: 2.1.3.

[2020-06-23 08:30] zaur-pixel commented on #430
I found an interesting fact. When I go into the goods - in the product card - I DO NOT CHANGE ANYTHING, and press save - the product appears in the facebook catalog

[2020-06-23 09:15] dtying commented on #430
Hi @zaur-pixel , 2.1.3 is quite an old version, maybe you can upgrade to 2.1.13

[2020-06-23 09:16] dtying commented on #428
Hi @TyrannosaurHex , could you share your webstore url? so that we can troubleshoot your case.

[2020-06-23 09:17] dtying commented on #429
Hi @thgear , it basically means your FBE installation failed.
Could you share your webstore_url so that we can troubleshoot?

[2020-06-23 09:17] zaur-pixel commented on #430
How i can update? Pls give me instruction and link

[2020-06-23 18:54] thgear commented on #429
https://thgear.eu

[2020-06-23 19:39] tomeda commented on #379
Unfortunately, it's not gone. I experience the same issue, anyone to know how to fix it?

[2020-06-23 19:40] tomeda commented on #429
I face the same issue website is https://nuxta.bg

[2020-06-23 20:25] tomeda commented on #429
I had to install extension version 2.2.1 to get it to work.

[2020-06-24 08:56] TyrannosaurHex commented on #428
hi @dtying, I've tried to deep dive into the cause of this problem, and it is an issue with how Facebook Business Manager works rather that the Opencart extension itself.

Having said that there should still be an option to not use Business Manager; and after using it, I clearly see that it is of no use to me as a small business owner, but just adds a layer of complexity without any value-addition

[2020-06-24 19:59] rubensyanes opened #431 "Problems activating Facebook extension in Open Cart 2.x"
Web Site: tasha.com.ar
Country: Argentina
IP: 190.18.1.121
Extension Opencart Version: 2.3.0.2
Opencart Version: 2.3.0.2
Both OC version Match: Yes

I have been able to upload the extension, but when I activate it, the page crash!
There is no error message, just the front end goes white, until the extension is deactivated again.

any hints?

[2020-06-25 08:01] dtying commented on #428
Hi @TyrannosaurHex, we completely understand the addition of complexity. A business manager is required to properly deal with privacy and security. Could you connect with me at ads_extension_opencart to help us figure out what is going on? You may provide your page_id, business_id for us to better investigate.

[2020-06-26 12:08] petarstojkovik commented on #429
I'm experiencing the same issue. OC 3.0.3.3 and Journal theme 3.0.46. In addition, I get the following text:

 We have detected the Facebook pixel is not correctly setup in your web store site. You can try these below steps to fix the problem.
1. Ensure that you have given read+write permissions to the admin, catalog and system folders on your OpenCart webserver
2. Ensure that you have Refresh the

[2020-06-28 17:48] dev-mamun commented on #368
TypeError: body is null
mdb.js:15384:9
Query param variable dev_host_prefix not found index.html:264:17
Query param variable system_user_name not found index.html:264:17
Query param variable business_vertical not found index.html:264:17
Query param variable merchant_settings_id not found index.html:264:17
Query param variable fbe_v2_installed not found index.html:264:17
Loading failed for the <scr

[2020-06-29 16:04] leustean13 commented on #429
Hello, I have the same issue after installing this module.
I use php 7.3, opencart 3.0.3.3, journal theme 3.0.46. Could you please assist me with this issue? Thanks

[2020-07-01 10:07] exitsport opened #432 "All facebook shop products is Unavailable"
Hi,

We Fetch Now all products but in Facebook shop is all products Unavailable, but in our web all products in the stock
Plugin Version: 2.2.1

[2020-07-01 10:08] exitsport commented on #432
![image](https://user-images.githubusercontent.com/14319188/86231980-0320e080-bb9c-11ea-83de-c4f998254b01.png)

[2020-07-01 10:19] djlaserman opened #433 "Feed update errors (after disabling a product listing on the OC catalog)"
**I always have the usual fb extension error:** We have detected the Facebook pixel is not correctly setup in your web store site. You can try these below steps to fix the problem.
1. Ensure that you have given read+write permissions to the admin, catalog and system folders on your OpenCart webserver
2. Ensure that you have Refresh the modifications, View steps
3. For OpenCart 3.x, ensure that you

[2020-07-01 13:25] djlaserman opened #434 "Stock Availability Information Not Carried Across To Facebook Correctly"
The plugin shows incorrect information on facebook, clearly the quantity of the items that are at zero (stock levels in OC) show on facebook as available. Therefore customers can attempt to purchase them only to find when they reach the store that those items are not available to buy because they are not in stock.

This should be rectified.

![fbe stock 03](https://user-images.githubusercontent.co

[2020-07-01 20:53] exitsport commented on #434
We have a same problem, but the other way around: In OC products in stock, but in Facebook all products is Unavailable

[2020-07-06 14:24] shue249 commented on #431
@rubensyanes Are you able to access the webserver error log? The log file may provide some hints on the problem.

[2020-07-06 14:31] shue249 commented on #432
Can you share with us your facebook page?

[2020-07-06 14:34] shue249 commented on #434
Can you share with us your FB page?

[2020-07-06 17:44] djlaserman commented on #434
My facebook page is: https://facebook.com/teknerds

[2020-07-06 17:49] djlaserman commented on #434
My facebook page is: https://facebook.com/teknerds

[2020-07-06 18:30] djlaserman commented on #434
My facebook page is: https://facebook.com/teknerds

[2020-07-06 18:32] exitsport commented on #432
exitsport.eu

[2020-07-08 03:20] darrist opened #435 "Unable to connect to Facebook Business Account (OC 2.3.0.2)"
I have recently installed Facebook Opencart OCMod (Latest for OC 2.3.0.2). When I am authorizing my Facebook business account (the OAuth pop-up).

Procedure:
1. I click "Get Started" for the OAuth pop-up to opens up.
2. I sign in with Facebook credentials.
3. I was presented "Connect Your Store to Facebook" info and permission page, I continued.
4. I was presented to choose from my business accoun

[2020-07-08 10:06] djlaserman commented on #434
Looks like there's not much action about this issue. Can someone detail which source code file would have the logic for counting products or actually determining availability? I can debug this myself if I know where to begin

[2020-07-09 05:28] cavid777 opened #436 "facebook busineess pixel for opencart"
it gives error when connect.if you can please connect with anydest to my pc and check it
website virtualmaqazin.com

[2020-07-09 09:07] bitrixlviv commented on #435
me too

[2020-07-09 13:42] mattalt opened #437 "connect.facebook.net / ../en_US/fbevents.js"
After installaing the plug in I realized that the speed of the site is penalized by Google pagespeed as the transfer size of https://connect.facebook.net/signals/config/xxxxxxxxxxxxx?v=2.9.21&r=stable is very large: 133,2 kb

Is it possible not to load at the start of the page or if not how can I uninstall it?

[2020-07-10 02:47] dtying commented on #437
It's the base code used to initialize Facebook Pixel.
https://developers.facebook.com/docs/facebook-pixel/implementation/#base-code

[2020-07-10 22:00] cgonzalez-p opened #438 "Error configuración plugin v.2.2.1"
Instalé plugin versión 2.2.1, get start, seleccionó página de Facebook y pantalla queda en blanco
Instaló versión anterior a 3 para instalar Messenger
![IMG_20200710_165911](https://user-images.githubusercontent.com/54340494/87206168-c5743400-c2ce-11ea-9898-7ef97812b9e0.jpg)

https://canaldeventasdigitalescgp.com/

[2020-07-13 03:19] shue249 commented on #336
Will be closing out this ticket, feel free to reach to us if you have further questions.

[2020-07-13 03:19] #336 closed

[2020-07-13 03:20] shue249 commented on #342
We will be closing out this ticket. Feel free to reach to us if you have further questions

[2020-07-13 03:20] #342 closed

[2020-07-13 03:21] shue249 commented on #337
We will be closing out this ticket. Feel free to reach to us if you have further questions

[2020-07-13 03:21] #337 closed

[2020-07-13 03:21] shue249 commented on #341
We will be closing out this ticket. Feel free to reach to us if you have further questions

[2020-07-13 03:21] #341 closed

[2020-07-13 03:31] shue249 commented on #323
We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-07-13 03:31] #323 closed

[2020-07-13 08:56] qprod74 commented on #369
Hi , I have some problem with the add to cart , https://www.qprod.se/ ,  sometimes when the customer press the button "add to cart" it is just showing "loading" and the customer needs to press one more time on the button to add the product to the cart.
I am using OC Version 3.0.3.2 , and I would like to remove the pixel in " add to cart " , any idea how to do it ? thanks

[2020-07-13 16:02] konstantin-iliev commented on #400
Same issue here...

Facebook Ads Extension version = 3.0.0 and 3.0.1 (none works)
OpenCart version = 3.0.3.2
Journal Theme = 3.0.46
PHP version = 7.3.15

I've performed all the installation steps (permissions, cache, etc.) but at the end of the setup process (after I select the business manager account, The Facebook page, the Instagram account, the pixel, the catalogue, the ad account, etc.) I get

[2020-07-14 17:14] ramimeraabi opened #439 "not linking to my facebook account"
hello i have this error when i try to connect to facebook

Oops, something went wrong.
This may be because of a technical error that we're working to get fixed. Try reloading this page.

2020-07-14 12:15:53 - Facebook Ads Extension version = 3.0.1
2020-07-14 12:15:53 - OpenCart version = 2.0.3.1
2020-07-14 12:15:53 - PHP version = 7.3.19
2020-07-14 12:15:53 - Verifying Availability of Facebook Ads

[2020-07-15 12:37] dev-mamun opened #440 "Special price or sale price was wrong."
feed does not submit my discounted price to facebook. it submit same price for both price and sale price. for this discount does not show on facebook shop.
my site https://arcbaby.com/

[2020-07-15 15:05] fabricioventura commented on #418
Me too!
I was using version 2.1.3, and it worked normally.

After upgrading to version 3.0.1 I was unable to make the connection, when I click "continue with my user" on the initial configuration screen, it displays the same message as the pixel above. It is even a pixel message that we have already removed from our Business manager.

[2020-07-15 15:12] fabricioventura commented on #418
If I try to restart the configuration, I can choose my business manager, and when I proceed to choose the page, it is not possible to select! The following error appears:

New admins require approval before linking a Page to a Business Manager.

However, these same data were used in version 2.1.3, even if I downgrade, everything works normally with this data.

What has changed in the new version t

[2020-07-15 17:18] Quickdealmagazine commented on #163
Good afternoon, I have opencards 2.3.0.2, there was a version of Facebook 2.0.1. Now I'm trying to update facebook from github to 3.0.1 and gives an error, I cleaned the cache, deleted the mod, and re-installed. Tell me please, what is the problem? initially when saving the product, I started to get an error - Warning: Encountered problem updating product (s) to Facebook. Please try again. Check t

[2020-07-16 00:36] shue249 commented on #344
We will be closing this ticket, feel free to reach to us if you have further questions.

[2020-07-16 00:36] #344 closed

[2020-07-16 00:36] shue249 commented on #348
We will be closing out this ticket. Feel free to reach to us if you have further questions

[2020-07-16 00:36] #348 closed

[2020-07-16 06:32] konstantin-iliev commented on #400
OK, I've managed to setup my Facebook Shop using version 2.2.1. Worked like a charm... :)

I have two questions:
1. Can I restored the folder permissions to previous state
2. Can I enable cache

Thank you!

[2020-07-16 19:42] snooty7 commented on #402
i've got the same problem. The log is the same and the error pop up too.
![error_facebookPNG](https://user-images.githubusercontent.com/14994967/87715190-a0436200-c7b5-11ea-8809-aa21c1607b64.PNG)

[2020-07-18 19:27] thgear commented on #429
Is there any progress with that issue? Almost a month and there is no any update?

[2020-07-20 07:54] stavtime commented on #439
Same problem. Have you solved it?

[2020-07-20 12:54] Aukvito opened #441 "Few special prices depending on user groups"
Hi there,

Special prices on my site differ depending on the user group: wholesale, drop-shipping and retail.
I guess by default your FB_extension takes the cheepest one (wholesale) for feed update. And there is a problem for me: I don`t need to make wholesale prices public and want the extension to take the price for retail.
Special price for retail is always the highest special price. So I hope

[2020-07-21 02:49] shue249 commented on #362
We will close off this ticket. Feel free to reach to us if you have further questions.

[2020-07-21 02:49] #362 closed

[2020-07-21 03:17] shue249 commented on #441
@Aukvito Currently we do not support user groups as this feature is not available on Facebook side. We are using the 1st special price which is applicable now.

However, we are unable to make custom changes. If you have developer resources, here is the code pointer for you to make the changes - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/library/facebookpro

[2020-07-21 03:17] #441 closed

[2020-07-22 08:50] Miroslav020788 opened #442 "Error: An error occurred while fetching FBE Install config"
After comleted all steps? i get this error.
How can I fix it?
![image](https://user-images.githubusercontent.com/24765320/88156019-853b7c80-cc11-11ea-8674-195f6c6a2c71.png)

[2020-07-22 08:51] cepcemuh opened #443 "Cannot connect it with existing ad account."
Associated ad account with the Business Manager, Page, and Pixel is not shown. It gives me only to CREATE new ad account but I do not wanna do it. Even if I try to create new one - it gives me an error.

[2020-07-22 18:28] SonataR opened #444 "Facebook for Opencart 3.1.0 linking error"
Hi,

It is imposible to link Opencart with FB. Always getting an error: Something went wrong. This may be because of a technical error that we're working to get fixed. Try reloading this page

How to fix it?

[2020-07-23 08:16] nichinu opened #445 "New upadate crashing website on checkout"
Hey, I just installed the new update 3.1.0 and it just messed up mys business.
The website works fine but just on clinking checkout it crashes with 500 server error. I uninstalled the module from the admin and cleared modification but the FBE was still there.
So i jhad to uninstall the module's settings as well.
Please look into it and also provide me the earlier version 3.0.1.

Thanks

[2020-07-23 17:25] zlioo opened #446 "An error occurred while processing this request. Please try again later."
When we create manage account by extend.we get error as title

[2020-07-24 01:05] shue249 commented on #369
@qprod74 are you still facing the problem? Can you help us create a separate ticket?

We will be closing out this ticket. Let us know if you have further questions.

[2020-07-24 01:05] #369 closed

[2020-07-24 08:53] qprod74 commented on #369
Hi, I have uninstalled FB then it is working.
I tried to install the latest version that you released some days ago , but facing problem at the dashboard.

[2020-07-24 19:40] rhinsu opened #447 "Add custom text in facebook catalog upload feed"
Hello there!!

I would like to add custom text like manufacturer name on the product name feed so that the shop displays that custom text. How do i do that.

[2020-07-25 00:00] #438 closed

[2020-07-25 00:08] cgonzalez-p opened #448 "error instalación plugin facebook business extension"
instalo siguiendo pasos guía y persiste advertencia de errores que ya verifiqué y todo ok. Por favor ayuda https://canaldeventasdigitalescgp.com/

![pantalla_plugin_facebook_error](https://user-images.githubusercontent.com/54340494/88444089-f41b0000-cde0-11ea-8d46-390881d47d60.PNG)
![error_javascript_no_capturado](https://user-images.githubusercontent.com/54340494/88444096-fed59500-cde0-11ea-85c9-

[2020-07-26 07:59] dev-mamun opened #449 "Check out error"
"PHP message: PHP Catchable fatal error:  Argument 1 passed to FacebookAds\CrashReporter::buildParamsFromException() must be an instance of Throwable, instance of ErrorException given,
called in /home/ubuntu/arcbaby/system/library/vendor/facebook/php-business-sdk/src/FacebookAds/CrashReporter.php on line 146 and defined in
/home/ubuntu/arcbaby/system/library/vendor/facebook/php-business-sdk/src/Fa

[2020-07-26 08:00] dev-mamun commented on #445
same problem here, its show
"PHP message: PHP Catchable fatal error:  Argument 1 passed to FacebookAds\CrashReporter::buildParamsFromException() must be an instance of Throwable, instance of ErrorException given,
called in /home/ubuntu/arcbaby/system/library/vendor/facebook/php-business-sdk/src/FacebookAds/CrashReporter.php on line 146 and defined in
/home/ubuntu/arcbaby/system/library/vendor/face

[2020-07-26 17:28] qprod74 opened #450 "Cant access dashboard"
Got this message after install:

Warning: require_once(/home/qprod/domains/qprod.se/public_html/vqmod/vqcache/vendor/autoload.php): failed to open stream: No such file or directory in /home/qprod/domains/qprod.se/public_html/vqmod/vqcache/vq2-system_library_facebookcommonutils.php on line 8

Any idea what to do ?
Thx.

[2020-07-27 02:05] dtying commented on #450
Hi @qprod74, I'm not sure how vQmod handles the module management, but you can check if the file exists at the given path or not.
Without vQmod, the file should be found under /system/library/facebookcommonutils.php

[2020-07-27 02:06] dtying commented on #429
3.1.0 release fixed [Object object] error.

[2020-07-27 02:06] #429 closed

[2020-07-27 02:08] dtying commented on #410
3.1.0 release fixed [Object object] error.

[2020-07-27 02:08] #410 closed

[2020-07-27 02:08] dtying commented on #402
3.1.0 release fixed [Object object] error.

[2020-07-27 02:08] #402 closed

[2020-07-27 02:09] dtying commented on #392
3.1.0 release fixed [Object object] error.

[2020-07-27 02:09] #392 closed

[2020-07-27 02:13] dtying commented on #400
3.1.0 release fixed [Object object] error.

[2020-07-27 02:13] #400 closed

[2020-07-27 02:14] #437 closed

[2020-07-27 02:16] dtying commented on #436
Hi @cavid777 , you can install Facebook Pixel Helper to troubleshoot on your own.
https://developers.facebook.com/docs/facebook-pixel/support/pixel-helper

[2020-07-27 02:16] #436 closed

[2020-07-27 02:34] dtying commented on #447
Hi @rhinsu , in the current feed file, 'brand' field is populated by manufacturer.
https://developers.facebook.com/docs/marketing-api/catalog/reference#da-commerce

[2020-07-27 03:39] dtying commented on #399
3.1.0 released with Messenger plugin.

[2020-07-27 03:39] #399 closed

[2020-07-27 03:54] dtying commented on #446
Hi @zlioo , can you provide your webstore url and a screenshot to illustrate how to reproduce the error?

[2020-07-27 03:57] dtying commented on #442
Hi @Miroslav020788 , can you provide your webstore url?

[2020-07-27 03:57] dtying commented on #439
Hi @ramimeraabi, can you provide your webstore url?

[2020-07-27 04:06] dtying commented on #427
Hi @nab0306 , you can install Facebook Pixel Helper to troubleshoot pixel on your own.
https://developers.facebook.com/docs/facebook-pixel/support/pixel-helper

![Screen Shot 2020-07-27 at 12 02 40 PM](https://user-images.githubusercontent.com/21333308/88502505-37ec5000-d001-11ea-9056-6faf21bd2f8a.png)

[2020-07-27 04:13] dtying commented on #435
Hi @darrist , it could be due to a product bug which we have fixed recently.
Can you download latest 3.1.0 release and try again?

[2020-07-27 04:13] #435 closed

[2020-07-27 04:23] Miroslav020788 commented on #442
Corrector.com.ua

[2020-07-27 04:24] Miroslav020788 commented on #442
@dtying corrector.com.ua

[2020-07-27 04:24] dtying commented on #444
Hi @SonataR , can you provide your webstore url?

[2020-07-27 05:00] ramimeraabi commented on #439
Www.waffershop.com

Sent from my iPhone
--

Regards,

Rami Meraabi | CEO

SMARTA Solutions | www.smarta.ws

KSA - Lebanon: +961 6 439999 | Mobile: +961 76 000198 | Email: rami.meraabi@smarta.ws

This e-mail may contain confidential, proprietary or legally privileged information.  It should not be used by anyone who is not the original intended recipient.
If you have received this message by mistak

[2020-07-27 06:09] rhinsu commented on #447
Hi @dtying thanks for your reply.
My products currently only have the product name without the manufacturer name and i have a custom code on my opencart displaying the manufacturer name only in the product page.
Example; name- Galaxy S20; Manufacturer- Samsung
i would like facebook feed to capture name as "Samsung Galaxy S20"

[2020-07-27 07:00] SonataR commented on #444
Hi,

www.voverytesbutikelis.lt

On 7/27/20 7:25 AM, dtying wrote:

[2020-07-27 12:37] petarstojkovik commented on #450
I'm experiencing the same issue. Can't access the admin dashboard.

[27-Jul-2020 12:28:30 UTC] PHP Fatal error:  require_once(): Failed opening required '/home/XXXXXXXX/public_html/vqmod/vqcache/vendor/autoload.php' (include_path='.:/opt/alt/php73/usr/share/pear') in /home/XXXXXXXX/public_html/vqmod/vqcache/vq2-system_library_facebookcommonutils.php on line 8

[2020-07-27 12:52] xakou commented on #355
@dtying do you have any news? The problem exists at version 3.1

[2020-07-28 12:03] qprod74 commented on #450
The file exists in /system/library/facebookcommonutils.php , I uninstalled and installed again, but same problem, I also tried to unzip and upload through ftp  , but same problem .
Thanks

[2020-07-28 13:15] ofrost commented on #444
I have the same situation. How to complete integration?

[2020-07-29 00:04] ventienda commented on #450
@petarstojkovik @qprod74 @dtying Hi, guys!
SAME PROBLEM!!! I use OC 3.0.3.2.

I set to 0 the status value on my database (Modification table). Then, I deleted all files and folders in: "system/storage/modification" and "vqmod/vqcache" BUT I couldn't get my access (admin panel).

Who can help us?

[2020-07-29 05:53] qprod74 commented on #450
Well , after uninstalled the Facebook Ads integration Version 3.1.0 , my dash is back to normal again, I am waiting for a solution / bugfix or whatever causes the problem . Try to delete /system/library/facebookcommonutils.php if you couldnt enter dash (admin) maybe it helps

[2020-07-29 11:21] Miroslav020788 commented on #442
@dtying, or  anyone else ...)))  what's wrong? How can i fix that?

[2020-07-30 07:27] rhinsu commented on #447
@dtying any update on a previous support

[2020-07-30 08:35] hongyiu opened #451 ""500 - Internal Server Error" on cart page"
**Webstore Url**
https://www.eeconshop.com/

**FBE plugin version**
3.1.0

**OpenCart version**
3.0.3.2

**Describe the bug**
"500 - Internal Server Error" on cart page after upgrade to FBE 3.1.0

**To Reproduce**
Steps to reproduce the behavior:
go to below link:
https://www.eeconshop.com/index.php?route=checkout/cart
https://www.eeconshop.com/index.php?route=checkout/checkout

**Screenshots**
<i

[2020-07-30 08:56] dtying commented on #451
Thanks @hongyiu. Are you able to access your webserver and find the detailed exception from your error log?

[2020-07-30 09:43] gioluv80 opened #452 "Facebook Data Feed"
Hi I have Facebook Extension For Opencart 3+ I have installed the extension but when the feed uploads to Facebook it does not upload the sizes available for each item. You can now check out on facebook. However, when I connect the data fees to Facebook it does not upload all the variations such as
Color Options
Size Options
Quantity

I need a Facebook feed that will upload and include all options

[2020-07-31 01:20] mzilyaev opened #453 "Oops, something went wrong"
Have installed extension to my opencart 2.3.0.2.3. Everytime I try to connect FBE I get message -
Oops, something went wrong.
This may be because of a technical error that we're working to get fixed. Try reloading this page.
Strore's link - https://belok.shop/
Please kindly help

[2020-07-31 11:53] zaine99 opened #454 "[BUG] problem after instalation"
after i install the extension i have the error???

.554555 [NOTICE] [28644] [66.249.76.151:50987-1#APVH_defb.ro:lsapi] [STDERR] PHP Fatal error: Uncaught Error: Undefined class constant 'FACEBOOK_CUSTOMIZATION_LOCALE' in /var/www/vhosts/defb.ro/httpdocs/system/storage/modification/catalog/controller/common/footer.php:13
Stack trace:
#0 /var/www/vhosts/defb.ro/httpdocs/vqmod/vqcache/vq2-system_stor

[2020-08-02 20:06] denpro433 commented on #155
did u fixed

[2020-08-03 01:42] shue249 commented on #381
We will be closing off this ticket. Feel free to reach to us if you have more questions.

[2020-08-03 01:42] #381 closed

[2020-08-03 01:46] shue249 commented on #380
We will be closing off this ticket. Feel free to reach to us if you have further questions.

[2020-08-03 01:46] #380 closed

[2020-08-03 07:22] TyrannosaurHex commented on #453
Getting the same error on Opencart v2.3.0.2 & FBE-3.1.0.

It works fine till the last page where it asks for permission etc, but on the final step it shows connecting etc and then this error comes up.

[2020-08-03 13:10] samanoudi commented on #451
Same issue here. When I disable the extension carts is working fine
https://www.el-wafaa.com/index.php?route=checkout/cart

FBE plugin version
3.1.0
Opencart
Version 3.0.3.2

Apache log at my hosting provider did not receive any error with respect to this problem

[2020-08-03 13:26] samanoudi commented on #445
Same issue

[2020-08-04 17:07] zzhou9 opened #455 "[BUG] facebook for opencart installation error"
I add the facebook bussiness extension to my opencart website, and make every right move about the install, but when I click to start facebook bussiness extension, it always happen the error.
 Warning: mysqli::query(): MySQL server has gone away in /home/profchris/public_html/system/library/db/mysqli.php on line 21Warning: mysqli::query(): Error reading result set's header in /home/profchris/publi

[2020-08-05 00:26] shue249 commented on #382
We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-08-05 00:26] #382 closed

[2020-08-05 12:03] ArtemHoi commented on #184
Hello. I have the same problem, did you find the solution?
![MicrosoftTeams-image (7)](https://user-images.githubusercontent.com/39946799/89410644-cb71ff00-d72c-11ea-8510-294d450ef844.png)

[2020-08-05 20:55] bloodey commented on #155
@denpro433
Yes i fixed it. Open catalog/view/javascript/facebook/facebook_pixel_x_x_x.js

Replace

[code]

With

[code]
Thats all. I didnt check the latest facebook extension i was using 2.1.10 version maybe they modified the original file but the idea is same you need to modify it for Journal 3. And dont forget to replace it with every facebook extension update.
Regards.

[2020-08-07 01:20] shue249 commented on #384
We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-08-07 01:20] #384 closed

[2020-08-07 03:56] TimwaySupport opened #456 "[BUG] - 'FacebookAds\\CrashReporter ' contains invalid characters"
**FBE plugin version**
3.1.0

**OpenCart version**
3.0.2.0

**Describe the bug**
Add any product to cart, go to the cart page, and Internal server error 500 will show.
Apache error log:
[Fri Aug 07 11:37:19.851100 2020] [http:error] [pid 24658] AH02429: Response header name 'FacebookAds\\CrashReporter ' contains invalid characters, aborting request

**To Reproduce**
Steps to reproduce the behavior

[2020-08-07 04:27] dtying commented on #456
Hi @TimwaySupport , can you provide your webstore url?

[2020-08-07 06:48] TimwaySupport commented on #456
We have two webshop encounter such issue:
jekca  .com   .au
ma nym   anygoods  .com
(Please remove the space in between.....)

However, as both the shop production status, we cannot keep the FB extension on "enabled" status for you check.
Any other information we may provide to help you to check for the issue?

[2020-08-08 09:30] stampgo7 opened #457 "[BUG]After installation - Administration Panel - Few sections certain fields are deleted"
**Webstore Url**
www.tshirtgallery.gr

**FBE plugin version**
Plugin Version: 2.1.3

**OpenCart version**
Version of OpenCart 3.0.2.0

**Describe the bug**
After installation I start to have few problems.
in the last few days and while I make changes in the management environment of tshirtgallery.gr, which is opencart, I get the error you see in the screenshots that I attach.
At the same time yest

[2020-08-08 11:42] sefasaid commented on #451
same here
2020-08-08 14:42:59.043120 [NOTICE] [4041456] [188.119.61.215:33639-Q:20650CA7014B5D85-91#APVH_www.xxx.com.tr:443] [STDERR] PHP Catchable fatal error:  Argument 1 passed to FacebookAds\CrashReporter::buildParamsFromException() must be an instance of Throwable, instance of ErrorException given, called in /home/xxx/domains/xxxx.com.tr/public_html/system/library/vendor/facebook/php-business

[2020-08-09 06:35] blackhacker3 commented on #445
same problem  how to fix it

[2020-08-10 11:25] baron-kg opened #458 "[BUG] Accessing Extension Dashboard Fires Error"
**Webstore Url**
www.eparhija.com

**FBE plugin version**
3.1.0

**OpenCart version**
OpenCart 3.0.3.3

**Bug description**
After installing the extension and refreshing on the modifications page I go to the extension dashboard to try to connect to my Facebook account. Clicking on it displays the following error:

Warning: require_once(/usr/www/users/eparhija/eparhija/vqmod/vqcache/vendor/autoload

[2020-08-11 12:49] finallynl commented on #453
I also have the same problem, everything looks fine. Then the connection is made and then "An error occured while generating system user access token: (#10) Application does not have permission for this action"

What can we do?

[2020-08-11 13:00] finallynl commented on #453
Ready!
![ready](https://user-images.githubusercontent.com/69470288/89899968-5e0a1680-dbe3-11ea-9252-3e1807f4e3db.png)

Not working
![notworking](https://user-images.githubusercontent.com/69470288/89899978-62363400-dbe3-11ea-9373-dc15d82cb41c.png)

[2020-08-11 15:01] hongyiu commented on #451
same problem

[2020-08-11 17:36] hongyiu commented on #451
down to FBE 3.0.1 and normal

[2020-08-12 09:47] shue249 commented on #388
We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-08-12 09:47] #388 closed

[2020-08-13 01:01] rod2k opened #459 "Upgrade from 2.1.3 to 3.1.0 failed"
Hello, i've updated the plugins following the guide, I have made this 4 steps [https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#upgrade-the-plugin-to-a-later-version](url) and now, I have this screen

![image](https://user-images.githubusercontent.com/23507339/90082776-e664e600-dccd-11ea-941f-414a8cfae7c8.png)

But when I press the "Get Started" button, nothi

[2020-08-13 01:18] rod2k commented on #459
I uninstalled and deleted the 3.1.0 version, installed the 2.1.3 and It's already configured all, I have all FB Plugins back syncing products

![image](https://user-images.githubusercontent.com/23507339/90083724-8ae82780-dcd0-11ea-9722-62db35792108.png)

[2020-08-13 07:03] hongyiu commented on #451
sorry i do not know how to but the problem resolved after FBE downgraded to other version

[2020-08-13 12:16] lipmycar commented on #453
I am experiencing the same issue. Is there any solution ?

[2020-08-13 12:19] lipmycar commented on #444
I am experiencing the same issue. I am not able to complete the integration . Please help us with this

[2020-08-13 18:16] ventienda commented on #450
@petarstojkovik @qprod74 @dtying Hello, again!

Did Anyone fix this issue?

[2020-08-14 05:56] Devendrapatel3544 opened #460 "error in checkout page" index.php?route=checkout/checkout" Opencart Version 3.0.3.1 With Journal 3 (Theme) , Working Fine in Journal 2 (Theme ), any solution please help error screen shot : https://bit.ly/33Q4uBZ[BUG]"
**Webstore Url**
Your webstore Url
https://bombaycollection.co.in/
**FBE plugin version**
Version of FBE plugin
3.1.0
**OpenCart version**
Version of OpenCart
3.0.3.1
**Describe the bug**
error in checkout page" index.php?route=checkout/checkout" Opencart Version 3.0.3.1 With Journal 3 (Theme) , Working Fine in Journal 2 (Theme ), any solution please help
error screen shot : https://bombaycollecti

[2020-08-14 05:57] Devendrapatel3544 commented on #460
error in checkout page" index.php?route=checkout/checkout" Opencart Version 3.0.3.1 With Journal 3 (Theme) , Working Fine in Journal 2 (Theme ), any solution please help error screen shot : https://bit.ly/33Q4uBZ[BUG]

[2020-08-14 05:57] Devendrapatel3544 commented on #460
error in checkout page" index.php?route=checkout/checkout" Opencart Version 3.0.3.1 With Journal 3 (Theme) , Working Fine in Journal 2 (Theme ), any solution please help error screen shot : https://bit.ly/33Q4uBZ[BUG

[2020-08-14 06:08] Devendrapatel3544 commented on #460
here is the screenshot link https://bombaycollection.co.in/image/data/fberr.png

[2020-08-15 14:40] FrankMontana opened #461 "[BUG]"
**Webstore Url**
cond.land

**FBE plugin version**
Plugin Version: 3.1.0

**OpenCart version**
3.0.2.0

**Describe the bug**
After clicking on the "get started" button, I log into my facebook account and receive the "admin permission required" error and advice to contact the administrator of the old page in the business manager, there is no access to the page, how to link to the new one?

**To Rep

[2020-08-16 21:23] Wyciokazz opened #462 "This app's data is unavailable"
When i press get started after last step i've got error in alert tab

OC version: 3.0.3.2

Log file:

2020-08-16 21:12:26 - Complete - Get Sample product feed
2020-08-16 21:14:04 - Generating product feed file for batch 0
2020-08-16 21:14:04 - Feed Generation Time Estimate: 30
2020-08-16 21:19:03 - Get Sample product feed
2020-08-16 21:19:03 - Complete - Get Sample product feed
2020-08-16 21:23:24

[2020-08-17 05:05] shue249 commented on #394
We will be closing out this ticket, Feel free to reach to us if you have any further questions.

[2020-08-17 05:05] #394 closed

[2020-08-17 17:13] madebylayton opened #463 "[BUG]Extension: Facebook for OpenCart"
**Webstore Url**
laytonmade.com

**FBE plugin version**
Version of FBE plugin

**OpenCart version**
 3.0.2.0

**Describe the bug**
I have installed this Facebook extensions module and it is giving me errors, I have looked and made sure all the things suggested are correct and still showing errors.
THis is the message that shows up:

We have detected the Facebook pixel is not correctly setup in you

[2020-08-18 13:02] CorretjeR opened #464 "An error occured while generating system user access token"
**Webstore Url**
https://www.kaneelkapsules.nl

**FBE plugin version**
3.1.0
**OpenCart version**
3.0.2.0

**Describe the bug**
An error occured while generating system user access token: Unavailable app data cannot be shared: This app's data is unavailable and can't be shared.

I get the above error whoile trying to connect to Facebook. Is this a bug or my mistake?
Thx.

[2020-08-19 01:36] dtying commented on #464
Hi @CorretjeR, thanks for reporting. There's an issue with the app settings, and we're fixing it now.

[2020-08-19 07:23] samoila commented on #464
FBE plugin version
3.1.0
OpenCart version
3.0.3.2
An error occured while generating system user access token: Unavailable app data cannot be shared: This app's data is unavailable and can't be shared.

[2020-08-19 11:04] petarstojkovik commented on #450
I guess, no. They even removed Facebook for Opencart extension from Opencart's Marketplace: https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336

If you visit the link you will get Error 404: Page Not Found.

[2020-08-19 14:45] qprod74 commented on #450
Hi , I don't think there is any fix yet , I removed it from my store until it is fixed .

Sent from my iPhone .
Best regards

[2020-08-21 02:38] dtying commented on #464
@samoila , thanks for reporting! Sorry that we're still fixing it.

[2020-08-23 18:48] Laurent3006 opened #465 "[BUG]NEED HELP PLEASE"
Hello, i have this message when i want connect open cart to my new facebook account.

Administrator authorization required
You do not have permission to change these settings. Contact the E 100 Business Manager administrator to gain access.

The E100 it's an old account and i can't connect on it, when i log on the app i log with my new account, but at the second step this message appear and the E1

[2020-08-23 18:48] Laurent3006 opened #466 "[Feature Request] HELP PLEASE"
Hello, i have this message when i want connect open cart to my new facebook account.

Administrator authorization required
You do not have permission to change these settings. Contact the E 100 Business Manager administrator to gain access.

The E100 it's an old account and i can't connect on it, when i log on the app i log with my new account, but at the second step this message appear and the E1

[2020-08-23 21:29] finallynl commented on #453
Nobody can help with this? What can we do?

[2020-08-23 21:35] finallynl commented on #453
Can you maybe change the topic to [BUG] Oops, something went wrong?

[2020-08-24 00:34] p-henriquesoares commented on #464
I'm waiting for the fix too, thanks for report this issue.

[2020-08-24 04:37] dtying commented on #464
Hi all, the issue has been fixed already. You shouldn't see the error now.

[2020-08-24 04:37] #464 closed

[2020-08-24 04:38] dtying commented on #462
Hi @Wyciokazz , the issue has been fixed already. You can re-install the plugin now.

[2020-08-24 04:38] #462 closed

[2020-08-24 14:28] nathanyoliveiraassuncao opened #467 "[BUG] ERR_HTTP2_PROTOCOL_ERROR Cart page"
**Webstore Url**
cafofo21.com.br

**FBE plugin version**
3.1.0

**OpenCart version**
3.0.3.6
**Describe the bug**
ERR_HTTP2_PROTOCOL_ERROR

Hi, I need help,
When I try to access the shopping cart page after installing Facebook, the following error appears:
This website cannot be accessedThe https://cafofo21.com.br/shopping/index.php?route=checkout/cart page may be temporarily unavailable or may ha

[2020-08-24 14:31] nathanyoliveiraassuncao commented on #460
I saw that you managed to fix the error, can you tell me how?

[2020-08-24 14:43] nathanyoliveiraassuncao commented on #467
https://cafofo21.com.br/shopping/index.php?route=checkout/checkout

[2020-08-25 02:00] dtying commented on #467
Hi @nathanyoliveiraassuncao, thanks for reporting! Let me check the issue first, meanwhile, you can downgrade to the previous version v3.0.1 for use. https://github.com/facebookincubator/Facebook-For-OpenCart/tags

[2020-08-25 02:44] dtying commented on #460
Hi @Devendrapatel3544, as Facebook Graph API didn't support HTTP2, it has caused issue in your webpage (which is on HTTP2).
https://developers.facebook.com/docs/graph-api/using-graph-api/
![Screen Shot 2020-08-25 at 10 07 19 AM](https://user-images.githubusercontent.com/21333308/91116858-eac2d300-e6bf-11ea-98d9-1ab40b0ec2a4.png)

You may downgrade to v3.0.1 to keep using the plugin. https://github

[2020-08-25 02:45] dtying commented on #467
Hi @nathanyoliveiraassuncao , as Facebook Graph API didn't support HTTP2, it has caused issue in your webpage (which is on HTTP2).
![Screen Shot 2020-08-25 at 10 07 19 AM](https://user-images.githubusercontent.com/21333308/91116968-21005280-e6c0-11ea-982c-a3e7d9e49342.png)

[2020-08-25 02:49] dtying commented on #451
Hi @hongyiu, as Facebook Graph API doesn't support HTTP2, it has caused issue in your webpage (which is on HTTP2).
https://developers.facebook.com/docs/graph-api/using-graph-api/

![Screen Shot 2020-08-25 at 10 49 21 AM](https://user-images.githubusercontent.com/21333308/91117225-ae43a700-e6c0-11ea-898e-bcef14c79a15.png)

You may downgrade to v3.0.1 to continue use. https://github.com/facebookincu

[2020-08-25 02:51] dtying commented on #449
Hi @dev-mamun , as Facebook Graph API doesn't support HTTP2, it has caused issue in your webpage (which is on HTTP2).
https://developers.facebook.com/docs/graph-api/using-graph-api/

You may downgrade to v3.0.1 to continue use. https://github.com/facebookincubator/Facebook-For-OpenCart/tags

[2020-08-25 02:52] dtying commented on #445
Hi, as Facebook Graph API doesn't support HTTP2, it has caused issue in your webpage (which is on HTTP2).
https://developers.facebook.com/docs/graph-api/using-graph-api/

You may downgrade to v3.0.1 to continue use. https://github.com/facebookincubator/Facebook-For-OpenCart/tags

[2020-08-25 02:54] dtying commented on #458
Hi @baron-kg , you may refer here for the solution - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/450#issuecomment-678592126

[2020-08-25 02:56] dtying commented on #456
Hi @TimwaySupport , as Facebook Graph API doesn't support HTTP2, it has caused issue in your webpage (which is on HTTP2).
https://developers.facebook.com/docs/graph-api/using-graph-api/

You may downgrade to v3.0.1 to continue use. https://github.com/facebookincubator/Facebook-For-OpenCart/tags

[2020-08-25 03:02] #445 closed

[2020-08-25 03:02] #449 closed

[2020-08-25 03:02] #451 closed

[2020-08-25 03:03] #456 closed

[2020-08-25 03:03] #460 closed

[2020-08-25 06:29] TimwaySupport commented on #456
Thank you for your check and reply.

We will try to use v3.0.1 version on our shops.

Any schedule for making the FB extension to support HTTP2 protocol? Thank you.

[2020-08-25 08:17] TimwaySupport commented on #456
Our customer just try to reconnect the Facebook account to the Facebook extension v3.0.1 version, however, on the "Confirm Settings" (OpenCart will be connected to: ....) screenshot, once we click "Continue" , the page just "refresh" and stay on the same page with no error / no connected confirmation.

[2020-08-25 08:31] dtying commented on #456
Hi @TimwaySupport, can you share your webstore url?

[2020-08-25 08:41] TimwaySupport commented on #456
The shop URL:
jekca    .com    .au
(Please remove all the spaces)

[2020-08-25 12:17] nathanyoliveiraassuncao commented on #467
Thanks for the help, it worked by downgrading the facebook version to 3.0.1

[2020-08-25 16:37] jakemake commented on #453
Same problem

[2020-08-26 10:32] azhar25git opened #468 "Fresh install shows issue "There are problems with the installation of the Facebook Ads Extension." Opencart 3.0.2"
The issue details:

[code]

I have tried by giving the directory 777 permission but still no luck.

[2020-08-27 04:07] TimwaySupport commented on #456
Just an update, the problem just gone and our customer able to use the FB extension with the FB Pixel now.
Thank you for your support.

[2020-08-31 10:42] ar-Tony opened #469 "[BUG] We have detected missing files for Facebook Ads Extension"
**Webstore Url**
https://tad.sa/

**FBE plugin version**
3.1.0

**OpenCart version**
2.3.0.2

**Describe the bug**
after installed the plugin when I try to open it from main admin panel I got :
There are problems with the installation of the Facebook Ads Extension.
We have detected missing files for Facebook Ads Extension. Please enable read, write and execute access permissions for these files an

[2020-09-01 07:57] laysunecboo opened #470 "[BUG] can't open checkout page"
**Webstore Url**
Your webstore Url :www.ecboo.com

**FBE plugin version**
Version of FBE plugin 3.1.0

**OpenCart version**
Version of OpenCart 3.0.2.0

**Describe the bug**
can't open checkout page and cart page

[2020-09-02 10:32] meds68 opened #471 "Fails to connect to Facebook - Invalid Token"
**Webstore Url**
https://alicejones.com.au/

**FBE plugin version**
3.1.0

**OpenCart version**
3.0.3.2

**Describe the bug**
Had an error about an invalid token.  Was an older version (2 I think). So uninstalled that version and downloaded & installed 3.1.0.  It has continually failed to connect

**To Reproduce**
Just go into the extention

**Screenshots**

![image](https://user-images.githubuser

[2020-09-02 15:41] Imtiazjaleem opened #472 "Catchable fatal error:"
Hi

After installation of the extension when we aad to cart/check out on the website, the below error is appearing at the website.

//Catchable fatal error: Argument 1 passed to FacebookAds\CrashReporter::buildParamsFromException() must be an instance of Throwable, instance of ErrorException given, called in//

Thank u.

[2020-09-03 09:29] qprod74 commented on #450
Hi , @TyrannosaurHex , I tried your solution unfortunately no difference for me , but I will check the parameters one more time.
Thanks

[2020-09-05 17:52] pao2pao16 opened #473 "[BUG] Upgrade issue Error No: 1064"
Im trying to upload the latest ocmod. But I am getting this error during the installation.

Error Code(0): Error: You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '.0012_modification where field = 'xml'' at line 1
Error No: 1064
SHOW COLUMNS FROM `xxx`.oc_modification where field = 'xml' in /home/pdnadm/public_h

[2020-09-07 16:39] konstantinosbotonakis commented on #469
The problem is that the code has hardcoded "admin" folder mentions in the code. As your eshop and other opencart eshops don't have the default "admin" folder and they change the name to something else unique, you will need to do some changes in order to make it work.

- Download the ocmod.zip file to your local disk.
- Unzip file.
- Open upload/admin/controller/extension/module/facebookadsextensio

[2020-09-09 08:14] abbywelford commented on #470
We're experiencing the same issue, would be great to get a patch/ resolution for this please.

[2020-09-09 21:20] Superstar18 opened #474 "The checkout page can't be reached [BUG]"
**Webstore Url**
ICONICUL.RO

**FBE plugin version**
310
**OpenCart version**
3.0.2.0

**Describe the bug**

Hi,

After installing the module and setting it up, the website is working find except when we try to access the checkout or cart page.. You can see a screenshot here:
https://prnt.sc/uej7tj

After i uninstalled the settings, everything is working fine again.

Could you please check? I saw

[2020-09-11 04:50] wsquarez opened #475 "[BUG]Messenger chat box does not show"
**Webstore Url**
Www.madison99.com

**FBE plugin version**
3.01

**OpenCart version**
2.3.02

**Describe the bug**

I installed Facebook business extension with no problems, the chat box does shown properly on the page on the first day. However, I was changing some view pictures and clicked refresh under modification couple of times. Then the chat box disappeared.... I tried to uninstall and insta

[2020-09-11 07:09] Superstar18 commented on #470
Hi everybody! Did you find a solution for this problem. I have the same issue.

[2020-09-11 09:19] thorin87 opened #476 "[BUG] wrong value of product special/discount price"
**FBE plugin version**
3.0.0

**OpenCart version**
3.0.3.2

**Describe the bug**
Product special/discount price sync uses the lowest price from all customers group, while it should take special price from default customer group

**To Reproduce**
Steps to reproduce the behavior:
1. Create new customer group (for example "regular customers")
2. Add discount price for any product for newly created cu

[2020-09-11 20:56] MXTV opened #477 "Main image not importing"
I've imported my catalogue but some items don't have the main image, but checking the item the secondary images are there.

Any ideas?

[2020-09-12 06:32] Superstar18 commented on #183
Hi @shue249

It seems that after a update, we have a new problem,

After installing the module and setting it up, the website is working find except when we try to access the checkout or cart page.. You can see a screenshot here:
https://prnt.sc/uej7tj

After i uninstalled the settings, everything is working fine again.

Could you please check? I saw there are also 2 people that have the same issu

[2020-09-13 09:57] PapaIce786 commented on #474
Hey Marius, Hi @facebookincubator.

I've got the same problem. My FB Pixel has been down for a week now.
I'm running opencart Version 3.0.3.0 with Journal 3 and Letcms Multivendor plugin. Checkout cannot be reached with module installed.
Im losing 2 revenue streams now, Instagram and Facebook.. Kinda Frustrating.

My website is deal-emporium.com if you need to check it out

Cheers
Zain

[2020-09-13 09:58] PapaIce786 commented on #470
Same issue here

[2020-09-13 10:19] Superstar18 commented on #474
Hi @PapaIce786
For a quick fix i uninstalled the updated version and installed Plugin Version: 2.1.10. You can find it here with all the old plugins. Probably you should install the one you had last time untill this update.

https://github.com/facebookincubator/Facebook-For-OpenCart/releases

[2020-09-15 05:58] CheckoutPage commented on #474
I'm having the same problem, as well.  My checkout page broke after installing the Facebook for Opencart extension.  I uninstalled the extension and it worked again.
Opencart version: 3.0.3.2
Facebook for opencart extension version: 3.1.0

How do I fix this problem in the extension? I have been checking the comments and several people have had this complaint. Yet I have not seen any definite answe

[2020-09-15 06:50] Superstar18 commented on #474
@CheckoutPage you have the settings in opencart tabs, the first one, named "facebook business extension". You can apply the quick fix because i see that the issue is waiting for a solution for 2 weeks already.

[2020-09-16 11:11] asamaaa commented on #442
Hi, I am facing the same problem, what is the solution

[2020-09-16 12:00] Miroslav020788 commented on #442
Have no idea. Anyone don`t give me an answer :(

[2020-09-17 04:19] CheckoutPage commented on #474
You'd have to walk me through how to implement the quick fix you speak about, as I've already tried out one quick fix that was suggested here, which did not work for me.  I uninstalled the latest version 3.1.0, and installed the previous version 3.0.1, but was unable to go forward because the 'Manage Settings' button disappeared.  Don't know what I did wrong there.  I installed v. 3.0.1 using the

[2020-09-17 06:45] wsquarez opened #478 "[BUG]The checkout page can't be reached"
**Webstore Url**
www.madison99.com

**FBE plugin version**
v3.1
**OpenCart version**
Version of OpenCart

**Describe the bug**
The checkout page can't be reached

Opencart 2.3.0.2

[2020-09-17 11:33] Superstar18 commented on #474
That's all i've done. Uninstalled from opencart the module that doesn't work. Refresh modifications.
Installed the old module that worked till i've made the update and clicked again refresh modifications.

PS: Untill uninstalling, try to disconnect the store from the module's settings. I think i've done that also.

[2020-09-17 23:19] CheckoutPage commented on #474
Thanks for trying to help with this but I don't have a previously working module as this is a brand new opencart website.  Where do I find the instructions on how to properly install the older Facebook for Opencart Extension version 3.0.1.
It seems like just installing the ocmod.zip file was not enough.

FBE installation website only talks about the newest version.

[2020-09-18 14:39] Superstar18 commented on #474
@CheckoutPage The plugin version that works for me is 2.1.10. You can try this one till they solve the actual problem.

[2020-09-23 04:26] alireza-shamakhy opened #479 "[BUG] Facebook team!! why you not testing your extension which breaks add2cart and checkout??"
opencart: 3.0.2.0

Plugin Version: 3.1.0

I uninstalled the extension which breaks the add2cart.
The error log as below:

[12-Sep-2020 04:05:31 UTC] PHP Fatal error:  Uncaught Error: Undefined class constant 'FACEBOOK_CUSTOMIZATION_GREETING_TEXT_CODE' in /home/solarli7/public_html/sunsharesolar.com.au/system/storage3020/modification/catalog/controller/common/footer.php:13
Stack trace:
#0 /home/sol

[2020-09-23 06:47] dtying commented on #479
Hi, after you installed the latest plugin, did you go to Extensions -> Modifications and clicked the refresh button? Your website html seems staled as 'FACEBOOK_CUSTOMIZATION_GREETING_TEXT_CODE' variable was not used in the latest plugin codebase any more, you need to follow the OpenCart plugin installation steps to properly build the html.

[2020-09-23 07:22] alireza-shamakhy commented on #479
Hi,

I am sure that I did  Extensions -> Modifications and clicked the refresh button.
I uninstalled and installed again and then followed the instructions in https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#setup-for-facebook-business-manager-page-pixel-and-catalog
but again failed. So I had to uninstall it again.
The setup gets completed but when i click ad

[2020-09-23 07:27] dtying commented on #479
Hi, could you install plugin version 3.0.1 instead? https://github.com/facebookincubator/Facebook-For-OpenCart/tree/v3.0.1

[2020-09-23 07:38] alireza-shamakhy commented on #479
Hi,

Just did but again failed. :(

[2020-09-24 15:03] konstantinosbotonakis commented on #470
Open the error logs and send the error you guys have, so we can help you.

[2020-09-24 15:05] konstantinosbotonakis commented on #450
Here is the solution you guys need.
[https://github.com/facebookincubator/Facebook-For-OpenCart/pull/480/commits/63b1f1e00acaf39f1f8953d2278a304079d223f8
](https://github.com/facebookincubator/Facebook-For-OpenCart/pull/480/commits/63b1f1e00acaf39f1f8953d2278a304079d223f8
)
I posted this pull and I hope they will include it, into their next version. It happens only if vqmod is installed.

[2020-09-24 15:38] monefff commented on #476
I have the same issue. Facebook is taking the lowest price on the Customer's group, but not by the default group. This is causing very big confusions on the ads for price and the ads for the sale.

Please provide fix

[2020-09-24 15:43] monefff commented on #453
Sam problem here. When install the newest module, it cannot sync it gives Oops, something went wrong.
We rolled back to Plugin Version: 2.1.3, works fine for now, but most of the time the access token is lost, and we need to reconnect it. That's a bit annoying.

Hope a fix is released soon.

[2020-09-25 08:18] ysn opened #481 "[BUG]"
**Webstore Url**
https://redblue.center

**FBE plugin version**
3.1.0

**OpenCart version**
3.0.2.0

**Describe the bug**

Normal prices come to the catalog. Special prices do not come. uninstalled and reinstalled. Catalog remove & reupload. Do not change.

**Desktop (please complete the following information):**
 - OS: Win 10
 - Browser: Chrome
 - Version: 85.0.4183.121

**Additional context**
FB

[2020-09-25 10:29] dahmsh commented on #446
SyntaxError: JSON Parse error: Unrecognized token '<'
parsererror
<br />
<b>Fatal error</b>: Uncaught Error: Class 'FacebookAds\Object\ServerSide\AdsPixelSettings' not found in /home/seejad/public_html/vqmod/vqcache/vq2-system_library_facebookcommonutils.php:446
Stack trace:
#0 /home/seejad/public_html/vqmod/vqcache/vq2-admin_controller_extension_facebookadsextension.php(422): FacebookCommonUtils-

[2020-09-25 10:31] dahmsh opened #482 "[BUG]"
**Webstore Url**
Your webstore Url

**FBE plugin version**
Version of FBE plugin

**OpenCart version**
Version of OpenCart

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

*

[2020-09-25 10:31] dahmsh commented on #482
خطأ JSON تحليل: خطأ قواعدي غير المعترف بها رمز '<'
parsererror

خطأ فادح : خطأ Uncaught: الفئة 'FacebookAds \ كائن \ جانب الخادم \ AdsPixelSettings' غير موجود في /home/seejad/public_html/vqmod/vqcache/vq2-system_library_facebookcommonutils.php:446
المكدس trace:
# 0 /home/seejad/public_html/vqmod/vqcache/vq2-admin_controller_extension_facebookadsextension.php(422): FacebookCommonUtils-> getPixelAAM

[2020-09-25 13:43] Superstar18 commented on #470
Hi @konstantinosbotonakis,

Due to the long reponse, i installed a older version of the module so we could not have any problems with the pixel and to make the website work. This issue was detected 2 weeks ago and i'm waiting for a solution from then. Do you think the error log will include what you need so you can check the last version of the module that made these errors?

Because if i add agai

[2020-09-25 14:02] konstantinosbotonakis commented on #470
The best way is to make a copy of your website, create a staging env for ex: test.ecboo.com
enable the logs and desplay_errors = 1

Then install latest version and post here the error.

[2020-09-25 14:48] Superstar18 commented on #474
Hi @CheckoutPage. I'm talking with a developer from facebook at this topic about the same issue: https://github.com/facebookincubator/Facebook-For-OpenCart/issues/470

Could you send there the error log? I don't have this version of the module installed and i can't send the error log so he could check the problem.

[2020-09-25 15:20] Superstar18 commented on #470
Yes but that's too complicated and we need this to be done by a developer and the one we work with is not available till next month. I saw that this error appears at many stores. You have many tickets opened with this issue. I think somewhere is a general bug or something. Do you have any suggestions?

[2020-09-27 10:18] haxcop commented on #450
This Helped! Thanks!

[2020-09-28 15:50] dmasterz commented on #470
Hello All,

I may be able to offer a little insight into a workaround for this issue, albeit not hellish much help at the minute but it may steer the dev's in the right direction.

It seems to be an issue with the SASS Cache, and so disabling the SASS cache restores cart and checkout functionality.

Theme cache can stay enabled but as soon as I enable the SASS cache the 500 error persists.

My env

[2020-09-28 15:51] dmasterz commented on #474
please see my post on #470 for a temporary workaround.

[2020-09-28 16:29] Superstar18 commented on #470
Hi @dmasterz,
Thank you for the info. I hope they will find a solution for this.
Could you provide the error log so @konstantinosbotonakis could take a look?

[2020-09-28 16:43] dmasterz commented on #470
Sure can, although like I say, no errors are generated...

The issue has also re-appeared for me... with all cache's off... but it took a while to do so and hard refreshing the browser does see the pages come back sporadically.

Upon further testing, I can go all the way through checkout up till the point where i confirm the order and the PayPal form should pop up, then 500 error.

Attached my err

[2020-09-28 16:45] dmasterz commented on #470
display_errors = 1
error_reporting = E_ALL

Both set in php.ini and yet no errors, just those warnings.

[2020-09-28 17:21] konstantinosbotonakis commented on #470
The error log you attached has only warnings, no fatal errors. Also all warnings are related to missing images from the folder /image

Not related to this error.

[2020-09-28 17:22] konstantinosbotonakis commented on #470
Steps to show all errors:
Open config.php file.
After <?php
you add:
`ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
error_reporting(E_ALL);`

Save file and refresh the checkout. It should now show the actual error.

[2020-09-28 17:32] dmasterz commented on #470
Thanks @konstantinosbotonakis , but that hasn't changed the 500 error.

I'm familiar with the kind of errors I should be seeing, but nothing is shifting this 500 error page, but refreshing the page a few times does seem to get you past the 500 error and back to the cart or checkout page.

config.php is as follows now:

<?php

ini_set('display_errors', 1); ini_set('display_startup_errors', 1); erro

[2020-09-28 17:36] konstantinosbotonakis commented on #470
The only way, that you force php error to show, but they don't show is when you have custom php.ini / .user.ini file inside the opencart's root folder. In case you do have one or both of these files, please rename them to something else temporarily and try again but having the code I sent inside config.php file.

Unfortunately, no dev can help with the problem, if we don't know the actual problem

[2020-09-28 18:15] dmasterz commented on #470
Thanks @konstantinosbotonakis,

As a C#/VB developer in my own spare time, I fully understand.

I've checked my PHP settings and I do have a php.ini file within my site root which overrides the server provided default, a test of which you can see [here](https://www.bubblesboutique.biz/phptest.php).

You will see display errors is on and yet the 500 error page persists. I've removed the .ini and th

[2020-09-28 18:17] konstantinosbotonakis commented on #470
@dmasterz is this happening with OpenCart v.3.0.2.0 only? I've tried the latest OpenCart version 3.0.3.6 and cannot replicate it.

[2020-09-28 18:33] dmasterz commented on #470
This is on OpenCart Version 3.0.3.3.

I've checked that error work on the site as you will see [here ](https://www.bubblesboutique.biz/testerror.php) so this is definitely something on the OpenCart end.

[2020-09-28 18:35] konstantinosbotonakis commented on #470
FYI I made a quick video, with OpenCart 3.0.2.0 and installing the latest Facebook Extension v3.1.0 and as you can see it works as expected. That's the version that the original bug reported.

[![OpenCart 3.0.2.0 - Facebook Business Extension](https://img.youtube.com/vi/IaY_H6mNYSM/0.jpg)](https://www.youtube.com/watch?v=IaY_H6mNYSM)

[2020-09-28 18:50] dmasterz commented on #470
I think the issue presents itself only after actually finishing the set-up of the plugin (Linking to FB), And I can only speak for OpenCart 3.0.3.3, on both new and existing installs, standard theme and various 3rd party themes.

I cannot upgrade and try any newer version of OpenCart due to a couple of current issues people are experiencing on the OpenCart github which i experienced on one of my o

[2020-09-28 19:50] dmasterz commented on #470
@konstantinosbotonakis ok, so I've installed 3.0.3.6 and now I'm getting a different issue which I believe you may be facing also as you missed a set-up step or 2 in your video.

After installing the module, you must turn the sass and theme cache off, enable the Facebook extension module and then refresh your modifications cache.

If you look at the facebook extension page within the admin I'm gue

[2020-09-28 19:54] dmasterz commented on #470
However, completing the install properly doesn't rid us of the above error on 3.0.3.6 though and the install never fully completes.

[2020-09-28 20:20] dmasterz commented on #472
This may be related to the open issues: #470 #474

[2020-09-28 20:21] dmasterz commented on #470
I may have stumbled on another issue ticket where someone is seeing the error tagged above.

[2020-09-28 22:02] DORMETA opened #483 "[BUG]"
**Webstore Url**
https://dormeta.ro/

**FBE plugin version**
3.1.0

**OpenCart version**
2.3.0.2

**Describe the bug**
A - When in category page and add product to cart the pixel doesn't fire (add to cart event missing and the product id's also)
B - When click on finalize order and land on checkout/checkout url to place the name, phone, adress etc the Initiate checkout event is missing and the sel

[2020-09-29 08:53] abooodi8 opened #484 "permission denied"
**Webstore Url**
www.nasaembeauty.com

**FBE plugin version**
3.0.3.1

**OpenCart version**
3.0.3.3

**Describe the bug**
I made a connection between the Facebook store and Opencart Store, I did download the plugin but I could not install it from Extension witch I had to upload them through SSH and it cases a problem with some permission to the path of Var/Html/www/system/vendor file which had the

[2020-09-29 10:46] emreacar commented on #479
Same issue. When clients go checkout page throws an error "page not found" on route=checkout/checkout.

[2020-09-29 13:25] TimwaySupport commented on #456
Hi, we find that some of our shops running oc 2.X version has no problem

We just find that our website seems not running on http2:
Website: https://www. jekca .co m.au/

http2 server test:
https://tools.keycdn.com/http2-test

So for the error: [Fri Aug 07 11:37:19.851100 2020] [http:error] [pid 24658] AH02429: Response header name 'FacebookAds\CrashReporter ' contains invalid characters, aborting

[2020-09-29 13:55] dmasterz commented on #470
#479 - seems to be the same issue also.

[2020-09-29 13:59] dmasterz commented on #470
seeing as no-one can get past the 500 error and actually produce any usable errors/logs with errors as there quite simply not being generated it seems, im not sure how to proceed.

@konstantinosbotonakis - Would a zip of a site (inc. mysql dump) allow the debugging of this if it were to be restored your end?

[2020-09-29 14:08] konstantinosbotonakis commented on #470
Nope, that's not the same. According to the actual code, if the extension is not installed from Extension -> Modules, that's normal error. This reply says it too: https://github.com/facebookincubator/Facebook-For-OpenCart/issues/479#issuecomment-697184024

As per the second question, no, mysql dump won't help. The compatibility usually is because of other 3rd party extensions (files) not a config

[2020-09-29 14:24] dmasterz commented on #470
I believe it is the exact same error as in that comment the op states "The setup gets completed but when I click add2cart it shows 500 error." which is exactly the same issue everyone is experiencing.

no one is getting the an error in either logs or on the 500 page regardless of php.ini's etc. On a local host this is the same behaviour even without any third party plugins.

As I stated though,  y

[2020-09-29 16:50] dmasterz commented on #470
I can now confirm that there are no errors being generated.

I've used a custom php.ini which overrides the server defaults and set:
`log_errors = On
error_reporting = 32767
error_log = ~/log/php_errors.log
magic_quotes_gpc = Off
register_globals = Off
default_charset	= UTF-8
memory_limit = 512M
max_execution_time = 36000
upload_max_filesize = 999M
safe_mode = Off
mysql.connect_timeout = 20
sessio

[2020-09-29 20:42] RabeArshad opened #485 "An Error occurred while fetching FBE install config"
I am unable to link my local host OpenCart with Facebook store. I have tried all Open cart versions 3.x.x but getting the same error. I am using the latest version of Facebook Business Extension.

![Issue1](https://user-images.githubusercontent.com/72106070/94613497-84e6df80-0259-11eb-88fe-927d3507f4b5.png)
![Issue2](https://user-images.githubusercontent.com/72106070/94613522-8c0ded80-0259-11eb-86

[2020-09-29 21:49] ventienda commented on #470
I have the issue. I use OC version 3.0.3.2 and Journal theme. FB Plugin Version: 3.1.0.
Evertything works great but Cart and checkout pages. An 500 error page is all I can find.

[2020-09-29 23:18] dmasterz commented on #470
Hey @ventienda,

Do you get any errors in the OpenCart Error Log or Server PHP logs?

[2020-09-30 07:30] dtying commented on #485
Hi @RabeArshad , localhost is not working as it failed at url validation step and can't be bypassed.

[2020-09-30 13:16] AbdalhadyDweik opened #486 "An Error occurred while fetching FBE install config"
![facebook ads Jodealz 3](https://user-images.githubusercontent.com/72141854/94689619-c3eb6280-0337-11eb-8bc3-c320d649e5e5.png)
![facebook ads Jodealz 4](https://user-images.githubusercontent.com/72141854/94689824-feed9600-0337-11eb-8548-afdb89d8c759.png)

 Hello,
Please check the issue in last page in setup Facebook, please note that the website in our server.

Thanks

[2020-10-01 13:40] AbdalhadyDweik commented on #486
.

[2020-10-03 09:28] AbdalhadyDweik commented on #486
An Error occurred while fetching FBE install config

[2020-10-03 19:32] Superstar18 commented on #470
So it seems we are doomed :))) Facebook doesn't care about us anymore :)))

[2020-10-04 08:35] hassni1 opened #487 "[BUG] Missing Purchase Value Parameter Opencart FB MODULE"
**Webstore Url**
https://www.qmart.pk/

**FBE plugin version**
Plugin Version: 3.1.0

**OpenCart version**
Version of 3.0.2.0

**Describe the bug**
today i noticed in pixel there is diagnostics found 2 errors (Missing Purchase Value Parameter) (Missing InitiateCheckout Value Parameter)
more detail i checked in details its missing Parameter currency value.
Please guide how to fix the issue.

**Scre

[2020-10-04 13:51] asifhu03 commented on #479
For info I'm having the same issue. Wasn't there on the previous version of the extension however after updating yesterday my Cart and Checkout pages display the 500 Internal Server Error page. When I disable the extension the issue goes away so it's definitely this extension.

Would love a fix as everything else (including the Messenger button) works perfectly.

[2020-10-04 19:27] dmasterz commented on #470
@Superstar18 ,

Did you manage to get the logs/errors you were asked for?

[2020-10-05 07:47] designlab9898 commented on #479
i'm following this thread because i have the exact same issue using latest FBE v3.
cart and checkout page leads to "page not found"

[2020-10-05 08:03] Superstar18 commented on #470
Hi @dmasterz
I downgraded the module to a earlier version that workes because we can't stay with the website unfunctional for that long. We have much trafic and client on the website and this error keeps the website not functional in a major way.
So sending you error log now is not relevant because we don't have this version of the module live on the store.

I would gladly make a copy of the websi

[2020-10-05 14:11] dmasterz commented on #470
ok @Superstar18,

It would be best if you had staging environment you mentioned as then all changes can be tested to save you and your customers headaches at times like this, but I understand its not feasible in all scenarios.

I was just double checking as I didn't think it was fair for you to imply that "Facebook Doesn't Care" when in actual fact the developers helping on the open source Faceboo

[2020-10-05 14:22] Superstar18 commented on #470
@dmasterz As i understood from the discution, we don't have here any official developer that could solve the problem officialy. Just the people in this tread that try to help.
We all have the same issue si with or without my error log it surely makes no difference. Even if i would gladly send it to you, i don't have the skills to do what you said earlyier and the developer we work with is not avai

[2020-10-06 08:16] AbdalhadyDweik opened #488 "An Error occurred while fetching FBE install config"
Hi,
Please see the **issue in last page in configuration** of opencart plugin.

**An Error occurred while fetching FBE install config**

**Important, Important, Important,**

![facebook ads Jodealz 3](https://user-images.githubusercontent.com/72141854/95176270-4e631480-07c5-11eb-8aac-1bda8fbf9a57.png)

![facebook ads Jodealz 4](https://user-images.githubusercontent.com/72141854/95176283-5622b900-0

[2020-10-06 09:11] konstantinosbotonakis commented on #479
The solution here, is to uninstall **all versions of the plugin** that you may have installed and then install the latest version only and then refresh modifications.

Constant FACEBOOK_CUSTOMIZATION_GREETING_TEXT_CODE is not used by the latest version and there's a conflict when you have a previous version installed along with the latest one.

[2020-10-06 09:14] konstantinosbotonakis commented on #470
There's a known conflict when previous versions are installed. You need to delete all previous versions of the plugin, and clear the modifications. Then install only the latest version and refresh modifications. Problems with constant FACEBOOK_CUSTOMIZATION_GREETING_TEXT_CODE  are resolved, only by this way.

[2020-10-06 09:20] konstantinosbotonakis commented on #488
I can see that you have custom admin folder's name from admin -> margareta

You need to uninstall the plugin, open the files with an editor and replace **admin** with **margareta**. Then zip the files like an ocmod and re-install the plugin.

If you can't do this, you can do something else.

Uninstall the extension and download this custom version: https://github.com/konstantinosbotonakis/Facebook

[2020-10-06 12:26] mkusma commented on #470
For the 500 error on checkout, if you replace DIR_STORAGE/modification/system/engine/router.php with the original version, then checkout will work, albeit without FB integration, but at least it works.

[2020-10-06 21:32] patikas14 opened #489 "Messenger Chat not working / showing up even if its enable [BUG]"
**Webstore Url**
https://katanou.gr

**FBE plugin version**
3.1.0

**OpenCart version**
3.0.3.2

**Describe the bug**
I have added, edited and enable the facebook messenger chat plugin, but no messenger bubble on front site!
If anyone can help, please contact me..

**Screenshots**
1) https://drive.google.com/open?id=1Ke1DfNX0_MES1yMYLRDPaDOV4k7sQHAZ
2) https://drive.google.com/open?id=13J-D_8BoHED

[2020-10-07 09:22] doandbe opened #490 "Facebook Business Extension doesnt enable the category discounts used by Multi discount pack extension"
**Webstore Url**
Your webstore Url www.doandbe.gr

**FBE plugin version**
Version of FBE plugin 2.2.1

**OpenCart version**
Version of OpenCart 2.3.0.2

**Describe the bug**
Facebook Business Extension doesn't enable the group discounts used by Multi discount pack extension
Multi Discount pack extension is working properly
![category discounts](https://user-images.githubusercontent.com/58469642/95

[2020-10-07 15:41] Secretsmile85 opened #491 "[BUG] Product Feed Information"
**Webstore Url**
Schelmart.com

**FBE plugin version**
3.0.0

**OpenCart version**
2.1.0.2

**Describe the bug**
Hi, I couldn't find any way to configure what information and characteristics will be provided for a facebook catalog. The main thing is that facebook gives an advice to specify either fb_product_category or google_product_category. I can't change it in facebook directly - it says that

[2020-10-08 06:12] #490 closed

[2020-10-08 06:13] doandbe commented on #490
οκ

[2020-10-08 06:58] RogerAndersson opened #492 "[Feature Request] Add all product categories to product feed, use both product_type and google_product_category fields"
**Webstore Url**
https://batritningar.se/

**FBE plugin version**
3.1.0

**Is your feature request related to a problem? Please describe.**
For products belonging to several categories in OpenCart, only one category appears in google_product_category, and you can't control which one is used.
Example: sub-category 2
And the google_product_category is probably not related at all to the categories in

[2020-10-08 08:36] RogerAndersson commented on #492
#493

[2020-10-09 00:26] alireza-shamakhy commented on #479
@konstantinosbotonakis  I uninstalled all versions of the plugin and installed the latest version and refreshed modifications but AGAIN FAILED!

[2020-10-09 00:28] alireza-shamakhy commented on #479
Facebook team, is there any updates regarding the issue? appreciate if you can fix it.

[2020-10-09 02:43] TimwaySupport commented on #467
Our shop, https://www. jekca.  com.au/,  running on a http/1.1, server, when install v3.1 facebook extension, encounter the same problem (error 500 on checkout page, with Apache error log:

[Fri Aug 07 11:37:19.851100 2020] [http:error] [pid 24658] AH02429: Response header name 'FacebookAds\CrashReporter ' contains invalid characters, aborting request

We installed v3.0.1 facebook extension now, h

[2020-10-13 06:47] Miroslav020788 commented on #442
seems to be the trouble is settled

[2020-10-13 06:47] #442 closed

[2020-10-13 11:24] Miroslav020788 opened #494 "[BUG] Uncaught TypeError: Illegal invocation"
**Webstore Url**
https://corrector.com.ua

**FBE plugin version**
Plugin Version: 3.1.0

**OpenCart version**
Version 3.0.3.2 (rs.2)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://corrector.com.ua' or any category in the catalog, like a @https://corrector.com.ua/vyroby-z-paperu-1@
2. Click on 'buy butto

[2020-10-15 10:35] baron-kg commented on #442
@Miroslav020788 Hi. I'm having the same problem with the extension. Could you please share what you did to solve it? Thanks in advance.

[2020-10-19 13:34] Superstar18 commented on #470
Hi @dmasterz

You have attached the log file.

@konstantinosbotonakis i tried what you suggested but the issue is still the same.
[log file.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/5402124/log.file.log)

[2020-10-19 18:43] AbdalhadyDweik opened #495 "Sorry, this content isn't available right now"
Hello,
We have issue in Opencart plugin, when press on "Manage Settings"
it will open new tab: **"Sorry, this content isn't available right now"**.
As below images.

The second Page in: **extension>extension> modules> Facebook Ads Extension**
Any Help please..

![facebook ads Jodealz 5](https://user-images.githubusercontent.com/72141854/96497563-8cdfe100-1253-11eb-8353-79352fbf2238.png)
![facebook

[2020-10-20 01:30] dtying commented on #495
It seems that you're using an old version of plugin. Please try to upgrade to v2.2.1 or the latest version.

[2020-10-20 13:45] scooweb opened #496 "Erro opencart ao integrar com facebook"
There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Github if this error keeps showing.

[2020-10-23 06:45] Aleksandr111111111 opened #497 "[BUG]Oops, something went wrong"
**Webstore Url**
https://itopshop.biz/

**FBE plugin version**
Plugin Version: 3.1.0

**OpenCart version**
OpenCart © 2009-2020 Всички права запазени.
Версия 2.3.0.2

**Describe the bug**
Updated extension facebook does not establish contact with the store

**To Reproduce**
Steps to reproduce the behavior:
1.  https://drive.google.com/file/d/1UmEhCvB5JUNBnCVIl88fcD7NrHCqWDKm/view?usp=sharing
in th

[2020-10-23 16:05] eyzon opened #498 "The event contains duplicate data"
I'm having a diagnostic error from facebook business:
"You send AddToCart events through both your pixel and your server, but duplicate data is not deleted because no event_id parameter has been added for that event."

I'm using the latest version 3.1.0 of the plugin and using Developer Tools found out that compare to previous version there is an extra parameter that is passed called "eid" (From E

[2020-10-26 08:36] dtying commented on #497
Hi @Aleksandr111111111 , thanks for reporting the issue. The error is due to the currency you set in OpenCart platform 'BGN' is not valid in Facebook platform - https://developers.facebook.com/docs/marketing-api/currencies/

[2020-10-26 12:43] Aleksandr111111111 commented on #497
thanks

[2020-10-26 12:43] #497 closed

[2020-10-27 07:18] Aleksandr111111111 commented on #497
Hello
Why in previous versions of the module Facebook had currency, but now it has been removed? what should i do how to get the currency back?

[2020-10-27 07:23] Aleksandr111111111 commented on #497
The Bulgarian currency has been for five years, but now there is no way to work?

[2020-10-28 09:58] KyleVanAswegen commented on #5
Hi Everyone,

Can anyone please help me. I'm am using OC V 3.0.3.6

Can one advise if there is a version of the FB Ads extension for OC 3.0.3.6 or which version on OC I can use to get the FB Ads extension to work?

Also another question I have been wanting to find out but can't seem to find.... Is the Products Data base for 3.0.3.2 different to the data base for for 3.0.3.6?

Hope someone can help

[2020-10-29 14:50] hassni1 opened #499 "FB shop Displayed out of stock and discontinued products"
**FBE plugin version**
Plugin Version: 3.1.0

**OpenCart version**
3.0.2.0

Module sync the all products on fb catalog, all stock statuses in stock, discontinued, pre-order, out of stock and etc.
i want this module only sync only in stock products, exclude out of stock and sold out items, please guide how to do that.

[2020-11-01 16:05] pankajparas opened #500 "Set Username and Password for URL feed"
Hello,
How can I set/create facebook feed authentication username and password to upload/download feed data by URL (webstename.com/index.php?route=extension%2Ffacebookfeed%2FgenFeed).

[2020-11-01 16:43] papko7 opened #501 "Problem with opencart module"
Hello I tried to install facebook ads extension. After install and opening module I am getting this error in console. Webpage can not loading I waited for a while. Could you help me what to do ?
[](url)
<img width="1440" alt="Snímka obrazovky 2020-11-01 o 17 42 25" src="https://user-images.githubusercontent.com/37934869/97808862-a4fb2b80-1c69-11eb-8f91-8dc46b83ffe0.png">
<img width="1172" alt="Sn

[2020-11-02 01:26] dtying commented on #501
Hi @papko7 , there shouldn't be any 'Resync' button shown in the latest version, and it implied that your module installation process is not correct because the cache is not refreshed. Please strictly follow the installation guide to perform the installation process. You can find it in the repo home page. Thanks!

[2020-11-02 01:31] dtying commented on #500
Hi @pankajparas, thanks for requesting the feature! Currently there's no way to set username/password in feed. We'll take it in to consideration. Thanks!

[2020-11-02 07:11] hassni1 commented on #499
No Response yet

[2020-11-02 08:13] dtying commented on #499
Hi @hassni1, thanks for reporting the issue. Can you share us a screenshot of your products showing those statuses which you don't want to be synced. That can help us to reproduce the same issue in our end. Thanks!

[2020-11-02 10:41] hassni1 commented on #499
Here is the screenshot
https://prntscr.com/vbqo1v
https://prntscr.com/vbqo77

[2020-11-02 11:52] hassni1 commented on #499
Admin panel screen shot
https://prntscr.com/vbshh0

[2020-11-02 18:48] hassni1 commented on #499
Hi @dtying please check the screen shot

[2020-11-03 13:35] danailddd opened #502 "[BUG] Oops, something went wrong. Version of OpenCart 3.0.3.6 (Store upgrade from 2.3.0.2 to 3.0.3.6) 3.1.0 (Module upgrade from 2.0.1)"
**Webstore Url**
goldenshop.bg

**FBE plugin version**
3.1.0 (Module upgrade from 2.0.1)

**OpenCart version**
Version of OpenCart 3.0.3.6 (Store upgrade from 2.3.0.2 to 3.0.3.6)

**Describe the bug**
Oops, something went wrong.
This may be because of a technical error that we're working to get fixed. Try reloading this page.

**To Reproduce**
Install https://github.com/facebookincubator/Facebook-

[2020-11-03 14:07] hassni1 commented on #499
@dtying waiting for the response

[2020-11-03 14:19] danailddd commented on #486
same here

[2020-11-04 11:23] hassni1 commented on #499
@dtying waiting

[2020-11-04 13:52] abbywelford commented on #470
Hi All,

Has any progress been made here at all? Or does anyone know of any
alternative modules which would give us working functionality?

Kind regards

*Abigail Cook*
*Operations Manager*

*Welford Media Ltd*
Globe Quays
16 Globe Road
Leeds
LS11 5QG

T: 01133 506099
Web: www.welfordmedia.co.uk <https://welfordmedia.co.uk/>
Twitter: www.twitter.com/welfordmedia
Facebook: www.facebook.com/welfordm

[2020-11-05 17:34] hassni1 commented on #499
@dtying no response 👎

[2020-11-06 14:44] hassni1 commented on #499
@dtying Please Reply , I think i have to uninstalled the module

[2020-11-08 17:03] papko7 commented on #501
awesome thanks

[2020-11-08 17:03] #501 closed

[2020-11-08 17:05] papko7 opened #503 "AddToCart and Event ID Parameter bug"
Hello
I am getting two error in my pixel
1. ISSUE
You're sending AddToCart events through both your pixel and the Conversions API, but they're not being deduplicated because an event_id parameter hasn't been received for this event. Without an event_id, your AddToCart events will be double counted because they can't be deduplicated.
This may cause issues with the measurement of your events as well

[2020-11-08 21:47] tosswithim opened #504 "[BUG] products rejected due to errors opencart 3.0.3.6, facebook Plugin Version: 3.1.0, Pixel not ready"
**Webstore Url**
https://www.addfresh.in/

**FBE plugin version**
Plugin Version: 3.1.0

**OpenCart version**
Version 3.0.3.6

**Describe the bug**
A required field is missing:
link
link
Products without "link" information can't be uploaded. Please check that this field is included for each product in a separate, labeled column.

This url is classified as malicious:
image_link
image_link
This link

[2020-11-09 08:02] dtying commented on #503
Hi @papko7, thanks for reporting the bug! It has been fixed in the latest release: https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v3.1.1

[2020-11-10 14:20] papko7 commented on #503
Awesome thanks

[2020-11-10 14:20] #503 closed

[2020-11-10 15:39] eyzon commented on #498
It seems that it resolved at 3.1.1 version

[2020-11-10 15:39] #498 closed

[2020-11-11 10:12] doandbe opened #505 "facebook business extension[BUG]"
**Webstore Url**
Your webstore Url
www.doandbe.gr

**FBE plugin version**
Version of FBE plugin
2.2.1
**OpenCart version**
Version of OpenCart
2.3.0.2

**Describe the bug**
A clear and concise description of what the bug is.

facebook catalog dont accept discounts made by Multi discount pack on categories , every time I change the category discount I have to go on each product an put a new price o

[2020-11-11 10:16] doandbe opened #506 "facebook business extension and multi discount pack incompatibility"
**Webstore Url**
Your webstore Url
www.doandbe.gr

**FBE plugin version**
Version of FBE plugin
2.2.1
**OpenCart version**
Version of OpenCart
2.3.0.2

**Describe the bug**
A clear and concise description of what the bug is.

facebook catalog dont accept discounts made by Multi discount pack on categories , every time I change the category discount I have to go on each product an put a new price o

[2020-11-11 12:05] jakemake opened #507 "OOPS Something get wrong [BUG]"
Here is the part of log file

2020-11-11 17:40:21 - Get Sample product feed
2020-11-11 17:40:21 - Complete - Get Sample product feed
2020-11-11 17:42:59 - Facebook Ads Extension version = 3.1.1
2020-11-11 17:42:59 - OpenCart version = 2.3.0.2
2020-11-11 17:42:59 - PHP version = 7.3.24
2020-11-11 17:42:59 - Verifying Availability of Facebook Ads Extension Settings Availability
2020-11-11 17:42:59 -

[2020-11-13 09:26] robteeshirtguy opened #508 "fault when using opencart 3.0.3.3 and vqmod"
hi i keep getting this error when using vqmod and facebook module
if i disable the facebook module my site works fine, if i disable vqmod facebook module works fine but not togetter
here the error im getting hope you can help with a fix
Warning: require_once(/home3/robert123/testing.com/vqmod/vqcache/vendor/autoload.php): failed to open stream: No such file or directory in /home3/robert123/testing

[2020-11-15 22:29] Tenet3005 commented on #506
I have the same problem.
I hope for help.

[2020-11-16 12:30] doandbe commented on #506
well i dont see any light in the tunnel nobody is answering

[2020-11-16 21:56] Tenet3005 commented on #506
And what's next?
Are you going to keep this problem and no one's going to answer us?
We want a solution and it's fast.

[2020-11-17 12:49] doandbe commented on #506
yes what can i do? I dont know what to do i am trying

[2020-11-17 14:15] carlopezs commented on #442
x2

[2020-11-17 23:30] linuxchips commented on #502
same here, i also think #507 is also the same issue here

[2020-11-19 10:07] myartmarket opened #509 "CART PAGE NOT WORKING : The page you requested cannot be found!"
**Webstore Url**
https://artmarket.ge/

**FBE plugin version**
Facebook 3.1.1

**OpenCart version**
OC 3.0.3.6

**Describe the bug**
after that user add product in cart they can't access to cart page and i get this error "The page you requested cannot be found!"...
but when uninstall plugin then everything is ok

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3

[2020-11-19 18:07] wammachado commented on #509
Estou com o mesmo problema, alguem ja possui a solução?

[2020-11-19 18:23] zigi00x commented on #509
system/library/facebookcommonutils.php change line 8 to require_once DIR_SYSTEM . 'library/vendor/autoload.php';

[2020-11-19 18:24] doandbe commented on #506
no answer from anybody???please little help!!!

[2020-11-19 19:09] myartmarket commented on #509
I change : system/library/facebookcommonutils.php change line 8
FROM : require_once __DIR__ . '/vendor/autoload.php';
TO : require_once DIR_SYSTEM . 'library/vendor/autoload.php';
as you mention above and also clean cache, Refresh Modifications and anyway the same result still can't access to CART
Please help what i miss or what can i do ?

[2020-11-19 19:13] zigi00x commented on #509
Do you have some errors in error log?

[2020-11-19 19:24] myartmarket commented on #509
NO i Check twice in OC menu and on SERVER also....

[2020-11-19 19:30] zigi00x commented on #509
Do you have some plugins what affect cart?

Have you tried disable some plugins?

Have you tried installing a plugin FB on a clean oc template?

[2020-11-19 19:32] myartmarket commented on #509
only one plugin "Multivendor" and when i delete FB Plugin then works good - OK, Now i'll try install only FB and Give you answer ASAP...

[2020-11-19 20:04] myartmarket commented on #509
As i tested only FB Plugin have Issue....

[2020-11-19 20:10] alengeere opened #510 "[BUG] Cart & Checkout 500 Error - Are you kidding us?"
**FBE plugin version**
v3.1.1

**OpenCart version**
2.1.0.1

**Describe the bug**
Are you kidding us, facebook guys? Everyone using opencart has been having problems for weeks and you are not doing anything!!!

Cart and checkout become inoperable when the application is installed. Http 500 internal server error displayed.

If the application is disabled, everything works as it should.

Are you thi

[2020-11-19 20:52] wammachado commented on #509
don't work

[2020-11-19 21:01] wammachado commented on #509
don't work

[2020-11-20 06:57] myartmarket commented on #510
I've Same problem Cart & Checkout page gets error (The page you requested cannot be found!)
OC 3.0.3.6
FB 3.1.1
Theme : Journal 3

FACEBOOK WE NEED HELP ASAP !!!!!

[2020-11-20 10:22] zigi00x commented on #509
I recommend contacting the template manufacturer.. What template are you using?

[2020-11-20 10:29] myartmarket commented on #509
I think issue in FB plugin because other people also have problem like this, and i have tested on default template also and same problem, everything works good before install FB plugin, I've teated almost everything with default plugin, with only FB plugin, other templates also and result FB plugin have issue

[2020-11-20 10:47] zigi00x commented on #509
This problem seems to appear in oc 3.0.3.6.

[2020-11-20 11:06] doandbe opened #511 ""FACEBOOK BUSINESS APP IS NOT SYNCHRONIZING ALL PRODUCT CATEGORIES CANT DO ADS""
Webstore Url
Your webstore Url
www.doandbe.gr

FBE plugin version
Version of FBE plugin
3.1.1
OpenCart version
Version of OpenCart
2.3.0.2

**Describe the bug**
FACEBOOK BUSINESS APP IS NOT SYNCHRONIZING ALL PRODUCT CATEGORIES ON THE CATALOG ALTOUGH IS SHOWING ALL PRODCUTS, THEREFORE I AM NOT ABLE TO MAKE ADS USING PRODUCT CATALOG AND CHOOSING THE CATEGORIES I NEED TO ADVERTISE!!! THIS IS A SERIOU

[2020-11-21 11:19] baron-kg opened #512 "[BUG] Cannot Install Plugin - Error "An error occurred while fetching FBE Install config""
**Webstore Url**
www.eparhija.com

**FBE plugin version**
3.1.1

**OpenCart version**
OpenCart 3.0.3.3

**Describe the bug**
The bug appears after clicking on the final step of the plugin setup. Once clicked the plugin loads for a short time after witch a screen appears that states the following: "Oops, something went wrong.". After closing that window a popup appears that states that "An error oc

[2020-11-22 17:20] jakemake commented on #502
any solutions?

[2020-11-23 16:32] Bem44 commented on #510
Is the problem already solved? We are facing similar issues here....

[2020-11-23 18:09] FoZo opened #513 "[BUG]"
**Webstore Url**
popi.se

**FBE plugin version**
311

**OpenCart version**
3.0.2.0

**Describe the bug**
Wrong sale_price and sale_price_effective_date

**To Reproduce**
Steps to reproduce the behavior:
1. Update catalog data
2. Check prices

**Additional context**
It looks like index.php?route=extension/facebookfeed/genFeed does not provide the correct information about current "special offers" a

[2020-11-23 19:03] doviis opened #514 "Translate notification bar"
Hello,
How to translate cookie notification ?

" Our Site Uses Cookies

By clicking Agree, you agree to our terms of service, privacy policy and cookies policy."

Where is the file with that string? I will translate straight from file.

[2020-11-23 20:41] rhinsu opened #515 "Messenger Bubble not visible on mobile view"
hello there,
is the messenger bubble not visible on mobile view, or how do i enable it.

[2020-11-23 21:46] djlaserman commented on #467
I had the exact same error. (My shop had crashed [ from installing an isenselabs badly coded plugin, which I had to pluck off the database and my install folder file by file, using the oc_extensions... table as a ref to see where all the bits and pieces had been installed to ] and I repatched my shop by overwriting all the OC files apart from my configurations with the OC 3.0.3.6 official release

[2020-11-24 05:27] myartmarket commented on #510
NO
But my solution is that I uninstall v3.1.1 and install v3.0.1 and works good, I hope FB will fix this BUG ASAP....

[2020-11-24 23:14] Murfur commented on #509
I don't think it is a clash with other extensions.

I got the same error in a client site running on OC 3.0.2.0 with Jupiter theme and several extensions.
As part of my diagnosis, I Installed the 3.1.1 extension on a fresh vanilla install of OC 3.0.2.0 and then OC 3.0.3.6 as well, both with no other extensions or themes. In both cases, everything is fine until you connect the extension to Facebook

[2020-11-25 02:31] PandaDevAmin opened #516 "[BUG]"
**Webstore Url**
bangsar.cziplee.com

**FBE plugin version**
3.0.1

**OpenCart version**
2.3.0.2

**Describe the bug**
I want to sync over 20k product listing but some times in Facebook failed to sync and show error.

**Screenshots**
![fb_sync_failed](https://user-images.githubusercontent.com/40019658/100175346-25c7e300-2f09-11eb-949f-93302adc9fd2.jpeg)

[2020-11-25 07:39] myartmarket commented on #509
OC 3.0.3.6
THEME : Journal 3
FB v3.0.1

Everything works good with other extensions also

[2020-11-25 10:14] tomeda commented on #502
Same here OC v.2.1.0.2 and Facebook Ads Extension version = 3.1.1? Does anyone know which is the last one of the old versions that are working so I can downgrade to it?

[2020-11-28 08:21] ango2020 opened #517 "New version update problem"
**Webstore Url**
https://www.angottiorafo.it

**FBE plugin version**
Version of FBE plugin 3.1.1

**OpenCart version**
Version of OpenCart 3.0.2.0

**Describe the bug**
I currently have the FBE 2.1.3 version. Can I install version 3.1.1? If so, how?

?????????????
Could you please tell me the steps to follow? Thanks

[2020-12-01 08:53] doandbe commented on #511
NO HELP AT ALL???NO SUPPORT AFTER ALL YOU JUST INSTALL EXETENSIONS AND THERE NOBODY TO HELP YOU

[2020-12-01 08:54] doandbe commented on #506
NO HELP AT ALL???NO SUPPORT AFTER ALL YOU JUST INSTALL EXETENSIONS AND THERE IS NOBODY TO HELP YOU

[2020-12-01 13:38] akulyhin opened #518 "[BUG] -"
**Webstore Url**
https://magmus.com.ua

**FBE plugin version**
3.1.1

**OpenCart version**
OcStore 2.3.0.2.3

**Screenshots**
I have a problem after install module: 1) https://prnt.sc/vtlyu5  2) https://prnt.sc/vtlzm9

[2020-12-02 00:43] conandrum opened #519 "[BUG]"
**FBE plugin version**
3.1.1

**OpenCart version**
2.3.0.2

**Describe the bug**
Using Extension installer, I get this popup msg.
Warning: require_once(/home/domain/public_html/vqmod/vqcache/vendor/autoload.php): failed to open stream: No such file or directory in /home/domain/public_html/vqmod/vqcache/vq2-system_library_facebookcommonutils.php on line 8

**Additional context**
The file /home/doma

[2020-12-02 07:47] mikemansset opened #520 "[BUG] FBE don't track purchase event if user use payment system LiqPay"
**Webstore Url**
manset.com.ua

**FBE plugin version**
3.1.1

**OpenCart version**
ocStore 3.0.2.0

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'manset.com.ua'
2. Make a purchase with LiqPay payment
3. Check on Event Manager on https://business.facebook.com/
4. And there are no purchases

**Screenshots**
If ap