[2019-05-21 10:58] siteadvice commented on #175
Unfortunately it does not log anything :-(

![image](https://user-images.githubusercontent.com/1247766/58090678-b3fa3500-7bbf-11e9-9672-5d42ed57dec0.png)

[2019-05-21 13:32] shue249 commented on #158
@svremeto , @saharock2019 , @claudineythomazette Can we ask for you to reach to us via email at ads_extension_opencart@fb.com. There is something we like to discuss with you offline. Pls also indicate your github user name so that it is easier for us to make the connection.

[2019-05-21 13:32] shue249 commented on #177
@1991x , @KonstantinGOT Can we ask for you to reach to us via email at ads_extension_opencart@fb.com. There is something we like to discuss with you offline. Pls also indicate your github user name so that it is easier for us to make the connection.

[2019-05-21 15:39] KonstantinGOT commented on #177
@shue249  sent

[2019-05-21 15:53] shue249 commented on #175
@siteadvice Have you made any changes to the plugin files? We found that sometimes this error is due to incorrect code syntax in the files.

[2019-05-21 16:33] siteadvice commented on #175
No - I haven't made any changes. I just downloaded the installation packages and attempted to install them. I have tried it with the latest version from Github as well as the latest version from the Opencart extensions library. Same result with both.

[2019-05-21 23:43] 1991x commented on #177
@shue249 sent

[2019-05-22 00:07] shue249 commented on #158
@svremeto , @saharock2019 , @claudineythomazette Thank you for your speedy response. We have landed a fix for your issue. Can you try to launch Facebook Ads Extension again and see if it is now working properly.

[2019-05-22 00:07] shue249 commented on #177
@1991x , @KonstantinGOT Thank you for your speedy response. We have landed a fix for your issue. Can you try to launch Facebook Ads Extension again and see if it is now working properly.

[2019-05-22 00:08] medeirosrafael commented on #177
@shue249 i'm facing same issue here.. i sent a email for you

[2019-05-22 00:12] KonstantinGOT commented on #177
@shue249  what steps should we do?

[2019-05-22 00:17] KonstantinGOT commented on #177
@shue249 i did the reinstall and cache delete but still same things

[2019-05-22 01:47] saharock2019 commented on #158
@shue249 nothing in my side. The page says we are workibg to fix this problem

[2019-05-22 06:07] Eaglebill commented on #177
I have the same problem, when i click manage settings the pop-up window says error.
![image](https://user-images.githubusercontent.com/7140192/58150986-ffb8e700-7c70-11e9-9528-016a884e0b88.png)

[2019-05-22 11:00] 1991x commented on #177
@shue249 it doesn't work.. still error

[2019-05-22 12:38] claudineythomazette commented on #158
same msg for me...

[2019-05-22 15:38] KonstantinGOT commented on #177
Is working again!!!

[2019-05-22 15:47] KonstantinGOT commented on #177
I still cant delete the settings
![Screen Shot 2019-05-22 at 8 46 56](https://user-images.githubusercontent.com/50840258/58188869-3d684080-7c6e-11e9-92c6-f9ebcbd73bf6.png)

[2019-05-22 16:19] KonstantinGOT commented on #177
@1991x can you delete settings?

[2019-05-22 20:27] 1991x commented on #177
@KonstantinGOT no I can't. But at least we can access the page

[2019-05-22 23:50] shue249 commented on #177
@1991x Can you share with us the log file of the plugin for us to take a look.

[2019-05-23 01:01] wegee-us commented on #177
the same as me, i can't delete the setting. it always shows some problem. i already sent log files and screenshot to your email.  ads_extension_opencart@fb.com

[2019-05-23 01:03] wegee-us commented on #177
@shue249 please fix it as soon as possible, thanks

[2019-05-23 06:52] svremeto commented on #158
Same

[2019-05-23 12:48] guilhermeojs commented on #177
![51](https://user-images.githubusercontent.com/20118742/58253809-a4095f00-7d3f-11e9-8a1f-2fdb2203bc40.png)

I got the same issue. I don't know if that is related with the fact that my old facebook page got removed and I couldn't unlink the OpenCart beforehand or something else. I've tried uninstalling it but it didn't work. Would you help me?

[2019-05-24 07:52] engasix commented on #176
@shue249 I am facing the same problem, I checked the OpenCart folder permissions are 755 and I didn't change the name of admin folder.

[2019-05-24 07:54] engasix commented on #176
My OpenCart version is 3.0.2.0 and extenstion version is 2.1.8

[2019-05-24 10:32] VitaliiFesh commented on #158
@shue249 I'm not able to install extension since 2.1.6 and 2.1.7
Invalid file type!

What could be a reason?
Thank you!

[2019-05-24 13:12] G0dzzilla commented on #89
I have the same problem unresponsive during sync.
Resync of 8000 products takes forever.

Follow my setup:
Facebook Ads Extension version = 2.1.8
Duo core VPS and 8GB RAM.
OpenCart version = 2.1.0.2
PHP version = 7.0.33

[2019-05-24 16:35] KonstantinGOT commented on #177
@shue249  Dear Shue do we have any update?

[2019-05-24 16:37] KonstantinGOT commented on #177
@guilhermeojs  I believe i have similar story

[2019-05-24 22:26] wegee-us commented on #177
a lot users have this common problem, i think this is caused by facebook side.

[2019-05-25 01:51] KonstantinGOT commented on #177
@wegee-us  I actually spoke with FB team  and they said that everything ok on their side

[2019-05-25 04:14] wegee-us commented on #177
@KonstantinGOT if facebook side is ok, then it should be the extension problem. i think this extension is developed by facebook? or it's third party extension?

[2019-05-25 04:34] KonstantinGOT commented on #177
@wegee-us  at first i thought that its FB developed  but they use different method of upload of products via pixel.
This is 3rd party and Mr @shue249 already made progress that we been able to access till settings but now awaiting to be able to delete them

[2019-05-25 11:33] guilhermeojs commented on #177
@KonstantinGOT Did you manage to fix it? I can't access the page to manage settings :/ As my previous facebook page got removed by Facebook I need to change the whole settings to link it with my new Facebook Page in order to add the Messenger plugin as well

[2019-05-25 16:03] shue249 commented on #177
@svremeto , @KonstantinGOT , @1991x , @wegee-us , @Eaglebill , @medeirosrafael , @guilhermeojs

Thank you for your patience with us. We are working to resolve this problem and we have some information and updates for you.

**Information**
Facebook Ads Extension/Facebook Business extension (the pop up window) and the Facebook for OpenCart (this plugin) is developed by Facebook. I am also an employe

[2019-05-25 16:04] shue249 commented on #176
@engasix Can you give the OpenCart folder permissions 775 recursively. Some of the files of the plugin was not able to be copied over correctly.

[2019-05-25 16:06] shue249 commented on #175
@siteadvice One more suggestion is to check if on the webserver error log file. You can try to install the plugin again and see if there are any error logs.

We see this problem happening when there are some code errors in your opencart webserver.

[2019-05-25 16:08] shue249 commented on #89
@G0dzzilla There are 2 things you can check.
1. Download the log file of Facebook Ads Extension plugin. From the log file you may be able to trace what happened during the initial catalog sync

2. To help mitigate large catalogs, we queries the database products in batches of 100. There could be a chance of Mysql database out of memory. You can take a look at this section to see if it helps - http

[2019-05-25 16:10] shue249 commented on #158
@svremeto , @saharock2019 , @claudineythomazette

Thank you for your patience with us. We are working to resolve this problem and we have some information and updates for you.

**Information**
Facebook Ads Extension/Facebook Business extension (the pop up window) and the Facebook for OpenCart (this plugin) is developed by Facebook. I am also an employee of Facebook and I am part of the core team w

[2019-05-25 16:12] shue249 commented on #158
@VitaliiFesh Are you using the exact zip file of our plugin or did you re-zip and renamed the file yourself. The plugin MUST end with ".ocmod.zip" extension, otherwise OpenCart will complain "Invalid file type"

[2019-05-25 16:17] guilhermeojs commented on #177
Thank you for your time and also for your commitment @shue249

I have the 2.1.8 version of the plugin installed and I can see the "Manage Settings" button (_it also shows the "Checking on upload status..." and I've also tried emptying cache and hard realoding but it hasn't worked_).

When I click the "Manage Settings" button pops me the "**Sorry, something went wrong**" page(I attached some screen

[2019-05-25 16:18] shue249 commented on #166
@HWDonald , @khrizzcristian We have released a fix that should be able to allow you to delete away the existing connections for page with page shop. Can you try to do that on your OpenCart website and let us know how it goes.

If it is still not working for you, we will need to contact you offline to request for additional help to troubleshoot.

[2019-05-25 16:23] shue249 commented on #177
@guilhermeojs Thank you for your feedback. Do you have a new Facebook page for your company? If so, there is another option for you to try out.

If you can access your Mysql database, you can delete away the existing Facebook Ads Extension settings and re-do the setup from scratch again. To do that, connect to your Mysql database and run this query.

`delete from setting where code = 'facebook';`

[2019-05-25 16:26] KonstantinGOT commented on #177
@shue249 I followed all the steps and still have same problem
![Screen Shot 2019-05-25 at 9 25 40](https://user-images.githubusercontent.com/50840258/58372206-24aa9580-7ecf-11e9-859d-dd287deb4b40.png)
![Screen Shot 2019-05-25 at 9 25 59](https://user-images.githubusercontent.com/50840258/58372207-27a58600-7ecf-11e9-82da-9f4f564301c6.png)

[2019-05-25 16:32] guilhermeojs commented on #177
@shue249
<img width="377" alt="Screen Shot 2019-05-25 at 13 26 37" src="https://user-images.githubusercontent.com/20118742/58372254-61878400-7ef1-11e9-99a9-2908e030b628.png">

It is saying that the table mydatabase.setting doesn't exist.

[2019-05-25 17:27] shue249 commented on #177
@guilhermeojs Did you configure any database "prefix" when you first setup OpenCart? By default, OpenCart will put in the prefix of "oc_" when you first do the setup, which means all your table names will be "oc_xxx". In this case, you can try oc_setting.

![image](https://user-images.githubusercontent.com/11957585/58372796-6ed65a00-7f55-11e9-95ab-21b2fd184d75.png)

[2019-05-25 20:46] guilhermeojs commented on #177
Damn. It has been a long time since I haven't done something on the DB. It worked.

As soon as i managed to delete the old settings I could access the "Manage Settings" and link it to my new Facebook page. Everything is working just fine now. Thank you for your attention. Keep up the good work.

It would be a great idea to add to the OpenCart Facebook Ads Extension's FAQ how to delete the previous

[2019-05-25 22:38] 1991x commented on #177
Hi @shue249 error message still come out for me
![still error](https://user-images.githubusercontent.com/50851246/58375241-7f4bfc00-7f78-11e9-91cf-827f5cef7856.png)
![still error1](https://user-images.githubusercontent.com/50851246/58375243-8541dd00-7f78-11e9-9aae-68b900473dd5.png)

[2019-05-25 22:50] saharock2019 commented on #177
@shue249

i still face the error : c. Unable to delete the settings. It is showing up as "Sorry, something went wrong"

thank yoo

[2019-05-26 02:27] wegee-us commented on #177
@shue249 it works for me to delete setting use MySql Command. But it comes another problem. when i click on get start, then it comes to link the fun page again, but it shows my fun page already connect to another opencart store. I tried to remove connection. then it shows something worng
![QQ截图20190525192527](https://user-images.githubusercontent.com/50933832/58376601-2a31cb00-7f23-11e9-9b23-075f1

[2019-05-26 08:09] svremeto commented on #177
When I go to step "C" and click to Manage Settings i see this window http://prntscr.com/ntg16g as before.

b. Unable to see Facebook Ads Extension. It is showing up as "Sorry, something has gone wrong" error messages.

[2019-05-26 08:10] svremeto commented on #158
When I go to step "C" and click to Manage Settings i see this window http://prntscr.com/ntg16g as before.

b. Unable to see Facebook Ads Extension. It is showing up as "Sorry, something has gone wrong" error messages.

[2019-05-26 17:45] KonstantinGOT commented on #177
@guilhermeojs  did you really managed to delte the settings? if yes please make a screenshot how to do so.
Still cant do it on my end and would like to try manual

[2019-05-26 17:47] guilhermeojs commented on #177
@KonstantinGOT Yes i did. Just run this on your database and you will be good to go:

delete from setting where code = 'facebook';

[2019-05-26 17:49] KonstantinGOT commented on #177
@guilhermeojs  not very familiar how to do that. Any possible visual help could be nice to understand.Thank you

[2019-05-26 17:51] guilhermeojs commented on #177
Just follow these instructions then
https://my.bluehost.com/hosting/help/2153

[2019-05-26 22:30] saharock2019 commented on #177
this method works perfect for me
delete from setting where code = 'facebook';

everything is fine for me now

[2019-05-26 23:20] wegee-us commented on #177
I still can't connect to the fun page. it show my fun page already connect to another opencart account, i tried click on remove, but it shows something wrong.

[2019-05-27 04:14] KonstantinGOT commented on #177
@saharock2019  could you share instructions with me with a screenshot please?

[2019-05-27 06:06] 1991x commented on #177
Is that realy works?

[2019-05-27 07:04] khrizzcristian commented on #166
Thank you. I will download the extension and if i have any trouble i'll write to you

[2019-05-27 07:06] khrizzcristian commented on #166
Still doesn't work... But i see on opencart that is still v2.1.8

[2019-05-27 07:18] Aleksandr111111111 opened #179 "Facebook Ads Extension Sorry, something went wrong."
Hi
There is a problem when updating the module.
The module is installed everything is fine.
There is a problem with linking to the facebook store page.
facebook can not break \ terminate existing connection with the module of the previous version.
Currently installing (Facebook Ads Extension
Latest version: 2.1.8), previous module (Facebook Ads Extension
Latest version: 2.1.5) version of OpenCart

[2019-05-27 07:19] Aleksandr111111111 commented on #179
help

[2019-05-27 07:22] Aleksandr111111111 commented on #179
Before installing the module, all facebook files from the database were deleted.

[2019-05-27 15:49] KonstantinGOT commented on #177
@1991x they say it does but no one actually shares info

[2019-05-27 16:49] KonstantinGOT commented on #177
@shue249  could you please confirm that people who stated above solution is workable and if yes provide instructions for us

[2019-05-27 21:45] dyslexicdrakness commented on #163
Hello!

I would like to report that this issue resolved itself somehow :S

cheers!

[2019-05-27 21:45] #163 closed

[2019-05-27 23:29] shue249 commented on #177
@wegee-us We are tracking the deletion of existing store connections here - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/166

[2019-05-27 23:33] shue249 commented on #177
@KonstantinGOT , @1991x The solution that @guilhermeojs  and @saharock2019 used is a last resort that wiped the existing settings clean from your system to restart the setup again. This solution requires dedicated database knowledge in order to run the command correctly, otherwise it may corrupt your system/data and may not be easy to recover. If you are unsure of how to run the database commands,

[2019-05-28 05:49] wegee-us commented on #177
@shue249 It's working now. thanks

[2019-05-28 05:58] wegee-us commented on #177
@shue249 Hi, i tried to syn products to facebook, when i click on it, it causes my website down.

[2019-05-28 06:05] KonstantinGOT commented on #177
@shue249  Shue my man you made it!!!!
Its working again!!!

[2019-05-28 09:31] 1991x commented on #177
It's working @shue249
I really appreciate your help

[2019-05-28 10:49] svremeto commented on #177
@shue249 I`m still facing the same issue http://prntscr.com/nud2i8

[2019-05-28 10:49] svremeto commented on #158
@shue249 I`m still facing the same issue http://prntscr.com/nud2i8

[2019-05-28 11:02] khrizzcristian commented on #166
I get errors when i try to remove the existing connection, not when i try to delete settings...

[2019-05-28 14:48] shue249 commented on #177
@KonstantinGOT , @1991x Glad that this works for you.

[2019-05-28 14:48] shue249 commented on #177
@wegee-us How many products do you have on your website? It takes a while to complete the sync if you have a lot of products

[2019-05-28 14:50] shue249 commented on #179
Duplicate issue as https://github.com/facebookincubator/Facebook-For-OpenCart/issues/166

@Aleksandr111111111 We are looking into this now. Give us some time and we will update you soonest.

[2019-05-28 14:52] shue249 commented on #158
@claudineythomazette Can you try to delete the settings away and see if it works.

[2019-05-28 14:54] shue249 commented on #177
@Eaglebill , @medeirosrafael Can you try to delete away the settings and see if it works for you

[2019-05-28 15:47] #179 closed

[2019-05-28 15:50] Aleksandr111111111 commented on #179
Thank you very much , everything works fine)))))

[2019-05-28 17:55] adibtradelink commented on #166
Facebook Ads Extension Sorry, something went wrong
how to fix it and connect to my page ?

[2019-05-28 22:50] wegee-us commented on #177
@shue249 we have 1200 products. so it will take website down when first syn ?

[2019-05-28 23:30] wegee-us commented on #177
@shue249 Hi, we have a problem with our another fun page, that is feed by facebook Pixel. It's feed successfully and import products to facebook catalog automatically when people visit the product page, but we don't know why it only shows 2 products in shop front page, actually we have more than 20 products in catalog.
![20190528162706](https://user-images.githubusercontent.com/50933832/58518887-d

[2019-05-28 23:51] shue249 commented on #177
@wegee-us Can you open up a new ticket on your catalog queries and we can follow up on the new ticket.

[2019-05-28 23:51] wegee-us commented on #177
@shue249 no problem. thanks

[2019-05-28 23:53] wegee-us opened #180 "catalog products doesn't fully show in shop front"
Hi, we have a problem with our another fun page, that is feed by facebook Pixel. It's feed successfully and import products to facebook catalog automatically when people visit the product page, but we don't know why it only shows 2 products in shop front page, actually we have more than 20 products in catalog.
![20190528162706](https://user-images.githubusercontent.com/50933832/58519555-08c22080-8

[2019-05-28 23:58] shue249 commented on #180
@wegee-us
1. Is this website also using the OpenCart plugin?
2. If yes, when was the setup done?

You can also readup on the approach that our plugin is syncing the catalog - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#syncing-of-opencart-products-to-facebook-catalog

To your earlier question on long time to resync the products. Based on your 1200 products, I will

[2019-05-29 14:59] claudineythomazette commented on #158
@shue249 working for me!

But in the deletion process, ( https://prntscr.com/nuyzyd ) the progress
bar was long running and at the end it showed the following error (
https://prntscr.com/nuz039 ).

When I closed the popup and recaptured the FB account everything worked.

TKSSSSS

Em ter, 28 de mai de 2019 às 11:52, shue249 <notifications@github.com>
escreveu:

[2019-05-29 22:54] wegee-us commented on #180
@shue249
Hi,
this is another fun page without OpenCart plugin, but using facebook Pixel to sync the product, and products are successfully added to the catalog, but not showing in shop front. we tried to contact facebook to figure out why it happens, but we can't reach them.

for the earlier question about long time to resync 1200 products, does it cause my website down? because my website is down

[2019-05-29 23:14] shue249 commented on #180
For FB page shop, there is tighter review process on the products, so it could be that the products failed the review. Have you tried to recreate/repopulate the catalog and see if it solves the problem?

On the topic of 1200 products, yes - our current mechanism does lock down the webserver during the sync as the CPU resources are used to do the sync via API. We are currently looking at improving

[2019-05-29 23:16] shue249 commented on #177
Everyone. We will be closing out this ticket as folks are able to proceed with the deletion operation. Feel free to create a new ticket if you have any further questions.

[2019-05-29 23:16] #177 closed

[2019-05-29 23:17] wegee-us commented on #180
@shue249
actually we tried to delete the catalog and shop front both, but it happens the same, and it always shows only that 2 products even recreate it. it looks like some facebook cache on it. can you check it for me? our fun page is https://www.facebook.com/pg/WBuy.us/shop/?rt=28

[2019-05-29 23:18] shue249 commented on #166
@HWDonald , @khrizzcristian , @adibtradelink We have landed some fixes to resolve the problem when trying to remove existing connection for Page Shop. Can you try to remove away the existing connection on your OpenCart website and see if it works.

[2019-05-29 23:22] shue249 commented on #158
@svremeto We have another suggestion for you. Will you be able to access your MYSQL database and run the instructions on this comment?
https://github.com/facebookincubator/Facebook-For-OpenCart/issues/177#issuecomment-495930585

[2019-05-30 06:47] khrizzcristian commented on #166
It's working :D :D Thanks a lot !

[2019-05-30 08:49] svremeto commented on #158
@shue249 Thanks. I receive this response http://prntscr.com/nvaznc

By the way, I remember something now. This website is a copy of my first website where facebook extension is installed and it's working properly most of the time.

[2019-05-30 09:50] xseon opened #181 ""Manage Settings" shows more products in the inventory then the button "See your products on Facebook""
When I click Manage Settings from OC admin panel and the popup loads I see that we have 119 products in the inventory but when I click to see them - the link "See your products on Facebook" -  there are 62 products only.
Why is that difference?

[2019-05-30 14:04] shue249 commented on #158
@svremeto The information is helpful. You can try to run this command:

`SELECT * FROM oc_setting WHERE `code` = 'facebook';`

You should be seeing some rows that are returned. If this is correct, you can proceed to run this:

`DELETE FROM oc_setting WHERE `code` = 'facebook';`

[2019-05-30 14:32] shue249 commented on #181
@xseon There could be products which are filtered away that does not meet our privacy review. Can you share with me what is the catalog id.

[2019-05-30 14:47] whitesnow91 opened #182 "after install when click extension tab showing blank screen only"
hi, i install and refresh modification for fb ads extension , all seem work correctly, but when i check tab on the admin side bar , it show blank screen only. when i check error log it seem no error and checked my php error log on server also seem no error .... i wonder what the problem and finding solution to solve it, hope that community at here can help me out , thank you

[2019-05-30 15:00] shue249 commented on #182
@whitesnow91 Can you share a screenshot of how it looks like?

[2019-05-30 15:16] whitesnow91 commented on #182
it only show blankscreen when i click the extension tab
![Screenshot_1](https://user-images.githubusercontent.com/51204211/58642950-e11db480-8330-11e9-8fb2-c73bb2790592.png)

[2019-05-30 16:33] shue249 commented on #182
@whitesnow91 This is really weird and first time I came across this. Will you be able to double check again on the error log on your webserver. Also, can you open up javascript console on your chrome and inspect if there are any errors.

[2019-05-31 02:04] shue249 commented on #173
@i3kevin We have released a new version 2.1.9, to address the issue for the pixel firing. Can you try out the new version and let us know if the pixel is now firing correctly on your website.

[2019-05-31 02:05] shue249 commented on #171
@osworx We have addressed this on version 2.1.9. Will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-05-31 02:05] #171 closed

[2019-05-31 02:06] shue249 commented on #176
@mahmoudelgharabawy , @engasix Are you able to resolve the problem on your OpenCart webserver?

[2019-05-31 02:07] shue249 commented on #175
@siteadvice Are you able to successfully install the plugin now?

[2019-05-31 02:09] shue249 commented on #165
@dyslexicdrakness We have addressed the sales end date on version 2.1.9. You will still need to edit-save the products so that the discount dates will be correctly updated on FB side.

We will be closing out this ticket, feel free to reach to us if you have any more questions.

[2019-05-31 02:09] #165 closed

[2019-05-31 02:11] shue249 commented on #167
@iq860 We have released a new version 2.1.9 which moved the messenger chat plugin from footer to header. This means that you can make edits to the footer via Theme Editor and our plugin will still be able to show the Messenger chat plugin.

We will be closing out this ticket, feel free to reach to us if you have any comments.

[2019-05-31 02:11] #167 closed

[2019-05-31 02:12] shue249 commented on #130
@missbow  We will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-05-31 02:12] #130 closed

[2019-05-31 02:14] shue249 commented on #116
@Hristow Thank you for the patience. We have release a version 2.1.9 which helps to resolve your issue. Can you try out the new version and see if it helps to solve the pixel firing issue on your website.

[2019-05-31 02:19] shue249 commented on #153
@i3kevin We have released a new version 2.1.9 which supports the pre order stock status. You will need to edit-save the products so that the status is reflected on Facebook catalog.

This is the logic that we are using:
Added mapping for predefined OpenCart product status into Facebook catalog availability. Note that Facebook Page Shop only shows "Not available" for out of stock and Checkout to we

[2019-05-31 02:19] #153 closed

[2019-05-31 03:09] whitesnow91 commented on #182
no error showing on javascrip console also...

[2019-05-31 04:06] i3kevin commented on #173
How about the product syn issue?

[2019-05-31 09:36] svremeto commented on #158
@shue249 Thank you very much! Everything is set now! The problem is resolved!

[2019-05-31 09:45] xseon commented on #181
Catalog ID: 694867194241019
Facebook Store ID: 310158102942380

I don't see existing Product Data Sources. Could it be related to that
issue?

And one more thing about the dataflow: if I install a GDPR module which
will prevent any cookie from being set before a consent is givven and thus
the pixel probably won't send any events, will the advertising and
remarketing data continue to be accurate?

[2019-05-31 10:41] Superstar18 opened #183 "Pixel not found - Opencart 3.0.2.0 with journal theme 2.16.8"
Hi,

i think the last 2 versions have a problem because the pixel can't be found on my store after installing them.
I had to go back to a earlier version i found here and the pixel works fine again: https://www.facebook.com/business/help/1494437460610744

I'm using opencart 3.0.2.0 with journal theme 2.16.8

[2019-05-31 12:07] adibtradelink commented on #166
Its work now thanks

On Thu, May 30, 2019, 12:47 PM khrizzcristian <notifications@github.com>
wrote:

[2019-05-31 12:18] shue249 commented on #183
@Superstar18
1. We have just launched a version 2.1.9, does that work?

2. What is your website URL?

3. Can you share this file from your webserver to here?
![image](https://user-images.githubusercontent.com/11957585/58705279-47621000-83e1-11e9-87b0-a07817b60b95.png)

[2019-05-31 13:53] Superstar18 commented on #183
Hi,

I tried the version launched today and the one launched a few weeks ago. Both had the same problem.
The pixel can't be found.

The website url is iconicul.ro
Is there a way i can send that file in private?

Thank you!

[2019-05-31 21:47] shue249 commented on #183
@Superstar18 You can send the file to our email alias - ads_extension_opencart@fb.com. Pls also indicate your github user id so that we have the context when responding to you.

[2019-05-31 21:51] shue249 commented on #183
@Superstar18 Can you also install in the version 2.1.9 on your website so that we can understand where is the problem.

[2019-05-31 22:20] shue249 commented on #166
Thanks to all for the feedback. We will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-05-31 22:20] #166 closed

[2019-05-31 22:22] shue249 commented on #158
Thanks to all for the feedback. We will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-05-31 22:22] #158 closed

[2019-05-31 22:25] shue249 commented on #182
@whitesnow91 Can you verify if this file is on your webserver.
![image](https://user-images.githubusercontent.com/11957585/58737920-0516ee00-8436-11e9-9176-d0841d54d34e.png)

[2019-05-31 22:28] shue249 commented on #181
@xseon We found that the initial catalog sync may not have completed successfully when you perform the setup. Can you download the plugin log file and share the log file with us.

![image](https://user-images.githubusercontent.com/11957585/58738010-76ef3780-8436-11e9-897c-e7d294a8e785.png)

[2019-06-01 00:06] i3kevin commented on #173
is that possible I can create a feed file and upload it manually to keep my product up to date?

![Screenshot_122](https://user-images.githubusercontent.com/45218158/58740632-0222fa00-8444-11e9-8d55-a4e14df9eeab.jpg)

[2019-06-01 00:29] i3kevin commented on #173
Just installed the new version 2.1.9. The pixel is firing well now. Thanks for your help!
However, if I remove the d_event_manager.xml in the future (which you mentioned above that re-wrote opencart default code), does this affect the pixel firing on the version of 2.1.9?

On the other hand, a lot of new products are still not sync to Facebook catalog and I cannot create re-marketing ads for users

[2019-06-01 08:37] Superstar18 commented on #183
Hi,

I sent the file by e-mail.

Thank you!

[2019-06-01 12:27] svremeto commented on #158
@shue249 I`ve tried to upgrade the facebook extension of our old site as it was version 1. I`ve upgraded as its shown in the video but i was facing the same error as in the new website (which we already fixed it).

So i replaced this file https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/admin/controller/extension/facebookadsextension.php

After that i clicked Empty Cac

[2019-06-01 23:18] i3kevin commented on #173
Just tried a FORCE "Resync Products to Facebook" on the extension.
Although there is an error 524 and admin panel was down for 15 mins, it seems like all the product are successfully synced to Facebook catalog.

Do you know where I can see my exact number of products in the catalog?
I want to compare with the numbers in Opencart to see if it is fully synced.
![Screenshot_125](https://user-images.g

[2019-06-01 23:22] i3kevin opened #184 "Missing CompleteRegistration Currency and Value Parameters"
I found a new bug when I updated to version2.1.9.

![image](https://user-images.githubusercontent.com/45218158/58754621-049a5800-8507-11e9-8385-149fe35581e1.png)
![image](https://user-images.githubusercontent.com/45218158/58754625-1da30900-8507-11e9-99ee-c17c2038041b.png)

[2019-06-01 23:38] shue249 commented on #116
We will be closing out this task, feel free to reach to us if there are any further questions.

[2019-06-01 23:38] #116 closed

[2019-06-01 23:43] shue249 commented on #173
@i3kevin Thanks for the feedback.

1. Yes, the downtime is expected when using the Resync products function. We are now looking on this to improve the performance. You should not need to manually create any feed file on your own as the plugin is expected to be able to handle all product syncs

2. Removal of the d_event_manager.xml should not affect the pixel firing. Our changes is to try to make o

[2019-06-01 23:43] #173 closed

[2019-06-01 23:49] shue249 commented on #184
@i3kevin Thank you for the feedback. This issue does not come from our plugin but from our pixel diagnostics dashboard. We will flow the feedback to our product teams.

We will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-06-01 23:49] #184 closed

[2019-06-02 01:37] pao2pao16 opened #185 "There is an error making API calls using the access token - When you change facebook account"
Hi,

Sorry for creating a new issue while there is already a closed issue regarding this one.
But I dont think that this is resolved.

I am always getting this message

"There is an error making API calls using the access token. The error encountered is "Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for s

[2019-06-02 12:55] nichinu commented on #116
Hey, The new version solves the problem of the error that was coming on
dashboard. regarding the token update.
But nothing else seems to be effected. Only view "page view" pixel is being
fired and no one else.

I am moving back to the last working version again.2.1.3

On Sun, Jun 2, 2019 at 5:09 AM shue249 <notifications@github.com> wrote:

[2019-06-02 19:23] shue249 commented on #185
@pao2pao16 We are aware of this behavior and this is intended. Let us check into your use case and get back to you

[2019-06-02 19:26] shue249 commented on #158
@svremeto It seems that the "Get Started" button is missing. Can you open up javascript console and see if there are any errors when you access the Facebook Ads Extension module screen.

Also, can you help us to create a new ticket as this is a different issue.

[2019-06-02 19:47] shue249 commented on #118
@nichinu Based on your feedback from https://github.com/facebookincubator/Facebook-For-OpenCart/issues/116, we will be re-opening this ticket.

Are you using Journal theme? Based on our findings with other Opencart users, we find some compatibility issues as the Journal theme may not have adhere to the OpenCart 3 code structure. Can you share with us 2 files on your webserver.
![image](https://use

[2019-06-02 19:49] shue249 commented on #183
@Superstar18 We received your files and we found that there are no changes to the 2 files, which should not be the case, as we expect that there should be at least 1 change. Can we check if you pressed on the Refresh modifications button?
![image](https://user-images.githubusercontent.com/11957585/58766546-e0ee0680-8534-11e9-9008-8e24f8c23862.png)

[2019-06-02 20:58] shue249 commented on #176
We will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-06-02 20:58] #176 closed

[2019-06-02 20:58] shue249 commented on #175
We will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-06-02 20:58] #175 closed

[2019-06-02 22:45] wegee-us commented on #180
@shue249 Hi, can you help us out with this issue? our shop front keep only showing 3 or 5 products. but we have a lot products in catalog.

[2019-06-03 07:48] RuDee-BG commented on #183
Hello, i have the same problem, Facebook Ad managers is ALL green, but facebook helper shows no pixel found, we using OC 3.0.2.0 and Journal 2 theme, when i first installed Facebook Ad manager it works until i update to the last version?

[2019-06-03 08:00] svremeto opened #186 ""Get Started" button is missing"
@shue249  Ive tried to upgrade the facebook extension of our old site as it was version 1. Ive upgraded as its shown in the video but i was facing the same error as in the new website (which we already fixed it).

So i replaced this file https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/admin/controller/extension/facebookadsextension.php

After that i clicked Empty Cach

[2019-06-03 08:04] svremeto commented on #186
Here is the javascript console to see if there are any errors when I access the Facebook Ads Extension module screen. http://prntscr.com/nww2gz

[2019-06-03 08:05] svremeto commented on #158
https://github.com/facebookincubator/Facebook-For-OpenCart/issues/186

[2019-06-03 10:55] Gadzhev opened #187 "Pixel events do not fire"
I recently updated the Facebook for OpenCart extension because of the token update issue. Today I checked again and it seems the pixel is not firing again. Updated the module to latest version 2.1.9 and the issue still persist. I've cleared the cache of the theme and refreshed Modifications couple of times after doing changes. Still nothing.

Would appreciate some help since the ads are running fo

[2019-06-03 11:10] khrizzcristian commented on #166
After the upgrade to 2.1.9 I don't have any pixel in page. Did you removed this in the latest version?

[2019-06-03 11:58] Superstar18 commented on #183
@shue249 Ok, i'll send them again now.

[2019-06-03 15:05] shue249 commented on #183
@RuDee-BG Can you share the details from this earlier comment https://github.com/facebookincubator/Facebook-For-OpenCart/issues/183#issuecomment-497688460

[2019-06-03 15:08] shue249 commented on #183
@Superstar18 We received your latest files. Can you try another approach. Clear the log from modifications, then install 2.1.9 and refresh modifications and share with us the log file.
![image](https://user-images.githubusercontent.com/11957585/58812436-beacc500-85d6-11e9-994d-926cde0d9b54.png)

[2019-06-03 15:09] RuDee-BG commented on #183
What you'll need more as details?

[2019-06-03 15:14] shue249 commented on #166
@khrizzcristian Can you look at this comment and share on the same thread - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/183#issuecomment-497688460

[2019-06-03 15:15] shue249 commented on #187
@Gadzhev Can you look at this comment and share your details - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/183#issuecomment-497688460

[2019-06-03 15:18] RuDee-BG commented on #183
climatshop.bg
[router.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3248292/router.zip)

[2019-06-03 15:22] shue249 commented on #186
@svremeto There is a file, dia.js, which is not updated to latest version on your webserver. Can you try try to copy that file manually from the plugin zip package into your webserver. (you will need to unzip the zip package)

In additional, can you also check your webserver if the right permissions are given - 775 for the admin catalog and system folder. There could be other files which are not u

[2019-06-03 15:27] shue249 commented on #183
@RuDee-BG Thanks for the file, we know where the root cause of your problem is, we will be releasing a fix soon

[2019-06-03 15:32] shue249 commented on #181
@xseon We suggest for you to Delete away your existing Facebook Ads Extension settings and redo the setup again. https://drive.google.com/open?id=1PenBy_xizQGszdiS5BrmVFPypn5HKnkL

We will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-06-03 15:32] #181 closed

[2019-06-03 15:37] shue249 commented on #182
@whitesnow91 Unfortunately, we are unable to resolve this error on your webserver. You may want to check if this is due to some other 3rd party extensions that you have installed on your OpenCart.

We will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-06-03 15:37] #182 closed

[2019-06-03 15:51] Gadzhev commented on #187
@shue249 there's no such file on under system/storage/modification. I only have index.html in that directory.

[2019-06-03 16:31] Superstar18 commented on #183
@shue249 I sent it again like you said.

[2019-06-03 16:40] svremeto commented on #186
@shue249 Permission set correctly, file replaced, Modifications/Refresh, Empty Cache and Hard Reload but still the same.

[2019-06-03 17:17] shue249 commented on #183
@Superstar18 There is something that we are unable to understand from your file.

If you look at the file provided by @RuDee-BG , this is what we expected and we have the fix for his case. However, your file is missing that section, which means something else is going on in your system and we are unsure what is the reason.

![image](https://user-images.githubusercontent.com/11957585/58820900-b52c5

[2019-06-03 17:20] shue249 commented on #187
Can you check to see
1. Have you refresh modifications - https://drive.google.com/drive/folders/1b3jBHIfi5dnwcsWr1aIGIBKVwXDrMH2g

2. Have you disabled both caches and refresh - https://drive.google.com/drive/folders/1b3jBHIfi5dnwcsWr1aIGIBKVwXDrMH2g

[2019-06-03 17:32] shue249 commented on #187
@Gadzhev I re-updated the links, can you try to access them again

[2019-06-03 17:32] Superstar18 commented on #183
I don't understand why. I sent the file again. I hope now's ok.

[2019-06-03 17:37] shue249 commented on #183
@Superstar18 There is another thing. Can you check if you have disabled the cache - https://drive.google.com/open?id=1bY-bworYxX36b88HDvFW0_32C3Wtq_Tm

After that, refresh the modifications and send us the router.php file again.

[2019-06-03 17:38] Gadzhev commented on #187
Thanks @shue249 I refreshed modifications and disabled cache and refreshed it. Pixel Helper still shows "No pixels found"

[2019-06-03 18:37] shue249 commented on #187
@Gadzhev Can you take a look at the modifications folder and see if you have the router.php file. If so, can you share that file here

[2019-06-03 18:48] Superstar18 commented on #183
Done. I sent it again...

[2019-06-04 05:10] RuDee-BG commented on #183
Just for the info, my cache in journal theme options is off, i have other issues with it and i keep it disabled.

[2019-06-04 05:51] shue249 commented on #187
@Gadzhev We have just released a version 2.1.10 of the plugin, which attempts to solve your pixel problem. Can you try out this update and let us know if the issue is resolved.

[2019-06-04 05:52] shue249 commented on #186
@svremeto We released a new version of the plugin, 2.1.10. Can you try out this version on your OpenCart and see if it solves the problem of missing "Get Started" button.

[2019-06-04 05:53] shue249 commented on #183
@RuDee-BG , @Superstar18  We have just released a version 2.1.10 of the plugin, which attempts to solve your pixel problem. Can you try out this update and let us know if the issue is resolved.

@Superstar18 We do not have confidence that the update may solve your problem as we do not see the expected root cause on your router.php. But, still give it a try and let us know.

[2019-06-04 05:56] shue249 commented on #127
@DORMETA We have released a new version of the plugin - 2.1.10. We improved the performance of the Resync products feature in Facebook Business Extension module. You can use this function to re-sync your products from Opencart to facebook catalog. The catalog will remain the same.

We will be closing out the ticket, feel free to reach to us if you have any further questions.

[2019-06-04 05:56] #127 closed

[2019-06-04 05:57] shue249 commented on #101
@robteeshirtguy We have released a new version of the plugin - 2.1.10. We greatly improved the performance of the Resync products feature in Facebook Business Extension module. You can use this function to re-sync your products from Opencart to facebook catalog. The catalog will remain the same.

We will be closing out the ticket, feel free to reach to us if you have any further questions.

[2019-06-04 05:57] #101 closed

[2019-06-04 05:58] shue249 commented on #34
@subpro2 We have released a new version of the plugin - 2.1.10. We greatly improved the performance of the Resync products feature in Facebook Business Extension module. You can use this function to re-sync your products from Opencart to facebook catalog. The catalog will remain the same. You can use this feature to sync the products over to Facebook whenever you use 1C to perform any product chan

[2019-06-04 05:58] #34 closed

[2019-06-04 05:59] RuDee-BG commented on #183
After update my site is broken totaly:

Fatal error: Cannot redeclare Router::runAction() in /home/climatshopbg/ocartdata/storage/modification/system/engine/router.php on line 30

[2019-06-04 05:59] Gadzhev commented on #187
@shue249 installed the new version and it works correctly now. Thank you very much for your time and help!

[2019-06-04 05:59] #187 closed

[2019-06-04 06:00] shue249 commented on #89
@maxdmtrv , @G0dzzilla We have released a new version of the plugin - 2.1.10. We greatly improved the performance of the Resync products feature in Facebook Business Extension module. You can use this function to re-sync your products from Opencart to facebook catalog. The catalog will remain the same.

We will be closing out the ticket, feel free to reach to us if you have any further questions.

[2019-06-04 06:00] #89 closed

[2019-06-04 06:11] shue249 commented on #183
@RuDee-BG Can you share your router file here

[2019-06-04 06:14] shue249 commented on #118
@nichinu We have just released a version 2.1.10 of the plugin, which attempts to solve your pixel problem. Can you try out this update and let us know if your issue is resolved.

[2019-06-04 06:15] RuDee-BG commented on #183
[router10.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3250790/router10.zip)

[2019-06-04 06:16] shue249 commented on #84
@magixrys We have released a new version of the plugin - 2.1.10. We greatly improved the performance of the Resync products feature in Facebook Business Extension module. You can use this function to re-sync your products from Opencart to facebook catalog at one go, after you made all the bulk edits to your products using the 3rd party plugin. The catalog will remain the same.

We will be closing

[2019-06-04 06:16] #84 closed

[2019-06-04 06:19] shue249 commented on #183
@RuDee-BG Can you also share the original router.php file that you have in this folder? I may have some idea on why your system is broken.

![image](https://user-images.githubusercontent.com/11957585/58855902-0de60a80-8656-11e9-980c-a5b945c2bc96.png)

[2019-06-04 06:21] RuDee-BG commented on #183
[router0.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3250813/router0.zip)

[2019-06-04 06:25] shue249 commented on #183
@RuDee-BG Can you remove the extension, click the Refresh modifications button. Then install and click on Refresh modifications button again

[2019-06-04 06:28] RuDee-BG commented on #183
I did it, and its working now. Now Facebook pixel helper found the pixel. Thank you for the fast fix!

[2019-06-04 06:28] shue249 commented on #183
@RuDee-BG Great to hear that its working now!

[2019-06-04 06:36] Superstar18 commented on #183
Hi,
I installed it now and it seems to work fine, thank you.
It's installing under another module "facebook business extension" instead of "facebook ads extension" and that's why we get error 500.  I removed "facebook ads extension" and worked fine after.

Thank you!
Marius

[2019-06-04 07:32] wegee-us opened #188 "use new version 2.1.10 the facebook Messenger not working"
useing new version 2.1.10 the facebook Messenger not working, it's not showing front
![20190604003145](https://user-images.githubusercontent.com/50933832/58860077-2824e600-8660-11e9-837b-f2725911acdd.png)

[2019-06-04 07:41] Superstar18 commented on #183
Hi @shue249 ,

I don't understand how but all my opencart is broken. All the tables are chaos.
I recommend you to don't let everybody install the update till it's stabile.

[2019-06-04 08:25] iq860 commented on #188
same here :/
do u you have any edits done to the header in theme editor ?

[2019-06-04 08:32] iq860 commented on #188
i reverted back to 2.1.8 and messenger is back cuz 2.1.9 also was broke

[2019-06-04 08:37] wegee-us commented on #188
actually the old version is ok, when i update to this version, it's disappeared

[2019-06-04 09:09] svremeto commented on #186
Fixed, Thank you!

[2019-06-04 11:33] nichinu commented on #118
Hey I just installed it. Haven't checked it yet but there are now two
separate installations of the module now.
PFA: See screenshot.

Is there a possibility that both of the module (2.1.10 and 2.1.3) are
active now.

Regards,

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_sourc

[2019-06-04 13:44] shue249 commented on #118
@nichinu You need to remove away the previous version. We made a change to the name, hence there is a new version.

[2019-06-04 14:00] shue249 opened #189 "HTTP 500 error; cannot redeclare run(); when updating to version 2.1.10 plugin"
Use this method to fix the HTTP 500 error.

![image](https://user-images.githubusercontent.com/11957585/58884778-e57e0080-8695-11e9-9a59-a07f2f4ac68f.png)

Then access your extensions page, remove away the older version of the plugin and click on Refresh modifications.

![image](https://user-images.githubusercontent.com/11957585/58885111-781e9f80-8696-11e9-9330-1954ff9e53e9.png)

[2019-06-04 14:08] shue249 commented on #186
Great! Will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-06-04 14:08] #186 closed

[2019-06-04 14:12] shue249 commented on #183
@Superstar18 Are you getting HTTP 500 error on your website? We have the steps on how to fix it - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/189

You will need to remove the older versions of the plugin and install the newer version.

[2019-06-04 14:14] shue249 commented on #188
@wegee-us , @iq860 Thank you for the feedback. Yes, we made a change in version 2.1.9 to move the Messenger chat plugin from footer to header, so that opencart users can edit their footer.

1. Can you both install back the version 2.1.10 for us to verify on your store website what could be the problem.

2. As @iq860 mentioned, have you made any edits to the header theme? If you have made edits to

[2019-06-04 14:18] Superstar18 commented on #183
@shue249 That was the initial problem and was solved when i disabled the old module.
In this process, the initial opencart template was erased and we added it again and the problem was solved. Not sure but i think installing the new FB module or deleting the old one somehow caused this.

[2019-06-04 14:25] shue249 commented on #183
@Superstar18 Just to clarify, are you still having problems on your OpenCart? If you manage to delete the old version away and install just the new version and click on Refresh modifications, it should be fine.

If you are still having problems, can you share with me the errors shown.

[2019-06-04 14:34] Superstar18 commented on #183
@shue249 We solved the errors. After deleting the old module and installing the new one, the initial opencart template was erased as well. We added it back and works fine but i wanted to tell you about this, just as a info.
Everything works fine now. Thank you for your assistance.

[2019-06-04 16:34] iq860 commented on #188
@shue249
im back again on 2.1.10
no edits to the header
oc 3.0.2.0
default theme

still no messenger

[2019-06-04 16:34] shue249 commented on #183
@Superstar18 Glad that this works. Can I also confirm with you that the pixel firing is also working on your website now.

[2019-06-04 16:53] shue249 commented on #188
@iq860 We checked on your website and the messenger chat is loaded. (pls wait for a little while for the plugin to load) We also see that you are using 2.1.9, can you use 2.1.10 instead.

![image](https://user-images.githubusercontent.com/11957585/58898017-811b6b00-86ae-11e9-94f3-61db28d28695.png)

[2019-06-04 17:29] nichinu commented on #118
Hey,
removed the previous version. Installed the latest version again then. Now,
none of the pixels is firing.
Why can't I just keep using the 2.1.3 version. That seem to work perfectly
fine.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_c

[2019-06-04 17:32] iq860 commented on #188
@shue249
the website in speak is https://savona-me.com/
i have tried both
2.1.9 and 2.1.10 and both no messenger
now 2.1.10 is active

[2019-06-04 17:36] iq860 commented on #188
@shue249
as an update clearing all cash and reinstalling the module several times its active again

[2019-06-04 17:37] nichinu commented on #118
Ok now I have deleted the latest version and installed the 2.1.3 version
again.
And no pixel are firing now. What should I do now??? please help asap.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
06/04/19,
11

[2019-06-04 17:53] shue249 commented on #118
@nichinu It is fine to use version 2.1.3, but we have a lot of new features that we want to keep provide for the subsequent versions, and we like for you to enjoy these features too. So we like to spend some time to help resolve the problem for you.

1. Can you install back version 2.1.10. Pls remove the earlier version and click on Refresh Modifications
2. Can you share with us your website URL
3

[2019-06-04 17:54] shue249 commented on #188
@iq860 Sounds great! Which cache did you clear?

[2019-06-04 17:56] iq860 commented on #188
@shue249
Theme & SASS

[2019-06-04 18:20] nichinu commented on #118
May be its something to do with how i uninstalled it. is there a proper way
to unistalled it?

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
06/04/19,
11:50:05 PM

On Tue, Jun 4, 2019 at 11:23 PM shue249 <notif

[2019-06-04 18:23] nichinu commented on #118
https://www.comicsense.xyz/

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
06/04/19,
11:53:19 PM

On Tue, Jun 4, 2019 at 11:50 PM Nitin Sajwan <nitin0013@gmail.com> wrote:

[2019-06-04 18:27] shue249 commented on #188
@wegee-us Can you try to also clear and disable the cache and let us know if it works.

[2019-06-04 18:28] nichinu commented on #118
I guess the problem happened when both the versions were installed at the
same time. As now not even the "view page" pixel is working.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
06/04/19,
11:58:05 PM

On Tu

[2019-06-04 18:34] shue249 commented on #118
@nichinu
1. You should only install 1 version. This is the guide on how to upgrade to newer version. Essentially, just remove away the older version, install the new version and click on Refresh modifications - https://drive.google.com/open?id=12dX2wYTcE3Y7Wf-ZBD_6X4EAZU2L-8vp

2. Also remember to disable and refresh the cache on OpenCart 3.x - https://drive.google.com/open?id=1bY-bworYxX36b88HDvF

[2019-06-04 18:34] #118 closed

[2019-06-04 23:02] wegee-us commented on #180
@shue249 Hi, our website is high customized, even we clean the cache, it still not shows up again. but the old version is ok. so it should be some problem to add it to header. this is our website, you can take look.
wegee.us

[2019-06-04 23:03] wegee-us commented on #180
and i did reinstall couple times, and also clean the setting from database.

[2019-06-04 23:04] wegee-us commented on #180
sorry, i sent to wrong issue ticket...

[2019-06-04 23:04] wegee-us commented on #188
@shue249 Hi, our website is high customized, even we clean the cache, it still not shows up again. but the old version is ok. so it should be some problem to add it to header. this is our website, you can take look.
wegee.us

[2019-06-04 23:05] wegee-us commented on #188
and i did reinstall couple times, and also clean the setting from database. i think you should add an option to extension, then could let us choose where we can put the messager into

[2019-06-05 21:56] Superstar18 commented on #183
Hi @shue249,
I think there is still a problem. I see that the pixel is appearing only after i click "allow cookies" button.
Is this right? I know that GDPR doesn't tell us to do that. By continuing the client accepts automatically the terms and conditions.

[2019-06-05 22:00] Superstar18 commented on #183
I disabled it for now so we will not have a problem with the pixel but if you need me to activate it to see what's happening, let me know.

[2019-06-05 22:27] patikas14 commented on #189
You saved my life!!
I was panicked!!

[2019-06-05 22:35] haxcop commented on #189
same here, although before reading this I when back to the backup made before the update,
Gold Rule Never Ever make a change in production before testing in Stage, lesson learned.

[2019-06-05 22:39] patikas14 commented on #189
something in going wrong again!!
tried to delete previous version and screw up again!!

[2019-06-05 23:37] DORMETA opened #190 "SYNC not working - Products missing from catalog - Initiate Checkout Event no fire + Error Mesage!"
Hi,

1. This problem persists regardless the updates.
In Admin/business facebook extension/ Manage / My products the count is 915 and in Business Facebook Manager  CATALOG there are only 619.
Is there any solution? Is there a feed URL that I can use to manually set the SYNC?
The SYNC is not working
![No sync](https://user-images.githubusercontent.com/48640019/58997014-3fe89f80-8803-11e9-91ff-ce8fe

[2019-06-06 07:03] shue249 commented on #190
@DORMETA

1. You can use the "Resync products" feature to sync up the catalog. You can also read up more on our mechanism to sync products - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#syncing-of-opencart-products-to-facebook-catalog
![image](https://user-images.githubusercontent.com/11957585/59011346-40743c80-87e9-11e9-9fbd-3f62c1244fee.png)

2. To see your produ

[2019-06-06 07:04] shue249 commented on #189
@patikas14 Can I suggest for you to do a clean installation again, ie remove all our plugins from your system, click on Refresh Modifications, install the latest plugin and click on Refresh Modifications again.

[2019-06-06 07:12] shue249 commented on #183
@Superstar18 The pixel will continue to fire as long as the user does not answer the cookie bar. The moment the user selects any option in the cookie bar, we will use the option to decide whether to fire the pixel.

You can try this out on a fresh copy of Chrome with all data cache removed (so that the cookie bar selection is cleared) and then check on pixelhelper.

[2019-06-06 07:18] shue249 commented on #188
@wegee-us Have you used any plugins to compress/optimise the website?

[2019-06-06 23:33] adibtradelink commented on #189
i have removed but its not working here is showing  This page isn’t working HTTP ERROR 500.
my website is totally down

[2019-06-06 23:35] shue249 commented on #189
@adibtradelink After you remove the code, did you also save the changes on the file?

[2019-06-06 23:41] adibtradelink commented on #189
yes i have saved but its not working :(

[2019-06-06 23:45] wegee-us commented on #188
yes, we do have this plugin: https://isenselabs.com/products/view/nitropack-complete-webstore-performance-optimization-framework?bgs=NitroPack

but the previous version has no problem. this new version is not working.

[2019-06-06 23:46] adibtradelink commented on #189
[router.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3263887/router.zip)

[2019-06-07 04:26] shue249 commented on #189
@adibtradelink Are you able to access the webserver error log file and see what are the last few lines on the error log.

[2019-06-07 07:33] adibtradelink commented on #189
[06-Jun-2019 19:04:47 America/New_York] PHP Fatal error:  Cannot redeclare Router::runAction() in /home/adibczio/adibstorage/modification/system/engine/router.php on line 39
[06-Jun-2019 19:04:49 America/New_York] PHP Fatal error:  Cannot redeclare Router::runAction() in /home/adibczio/adibstorage/modification/system/engine/router.php on line 39
[06-Jun-2019 19:04:50 America/New_York] PHP Fatal er

[2019-06-07 09:11] adibtradelink commented on #189
@shue249 [06-Jun-2019 19:04:47 America/New_York] PHP Fatal error: Cannot redeclare Router::runAction() in /home/adibczio/adibstorage/modification/system/engine/router.php on line 39
[06-Jun-2019 19:04:49 America/New_York] PHP Fatal error: Cannot redeclare Router::runAction() in /home/adibczio/adibstorage/modification/system/engine/router.php on line 39
[06-Jun-2019 19:04:50 America/New_York] PHP F

[2019-06-07 12:54] adibtradelink commented on #189
Dear any aupdate for me .
My site is down . So pls give me any solution soon as possible

On Fri, Jun 7, 2019, 10:26 AM shue249 <notifications@github.com> wrote:

[2019-06-07 14:44] shue249 commented on #189
@adibtradelink Thanks for sharing the log file.

Can you remove the router.php file from the modification/system/engine folder, and see if it works.

I also see that you may not be using the default system folder structure on your opencart. Is this the 1st time you install our plugin on your opencart? We have yet to ensure that our plugin supports for different system folder name.

[2019-06-07 14:50] shue249 commented on #189
@adibtradelink if it still does not work, can you try to rename back the system, admin and catalog folders on your webserver and see if it works

[2019-06-07 15:01] adibtradelink commented on #189
@shue249  after remove router.php up my website.
but on new pixel messenger not working

[2019-06-07 15:56] shue249 commented on #189
@adibtradelink That's great to hear that the website is up. Can I double confirm with you
1. You have removed all previous versions of our plugin
2. You have installed only the latest version of our plugin
3. You have clicked on Refresh modifications
4. You have disabled the theme and SASS - https://drive.google.com/open?id=1bY-bworYxX36b88HDvFW0_32C3Wtq_Tm

If you have done the above 4 steps and

[2019-06-07 15:57] shue249 commented on #183
We will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-06-07 15:57] #183 closed

[2019-06-07 18:29] DORMETA commented on #190
Hi,
1. Regarding the ReSynck Products to Facebook I don't have the button available.
It;s stuck in loading mode. I've left the page open for more than 2 hours ans it's still the same:
![resync](https://user-images.githubusercontent.com/48640019/59125406-eac79d80-896a-11e9-85c8-b89b363269ae.jpg)

2. Also I have this message:

![message](https://user-images.githubusercontent.com/48640019/59125515-3a

[2019-06-07 22:13] shue249 commented on #190
@DORMETA
1. Can you download the log file from our plugin and share the log file with us

2. To resolve the error message on access token, can you do follow these steps - https://drive.google.com/open?id=18koOQZmV3ra6wMsjsaWUPDuYZR_phl3J

[2019-06-08 11:30] patikas14 commented on #189
Hi again from me!
I have a question about uninstalling previous versions.
When you say "uninstall" you mean just to disable the extension from extensions (it is still there and can enable this at any time) and delete it from modifications?
![Καταγραφή](https://user-images.githubusercontent.com/50770745/59146686-f615da00-89f9-11e9-9aa7-20f8a9964e56.PNG)
![Καταγραφή1](https://user-images.githubuserc

[2019-06-08 21:40] wegee-us commented on #188
@shue249 hi, any solution for it? can you add an option to messager, then we can choose the plugin insert header or footer. my site may be only compatible for footer.

[2019-06-10 03:10] shue249 commented on #189
@patikas14 We have a video guide that talks about how to uninstall the previous extensions. https://drive.google.com/open?id=1aPxqEcH1J3tT3bG0vMIC5DLnkDN7fo_d

[2019-06-10 03:11] shue249 commented on #188
@wegee-us Let us look into how we can enable the messenger chat plugin on both header and footer to make it more robust for everyone.

[2019-06-10 03:33] wegee-us commented on #188
@shue249 thanks

[2019-06-10 05:25] DORMETA commented on #190
Hi,
This is the log file:
[DORMETA_2019-06-10_08-07-56_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3270691/DORMETA_2019-06-10_08-07-56_facebook_ads_extension.log)
 And this is the window with Advanced Options:
![Advanced option page](https://user-images.githubusercontent.com/48640019/59174231-38a1f880-8b59-11e9-931d-40ab082274c1.jpg)

Regards!

[2019-06-10 18:58] dyslexicdrakness opened #191 "Update token option still not showing"
Hey @shue249 !

I'm having trouble with most clients where the access token has been invalidate showing this message on the admin:

The problem is that when you go to advanced there is no option to update token! We have also tried to resync without success...

On the facebook page where you refresh the token we do see this error:

aEkFhWwOX_F.js:53 ErrorUtils caught an error: "Could not find eleme

[2019-06-11 01:09] DORMETA commented on #191
Hi,
Subsequent errors won't be logged; see https://fburl.com/debugjs. -->> the page no longer exists.
What can I do to fix my problem?
There is an error making API calls using the access token. The error encountered is "Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for security reasons.".
To update your a

[2019-06-11 11:53] 1991x commented on #189
Hi @shue249 500 error message after updating version 2.1.10. I've check route.php but there is no identical code.
[router.zip](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3276327/router.zip)

[2019-06-11 22:00] KonstantinGOT opened #192 "Issue how cookies are showing up after istaling plug in."
Hello i have a issue that cookies is showing up in a very strange way. Please see screenshot.
how to take it out?
![Screen Shot 2019-06-11 at 14 37 39](https://user-images.githubusercontent.com/50840258/59309918-b0efe300-8c59-11e9-92b4-05d25ae4bd11.png)

[2019-06-11 23:07] shue249 commented on #192
@KonstantinGOT You can disable the cookie bar here https://drive.google.com/open?id=1cdzTmI9pIqKx2olKku0-bjH1XMPEKcbn

[2019-06-11 23:09] shue249 commented on #189
@1991x The router.php file is in the system/storage/modification/system/engine folder. Are you checking on this file?

[2019-06-11 23:16] shue249 commented on #190
@DORMETA Are you currently running any FB ads involving product catalog sales (dynamic ads)?

[2019-06-11 23:25] shue249 commented on #191
@dyslexicdrakness , @DORMETA

If the update token option is not shown up, the other way is for you to manually fix this - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/142#issuecomment-482908951

[2019-06-12 01:08] 1991x commented on #189
@shue249 yes. I have attached that file router.php above
I use OC ver 3020 Journal Theme ver 3

[2019-06-12 09:21] shue249 commented on #189
@1991x
1. Can you delete the router.php file from the modification/system/engine folder, and see if it works.
2. Another option is to remove all the contents of the modification folder, and see if you can access back the admin folder
3. Are you using vqmod?

[2019-06-12 09:38] 1991x commented on #189
@shue249
I can access admin page. There are two menu right now, "Facebook Business Extension" and "Facebook Ads Extension"

So I need to uninstall "Facebook Ads Extension" right?

[2019-06-12 09:49] 1991x commented on #189
That's works @shue249

[2019-06-12 19:07] guilhermeojs commented on #192
Is it possible to disable it on mobile version as well? I've disabled it, it is not showing on the desktop anymore but it still shows on mobile version of the website

![cookiepolicy](https://user-images.githubusercontent.com/20118742/59379100-317f1400-8d2c-11e9-8b4f-6f1f17138fb1.png)

[2019-06-12 19:13] guilhermeojs opened #193 "Messenger plugin popping up"
Hi there lads!

First of all, congratulations for all the good work y'all have been doing.

Is it possible to disable the messenger pop-up message on mobile? I've noticed that it is quite annoying that the setup message pops up and takes up most of the screen space left on the phone.

It would be awesome to disable it for mobile only, since on desktop it doesn't ruin the UX.

That message is somet

[2019-06-14 13:58] whitesnow91 opened #194 "error after updating the plugin"
hi, before the update, the extension was fine, after update to latest it show, i try to uninstall the extension.

and use ssh command chmod -R 777 xxxxx to all folder and subfolder
and reinstall the extension, but it still appear below error, how to fix this ?

There are problems with the installation of the Facebook Ads Extension.

We have detected missing files for Facebook Ads Extension. Please

[2019-06-15 05:44] #194 closed

[2019-06-16 11:16] patikas14 commented on #189
I have done this.
But it is still in my extensions and i am able to enable it again!
![Καταγραφή](https://user-images.githubusercontent.com/50770745/59563339-4ff15200-9041-11e9-94ed-a2ed840942ba.PNG)

[2019-06-17 20:23] AbdelReheem commented on #90
@shue249 Hello, I have the same issue from the day I update your amazing extension to Version: 2.1.10 and for your info I install and uninstall the module 5 times till the moment because of this issue and I'm trying to fix this from around a week as all the ads currently not running because of this.
Noting that I'm using OC 3.0.3.1

1- Instock and out of stock status was working fine on FB Plugin

[2019-06-17 20:44] DORMETA commented on #190
Hi,
I used a new PC and thing's look exactly the same.
Yes I have a dynamic add for remarketing in use connected  to product catalog sales

[2019-06-17 22:52] shue249 commented on #191
@dyslexicdrakness , @DORMETA . Were you able to update your access token?

[2019-06-17 22:53] shue249 commented on #192
@KonstantinGOT I see from another thread that you can disable the web cookie but not the cookie on mobile. I will be closing this thread and replying to you on the other thread.

[2019-06-17 22:53] #192 closed

[2019-06-17 23:10] shue249 commented on #189
@patikas14 Thanks for the feedback. There are 2 use cases for your consideration:

1. Uninstalling the previous version of the plugin so that you can install the newer version. For this use case, pls follow the uninstallation video guide and then install the newer version of our plugin. The presence of the plugin on the extensions page should not be a problem.

2. Uninstalling the plugin entirely

[2019-06-17 23:11] shue249 commented on #193
@guilhermeojs Thanks for the feedback. Let us bring this up with our teams.

[2019-06-17 23:27] shue249 commented on #190
@DORMETA

Thanks for the feedback. Based on your feedback, I will like to meet these 2 goals
1. Solve the access token issue on your setup
2. Solve the "loading" message on your setup so that the "Resync products" button is available

Once we solve for item 2, you can trigger a resync so that your latest product status can be synced over to Facebook catalog.

Can you share with us a screenshot of

[2019-06-17 23:32] shue249 commented on #90
@AbdelReheem Thank you for the feedback. We have changed out logic for in stock & out of stock to be the same as OpenCart. Here is the logic.

  1. OpenCart quantity of (1 or more) = Facebook in stock
  2. OpenCart quantity of (0 or less), in stock = Facebook in stock
  3. OpenCart quantity of (0 or less), out of stock = Facebook out of stock
  4. OpenCart quantity of (0 or less), pre order = Face

[2019-06-18 00:06] AbdelReheem commented on #90
@shue249 Thanks for your reply, Please read again my explanation I'm not changing anything in Opencart and I'm just changing your Module Version. In Another words I have 412 Item have quantity of more than zero and the rest of 828 item with quantity Zero

On Facebook Catalog we was have 1K ( 1000 Item in Stock ) when using your Module Version 2.1.10
When we use your module version 2.1.8 we have ac

[2019-06-18 14:55] svremeto opened #195 "Pixel doesn't recognize the Checkout and the Registration page"
Hello!

Pixel doesn't recognize the Checkout and the Registration page. It shows them as View Page Action.

[2019-06-18 21:20] dyslexicdrakness commented on #191
Hey @shue249 sorry for the delay, I had trouble coordinating with affected clients a remote session to try it. It worked!

I might do a mod to insert a button with some kind of warning CLICK TO UPDATE TOKEN ONLY IF NEEDED.

Cheers!

[2019-06-18 21:22] #191 closed

[2019-06-19 00:24] shue249 commented on #195
@svremeto What is the URL of your Checkout and Registration page? Are you using any custom 3rd party plugins that uses a different URL from OpenCart's default URL for checkout and registration?

[2019-06-19 09:56] svremeto commented on #195
@shue249 Hello! My checkout URL is:
index.php?route=quickcheckout/checkout
and the registration URL is the same as its a module and the customer can make registration on the same page. http://prntscr.com/o3sqhd
Could you help me to fix it?

[2019-06-19 13:29] shue249 commented on #195
@svremeto You are using a 3rd party checkout module and we are unable to support the 3rd party module. If you have developer resources, this is the code where you may want to try changing to see if it works - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/catalog/controller/extension/facebookeventparameters.php#L158

For the creation of new user account on the checko

[2019-06-20 10:15] svremeto commented on #195
I have some developer skills but i`m not sure that i understand you. Let me see if i understand - I should make changes in this file and thats how the pixel will start recognizing the 3rd party checkout as a Checkout Action?
Do I understand you correctly?

[2019-06-21 00:48] shue249 commented on #195
@svremeto That is correct. You need to make changes to our plugin file, as our files are reading all the URL route path to decide if we should fire the pixel. If you look at the code line, we are reading the path "checkout/checkout" and you need to change it to "quickcheckout/checkout" for your 3rd party module.

However, 2 things you need to be aware of:
1. It is highly recommended for you to tes

[2019-06-21 14:15] TamamFam opened #196 "Help needed with setup"
Hi, Im trying to install this extension on my opencart 3.03.2

But after installing all looks fine but i get many times error that i need to remove extension and install again. Tried many times diffrent ways .

When i check with Facebook pixel helper there is no pixel found on my website.

I have themeburn pavilion theme....

Any solutions?

Have look at https://www.kinderschoenenoutletamsterdam.n

[2019-06-23 11:56] kfaer commented on #196
same issue, is this extension compatible with OC 3.03.2?
permission did not work

[2019-06-23 13:13] vaguemind opened #197 "The plugin can't be set up because your currency ( egp ) is not supported."
hello , i installed the plugin and when to set it up and connect with facebook pixels that message appears:

The plugin can't be set up because your currency ( egp ) is not supported. Learn more about supported currencies.

could you help me

[2019-06-24 10:19] svremeto commented on #195
@shue249 Thank you for your recommendations. I am not sure that I can test it on a test server. I have a test website but it has no pixel for it. Also, I know nothing about the debug.
Can I just make a backup ( i do it everything if I make some changes)
then do the change in the code,
then check it if it's working
and if it's not to run the back up of the files and database also?

[2019-06-24 15:18] dieg15 opened #198 "Param image_url is not a valid"
I got this error in all my products when trying to import them to my facebook page:

2019-06-24 10:17:09 - Failure update product 140007 / 1957135794391815 on Facebook {"message":"(#100) Param image_url is not a valid URI.","type":"OAuthException","code":100,"fbtrace_id":"BmxMHuxH0k3"}

Thanks in advance!

[2019-06-25 00:04] shue249 commented on #196
@TamamFam , @kfaer

We have yet to test out the plugin with 3.0.3.2. Also, we are wondering if you have seen the installation steps listed here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md

If you are facing permission error, you will need to "install" the module or to give the access permissions manually to your user groups.

[2019-06-25 00:04] shue249 commented on #196
@TamamFam Can you also share a screenshot of what is your error.

[2019-06-25 00:36] shue249 commented on #197
@vaguemind We need the currency code to be all upper case. Can you make the changes below. Then launch the setup for Facebook Business Extension again.

![image](https://user-images.githubusercontent.com/11957585/60060641-22cd2f80-9724-11e9-94a8-6c66ba1bb4a4.png)

![image](https://user-images.githubusercontent.com/11957585/60060676-5a3bdc00-9724-11e9-9f6c-b7bd51c70dd5.png)

[2019-06-25 00:37] shue249 commented on #197
Closing off this issue. Feel free to reach to us if you have any further questions.

[2019-06-25 00:37] #197 closed

[2019-06-25 01:00] shue249 commented on #198
@dieg15 Can you share what is the image url that you are using for the product?

[2019-06-25 01:44] shue249 commented on #195
@svremeto Yes you can do that too.

[2019-06-25 14:28] TamamFam commented on #196
![image](https://user-images.githubusercontent.com/14175851/60106854-2c778700-9766-11e9-8397-2587273f194b.png)

No only says error.....

[2019-06-25 14:38] guilhermeojs opened #199 "Fatal error"
Hi! Yesterday I had a critical issue regarding the Facebook Ads Extension. I think It happened after the last update and It took a while to impact it because of the cache.

![Untitled](https://user-images.githubusercontent.com/20118742/60107354-2caf5c80-973d-11e9-9faf-49ec30e5d1b4.png)

The website and also the admin page went offline with this fatal error. After I've disabled the Facebook Ads Ext

[2019-06-26 00:46] shue249 commented on #199
@guilhermeojs This post has the fix - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/189

What you need to do is to remove all versions of our plugin from your system and Refresh modifications. Then install only the latest version and Refresh modifications.

Will be closing out this ticket, feel free to reach to us if you have any questions.

[2019-06-26 00:46] #199 closed

[2019-06-26 11:58] OjuA1 opened #200 "Fatal error: Cannot redeclare Front::runAction() after updating to version 2.1.10 plugin"
Hello,

Please help if you can. I attempted to updated my plugin by uploading the ocmod zip to my opencart admin. I was in the process of refreshing my modification when I got this error message pointing me to line 30 in my front.php. When I try to access my opencart admin, the error displays same as when I try to access the site .

Any solutions please?

Thank you.

[2019-06-26 13:40] shue249 commented on #200
@OjuA1 Can you look at this post https://github.com/facebookincubator/Facebook-For-OpenCart/issues/189, it will solve your problem

[2019-06-26 13:41] shue249 commented on #200
Will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-06-26 13:41] #200 closed

[2019-06-26 14:29] OjuA1 commented on #200
Thank you shue249. The errors were slightly different as mine pointed to the front.php file but the same method solved it nonetheless. Thanks again

[2019-06-28 02:20] Henry17888 commented on #133
My website was made in multi-language: Chinese and English, and English is the default language. When I check my shop on Facebook, the language is Chinese, how could I use English as my Facebook shop default language?
Thanks in advance

P.S the facebook shop: https://www.facebook.com/pg/AbohodIndustrialCOLTD/shop/?ref=page_internal

[2019-06-28 07:47] lipmycar opened #201 "Unable to remove dir as the directory is not empty"
Hello Support team,

When I try to install the latest version of the extension I get this error:

SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data
OK
<b>Warning</b>: rmdir(/home/lipmycar/public_html/admin//../admin/controller/extension/module/): Directory not empty in <b>/home/lipmycar/public_html/system/upload/temp-6843914e16d340dfa0dc8c648ec0a336/install.php</b>

[2019-06-30 23:51] shue249 commented on #201
@lipmycar Thank you for the feedback. Let us look into this.

[2019-06-30 23:53] shue249 commented on #133
@Henry17888 Can you share with us screenshots of how you setup the products on your OpenCart server? Specifically, we like to see how did you configure the multi language for the products. You can share with us 1 product example.

[2019-07-01 00:03] shue249 commented on #196
@TamamFam Apologies for the delayed reply.

From your error log, it seems that the products are not uploaded successfully to FB on the initial sync. Can you follow this steps to reset your Facebook Business Extension Settings - https://drive.google.com/open?id=1PenBy_xizQGszdiS5BrmVFPypn5HKnkL

Also how many products do you have in your OpenCart website?

[2019-07-01 01:17] Henry17888 commented on #133
@shue249 may I have your email? then I will send the screenshots to you. Thx

[2019-07-01 01:17] shue249 commented on #90
@AbdelReheem

Apologies for the delayed message.

**On the topic of product out of stock status.**
Indeed, we have a change in logic for the product out of stock status from plugin version 2.1.8 to 2.1.9, hence you are seeing this change in implementation.

In 2.1.8, our logic for setting out of stock is based purely on the stock quantity and subtract stock option. The logic is as follow:
1 or mor

[2019-07-01 01:38] shue249 commented on #133
@Henry17888 Sure, you can reach to us at ads_extension_opencart@fb.com

[2019-07-01 01:40] shue249 commented on #180
@wegee-us Want to check in with you again, are you still facing problems on this?

[2019-07-01 02:23] Henry17888 commented on #133
Got it.

[2019-07-01 10:19] svremeto commented on #195
@shue249 Thank you very much for your help! I think i`ve fixed it!
http://prntscr.com/o8yu2i
Is that enough proof for me that everything it's working correctly and there is no "hidden causes"?

Also, i found that when we had an order, the order wasn`t counted in the business analytics. Do you know what could cause this?

Thank you very much again!

[2019-07-01 16:50] miaosun commented on #133
Is there an update on this? I'm having the exact same problem.

[2019-07-01 22:02] wegee-us commented on #180
@shue249 yes, still have this problem. the products are not fully show in front shop page
https://www.facebook.com/pg/WBuy.us/shop/?rid=1057257881079291&rt=6

[2019-07-02 00:26] yurinunes165 opened #202 "Version 3.0.3.2"
When will a version for version 3.0.3.2 be available?

[2019-07-02 00:47] shue249 commented on #202
Thank you for the feedback. We are testing the plugin for 3.0.3.2 and putting in other features to be ready for next version. Will update you soonest.

[2019-07-02 01:11] Henry17888 commented on #133
I have submitted the screenshots yesterday. Once it solved, I will let you know.

[2019-07-03 00:25] jamaakurtlar opened #203 "Opencart error Cannot redeclare modification()"
I installed mod

facebookadsextension.ocmod

 and it will not allow me access to my Extensions -> Modifications section so that I can uninstall the mod. I receive this error when I attempt to go to "Modifications":
Fatal error: Cannot redeclare Router::runAction() in /home/domain/storage/modification/system/engine/router.php on line 39

the problem is this extension already install in my opencart

[2019-07-03 02:45] shue249 commented on #203
@jamaakurtlar Thank you for the feedback. Can you look at this post for the solution - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/189

We will be closing out this ticket, but feel free to comment on the same post if you have any further questions.

[2019-07-03 02:45] #203 closed

[2019-07-03 05:34] Henry17888 commented on #133
@miaosun I solved this problem.
Firstly, [Delete the existing settings for Facebook for OpenCart](https://drive.google.com/open?id=1PenBy_xizQGszdiS5BrmVFPypn5HKnkL)
Secondly, [Uninstall the plugin ](https://drive.google.com/open?id=12dX2wYTcE3Y7Wf-ZBD_6X4EAZU2L-8vp)
Thirdly, I deleted the local Chinese language in my web administration
Then, reinstall and set the plugin as the guide. You will fin

[2019-07-03 05:48] HasanMadni1 opened #204 "Facebook ads extension 2.1.10 Opencart Version 3.0.2.0 sync failure"
Keep showing the error mention below event delete the and restart the setup many time
Facebook plugin version and Opencart version are mention in  subject
i have also attached the logged for better understand please help us with this issue

We have around 10,000 product on our server enable

[Log File.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3353439/Log.File.log)

**Er

[2019-07-03 07:24] shue249 commented on #204
@HasanMadni1 After looking through the log file, we see that you have restarted the setup several times. There are indeed some times where the setup failed, but there are also other occasions where the setup is successful.

Can you try to delete the settings and restart the setup again and share the log file.

[2019-07-03 07:50] HasanMadni1 commented on #204
Hi Dear,

Thanks for the prompt response.
Yes we have tried the plugin before now yesterday install the plugin and setup the thing from scratch  just before writing this email delete and restarted the setup once again as you told that it happen for few times sharing the logs after the restart the setup please have a look and let me know.

Thanks & Regards
Hasan Madni

_____________________________

[2019-07-03 08:53] miaosun commented on #133
Hi @Henry17888 , thank you for your information, but what you suggested seems to me a temporary workaround, not a proper solution.

Can you try what happens if you create few new products and then sync them again to Facebook, will they still be in Chinese?

I also sent an email to @shue249 yesterday, let's hope a fix is coming soon :)

[2019-07-03 12:33] miaosun commented on #133
@Henry17888, I made the test and after doing "Resync Products to Facebook", all the products we synced before with the language we want will be replaced with Chinese infos...

@shue249 can we have an ETA for the fix, please?

[2019-07-03 14:07] jamaakurtlar commented on #203
work for me , thank you shue249  :)

[2019-07-03 18:38] Kucenkov opened #205 "photos are not uploaded"
photos are not uploaded
Opencart ocStore 2.3.0.2.3
Plugin Version: 2.1.10

<img width="1640" alt="Снимок экрана 2019-07-03 в 21 36 27" src="https://user-images.githubusercontent.com/24460483/60616692-bcf33e80-9dda-11e9-8b89-86e20dec9b18.png">

[2019-07-03 23:16] shue249 commented on #204
@HasanMadni1 Do you have the latest log file after you restart the setup?

[2019-07-03 23:19] shue249 commented on #195
@svremeto The screenshot on InitiateCheckout looks right.

We are not sure what is the cause of the order not counted in business analytics, as there could be too many factors affecting this. The best is to test out on a dummy website by installing each external plugin at a time to determine where the failure could be.

[2019-07-03 23:20] shue249 commented on #133
We are still looking into this. Pls give us some time to identify the problem and think of a solution. Will update this post soonest once we have any updates.

[2019-07-04 00:43] shue249 commented on #205
@Kucenkov Thank you for the feedback. It may take some time for our crawlers to retrieve the photos and store them on FB side. I did a check and found that the product images are now available.

![image](https://user-images.githubusercontent.com/11957585/60631617-e2139b80-9e32-11e9-81e7-069431c13c4c.png)

Will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-07-04 00:43] #205 closed

[2019-07-04 03:34] Henry17888 commented on #133
@miaosun, I uploaded a new product on my website yesterday, then I Resync products to Facebook. When I check the new product on Facebook shop, the language is the local Chinese language. So sad :(
@shue249 Take your time. Thanks for your kindly help on this issue.

[2019-07-04 05:51] nymphaclothing opened #206 "Website blocked or error ? Why is it blocked?"
Everything went fine for our nymphaclothing.com online store, except yesterday when all of our products cannot be tagged anymore in Instagram, it seems that the feed is seen with 219 products but the product list wont show. The link nymphaclothing.com in instagram bio wont work, also messages in facebook says :
Your message couldn't be shared, because this link goes against our Community Standards

[2019-07-04 05:53] nymphaclothing commented on #206
Also we attach the error log of Facebook Ads Extension
[SHOP A DEAL SRL_2019-07-04_05-52-50_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3357848/SHOP.A.DEAL.SRL_2019-07-04_05-52-50_facebook_ads_extension.log)

[2019-07-04 06:15] HasanMadni1 commented on #204
Hi

Please find attached logs after restart.

Thanks & Regards
Hasan Madni
________________________________
From: shue249 <notifications@github.com>
Sent: Thursday, July 4, 2019 3:16 AM
To: facebookincubator/Facebook-For-OpenCart
Cc: HasanMadni1; Mention
Subject: Re: [facebookincubator/Facebook-For-OpenCart] Facebook ads extension 2.1.10 Opencart Version 3.0.2.0 sync failure (#204)

@HasanMadni1<h

[2019-07-04 23:56] shue249 commented on #204
@HasanMadni1 You will need to put the attached file on github website instead of replying to the email, as the reply from email will not add the attachments.

[2019-07-06 05:21] mahmoud-lembo opened #207 "Journal 3 Theme"
I am working on journal3
the module give me SyntaxError on journal3 theme
works fine on default theme,
can you make a compatible version for journal3?

[2019-07-06 05:50] HasanMadni1 commented on #204
Noted I will do the same by today

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: shue249 <notifications@github.com>
Sent: Friday, July 5, 2019 3:56:10 AM
To: facebookincubator/Facebook-For-OpenCart
Cc: HasanMadni1; Mention
Subject: Re: [facebookincubator/Facebook-For-OpenCart] Facebook ads extension 2.1.10 Opencart Version 3.0.2.0 sync failure (#204)

@HasanMadn

[2019-07-06 06:31] HasanMadni1 commented on #204
Hi Please find attached logs after restart
[ShopAlArab.Com_2019-07-06_06-29-53_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3364472/ShopAlArab.Com_2019-07-06_06-29-53_facebook_ads_extension.log)

[2019-07-06 09:03] shue249 commented on #206
@nymphaclothing We have feedback this to our internal teams. Will get back to you soonest if they have any updates.

[2019-07-06 09:04] shue249 commented on #207
@mahmoud-lembo Can you share more details on the error so that we can better understand what is the problem. Any screenshots or error logs that you can share.

[2019-07-06 23:27] mahmoud-lembo commented on #207
Uncaught SyntaxError: Unexpected token % -> index:17615

Index 17615 line
{% if facebook_pixel_id_FAE %}

[2019-07-07 16:58] c0s7y commented on #207
![facebook](https://user-images.githubusercontent.com/52632609/60771481-862a6a80-a0f1-11e9-8de8-d42cf13d9452.jpg)
i have OC 2.3.0.2 with Journal 3.

[2019-07-08 04:47] shue249 commented on #207
@mahmoud-lembo Thanks for sharing the feedback on your error message. What version of OpenCart are you using? The code you are sharing is for OpenCart v3.x and this will not work for OpenCart v2.x

[2019-07-08 04:53] shue249 commented on #207
@c0s7y
1. Can you check if you have given the relevant read+write access permission (775) to the admin, catalog, system folders? This error could be due to the missing facebookcommonutils.php file which is not copied over to your webserver during the plugin installation. If this is the case, you can put in the relevant permissions, uninstall the plugin and re-install the plugin again.
![image](htt

[2019-07-08 04:54] shue249 commented on #198
@dieg15 We are closing out this ticket for now. Feel free to reach to us if you have any further questions.

[2019-07-08 04:54] #198 closed

[2019-07-08 05:13] mahmoud-lembo commented on #207
I am using Version 3.0.3.2

[2019-07-08 07:17] shue249 commented on #207
@mahmoud-lembo Can you share with us here the header.twig file on your webserver for Journal 3.
![image](https://user-images.githubusercontent.com/11957585/60790184-76636280-a193-11e9-9754-c57aaa62f669.png)

[2019-07-08 14:22] SamairZia opened #208 "Product not showing any detail on Facebook page after updating to version 2.10"

[2019-07-08 19:49] mahmoud-lembo commented on #207
The issue was that i was firing the pixel from headers and the extension doing the same,
it was duplicated, removed the firing from headers and everything is working fine now.

[2019-07-08 20:34] c0s7y commented on #207
thank you.
Case close.

[2019-07-08 23:02] shue249 commented on #207
Closing this ticket. Feel free to reach to us if you have further questions.

[2019-07-08 23:02] #207 closed

[2019-07-08 23:03] shue249 commented on #208
@SamairZia Can you provide more details and screenshots of the problem you are facing. What is the link of your Facebook page shop and which are the products affected.

[2019-07-08 23:08] shue249 commented on #204
@HasanMadni1 From the last restart, the product catalog sync has been successful. However, there are some new errors coming from the access token due to the need to verify the authenticity of your account. To solve this problem, can you access facebook.com and follow the required authenticity steps.

[2019-07-09 08:01] nymphaclothing commented on #206
Hello,

Any news regarding our request? This is an urgent situation, our business is suffering a lot each day. We did our part of being loyal to your services in the last years (17.000 usd spent in Ads in the last 2 years) and now Facebook is keeping us in a waiting list that might ruin our years of hard work...

Can you speed up the process in any way and flag our request please?

Multumesc,
Razv

[2019-07-09 08:15] HasanMadni1 commented on #204
Hi Today once again the error started i have attached logs for your reference.

[ShopAlArab.Com_2019-07-09_07-26-36_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3371903/ShopAlArab.Com_2019-07-09_07-26-36_facebook_ads_extension.log)

[2019-07-09 09:33] tomeda commented on #169
How can I choose which customer group id price to be selected. I want to only sync 1 special price as the discount but to be able to choose which customer group id to be selected. Because now I have two customer group id's, one is default from which special prices must be pulled, however discounted price in facebook are not from the default group.

[2019-07-09 09:37] tomeda commented on #169
Please check the screenshot http://tinyurl.com/y425lkcp

[2019-07-09 11:04] lipmycar commented on #201
Do you have any ideas what can cause this issue?
Unfortunately I am not able to use the latest version of the extension.

[2019-07-09 23:58] shue249 commented on #206
@nymphaclothing Thanks for following up. We just heard back from our internal team. They have helped to resolve this issue. Can you check if this problem still exists.

[2019-07-10 00:31] #206 closed

[2019-07-10 05:11] HasanMadni1 commented on #204
Hello please check this logs you answered for the previous.

[2019-07-10 06:00] HasanMadni1 commented on #204
Please answer for the new attachment.

[2019-07-10 07:04] nymphaclothing commented on #206
Thank you for your help !

Can you please ask what was the problem ? It will be a great deal for us to avoid this in the future...it was automatic error or it was something that we did ?

Respectfully,

Multumesc,
Razvan Stroescu
0766.511.681

________________________________
From: shue249 <notifications@github.com>
Sent: Tuesday, July 9, 2019 11:58 PM
To: facebookincubator/Facebook-For-OpenCart
C

[2019-07-10 08:05] shue249 commented on #206
@nymphaclothing Unfortunately I do not have a reply on this as our internal teams did not share out the reason. You can reach to us here if this happens in future and we can get our internal teams to help take a look.

[2019-07-10 16:00] KonstantinGOT opened #209 "The catalog is not updating and in instagram can see 2 catalogs"
Have 2 problems
1) have a duplicate catalog that i only see in Instagram app but not in FB
2) the catalog is not updating from the webpage even if i do it manually

[2019-07-10 16:14] macson12003 opened #210 "Facebook Ad Extension Not Working with Journal 3 Template"
Get the error **Not Found** when I try to install the extension on my opencart site which uses the journal 3 template

[2019-07-10 18:55] priyorockz opened #211 "Undefined class constant 'FACEBOOK_CUSTOMIZATION_GREETING_TEXT_CODE'"
Page (store front) breaks after updating to 2.1.10. It gives the following message.

[2019-07-10 22:52] wegee-us commented on #188
@shue249 Hi, any updates?

[2019-07-11 00:38] shue249 commented on #211
@priyorockz Can you check if your system folder on your webserver is writable. We have a latest version of the facebookcommonutils.php file and I believe that this file is not updated correctly on your webserver. For more context, this is the code line you should be seeing on the same file on your webserver - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/libr

[2019-07-11 00:40] shue249 commented on #210
@macson12003 Can you provide more context on the Not found error. Is there any error logs or screenshots you can share with us?

Another user opened a ticket relating to Journal3. Will you be able to take a look and see if there's any relevancy - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/207

[2019-07-11 00:42] shue249 commented on #209
1. For the issue on duplicate catalogs, will you be able to provide us both the catalog ids

2. For the problem where the catalog is not updated. Can you share with us your log file for the Facebook business extension plugin. Also are you making the product changes using the default Opencart product management module or are you using a 3rd party product management module.

[2019-07-11 02:46] KonstantinGOT commented on #209
1) is there other way? i don't see it in fb and in Instagram the number is not full
2) here
[satorisanshop.ru_2019-07-11_05-44-31_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3380033/satorisanshop.ru_2019-07-11_05-44-31_facebook_ads_extension.log)

[2019-07-11 07:25] HasanMadni1 commented on #204
Hello still waiting for the feedback 2 days has been passed

[2019-07-11 08:01] macson12003 commented on #210
Thank you for your response. The error in #207 is different from mine. Please find attached the error message.

![image](https://user-images.githubusercontent.com/31445840/61032918-519d0400-a3ba-11e9-8929-ff2aa9d7d288.png)
![image](https://user-images.githubusercontent.com/31445840/61032932-582b7b80-a3ba-11e9-8d54-415f7f4d22ee.png)

![image](https://user-images.githubusercontent.com/31445840/61032

[2019-07-11 08:10] shue249 commented on #210
@macson12003 Will you be able to access the webserver error log file and share the error messages?

[2019-07-11 08:16] shue249 commented on #204
@HasanMadni1 If you looked at the log file, you can see that the setup is successful and the product sync are successful on 8th Jul. However, it seems that you have have went to delete and restart the setup again and then the setup was incomplete.

Can I suggest for you to delete and restart the setup again. And then you can make 1 product edit and check the log file. If you see success message, t

[2019-07-11 08:17] macson12003 commented on #210
2019-07-11 8:15:52 - PHP Warning:  unlink(/home2/horlahde/opencart/storage/cache/cache.catalog.language.1562835485): No such file or directory in /home2/horlahde/public_html/system/library/cache/file.php on line 68
2019-07-11 8:15:52 - PHP Warning:  Cannot modify header information - headers already sent by (output started at /home2/horlahde/public_html/system/framework.php:271) in /home2/horlahde

[2019-07-11 08:17] shue249 commented on #188
@wegee-us Apologies for the delay, we are working on some other fixes and will look into this asap and update you soonest.

[2019-07-11 08:19] shue249 commented on #210
@macson12003 From the error logs, I am not sure what will be the right solution to advise you. Will you be able to try to clear any server caches or to re-install the plugin again and see if it fix the problem

[2019-07-11 08:26] wegee-us commented on #188
@shue249 ok

[2019-07-11 08:26] macson12003 commented on #210
Kindly share steps to clear the cache

[2019-07-11 09:51] shue249 commented on #210
@macson12003 You can try the steps here - https://drive.google.com/open?id=1bY-bworYxX36b88HDvFW0_32C3Wtq_Tm

[2019-07-11 10:02] HasanMadni1 commented on #204
Hi I have restarted once again just now also sharing the log after the fresh restart
most of the time when i have restarted after 2 days will get the same error
please find attached screen shot for your reference including the logs
[ShopAlArab.Com_2019-07-11_10-00-44_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3381414/ShopAlArab.Com_2019-07-11_10-00

[2019-07-11 12:56] macson12003 commented on #210
This is the error I get now
2019-07-11 11:52:26 - PHP Warning:  unlink(/home2/horlahde/opencart/storage/cache/cache.catalog.language.1562849545): No such file or directory in /home2/horlahde/public_html/system/library/cache/file.php on line 68

[2019-07-11 20:31] i3kevin opened #212 "1 Add to cart Fired for 2 times?"
When I add one product to cart, there is a double record for 'Add to Cart' Pixel.

The difference between the two records are Parameters: (5) and Parameters: (6)
What do these Parameters mean?

![image](https://user-images.githubusercontent.com/45218158/61083111-8a41e980-a45d-11e9-8283-6dceefec0d43.png)

[2019-07-12 02:58] shue249 commented on #212
@i3kevin The second AddToCart is the event fired from our plugin (we included in the num_items parameters).

I am not sure what is the actual reason for the first AddToCart event, I can suggest for you to look if you have implemented any pixel firings manually or using other 3rd party plugins. If you are doing so, you need to remove these pixel firings.

In terms of double firing for AddToCart, th

[2019-07-12 02:58] #212 closed

[2019-07-16 00:52] guilhermeojs opened #213 "Fatal error"
Hi there.

I've been having a fatal error that happens for around 10 minutes and then it comes back to normal. The last fatal error I had on my store was due the extension.

Any idea if this is related?

Fatal error: Cannot access property Composer\Autoload\ClassLoader::$prefixLengthsPsr4 in /home/mystore/storage/vendor/composer/autoload_static.php on line 131

[2019-07-16 14:29] shue249 commented on #213
@guilhermeojs This is the first time we see this error. Perhaps we can monitor this more further and see if it still happens later on.

[2019-07-16 18:25] KonstantinGOT commented on #209
@shue249 any update

[2019-07-17 10:11] c0s7y commented on #207
hello,

I have OC 2.3.0.2 with Journal 3.
I move my site from subdomain in the domain, reinstall the module.
I have 2 error:
Permission Denied
![facebook admin](https://user-images.githubusercontent.com/52632609/61367369-2459c580-a894-11e9-8d67-de9ff4d7774d.jpg)
Site error
![facebook](https://user-images.githubusercontent.com/52632609/61367259-e9f02880-a893-11e9-94d3-d89fec5be6ed.jpg)

[2019-07-17 13:43] Steve-Regal opened #214 "Opencart 2.0.2.0 'missing database tables'"
Hi,

using Opencart 2.0.2.0, running Journal 2 theme. Have set the permissions to '775' on the required file paths, but am still getting the following issue:

We have detected these missing database tables for Facebook Ads Extension. Please give the CREATE privilege for your database user.
oc_facebook_product

I have refreshed the cache, I have uninstalled and re-installed, but still can not get p

[2019-07-17 13:51] pablomarttiins opened #215 "Image not linked to the product is appearing in the catalog"
After updating to the latest version of the plugin (2.1.10), on the Facebook catalogs page, in all my products, a gray background image appears, which is not of my products, follow image:

![1 - Imagens Não carregadas](https://user-images.githubusercontent.com/24293232/61379882-c79fe000-a87e-11e9-863a-86e08a3d041b.jpg)

And when I click on some product in the catalog, the first image remains that

[2019-07-17 13:51] c0s7y commented on #211
![facebook admin2](https://user-images.githubusercontent.com/52632609/61381034-20896b80-a8b3-11e9-95b9-687d4dacb2af.jpg)
after update facebookcommonutils.php

[2019-07-17 14:10] shue249 commented on #215
@pablomarttiins What is your catalog id?

[2019-07-17 14:11] shue249 commented on #214
@Steve-Regal The error is on the permission level of your database user. You need to give the CREATE permission to the user as we need the permission to create a new database.

[2019-07-17 14:13] Steve-Regal commented on #214
Hi, all database permissions are all set to 775 which is read, write and execute for Owner and Group

[2019-07-17 14:13] shue249 commented on #210
@macson12003 For this latest warning, we are unsure of what could be wrong. You may need to engage some developers to determine the problem

[2019-07-17 14:15] shue249 commented on #209
@KonstantinGOT
1. What is the URL for the catalog on FB and Instagram?

2. The log file shows that the updates are done correctly. Can you share where are the areas of mis match?

[2019-07-17 14:15] shue249 commented on #208
Closing this as no follow up. Pls feel free to reach out if you have further questions.

[2019-07-17 14:15] #208 closed

[2019-07-17 14:17] shue249 commented on #214
@Steve-Regal You have mixed up file permission with database permission. For database permission you need to set it  from the MYSQL database side.

[2019-07-17 14:20] shue249 commented on #207
@c0s7y
1. For permission denied, you need to give the permission access to to the module. Can you look at the Plugin installation section in this guide - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md

2. For the facebookcommonutil.php file, can you check if the file has 775 permission.

[2019-07-17 14:21] c0s7y commented on #207
thank you,
 the module working now.

[2019-07-17 14:23] Steve-Regal commented on #214
okay I will take a look now thanks, will update shortly

[2019-07-17 14:25] pablomarttiins commented on #215
Follow the print and catalog code:

Code: 2068210886629485

Image:

![4 - Código de catalogo](https://user-images.githubusercontent.com/24293232/61383659-7cd59680-a885-11e9-91ca-7c66dcb211b0.jpg)

[2019-07-17 14:54] Steve-Regal commented on #214
hi, have also checked and the database permissions are all set to create

[2019-07-17 16:20] KonstantinGOT commented on #209
2) but it shows the last update was on Last successful update : Tue May 28, 2019 12:56am
quite far away from now. @shue249

[2019-07-17 20:08] shue249 commented on #214
@Steve-Regal Can you also check if the database permission has ALTER table permissions

[2019-07-17 20:09] shue249 commented on #215
@pablomarttiins We checked and found the catalog to be deleted. Is the catalog id correct?

[2019-07-17 20:11] shue249 commented on #209
@KonstantinGOT The last update information shown on the catalog is shown due to the initial feed upload from the sync.

Will you be able to share any mis-match shown on the catalog?

[2019-07-18 10:44] Steve-Regal commented on #214
Hi, yes all permissions are ticked.

Best Regards,
Steve Brown
*_______________________________*
Office Phone: +44 (0) 2380 55 86 36
<https://mailtrack.io/trace/link/ccdba879a375d4959cb92afd20e9f719f55c4448?url=http%3A%2F%2Fwww.regalautosport.com%2Fshop&userId=4267568&signature=db7f3ebd9eaf4838>Online
Shop
<https://mailtrack.io/trace/link/426646615f21daadccad1fcdf410420854a048d1?url=http%3A%2F%2Fw

[2019-07-18 14:12] shue249 commented on #214
Can you try to remove away our plugin and re-install the plugin again and see if it works.

[2019-07-18 17:35] c0s7y commented on #207
after saving the product
![facebook](https://user-images.githubusercontent.com/52632609/61479018-9963f280-a99b-11e9-95c9-87b35b2761e9.jpg)

[2019-07-19 21:10] shue249 commented on #207
@c0s7y Can I suggest for you to do these:
1. Check if the admin, catalog and system folders have 775 permissions recursively
2. Uninstall the plugin and re-install the plugin again. We believe that some of our plugin files may not have been correctly copied over.

[2019-07-19 21:11] shue249 commented on #211
Closing out this ticket. Feel free to reach to us if you have further questions!

[2019-07-19 21:11] #211 closed

[2019-07-19 21:12] shue249 commented on #204
@HasanMadni1 After the last restart, do you still get any error on the catalog sync?

[2019-07-19 21:13] shue249 commented on #196
Closing out this ticket for now. Pls feel free to reach to us if you have any further questions.

[2019-07-19 21:13] #196 closed

[2019-07-19 21:23] c0s7y commented on #207
the problem persists :(
![facebook](https://user-images.githubusercontent.com/52632609/61566361-909b1b80-aa84-11e9-82ec-3ec2e3495d45.jpg)

[2019-07-20 05:46] TyrannosaurHex opened #216 "How do you run ads from the Synced products?"
Not sure if this is the correct place to ask this, but shouldn't there be an option to add the products in Facebook shop while creating a New Ad? How do I do this?

[2019-07-21 10:32] prismatix opened #217 "Showing product without tax"
Hi,

The prices are showing with no tax on facebook shop. The option "Show products with tax" is enabled on my shop backoffice. I'm using opencart 2.1.0.2

Anyone experienced this? Is there anything I can do to fix this?

Thanks in advance

[2019-07-21 23:48] shue249 commented on #207
@c0s7y Can you do a resync for all your products and see if this problem still exists.

![image](https://user-images.githubusercontent.com/11957585/61598815-15d52a80-ac55-11e9-825d-53ec6bdf07ca.png)

[2019-07-21 23:53] shue249 commented on #216
@TyrannosaurHex
1. For running Facebook Dynamic ads, I can suggest for you to look at this document - https://www.facebook.com/business/ads/dynamic-ads

2. For adding of new products to Facebook shop and Facebook product catalog, the information can be found here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#syncing-of-opencart-products-to-facebook-catalog

We wil

[2019-07-21 23:53] #216 closed

[2019-07-22 06:02] shue249 commented on #217
@prismatix

1. We are applying the product tax based on the tax class selected for the product. Can you check if the tax class is setup accordingly.
![image](https://user-images.githubusercontent.com/11957585/61609577-20a9b280-ac89-11e9-820c-30449c816305.png)

2. If this logic does not work for you, and if you have development resources, you can make the changes to the plugin code. The logic for s

[2019-07-22 06:15] c0s7y commented on #207
don't wok.
Same error.
I paste from Error Log.

2019-07-22 9:12:00 - PHP Notice:  Undefined index: product_group in /home/cnchomer/public_html/admin/controller/extension/facebookproduct.php on line 290
2019-07-22 9:12:00 - PHP Notice:  Undefined index: product_group in /home/cnchomer/public_html/admin/controller/extension/facebookproduct.php on line 290
2019-07-22 9:12:01 - PHP Notice:  Undefined

[2019-07-22 13:09] PetrBren opened #218 "Enable page shop after installation"
Hello. During the installation process, in the section "Your products" I didn't toggle Page shop.

Is there a way to enable this later? I can't see it anywhere in the settings. The section "Your products" only offers an option to load the products.

edit: the OC versions is 2.3.0.2
Plugin Version: 2.1.10

[2019-07-22 13:21] PetrBren opened #219 "Load products stuck on step 1 - creating source file"
Hello. In the administration, under the section "Your products" when I choose Load, it seems to be loading forever and a bubble tooltip says "Products are importing: step 1 - creating source file". (Last succesfull update was two hours ago I don't recall doing any changes in server configuration since.) The OC versions is 2.3.0.2.

edit: in fact I changed the permissions from 770 to 777 because of

[2019-07-22 23:59] shue249 commented on #218
@PetrBren There is no way to enable this later. If you wish to enable page shop later, the only way is to Delete away the existing settings which will trigger a new re-setup and you can enable page shop.

I will be closing off this ticket. Feel free to reach out to us if you have further questions.

[2019-07-22 23:59] #218 closed

[2019-07-23 00:03] shue249 commented on #219
@PetrBren Do you see any red error messages displayed on the plugin module? If not, things should be working fine. You can verify this on the log file and see if there are any error message reported out.

You can read more on how we sync products from your website to Facebook - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#syncing-of-opencart-products-to-facebook-ca

[2019-07-23 22:05] shue249 commented on #204
We will be closing out this ticket. Feel free to reach out if you have any further questions.

[2019-07-23 22:05] #204 closed

[2019-07-29 06:37] nyxeldigital opened #220 "Pixel Account not available"
During the setup process with the latest extension the page for the business is selectable after logging in but when selecting the Pixel account I can only see a single Pixel account that is not the correct one.

The facebook account has access to 4 pixel accounts and I can manage these fine in the facebook business manager but I cannot select them for the OpenCart plugin other than one older one.

[2019-07-29 09:50] harrysrevis opened #221 "Access token error keeps showing and the "Update token" button is not available."
For the last few days after installing the Facebook Business Extension, after some time i get an error about updating the access token.

What can i do to solve this? I had some products tagged and since i had to remove the broken versions and reinstall the new ones all my product tags have been removed and that messed up the whole situation.

Any ideas? Thanks..

[2019-07-29 12:25] RuDee-BG commented on #221
The button is in the setting of the extension, but when i click to get new token, facebook locks my FB account, then i have to change my password, and then again i have to reset the token and thing goes forever... please fix this...

[2019-07-29 14:13] nyxeldigital commented on #220
We found out the issue, was an ad account not connected.

Can close

[2019-07-29 14:13] #220 closed

[2019-07-30 02:58] shue249 commented on #207
@c0s7y Do you have any existing ads running on the catalog? If not, one more solution for you to try is to Delete away the existing Facebook Business Extension settings and then redo the setup again.

[2019-07-30 03:02] shue249 commented on #219
@PetrBren Any updates from your side, are you still encountering this error?

[2019-07-30 08:12] shue249 commented on #214
@Steve-Regal Like to check in again to see if you are still encountering any further problems.

[2019-07-30 08:14] shue249 commented on #201
@lipmycar Apologies for the delay.
1. Can we understand what is the version of your OpenCart? Is the version 2.0.3.1?
2. If the version is 2.0.3.1, do you have folder "admin/controller/extension/module" on the webserver? If so, can we understand why do you need this folder?

[2019-07-30 08:15] shue249 commented on #189
Closing this issue as archive.

[2019-07-30 08:15] #189 closed

[2019-07-30 08:15] shue249 commented on #217
@prismatix Are you still having any questions or issues with the product tax?

[2019-07-30 08:16] shue249 commented on #215
@pablomarttiins Are you still facing any problems with the image on the new catalog?

[2019-07-30 08:16] shue249 commented on #213
@guilhermeojs We will be closing off this issue. Feel free to reach to us if you have further questions

[2019-07-30 08:16] #213 closed

[2019-07-30 08:18] shue249 commented on #221
@harrysrevis and @RuDee-BG Did you log out from Facebook account on your web browser?

[2019-07-30 08:48] Steve-Regal commented on #214
Thanks for the follow up, we had some issue's with the database so i need
to take another look at it now thats resolved. I will be in touch if i
require more assistance

Best Regards,
Steve Brown
*_______________________________*
Office Phone: +44 (0) 2380 55 86 36
<https://mailtrack.io/trace/link/03c04ff0e79d8549526a65d4382e713e16b60c06?url=http%3A%2F%2Fwww.regalautosport.com%2Fshop&userId=426756

[2019-07-30 08:58] RuDee-BG commented on #221
I don't log out, i just get new token, then when refreshing FB my account become locked, then i have to go throu some steps to verify my account, and then again i get error in opencart plugin

[2019-07-30 09:19] RuDee-BG commented on #221
Do i have to log out first then get new token, then login again?

[2019-07-30 12:59] ivklau opened #222 "error with Facebook Ads Extension setup"
There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Github if this error keeps showing.
The sync failure of your products to Facebook may be because of the large number of products on your system (We detected 168147 products).

Can help me?
Op

[2019-07-30 13:37] harrysrevis commented on #221
@shue249 I didn't log out! Should i do this first? Moreover (since @RuDee-BG mentioned it) i had the same problem too with account lock down. I usually come up with this notification that someone tried to access my account and it should be locked in order to verify it first.

I thought that someone tried to access my account but after seeing the problem mentioned i figured it out that it might be

[2019-07-30 13:59] guilhermeojs commented on #193
Any improvements on this @shue249 ? If the user doesn't allow Facebook to track its activity the popup message to track it keeps popping up also with the messenger plugin.

What annoys the most (got feedback from multiple customers) is the messenger popup

[2019-07-30 15:05] shue249 commented on #193
@guilhermeojs Apologies for the delay.

1. Will you be able to share a screenshot of how the messenger popup looks like on your mobile website.

2. Can you explain more on the point of doesnt allow Facebook to track its activity.

[2019-07-30 15:05] shue249 commented on #214
Closing this for now. Feel free to reach to us if you have further questions.

[2019-07-30 15:05] #214 closed

[2019-07-30 15:06] shue249 commented on #210
Closing this issue. Feel free to reach to us if you have any further questions.

[2019-07-30 15:06] #210 closed

[2019-07-30 15:10] guilhermeojs commented on #193
No worries.

I've uploaded the screenshot and the video to make it easier. Let me know if you need anything else.

https://drive.google.com/drive/folders/1MCTkhqGxpWPkOG8UyQDXE_q_W0XJLD4R?usp=sharing

[2019-07-30 15:26] shue249 commented on #193
@guilhermeojs Thanks for the screenshot and the videos.

1. For the mobile. Your earlier feedback is that the messenger chat plugin takes up most of the screen on the mobile. However, from your video, I see that it is only occupying a small area at the bottom of your screen. Can I understand how will your ideal view be?

2. For the desktop, it seems that the this is happening on safari? Is there a

[2019-07-30 15:34] guilhermeojs commented on #193
1. I've definitely exaggerated with the "takes up most of the screen" - I do have a big mobile phone, but I always wonder how is the UX for an user who doesn't own a big one. The worst thing is that even if you click to close the messenger on "X" it keeps popping it up and opening it again.

2. I didn't record the desktop video, it was a friend of mine using it Safari so I can't tell you much abou

[2019-07-30 22:59] shue249 commented on #193
@guilhermeojs We did some tests on your website from our development devices.

1. For the mobile, we tested on Android Chrome, iOS Safari and iOS Chrome. Here are our observations:
Android Chrome - problem not happening
iOS Safari, if we do not accept the privacy tracking - problem happening
iOS Safari, if we accept the privacy tracking - problem not happening
iOS Chrome - problem not happening
Ba

[2019-07-31 08:52] stefansxxl opened #223 "Can't sync products-Error with getting the initial product sync status"
Hi there, yesterday i upgraded my version to 2.1.10. Can't sync products, I attach the log file. Some error messages are displayed in Opencart.

**Error when querying FB page - Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for security reasons.

Error**

The first error message disappears when I log into

[2019-08-01 01:59] shue249 commented on #223
We are looking into a long term change to address this issue as well as to provide maximum security for the plugin users. For now, the suggested solution is to stay log into the facebook account.

Side note: same issue as reported here - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/185

[2019-08-01 02:00] shue249 commented on #222
@ivklau Can you look into this FAQ section to see if it helps you - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#syncing-of-opencart-products-to-facebook-catalog

[2019-08-01 02:01] shue249 commented on #221
@harrysrevis, @RuDee-BG You should not need to log out and you need to stay logged in.

Want to double confirm again, are you still getting this problem right now?

[2019-08-01 06:32] RuDee-BG commented on #221
Let me check it out, i did leave the error message in OP admin panel for several days, cause i was tired changing FB password...

[2019-08-01 12:45] harrysrevis commented on #221
@shue249 Let me check it please!

[2019-08-01 12:50] harrysrevis commented on #221
@shue249 I deleted and reinstalled the pixel. I still don't have an "Update token" button appear but i will check if there will be any errors in the following 1-2 days!

[2019-08-02 17:32] zigi00x opened #224 "Problem with facebook store I can't manage"
![image](https://user-images.githubusercontent.com/1354349/62387825-ffd03f80-b55b-11e9-8ed9-beafc33f3e2b.png)

Hello, I deleted a Facebook page I would create a new one and add it to the opencart stores, unfortunately I can't manage the stores in manage settings but i get error

[2019-08-02 21:33] normdouglas commented on #16
I would like to add my support for this feature. Whilst I appreciate the work on this product, it's purpose is so that we can spend money with Facebook... and I think this is a great oversight on the developers point of view which makes the extension virtually useless.
This issue caused a great deal of embarrassment to my business particularly because when you look at the product on the Facebook C

[2019-08-02 21:41] normdouglas commented on #154
Can you please clarify this > "Then, try to re-setup the Facebook Ads Extension settings again; by deleting away the existing settings and re-do the settings"

[2019-08-02 21:59] normdouglas commented on #16
I can confirm the above fix... however for future readers (and maybe that could be me one day), the precise fix is the following.
Edit the following file > system/library/facebookproductformatter.php
Search for the following on or about line 220
`  private function getDiscountPrice($product) {
    $product_specials = $this->params->getModelCatalogProduct()->
      getProductSpecials($product['prod

[2019-08-04 16:07] snussik opened #225 "Got an error of product syncyng"
I've made initial setup twice, but both times I see the error message. In log file of plugin there is no any criminal.

is 27k of products 2much? If so, how can I configure the plugin to extract some categories?

[Магазин строительных, хозяйственных товаров и крепежа - Частное предприятие «ГЕНХАНТ»_2019-08-04_16-02-28_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-Op

[2019-08-05 08:41] txwbaliever commented on #2
@shue249 I installed this extension successfully, but it has been checking the status of the item when the item is synced. I tried to reinstall it many times without any change. The following is the error log.
2019-08-05 5:51:57 - Sync all products using feed, feed file generated
2019-08-05 5:52:07 - null
2019-08-05 5:52:07 - Failure - facebook feed not created, sync all products using feed
2019-0

[2019-08-05 14:43] Steve-Regal commented on #214
Hi,

All permissions are ticked, and all files have RWX permission but i am
still getting the same error message. Have installed - removed and
reinstalled and the issue persists.

Do you have any other suggestions?

Best Regards,
Steve Brown
*_______________________________*
Office Phone: +44 (0) 2380 55 86 36
<https://mailtrack.io/trace/link/7c8b8d9e278990f01db3c4c6e62dc9d9d356996d?url=http%3A%2F

[2019-08-06 07:33] txwbaliever opened #226 "About low volume product synchronization"
I successfully installed this extension, but it was stuck in the step of checking the product upload status. I checked it with the pixel assistant. The code was inserted, but no events were triggered. My product was less than 100. I reloaded it. Still the same, the card is in the check upload status, and then an error is reported. When I first installed it, it was good. Later, the website was blac

[2019-08-07 03:24] shue249 commented on #193
@guilhermeojs Our Messenger team have resolved the issue on popup happening on Safari due to the privacy tracking acceptance. You can take a look to see how the effect looks like.

Will be closing out this ticket, feel free to reach to us if you have further questions.

[2019-08-07 03:24] #193 closed

[2019-08-07 03:28] shue249 commented on #226
@txwbaliever

1. Can you share the screenshots of where the error on the product upload is. For context, you may want to read up on our FAQ on how we sync up the product catalog - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#syncing-of-opencart-products-to-facebook-catalog

2. What is the store website URL where the plugin is installed? We like to verify the pixel

[2019-08-07 06:42] txwbaliever commented on #226
I can send my example website to you, the error is exactly the same, and because the plugin has been checking the product upload status, the background login will become very stuck, until the status check fails for a while, then continue to log in, screenshot I also posted on the attachment, the website http://demo.wujiangyun.com, the background is http://demo.wujiangyun.com/admin, the account num

[2019-08-09 01:33] KonstantinGOT opened #227 "trying to install"
Trying to install the extension but it keep saying wrong file format @shue249

[2019-08-09 01:44] txwbaliever commented on #226
Do you have any feedback?

[2019-08-09 09:19] shue249 commented on #227
@KonstantinGOT Can you check these 2 links below:

1. https://drive.google.com/open?id=1NH0yR9X6C49M_CMGtuh2qvNoX_iMuIp-

2. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/62

[2019-08-09 09:24] shue249 commented on #225
@snussik

You can refer to this FAQ on possible ways on how to resolve the large catalog problem - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#syncing-of-opencart-products-to-facebook-catalog

Another way is for you to set products which are not in use to Disabled status. These products will not be synced to Facebook and it will reduce the amount of products to be

[2019-08-09 09:24] #225 closed

[2019-08-09 09:25] shue249 commented on #224
@zigi00x Can you try to access the Manage Settings again to see if the Facebook Business Extension page loads for you.

[2019-08-09 09:26] shue249 commented on #222
Will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-08-09 09:26] #222 closed

[2019-08-09 09:27] shue249 commented on #221
Will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-08-09 09:27] #221 closed

[2019-08-09 09:29] shue249 commented on #209
Will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-08-09 09:29] #209 closed

[2019-08-09 09:31] shue249 commented on #219
Will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-08-09 09:31] #219 closed

[2019-08-09 09:40] shue249 commented on #226
@txwbaliever Can you share the log file from our plugin?

![image](https://user-images.githubusercontent.com/11957585/62769931-8fca3800-bacc-11e9-9b82-978fb743dc04.png)

[2019-08-09 09:44] shue249 commented on #214
@Steve-Regal Can you check on your database if you have this table and all 3 columns.

![image](https://user-images.githubusercontent.com/11957585/62770319-6067fb00-bacd-11e9-9aad-ed0ab5b89849.png)

[2019-08-09 10:08] txwbaliever commented on #226
我可以下载日志，我发给你我的最后一个日志。

------------------ 原始邮件 ------------------
发件人: "shue249"<notifications@github.com>;
发送时间: 2019年8月9日(星期五) 下午5:40
收件人：  “facebookincubator / Facebook-For-OpenCart”<Facebook-For-OpenCart@noreply.github.com>;
抄送: "叶孤橙"<624720432@qq.com>;"Mention"<mention@noreply.github.com>;
主题：  Re：[facebookincubator / Facebook-For-OpenCart]关于低容量产品同步（＃226）

@txwbaliever你能从我们的插件共享日志文件吗？

-
你收到这

[2019-08-12 02:08] txwbaliever commented on #226
I want to ask if your problem has been solved? I haven't received your reply for a long time.

------------------ 原始邮件 ------------------
发件人: "shue249"<notifications@github.com>;
发送时间: 2019年8月7日(星期三) 中午11:28
收件人：  “facebookincubator / Facebook-For-OpenCart”<Facebook-For-OpenCart@noreply.github.com>;
抄送: "叶孤橙"<624720432@qq.com>;"Mention"<mention@noreply.github.com>;
主题：  Re：[facebookincubator / Fa

[2019-08-12 23:43] shue249 commented on #226
@txwbaliever Can you attach the log file directly to the github ticket instead of replying from email, as attachments sent out from the email will not be sent to us.

[2019-08-13 01:30] txwbaliever commented on #226
This is the log of my last failure. What documents do you need?
[中轴精工_2019-08-06_02-15-54_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3494926/_2019-08-06_02-15-54_facebook_ads_extension.log)

[2019-08-14 06:38] shue249 commented on #226
@txwbaliever After looking at the log file, the last part of the log shows that the required settings are all successfully populated on your system. Are you still encountering any errors on updating the product details?

Can you do this:
1. Trigger a product save - search for any product, edit and click on save. The product update to Facebook will be triggered and the results logged.
2. Re-downloa

[2019-08-14 06:44] shue249 commented on #217
Closing this ticket. Feel free to reach to us if you have further questions.

[2019-08-14 06:44] #217 closed

[2019-08-14 06:44] shue249 commented on #224
Closing this ticket. Feel free to reach to us if you have further questions.

[2019-08-14 06:44] #224 closed

[2019-08-14 06:45] shue249 commented on #227
Closing this ticket. Feel free to reach to us if you have further questions.

[2019-08-14 06:45] #227 closed

[2019-08-14 06:45] shue249 commented on #215
Closing out this ticket. Feel free to reach to us if you have further questions.

[2019-08-14 06:45] #215 closed

[2019-08-14 06:49] shue249 commented on #133
@Henry17888 , @miaosun
Our update is taking longer than expected. In the meantime, if you wish to control the language and have developer resources, you can consider making these 2 changes on the plugin file directly in your webserver. These are the 2 places to change.

https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/admin/model/extension/facebookproduct.php#L96

http

[2019-08-14 06:50] shue249 commented on #76
@rutar111 Coming back to this ticket. If you wish to make changes to the default language to be used on Facebook catalog and page shop, you can refer to this post on making code changes to the plugin directly to make these changes.

https://github.com/facebookincubator/Facebook-For-OpenCart/issues/133#issuecomment-521123832

[2019-08-14 09:55] txwbaliever commented on #226
I added 5 items, but the background is still stuck in the display to check the product upload status. I will send you screenshots and error logs.
![微信图片_20190814175319](https://user-images.githubusercontent.com/50563174/63012377-b4ebeb80-bebc-11e9-8601-87807d68247f.png)
![微信图片_20190814175329](https://user-images.githubusercontent.com/50563174/63012382-b6b5af00-bebc-11e9-8af6-935811c8e0d5.png)
[Dem

[2019-08-15 09:00] txwbaliever commented on #226
What is the cause of this? I really need this plugin urgently.

[2019-08-15 16:58] AngelicaLinLin opened #228 "Error when setting up because currency (TWD) is not supported"
Hello, When I try to go through the installation process and connect my Facebook pixel, this error appears:

The plugin can't be set up because your currency (TWD) is not supported.

I saw the other thread that addresses this error, I've made the adjustments but I am still getting this error.

Here are screenshots of my setup.
<img width="1118" alt="Screen Shot 2019-08-15 at 9 51 45 AM" src="https

[2019-08-16 17:23] siteadvice commented on #175
Hi there,
I finally figured out what was causing the installation error!
It was an extension called "Category & Product-Based Fee/Discount". I uninstalled it and the error went away. When I try to upload the Facebook extension now, it says it has been successful. Hurray!
However, there's a slight glitch - there’s no menu button and the module is not shown in Extensions > Modules.
I have given the

[2019-08-17 07:52] kokobongoton opened #229 "There is an error with Facebook Business Extension setup"
Hello,
My web site is www.stokatastoki.bg,the mistake is:

### There is an error with Facebook Business Extension setup. Click on Facebook Business Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup. Please contact Facebook via our Github if this error keeps showing.

Please help me, I do not understand why the module does not work?
Before it worke

[2019-08-17 08:02] kokobongoton commented on #229
Did I get another type of error?
 There is an error with Facebook Business Extension setup. Click on Facebook Business Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Github if this error keeps showing.
The sync failure of your products to Facebook may be because of the large number of products on your system (We

[2019-08-17 12:57] ryanstacey opened #230 "Extension Is Creating Suspicious Activity for Facebook?..."
Recently Facebook has been locking my account every week for 'suspicious activity' and making me change my password. The issue is I'm extremely safe online and it's not saying that someone has logged in from XYZ location or that XYZ device has logged in.

It's not someone 'trying' to login, it's someone successfully logging in and therefore creating suspicious. The only thing I can think is that t

[2019-08-19 02:14] shue249 commented on #229
@kokobongoton From the latest log file, we can see that the generating of the initial feed file did not complete successfully, as there are too many products on your Opencart site. We have a catalog section in FAQs that describes some of the ways to solve the problem - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#syncing-of-opencart-products-to-facebook-catalog. Ca

[2019-08-19 02:17] shue249 commented on #228
@AngelicaLinLin Can you try the Facebook Business Extension setup again and see if the error still happens. If so, can you share a screenshot of the error.

[2019-08-19 02:21] shue249 commented on #226
@txwbaliever We looked through your log file, but we were not able to replicate the error on our side. The failure happens on the part when our plugin tries to create the Facebook feed for the initial catalog sync, and the error message returned is just null.

![image](https://user-images.githubusercontent.com/11957585/63235170-086a8a80-c26b-11e9-9941-d9d747f2dfc4.png)

What is the Facebook Page t

[2019-08-19 02:22] shue249 commented on #230
@ryanstacey Thank you for the feedback. We are now working on backend changes to solve this problem entirely. We will keep you posted when we have any latest updates soonest.

[2019-08-19 02:28] shue249 commented on #175
@siteadvice Thanks for the feedback, we are glad that we identify the cause of the installation error.

For our plugin, can you look at this video to see if you followed the installation steps? Particularly, you need to refresh the modifications to allow our plugin to appear on your OpenCart admin panel menu bar. https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.

[2019-08-19 08:31] kokobongoton commented on #229
Hello,  Thanks for your reply,  I deactivated about 3400 products but again got an error.  How many products can be poured into the Facebook catalog, is there any option in the module itself not to pour products with stock 0?  Thank you in advance,  Have a nice day!

 Facebook Business Extension setup (#229)

 @kokobongoton  From the latest log file, we can see that the generating of the initial f

[2019-08-19 15:27] dyslexicdrakness commented on #230
Hello! I have at least 1 of my clients experiencing the same issue... He's unable to say that the IP/source/app is safe and is forced to change password and then resync and so on...

[2019-08-21 11:18] dkunal01 opened #231 "Facebook Ads Extension error - "Sorry, something went wrong""
I have been trying to integrate facebook ads extension in opencart but I am getting this error message "Something went Wrong" whenever i click on 'Manage Settings'.

I tried removing and re-installing the extension but the error still persists.

I have also manually deleted all the files related to this extension and re-installed with the updated version but still the error exists.

Note: My previ

[2019-08-22 00:06] shue249 commented on #231
@dkunal01

1. Will you be able to check again if this problem remains.

2. If the problem exists, do you have any existing catalog sales ads running which is using the catalog from the plugin? If not, you can manually remove away the plugin settings from the database. You can follow the steps here - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/177#issuecomment-495930585

[2019-08-22 19:42] mrtektr opened #232 "I deleted my Facebook store.Help please"
I deleted my Facebook page and store, opencart tan old store id how do I delete, or change?

thank you.
good work

[2019-08-22 23:18] shue249 commented on #232
Are you able to still access the Manage settings of the plugin and remove the existing settings to re-setup again? You can follow the steps here - https://drive.google.com/open?id=1PenBy_xizQGszdiS5BrmVFPypn5HKnkL

[2019-08-23 05:45] mrtektr commented on #232
the advanced settings tab does not appear, ie it does not.
opencarttan store id database how to delete.

Thank you

[2019-08-23 05:47] shue249 commented on #232
@mrtektr Can you look at this post to see if it helps. https://github.com/facebookincubator/Facebook-For-OpenCart/issues/177#issuecomment-495930585. You will need ability to connect to your database

[2019-08-23 05:57] mrtektr commented on #232
Nasıl telaffuz edildiğini öğrenin
Can we make visual expression?
code: Where is Facebook?
thank you.

[2019-08-23 05:58] mrtektr commented on #232
Can we make visual expression?
code: Where is Facebook?
thank you.

[2019-08-24 07:33] mrtektr commented on #232
delete from setting where code = 'facebook';
code is running error.
How can I fix.
![hata](https://user-images.githubusercontent.com/46427050/63634107-8effdd00-c65a-11e9-830e-735d4f422a46.jpg)

Thank you

[2019-08-25 10:13] cgonzalez-p opened #233 "Identifica página de facebook como ya conectada a un opencart"
Hola. Configurando "FacebookBusinessExtension" al elegir una página de facebook avisa que ya está en uso, pero no es así ¿Cómo soluciono?

<img width="337" alt="error_plugin_facebook_elegir_pag_facebook" src="https://user-images.githubusercontent.com/54340494/63648390-c15e1880-c6f4-11e9-84e6-1191117bda75.PNG">

[2019-08-25 10:21] cgonzalez-p commented on #233
solucionado. en paso siguiente opción eliminar la conexión existente, aceptar y listo :) gracias

[2019-08-25 10:21] #233 closed

[2019-08-25 11:01] cgonzalez-p opened #234 "chat messenger no está en mi página"
Hola. Instalé y configuré plugin y todo parece ok. Agregué la función disponible "chat de messenger" pero en mi web no aparece la busbuja https://canaldeventasdigitalescgp.com/ , ni en mi página de producto https://canaldeventasdigitalescgp.com/index.php?route=product/product&path=59_66&product_id= 60 ¿Cómo soluciono? :(

[2019-08-25 17:22] burockwoo opened #235 "Pixel not firing"
I was write manually facebook pixel code with analytic extension.
But same pixel wasn't true.Than i remove this and i set facebook ads extencion.
Page see catalog but pixel not firing.
Please help me. Thank you for your support now.
<img width="1277" alt="Ekran Resmi 2019-08-25 16 22 30" src="https://user-images.githubusercontent.com/54508454/63653483-ff4f5100-c775-11e9-9a31-1f3dc3805bb3.png">

[2019-08-25 17:23] burockwoo commented on #104
I was write manually facebook pixel code with analytic extension.
But same pixel wasn't true.Than i remove this and i set facebook ads extencion.
Page see catalog but pixel not firing.
Please help me. Thank you for your support now.
<img width="1277" alt="Ekran Resmi 2019-08-25 16 22 30" src="https://user-images.githubusercontent.com/54508454/63653494-286fe180-c776-11e9-9c47-50f7f24831a1.png">

[2019-08-25 22:54] shue249 commented on #234
@cgonzalez-p Have you followed the installation and setup steps here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#plugin-installation? We looked through your website and could not find both the pixel and messenger chat plugin.

[2019-08-25 22:57] shue249 commented on #235
We have a latest version, 2.1.10 - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.10

Can you delete away the existing 2.1.3 version from your Opencart and then install the 2.1.10 version. Ensure that you have disabled the theme and SASS cache. Finally you can verify if the pixel is fired correctly. https://drive.google.com/open?id=1bY-bworYxX36b88HDvFW0_32C3Wtq_Tm

[2019-08-25 23:10] burockwoo commented on #235
Hi sir, again. facebook_pixel_2_1_10.js it doesn't include this file. I thing it is the problem.

// we are storing all the pixel data in the fbevents parameters
      // this fbevents will be sent over to the header.php
      // which will then be sent to the header.tpl as $data to be
      // fired as FB pixel events via javascript

Js file is not loading homepage.

[2019-08-25 23:19] shue249 commented on #235
What is your website URL?

[2019-08-25 23:20] burockwoo commented on #235
www.gotham.com.tr

[2019-08-25 23:21] shue249 commented on #232
@mrtektr When you setup OpenCart, did you change the database prefix, as the default prefix is "oc_".

You can try to run this SQL command -

DELETE FROM oc_setting WHERE code = 'facebook';

[2019-08-26 01:06] shue249 commented on #235
I checked on your website and found that the pixel firing is correct. Can you check if your theme and SASS cache are disabled - https://drive.google.com/open?id=1bY-bworYxX36b88HDvFW0_32C3Wtq_Tm

![image](https://user-images.githubusercontent.com/11957585/63658877-aff23a80-c7e0-11e9-88f6-f4cabb0973fd.png)

[2019-08-26 01:15] Aeeneas commented on #235
Hi, i have a similar problem.
Pixel Helper don't see pixels on the site
https://statuetts.ru/
But fb business manager linked with pixel in installation

[2019-08-26 01:49] Aeeneas commented on #235
Plagin Messendger also doesn't work

[2019-08-26 03:05] cgonzalez-p commented on #234
Volví a revisar y confirmado seguimiento pasos. La extensión aparece en el menú, configuración plugin ok y función disponible de chat ok. Catálogo sincronizado con tienda página de negocio ¿Qué puede estar sucediendo?
![image](https://user-images.githubusercontent.com/54340494/63662351-ca49fb00-c783-11e9-8ea8-7360e361ecd7.png)

[2019-08-26 04:58] msincar2 commented on #234
isterseniz yardımcı olabiliri  ingilizcem iyi değil translate kullanırız

26 Ağu 2019 Pts 06:05 tarihinde cgonzalez-p <notifications@github.com> şunu
yazdı:

[2019-08-26 06:16] burockwoo commented on #235
It doesn’t work. I add pixel to header.tple with manually.
So you can see my pixel.
Ads extension doesn’t add pixel to header.tpl than i add manually.

26 Ağu 2019 Pzt, saat 04:49 tarihinde Larin Maxim <notifications@github.com>
şunu yazdı:

[2019-08-26 09:21] cgonzalez-p commented on #234
Merhaba. Eklentiyi yükledim ve yapılandırdım ve her şey yolunda görünüyor. Kullanılabilir "mesajlaşma sohbeti" işlevini ekledim, ancak https://canaldeventasdigitalescgp.com/ web sitemde veya ürün sayfamda https://canaldeventasdigitalescgp.com/index.php?route=product/product&path= 59_66 & product_id = 60 Nasıl çözerim? :(

[2019-08-26 09:52] shue249 commented on #235
@burockwoo can you remove the manual codes, so that we can debug and troubleshoot.

@burockwoo and @Aeeneas
1. Can you check if you have disabled the theme and SASS cache
2. Can you check if you have made modifications to the header and footer via the Design -> Theme editor? If so, can you remove those modifications?
![image](https://user-images.githubusercontent.com/11957585/63682309-33844980-c82

[2019-08-26 09:53] cgonzalez-p commented on #234
Gözden geçirmek için geri döndüm ve takip adımları onayladım. Uzantı menüde, eklenti yapılandırması tamam ve sohbet işlevi tamam görünür. Mağaza iş sayfasıyla senkronize edilmiş katalog ¿Ne oluyor?

[2019-08-26 09:54] shue249 commented on #234
@cgonzalez-p Can you check the 2 suggestions on this post and see if it helps you.
https://github.com/facebookincubator/Facebook-For-OpenCart/issues/235#issuecomment-524798402

[2019-08-27 07:20] nijones05 opened #236 "Error in facebookeventparameters.php"
I have an error that keeps appearing

PHP Warning:  A non-numeric value encountered in /catalog/controller/extension/facebookeventparameters.php on line 399

I'm not sure which line that is or how to fix it.
Any help would be appreciated.

Thanks

[2019-08-27 19:57] Ashon95 opened #237 "Does This work with 3.0.3.2"
Does This work with 3.0.3.2

[2019-08-28 13:42] testingCitytech commented on #235
I have installed the extension successfully download from `https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336` this link and I have using Opencart 2.0.3.1
![Page Not Found!](https://user-images.githubusercontent.com/54580411/63860855-7891b280-c9c7-11e9-8c6d-dc2b4803cf1e.png)
![Modifications (1)](https://user-images.githubusercontent.com/54580411/63861024-bdb5e48

[2019-08-28 14:00] testingCitytech opened #238 "Facebook Ads Extension Not Working for Opencart 2.0.3.1"
I have installed the extension successfully but I could not access Product, Dashboard page from admin panel please see the screenshot.

Showing this error

I have using Opencart 2.0.3.1

![Modifications (1)](https://user-images.githubusercontent.com/54580411/63862404-230ad500-c9ca-11e9-887c-5498abfe0ee1.png)
![Page Not Found!](https://user-images.githubusercontent.com/54580411/63862417-29994c80-c9

[2019-08-29 00:28] shue249 commented on #237
Duplicated https://github.com/facebookincubator/Facebook-For-OpenCart/issues/202

[2019-08-29 00:29] shue249 commented on #238
1. What is the plugin version you are using? Our latest version is 2.1.10
2. Can you check if the file FacebookGraphAPIError.php exists in this folder on your webserver - system/library

[2019-08-29 00:30] shue249 commented on #234
@cgonzalez-p Is the suggestions helping you on the Messenger chat plugin?

[2019-08-29 05:50] testingCitytech commented on #238
I installed the version 2.1.6 and fetch the same problem. after uninstall and re-install your latest version 2.1.10 Please Check out the screenshot above. but I'm facing same problems again.

and I am trying to install your plugin V-2.1.10 in Opencart 3 it's successfully installed and working fine.

But I need to install in Opencart Version 2.0.3.1

I cannot find out `FacebookGraphAPIError.php` fi

[2019-08-29 12:36] uskwear opened #239 "Error validating access token"
I have this same problem what I have read others have had after changing Facebook password. I don´t get the update token link when managing settings. I have version 2.1.10. Is there any fix for this?

[2019-08-29 17:32] siteadvice opened #240 "Regex for editing descriptions"
Hi there
I use shortcodes in my Opencart descriptions which are enclosed within square brackets.
So, I'd like to add a regular expression to the Facebook extension to omit content within square brackets.
Can you please tell me where the code needs to go?
Is it system\library\facebookproductformatter.php in the function getDescription()?
Thanks.

[2019-08-29 23:58] shue249 commented on #240
@siteadvice This is the location where you need to make the changes - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/library/facebookproductformatter.php#L112

Will be closing out this ticket, feel free to reach to us if you have further questions.

[2019-08-29 23:58] #240 closed

[2019-08-30 00:02] shue249 commented on #239
@uskwear Can you follow this manual fix and see if you get the option to update the token link - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/142#issuecomment-482908951

[2019-08-30 00:04] shue249 commented on #238
@testingCitytech Can you ensure that you have given read+write folder access to the admin, catalog and system folders for your opencart webserver. The problem with missing files is because of lack of write folder permission to copy the files from the plugin zip to your webserver.

[2019-08-30 07:37] uskwear commented on #239
Hello,
Thank you! This worked!

--
Tuomas Karppinen

USK Wear Oy
toimitusjohtaja, CEO
+358(0)40 910 9947
tuomas.karppinen@usk.fi
www.printtivaate.fi

--
USK Wear Oy
2856044-8
Lyhtytie 7
00750 Helsinki
--
Tämän sähköpostiviestin sisältö saattaa olla lain mukaan salassa pidettävää. Jos olette vastaanottanut viestin erehdyksessä, tuhotkaa viesti ja ilmoittakaa siitä viestin lähettäjälle. Viestin oike

[2019-08-30 15:51] siteadvice commented on #240
Thanks. That's what I thought.
Is there a URL where I can preview the feed?

[2019-08-30 18:49] foshdafosh opened #241 "Support for OC Multi Store"
I can't seem to get this working on a multi store installation, it looks like this isn't supported yet.
Do you have plans to implement this?

[2019-09-02 00:09] shue249 commented on #239
Glad it helps. Feel free to reach to us if you have further questions. Closing out this ticket.

[2019-09-02 00:09] #239 closed

[2019-09-02 00:49] shue249 commented on #241
Thanks for the feedback. We are aware of this issue, it is not on the immediate roadmap yet as we are working through other issues now

Similar issue - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/71

[2019-09-02 07:28] tksir opened #242 "Facebook Chat Option not shown on website"
I did all the things according to instructions. Of course, I am really happy with all the other things except for the chat option is now shown on my fb page. https://119sldeals.com/ This is my website. Please let me know what to do.

[2019-09-02 07:28] tksir commented on #242
https://119sldeals.com/

[2019-09-02 07:30] shue249 commented on #242
@tksir Is the plugin still installed on your website?

[2019-09-02 09:29] tksir commented on #242
@shue249, Yes shue249.

[2019-09-02 09:41] testingCitytech commented on #238
I have customized the Opencart folder structure, I saw that the folder structure are not the same I think that's the problem.

My Folder Structure
`i have renamed the folder admin to other_side `
Please see the screenshot of my Opencart folder structure

![Untitled-crop](https://user-images.githubusercontent.com/54580411/64104296-9c6f4280-cd91-11e9-8b83-cb68a9e08efc.jpg)

And this is your Extensio

[2019-09-02 09:53] oyzbmmmm opened #243 "An error occurred after merging the home page."
![1567417943(1)](https://user-images.githubusercontent.com/54800056/64106279-7013f000-cdaa-11e9-9218-f1ce42384586.jpg)
An error occurred after merging the home page.

[2019-09-03 02:51] tksir commented on #242
Yes, I still have it.

On Mon, Sep 2, 2019 at 1:00 PM shue249 <notifications@github.com> wrote:

[2019-09-03 10:14] testingCitytech commented on #238
yes, it is working I have modified the code for my Opencart folder structure.
Thank you.

[2019-09-03 10:14] #238 closed

[2019-09-03 10:17] tksir commented on #238
testingCitytech, can you please help me on something?

[2019-09-03 11:03] testingCitytech commented on #238
Yes How can I help you ?

[2019-09-03 14:01] siteadvice opened #244 "Many missing images on Facebook"
I installed the extension last week and the Opencart product feed is working, but more than half of the products do not have an image in the Facebook shop.
Yesterday I tried pressing the "Resync Products to Facebook" button in the hope that this might force Facebook to re-import the photos, but it has not helped. The same products that had missing photos yesterday still have no photos today.
When

[2019-09-03 15:26] cgonzalez-p commented on #234
No :(  sigo probando todo lo que encuentro en la literatura y no detecto qué corregir.

[2019-09-03 20:21] cgonzalez-p commented on #234
![image](https://user-images.githubusercontent.com/54340494/64205769-6055e380-ce5e-11e9-97b5-5b7a018aea24.png)
Sigo sin solucionar que la burbuja no aparezca :(

[2019-09-04 01:54] tksir commented on #238
testingCitytech, my case is that fb chat box is not shown on my web site home. Why is that?

[2019-09-04 02:04] tksir commented on #242
@shue249 , please let me know why the fb chat option is now show on my website home.

[2019-09-04 02:11] shue249 commented on #244
@siteadvice What is your website URL?

[2019-09-04 06:01] testingCitytech commented on #238
I have no idea about FB chat, This is the Facebook Ads Extension issue.

[2019-09-04 06:25] shue249 commented on #243
@oyzbmmmm

1. Can you share more details on what do you mean by "merging the home page"

2. For this problem, you will need to reset the settings on the installation. Can you follow the steps here to see if you can delete away the settings data. Do note that your settings table could be oc_setting (depending on what is the database prefix you used)

[2019-09-04 06:36] siteadvice commented on #244
https://www.stoveworlduk.co.uk/
https://www.facebook.com/stoveworlduk/

On 4 Sep 2019, at 03:11, shue249 <notifications@github.com<mailto:notifications@github.com>> wrote:

@siteadvice<https://github.com/siteadvice> What is your website URL?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/facebookincubator/Facebook-For-OpenCa

[2019-09-04 06:37] oyzbmmmm commented on #243
1: I had two Facebook homepages before, and then I merged them.
The homepage I keep is not open cart bound.

2: Show the steps for delete settting data pls,

[2019-09-04 06:39] shue249 commented on #242
@tksir We checked on your website and found that both pixels and the messenger chat plugin are not available. Here are few things you can check:

1. Did you click on the Refresh button? View this screenshot - https://drive.google.com/open?id=1qy-ipwK1HCk8oSnUmGuy6MCJxQdUyGfw

2. Are you on OpenCart 3.x? If so, here are 2 things you can try
    a. Disable the theme and SASS cache. View this screens

[2019-09-04 06:39] shue249 commented on #238
@tksir Let us follow up with your problem on this issue https://github.com/facebookincubator/Facebook-For-OpenCart/issues/242

[2019-09-04 06:40] shue249 commented on #243
@oyzbmmmm Apologies, missed out the steps link. Here is it https://github.com/facebookincubator/Facebook-For-OpenCart/issues/142#issuecomment-482908951

[2019-09-04 06:41] shue249 commented on #235
@burockwoo  and @Aeeneas Are you able to resolve your problems?

[2019-09-04 06:42] shue249 commented on #231
Closing this ticket. Feel free to reach to us if you have further questions.

[2019-09-04 06:42] #231 closed

[2019-09-04 06:42] shue249 commented on #243
@oyzbmmmm Apologies for missing the link. Here you go - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/177#issuecomment-495930585

[2019-09-04 06:53] shue249 commented on #234
@cgonzalez-p Can you try to remove the current plugin and install in an earlier version of 2.1.8. Then do a refresh and see if the messenger chat appears - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.8

[2019-09-04 07:11] oyzbmmmm commented on #243
OK. IT'S WORK

Thanks

[2019-09-04 08:05] doviis opened #245 "HTTP 500 error"
Hello,
I am using OC 3.02, Journal v2 theme. I have installed Facebook extension from Opencart marketplace, however it did not work normally so I decided to delete it. Now I am getting HTTP 500 errors while accessing my website. What should I do to solve the problem?

Errors:
`Wed Sep 04 06:46:37.567892 2019] [:error] [pid 1190] [client] PHP Fatal error:  Uncaught Error: Class 'FacebookCommonUtils

[2019-09-04 08:41] burockwoo commented on #235
Hey.
I solve my problem to different way. I guess because my special theme.But its fine now working.
But i change my facebook password because facebook want this because secretiy reason.
Than i have this problem ->
There is an error making API calls using the access token. The error encountered is "Error validating access token: The session has been invalidated because the user changed their passw

[2019-09-04 08:58] burockwoo commented on #235
I solved.
https://github.com/facebookincubator/Facebook-For-OpenCart/issues/142 <https://github.com/facebookincubator/Facebook-For-OpenCart/issues/142>
Thank to this page.

[2019-09-04 10:20] shue249 commented on #245
@doviis Have you refresh the extension modifications? It is needed after every changes to the modules. See this screenshot - https://drive.google.com/open?id=1qy-ipwK1HCk8oSnUmGuy6MCJxQdUyGfw

[2019-09-04 11:51] cgonzalez-p commented on #234
@shue249 estoy revisando detalladamente heater y footer y si no soluciono prueba con esta última indicación. pronto reporto resultados =)

[2019-09-04 11:58] cgonzalez-p commented on #130
@missbow entro a su web y no aparece la burbuja del chat de messenger ¿La quitaron?
Εισάγω τον ιστότοπό σας και δεν εμφανίζεται η φούσκα συνομιλίας του αγγελιοφόρου. Καταργήθηκε;

[2019-09-04 12:26] cgonzalez-p commented on #235
@burockwoo entro a tu web https://gotham.com.tr/index.php?route=product/category&path=59
 y no veo la burbuja del chat ¿La quitaron?
Web sitene giriyorum ve ben sohbet balonunu göremiyorum

[2019-09-04 12:27] burockwoo commented on #235
yeah that's right.
because i dont want it.

[2019-09-04 12:43] feysofit opened #246 "Nu fb pages to chose on install second step"
Nu fb pages to chose on install second step. Can you please help me?

[2019-09-04 13:01] shue249 commented on #246
@feysofit Can you share the screenshot of how it looks like for you.

[2019-09-04 17:08] cgonzalez-p commented on #234
@shue249 perfecto!!!! gracias =) Funcionando caché, pixel, catálogo, burbuja de chat. ¿Estoy perdiéndome de algo al estar dos versiones atrás del plugin?

[2019-09-04 17:26] dyslexicdrakness commented on #230
@shue249 any news?

@ryanstacey is it still happening to you?

[2019-09-04 23:39] shue249 commented on #234
@cgonzalez-p We made a change in version 2.1.9 which moves the messenger chat plugin from footer to header. However this is the change which also makes it unsuitable for your setup.

We are now looking on improving to make the chat plugin even more robust so that it can suit your case.

For now, pls use 2.1.8 first and once we have the new version ready, you can upgrade it.

[2019-09-04 23:41] shue249 commented on #235
Thank you all for the feedback. We will close off this ticket based on the original problem where the pixel is not firing. Feel free to reach to us if you have further questions.

[2019-09-04 23:41] #235 closed

[2019-09-04 23:43] shue249 commented on #243
We will be closing this ticket. Feel free to reach to us if you have further questions.

[2019-09-04 23:43] #243 closed

[2019-09-04 23:48] shue249 commented on #240
@siteadvice For the individual product updates, you cannot preview the feed as we are using direct API to make the updates. There is a feature to Re-sync all the products to Facebook. For this feature, we are using the feed file. If you like to view the feed file, you can look at this method and make your changes - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/admin

[2019-09-05 16:50] altruismbike opened #247 "pleas help me."
My product can't sync to Facebook store.
Always prompt the following error message.
![777777777777777](https://user-images.githubusercontent.com/35982450/64361986-3cea8e80-d040-11e9-9294-a050ec10d669.JPG)
please help us.Thanks

There is an error making API calls using the access token. The error encountered is "".
To update your access token, please click on Facebook Business Extension, Manage Set

[2019-09-06 03:49] tksir commented on #189
I did removed the older extension and installed the newer version. The installation process was done but now there's a message 'error' on the extension page.
![Untitled](https://user-images.githubusercontent.com/54794143/64399772-5c58da00-d087-11e9-93d7-36302c44da85.png)

[2019-09-06 04:48] tksir commented on #242
Shue249, thanks for the update. I worked it out.

[2019-09-06 04:48] #242 closed

[2019-09-06 09:01] feysofit commented on #246
Thanks for your answer, it was the adblocker

[2019-09-09 01:10] shue249 commented on #247
Hi there!

Can you check this screenshot and see if the steps help you - https://drive.google.com/open?id=18koOQZmV3ra6wMsjsaWUPDuYZR_phl3J

[2019-09-09 01:11] shue249 commented on #246
Thanks for the feedback. Closing out this ticket.

[2019-09-09 01:11] #246 closed

[2019-09-09 01:12] shue249 commented on #245
Closing out this ticket. Feel free to reach to us if you have further questions.

[2019-09-09 01:12] #245 closed

[2019-09-09 01:13] shue249 commented on #226
Closing out this ticket. Feel free to reach to us if you have further questions.

[2019-09-09 01:13] #226 closed

[2019-09-09 03:23] regko opened #248 "Facebook messenger plugin"
I've installed the Facebook Ads Extension. Pixel and product work as expected but I am facing an issue with the messenger plugin, it is not displayed on website. I've followed the instruction that I found from Github, cleaning all the caches but still no luck.

Opencart version: 3.0.2.0

Website: praesto.xyz

[2019-09-09 11:08] reginamor opened #249 "Error Token - Security Problems"
I have a problem with this extension.
Even 2 o 3 days, facebook block my account because detect that i made a insecure login.
So i have to change the password, update the token 2 o 3 times per week on my 3 webs
This problem starts with the last oficial update of the extensión.

How can i fix it?
I don't have more passwords on mi head XD

[2019-09-09 12:25] foshdafosh commented on #241
Thanks for letting me know, I'll subscribe to the similar issue.

[2019-09-09 12:25] #241 closed

[2019-09-09 12:50] shue249 commented on #248
@regko Can you try to remove away the current plugin and install the 2.1.8 version of the plugin. We made a change in v2.1.9 and moved the chat plugin codes from footer to header and this may be the case. We want to see if the chat plugin is shown up in v2.1.8 on your website.

https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.8

[2019-09-09 12:51] shue249 commented on #248
@regko We checked on your website and found that the pixel is also not shown. We suspect this is to do with the header file not changed.

Can you check if you have made any changes to the header design template and if so, can you delete away the modifications (see screenshot) https://drive.google.com/open?id=1066BSKAqjKegzw-5oKuvtZuzu_PzkRZT

[2019-09-09 12:52] shue249 commented on #249
Thanks for the feedback. We are working hard on this case now, but it involves more work than expected. We will update you once we have the update soonest.

Similar case reported https://github.com/facebookincubator/Facebook-For-OpenCart/issues/230

[2019-09-09 13:07] shue249 commented on #244
@siteadvice

We looked through several products on your catalog. Here are our findings:

For products whose images are able to load successfully, their image URLs are as follow:
1. Product ID 154, image URL = https://www.stoveworlduk.co.uk/image/catalog/Ottawa-5kw---5-Year-Guarantee.jpg
2. Product ID 220, image URL = http://www.stoveworlduk.co.uk/image/catalog/Ottawa-5kw-Curve---5-Year-Guarantee.j

[2019-09-09 13:08] shue249 commented on #232
Closing this ticket. Feel free to reach to us if you have further questions.

[2019-09-09 13:08] #232 closed

[2019-09-09 13:09] shue249 commented on #228
Closing this ticket. Feel free to reach to us if you have further questions.

[2019-09-09 13:09] #228 closed

[2019-09-10 01:22] altruismbike commented on #247
Hi，No work.
Thanks

[2019-09-10 01:51] shue249 commented on #247
@altruismbike Can you share more context on the failure, and where it failed to work.

[2019-09-10 02:53] regko commented on #248
@shue249 it's working now, after removing the header design template. Thanks for your help!!

[2019-09-10 02:53] #248 closed

[2019-09-10 18:09] Ashon95 commented on #202
Hello When will the new update be, and does the current version work with 3.0.3.2 as there was not much done with the update from 3.0.3.1 just google ad was fixed ?

[2019-09-11 10:58] travveler65 opened #250 "Facebook Ads"
Hello,
I've activated FB Ads in Opencart 2.3 and have now no access to admin panel.
Can someone help?

[2019-09-11 12:48] shue249 commented on #250
@travveler65 Did you upgrade the old plugin to the latest version? If so, can you check this post if the solution works for you.

If it doesnt work, can you share more details on what is the error you are seeing on the admin panel and the error logs from your webserver.

[2019-09-16 05:31] shue249 commented on #250
@travveler65 Missed out the link earlier - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/189

[2019-09-16 05:33] shue249 commented on #244
@siteadvice As we are using the API to update the product, the status information on the "Your products" tab is not applicable.

On the image problems, what are the image URLs used to display on the web store for those 2 products?

[2019-09-16 12:29] siteadvice commented on #244
I have now solved this problem and you might find the solution helpful to other people - the problem was that the domain's DNS and SSL certificate are provided by Cloudflare and the SSL certificate settings on the account were set to "Flexible".

Apparently it is not usual for this to result in infinite 301 redirect loops. I have now switched the Cloudflare settings to "Full (strict)" and subseque

[2019-09-17 06:31] tksir commented on #91
![Untitled](https://user-images.githubusercontent.com/54794143/65016782-b50b5b00-d942-11e9-897f-ebcfde280b31.png)
I went to Advanced Setting and tried updating. It takes a long time but doesn't update.

[2019-09-17 06:58] tksir commented on #91
![image](https://user-images.githubusercontent.com/54794143/65018364-8becc980-d946-11e9-9cec-c7ba70fda67d.png)
And Advanced Options don't have an Update Token.

[2019-09-17 07:04] tksir commented on #91
![Untitled](https://user-images.githubusercontent.com/54794143/65018749-73c97a00-d947-11e9-9f5f-3551a8525b85.png)
And here link is not shown well.

[2019-09-18 04:10] tksir commented on #91
![Untitled](https://user-images.githubusercontent.com/54794143/65111057-25c07f00-d9f8-11e9-859d-c971014fc79c.png)
When I try to fetch the products it's being always processed but never completes and finishes.

[2019-09-18 12:45] vgidok opened #251 "Facebook-For-OpenCart - type of product Category"

[2019-09-18 13:02] vgidok commented on #251
Hello.
Opencard version 2.3.0.2.3
The Facebook-For-OpenCart module has been installed successfully. The catalog was successfully added to the facebook store.
The product information on the "Category" is and pulls up with sub categories of the second level of the online store.
But in the product information, "type of product" is empty, but should pull up the main category ID from the online store !

[2019-09-18 13:10] vgidok commented on #251
There is still a small problem with the yellow triangle in the Facebook Pixel Helper add-on.

---AddToCart

WARNINGS
The value for 'currency' is not formatted correctly. We were expecting a currency code without currency symbol (e.g. "USD").Learn more
CUSTOM PARAMETERS SENT
content_type: product
content_ids: ["2996"]
value: 71
num_items: 1
content_name: Show
currency: UAH
EVENT INFO
URL Called: Sh

[2019-09-18 13:23] vgidok commented on #251
established Facebook for OpenCart v2.1.10

[2019-09-19 15:35] Ashon95 opened #252 "When is this going to get updated to 3.0.3.2"
When is this going to get updated to 3.0.3.2

[2019-09-20 18:17] KonstantinGOT opened #253 "Issue with Token"
Hi have a issue with token when i go in my admin. when i go to extension is says soemthing bad (look screen)  also i dont see the token in advance settings
![Screen Shot 2019-09-20 at 11 16 34](https://user-images.githubusercontent.com/50840258/65349406-28f27100-db98-11e9-89fa-83d01e67627a.png)
![Screen Shot 2019-09-20 at 11 12 25](https://user-images.githubusercontent.com/50840258/65349411-2abc34

[2019-09-21 05:13] palangiux opened #254 "manage settings"
want update token but cant enter manage settings in my admin panel page not found please help me

[2019-09-21 05:16] palangiux commented on #247
what have to do with this ocmod file now?

[2019-09-21 05:45] palangiux commented on #254
![facebook](https://user-images.githubusercontent.com/55613475/65368617-2cdfcb00-dc4c-11e9-8c8d-2e62b56e53f2.png)

[2019-09-21 05:46] palangiux commented on #254
![facebook1](https://user-images.githubusercontent.com/55613475/65368624-3c5f1400-dc4c-11e9-895c-5c43ce90a6dd.png)

[2019-09-22 07:27] palangiux commented on #254
Any ideas please

[2019-09-22 15:03] palangiux commented on #247
doesnt help this ocmod

[2019-09-22 23:38] shue249 commented on #254
@palangiux Do you have any ad blocker or VPN installed? If so, can you try to disable them?

[2019-09-22 23:39] shue249 commented on #253
@KonstantinGOT Can you look at this post and see if the steps help you - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/142#issuecomment-482908951

[2019-09-23 00:07] shue249 commented on #247
@palangiux We have replied to you on your ticket, can you take a look and see if it works.

[2019-09-23 00:11] shue249 commented on #244
Thanks for the information, this is helpful.

Closing out this ticket.

[2019-09-23 00:11] #244 closed

[2019-09-23 03:47] palangiux commented on #254
Dobt have any blocker or vpn

Sent from Yahoo Mail on Android

  On pr, rugs. 23, 2019 at 2:38, shue249<notifications@github.com> wrote:
@palangiux Do you have any ad blocker or VPN installed? If so, can you try to disable them?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-23 03:50] palangiux commented on #254
How to do fresh restart of the plugin?

[2019-09-23 13:04] palangiux commented on #254
could youexplain more clear how to deal with option 2? How to check is this deleted or not?

[2019-09-24 03:43] shue249 commented on #254
@palangiux Do you still remember which is the page that you used for the setup? If so, you can go to Facebook and try to search for it. Or you can also go to the list of pages you manage/own and look for that page.

For a fresh restart of the plugin, you can follow the steps here - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/177#issuecomment-495930585

[2019-09-24 16:06] dyslexicdrakness commented on #249
Hey @shue249 ! I'm sorry to keep nagging you on this but my clients are asking for an update, do you have a time frame for the fix on this?

[2019-09-25 13:48] GBud80 opened #255 "Stuck after installation"
After installing the extension on open cart Version 2.1.0.2, and clicking on the admin page i cannot complete the setup as there is a loading gif instead of the GET STARTED button.

![fb-ext](https://user-images.githubusercontent.com/55797281/65606613-80834900-dfab-11e9-8f3c-fbeef1275f59.jpg)

[2019-09-26 03:29] shue249 commented on #255
@GBud80 Can you open up the Javascript console and refresh the page to see if there's any errors shown on the console.

[2019-09-26 09:56] GBud80 commented on #255
this is what i shown in the console:

VM117 facebookadsextension&token=6D9hAZYFAMjns53L8rGORcgIS6hvRQ1F&user_token=6D9hAZYFAMjns53L8rGORcgIS6hvRQ1F:41 Uncaught SyntaxError: Unexpected token '}'
dia_2_1_10.js:297 Uncaught TypeError: Cannot read property 'diaSettingId' of undefined
    at Object.refreshUIForDiaSettings (dia_2_1_10.js:297)
    at HTMLDocument.<anonymous> (index.php?route=extension/fa

[2019-09-27 02:33] shue249 commented on #255
@GBud80 Can you check if you have given read+write access (775) for the admin, catalog, system folders on your webserver, and then reinstall the plugin again.

What version of PHP are you using

[2019-09-28 03:59] palangiux opened #256 "Error : No reason phrase"
Hi getting error on my open cart admin panel
Error : No reason phrase
Can anybody help me to fix this
Thanks

[2019-10-01 15:03] shue249 commented on #252
Hi there, we have verified that you can use the current 2.1.10 version of our plugin on OC version 3.0.3.2.

We will be closing out this ticket for now.

[2019-10-01 15:03] #252 closed

[2019-10-01 15:03] shue249 commented on #237
Hi there, we have verified that you can use the current 2.1.10 version of our plugin on OC version 3.0.3.2.

We will be closing out this ticket for now.

[2019-10-01 15:03] #237 closed

[2019-10-01 15:03] shue249 commented on #202
Hi there, we have verified that you can use the current 2.1.10 version of our plugin on OC version 3.0.3.2.

We will be closing out this ticket for now.

[2019-10-01 18:09] Ashon95 opened #257 "Having problem with setup"
Im using
Opencart 3.0.3.2
Journal 3

i have installed with no problems and run through the setup - http://prntscr.com/pdiep1 everything is ok there then when i go to dashboard i get this error - http://prntscr.com/pdifin

i have done what it says and deleted facebook and re-run the setup and still the same also get this on facebook plugin page - http://prntscr.com/pdig65

[2019-10-01 19:21] Ashon95 opened #258 "Problem with My gtmetrix"
so after installing the plugin im get this and its issue for me is there was i can fix please - http://prntscr.com/pdjf26

[2019-10-02 04:18] KonstantinGOT commented on #253
For short time yea but then again same issue..

[2019-10-02 04:20] KonstantinGOT opened #259 "Shopping tags stop working on IG"
Hello

Can you assist me with shopping tag issue?
The old one still intact but cant add new and dont see shopping settings in settings
![13A443BC-E51A-4FFD-9877-F13DD033AEEB](https://user-images.githubusercontent.com/50840258/66017826-3d384700-e491-11e9-945a-d14968fd71ca.png)
![C35CD9CF-D4AF-4693-AF46-2C997E7A3317](https://user-images.githubusercontent.com/50840258/66017827-3dd0dd80-e491-11e9-86bf

[2019-10-02 23:02] shue249 commented on #256
@palangiux Can you share a screenshot of your error

[2019-10-02 23:03] shue249 commented on #254
@palangiux Have you tried to do the fresh restart of the plugin?

[2019-10-02 23:04] shue249 commented on #250
@travveler65 Are you still facing problem with the plugin?

[2019-10-02 23:04] shue249 commented on #247
Closing out this ticket. Feel free to reach to us if you have further questions.

[2019-10-02 23:04] #247 closed

[2019-10-02 23:06] shue249 commented on #255
@GBud80 Are you still facing problem with the plugin?

[2019-10-02 23:07] shue249 commented on #257
@Ashon95 Did you logout from Facebook on your browser after you finished the setup?

[2019-10-02 23:14] shue249 commented on #259
@KonstantinGOT Will you be able to reach to our support team at this link - https://www.facebook.com/business/help/support. They will have specialists who can help deep dive into your IG shopping specific problems.

Will be closing out this ticket

[2019-10-02 23:14] #259 closed

[2019-10-02 23:16] shue249 commented on #258
@Ashon95 Can you help us understand better on what is the issue for you and how will you like the plugin to be improved?

[2019-10-04 23:35] Ashon95 opened #260 "is there a way to change the plugin name"
i want to make the name smaller as it looks ugly and to long - http://prntscr.com/pf21w6

i just want it to says "facebook business"

[2019-10-07 05:27] shue249 commented on #260
@Ashon95 You can make this changes on these 4 files on your webserver folder.

https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/admin/language/en-gb/extension/facebookadsextension.php#L8
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/admin/language/en-gb/extension/module/facebookadsextension_installer.php#L8
https://github.com/facebookinc

[2019-10-07 05:27] #260 closed

[2019-10-07 22:47] shue249 commented on #250
Closing out this ticket, feel free to reach to us if you have further questions.

[2019-10-07 22:47] #250 closed

[2019-10-07 22:48] shue249 commented on #236
@nijones05 Apologies for this late reply. What is the version of the plugin you are using? We have a latest version 2.1.11, can you try to use this version and see if you are still getting this error.

[2019-10-07 22:49] shue249 commented on #234
@cgonzalez-p We have released a new version of the plugin 2.1.11, which should have solved your problem for the messenger chat plugin. Can you try the new version and let us know if it works.

[2019-10-07 22:51] shue249 commented on #201
@lipmycar We have released a latest 2.1.11 version of the plugin which fixes this problem.

Will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-10-07 22:51] #201 closed

[2019-10-07 22:51] shue249 commented on #188
@wegee-us  We have released a latest 2.1.11 version of the plugin which fixes this problem.

Will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-10-07 22:51] #188 closed

[2019-10-07 22:56] shue249 commented on #169
@Schwannn, @tomeda  We have released a latest 2.1.11 version of the plugin which provides you an option to choose to sync the special price as discount or to disable the syncing of special price.

If you like to sync for 1 special customer group id price for ALL the products, you can consider making the modifications directly on the plugin files on your webserver. The code pointer will be at - htt

[2019-10-07 22:56] #169 closed

[2019-10-07 22:58] shue249 commented on #154
@JakubSVK  We have released a latest 2.1.11 version of the plugin which provides you an option to choose to sync the special price as discount or to disable the syncing of special price.

If you like to sync for 1 special customer group id price for ALL the products, you can consider making the modifications directly on the plugin files on your webserver. The code pointer will be at - https://gith

[2019-10-07 22:58] #154 closed

[2019-10-07 22:59] shue249 commented on #16
@reorado, @normdouglas  We have released a latest 2.1.11 version of the plugin which provides you an option to choose to sync the special price as discount or to disable the syncing of special price.

If you like to sync for 1 special customer group id price for ALL the products, you can consider making the modifications directly on the plugin files on your webserver. The code pointer will be at -

[2019-10-07 22:59] #16 closed

[2019-10-08 01:30] shue249 commented on #253
@KonstantinGOT We are now working on a revamp of the catalog sync to ignore the use of the API and access token. We will update you once this is ready.

[2019-10-08 02:09] Ashon95 opened #261 "Problem with new version"
getting this on my pages - http://prntscr.com/pg8ge2

found the file - http://prntscr.com/pg8giy

and here - http://prntscr.com/pg8gou ( admin/controller/extension/facebookadsextension.php )

[2019-10-08 03:16] shue249 commented on #261
@Ashon95 Thanks for the heads up! We are working on this urgently now

[2019-10-08 03:18] Ashon95 commented on #261
no problem please update me when fixed

[2019-10-08 05:05] shue249 commented on #261
@Ashon95 We have released a new version 2.1.12 to fix the issue.

Will be closing out this ticket, let us know if you have any further questions. https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.12

[2019-10-08 05:05] #261 closed

[2019-10-08 05:06] shue249 commented on #257
@Ashon95 We will be closing out this ticket. Feel free to reach to us if you have any further questions.

[2019-10-08 05:06] #257 closed

[2019-10-08 05:57] nijones05 commented on #236
Hi, Thanks but i no longer use opencart so this issue no longer applies.

Regards

Nic

On 07/10/2019 23:48, shue249 wrote:

[2019-10-08 12:36] shue249 commented on #251
@vgidok

1. For the product side, we are syncing to the category field.
![image](https://user-images.githubusercontent.com/11957585/66395959-3c606180-ea0b-11e9-9ee5-99732a876ea7.png)

2. For the pixel firing, is this still an issue on your website? We tested the UAH currency and did not receive the warning sign on pixel helper.

[2019-10-08 15:34] exitsport opened #262 "Pixel not installed on website"
Hi,

We instalations new version Facebook Business Extension Plugin Version: 2.1.12.
Try to cleaned all:

 We have detected the Facebook pixel/Messenger customer chat is not correctly setup in your web store site. You can try these below steps to fix the problem.
1. Ensure that you have Refresh the modifications, View steps
2. For OpenCart 3.x, ensure that you have disabled the theme and SASS cach

[2019-10-08 15:36] exitsport commented on #262
![Opencart issue](https://user-images.githubusercontent.com/14319188/66410309-94429c80-e9fa-11e9-9217-2645e41860ff.JPG)

[2019-10-08 15:40] shue249 commented on #262
@exitsport What is your website store URL?

[2019-10-08 15:41] shue249 commented on #258
Will be closing out this request. Feel free to reach to us if you have further questions

[2019-10-08 15:41] #258 closed

[2019-10-08 15:41] shue249 commented on #236
Will be closing out this request. Feel free to reach to us if you have further questions

[2019-10-08 15:41] #236 closed

[2019-10-08 15:41] exitsport commented on #262
www.exitsport.eu

[2019-10-08 15:41] shue249 commented on #234
Will be closing out this request. Feel free to reach to us if you have further questions

[2019-10-08 15:41] #234 closed

[2019-10-08 16:30] Ashon95 commented on #261
@shue249 has it been updated and fixed ?

[2019-10-08 17:27] Ashon95 opened #263 "Getting Error on back end even though pixel is working on front end"
getting a message on backend saying pixel is not working - http://prntscr.com/pgkfwz

yet it working on front end - http://prntscr.com/pgkgfd

[2019-10-08 21:15] alexseif opened #264 "Cannot redeclare ModelCheckoutOrder::getOrderProductIds()"
Facebook extension for open cart 3 produces this code
in `storage/modification/catalog/model/checkout/order.php` which  produces the fatal error
`Cannot redeclare ModelCheckoutOrder::getOrderProductIds()`
[code]
How can we fix this issue?

[2019-10-09 00:14] shue249 commented on #264
@alexseif The general guide to fix this is in this post - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/189

Instead of router.php, you need to edit that mentioned order.php file on your webserver. Then remove away both of the getOrderProductIds() methods and save the file. After that, check on your admin panel if you have multiple instances of the plugin but with different ver

[2019-10-09 00:20] shue249 commented on #262
@exitsport We checked on your website and found that the plugin warnings are false positive, ie you can safely ignore those messages. The setup is correct on your website and there is nothing you need to do for now.

Explaining more details, we found that you have a code minifier which strip away excess comments that we used as a detection mechanism to check if the pixel is fired successfully. In

[2019-10-09 00:22] shue249 commented on #263
@Ashon95  Can you share your website URL?

[2019-10-09 01:18] hydramod commented on #262
I am getting the same error, website can be found at hydramod.com

[2019-10-09 04:31] gagan28510 opened #265 "Facebook ads extension"
We are currently using opencart 3.0.2 version and facebook ads extension version 2.1.10,

Now fb ads ext. 2.1.12 is available, please share steps how to upgrade , we wish to upgrade it

[2019-10-09 04:49] shue249 commented on #265
@gagan28510 You can follow the steps here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#upgrade-the-plugin-to-a-later-version

[2019-10-09 04:49] #265 closed

[2019-10-09 07:12] exitsport commented on #262
Thank you, maybe some know, what is best solution to add Messenger to Opencart?

[2019-10-09 10:21] shue249 commented on #262
@hydramod We checked your website and found that there should not have any errors. Can you share the screenshot of how the Facebook Business Extension admin panel looks like.

[2019-10-09 10:21] shue249 commented on #262
@exitsport You can follow the guide here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#setup-for-facebook-messenger-chat

[2019-10-09 12:41] hristonev opened #266 "Wrong product query"
Guys, I have ecommerce and try this module. However upload of all products do not work correctly. Fix is in `admin/controller/extension/facebookproductfeed.php`

    $filter_data = array(
          'start' => $batch_number *
            FacebookCommonUtils::FACEBOOK_PRODUCT_QUERY_BATCH_COUNT,
          'limit' => FacebookCommonUtils::FACEBOOK_PRODUCT_QUERY_BATCH_COUNT,
          'filter_status' =>

[2019-10-09 12:46] hydramod commented on #262
I checked to take a screenshot of the error just now and it is gone, i guess it was truly a false error, because i dont notice anything broken. I would screenshot it and show you but it is completely normal now. Thank you for taking the time to confirm that everything is functional @shue249

[2019-10-09 12:51] Simon55 opened #267 "admin path change plugin not work"
Hi we got problem with this extension, that not make any sense! There are problems with the installation of the Facebook Ads Extension. We have detected missing files for Facebook Ads Extension. Please enable read, write and execute access permissions for these files and folders. fail.. with permission is all ok but this extension not recognized other path name folder of admin?

/home/domains/doma

[2019-10-09 13:17] exitsport commented on #262
![image](https://user-images.githubusercontent.com/14319188/66484791-5a33d200-eab0-11e9-89de-f426bd7afdc7.png)

[2019-10-09 14:39] alexseif commented on #264
Thank you

[2019-10-09 16:22] bonyod commented on #267
Got these error too

[2019-10-09 16:34] reorado commented on #16
OH great, its here finally. Does it support opencast 3.0.3.2?

[2019-10-09 17:51] Superstar18 opened #268 "Error message"
Hi,

A few days ago this error started to appear even if we didn't made any modifications:

 Warning: Encountered problem updating product(s) to Facebook. Please retry again. Check the error log file for more details

We did the update today, refresh the modifications, etc. but the error is still there.
We also saw that facebook ads did not consume any budget today at any of the campaings. I don't

[2019-10-09 22:47] tuncaytunckol commented on #262
![111111](https://user-images.githubusercontent.com/56370945/66525982-da355880-eaff-11e9-8ea6-8f0c31f1a65a.JPG)
https://www.tunckol.com

[2019-10-10 00:35] shue249 commented on #267
Thanks, we are aware of this and working to solve this.

Duplicate issue as https://github.com/facebookincubator/Facebook-For-OpenCart/issues/135

[2019-10-10 00:36] shue249 commented on #16
@reorado Yes it supports 3.0.3.2

[2019-10-10 00:37] wegee-us commented on #188
@shue249 Hi, we updated to the Version: 2.1.12, the messenger is still not showing. and it shows an error, we already refresh the modification
![image](https://user-images.githubusercontent.com/50933832/66530133-5e192180-eabb-11e9-88b1-5c2d5c95e056.png)

[2019-10-10 00:40] shue249 commented on #262
@tuncaytunckol You can ignore the error on the admin panel, as it is the same case as the others - presence of minifier. The pixel is correct on your website

[2019-10-10 01:39] shue249 commented on #266
@hristonev Thanks for the heads up! We will look into this

[2019-10-10 07:10] shopyub opened #269 "Facebook Ads Extension"
There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Github if this error keeps showing.

Notice: Use of undefined constant INITIAL_PRODUCT_SYNC_EXCEPTION_MESSAGE - assumed 'INITIAL_PRODUCT_SYNC_EXCEPTION_MESSAGE' in /home3/shopyubc/public_html

[2019-10-10 07:46] shopyub commented on #269
https://prnt.sc/pharza

[2019-10-10 07:54] shopyub commented on #269
https://prnt.sc/phawss

[2019-10-10 07:56] shopyub commented on #269
https://prnt.sc/phaxzk

[2019-10-10 21:14] iq860 commented on #263
same issue
an error even my website is up and running both pixel and chat
website URL: el-vet.com
opencart: Version 3.0.2.0
default
![Screen Shot 2019-10-11 at 1 14 01 AM](https://user-images.githubusercontent.com/15311677/66607050-7163e400-ebc4-11e9-86dd-6a1d639a23bf.png)
 theme

[2019-10-10 22:51] wegee-us opened #270 "new version 2.1.12 the facebook Messenger still not working"
@shue249 Hi, we updated to the Version: 2.1.12, the messenger is still not showing. and it shows an error, we already refresh the modification
![image](https://user-images.githubusercontent.com/50933832/66612205-df34ef00-eb75-11e9-9654-b884643a0fca.png)

[2019-10-10 23:51] shue249 commented on #268
@Superstar18 Will you be able to share the log file from our plugin with us? You can find the download link on the bottom right of the plugin module on the admin panel.

[2019-10-11 07:58] vgidok commented on #251
It turned out that the default USD was in the ADS Manager settings. Changed on UAH the problem is gone.

[2019-10-11 08:33] shue249 commented on #270
@wegee-us Can you share your website again for us to take a look?

[2019-10-11 08:33] shue249 commented on #269
@shopyub There are multiple issues indicated from your request. Is this for a single website or multiple websites?

[2019-10-11 08:35] shue249 commented on #263
@iq860 We checked and the pixel setup is correct. You can ignore this error message while we work to improve the pixel detection mechanism.

[2019-10-11 09:05] shue249 commented on #266
@hristonev We are enforcing the enabled status on the code level instead on the SQL level (https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/admin/controller/extension/facebookproductfeed.php#L270). We are now working to move the filter to the SQL level (as you have suggested) to improve on the potential SQL query.

[2019-10-11 10:49] wegee-us commented on #270
@shue249 yes, this is our website: https://wegee.us/

[2019-10-11 11:39] Superstar18 commented on #268
Hi,

I tried to reply you here but adding the log as a attachment doesn't work. I'm getting a error.
I replied you by e-mail. Didi you get the e-mail?

[2019-10-12 03:38] shue249 commented on #268
@Superstar18 We didnt receive any email. Can you try to zip up the file and then attaching to this ticket?

[2019-10-12 03:48] shue249 commented on #270
@wegee-us We checked and found that the div element for the messenger chat plugin seems to not being able to load. Are you using some page optimiser/minifier (eg nitropack)? Will you be able to test disabling those optimisers/minifers to see if it will allow the chat plugin to be shown?

[2019-10-12 04:17] wegee-us commented on #270
@shue249 Hi, we did test it without cache. as we mentioned before, after some version, you moved this plugin from footer to header, that makes plugin dispeared. before that change, it is good to display in our site. we suggested to make an option to let us to choose the plugin where to show.

[2019-10-12 11:54] Superstar18 commented on #268
I'm trying but i get this error when i'm trying to attach anything here: https://prnt.sc/piaytg
Do you have a e-mail where i can send it?

[2019-10-12 22:14] ryanstacey opened #271 "Issue with new in stock changes"
I saw in the changelogs that youve updated how the extension pulls products and changes their status on facebook catalogue.

All our products are technically in stock and we let people order them on the website, but we use the custom out of stock status to let people know how many days it'll be.

Will these products show as out of stock on facebook?

<img width="608" alt="Screenshot 2019-10-12 at

[2019-10-13 18:40] Simon55 opened #272 "Facebook Ads Extension without messenger not works?!"
Hi fb warning include that we allready clear cache saas etc, but still get this errors! Second thing below:

We've found that Facebook pixel / Messenger customer chat is not set up properly on your online store site. You can try these steps below to fix the problem.

we added correct pixel inside code to header but fb not recognize it, becose we dont have it also avalible chat messenger? We dont w

[2019-10-13 18:46] Ashon95 opened #273 "How do i completly remove this from my store"
i want to completely delete plugin from store and reinstall fresh with a new Facebook page i have ran

delete from setting where code = 'facebook';

is SQL and there is no such thing also tried delete from setting where code = 'oc_facebook';

and still no so where are the credentials saved as i have uninstalled the plugin and reinstalled it and its still logged in my old page

[2019-10-14 00:30] shue249 commented on #270
@wegee-us We found the problem with the latest version of the plugin. We have added in the redundancy case by adding the Messenger chat plugin for both header and footer but there was a bug in the check. We will fix it and update you soonest.

[2019-10-14 00:32] shue249 commented on #273
@Ashon95 To re-setup the Facebook Business Extension with a new set of settings, you will need to delete away the existing settings. This can be done easily from the Facebook Business Extension screen, see this video - https://drive.google.com/open?id=1PenBy_xizQGszdiS5BrmVFPypn5HKnkL

For deleting of the settings from the SQL, this is only for rare cases, where the Facebook Business Extension is

[2019-10-14 00:32] #273 closed

[2019-10-14 00:33] shue249 commented on #272
@Simon55 Can you provide us your webstore URL and we can check into this.

[2019-10-14 01:37] shue249 commented on #271
I believe your "5-7 Days" is a custom out of stock status. All custom out of stock status are treated as in stock in Facebook. So all your stocks which have "5-7 Days" will be treated as In stock on Facebook if the quantity is zero or less. If the quantity is one or more, it will always be treated as In stock on Facebook.

The code pointer is here - https://github.com/facebookincubator/Facebook-Fo

[2019-10-14 01:37] #271 closed

[2019-10-14 02:20] shue249 commented on #268
@Superstar18 Can you send to ads_extension_opencart@fb.com

[2019-10-14 02:21] shue249 commented on #254
@palangiux We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-10-14 02:21] #254 closed

[2019-10-14 02:21] shue249 commented on #256
@palangiux We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-10-14 02:21] #256 closed

[2019-10-14 02:21] shue249 commented on #255
@GBud80  We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-10-14 02:21] #255 closed

[2019-10-14 03:40] Ashon95 commented on #273
i dont have that option when i go to settings i get a error - http://prntscr.com/pivqi7

[2019-10-14 08:44] jsuhand opened #274 "issue in installing Facebook ads extension v2.1.12"
getting following error after installing facebook ad extention
"
parse error:syntax error,unexpected'.',expecting','or';' public_html/system/library/facebookcommonutils.php on line 138  "

opencart Version 3.0.2.0
journal 2 theme

[2019-10-14 09:50] vgidok commented on #251
Good afternoon.
Will there be further improvements to this add-on?
1. Type of category?
2. Auto update Access Token when changing the password to Facebook. (since you have to go to the admin panel of the online store each time to manually update the Access Token)

I enclose the photo in a letter.
Thank.

@vgidok

For the product side, we are syncing to the category field.

For the pixel firing, is

[2019-10-14 10:45] Simon55 commented on #272
comstrok(dot)com

[2019-10-14 14:32] Ashon95 opened #275 "Delete Facebook Business Extension settings directly"
@Ashon95 To re-setup the Facebook Business Extension with a new set of settings, you will need to delete away the existing settings. This can be done easily from the Facebook Business Extension screen, see this video - https://drive.google.com/open?id=1PenBy_xizQGszdiS5BrmVFPypn5HKnkL

For deleting of the settings from the SQL, this is only for rare cases, where the Facebook Business Extension is

[2019-10-14 14:33] Ashon95 commented on #275
Can you tell me where to details in the database is to delete details of the facebook login as i get this error every time i click manage settings - http://prntscr.com/pj42q0

[2019-10-14 14:52] Steve-Regal opened #276 "Issues with install"
Good afternoon,

Have 3 domains all running with Facebook Pixel and Facebook Messenger:

www.regalautosport.com/shop (OC 2.0.2.0 with Journal 2 theme)
www.csfrace.eu (OC 2.1.0.2 with Journal 2 theme)
www.wavetrac.eu (OC 2.1.0.2 with Journal Theme)

All 3 domains have been setup the same and have VQmod and the 'Quickfix' for FTP bypass. When i originally loaded the Facebook extension it said that t