[2019-10-15 00:37] shue249 commented on #275
@Ashon95 Thank you for the feedback, and we apologise for the not ideal situation.

The SQL will be:

DELETE FROM oc_setting WHERE `code` = 'facebook';

You can do a select first to check if the data is correct:
SELECT * FROM oc_setting WHERE `code` = 'facebook';

Note that I used oc_setting as the table. The prefix "oc_" is dependent on what you choose when you setup OpenCart initially (the defau

[2019-10-15 04:02] nhoangnam93 commented on #270
I'm having same issue, please check.

[2019-10-15 04:20] Ashon95 commented on #275
Thank you that work like a charm

[2019-10-15 04:20] #275 closed

[2019-10-15 08:56] shue249 commented on #276
@Steve-Regal
1. For the missing database table, it is because we need to create a new table on your database. You will need to grant the CREATE and ALTER table permissions for the MYSQL database user.

2. For the module folder, is it affecting for only 2.0.2.0? Because this is a known problem for older versions. And it is ok to remove away the module folder.

[2019-10-15 09:08] shue249 commented on #274
@jsuhand Have you made any changes to the plugin files on your webserver? What is the PHP version that you are using?

[2019-10-15 09:11] shue249 commented on #272
@Simon55 We verified that the pixel is installed on your website properly and we will improve on the error detection message in the next version.

[2019-10-15 09:40] jsuhand commented on #274
No i haven't made any change on webserver ..PHP version is 7.2.7

[2019-10-16 05:57] shue249 commented on #274
@jsuhand We checked on this error and found that this happens on PHP 5.5 and lower, and should not happen for PHP 7.2.7.

However, we will still fix this problem to be compatible with PHP 5.5, and will update you when the new version is ready.

[2019-10-16 06:13] shue249 commented on #251
@vgidok  Thanks for the feedback
1. For the category field, we have to put it as a enhancement but we do not have resources to work on this now. If you have development resources, you can consider making the changes yourself. The code pointer will be here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/library/facebookproductformatter.php#L87

2. We are worki

[2019-10-16 06:26] shue249 commented on #268
@Superstar18 We have received your log file.
1. Can you do a resync of your products
![image](https://user-images.githubusercontent.com/11957585/66893528-e0a46280-f020-11e9-8d05-2fb141ca3742.png)

2. Can you share with us your website URL

[2019-10-16 07:52] Superstar18 commented on #268
Hi,
I resynced the products.
The store is iconicul.ro

[2019-10-16 09:46] Steve-Regal commented on #276
HI,

Am now getting this:

SyntaxError: JSON Parse error: Unrecognized token '<'
parsererror
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="UTF-8" />
<title>Page Not Found!</title>
<base href="https://www.regalautosport.com/shop/admin/" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<script type=

[2019-10-16 09:46] Steve-Regal commented on #276
Warning: DOMDocument::loadXML(): CData section not finished <!-- DO NOT MODIFY, use for indicating pi in Entity, line: 1483 in /home/regalautosport/public_html/shop/admin/controller/extension/modification.php on line 139Warning: DOMDocument::loadXML(): Premature end of data in tag add line 1357 in Entity, line: 1483 in /home/regalautosport/public_html/shop/admin/controller/extension/modification.p

[2019-10-17 00:17] shue249 commented on #268
@Superstar18 We checked on the catalog for both the dynamic ads and page shop, the products seems to be ok now.

![image](https://user-images.githubusercontent.com/11957585/66968223-95d52a00-f0b6-11e9-865e-03d65b6286fb.png)

For now, if you encounter further issues, you can do a resync to solve it. We are working on a catalog revamp to make this better, will inform you soonest when ready.

[2019-10-18 05:28] stemo-1975 commented on #262
The same here: https://www.domusz.hu

![FireShot Capture 020 - Facebook OpenCart rendszerre - www facebook com](https://user-images.githubusercontent.com/32204845/67068005-dc8b5880-f178-11e9-812a-5bce42585db6.png)

[2019-10-19 07:08] Deepeshsharma0 opened #277 "Fatal error: Class 'FacebookCommonUtils' not found"
We are working on OpenCart 3.0.3.1 with journal theme 3.0.39.

when we are update our facebook ad Extension v2.1.12. After the updates we are getting error on our website home page **Fatal error: Class 'FacebookCommonUtils' not found in /home/comnascent/ocart-data/storage/modification/catalog/controller/common/footer.php on line 6**
on admin panel this error showing **Fatal error: Class 'FacebookG

[2019-10-19 07:45] palangiux opened #278 "product not sync in facebook page"
in new version facebook extension bug with product sync still exist. In facebook page after resync product in eshop admin panel in facebook main page products is with discounts on them but then you push button  to show all products you can see all product from your eshop but without discounts on them. Is it possible to fix this bug?

Pictures atached

![Screenshot_20191019_103659_com facebook kata

[2019-10-20 13:16] shue249 commented on #277
@Deepeshsharma0 From your error message, it seems that you have renamed the "admin" folder to a custom name. At the moment, our plugin is not able to support for setups where the admin folder has been renamed.

This is on our roadmap for improvements, and we will update you soonest when the new version is ready.

[2019-10-20 13:18] shue249 commented on #276
@Steve-Regal Can I check if you have renamed away the admin folder into a different name?

[2019-10-20 13:24] shue249 commented on #276
@Steve-Regal Can you uninstall and remove away our plugin from your webserver and then try to install back the plugin and click on refresh modifications.

The problem is most likely due to the older version of OpenCart where the modification database table is having a small data size for the xml field, resulting in truncation errors when there are too many modifications installed. We have put in t

[2019-10-20 13:41] shue249 commented on #262
@stemo-1975 You are correct. The pixel code is not injected into your website, there are no pixel fires, and the diagnostics about missing pixel is correct. Are you able to follow the 3 instructions on the warning to see if it works for you.

[2019-10-20 13:50] shue249 commented on #278
@palangiux Can you share your webstore URL and your Facebook page. Also can you provide us with few product examples (with the product URL) where the discounts are wrong.

[2019-10-20 19:06] palangiux commented on #278
NAUJA ĮRANGA
|
|
|
|   |    |

   |

  |
|
|   |
NAUJA ĮRANGA

kirpyklos įranga nauja ir naudota bei didelis pasirinkimas atsarginių dalių kriauklės, dušiukai, sifonai, hidraulika kėdėms, maišytuvai, kėdžių, plautuvių remontas
  |   |

  |

  |

https://www.facebook.com/Kirpyklų-įranga-315133118670442/
|
|
|
|   |    |

   |

  |
|
|   |
Kirpyklų įranga

Kirpyklų įranga, Palanga. 682 likes. NAUJA

[2019-10-20 23:00] shue249 commented on #274
@jsuhand We have released a new version 2.1.13 which should be fixing this issue that you are facing, you can download the version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.13

Feel free to reach to us if you have further questions.

[2019-10-20 23:00] #274 closed

[2019-10-20 23:01] shue249 commented on #272
@Simon55  We have released a new version 2.1.13 which should be fixing this issue that you are facing, you can download the version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.13

Feel free to reach to us if you have further questions.

[2019-10-20 23:01] #272 closed

[2019-10-20 23:02] shue249 commented on #270
@wegee-us , @nhoangnam93   We have released a new version 2.1.13 which should be fixing this issue that you are facing, you can download the version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.13

We are closing out this ticket, Feel free to reach to us if you have further questions.

[2019-10-20 23:02] #270 closed

[2019-10-20 23:04] shue249 commented on #269
@shopyub Wondering if you have any updates from your side, are you still facing the issues?

We have a installation guide and FAQ guide that you can read to see if you may have missed out any requirement steps.
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md

[2019-10-20 23:08] shue249 commented on #266
@hristonev  We have released a new version 2.1.13 which should be fixing this issue that you are facing, you can download the version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.13

We are closing out this ticket, Feel free to reach to us if you have further questions.

[2019-10-20 23:08] #266 closed

[2019-10-20 23:10] shue249 commented on #263
@Ashon95 , @iq860  We have released a new version 2.1.13 which should be fixing this issue that you are facing, you can download the version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.13

We are closing out this ticket, Feel free to reach to us if you have further questions.

[2019-10-20 23:10] #263 closed

[2019-10-20 23:17] shue249 commented on #262
@exitsport , @hydramod , @tuncaytunckol  We have released a new version 2.1.13 which should be fixing this issue that you are facing, you can download the version here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.13

We are closing out this ticket, Feel free to reach to us if you have further questions.

@stemo-1975 , can you help us to create a new ticket if the

[2019-10-20 23:17] #262 closed

[2019-10-21 03:40] nhoangnam93 opened #279 "product_language_text Dropdown menu not shown in second language"
product_language_text Dropdown menu not shown in second language in admin

[2019-10-21 05:37] hristonev commented on #266
Thanks, Shue.

[2019-10-21 07:48] shue249 commented on #279
@nhoangnam93 Thank you for the feedback. We have updated the plugin again due to some build errors earlier. Can you download and re-install the plugin from OpenCart marketplace or github - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.13

The product_language_text feature is still in development and is not part of this release.

Will be closing out this ticket. Feel

[2019-10-21 07:48] #279 closed

[2019-10-21 13:14] palangiux commented on #278
Any suggestions? 

Sent from Yahoo Mail on Android

  On sk, spal. 20, 2019 at 16:50, shue249<notifications@github.com> wrote:
@palangiux Can you share your webstore URL and your Facebook page. Also can you provide us with few product examples (with the product URL) where the discounts are wrong.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub,

[2019-10-23 08:09] raix022 opened #280 "AddToCart not show data"
Hello,

PageView and ViewContent is working fine, but I dont see activity in AddToCart and Purchases.
OC version is  3.0.2.1 and Plugin Version: 2.1.13. We use there Sello theme. In facebook I see last time it worked 19 days ago.

[2019-10-23 08:33] raix022 commented on #280
Also I see error:

 We have detected the Facebook pixel is not correctly setup in your web store site. You can try these below steps to fix the problem.
1. Ensure that you have Refresh the modifications, View steps
2. For OpenCart 3.x, ensure that you have disabled the theme and SASS cache, View steps
3. For OpenCart 3.x, ensure that you do not have modifications to the header design, View steps

[2019-10-23 21:01] magbor opened #281 "insecure script blocked"
Mixed Content: The page at 'https://xxxxxx.com/' was loaded over HTTPS, but requested an insecure script 'http://freegeoip.net/shutdown'. This request has been blocked; the content must be served over HTTPS.

Please advice how to proceed for upgrade.

[2019-10-23 23:39] shue249 commented on #280
@raix022 Can you share your web store URL?

[2019-10-23 23:41] shue249 commented on #281
@magbor Most likely you are still on an older version of our plugin. You can download the latest version from OpenCart marketplace or our github

https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336
https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.13

For the plugin upgrade steps, you need to uninstall/remove the plugin then install the

[2019-10-23 23:41] #281 closed

[2019-10-24 08:04] raix022 commented on #280
airvitamin.ee

[2019-10-24 08:05] raix022 commented on #280
airvitamin dot ee

[2019-10-24 19:32] guilhermeojs opened #282 "Messenger customer chat is not correctly setup"
We have detected the Facebook pixel, Messenger customer chat is not correctly setup in your web store site. You can try these below steps to fix the problem.
1. Ensure that you have Refresh the modifications, View steps
2. For OpenCart 3.x, ensure that you have disabled the theme and SASS cache, View steps
3. For OpenCart 3.x, ensure that you do not have modifications to the header design, View st

[2019-10-25 08:36] markharmerisme opened #283 "Installation errors"
I installed it according to your requirements. But it didn't work.
Can you help me see what the problem？
Display the following information。
We have detected the Facebook pixel is not correctly setup in your web store site. You can try these below steps to fix the problem.
1. Ensure that you have Refresh the modifications, View steps
2. For OpenCart 3.x, ensure that you have disabled the theme and

[2019-10-26 09:32] raix022 commented on #280
U find it? I try everything, but its not working..

[2019-10-27 08:25] Simon55 commented on #272
Soo any update for us? Still waiting and no one respond!

[2019-10-27 21:11] dumechosen opened #284 "the product is not showing on facebook page"
the product is not showing on the facebook page this is the error message
 Your post couldn't be shared, because this link goes against our

please what can do to solve the problem

[2019-10-28 00:34] shue249 commented on #272
@Simon55 As commented earlier, we have released a new version 2.1.13, which aims to resolve your problem. Are you able to test out this version.

Also, we tried to visit your website, but encounters a 403 forbidden error.

![image](https://user-images.githubusercontent.com/11957585/67644608-c9893d00-f95d-11e9-8b2b-4a66572d92fb.png)

[2019-10-28 00:46] shue249 commented on #280
@raix022 From our check, things are working. You can try to make a dummy purchase on your website and inspect the events using our PixelHelper tool.

On AddToCart: (we are not able to test out purchases as it will involve an actual purchase, but you can do this mock test yourself)
![image](https://user-images.githubusercontent.com/11957585/67644655-40bed100-f95e-11e9-89dc-40ee2a66a2f7.png)

![imag

[2019-10-28 02:55] shue249 commented on #283
@markharmerisme Can you provide us the website store URL

[2019-10-28 02:56] shue249 commented on #282
@guilhermeojs Can you share with us your website store URL

[2019-10-28 03:01] shue249 commented on #278
@palangiux We are unsure what is the problem and we will like to seek more help from you to allow us to better understand the problem.

Can you:
Share with us 1 example of the product on your website and indicate to us what should be the expected price with the discount. Then we can cross check on the Facebook Page shop on the price which is shown now for that product.

[2019-10-28 03:11] shue249 commented on #278
For example, we looked into 1 such product. The discount price match correctly.
Facebook Page Shop URL - https://www.facebook.com/commerce/products/3091199217618947/
Website product URL - https://www.kirpyklosiranga.lt/index.php?route=product%2Fproduct&product_id=148

![image](https://user-images.githubusercontent.com/11957585/67649298-702c0880-f973-11e9-87c2-ba28e7caf00b.png)

![image](https://us

[2019-10-28 03:12] shue249 commented on #284
@dumechosen Can you share with us the link of the product

[2019-10-28 08:00] markharmerisme commented on #283
@shue249 Thank you for your reply.
It's working. Is the website root directory permission problem.

[2019-10-28 08:54] raix022 commented on #280
Hello,
When I test with PixelHelper, I see it not working.
![Screenshot 2019-10-28 at 10 51 22](https://user-images.githubusercontent.com/42356724/67664884-30642180-f971-11e9-97c0-888094e9b3b4.png)
I dont have any custom pixel codes. In FB analyst you see, its working some days ago. Every day this shop get 2-6 orders.

[2019-10-28 20:31] dumechosen commented on #284
this is the link   https://momehyo.com.ng

[2019-10-28 20:31] dumechosen commented on #284
this is the link https://momehyo.com.ng

[2019-10-28 20:34] dumechosen commented on #284
THIS IS THE F

THIS IS THE FACEBOOK PAGE LINK  https://web.facebook.com/MOMEHYO

[2019-10-29 00:06] Simon55 commented on #283
We will check new realise and let you know.

[2019-10-29 01:30] shue249 commented on #261
@Ashon95 Yes, pls check the latest version 2.1.13

[2019-10-29 15:04] raix022 commented on #280
And also Purchase not working.

![Screenshot 2019-10-29 at 17 03 21](https://user-images.githubusercontent.com/42356724/67780007-2411be80-fa6e-11e9-99bc-bd04e46160c3.png)

[2019-10-30 01:24] shue249 commented on #280
@raix022 There are 5 things to discuss here.

1. We believe that your website is running an older version of the plugin, possibly due to caching. Can you check if you have disabled the theme and SASS cache and to ensure that you have refreshed the modifications
a. https://drive.google.com/open?id=1bY-bworYxX36b88HDvFW0_32C3Wtq_Tm
b. https://drive.google.com/open?id=1qy-ipwK1HCk8oSnUmGuy6MCJxQdUyGf

[2019-10-30 01:46] shue249 commented on #284
@dumechosen
1. Do you have the link of the exact product? Can you share that with us
2. Can you try to do a Resync of your products? You can do that from the Facebook Business Extension module.

[2019-10-30 07:48] shopyub commented on #269
yes one site same problem
*Notice*: Use of undefined constant INITIAL_PRODUCT_SYNC_EXCEPTION_MESSAGE
- assumed 'INITIAL_PRODUCT_SYNC_EXCEPTION_MESSAGE' in
*/home3/shopyubc/public_html/admin/controller/extension/facebookproducttrait.php*
on
line *219*
https://prnt.sc/ppzz5n

‫في الجمعة، 11 أكتوبر 2019 في 11:33 ص تمت كتابة ما يلي بواسطة ‪shue249‬‏ <‪
notifications@github.com‬‏>:‬

--

[2019-10-30 07:51] shopyub commented on #282
This add-on has caused a major problem in the site that it is the worst addition over the history of OpenCart even the sitemap caused a problem I will delete it completely

[2019-10-30 09:00] raix022 commented on #280
Hello,
I delete all old code from header and reinstall the plugin. Now I see new code there, but Facebook Pixel Helper dont show any data now. Also in admin Facebook Business Extension error is gone, I dont see any error there.

![Screenshot 2019-10-30 at 10 54 32](https://user-images.githubusercontent.com/42356724/67843325-6ab1f800-fb04-11e9-983a-eefb116ff713.png)
![Screenshot 2019-10-30 at 10 54

[2019-10-30 13:40] raix022 commented on #280
U can close it.

[2019-11-01 18:19] Bolshaksa opened #285 "Large number of products"
Hello!

After installing the module, i see such a message

"There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Github if this error keeps showing.
The sync failure of your products to Facebook may be because of the large number of products on

[2019-11-04 08:55] Papov555 opened #286 "Facebook Ads Extension bug"
Plugin Version: 2.1.3   opencart 2.0.3
[Интернет-супермаркет Agroman.by_2019-11-04_07-40-14_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3803174/-.Agroman.by_2019-11-04_07-40-14_facebook_ads_extension.log)
There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete

[2019-11-06 01:59] shue249 commented on #286
@Papov555 Thank you for the feedback.

You can refer to this video on how to Delete away the settings and restart the setup - https://drive.google.com/open?id=1PenBy_xizQGszdiS5BrmVFPypn5HKnkL

If the problem persists, can you share with us the log file here?

[2019-11-06 02:36] shue249 commented on #285
@Bolshaksa

We believe the problem is because of the large number of products that need to be sync over to Facebook. We have documented some suggestions on our FAQ for your reference - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#syncing-of-opencart-products-to-facebook-catalog

[2019-11-06 02:45] #280 closed

[2019-11-06 02:47] shue249 commented on #269
@shopyub We apologise for the inconvenience caused for the plugin. If you have any further questions, feel free to reach to us by creating a new ticket.

We will be closing out this ticket.

[2019-11-06 02:47] #269 closed

[2019-11-06 02:48] shue249 commented on #282
@guilhermeojs Are you still encountering the problem? Will you be able to share with us your webstore URL?

[2019-11-07 23:09] rod2k opened #287 "Instalation Error when you have custom admin folder"
For security, before install fb plugins we had changed our admin folder, the instalation is not reading the admin variable from config.php

How to replay:

in a fresh opencart instalation (ver 3.0.2) change the admin folder to another one, change the path in new admin name\config.php

install plugins, it will install, but you can't configure correctly unless you rename your admin path to default

[2019-11-08 00:09] shue249 commented on #287
Thanks for the headsup! We are aware of this and looking at this.

Duplicated as https://github.com/facebookincubator/Facebook-For-OpenCart/issues/135

[2019-11-08 14:08] flaviotomazella opened #288 "Reinstallation without losing the Instagram shopping data"
Hi,

I'm having the Setup Problem for the second time. I installed the Plugin, and used it for months and someday it was showing the problem below at my opencart admin page:

"There is an error with Facebook Business Extension setup. Click on Facebook Business Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Githu

[2019-11-10 12:39] JuvVaid opened #289 "Website blocked for no reason.."
Hi

I made facebook page for my website (https://vanquishstore.com) almost a week ago, i just connected it with my  store. 2 days later i opened it to check it but finds out that my facebook shop isn't appearing on my page, i tried to post about my products manually but got the message that this website doesn't meet our community standards, I tried complaining about the issue but even after 2-3 da

[2019-11-11 15:18] shue249 commented on #289
@JuvVaid Thank you for your feedback. We will like to direct you to this direct help link for you to share more context and our internal teams will reach out to you for more details. https://www.facebook.com/help/contact/571927962827151

We will be closing out this ticket, but feel free to reach to us if you have more questions.

[2019-11-11 15:18] #289 closed

[2019-11-11 15:19] shue249 commented on #288
@flaviotomazella Thank you for your feedback. Can you share your log file with us here?

[2019-11-11 22:50] flaviotomazella commented on #288
Hi,

Follow my Log File

[Lavine Store_2019-11-11_22-46-38_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3833516/Lavine.Store_2019-11-11_22-46-38_facebook_ads_extension.log)

Thank you
Flavio

[2019-11-12 03:21] shue249 commented on #288
@flaviotomazella Thank you for the log file. Like to check if you have tried to click on the Resync products button?

[2019-11-12 20:41] flaviotomazella commented on #288
Hi,

I dont know why when i got this error, the button resyng is not appearing anymore.

Regards
Flavio

[2019-11-12 20:42] flaviotomazella commented on #288
correcting "Resync button" is not appearing anymore.

[2019-11-14 10:25] vlad3609 opened #290 ""Content isn't available right now" error"
Page to which my OC 3.0.3.2 Store was connected was deleted. Plugin was enabled at that moment. At the moment I am facing the following issue, when clicking on "Manage settings".
<img width="1280" alt="Screenshot 2019-11-14 at 11 14 31" src="https://user-images.githubusercontent.com/30337216/68848973-7dfebf00-06d1-11ea-9f68-c68b8e5c8c2c.png">
<img width="1280" alt="Screenshot 2019-11-14 at 11 14 3

[2019-11-14 10:42] vlad3609 commented on #290
[Petsify_2019-11-14_10-42-03_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3846010/Petsify_2019-11-14_10-42-03_facebook_ads_extension.log)

[2019-11-14 10:43] vlad3609 commented on #290
[_2019-11-14_10-42-03_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3846012/_2019-11-14_10-42-03_facebook_ads_extension.log)

[2019-11-14 11:24] xmana opened #291 "error occur 'We have detected the Facebook pixel is not correctly setup in your web store site.'"
Hello!
I have a problem with the Facebook Business Extension for OpenCart.
After updating the Facebook Business Extension for OpenCart, I can’t get it working properly.
The update went as follows: the previous plugin was removed, then the current one was installed.
After installation, when I enter the Facebook Business Extension settings in the OpenCart admin panel, I get the following errors:

 W

[2019-11-14 12:04] xmana commented on #291
![001](https://user-images.githubusercontent.com/8395478/68855773-a4c7f000-06e7-11ea-9c2e-2b105a7d7244.jpg)
![002](https://user-images.githubusercontent.com/8395478/68855775-a4c7f000-06e7-11ea-9108-d2e6a2f112c0.jpg)
![003](https://user-images.githubusercontent.com/8395478/68855776-a4c7f000-06e7-11ea-98f6-eb174168baf9.jpg)
![004](https://user-images.githubusercontent.com/8395478/68855777-a5608680-0

[2019-11-14 12:55] vlad3609 commented on #290
Solved by cleaning cache.

[2019-11-14 12:55] #290 closed

[2019-11-14 14:33] canaksoy commented on #264
this bug sliently *ucked our business. all orders failed.

[2019-11-17 10:41] rightmarc opened #292 "Product not cached in pixel"
Total 2 error receive in
1. A required field is missing: id
Products without "id" information can't be uploaded. Please check that this field is included for each product in a separate, labeled column.

2.There is an error with Facebook Business Extension setup. Click on Facebook Business Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please c

[2019-11-18 20:35] flaviotomazella commented on #288
Shue, please... could you help me?? the resync button is not appearing anymore and my catalog is not updating with this error. I dont wanted to reconfigure again and lose every post i made =/

[2019-11-19 08:36] xmana commented on #291
can someone help me?

[2019-11-19 19:32] AbdelReheem commented on #90
@shue249 Hello I know this discussion was from months, but I figured out just now why all product shown as instock in Facebook catalog and it's actually zero stock in our website.
There is something in opencart called localization and from the localization you can create new order status and new Stock status so we have multiple stock status created by us not in the default of opencart so we create

[2019-11-20 08:08] sbillis commented on #268
Hi,

I recently install Facebook Business Extension Plugin Version: 2.1.13 on Opencart Version 3.0.3.2 with Journal theme 3.0.41

I still get this error after deleting and reinstalling the plugin :

I dissable the cache, I delete the plugin and I made refresh to modifications. After that I re-install the plugin downloaded from Github. Yesterday the plugin worked and let me resync the products.
Tod

[2019-11-21 08:14] sbillis opened #293 "Error validating access token (plugin v.2.1.13 , OC v.3.0.3.2)"
Hi,

I reopen this issue because I haven't find yet the solution on this forum and the topics related are with old versions or are closed.

I recently install Facebook Business Extension Plugin Version: 2.1.13 on Opencart Version 3.0.3.2 with Journal theme 3.0.41

I still get this error after deleting and reinstalling the plugin :

There is an error making API calls using the access token. The err

[2019-11-23 02:28] shue249 commented on #293
@sbillis

Apologies for the late reply.

We are now working to change the catalog sync method from API to full scheduled feed approach. We are targeting to roll out the new plugin version in 1st week of Dec. This new update will solve the existing problem of "invalid access token"

In the meantime, we can suggest you these 3 things.
1. To re-update your access token, you can follow the steps in th

[2019-11-23 02:52] shue249 commented on #292
@rightmarc

Can you share with us a copy of your log file from the plugin here? We suspect that the feed file was not successfully generate due to the large number of products on your website.

Are you able to review this FAQ section to see if the points help you - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#syncing-of-opencart-products-to-facebook-catalog

[2019-11-23 02:58] shue249 commented on #288
@flaviotomazella

Apologies for the late reply.

1. We suspect there is some error on your Facebook Business Extension module page. Are you able to access the javascript console log and share with us a screenshot? If you are using Chrome, from the menu bar, click on View -> Developer -> Javascript console.

2. We are now working to change the catalog sync method from API to full scheduled feed app

[2019-11-23 03:02] shue249 commented on #291
@xmana, apologies for the late reply.

1. We found that the pixel setup is correct on your webstore. The warning message on your plugin module page is incorrect. You can ignore the warning message and we will look into the reason why the warning message is shown up. Can we also check with you that your webstore URL is https://fmf.com.ua/

2. We found that the products have been successfully upload

[2019-11-23 03:22] whitesnow91 opened #294 "product option & special price"
hi, yesterday i was updating the plugin, and appear some issue

1. product are sync to facebook catalog with price instead of special price
2. product are sync to facebook catalog with the highest price of  the product option instead of lowest

any way to get rid of this ?

[2019-11-23 08:36] sbillis commented on #142
This solution:
Copy, paste and run this code on the javascript console
window.facebookAdsToolboxConfig.tokenExpired = 'true'

works on Opencart 3.0.3.2 with 2.1..13 extension version !

[2019-11-23 08:40] sbillis commented on #293
Thank you for your reply and for your time!!!
I will wait the update. Is a must and very good extension and it must work !

[2019-11-23 10:26] shue249 commented on #90
@AbdelReheem Thank you for the feedback. In version 2.1.10 of our plugin, we have updated our logic for out of stock status to be in sync with OpenCart. You can read more on the logic on our release notes here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/RELEASE#L24

However, we are only able to cater for OpenCart default stock status and is unable to handle custom out

[2019-11-23 13:14] AbdelReheem commented on #90
@shue249 thanks for your reply appreciate it, But it was working very will with other custom out of stock status in your Version: 2.1.8 and Version: 2.1.9 and was firing custom OOS stutas as OOS on Facebook

So if you can revert back this in the coming version as old version 2.1.8 will be much helpful for all users I think.

I'm the developer and owner of the website so I will try to fix it from m

[2019-11-24 12:37] smlyrdsvn opened #295 "POST-INSTALLATION PROBLEM"
Hi,
I tested the plug-in after installing Opencart. Then I was going to introduce my page immediately after accessing the real Facebook account. But it didn't. I keep getting the "Sorry, this content isn't available right now" error, and I can't even get to the token screen.

![2](https://user-images.githubusercontent.com/58137597/69494746-3c8bc200-0ed0-11ea-9495-0c87a4eddb17.png)
![1](https://use

[2019-11-24 12:39] smlyrdsvn commented on #295
I also performed deletions in Chrome and the Database. I've also tried it with multiple versions.
[WENOLG_2019-11-24_12-40-10_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3883551/WENOLG_2019-11-24_12-40-10_facebook_ads_extension.log)

[2019-11-25 11:35] flaviotomazella commented on #288
1. Follow the print. It shows that the server "https://www.lavinestore.com/admin/index.php?route=extension/facebookadsextension/getinitialproductsyncstatus&user_token=XJG8RWG3wYCJsI94BUUzgB6yl9kJ5zue&token=XJG8RWG3wYCJsI94BUUzgB6yl9kJ5zue" is responding with the status of 400.

![image](https://user-images.githubusercontent.com/57532959/69537209-6095e480-0f5e-11ea-85bf-911715640223.png)

2. Thank

[2019-11-26 07:34] shue249 commented on #90
@AbdelReheem Thank you for the feedback.

To be consistent with OpenCart's logic, we will be retaining the current logic of the current plugin. However, I can point you to the version 2.1.8 release and you can copied over the code logic for the stock availability into your current website on your opencart server. https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.8

Do no

[2019-11-26 07:36] shue249 commented on #288
@flaviotomazella It seems that there is some issue with the plugin code on your webserver, but we are unable to debug further as the error 400 is too generic. What we can suggest is the following.

1. Can you check if the admin, catalog and system folders are given read+write permission recursively on your webserver
2. Uninstall the plugin and reinstall the plugin again
3. Check if the console sti

[2019-11-26 07:39] shue249 commented on #295
@smlyrdsvn Some suggestions for you to check.

1. It seems that your Facebook account may need to perform some verification. Can you log into Facebook on your browser to complete the verification.

2. Is the Facebook page still valid? Some users encounter this problem after they deleted away the Facebook page

3. You can reset the entire plugin settings by manually removing away the plugin data on

[2019-11-26 07:41] shue249 commented on #294
@whitesnow91 Can you share more details about your problem and provide some examples?

You can also refer to point 2 on our FAQ with respect to special prices. https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#product-configurations-and-settings

[2019-11-26 08:03] whitesnow91 commented on #294
hi, when my product have
-price
-special price
-option price

it will sync price to facebook catalog,not the special price or lowest option price
![Screenshot_3](https://user-images.githubusercontent.com/51204211/69610169-37607b80-1066-11ea-853d-f453fd3faf15.png)
![Screenshot_4](https://user-images.githubusercontent.com/51204211/69610170-37607b80-1066-11ea-8929-c40a62d57965.png)
![Screenshot_5](ht

[2019-11-26 13:34] AbdelReheem commented on #90
@shue249 thanks for your usual support, I edit the logic of stocking in the current version 2.1.13 and it's working perfect now and synchronize all products with matching to actual website stock

Thank you again for your great module and for your support

[2019-11-27 08:07] xmana commented on #291
Surprisingly, the error disappeared without intervention on our part.
The problem is currently settled.

[2019-11-27 08:07] #291 closed

[2019-11-28 01:42] KonstantinGOT opened #296 "dont see other pixels"
Have an issue that i dont see all the pixels that i have available
please assist me on this matter. have only 3 out of 6
![Screen Shot 2019-11-28 at 8 40 00](https://user-images.githubusercontent.com/50840258/69770247-ee6e0b80-11ba-11ea-9c63-1b1e9535a448.png)

[2019-11-29 03:25] shue249 commented on #296
@KonstantinGOT Usually such issues are due to permissions. Can you verify if you have access to those pixels on your business manager.

[2019-12-01 13:09] bengleking opened #297 "Probelm with Uninstalling"
Dear sir madam. I need some help. We needed to rename our admin directory but this seems causing problem accessing my admin dashboard as FB showing errors. I have also tried to uninstall this but seems uninstalling Facebook Ad extension doesn't work in opencart.It forcefully keeps reactivating.

[2019-12-02 15:43] exitsport opened #298 "Update to last version"
We update to last version: Plugin Version: 2.1.13
But in facebook not sync any products and Facebook shop is empty or only loading photos

![image](https://user-images.githubusercontent.com/14319188/69977417-704f9300-1533-11ea-8986-8eaca1564298.png)

[2019-12-02 16:46] exitsport commented on #298
Also in Extension any buttons not work
![image](https://user-images.githubusercontent.com/14319188/69977642-d9cfa180-1533-11ea-8b51-e3bae0b3c59f.png)
**
![image](https://user-images.githubusercontent.com/14319188/69977730-ff5cab00-1533-11ea-91ee-106b86bf8f45.png)
**

[2019-12-03 09:21] arsh7023 commented on #293
I am facing the same issue. is there any update? my  Plugin Version: 2.1.13  and OpenCart Version 3.0.2.0
I have also tried the above comments such as putting window.facebookAdsToolboxConfig.tokenExpired = 'true' in developer console but didn't work.

Please let us know what is the status.

[2019-12-03 10:01] shue249 commented on #293
@arsh7023 We are still working on the update for complete testing across all OpenCart versions to ensure the best experience when we roll out the update. We are still targeting the rollout to be in the first week of Dec (this week) and we will update everyone soonest when it is ready.

[2019-12-03 10:19] shue249 commented on #298
@exitsport
1. Can you share with us your web store URL?
2. Can you check if you are using any ad blocker on your browser that is doing the setup?
3. Can you share with us your Facebook page

[2019-12-03 10:36] shue249 commented on #297
@bengleking

At the moment, our plugin does not support custom admin folder names.

Can you refer to this guide on uninstalling the plugin - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#uninstall-the-plugin

If you are still encountering problems/errors, can you share more details and screenshots of the errors.

[2019-12-03 10:38] shue249 commented on #296
@KonstantinGOT Like to follow up on this, are you able to resolve the permission issue for the other pixels?

[2019-12-03 10:39] shue249 commented on #295
@smlyrdsvn Like to follow up on this, are you still facing the problems in the plugin setup?

[2019-12-03 10:42] shue249 commented on #294
@whitesnow91 Thank you for the feedback.

1. The plugin does not support the option price feature from OpenCart as the option feature is not available on Facebook catalog

2. For the special price, is there a date range specified? We only sync in the special price as discount if the date range is still valid (either the special price is currently ongoing or set as a future date), or if the date ra

[2019-12-03 11:07] exitsport commented on #298
www.exitsport.eu
second is Explorer messengre: that is black and if we changed some text in inside, in the messenger is same info, not changed any text

![image](https://user-images.githubusercontent.com/14319188/70045997-ccff8c00-15cd-11ea-93c1-2c4f357f1722.png)

[2019-12-03 11:33] doandbe opened #299 "facebook ads extension"
I have installed Facebook ads extension automatically from Facebook business for some reason it created a second account with the same pixel number on Facebook business manager.
Although on opencart it looks connected to the pixel and on Facebook business manager too when i try to set up new events from business manager to my website it says that there is no pixel connected to this account.
i have

[2019-12-04 03:21] shue249 commented on #299
@doandbe

We looked at your website and believe that the setup for the plugin is not complete.

To complete the setup, you can refer to this guide and the video.
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#setup-for-facebook-pixel-catalog-and-page-shop

https://drive.google.com/open?id=1JPXQ0mS1pGk2Bat9RV02vYNdbRfCLP9r

Let us know if this helps you.

[2019-12-04 03:26] shue249 commented on #299
@doandbe

Another suggestion. We found that you are still using an earlier version of the plugin - 2.1.3. We have the latest version 2.1.13 and it is available on here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.1.13

Can you remove away the older version and install the newer version of the plugin and see if the pixel firing is now working.

[2019-12-04 03:37] Netsaypro opened #300 "Facebook Extension"
We are facing a technical problem of installing facebook extension. For more information, please check the attached picture. We have already follow the guideline to delete and reinstall but still cant finish. How to fix it?

![Capture](https://user-images.githubusercontent.com/58498198/70110581-6be9be00-168a-11ea-9245-50f40b511818.JPG)

Moreover, we want to link our opencart onlinehop to facebook

[2019-12-04 03:37] shue249 commented on #298
@exitsport

1. Can you share your Facebook page which you used during the Facebook Business Extension setup?

2. The products are uploaded the Facebook catalog. You can view your products here - https://www.facebook.com/products/catalogs/403808090316739/products
![image](https://user-images.githubusercontent.com/11957585/70110512-2af1a980-168a-11ea-8109-9ea7f5c6a751.png)

3. For the Messenger chat

[2019-12-04 03:40] shue249 commented on #300
@Netsaypro Can you download the plugin log file and share it here for us to debug further on the problem.

For direct linking of your products to Facebook page shop, you can also manually create your own catalog and then linking it to page shop. You can read up more details here https://www.facebook.com/business/help/890714097648074?id=725943027795860

This plugin helps to automate all the steps a

[2019-12-04 03:49] shue249 commented on #300
@Netsaypro Can you also share a screenshot of your Facebook Business Extension module.

![image](https://user-images.githubusercontent.com/11957585/70111090-1c0bf680-168c-11ea-9854-2d347175c9ea.png)

[2019-12-04 03:54] Netsaypro commented on #300
Dear Shue249,

I have deleted the Facebook Business Extension as the warning massage always show on the backend.

I have already followed the above guideline but still have bug

Best Regards,

Pang

From: shue249 <notifications@github.com>
Sent: Wednesday, December 4, 2019 11:50 AM
To: facebookincubator/Facebook-For-OpenCart <Facebook-For-OpenCart@noreply.github.com>
Cc: Netsaypro <enquiry@netsayp

[2019-12-04 06:05] agendagroup opened #301 "displaying incorrect prices, displaying incorrect products"
We are using the latest version - Plugin Version: 2.1.13. The client spends a lot on advertising on Facebook but we feel we are losing clicks / conversions due to the errors.

1. the plugin is displaying incorrect prices on Facebook but when you click through to the website from the Ad the price is correct.
2. the plugin is displaying disabled products on Facebook so then a user clicks it and ther

[2019-12-04 07:45] exitsport commented on #298
In black text is Microsoft Edge browser:
https://gyazo.com/6c403277d29838df619f51396ab12447

[2019-12-04 08:55] doandbe commented on #299
hello i am using seo mega kit plus, i tried to to find out and disable cache but i couldnt find it my oc v 2.3.0.2 and it doesnt show like on your picture i installed new version of facebook manager and erased the previous one. I found out that using google chrome with pixel helper let me set up new events and i did becasue i see it is working,the problem was aslso the mozilla firefox,installing t

[2019-12-04 09:24] shue249 commented on #300
@Netsaypro Will you still be keen to use our plugin? if so, can we ask for you to re-install the latest version of the plugin, delete away the settings and re-setup Facebook Business Extension. After which, please share with us the error status (if any) of the plugin so that we can help you to troubleshoot.

Latest version of plugin - https://github.com/facebookincubator/Facebook-For-OpenCart/rele

[2019-12-04 09:31] shue249 commented on #298
@exitsport Thank you for the feedback on the MS Edge browser. We will bring this to our team.

Can you also share your Facebook page so that we can debug on the issue where you are not able to see the products on your FB page shop.

For the warning message on your Admin panel, we have checked on your website and it is a false alarm (ie, the pixel setup is correct and you can ignore this message).

[2019-12-04 09:32] shue249 commented on #292
@rightmarc We will be closing out this ticket, but pls feel free to reach to us if you have any further questions.

[2019-12-04 09:32] #292 closed

[2019-12-04 09:33] shue249 commented on #286
@Papov555  We will be closing out this ticket, but pls feel free to reach to us if you have any further questions.

[2019-12-04 09:33] #286 closed

[2019-12-04 09:33] shue249 commented on #285
@Bolshaksa  We will be closing out this ticket, but pls feel free to reach to us if you have any further questions.

[2019-12-04 09:33] #285 closed

[2019-12-04 09:34] shue249 commented on #282
@guilhermeojs  We will be closing out this ticket, but pls feel free to reach to us if you have any further questions.

[2019-12-04 09:34] #282 closed

[2019-12-04 09:34] shue249 commented on #276
@Steve-Regal  We will be closing out this ticket, but pls feel free to reach to us if you have any further questions.

[2019-12-04 09:34] #276 closed

[2019-12-04 09:35] shue249 commented on #278
@palangiux  We will be closing out this ticket, but pls feel free to reach to us if you have any further questions.

[2019-12-04 09:35] #278 closed

[2019-12-04 09:38] shue249 commented on #283
@markharmerisme , @Simon55  We will be closing out this ticket, but pls feel free to reach to us if you have any further questions.

[2019-12-04 09:38] #283 closed

[2019-12-04 09:39] shue249 commented on #284
@dumechosen  We will be closing out this ticket, but pls feel free to reach to us if you have any further questions.

[2019-12-04 09:39] #284 closed

[2019-12-04 11:33] shue249 commented on #299
@doandbe Thank you for the feedback.

1. We done a quick check on the pixel setup on your website. The events are now firing correctly on your product page for ViewContent and AddToCart. If you like, you can try to make a mock purchase on your website to verify that the Purchase event is also correctly fired.
![image](https://user-images.githubusercontent.com/11957585/70131598-8be6a500-16bd-11ea-8

[2019-12-04 12:14] doandbe commented on #299
thanks a lot you were very helpful , just one last thing as it regards "when i click on facebook module is shows all the time checking for upload status,if i try to refresh catalalog and fetch products for catalog it takes ages" is has something to do with the token,if no how can i fix it

[2019-12-04 14:53] shue249 commented on #299
@doandbe The fix that we are working on now will solve the catalog refresh issue that you are facing.

[2019-12-04 15:17] doandbe commented on #299
ok thanks a lot

[2019-12-04 17:08] shue249 commented on #301
@agendagroup From your feedback, it looks like the issues come from the ad. Are the ads dynamic ads? If the ads are dynamic ads, are you able to check which is the catalog used for the dynamic ads? The catalog which is setup by the plugin is this - https://www.facebook.com/products/catalogs/2335248106734265/products

1. For the incorrect price, we checked on the Facebook catalog for that product a

[2019-12-05 02:34] shue249 opened #302 "Mandatory upgrade of catalog to be 100% feed approach"
From version 2.2.0 onwards, we have provided an approach to upgrade your catalog to be 100% feed approach and the API/access token is no longer in use. The API/access token will be eventually deprecated and we highly recommend all existing plugin users to upgrade to the newer versions.

2.2.0 - 11 Nov 2019
* Changed the product catalog sync method. On earlier versions, the plugin adopted 2 approac

[2019-12-05 02:34] shue249 commented on #185
@pao2pao16

We have released a new version of the plugin, 2.2.0. In this new version, we have changed the catalog sync to using 100% feed file and the API/access token is no longer needed. This will resolve your current problem. You need to do an upgrade of the existing catalog and the steps to do that is highlighted in the release notes.

Here is the release notes:
2.2.0 - 11 Nov 2019
* Changed t

[2019-12-05 02:34] #185 closed

[2019-12-05 02:35] shue249 commented on #190
@DORMETA

We have released a new version of the plugin, 2.2.0. In this new version, we have changed the catalog sync to using 100% feed file and the API/access token is no longer needed. This will resolve your current problem. You need to do an upgrade of the existing catalog and the steps to do that is highlighted in the release notes.

Here is the release notes:
2.2.0 - 11 Nov 2019
* Changed the

[2019-12-05 02:36] shue249 commented on #223
@stefansxxl

We have released a new version of the plugin, 2.2.0. In this new version, we have changed the catalog sync to using 100% feed file and the API/access token is no longer needed. This will resolve your current problem. You need to do an upgrade of the existing catalog and the steps to do that is highlighted in the release notes.

Here is the release notes:
2.2.0 - 11 Nov 2019
* Changed

[2019-12-05 02:36] #223 closed

[2019-12-05 02:36] shue249 commented on #230
@ryanstacey , @dyslexicdrakness

We have released a new version of the plugin, 2.2.0. In this new version, we have changed the catalog sync to using 100% feed file and the API/access token is no longer needed. This will resolve your current problem. You need to do an upgrade of the existing catalog and the steps to do that is highlighted in the release notes.

Here is the release notes:
2.2.0 - 11

[2019-12-05 02:36] #230 closed

[2019-12-05 02:37] shue249 commented on #249
@reginamor , @dyslexicdrakness

We have released a new version of the plugin, 2.2.0. In this new version, we have changed the catalog sync to using 100% feed file and the API/access token is no longer needed. This will resolve your current problem. You need to do an upgrade of the existing catalog and the steps to do that is highlighted in the release notes.

Here is the release notes:
2.2.0 - 11

[2019-12-05 02:37] #249 closed

[2019-12-05 02:37] shue249 commented on #251
@vgidok

We have released a new version of the plugin, 2.2.0. In this new version, we have changed the catalog sync to using 100% feed file and the API/access token is no longer needed. This will resolve your current problem. You need to do an upgrade of the existing catalog and the steps to do that is highlighted in the release notes.

Here is the release notes:
2.2.0 - 11 Nov 2019
* Changed the

[2019-12-05 02:37] #251 closed

[2019-12-05 02:39] shue249 commented on #253
@KonstantinGOT

We have released a new version of the plugin, 2.2.0. In this new version, we have changed the catalog sync to using 100% feed file and the API/access token is no longer needed. This will resolve your current problem. You need to do an upgrade of the existing catalog and the steps to do that is highlighted in the release notes.

Here is the release notes:
2.2.0 - 11 Nov 2019
* Chang

[2019-12-05 02:39] #253 closed

[2019-12-05 02:39] shue249 commented on #268
@Superstar18 , @sbillis

We have released a new version of the plugin, 2.2.0. In this new version, we have changed the catalog sync to using 100% feed file and the API/access token is no longer needed. This will resolve your current problem. You need to do an upgrade of the existing catalog and the steps to do that is highlighted in the release notes.

Here is the release notes:
2.2.0 - 11 Nov 201

[2019-12-05 02:39] #268 closed

[2019-12-05 02:40] shue249 commented on #288
@flaviotomazella

We have released a new version of the plugin, 2.2.0. In this new version, we have changed the catalog sync to using 100% feed file and the API/access token is no longer needed. This will resolve your current problem. You need to do an upgrade of the existing catalog and the steps to do that is highlighted in the release notes.

Here is the release notes:
2.2.0 - 11 Nov 2019
* Cha

[2019-12-05 02:41] shue249 commented on #293
@sbillis , @arsh7023

We have released a new version of the plugin, 2.2.0. In this new version, we have changed the catalog sync to using 100% feed file and the API/access token is no longer needed. This will resolve your current problem. You need to do an upgrade of the existing catalog and the steps to do that is highlighted in the release notes.

Here is the release notes:
2.2.0 - 11 Nov 2019
*

[2019-12-05 02:41] #293 closed

[2019-12-05 02:41] shue249 commented on #299
@doandbe

We have released a new version of the plugin, 2.2.0. In this new version, we have changed the catalog sync to using 100% feed file and the API/access token is no longer needed. This will resolve your current problem. You need to do an upgrade of the existing catalog and the steps to do that is highlighted in the release notes.

Here is the release notes:
2.2.0 - 11 Nov 2019
* Changed the

[2019-12-05 02:41] #299 closed

[2019-12-05 03:20] kabetov opened #303 "Big Catalog"
[Hello!](url)

I have 71K products and no mysql errors at all.
Have the message " There is an error with Facebook Business Extension setup. Click on Facebook Business Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Github if this error keeps showing.
The sync failure of your products to Facebook may be because of

[2019-12-05 08:05] exitsport commented on #298
facebook is: https://www.facebook.com/exitsport.eu/
But in new update going new messages;

**We have detected the Facebook pixel, Messenger customer chat is not correctly setup in your web store site. You can try these below steps to fix the problem.**
**1. Ensure that you have given read+write permissions to the admin, catalog and system folders on your OpenCart webserver**
2. Ensure that you hav

[2019-12-05 11:42] Netsaypro commented on #300
Dear Shue249,

I have re-installed the plugin. Our opencart products are being imported to Facebook. I waited for a whole day but still not yet finish.

Please see the attached photos to know more our situation.

When will finish the whole importing procedure?

Actually, we want to set up a facebook store same as the attached photos named “Facebook Store”. After the importing procedure, our facebo

[2019-12-06 07:48] Netsaypro commented on #300
Dear Shue249,

Any updates?

Dear Shue249,

I have re-installed the plugin. Our opencart products are being imported to Facebook. I waited for a whole day but still not yet finish.

Please see the attached photos to know more our situation.

When will finish the whole importing procedure?

Actually, we want to set up a facebook store same as the attached photos named “Facebook Store”. After the im

[2019-12-06 08:14] condor2 opened #304 "Php 7.x warning message should be fixed - A non-numeric value line 494"
Line 494 from facebookeventparameters.php

I think need to be changed from
`list($sort, $order, $page, $limit) = $this->getGeneralFilterParameters();`

to
`list($sort, $order, $page, $limit) = (int)$this->getGeneralFilterParameters();`

[2019-12-06 09:02] alireza-shamakhy commented on #302
Hi,

I have updated the extension, however still have issues. The error message has gone but I cannot see manage settings at all.
I want to change my password in settings but there is no way for me to do that in opencart extension. It is just spinning. I removed the extension and reinstalled but no lock.
Please advise, thanks!
![Screen Shot 2019-12-06 at 7 59 11 pm](https://user-images.githubuserc

[2019-12-06 14:13] shue249 commented on #303
@kabetov

Can you try to delete away the settings and re-do the setup again - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#delete-the-existing-settings-for-facebook-for-opencart

After which, can you download the log file and share the log file here so that we can help you to debug/troubleshoot.

We have past tickets opened by other OpenCart users who hav

[2019-12-06 14:36] shue249 commented on #298
@exitsport

1. For your Facebook page shop, we are able to see the products loaded. Clicking on one of the product is also leading correctly to the product on your website.
![image](https://user-images.githubusercontent.com/11957585/70330456-9305e280-1878-11ea-8df1-f90352ea25a7.png)

2. For the diagnostics error on pixel/messenger chat not correctly setup, you can ignore this error. We have checke

[2019-12-06 14:37] shue249 commented on #297
@bengleking We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-12-06 14:37] #297 closed

[2019-12-06 14:37] shue249 commented on #296
@KonstantinGOT We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-12-06 14:37] #296 closed

[2019-12-06 14:37] shue249 commented on #295
@smlyrdsvn  We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-12-06 14:37] #295 closed

[2019-12-06 14:38] shue249 commented on #304
@condor2 Thank you for the feedback. Let us look into this.

[2019-12-06 14:43] shue249 commented on #300
@Netsaypro Apologies for the delay.

1. How many products do you have on your opencart website?

2. Can you delete away the existing settings and re-do the setup again. You can follow this video guide here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#delete-the-existing-settings-for-facebook-for-opencart

3. Can you download and share the log file from

[2019-12-06 14:48] shue249 commented on #302
@alireza-shamakhy Can you do a force refresh of your broswer, it could be a problem of caching of old data on your browser. If this still does not work, can you open up the javascript console and share a screenshot of any errors on the console.

[2019-12-06 15:33] bonyod opened #305 "Product Tags input to custom_label"
Hi, is there any way to put product tag to custom label? If I need to customize myself, what file should I check/update?
Thank you

[2019-12-06 22:03] arsh7023 commented on #302
I have delete cache, and hard reload page but still same issue.``
![Screen Shot 2019-12-07 at 8 22 47 am](https://user-images.githubusercontent.com/1134716/70359618-72697700-18d0-11ea-85a4-56c307b667f2.png)

[2019-12-07 02:29] Netsaypro commented on #300
Dear Shue249,
I have deleted and reinstall the extension.
Opencart products is being Imported to Facebook store. We have 4039 products in opencart.

    	取得 iOS 版 Outlook

On Fri, Dec 6, 2019 at 10:43 PM +0800, "shue249" <notifications@github.com> wrote:

@Netsaypro Apologies for the delay.

How many products do you have on your opencart website?

Can you delete away the existing settings and re-d

[2019-12-07 15:25] kabetov commented on #303
@shue249 All is good now with a new version!

[2019-12-07 16:06] kabetov commented on #303
@shue249 at first time it was imported 2800 goods =) nice.
but my Currency in Open Cart is in EURO, in Facebook it is in RUB.

How can I change it? Thanks!

[2019-12-07 18:40] exitsport opened #306 "Text in Facebook shop"
Hi,

It is possible to see in Facebook shop same text, what we add from Opencart? In Facebook shop all info whitout any spaces: Cube Reaction GTC 29", Carbon. Raami suurus: **19"RAAM:GTC** Twin Mold Monocoque Technology, ARG2, Tapered Headtube, PressFit BB, X12, Integrated Cable **RoutingVÄRV:carbon´n´greenFORK:Manitou** M30 Air, Remote Lockout, **100mmHEADSETFSA** Orbit I-t-R, Integrated, Top 1 1

[2019-12-07 20:05] itshaman commented on #298
Have the same troble ((

[2019-12-09 02:29] shue249 commented on #305
@bonyod Currently we do not provide this feature in the plugin, but we can suggest the code pointers if you have development resources. Pls do take note that the changes made on your local server will be overwritten whenever you re-update the plugin to a later version, so you need to make the changes again if you do update the plugin.

1. We strongly suggest for you to upgrade the plugin to latest

[2019-12-09 02:32] shue249 commented on #303
@kabetov We are glad that the new version works for you.

We have listed out the steps to change the currency on our FAQs (look for point 4), you can look at the screenshots listed on point 4. After you make the currency change, you can do a "Fetch Now" via the Facebook Business Extension popup so that the changes can be sent over to Facebook catalog.

We will be closing out this ticket, feel free

[2019-12-09 02:32] #303 closed

[2019-12-09 02:47] shue249 commented on #300
@Netsaypro

Can we verify with you if your website URL is https://netsaypro.com/. The reason being that we still see the plugin version listed as 2.1.3 instead of our latest 2.2.0 version when viewing the source code of the website. You can download the version 2.2.0 here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.0

![image](https://user-images.githubuserconten

[2019-12-09 02:50] shue249 commented on #306
@exitsport We are using the description from the OpenCart product. We believe that that the descriptions are multi-line long text and the plugin have stripped away all special characters, including the next line, resulting in all the info meshing together.

This is the method function which generates the description - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/sy

[2019-12-09 02:59] shue249 commented on #302
@arsh7023

We need to check the source settings for Facebook Business Extension to verify the problem. Will you be able to view source, and share out lines 14 to 319 with us here. Note that you should NOT share out line 320, as it contains your OpenCart token.

[2019-12-09 03:00] shue249 commented on #298
@itshaman Can you share with us your webstore URL so that we can check.

[2019-12-09 04:07] bonyod commented on #305
perfect! thank you @shue249 !

[2019-12-09 05:01] #305 closed

[2019-12-09 05:08] Netsaypro commented on #300
Dear Shue249,

I have re-install the latest version. The opencart products start to be imported to Facebook again. Please see the attached screenshot for your reference.

When will the importing process finish?

Best Regards,

Pang Wong

From: shue249 <notifications@github.com>
Sent: Monday, December 9, 2019 10:48 AM
To: facebookincubator/Facebook-For-OpenCart <Facebook-For-OpenCart@noreply.github

[2019-12-09 06:48] dtying commented on #302
@arsh7023 Could you also try to click on 'refresh' button in Menu -> Extensions -> Modifications, and then check if the error gone?
![Screen Shot 2019-12-09 at 2 44 10 PM](https://user-images.githubusercontent.com/21333308/70413700-fa977a00-1a92-11ea-9cc2-f6808c7ce5a8.png)

[2019-12-09 07:32] arsh7023 commented on #302
Hi,

I have clicked on the refresh button and also cleared the modifications.
Also exactly what part of the code you guys needed? Are you looking for /admin/controller/extension/facebookadsextension.php?
What is the difference between facebook Ads extension and business extension?

Also please have a look at two screen shots below:
![Screen Shot 2019-12-09 at 6 26 18 pm](https://user-images.github

[2019-12-09 07:36] shue249 commented on #305
@bonyod You may have already know this, but want to over-communicate here.

1. You can check the physical CSV feed file from this location - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/system/library/controller/extension/facebookproductfeed.php#L71

2. You can check the Facebook product catalog documentation and the list of available fields here - https://develope

[2019-12-09 07:42] shue249 commented on #300
@Netsaypro Thanks, we have found the latest version on your OpenCart website. Can we ask for you to do 2 more things. Please reply back directly to the github ticket on your browser instead of replying from email as any attachments will not be added to the ticket.

1. Can you delete away the existing settings (NOT the plugin) and re-do the setup again. https://drive.google.com/open?id=1PenBy_xizQG

[2019-12-09 07:46] shue249 commented on #302
@arsh7023 Thank you for the screenshots. There are 2 problems.
1. The earlier problem where the loading indicator keeps showing and error showing on the javascript console is gone. We can close this problem.

2. For the new second problem (warning message showing that pixel is not correctly setup), can you share with us your webstore URL.

Also, may I ask if your website is the same as that report

[2019-12-09 07:53] shue249 commented on #301
@agendagroup Like to check back again on this issue. Do you have the ad id where your client runs the ad and if the ad is a dynamic ads?

[2019-12-09 07:53] arsh7023 commented on #302
Hi ,
the website is :
https://sunsharesolar.com.au
and also yes, it is the same report.

Cheers

On Mon, Dec 9, 2019 at 6:46 PM shue249 <notifications@github.com> wrote:

[2019-12-09 07:54] shue249 commented on #190
We will be closing out this ticket, feel free to reach to us if you have further questions.

[2019-12-09 07:54] #190 closed

[2019-12-09 07:57] shue249 commented on #180
@wegee-us Apologies for dropping the ball on this. We looked at the Facebook page again and found there are close to 120 products. Are you able to successfully load in the products?

[2019-12-09 07:58] exitsport commented on #298
https://www.exitsport.eu

[2019-12-09 08:04] Netsaypro commented on #300
Dear Shue249,

I don’t know how to reply through the github ticket. Can you give me the link?

The re-setup is done and please find the attached log file.

Best Regards,

Pang Wong

From: shue249 <notifications@github.com>
Sent: Monday, December 9, 2019 3:42 PM
To: facebookincubator/Facebook-For-OpenCart <Facebook-For-OpenCart@noreply.github.com>
Cc: Netsaypro <enquiry@netsaypro.com>; Mention <men

[2019-12-09 08:15] shue249 commented on #294
@whitesnow91 Wondering if you have any further insights on the product prices issue.

[2019-12-09 08:21] shue249 commented on #300
@Netsaypro This is the link for the github ticket - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/300

I wasnt able to see the log file. Can you attach the log file directly to this ticket from your browser.

[2019-12-09 08:23] shue249 commented on #298
@itshaman and @exitsport Like to verify if both of you are reporting for the same website?

We are aware of www.exitsport.eu and are working on the issue where the pixel incorrect setup diagnostics error is shown.

[2019-12-09 08:24] Netsaypro commented on #300
Here is the log file
[NetSayPro 醫美產品購物網_2019-12-09_08-00-37_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3938525/NetSayPro._2019-12-09_08-00-37_facebook_ads_extension.log)

[2019-12-09 08:31] shue249 commented on #229
@kokobongoton We have released a latest version 2.2.0 which improves the catalog sync.

1. You can delete away the existing plugin, install the latest version, delete away the existing settings and re-do the setup again.

2. If the catalog still fails due to the large size, you can make changes to the plugin code to exclude away 0 stock if you have development resources. The code pointer will be h

[2019-12-09 08:31] #229 closed

[2019-12-09 09:02] agendagroup commented on #301
We don't have the ad ID but yes they are dynamic ads. However we have
created our own workaround for it which we will monitor. I will come back
to you soon. Thanks.

On Mon, 9 Dec 2019, 6:53 pm shue249, <notifications@github.com> wrote:

[2019-12-09 09:03] shue249 commented on #300
@Netsaypro

1. We found that 4.2K products are uploaded to the Facebook catalog. https://www.facebook.com/products/catalogs/790529928054428/products

2. The Facebook shop also has the products uploaded

3. However, the product images are not displayed successfully.
![image](https://user-images.githubusercontent.com/11957585/70421882-b06bc400-1aa5-11ea-9fc8-b05852339a2a.png)
![image](https://user-i

[2019-12-09 09:07] shue249 commented on #300
@Netsaypro We looked at your feed file at this URL - http://netsaypro.com/index.php?route=extension%2Ffacebookfeed%2FgenFeed

The CSV feed file shows that the image field shows up the image_link for all products as just http://netsaypro.com/image/

We like to check with you if you are using 3rd party product management module or 3rd party product image modules?

[2019-12-09 14:41] filipburman opened #307 "404 =model&token problem"
Hi,
We have a problem getting the module to work with our checkout and ajax filter.
For some reason the front.php file is causing problem with our site. Both filter module and checkout. We get a 404 error in the console reacting to a FB token access.

"b'coz I found that in system/engine/front.php file they are added code using their OCMOD file and that changes will not work in our site.
"
"If I r

[2019-12-10 03:24] shue249 commented on #307
@filipburman Thank you for sharing this feedback.

Yes, our plugin is making changes to the front.php with some code for the Facebook pixel firing on the web store. However, we are not directly calling any URL in the form of extension/extension shown on your javascript console.

We are curious to understand a few things
1. The latest version of the plugin is 2.2.0. Are you using this version? http

[2019-12-10 06:12] dtying commented on #298
@itshaman @exitsport
Thank you for error reporting. We're working on fix PHP undefined error from facebookproductfeed.php. Currently it has caused issue in generating product feed file, and failure in uploading products into Facebook Catalog. Once it's fixed, the error should be gone .

[2019-12-10 07:16] nlwebdev commented on #307
Hi,

Myself Ashvin.

The latest version of the plugin is 2.2.0. Are you using this version? https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.0
-- Yes we are using latest version. See attached screenshot
![image](https://user-images.githubusercontent.com/40201928/70503791-35a8b480-1b4a-11ea-8e36-8de509178ddb.png)

The installation of our plugin is shown on these 2 videos

[2019-12-10 08:01] Netsaypro commented on #300
Our IT consultant said he upload product photos via FTP link not backend.

How to solve this problem

[2019-12-10 08:54] shue249 commented on #304
@condor2 Can we check what is your webstore URL?

[2019-12-10 09:01] creativegg opened #308 "Facebook Catalog Sync Problem"
Hi, we have a problem connecting catalog to Facebook.
A warring appeares in the Facebook Business Extension: Warning: We have updated the catalog sync process and requires you to do an update immediately. Please click on Facebook Business Extension, Manage Settings, go to Advanced Options and follow the instructions. View steps

But the Catalog does not sync, and this message appears: Catalog Sync

[2019-12-10 09:04] shue249 commented on #308
@creativegg Like to confirm that your webstore URL is https://creativegg.com/

[2019-12-10 09:05] creativegg commented on #308
Yes.

Regards,
Toni

FrontRoom Ltd.
Sofia 1421, Bulgaria
39-41 Tsvetna Gradina Str.
T: +359 2 488 19 49
M: +359 889 31 85 61
www.frontroom.eu

On Tue, Dec 10, 2019 at 11:04 AM shue249 <notifications@github.com> wrote:

[2019-12-10 09:30] dtying commented on #308
@creativegg
Thank you for the error reporting.

In order for us to better identify the issue, can you follow the instructions and send us the screenshot?
1. Open the extension and navigate to 'Advanced Options'
2. Right click on the page, click'Inspect' to open Chrome Inspector. Then open 'Network' tab.
3. Type 'setup' in the filter, check its 'Response' and send us the details
![Screen Shot 2019-

[2019-12-10 09:37] creativegg commented on #308
![ScreenShot3](https://user-images.githubusercontent.com/58726080/70517584-6e905b80-1b41-11ea-858e-be94a818a332.jpg)

[2019-12-10 09:40] dtying commented on #308
@creativegg could you click on on it, and open Reponse tab? I want to view the details of it.

[2019-12-10 09:43] creativegg commented on #308
Here it is :)
![ScreenShot4](https://user-images.githubusercontent.com/58726080/70517990-35a4b680-1b42-11ea-9d3e-378e65060c56.jpg)

[2019-12-10 10:37] creativegg commented on #308
Did you find the problem?

[2019-12-10 11:42] dtying commented on #308
@creativegg yes we’re looking into the issue currently. It may take sometime to fix the issue, and we’ll keep you updated.

[2019-12-10 11:45] creativegg commented on #308
Thank you! We really need to fix it ASAP as it is our busiest time of the year.

[2019-12-10 11:51] dtying commented on #308
@creativegg if it’s really urgent, you can re-install the older version release first, and use it in the same way as before. Once we fix the issue, then you upgrade it again.

[2019-12-10 12:15] creativegg commented on #308
The old version doesn't work as well.

On Tue, 10 Dec 2019, 13:51 dtying, <notifications@github.com> wrote:

[2019-12-10 16:46] mankovds opened #309 "An error occurs while going to the module page"
An error occurs while going to the module page.

We have detected the Facebook pixel, Messenger customer chat is not correctly setup in your web store site. You can try these below steps to fix the problem.
1. Ensure that you have given read+write permissions to the admin, catalog and system folders on your OpenCart webserver
2. Ensure that you have Refresh the modifications, View steps
3. For Ope

[2019-12-10 16:46] mankovds commented on #309
I enclose a screenshot of the error:
![image](https://user-images.githubusercontent.com/43268584/70549741-60603080-1b7d-11ea-8b8d-9e42c1bc9c1e.png)

[2019-12-11 03:57] shue249 commented on #304
@condor2 We have rolled out a new version 2.2.1, which should fix this problem. https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

We will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-12-11 03:57] #304 closed

[2019-12-11 03:59] shue249 commented on #302
@arsh7023 We looked at your website, 2 things we like to share.

1. For the pixel incorrect setup warning message shown by our plugin, we have released a newer version 2.2.1 which fix this problem. You can download the version from here https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

2. We found a set of existing pixel codes on your website. We highly recommend you

[2019-12-11 04:01] shue249 commented on #300
@Netsaypro How do you link the product to the images on your Opencart? There should be some data stored on the MySQL database which links the product images.

[2019-12-11 04:03] shue249 commented on #298
@exitsport , @itshaman

We have release a newer version 2.2.1 which fixes the pixel incorrect setup warning message and undefined index error/warning. You can download the version from here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

We will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-12-11 04:08] shue249 commented on #309
@mankovds We have just released a newer version 2.2.1. Can you remove the older version and install the newer version, refresh modifications and see if this solves the warning messages. We checked on your website and the pixel setup is correct, so the warning message is a false positive.

https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

[2019-12-11 06:56] wegee-us commented on #180
@shue249 hi, i think it's working fine now. Thanks

[2019-12-11 07:36] exitsport opened #310 "New update"
Hi,

In last update not impossible to change or add Facebook page:

![image](https://user-images.githubusercontent.com/14319188/70600919-a064f900-1bf9-11ea-8081-22f2d904433f.png)

Also if we saved Pixel account in extension that not saved:

![image](https://user-images.githubusercontent.com/14319188/70601179-2e40e400-1bfa-11ea-9e79-cab4b81faafa.png)
https://gyazo.com/6e0c64415fcf24a9e4635e4b233e06

[2019-12-11 07:47] arsh7023 commented on #302
Thanks @shue249
I have updated the plugin and also removed the existing pixel code. I think it is working now, can you please double check in your end if possible?
Cheers

[2019-12-11 16:16] itshaman commented on #298
Site https://vikart-molbert.ru
fb https://fb.com/vikartmolb

[2019-12-11 16:32] itshaman commented on #308
Have the same troble
![изображение](https://user-images.githubusercontent.com/16690535/70640305-ce275d80-1c4c-11ea-950b-7258b15997a0.png)

Response is html page

`<!DOCTYPE html><html lang="en" id="facebook"><head><title>Error</title><meta charset="utf-8" /><meta http-equiv="Cache-Control" content="no-cache" /><meta name="robots" content="noindex,nofollow" /><style>html, body { color: #333; font-f

[2019-12-11 18:43] webdreamsbg commented on #309
Hello,

I have the same problem even when I put the newest version 2.2.1, OC 2.3.0.2

Hope you can find a solution

[2019-12-11 20:51] mankovds commented on #309
Hello. Again tried to update, tried to reinstall from scratch. Did not help. All the same error.

[2019-12-12 00:22] ozfarmer commented on #309
Hi I have just installed the latest version 2.2.1 but it hangs see https://prnt.sc/q9l1n8 I am using opencart 3.0.3.2

All the best Kenso.

[2019-12-12 04:57] dtying commented on #308
@creativegg
I checked that your issue was caused by data discrepancy and validation exception in Facebook. Can you try remove the existing setting, and re-create a new one?
1. Install the latest release [here](https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1).
2. Open Extension. Go to 'Ad Setup' -> 'Advanced Settings' -> 'Remove', wait for it to complete. Note that yo

[2019-12-12 04:59] dtying commented on #308
Hi @itshaman, can you provide your webstore url for me?

[2019-12-12 06:35] ozfarmer commented on #309
If I drop back to Plugin Version: 2.1.13 it works fine.

[2019-12-12 07:55] dtying commented on #310
Hi @exitsport, thank you for reporting issue.
1. Currently there's some issue with displaying the pixel / page in the dropdown. We're aware of it.
2. It's not allowed to change page, as this is by design.
3. You can still change the pixel by selecting from the dropdown and click save. And you can verify the update from 'Advanced options'.

[2019-12-12 16:09] Eaglebill commented on #308
I am having the same problem.
With the new update the sync is having trouble.
![save failed](https://user-images.githubusercontent.com/7140192/70727753-d7760000-1d08-11ea-886c-bcc436f3934f.jpg)
![network](https://user-images.githubusercontent.com/7140192/70728645-794a1c80-1d0a-11ea-8709-ac2cd9a1df91.jpg)

[2019-12-12 19:16] mankovds commented on #309
Откат на предыдущую версию так же не помог.
Почему может такое происходить?

[2019-12-12 19:28] mankovds commented on #309
Here are the modifier logs. maybe they will tell you where to dig.

MOD: Facebook Business Extension
CODE: public function index(
LINE: 22

FILE: admin/controller/common/dashboard.php
CODE: public function index(
LINE: 52
CODE: public function index(
LINE: 31
CODE: public function index(
LINE: 33
CODE: </head>
LINE: 443
CODE: </header>
LINE: 549
CODE: {{ footer }}
LINE: 750

FILE: admin/view/templ

[2019-12-13 07:14] dtying commented on #308
Hi @Eaglebill , your issue was due to the same problem with @creativegg
Can you follow the instructions in this [comment](https://github.com/facebookincubator/Facebook-For-OpenCart/issues/308#issuecomment-564849885)  and let me know if it can work?

[2019-12-13 11:03] Aukvito opened #311 "Chat doesn`t appear"
Hi there :)

I really love your module. Specially for it`s products export to fb page.

But I have custom theme installed on the opencart and I think that`s why FB chat doesn`t appear on my web-site - vsvua(dоt)com.
So, what do I have:
1. OC store 2.3.0.2.3 (Opencart modyfied for russian-speaking countries).
2. BurnЕnginе with custome template (trеndо).
3. There is no theme`s cache manager.
4. FB

[2019-12-13 17:14] Eaglebill commented on #308
Hello again @dtying , your solution seems to have solved partially the issue.
The products synced successfully to the Facebook store, but i can't seem to be able to tag them in my posts. I am not sure if this is another problem, but i think it's associated with  Facebook ads extensions since I was able to tag them properly before. I have already submitted a ticket for the particular issue with Fac

[2019-12-13 19:31] mankovds commented on #309
Hello. Yesterday again I tried to update, remove the module. It didn’t work. Today I got to the site and decided to go in and see what’s wrong with the module, and it miraculously earned. Not a single mistake. How is this possible? Perhaps this was a problem on the Facebook side?

[2019-12-14 05:55] virgiltu opened #312 "Images do not show on products"
Anybody has any idea why the pictures do not show on all products?

https://business.facebook.com/pg/istyle.furniture/shop/?ref=page_internal

[2019-12-14 10:34] mankovds commented on #309
Hello again. The module works every other time. Last night I earned, this morning the same mistake! Where to go out? It doesn’t matter that one day the goods are synchronized, the second is not.

[2019-12-14 23:28] itshaman commented on #308
site https://vikart-molbert.ru

Reinstall is very hard
more than 5000 items, pixel with statistc data...

Can I fix settings any different way?
Change it in MYSQL ? or in module files?

[2019-12-15 07:13] creativegg commented on #308
Hi, we removed the catalog and installed it again and it seems to work
fine. Thank you!

Do you know how we can change the schedule, so it update every 6 hours?

On Sun, 15 Dec 2019, 01:28 Ice, <notifications@github.com> wrote:

[2019-12-16 02:16] dtying commented on #308
Hi @itshaman , as the Catalog Migration failure is caused by data issue, there's no simple way to fix it from code base change only.
After reinstall, the catalog feed only extracts active products from your site and sync on a daily basis.

[2019-12-16 02:18] dtying commented on #308
Hi @creativegg, FBE currently doesn't support customize the schedule. It defaults on daily schedule.

[2019-12-16 04:10] shue249 commented on #307
@nlwebdev Ashvin, we looked at your version front.php and found that this is the same as our front.php after installing the plugin. Based on the current data we have, we are unable to further determine what could be the root cause.

Do you have development resources that can continue to investigate the problem? Some suggestions we have:
1. Do you change the admin folder name?

2. The error you sho

[2019-12-16 04:11] shue249 commented on #180
@wegee-us Will be closing out this ticket, feel free to reach to us if you have any further questions.

[2019-12-16 04:11] #180 closed

[2019-12-16 04:13] shue249 commented on #302
@arsh7023 A quick check on your website shows that the pixel setup is ok.

[2019-12-16 04:16] shue249 commented on #298
@itshaman Are you still facing the same pixel not correctly setup warning message with version 2.2.1?

[2019-12-16 04:32] shue249 commented on #311
@Aukvito Thanks for your support!

1. The Facebook customer chat plugin is not showing because we require your webstore URL to be HTTPS and have a domain name. We found that your website is not HTTPS and hence it is not loading. You can read more on the requirements here - https://developers.facebook.com/docs/messenger-platform/discovery/customer-chat-plugin/#steps

2. A quick test on your website

[2019-12-16 04:48] shue249 commented on #309
@mankovds , @webdreamsbg

Can you share with us your website url? Our pixel diagnostics mechanism is rather simple and we have challenges with users who have installed web optimsers which break the diagnostics, even though the pixel may be correctly firing.

[2019-12-16 04:49] shue249 commented on #309
@ozfarmer Can you open up javascript console and share with us screenshot of any errors showing up on the console.

Also, can you do a force refresh of your browser and disable any caching.

[2019-12-16 05:12] shue249 commented on #312
@virgiltu This could be a case of caching. We are checking on this and will get back to you soonest.

[2019-12-16 05:13] shue249 commented on #294
@whitesnow91 We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-12-16 05:13] #294 closed

[2019-12-16 05:14] shue249 commented on #288
@flaviotomazella Any updates from your side?

[2019-12-16 05:15] shue249 commented on #7
@theglobalartisans We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2019-12-16 05:15] #7 closed

[2019-12-16 07:27] webdreamsbg commented on #309
Sure, this is the website: https://www.ribarcheto.bg

[2019-12-16 07:34] doandbe opened #313 "facebook business extension"
Good morning
can not upload and install new version it says the the files are not compatible or not valid see the picture
![facebook business manager fail instalation](https://user-images.githubusercontent.com/58469642/70887845-8fe0c400-1fe7-11ea-8dba-c4e1dc293db8.PNG)

[2019-12-16 07:46] doandbe commented on #313
also there is another issue messenger plug in should be appearing in all pages you should get a choice for the user or even the administrator to swicth it off in some pages and maybe disable greeting , lot of my customers are complaining  because most of them use mobile devices and this makes it very difficult to navigate and have all the time messenger along with greeting maybe you should put it

[2019-12-16 13:42] tomeda opened #314 "How to disable greeting message on messenger?"
Hi,

I've disabled in my page settings the automatic open and greeting for chat plugin https://drive.google.com/file/d/1c5VvQ6zpcfDrpg5GNP8CALS61d7aMKeb/view?usp=sharing . However it doesn't work the auto open and greeting is still active on my website.

How can I fix that?

[2019-12-16 14:09] haradhansharma commented on #71
waiting for the multi site feature

[2019-12-16 21:02] mankovds commented on #309
https://kidds.shop

[2019-12-19 01:35] shue249 commented on #313
@doandbe Thank you for the feedback.

1. For the problem on file not compatible or invalid, you may have zipped up the plugin files in an incorrect way (if you are unable to download the zip file directly). You can check this FAQ (point 3) and screenshot on how to zip up the plugin files in a correct way.
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#plugin-installa

[2019-12-19 01:36] shue249 commented on #314
@tomeda

Apologies for the delay in response. Can you share with us your website URL.

[2019-12-19 01:38] shue249 commented on #71
@haradhansharma Thank you for your response. We are still planning the roadmap for this feature and will update on this thread soonest.

[2019-12-19 01:45] shue249 commented on #309
@webdreamsbg We are getting a 403 on your website. Are there any IP restrictions for your website?

![image](https://user-images.githubusercontent.com/11957585/71137780-375a3280-2244-11ea-9fec-200cbe960cb2.png)

[2019-12-19 01:51] shue249 commented on #309
@mankovds We checked on your website and the pixel installation is correct, so the warning on your OpenCart admin Facebook business extension module is a false positive. Will you be able to do a force refresh of your browser to see if the warning message goes away.

If the warning message persists, can you look at the file config.php on your OpenCart webserver, find the line which has HTTPS_CATALO

[2019-12-19 04:02] tomeda commented on #314
Hi

It's https://protein4e.com but the messenger is currently being disabled.

Do I need to enanle it?

На чт, 19.12.2019 г., 3:36 ч. shue249 <notifications@github.com> написа:

[2019-12-19 06:53] arsh7023 commented on #302
There is a fatal error when a user uses paypal to complete shopping (paying by cart). I think it is related to your plugin. can you please have a look at this asap. thanks,
![Fatal Error-inspect](https://user-images.githubusercontent.com/1134716/71151657-64303900-2288-11ea-89d4-6295b4c7dfa0.png)
![Fatal Error](https://user-images.githubusercontent.com/1134716/71151666-67c3c000-2288-11ea-86bc-00cac

[2019-12-19 08:04] shue249 commented on #302
@arsh7023

There could be some old files which are not updated correctly, can you run through these steps:
1. Delete away the plugin from your OpenCart and click on refresh modifications (https://drive.google.com/open?id=1qy-ipwK1HCk8oSnUmGuy6MCJxQdUyGfw)
2. Ensure that your admin, catalog and system folders are given read+write permissions
3. Install back the plugin
4. Click on refresh modificati

[2019-12-19 08:05] shue249 commented on #314
@tomeda Can you enable back the chat for us to take a look.

[2019-12-19 09:15] tomeda commented on #314
Ok, I've enabled it again!

На чт, 19.12.2019 г. в 10:05 shue249 <notifications@github.com> написа:

--
Поздрави,
------------------------
Хусеин Юсеинов
office@tomeda.bg

[2019-12-19 14:22] mankovds commented on #309
In which config to look for HTTPS_DIRECTORY did not quite understand? In the opencart config or in the hosting configuration?

[2019-12-20 16:57] shue249 commented on #314
Let us check with our team on this. What is your Facebook page?

[2019-12-20 16:57] shue249 commented on #314
Can you also leave the Messenger chat plugin enabled for now.

[2019-12-20 17:07] tomeda commented on #314
https://facebook.com/Protein4e.com.Online.Supplements.Shop/

На пт, 20.12.2019 г., 18:57 ч. shue249 <notifications@github.com> написа:

[2019-12-20 17:11] shue249 commented on #309
@mankovds Apologies for not being clear. Here is the steps.

![image](https://user-images.githubusercontent.com/11957585/71273200-c5423480-238e-11ea-88f4-71e479ac47fd.png)

[2019-12-20 19:30] mankovds commented on #309
define('HTTPS_CATALOG', 'https://kidds.shop/');

[2019-12-21 13:36] Aelfriclake opened #315 "Pixel does not work in website"
I did everything updated to latest version too still geting the same error:

 We have detected the Facebook pixel is not correctly setup in your web store site. You can try these below steps to fix the problem.
1. Ensure that you have given read+write permissions to the admin, catalog and system folders on your OpenCart webserver
2. Ensure that you have Refresh the modifications, View steps
3. For

[2019-12-22 12:08] Aelfriclake commented on #315
Pixel didn't work so i had to add it maunally to my header.tpl file. Now it works but the backend still doesn't detect it. Would it work okay?

[2019-12-23 18:48] Aukvito commented on #311
@shue249 Thanx for your answer!

I configured https properly on my website, cleaned cache and reconfigured fb chat but it still doesn`t appear. Any more suggestions?

Here are actual logs
[VSV_2019-12-23_20-46-29_facebook_ads_extension.log](https://github.com/facebookincubator/Facebook-For-OpenCart/files/3995914/VSV_2019-12-23_20-46-29_facebook_ads_extension.log)

[2019-12-27 21:03] tomeda opened #316 "Add Products With Facebook Pixel Problem"
I'm trying to create catalog using facebook pixel but I get missing id error, do you have any idea how would I fix that? I see that some plugins use 'content_ids as product ID.
![_22  Products](https://user-images.githubusercontent.com/10818796/71532666-1b6a2700-28fd-11ea-8912-cba2c4d8742d.png)
![Catalog Microdata Debug Tool](https://user-images.githubusercontent.com/10818796/71532667-1c02bd80-28f

[2019-12-29 18:16] marcelhai opened #317 "Facebook Business Extension forever syncing"
Hello!

I installed the extension, but unfortunately I am unable to use it because it loads forever.
I attached a screenshot for better understanding.

<img width="900" alt="Screenshot 2019-12-29 21 14 57" src="https://user-images.githubusercontent.com/59341790/71560887-6ceeef00-2a80-11ea-85f7-30c0d517f537.png">

[2020-01-02 00:29] shue249 commented on #314
@tomeda Apologies for this late reply. Is the Messenger chat disabled on your website? Can you enable it again for us?

[2020-01-02 01:37] shue249 commented on #309
@mankovds Apologies for the late reply. Like to check if you have uninstalled our plugin from your website?

[2020-01-02 01:40] shue249 commented on #309
@webdreamsbg We checked on your website. The pixel installation is correct. Are you still getting the warning message about incorrect pixel installation on the Facebook Business Extension module? If so, you can ignore the warning message as false positive detection.

[2020-01-02 01:44] shue249 commented on #315
@Aelfriclake  Apologies for the late reply. You are correct that the pixel installation from our plugin is incomplete, we couldnt find the pixel firing from our plugin on your website.

Although you have added in the pixel base code, but there wasnt additional events fired from the various pages, eg ViewContent from the product details page, AddToCart when clicking on the Cart button etc.

We can

[2020-01-02 01:47] shue249 commented on #311
@Aukvito Apologies for the late reply.

One more suggestion, can you try to disable your web optimizer to see if it helps to solve the problem where the fb chat is not appearing? If you view source of your website, we want to verify that the codes for the fb chat is properly inserted into the website and then to check if it helps to force the fb chat to appear.

[2020-01-02 01:50] shue249 commented on #316
@tomeda Is this for the same website (https://protein4e.com) or a different website? if this is for the same website, then our plugin has already created a catalog for you. You can find the catalog by clicking on the "Manage Setting" button, "Your products" and then "See your products on Facebook".

[2020-01-02 01:53] shue249 commented on #317
@marcelhai Thank you for the feedback.

1. Can you screenshot for us the javascript console of the module page. We suspect there is some errors on the page.

2. We experienced a similar case where the plugin files are not copied over correctly to the Opencart webserver. Can you verify that the admin, catalog and system folders are given read+write permissions, then remove away the plugin and re-in

[2020-01-02 01:53] shue249 commented on #288
@flaviotomazella We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-01-02 01:53] #288 closed

[2020-01-02 01:55] shue249 commented on #298
@itshaman We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-01-02 01:55] #298 closed

[2020-01-02 01:56] shue249 commented on #300
@Netsaypro Like to follow up with you on this. Any suggestions/updates from your IT team on the image information stored on the database?

[2020-01-02 01:57] shue249 commented on #301
@agendagroup We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-01-02 01:57] #301 closed

[2020-01-02 02:00] shue249 commented on #307
@nlwebdev Wondering if you have any further updates to this issue.

[2020-01-02 06:14] shue249 commented on #312
@virgiltu Apologies for the late reply. We did a quick check and the images are now showing on the page shop products. Let us know if you have any further questions.

[2020-01-02 07:47] tomeda commented on #314
I can't keep it all day active as it confuses people popping every time. Can you tell me exact hours you need it to be enabled so you can look at it?

[2020-01-02 07:49] tomeda commented on #316
I have a catalog created but I thought this would be an easy fix so we can use both way.

[2020-01-02 22:15] itshaman commented on #308
After remove settings and install it againg
i have some trouble in my catalog
Link to my product, image and check outpage generate at HTTP protocol
at site installed & configured https all other extensions use it
How fix it?

[2020-01-02 23:44] shue249 commented on #316
@tomeda

1. To generate the pixel from catalog, you will need to ensure that the microdata with the product details (eg id) is included in the website. The pixel will then pick up these microdata and use them for the catalog generation. This does not include the "content_id" from the pixel parameters. You can refer to this document for more details on the microdata - https://developers.facebook.co

[2020-01-03 08:42] creativegg opened #318 "Add google event snippet to checkout success in opencart"
Hi,

I need to add google event code to me checkout success page code, but I don`t know where to find it.
Can you help me?

[2020-01-03 09:49] Aelfriclake commented on #315
We should try to troubleshoot it i think because i won't be able to use the messenger app too with this. I tried to allow folder permissions etc. checked everything but i just can't find why it doesn't work? How can we proceed about this?

[2020-01-04 11:33] monefff opened #319 "Problem with checkout - HTTP Error 500"
Hello,

When I updated the module to the latest version, and when I try to make a purchase It gives me the following error:

This page isn’t workingMYDOMAIN.com is currently unable to handle this request.

I believe the error is because the module is adding "working" before the domain name, and it causes not to find the page.

I rolled back to the previous version, and it's working perfect.

Anyon

[2020-01-05 09:54] ramirami593 opened #320 "sync error (not big catalog ) only 4K"
Hello
i have searched here and couldn't find any solution

![image](https://user-images.githubusercontent.com/59527664/71778102-eec7a680-2fb1-11ea-9489-20fed20f3e76.png)

![image](https://user-images.githubusercontent.com/59527664/71778105-f5561e00-2fb1-11ea-9128-6ff73d9088a0.png)

opencart version 3.0.2.0

please advise what to do

[2020-01-06 00:16] shue249 commented on #308
@itshaman Can you help us to better understand your problem.

1. What is your catalog? Will you be able to share with us the catalog id or the link or your website URL

2. What is the problem you are seeing with the new catalog? Can you share with us an example of the problem through a specific product?

[2020-01-06 03:20] shue249 commented on #318
@creativegg

Without more information on your google event code, we are unable to help you specifically on this.

However, we can share the logic on how our pixel code works on the checkout success page. Hopefully this will provide you with some insights on how you can solve your problem. We will share the logic in bullet point steps. One key principle for you to be aware of is that we use a centr

[2020-01-06 03:20] #318 closed

[2020-01-06 03:26] shue249 commented on #319
@monefff Can you check the following:

1. Ensure that you have given read+write permissions to the admin, catalog and system folders.

2. Delete away the plugin from the modifications page. Then reinstall back the plugin.

3. Ensure that you have clicked on the Refresh modifications button

In our latest version, we moved the catalog sync from API to feed approach. As part of this change, we also

[2020-01-06 03:27] shue249 commented on #320
@ramirami593

We have a newer version of the plugin. Can you delete away the current version (which is an older version), install the newer version and click on Refresh modifications.

https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

You will be asked to upgrade your catalog which you can follow these steps - https://drive.google.com/open?id=1dAF88Spg-iAwPXmkwcVvAqg8

[2020-01-06 07:12] ramirami593 commented on #320
i did what you ask me and have this problem now
![image](https://user-images.githubusercontent.com/59527664/71801780-9a313380-3064-11ea-9632-39e088426299.png)

[2020-01-06 07:13] ramirami593 commented on #320
i press the try again offcourse couple of time and Refresh modifications and all

[2020-01-06 07:16] shue249 commented on #320
@ramirami593 Can you share with us your website URL.

[2020-01-06 07:40] ramirami593 commented on #320
https://www.ikiaz.com/

[2020-01-06 09:00] shue249 commented on #320
@ramirami593 Like to check with you. Have you been using this plugin since Jan 2019 (last year)?

[2020-01-06 09:14] ramirami593 commented on #320
i don't remember exactly but yes we have been using it more than a year i think
the older version off course.

[2020-01-07 09:51] dtying commented on #320
Hi @ramirami593, the 'Catalog Sync Failed' error is due to data discrepancy in our backend. Can you follow the steps here (https://github.com/facebookincubator/Facebook-For-OpenCart/issues/308#issuecomment-564849885) and try again?

[2020-01-08 12:04] willianschiavao opened #321 "displayed value"
Is there a possibility to choose the value to be displayed? I have 3 types of customer registered on the site.

![opencart-facebook](https://user-images.githubusercontent.com/59648985/71976695-b31d1e80-31f5-11ea-84de-cec01b962af4.PNG)

[2020-01-09 00:35] shue249 commented on #321
@willianschiavao Thank you for the feedback.

We do not have any plans to support for prices based on customer groups. On Facebook, we have 2 prices - the normal price and sales price.

However, if you have engineering resources, we can provide the code pointers on where you can extract out the relevant prices to be used to display on Facebook.
1. This is the controller where the plugin extracts o

[2020-01-09 09:56] webdreamsbg commented on #309
Everything is ok now. Thanks!

[2020-01-10 00:00] shue249 commented on #309
@mankovds We will be closing out this ticket, but pls feel free to reach to us if you have further questions!

[2020-01-10 00:00] #309 closed

[2020-01-10 00:26] shue249 commented on #315
@Aelfriclake Apologies for the delay.

Here are my suggestions on how we can do the troubleshooting.

1. Verify if the modifications are applied correctly from the log file. Pls share the log contents.
![image](https://user-images.githubusercontent.com/11957585/72115407-decd0f80-3381-11ea-8bd0-59fceff1f6d1.png)

2. Locate the files header.tpl (OpenCart 2.x) or header.twig (OpenCart 3.x) in the sys

[2020-01-18 10:00] ramirami593 commented on #320
Working now thank you

[2020-01-18 10:00] #320 closed

[2020-01-18 18:04] stonecoldwpass opened #322 "install issue"
The page you are looking for could not be found! Please contact your administrator if the problem persists. after install

[2020-01-19 23:43] shue249 commented on #322
@stonecoldwpass

1. What is the Facebook page that you used for the original setup? We have seen similar reports from other users when they deleted away the Facebook page used in the setup.

2. What is your webstore URL?

[2020-01-20 00:08] shue249 commented on #300
@Netsaypro We will be closing out this ticket for now, feel free to reach to us if you have further questions.

[2020-01-20 00:08] #300 closed

[2020-01-20 00:12] shue249 commented on #307
@nlwebdev We will be closing out this ticket for now. But, pls feel free to reach to us if you have any further questions or updates.

[2020-01-20 00:12] #307 closed

[2020-01-20 03:26] stonecoldwpass commented on #322
https://www.choicecomputertechnologies.com/

https://www.facebook.com/choicecomputertechnologies/

Thank You

Jamie Mclean

Owner Technician

Choice Computer Technologies - Canadian Computer Store
Computer Sales and Repairs

p:

587 333 2019  m: 587 581 8281

a:

808 1101 84 street North East, Calgary, Alberta T2A 7X2

w:

 <https://www.choicecomputertechnologies.com/> www.choicecomputertechnologi

[2020-01-20 14:24] filipburman opened #323 "Total order value vs Content value"
Hi,

We used to have the pixel manually installed on the site. We moved over to your module now but I have 1 problem. Before I used the track the value of the order, not it tracks the content instead.
So if I have a product that cost €100 and someone uses a discount code with 50%. Then it still tracks the value of €100. So the ROAS on my ads is misleading.

How can I track the value of the order i

[2020-01-21 19:43] kanjuo opened #324 "We have detected the Facebook pixel, Messenger customer chat is not correctly setup in your web store site. You can try these below steps to fix the problem."
Hi

I have gone through all the recommended steps and continue to experience the same issue.

![Screen Shot 2020-01-21 at 9 43 04 PM](https://user-images.githubusercontent.com/17259480/72837374-0c298f80-3c97-11ea-8ee3-a52614414047.png)

[2020-01-21 22:46] kanjuo commented on #298
I am having similar issue - how can i send you my store URL

[2020-01-21 23:46] shue249 commented on #324
@kanjuo Can you share with us your webstore URL here?

[2020-01-21 23:47] shue249 commented on #298
@kanjuo We see that you have created a new ticket https://github.com/facebookincubator/Facebook-For-OpenCart/issues/324, let us follow up on that ticket.

[2020-01-21 23:49] shue249 commented on #323
@filipburman Thank you for your feedback.

This request is currently not on our roadmap. However, if you have engineering resources, we can point to you the code pointers to make the changes to the plugin code so that you can pass in the final order value. Let us know your thoughts.

[2020-01-22 10:07] filipburman commented on #323
Dear,

That would be great! Thank you so much. Then I can give it to my developer.

May I know why this is not in your "roadmap". Because I feel that this is something that every webshop owner is interested in. Everyone wants to see a clear ROAS on their ads. And this is creating a very misleading view.

REgards, Filip

[2020-01-22 14:23] shue249 commented on #322
@stonecoldwpass There could be some issues with the Facebook business extension settings. Have you run any ads using the catalog created from our plugin?

[2020-01-22 14:32] shue249 commented on #323
@filipburman Thank you for the feedback.

The starting code pointer will be here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/upload/catalog/controller/extension/facebookeventparameters.php#L129. The code will pull out the purchased products, sum up the product values and return back the product ids and the summed value. Your developer will need to change the codes here

[2020-01-31 14:23] svremeto commented on #324
Hello @shue249 I have the same problem with my new store (I made a full copy of my last store to keep  all the settings that i`ve made). I deleted the facebook extension and installed the last version (221). So now I dont see the chat and also the extension for Chrome - Facebook Helper doesn`t find any pixel on the website.

[2020-02-01 16:04] reorado opened #325 "Unable to Scroll page when extension is enabled"
Dear support,

I experienced this problem for a while and just realize that the extension might have caused the problem and happens only on iphone

I am using opencart 3.0.3.2 with journal 3 theme. When browsing the page, the page just couldn't be scrolled. I now disabled the extension and the page can be scrolled again.

I still have to keep monitor the page to see if it happens again. Would you

[2020-02-04 19:06] kanjuo commented on #324
I thought this module could help set up Pixel Events....also where is the Pixel code located after then module installation

[2020-02-05 09:08] exitsport opened #326 "Login in Messenger"
Hi

We used Messenger in web. One issue: if customer want to chat whit us, you need to sign in to messenger. But that not work

https://gyazo.com/52cd2efe57536abe9e885b3cc905d15c

[2020-02-07 05:18] beachgeek commented on #308
shue249. having the same issues. catalog cannot sync for errors which it does not specify.
Plus I noticed that at the top is says Facebook extension for Magento NOT Opencart? I downloaded and installed the opencart here?

![image](https://user-images.githubusercontent.com/44654428/74003081-fa064d00-4936-11ea-8342-e1d904d4ea7a.png)

[2020-02-07 05:21] beachgeek commented on #308
when you click on Help Center on the top right it takes you to this page for a Magento install.

![image](https://user-images.githubusercontent.com/44654428/74003180-579a9980-4937-11ea-8b81-f5c068f8feb3.png)

[2020-02-07 16:21] hongyiu commented on #317
i have the same problem after i upgrade the extension to 2.2.1

[2020-02-10 01:47] shue249 commented on #319
@monefff We will be closing off this ticket. Feel free to reach to us again if you have any further questions.

[2020-02-10 01:47] #319 closed

[2020-02-10 01:48] shue249 commented on #326
@exitsport Thank you for the feedback! We have shared this feedback with our Messenger teams.

[2020-02-10 01:57] shue249 commented on #325
@reorado We like to learn more on this.

1. When you mention that the page cannot be scrolled, do you mean your webstore page?

2. What is your webstore URL?

[2020-02-10 23:09] shue249 commented on #324
@svremeto Can you share with us your web store URL, so that we can help to look into this

[2020-02-10 23:10] shue249 commented on #324
@kanjuo Can you share with us your web store URL, so that we can help look into this

[2020-02-10 23:11] shue249 commented on #324
To provide more context, we have implemented some simple detection mechanisms to check if the pixel and messenger chat are setup properly. However, some of the websites may have installed optimization which causes false positives in the detection mechanisms.

[2020-02-10 23:14] shue249 commented on #322
@stonecoldwpass Circling back to your problem. Are you still facing the problem?

[2020-02-10 23:42] shue249 commented on #321
@willianschiavao We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-02-10 23:42] #321 closed

[2020-02-11 00:41] shue249 commented on #317
@hongyiu Thank you for the feedback.

1. Can you screenshot for us the javascript console of the module page. We suspect there is some errors on the page.

2. We experienced a similar case where the plugin files are not copied over correctly to the Opencart webserver. Can you verify that the admin, catalog and system folders are given read+write permissions, then remove away the plugin and re-inst

[2020-02-11 10:35] svremeto commented on #324
@shue249  https://nsvendor.com/

[2020-02-13 04:14] aminruddin27 opened #327 "Turn off automatically product sync"

[2020-02-13 05:37] shue249 commented on #316
@tomeda We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-02-13 05:37] #316 closed

[2020-02-13 05:38] shue249 commented on #312
@virgiltu We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-02-13 05:38] #312 closed

[2020-02-13 05:38] shue249 commented on #310
@exitsport  We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-02-13 05:38] #310 closed

[2020-02-13 05:39] shue249 commented on #306
@exitsport  We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-02-13 05:39] #306 closed

[2020-02-13 05:39] shue249 commented on #302
We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-02-13 05:39] #302 closed

[2020-02-13 05:41] shue249 commented on #315
@Aelfriclake Wondering if we have any updates to the issues you are facing with the plugin?

[2020-02-13 05:43] shue249 commented on #327
@aminruddin27 Can we understand the reasons for you wanting to turn off the automatic product sync? The automatic sync is to ensure that your website products are up to date on Facebook catalog.

[2020-02-13 07:55] exitsport commented on #326
exitsport.eu
All browser: Chrome, Edge

[2020-02-13 13:45] aminruddin27 commented on #327
@shue249 I do integration with ERP system that sync the product from ERP to Opencart very frequent and I have 5k item in the list to sync.

[2020-02-15 12:30] docidoci68 opened #328 "replaces the journal theme"
Hello I am trying to install Facebook add add extension  facebook_ads_extension.ocmod and before instsling it have to istall the ftp fix localcopy.ocmod. When I install it it does not work wit the theme. The istalation is not in  public_html directory. Is there a way to install the files manually of Facebook extention with file Zila. I have tried but I don see the extention

[2020-02-18 00:45] shue249 commented on #327
@aminruddin27 Thank you for the feedback.

Currently the automatic sync from your OpenCart to Facebook is performed once daily.

If you really wish to turn off the automatic sync, you can follow the steps in the below image to do that. However, you will need to manually trigger the sync from Facebook to OpenCart to keep the products on Facebook up to date. You can use the URL indicated on the sche

[2020-02-18 00:45] #327 closed

[2020-02-18 01:14] shue249 commented on #328
@docidoci68 Thank you for the feedback. We have several questions.

1. Have you followed the installation guide here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#plugin-installation

2. Have you rename the "admin" folder to a different name in your OpenCart folder?

We have users who have successfully used our plugin with the Journal theme, so we are su

[2020-02-18 01:17] shue249 commented on #324
@svremeto We checked on your website and the pixel setup is correct. Are you still facing the warning message on your OpenCart admin panel?

[2020-02-18 01:17] shue249 commented on #324
@docidoci68 Can you share with us your webstore URL?

[2020-02-18 09:37] svremeto commented on #324
@shue249 Yes, Still the same. The messenger I used was a script that I placed in the website. Not the script that the extension place on the website. The red message in the admin pan still the same.

[2020-02-18 10:40] docidoci68 commented on #324
Hello I have two installations of Opencart

One actually working , with Fastor Theme, -https://shop.agrodrip-zahara.com/

and another, that I use to prepare the Journal theme  -
https://jurnal.shop.agrodrip-zahara.com/

I have managed to install an older version of the plugin 2.1.3

I am able to install version 2.2.10  also but it gives the errors

IF you want I can also send you the admin user an

[2020-02-18 10:40] docidoci68 commented on #328
@docidoci68 <https://github.com/docidoci68> Thank you for the feedback. We
have several questions.

   1.

   Have you followed the installation guide here -
   https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#plugin-installation

Yes I have,

   1.

   Have you rename the "admin" folder to a different name in your OpenCart
   folder?

I have one admin folder

[2020-02-26 09:52] doandbe opened #329 "can not switch off messenger pixel problem"
i am not able to switch off the messenger on Facebook business extension i tried uninstall and install and it doesn't do anything
because it is an eshop a have problem with customers because there is another issue: from mobile devices when you press x to close messenger (by the way the x is too small) it keeps appearing in every page you go again and again and customers get tired
Also i have a pro

[2020-02-27 10:41] nymphaclothing commented on #206
Hello,

@shue249
I am getting back to you as the problem is now back again. Can you help me again with this and notify the internal team as you helped me before?

[2020-02-27 10:53] nymphaclothing opened #330 "Website blocked again because Community Standards"
Today we got blocked again, below you can see our last problem that was fixed by a review from internal team. It seems that after almost one year we got this again...Can anybody help? @shue249
<img width="1057" alt="Screenshot 2020-02-27 at 12 32 58" src="https://user-images.githubusercontent.com/52521975/75438138-2161a000-5960-11ea-8b84-d321bfad656a.png">

Everything went fine for our nymphacloth

[2020-02-28 01:01] shue249 commented on #330
Sorry to hear that, and thank you for the feedback. We are working on this now!

[2020-02-28 02:23] shue249 commented on #330
@nymphaclothing We went to your FB page & IG page, and this has been resolved. Are you still experiencing the problem on your side?

![image](https://user-images.githubusercontent.com/11957585/75504695-27b15400-5a14-11ea-80eb-8ee58399571e.png)

![image](https://user-images.githubusercontent.com/11957585/75504752-4ca5c700-5a14-11ea-8d7b-619096d3b9ed.png)

[2020-02-28 06:26] nymphaclothing commented on #330
Hello,

No, not anymore, the problem has been solved.

Thank you very much again for the help. We are trying to figure out what is the problem that occasionally put us in this situation.

[2020-03-02 03:00] shue249 commented on #330
@nymphaclothing Let us continue to monitor the situation. Will close out this ticket.

[2020-03-02 03:00] #330 closed

[2020-03-02 03:03] shue249 commented on #329
@doandbe

1. For disabling the Messenger chat plugin, can you follow these steps - https://drive.google.com/open?id=1J_kOcyIWBZeO3YJZMJFMQlWui5eSn3Kq

2. Thank you for the feedback for the mobile experience. We have shared this with our teams!

3. For the pixel problem, can you describe more on the problem to help us understand better. If there are any screenshots, it will help us greatly if you c

[2020-03-02 03:06] shue249 commented on #328
@docidoci68 Want to check if you are still encountering any issues with the installation?

[2020-03-02 03:28] shue249 commented on #324
@svremeto You can ignore the warning messages on the OpenCart admin panel, as we verified that the pixel is working correctly. This is a false detection.

[2020-03-02 07:48] docidoci68 commented on #328
Hello

The only version that is working ok for me is  2.13  it is installed on one
of my domains and everything is ok :  https://shop.agrodrip-zahara.com/

I have installed 2.19 version on another domain manually. It was all ok -I
mean the extension did what it has to be done, made the connection with the
page   but I did not find the pixel on the page so I removed it

About the latest version, I

[2020-03-04 21:02] TomasQ789 commented on #317
i have the same problem after i upgrade the extension to 2.2.1
1. Having tasted a copy file, it’s always in dia.js.
2. Files having also tried uploading via FTP.
3. The right of access to the tags in the OPENCART panel
![Снимок экрана (127)](https://user-images.githubusercontent.com/61805208/75922685-2b0d6b00-5e6c-11ea-804a-9757beec29a0.png)
![Снимок экрана (128)](https://user-images.githubusercon

[2020-03-05 03:47] shue249 commented on #317
@TomasQ789 Can you do a force refresh and clear cache on your browser. This is because the front end of your admin page is still using the older version of the js file.

[2020-03-05 18:52] TomasQ789 commented on #317
thnx it help

[2020-03-05 23:57] #317 closed

[2020-03-06 01:05] shue249 commented on #328
@docidoci68 Ideally we will like for you to be using the latest version (v2.2.1), as there are some improvements to the catalog sync mechanism. To help us further troubleshoot this, can we ask for you on this.

1. Can you Clear away the modifications log.
![image](https://user-images.githubusercontent.com/11957585/76040077-4e7a0800-5f89-11ea-96f1-8c43ca9cdd8c.png)

2. Remove the current version an

[2020-03-06 02:59] docidoci68 commented on #328
Hello, I did what you have written. By chance, I managed to install version
2.2.0 first, then removed it and installed 2.2.1 and everything in the
admin panel  seems ok, but the pixel is not recognized from Facebook pixel
helper. I checked the source page and it is found on the source but the
helper can not find it . I have attached a video link to see the process:

https://my.pcloud.com/publink/s

[2020-03-07 14:11] svremeto commented on #324
@shue249 Okay, thanks. But the pixel helper also doesn't finds any existing pixel on the website.

[2020-03-11 02:33] shue249 commented on #326
@exitsport Apologies for the delay.

When we tested on your website earlier about the experience, we could not replicate the behaviour in your video. We were able to see and interact on the Messenger chat without that infinite loop on Sign in/Log in.

Want to check if you have installed any ad blocker on the machine which gave the behaviour.

[2020-03-11 02:37] shue249 commented on #324
@svremeto Want to check if you have installed any ad blocker or disabled the cookie on the machine where pixel helper was not able to detect any pixel.

We verified on our side and the pixel is shown up correctly.
![image](https://user-images.githubusercontent.com/11957585/76376795-30931580-6384-11ea-9665-6f3c66c54d8d.png)

[2020-03-11 02:41] shue249 commented on #308
@beachgeek Apologies for missing out this issue. Want to check if you are still facing sync issues?

[2020-03-11 03:54] shue249 commented on #322
Closing this issue. Pls feel free to reach to us if you have further questions.

[2020-03-11 03:54] #322 closed

[2020-03-11 04:04] shue249 commented on #313
We will be closing this ticket. Feel free to reach to us if you have further questions.

[2020-03-11 04:04] #313 closed

[2020-03-15 07:17] shue249 commented on #308
Closing this ticket. Feel free to reach to us if you have further questions.

[2020-03-15 07:17] #308 closed

[2020-03-15 08:08] shue249 commented on #324
We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-03-15 08:08] #324 closed

[2020-03-16 00:36] shue249 commented on #311
@Aukvito We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-03-16 00:36] #311 closed

[2020-03-18 17:41] pipperis opened #331 "Disable greeting opening by default"
Hi,

I am using the version 2.2.1 of the module and my website is [here](https://www.beautyangel.gr/).

I have a question. Is there a way so that the greeting message of Messenger will not open by default?
![Annotation 2020-03-18 193711](https://user-images.githubusercontent.com/58871352/76990243-52763480-6950-11ea-9ef6-13aa4259afb6.jpg)

Thanks

[2020-03-20 07:07] tappa31 opened #332 "Cookie bar disable option missing"
Hi I installed the Facebook Business extension and tried all the ways suggested, but still the option to disable the extension does not appear. Is there any other way to disable the cookie bar?

[2020-03-20 22:00] nonanik123 opened #333 "Install problem"
The extension does not go past the opening page. It keeps loading for ever and I cannot access the setting pages.

[2020-03-23 02:10] shue249 commented on #333
@nonanik123 Is this a fresh installation of our plugin or did you upgrade the plugin from an older version to a newer version?

If you did the upgrade, there is a chance that the old JS files are still cached on your browser. Can you do a Empty cache and hard reload on your browser and see if you can load the page successfully.

If the above method does not work or if this is a fresh installation,

[2020-03-23 02:22] shue249 commented on #332
@tappa31 Thank you for the feedback. Can you do a Empty cache and hard reload on your browser to see if the cookie bar option is displaying.

If the above method does not work, can you toggle the Developer console and then share a screenshot of any error messages which are showing up on the developer console.

[2020-03-24 06:55] shue249 commented on #315
We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-03-24 06:55] #315 closed

[2020-03-24 10:58] chauting opened #334 "facebook_enable_cookie_bar"
你好，我剛安裝OpenCart 3.0.3.2 但當我到訪我的剛站時，出現以下的間題:

**注意：第47行上/home/mccomhk/storage/modification/catalog/controller/common/footer.php中的未定義索引：facebook_enable_cookie_bar 注意：/ home / mccomhk / storage / modification / catalog / controller / common /中的未定義索引：facebook_enable_cookie_bar 第47行的header.php**

請問如何解決，謝謝各位幫忙

[2020-03-25 01:01] shue249 commented on #331
@pipperis Apologies for the late reply. We like to understand your expectations deeper.

Can you share more what does the greeting message will not be open by default. What does success looks like for you, how will you like it to be?

[2020-03-25 03:53] shue249 commented on #328
@docidoci68 Apologies for this late reply.

We did a check on your website (URL from your video) and found that the pixel is firing correctly. Perhaps you can check if your browser has ad blocker installed which prevents the pixel from firing.

![image](https://user-images.githubusercontent.com/11957585/77500146-234f4e00-6e8f-11ea-8ea4-4d7ad2ed0864.png)

We will be closing out this ticket. Feel fr

[2020-03-25 03:53] #328 closed

[2020-03-25 03:54] shue249 commented on #325
@reorado We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-03-25 03:54] #325 closed

[2020-03-25 03:55] shue249 commented on #326
@exitsport We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-03-25 03:55] #326 closed

[2020-03-25 03:56] shue249 commented on #329
@doandbe We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-03-25 03:56] #329 closed

[2020-03-25 04:00] shue249 commented on #334
Thank you for the feedback.

1. Are you using the latest version of our plugin, 2.2.1? https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

2. As you are on OpenCart v3.x, there is an additional install step. You can refer to here for the installation step - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#plugin-installation

3. Wh

[2020-03-25 08:50] chauting commented on #334
1. 不是
2. 當我進入後台後，出現以下情況:
![image](https://user-images.githubusercontent.com/62597431/77518098-1bf06a80-6eb8-11ea-8ae5-fc44edd054dd.png)

3.我的網站網址:  https://www.hkisayyes.com/reunion/upload/

[2020-03-25 09:16] pipperis commented on #331
Hi,
I would like the Messenger icon to appear without the greeting openning by default. See attached image. When the user clicks on the Messenger icon the greeting will open.
![Annotation 2020-03-25 111333](https://user-images.githubusercontent.com/58871352/77520428-df0d7f00-6e89-11ea-8c7f-88440667a390.png)

[2020-03-25 12:43] teddybearsurf commented on #333
I'm having the same problem. It gets stuck on the finish setup page. Just keeps loading. Can't get past it. It is a fresh install.

[2020-03-26 06:08] shue249 commented on #333
@teddybearsurf Can you share a screenshot of how it looks like.

[2020-03-26 13:31] teddybearsurf commented on #333
![Capture+_2020-03-26-09-30-03](https://user-images.githubusercontent.com/47298839/77652403-89e27380-6f44-11ea-9cd9-f5d370d1ffed.png)

[2020-03-26 13:32] teddybearsurf commented on #333
That's the page it's stuck on.

[2020-03-27 10:31] doviis opened #335 "Cannot verify the pixel"
Hello,
I am using Opencart 3.02 and Journal 3 theme.
Extension verison is 2.1.10

I install the extention, set up everything, however I cannot verify the pixel in business.facebook.com website.
So I decided to put manual code in header (basically in Google analytics module, but looks that it works.)

So, I have added this code:
`
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=funct

[2020-03-29 20:51] gip1986 opened #336 "checkout failure when have facebook extension installed"
when i have this extension installed i am getting this on checkout which is shame as i was hoping to use the extension and my products to show on facebook. if its not going to be possible i will have to remove.

Fatal error: 'Call to undefined method FacebookCommonUtils::updateProductAvailability()'
in /home/funphoto/GIP/storage/modification/catalog/controller/checkout/success.php:9
Stack trace:
#

[2020-03-30 03:56] shue249 commented on #336
@gip1986 Thank you for reaching out!

It could be a case whereby the latest files from the plugin are not properly copied over to your webserver. Can you check if you have given recursive read+write permission to the admin, catalog and system folders on your opencart webserver. Then, uninstall away the plugin and reinstall the plugin again.

[2020-03-30 03:59] shue249 commented on #335
@doviis Thank you for the feedback.

We checked on your website and the pixel installation form our plugin is correct. Can you remove away the pixel code that you have added manually and we can double check again for you.

Also, you are right that the code you added does not track no real behaviour as you are sending all events to FB. It will be important for you to remove away these code as quick

[2020-03-30 04:00] shue249 commented on #333
@teddybearsurf Thank you for the feedback. We see that you are completing the setup flow on a mobile device. At the moment, setup via mobile is not supported. Can you switch to use a desktop browser to complete the setup instead.

[2020-03-30 04:08] shue249 commented on #331
@pipperis Wondering if you have access to developer resources to make changes to the plugin? There is a setting called "greeting_dialog_display" which you can set in the code such that the Messenger chat will not open the greeting message by default.

For more details on the setting, it is available here - https://developers.facebook.com/products/messenger/tutorials/messenger-customer-chat-plugin-

[2020-03-30 04:10] shue249 commented on #334
@chauting It seems there there could be some files from the plugin which is not copied over correctly on your opencart webserver. Can you check if you have given recursive write+read access to admin, catalog and system folders on your opencart webserver. Then uninstall the plugin and reinstall the plugin again.

[2020-03-30 04:10] shue249 commented on #335
@doviis Can you also install our latest version of the plugin here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

[2020-03-30 04:15] shue249 commented on #314
@tomeda Apologies for coming back so late to you.

Do you have access to developer? There is another setting that you can use but will require you to make changes to the plugin. The setting name is "greeting_dialog_display" and you need to configure it to show on the Messenger chat plugin.

Here is the link - https://developers.facebook.com/products/messenger/tutorials/messenger-customer-chat-plug

[2020-03-30 04:40] teddybearsurf commented on #333
Yes I switched to my laptop and it worked. Thank you for your help. ☺

On Mon, Mar 30, 2020, 12:00 AM shue249 <notifications@github.com> wrote:

[2020-03-30 04:52] shue249 commented on #333
@teddybearsurf Glad that it works for you.

[2020-03-30 04:53] shue249 commented on #333
@nonanik123 Wondering if you have any updates to your problem? Are you able to share more details or any screenshots?

[2020-03-30 06:07] tomeda commented on #314
Yes I have required access!

[2020-03-30 07:11] pipperis commented on #331
@shue249 Yes, I have access to the developers resources and I know about the greeting_dialog_display='hide' parameter.
Do I have to add the parameter in the code of your module?

[2020-03-30 08:44] gip1986 commented on #336
I have tried this im Happy to give u a login, it doesn’t install the web chat plug in or pics either, I’m on latest version of open cart. Is it a php issue?

Like I said I want to make this extension work

Sent from my iPhone

[2020-03-30 13:40] mihai88 opened #337 "Hello, I installed the extension and there is no action on site"
Hello,
 I installed the extension on the site calivita.bio-sanatate.com and there is no action ... I also checked with the facebook pixel extension on google chrome and nothing appears.

Can you help me please?

[2020-03-30 16:45] mihai88 opened #338 "I installed the extension on the site and there is no action"
Hello,
 I installed the extension on the site calivita.bio-sanatate.com and there is no action ... I also checked with the facebook pixel extension on google chrome and nothing appears.

Can you help me please?
![pixell-facebook](https://user-images.githubusercontent.com/24780855/77938800-eafca500-72be-11ea-9f63-886f546f6b02.png)

[2020-03-30 16:47] #338 closed

[2020-03-30 16:48] mihai88 commented on #337
![pixell-facebook](https://user-images.githubusercontent.com/24780855/77939165-68281a00-72bf-11ea-994d-4c0b80edc26d.png)

[2020-03-30 21:14] head-dunce opened #339 "Warning: There is a problem with your Facebook Ads Extension installation. Please go to Facebook Ads Extension to view more details. - OC Version 3.0.3.2"
Installed the extension. Gave user permissions in OC. Have folder permissions set to 777 as per install instructions.

My OpenCart admin homepage now says -
"Warning: There is a problem with your Facebook Ads Extension installation. Please go to Facebook Ads Extension to view more details."

And when I go to Extensions > Extensions > Modules > Facebook Ads Extension
Then click Edit I get -
"The pa

[2020-03-31 00:46] shue249 commented on #337
@mihai88 Thank you for the feedback.

1. Can you install the latest version of our plugin here - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

2. Can you follow the steps listed here for the installation - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#plugin-installation

[2020-03-31 00:50] shue249 commented on #336
@gip1986 Can we also check if you have refresh the modifications after you installed the plugin - https://drive.google.com/open?id=1qy-ipwK1HCk8oSnUmGuy6MCJxQdUyGfw

[2020-03-31 01:00] shue249 commented on #339
@head-dunce

1. Is the plugin still installed on your website, or have you removed the plugin?

2. Can you remove away the plugin and re-install the latest version of the plugin - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

3. Is this the install instructions that you used earlier?
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GU

[2020-03-31 10:37] gip1986 commented on #336
Done all this I undiatslled and went to older version which works, but doesn’t show pixel or setup web chat feature which would like can I give login detials for admin for u to look at

Sent from my iPhone

[2020-03-31 12:00] chauting commented on #334
Thank you for your reply. I had reinstalled a new version OpenCart. v3.0.3.2.
, but when I  upload  facebook_ads_extension.ocmod.zip, I can not succeed.
How could I solve the problem?

[image: image.png]

shue249 <notifications@github.com> 於 2020年3月30日 週一 下午12:10寫道：

[2020-03-31 17:25] head-dunce commented on #339
I removed and re-installed and now get different errors -
[code]

I see a bigger problem though, it seems you want to leave the theme cache and sas cache off forever? That is not going to work, I get too much traffic to do that.

Also I use Journal 3 for the theme framework, which is the most popular extension for Open Cart. So I will have to change the header differently. (Not a big deal, just FY

[2020-03-31 21:08] head-dunce commented on #339
Eh, not sure if I need this extension anymore anyway. I just coded in the required json and added in the pixel to the header. Looks like now I have to wait a bit before I can connect the rest.

[2020-04-01 01:32] shue249 commented on #339
@head-dunce Thank you for the feedback.

Our plugin was designed for users who lack developer resources, hence we wanted it to be as simple as possible. The decision to disable theme and SAS cache was to overcome the need for our plugin to insert the javascript codes to the website twig files.

It seems that you have ability to make code changes directly. Here will be our suggestions:
1. Keep the

[2020-04-01 01:55] shue249 commented on #314
@tomeda, thank you for circling back. Here are the suggestions.

1. Download a copy of the latest plugin or use the copy of the plugin which you installed. https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

2. Unzip the plugin file.

3. Locate the file install.xml. Insert in this line of code at lines 426, 628, 1136 and 1334.  It will be the same line at all the 4 code

[2020-04-01 01:57] shue249 commented on #331
@pipperis Thank you for circling back. We outlined the modifications which you need to make here - https://github.com/facebookincubator/Facebook-For-OpenCart/issues/314#issuecomment-606980640

[2020-04-01 02:04] shue249 commented on #336
@gip1986 Thank you for circling back. Unfortunately, we are unable to log into your server due to company policies and privacy concerns.

Will you be willing to continue troubleshoot with us here. Can we use the latest version of the plugin as we recommend you to use version 2.2.1.

1. After using 2.2.1 and refreshing the modifications, do you still get the Fatal error where the undefined method F

[2020-04-01 02:06] shue249 commented on #334
@chauting We are not able to see the image. Are you able to go to github and attach the image on the ticket? Unfortunately, replying via email will not attach the image on the github.

[2020-04-01 09:02] gip1986 commented on #336
Yes if I use latest version it still happens

And get message and on version I am using don’t get chat or pixel

Matt

Sent from my iPhone

[2020-04-01 17:30] head-dunce commented on #339
Well, looks like you have a problem with cropping images. Like this item -
https://www.facebook.com/commerce/products/2771778576240162/
I've adjusted the settings, but they haven't helped. Maybe they take time to update?

[2020-04-01 21:06] head-dunce commented on #339
Seems to be an issue with titles and escaping double quotes, like here -
https://www.facebook.com/commerce/products/2849009838546545/
Not sure where the issue is though, we have both the Open Graph and the ld+json data defined. The descriptions are fine, but if they are pulled from the json they are escaped as \" instead. Do you know which data format gets priority? Looks like we are currently def

[2020-04-01 23:39] shue249 commented on #336
@gip1986

1. Can you locate this file on your OpenCart webserver and share with us the file here - /home/funphoto/GIP/storage/modification/catalog/controller/checkout/success.php

2. Can you share your website URL link

[2020-04-01 23:46] gip1986 commented on #336
Going to do do this now before sleeping so hopefully don’t have to miss u as guessing time difference and apreicate ur help and hopefilly will get resolved

Sent from my iPhone

[2020-04-01 23:52] gip1986 commented on #336
https://we.tl/t-KTQrQjGo6h Is link to we transfer for success file. Did u see in previous email I am using version before latest due to error

Sent from my iPhone

[2020-04-01 23:54] gip1986 commented on #336
My website is www.getitpersonalized.co.uk

Sent from my iPhone

[2020-04-02 00:08] shue249 commented on #339
@head-dunce

Seems that you are using the pixel-based catalog approach to update the catalog details. When we check your product page, seems that you are using the web encoding to escape the title and special characters encoding to escape the description. You can consider changing the title encoding to the same as description.

![image](https://user-images.githubusercontent.com/11957585/78196899-6

[2020-04-02 00:31] shue249 commented on #336
@gip1986 Thank you for the quick response!

1. The file you shared is really helpful. With the latest version of the plugin, 2.2.1, this file should not exist at all. 2 action items you can take
    a. Delete or rename the file, /home/funphoto/GIP/storage/modification/catalog/controller/checkout/success.php, on your webserver. This will stop the error message on the checkout page
    b. Check if y

[2020-04-02 09:08] chauting commented on #334
Thank you for your reply. I had reinstalled a new version OpenCart. v3.0.3.2. , but when I  upload  facebook_ads_extension.ocmod.zip, I can not succeed. How could I solve the problem?

![image](https://user-images.githubusercontent.com/62597431/78230856-86cb2280-7504-11ea-9a24-3f265f9d1d5a.png)

[2020-04-02 11:24] shue249 commented on #334
@chauting When you download the plugin zip package, was it it unzipped automatically and you have to re-zip up again?

We have seen other users experiencing the same situation and the problem is on the re-zip part. In the zip package, there should not have any sub-folders. Presence of additional sub-folders will cause the plugin to fail. The zip package should immediately contain the upload folder

[2020-04-02 11:30] gip1986 commented on #336
Checkout works but I can’t see pics on pages and the web chat doesn’t work or not setup I still get this message

Can u help me

Ur such great help can I ask do u also know how to remove gift vouchers on checkout option

Sent from my iPhone

[2020-04-02 14:46] head-dunce commented on #339
Your "Facebook Pixel Helper" is actually incorrect. If you view the source of the page you'll see the OG description is using web encoding too
![Capture](https://user-images.githubusercontent.com/58668957/78262483-a0517780-74ce-11ea-9c8f-c658bc567ddb.JPG)
But the JSON is not and using a slash to escape the double quote
![Capture2](https://user-images.githubusercontent.com/58668957/78262728-fde5c40

[2020-04-02 15:30] head-dunce commented on #339
Ok, I changed the JSON to slash escape the name and it seems FB is picking it up correctly now. Odd because Google did not have a problem with the HTML encoded slashes.
![Capture3](https://user-images.githubusercontent.com/58668957/78267683-3c7e7d00-74d5-11ea-802c-975a373b919e.JPG)
It seems FB ignores the OG if the JSON is defined.

[2020-04-03 10:43] chauting commented on #334
Thanks for your reply. I had succeeded to install extension ".ocmod.zip". But I still have a problem that is my permission denied! How do I fix it?
![image](https://user-images.githubusercontent.com/62597431/78352326-bfd5c680-75da-11ea-9ec6-4f40c4c1c185.png)

[2020-04-03 11:42] andrelacomski opened #340 "google_product_category invalid"
Hello,
when importing products to facebook, the diagnosis warns that google_product_category is invalid and needs to be able to work on facebook, but I can't do that

[2020-04-03 15:58] mihai88 commented on #337
Thank you, I installed the new extension but I still have errors even though I did everything suggested to me to remedy them ... Could you help me please?
the site is calivita.bio-sanatate.com

[2020-04-03 15:59] mihai88 commented on #337
![1-pixell-facebook](https://user-images.githubusercontent.com/24780855/78380888-3d023b00-75dd-11ea-92b0-9d7917a8598f.png)

[2020-04-05 13:18] kiwircik commented on #277
I am working on OpenCart 3.0.3.2 and after uninstall the Facebook-For-OpenCart I got this error, what should I do?

Fatal error: Uncaught Error: Class 'FacebookCommonUtils' not found in /home/barisdalyan/public_html/dcbouw.shop/system/storageeushhtvbzvig/modification/catalog/controller/common/footer.php:11 Stack trace:
#0/home/barisdalyan/public_html/dcbouw.shop/system/storageeushhtvbzvig/modifica

[2020-04-06 02:34] shue249 commented on #336
@gip1986
I see that you are using our latest version 3.0.0.0. We are working on enabling Messenger chat on this version, we will let you know when it is ready. cc @dtying

In addition, you mentioned that you have a problem with pics on pages. Can you explain more on this.

[2020-04-06 02:37] shue249 commented on #339
@head-dunce It is great to hear that and seems that you have resolved the problem on your side.

We will be closing out this ticket, feel free to reach to us if you have further questions.

[2020-04-06 02:37] #339 closed

[2020-04-06 02:53] shue249 commented on #334
@chauting You need to perform another step for OpenCart 3.x to ensure that the permission is given to administrator role. We have the installation guide and video on this page which you can use as reference - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#plugin-installation

[2020-04-06 03:26] gip1986 commented on #336
I don’t see this pixel thing

Sent from my iPhone

[2020-04-06 09:03] shue249 commented on #337
@mihai88 There is this step which requires you to "Refresh the modifications". Wondering if you have done this step. Screenshot - https://drive.google.com/open?id=1H5ppQPXnx2UYo6v82d5comDJKPu064X2

if you have done this step, can I ask for you to provide the modifications log file?
![image](https://user-images.githubusercontent.com/11957585/78541575-6e227b80-7828-11ea-9371-33df533c9e90.png)

[2020-04-06 09:11] shue249 commented on #340
@andrelacomski Thank you for the feedback.

The requirement for google_product_category is a warning and not a fatal error. You can safely ignore this warning message as it has no impact on your signals, catalog and dynamic ads.
![image](https://user-images.githubusercontent.com/11957585/78542279-8777f780-7829-11ea-8ab4-f46dfa785bab.png)

We will be closing out this ticket, feel free to reach to u

[2020-04-06 09:12] #340 closed

[2020-04-06 09:13] shue249 commented on #277
@kiwircik Thank you for the feedback. After you uninstall the plugin, pls ensure that you have click on "Refresh modifications button". See the screenshot here - https://drive.google.com/open?id=1H5ppQPXnx2UYo6v82d5comDJKPu064X2

[2020-04-06 09:15] shue249 commented on #336
@gip1986 To see the pixel status on your website, you can use the pixel helper tool. It is a Chrome extension that you can install here - https://chrome.google.com/webstore/detail/facebook-pixel-helper/fdgfkebogiimcoedlicjlajpkdmockpc?hl=en

[2020-04-06 09:39] gip1986 commented on #336
And whatsbenwfit of pixel what does it do,

Also u know how to remove gift voucher completely as option

Sent from my iPhone

[2020-04-06 12:26] mihai88 commented on #337
Hello, thanks for writing me ... I have copied your code from the log here:

2018-08-21 15:59:06 - MOD: Modification Default
FILE: system/engine/action.phpREGEX: ~(require|include)(_once)?\(([^)]+)~LINE: 69
FILE: system/engine/loader.phpREGEX: ~(require|include)(_once)?\(([^)]+)~LINE: 48LINE: 110LINE: 122
FILE: system/library/config.phpREGEX: ~(require|include)(_once)?\(([^)]+)~LINE: 59
FILE: syst

[2020-04-06 12:45] chauting commented on #334
![image](https://user-images.githubusercontent.com/62597431/78559714-74742000-7847-11ea-9c89-7b76d8e68f56.png)
how to fix it , thanks

[2020-04-06 13:23] shue249 commented on #336
@gip1986 For the usage and benefits of pixels, you can refer to our help center here - https://www.facebook.com/business/help/742478679120153?id=1205376682832142. Accurate implementation of pixel helps you achieved best ads performance on Facebook.

For the question on gift voucher, we are not in the best position to answer that as we did not implement this module, so we do not have the knowledge

[2020-04-06 13:25] shue249 commented on #334
@chauting To upgrade the extension, you will need to remove the current plugin from your OpenCart, before you can install the newer version. You can follow the removal steps on this documentation - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#upgrade-the-plugin-to-a-later-version

On this document, we have the complete steps on how to install, remove, upg

[2020-04-06 13:39] shue249 commented on #337
@mihai88 Thank you for sharing the modifications log file.

Unfortunately, I wasnt able to locate the plugin installation information from the log file. If you trace through the log file, the last update is on 2019-11-17 on line 193.

I can suggest for you to Clear the log (bottom Red button) and then click on Refresh modifications button again. (top right button). Then check the log information a

[2020-04-06 14:24] mihai88 commented on #337
Hello, I did what you told me ... I updated the log file ... I hope now the cause of the problem is better observed...

2020-04-06 14:21:45 - MOD: Modification Default
FILE: system/engine/action.phpREGEX: ~(require|include)(_once)?\(([^)]+)~LINE: 69
FILE: system/engine/loader.phpREGEX: ~(require|include)(_once)?\(([^)]+)~LINE: 48LINE: 110LINE: 122
FILE: system/library/config.phpREGEX: ~(require|in

[2020-04-06 14:53] mihai88 commented on #337
Hello, I have also attached a word document with the log file

    On Monday, April 6, 2020, 04:40:03 PM GMT+3, shue249 <notifications@github.com> wrote:

@mihai88 Thank you for sharing the modifications log file.

Unfortunately, I wasnt able to locate the plugin installation information from the log file. If you trace through the log file, the last update is on 2019-11-17 on line 193.

I can sugg

[2020-04-07 02:37] shue249 commented on #337
@mihai88 From your log file, we can see that the code modifications for pixel are done correctly. But the pixel code from our plugin is still not showing up on your website.

I see that you are using OpenCart 3.x. The 2 other areas to check are (these are indicated on the red warning messages on the plugin screen):
1. Have you tried disabling the theme and SASS cache? See screenshot - https://driv

[2020-04-07 06:19] mihai88 commented on #337
Hello, thanks for your involvement .. 
I added you as a user to the admin panel:

calivita.bio-sanatate.com/adminuser: pixellpass: pixell

I think I have taken good steps .. I do not understand what to do with the file:

common/footer:

<footer>  <div class="container">    <div class="row">      {% if informations %}      <div class="col-sm-3">        <h5>{{ text_information }}</h5>        <ul cla

[2020-04-07 10:58] alecsa09 opened #341 "Issue with access for Facebook Extension Installation"
This is the error I'm getting:
We have detected missing files for Facebook Ads Extension. Please enable read, write and execute access permissions for these files and folders.
/home/...[client name]../public_html/admin//view/image

[2020-04-07 12:20] moseur opened #342 "Facebook Ads Extension Not Working with opencart 2.2.0.0 ???"
Hello Concern,

I have tried to connect with facebook by installing facebook ads extensions. But when I clicked Facebook icon on opencart admin panel then its shwoing Page not found???

my opencart version is 2.2.0.0 and I have also checked folder ( read / write ) permission. My Folder permission is 755.

Please help me out..

![fbe](https://user-images.githubusercontent.com/32351568/78668172-076e

[2020-04-07 20:12] Carnergr opened #343 "Problem with sync products"
Hello, we use Facebook adds old version and we had some error when try to resync products, now we put the newest version 3,0 and when try to sync products we have message that product catalog is empty. Before update we had in open cart under the “GET STARTED” the store ID , but now we have nothing just the Get started, when we make sync products we have error! Please let us know how to fix!

Thank

[2020-04-08 04:01] TitoEx opened #344 "Install"
Hello ,
I Have Problem after installed plugin and configuration in product page on click add to cart get the following error
![1](https://user-images.githubusercontent.com/63331409/78743205-41708000-795e-11ea-951d-8dfd9f627d49.PNG)
![2](https://user-images.githubusercontent.com/63331409/78743206-42a1ad00-795e-11ea-8f79-efbb8715f144.PNG)

Using OpenCart 2.0.3.2

[2020-04-08 04:56] shue249 commented on #314
@tomeda We will be closing out this ticket. Feel free to reach to us if you have further questions

[2020-04-08 04:56] #314 closed

[2020-04-08 04:57] shue249 commented on #332
@tappa31 We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-04-08 04:57] #332 closed

[2020-04-08 04:58] shue249 commented on #333
We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-04-08 04:58] #333 closed

[2020-04-08 04:58] shue249 commented on #331
We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-04-08 04:58] #331 closed

[2020-04-08 04:59] shue249 commented on #335
@doviis We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-04-08 04:59] #335 closed

[2020-04-08 05:02] shue249 commented on #341
@alecsa09 As the message mentioned, you need to provide read & write permission to the admin/view/image folder on your opencart webserver. We need this folder permission to read images for the Facebook catalog.

[2020-04-08 05:03] shue249 commented on #342
@moseur Thank you for the feedback. It seems that there is a server error when you are accessing the plugin module. Are you able to check on your webserver error logs and share the latest error messages with us for us to identify the problem.

[2020-04-08 05:05] shue249 commented on #344
@TitoEx Thank you for the feedback.

1. What is your webstore URL?
2. What is the plugin version which you are using?
3. Have you followed the installation steps here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md

[2020-04-08 05:53] Eaglebill opened #345 "Option to disable mobile messenger bubble"
Dear community,

I am having an issue with the messenger bubble in mobile devices. Due to the small screen size, the bubble is overlapping with many site elements, resulting in harder mobile navigation.
Is it possible to somehow disable the messenger bubble only in mobile devices but keep it enabled in desktop view ?
Maybe give an option to enable or disable in mobile devices in next update ?

Tha

[2020-04-08 07:56] dtying commented on #343
Hi @Carnergr, can you provide me the url of your web store? Thanks.

[2020-04-08 08:35] Carnergr commented on #343
Hello,

The url of our website is www.carner.gr and our facebook page is
facebook.com/carner.gr

Ioannis Simeonidis
Managing Director
Proektasi Maiandrou,Ring road Evosmos
Thessaloniki , 57013 ,Greece ,P.O. Box 118
Tel.:2310 688 872, 2310 688 482
Fax:2310 688 036
www.carner.gr
www.car.gr/carner
facebook : CARNER.GR <http://carner.gr/>
twitter @CARNERGR

*P* *Please consider the environment before

[2020-04-08 09:12] dtying commented on #343
Thanks @Carnergr for your info. Here're my findings:
1. I see that after you upgraded FBE, you have uninstalled and reinstalled for several times.
2. In you latest installation, the **feed schedule** had been removed from your Facebook Catalog. This is the reason why your Facebook Catalog is out of sync from OpenCart. Please note that the feed schedule should never be deleted.

In order to fix thi

[2020-04-08 09:53] Carnergr commented on #343
Hello,

Thanks for reply!
Yes i delete several times FBE..
I am little confused now!
I delete all but still remain an old upload (product catalog) in facebook
and still working..

Also regarding my pixel seems i have 2 or more pixels in my account maybe
by my wrong or not?

Now i have to deltete at all the extension from open cart and reinstall it
, should i make also something on facebook?

XML f

[2020-04-08 10:22] dtying commented on #343
@Carnergr  I see ...
As you're not sure which catalog is connected to your page shop, you can refer below to verify it. If you don't see the section like this, it means your catalog currently is not connected to your Page Shop.
![Screen Shot 2020-04-08 at 6 13 43 PM](https://user-images.githubusercontent.com/21333308/78773236-811e8280-79c5-11ea-80c5-4d239176053c.png)

I also verified your pixel, i

[2020-04-08 11:18] Carnergr commented on #343
Hello,

Finally i did it!!!
Catalog uploaded but i have a problem with more than 50% of products that i
didnt have problem before(check pictures)

[image: fbe 2.png]
[image: fbe.png]

Also in open cart page i dont see store ID as before just see the Get
started!
[image: fbe 3.png]
Ioannis Simeonidis
Managing Director
Proektasi Maiandrou,Ring road Evosmos
Thessaloniki , 57013 ,Greece ,P.O. Box 118

[2020-04-09 03:44] dtying commented on #343
@Carnergr Hi, I checked that some of your products were diagnosed with issues with Dynamic Ads eligibility, you may refer to https://www.facebook.com/policies/ads for details.

Did you see any error prompted after FBE installation? If everything went well, your FBE page will be reloaded automatically to show 'Management' and 'Uninstall' button.

[2020-04-09 13:17] moseur commented on #342
Dear Concern ,

I am really happy to see your message within short time. May God bless you always. Please find the error message to the image. Hope it can help you.

Thanks

![image](https://user-images.githubusercontent.com/32351568/78898996-90b9cc00-7a96-11ea-9abe-328329b97023.png)

[2020-04-10 03:00] shue249 commented on #342
@moseur Unfortunately, we were not able to find anything from your error log.

Also, we noticed that you are still using an older version of the plugin. Could you try to remove the current version and install the version 2.2.1 - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

[2020-04-10 12:19] maria037 opened #346 "There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup. Please contact Facebook via our Github if this error keeps showing."
Добрый день!
Подскажите, пожалуйста, при установлении добавления на сайт (пикселя ФБ) возникла вот такая проблема.
"There is an error with Facebook Ads Extension setup. Click on Facebook Ads Extension, Manage Settings, go to Advanced options and click on Delete Settings to restart the setup.
Please contact Facebook via our Github if this error keeps showing."
Служба поддержки ФБ говорит, что это н

[2020-04-10 14:09] mihai88 commented on #337
Hello, did you have time to look over the site in the admin panel?

Best regardesMihaescu Mihai
    On Tuesday, April 7, 2020, 05:37:39 AM GMT+3, shue249 <notifications@github.com> wrote:

@mihai88 From your log file, we can see that the code modifications for pixel are done correctly. But the pixel code from our plugin is still not showing up on your website.

I see that you are using OpenCart 3.

[2020-04-10 19:08] tomasumumu opened #347 "microdata required fields are missing, id & availability"
Could You please help me with microdata, microdata check tool shows that required product fields are missing:
**id** and **availability**.

How I can fix it without adding required fields manually?

OC 3.0.3.2
Fastor theme
FB extension ver. 3.0.0

Thank You in advance

[2020-04-11 10:09] chauting commented on #334
![image](https://user-images.githubusercontent.com/62597431/79041067-73fcd000-7c1f-11ea-89b9-bc200216d7e1.png)
How to I install Facebook Pexi?

[2020-04-11 19:18] hassni1 opened #348 "Fatal error"
Hi When you type the name of my store you will see the error below the store url

Qmart.pkwww.qmart.pk
Your page is not mobile-friendly.
Fatal error/home/qmartpk/public_html/storage/modification/catalog/controller/common/footer.php16. : Uncaught Error: Class 'FacebookCommonUtils' not found in /home/qmartpk/public_html/storage/modification/catalog/controller/common/footer.php:16 Stack trace: #0 /ho

[2020-04-12 10:41] shue249 commented on #348
@hassni1 Can you follow the guide here on the plugin installation. https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#plugin-installation

Specifically, pls ensure that you have clicked on "Refresh modifications" - https://drive.google.com/open?id=1qy-ipwK1HCk8oSnUmGuy6MCJxQdUyGfw

[2020-04-12 12:02] hassni1 commented on #348
Yes I have cleared the cache , its common practice when i do install any
new module i clear the cache. Still error are showing up .

On Sun, Apr 12, 2020 at 3:42 PM shue249 <notifications@github.com> wrote:

--
Regards
Quality Mobiles
Hassan Haroon
142 Ground Floor,Hafeez Center, Gulberg, Lahore, Pakistan
Office:- +92-42-571 5782 & 571 5783
Cell:- +92-333-400 0000
Fax:- +92-42-571 5783
Email:-qua

[2020-04-13 00:15] shue249 commented on #348
@hassni1 Let us try to resolve the fatal error first.

Another reason for the fatal error could be that the admin, catalog and system folders are not given read+write access, hence OpenCart was not able to copy the files from the plugin to your OpenCart folder. Can you give recursive read+write permission to the 3 folders.

Then check if this file exist on your OpenCart folder - system/library/fac

[2020-04-13 00:17] shue249 commented on #334
@chauting Like to check if you are still encountering any issues with the plugin? We tried to access your webstore URL and encounter HTTP error 500 - https://www.hkisayyes.com/reunion/upload/

[2020-04-13 00:24] shue249 commented on #347
@tomasumumu If you are using our plugin, it is not needed to implement the microdata and you can ignore the warning/error message from the microdata check tool.

The reason is because that we are using a regular scheduled feed file to update the catalog details.

[2020-04-13 00:37] shue249 commented on #346
@maria037 Thank you for the feedback.

1. Can you download the latest version of the plugin from the OpenCart marketplace - https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=32336

2. Remove the existing plugin on your Opencart and install the new version.

3. Follow the upgrade instructions

Let us know if you encounter any further errors on the installation

[2020-04-13 00:44] shue249 commented on #337
@mihai88

Due to company policy, we are not allowed to log into your admin panel. Can you also remove away the login access to prevent people from gaining access into your Opencart.

On the part of the header and footer, you need to check this screenshot and see if you have made any changes to the header and footer files from the Design -> Theme editor module. If you have made such changes through

[2020-04-13 00:44] shue249 commented on #345
Thank you for the feedback. Let us bring this back to the product team for feedback.

[2020-04-13 00:46] shue249 commented on #345
@Eaglebill  Can you share with us your website URL

[2020-04-13 05:06] Eaglebill commented on #345
Hello shue, my website URL is [this](https://kallipolitisgas.gr/)

[2020-04-13 05:54] tomasumumu commented on #347
Thank you!

[2020-04-13 05:54] #347 closed

[2020-04-13 06:22] calvintcow opened #349 "installed but interface is different to the video"
Hello,

I have just installed the extension and set up.  however there are some questions here

1) the main page is different after I set up, it doesn't show re-sync the product
2) when click manage settings, it goes to Facebook manage page instead of of the screen that I see from the screen shot or video.
3) so I cannot enable the Facebook chat.

please advise.
![Screenshot 2020-04-13 at 2 21 41

[2020-04-13 09:58] dtying commented on #349
Hi @calvintcow , thanks for your feedback.

We're currently working on the installation guide to update it to the latest version.

If you need to use Messenger chat plugin feature urgently, kindly download the[ v2.2.1 ](https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1)as an alternative.

[2020-04-13 09:59] dtying commented on #343
Hi @Carnergr, I'm closing out the ticket for now. Feel free to contact us should you have any further questions.

[2020-04-13 09:59] #343 closed

[2020-04-13 11:08] calvintcow commented on #349
It is not urgent for me to use the messenger.

But when I click on manage setting, it goes to Facebook business page, is it normal? as I don't see the other menu that your video show.

[2020-04-13 15:10] siteadvice opened #350 "The message received is not from the verified source."
Hi there
After installing v 3.0.0 of your extension on Opencart v3.0.3.2 I get this error when going to the extension front page:
The message received is not from the verified source.
After apparently completing the integration setup with Facebook and being returned to the extension front page i get this error:
An error occured when creating Facebook Business Extension setup.
Hope you can help!
I

[2020-04-13 15:16] maria037 commented on #346
Огромное спасибо за помощь! Вроде бы все получилось!)

[2020-04-13 20:43] Carnergr commented on #343
Hello,

Thank you for your help!

Ioannis Simeonidis
Managing Director
Proektasi Maiandrou,Ring road Evosmos
Thessaloniki , 57013 ,Greece ,P.O. Box 118
Tel.:2310 688 872, 2310 688 482
Fax:2310 688 036
www.carner.gr
www.car.gr/carner
facebook : CARNER.GR <http://carner.gr/>
twitter @CARNERGR

*P* *Please consider the environment before printing this e-mail*

*GO **GREEN* *–* *Climate Protection wit

[2020-04-13 23:46] shue249 commented on #346
@maria037 We are glad it is working for you now. We will be closing out this ticket. Feel free to reach to us if you have further questions.

[2020-04-13 23:46] #346 closed

[2020-04-14 02:10] dtying commented on #350
Hi @siteadvice , can you provide me with your webstore url?

[2020-04-14 05:21] dtying commented on #349
Hi @calvintcow , when clicking on manage setting button, a popup should open for you to see modules of features available, e.g. enable page shop. And you can also view your page, pixel, catalog info.

[2020-04-14 06:10] siteadvice commented on #350
Sure - it is https://shop.bigapplehotdogs.com/

[2020-04-14 06:14] ltona opened #351 "Object Object Error Version 3.0.0"
Hi,

I get this error object Object when I try to setup the latest version of the Plugin 3.0.0. I have been able to setup the plugin the the oldest Plugins, but the latest one shows this error and I the setup is not finished. What could be the problem?

Check website: coopmarket.al

Thanks.

![error01](https://user-images.githubusercontent.com/63632235/79191914-f9eb6780-7e27-11ea-8b9e-a0d5d9a34757

[2020-04-14 07:25] exitsport opened #352 "Issu whit Jouranl Theme 2"
Hi,

We upgrade extension  for 3.0 but after that not work Header Notice in Top bar, Messenger not show  anymore and not impossible to change account in Facebook Extension

[2020-04-14 07:38] dtying commented on #351
Hi @ltona , can you share your webstore url? Unfortunately the error means there're backend issues to onboard you to our latest version of FBE.

[2020-04-14 07:42] ltona commented on #351
Hi @dtying ... yes, https://coopmarket.al.

[2020-04-14 07:47] dtying commented on #350
Hi @siteadvice , I can see there're two different users setup before.
- Is the error you mentioned above for the 1st user only?
- After the 2nd user setup, is everything working?

[2020-04-14 07:52] dtying commented on #351
hmm I can see a connection time out error from your webpage, and I can't find any log given your url above.

[2020-04-14 08:03] dtying commented on #352
Hi @exitsport , thanks for your feedback.

- Could you share more about 'Header Notice in Top bar'? What feature do you expect to have?
- Messenger is currently unavailable in this version due to upgrade. Will be ready in next release.
- Could you also share more about 'Change account in FBE'? Our idea is FBE is for one-time setup only.

[2020-04-14 08:06] cepcemuh opened #353 "Cannot see my page"
Hello, I cannot see the facebook page I'd like to connect due the integration process. Everything was good before the update but now when I try to connect the page I'd like to use - I am not able to do.

[2020-04-14 08:11] siteadvice commented on #350
No, it is not working. In fact, as I said, I have disabled it for now.
When I first tried logging in, I realised the owner of the page had not yet added me to his Facebook Business account. I tried again after he had added me and that’s when I got the error “An error occured when creating Facebook Business Extension setup”. Perhaps these two login attempts explain why you see two users from your e

[2020-04-14 08:26] ltona commented on #351
I get this from Log

2020-04-14 8:25:22 - OpenCart version = 3.0.3.2
2020-04-14 8:25:22 - PHP version = 7.2.29
2020-04-14 8:25:22 - Verifying Availability of Facebook Ads Extension Settings Availability
2020-04-14 8:25:22 - Pixel ID = true
2020-04-14 8:25:22 - Pixel use PII = true
2020-04-14 8:25:22 - Page ID = true
2020-04-14 8:25:22 - System User Access Token = false
2020-04-14 8:25:22 - Messeng

[2020-04-14 09:35] dtying commented on #353
Hi @cepcemuh , could you share your webstore url?

[2020-04-14 09:41] cepcemuh commented on #353
Hey @dtying , thanks for your response. My website URL is https://www.instrumentami.com/
At the moment I just uninstalled new version and install Plugin Version: 2.2.1. It work and due the installation process my FB page appeared but with the latest version it does not appear. Thanks.

[2020-04-14 10:13] magbor commented on #351
The same problem with https://magbor.com
Please check....
2020-04-14 12:45:25 - Facebook Ads Extension version = 3.0.0
2020-04-14 12:45:25 - OpenCart version = 2.3.0.2
2020-04-14 12:45:25 - PHP version = 7.1.33
2020-04-14 12:45:25 - Verifying Availability of Facebook Ads Extension Settings Availability
2020-04-14 12:45:25 - Pixel ID = true
2020-04-14 12:45:25 - Pixel use PII = true
2020-04-14 12:4

[2020-04-14 19:20] johnnyipp opened #354 "Facebook Ads Extension Error update token"
I installed Facebook Ads Extension 2.1.3
in Opencart 3.0.3.2
It looks like it installed everything and is working correctly only issue is
The following red error messages I am getting in the Opencart Dashboard.

There is not a update token button under advanced options...

What do I need to do to update the token and remove the error messages

![FB1](https://user-images.githubusercontent.com/63671

[2020-04-14 19:58] xakou opened #355 "I can't see pages that own to other Business Manager and i have full access"
Hello, i can't see pages that own to other Business Manager and i have full access.
I can see only pages marked as "Individual people own this" .

Any help?

[2020-04-15 08:56] dtying commented on #355
Hi @xakou, can you elaborate more on your use case? It's probably because you don't have the permissions to modify the page which is owned by the other Business Manager.

[2020-04-15 08:59] xakou commented on #355
@dtying at previous version 2.2.1 i can see all pages.
Also i have full access at the other Business Manager.

[2020-04-15 09:00] dtying commented on #354
Hi @johnnyipp, we're slowly deprecating this version now. Feel free to download [v2.2.1](https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1) or [v3.0.0](https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v3.0.0) as a better choice.

[2020-04-15 09:12] dtying commented on #350
Thank you @siteadvice.  In your case, because you were added as an admin of the page just before the installation, the backend rejected it as a security precaution to prevent bad actor.
Can you wait for one week and re-try it? Meanwhile, our team is thinking of better ways to handle this scenario.

[2020-04-15 09:15] siteadvice commented on #350
At the moment I cannot r-try it because when I click on the "Get Started" button I get the error "An error occured when creating Facebook Business Extension setup".
Can you advise me on what to do about that? Perhaps you could give me a guide to manually deleting all files and database entries?

[2020-04-15 09:22] dtying commented on #351
Thank you @ltona @magbor . I think both of you may face the same issue.
Let me follow up internally first.

[2020-04-15 09:25] dtying commented on #350
Here's uninstall guide: https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#uninstall-the-plugin

After click 'Get Started' button, in the popup, can you click 'Edit Settings' button? Also wait for one week first before you re-try.

[2020-04-15 09:39] dtying commented on #353
Thanks @cepcemuh , I also checked that with v2.2.1, your setup is correct now.
The reason that you can't see the page could be due to missing of permissions.

[2020-04-15 09:42] cepcemuh commented on #353
Yeah, I guess but I don't know how to change the permissions. I tried in page settings but nothing...

[2020-04-15 09:53] dtying commented on #355
Thanks for the info! Let me follow up internally first and come back to you later.

[2020-04-15 09:53] dtying commented on #353
Thank you for the info! Let me follow up internally first and come back to you later.

[2020-04-15 10:06] siteadvice commented on #350
Will it be exactly one week after the first attempt?
Would it be possible for the owner of the Facebook Business account to log on instead? (I mean sooner than seven days)
He has had a Facebook Page for several years but I think he did not set up the Facebook Business account until this week.

[2020-04-15 10:09] dtying commented on #350
Yes, the owner can definitely try. If I'm not wrong, from the log I can see the owner has already setup successfully.

[2020-04-15 10:24] siteadvice commented on #350
If he set it up successfully, why would it prompt me to log in and connect the extension to his account?

[2020-04-15 10:38] dtying commented on #350
1. Could you share me your log file by clicking 'Download log' link?
If you have access to db, in 'settings' table, check the value of 'facebook_fbe_v2_installed'.
2. You may ask the owner to re-install, and here's the expected screen if success. https://drive.google.com/open?id=1mJu7poPn2rBtnkg2UgfSYi2cGdFDztMp
3. If still not working, you may install v2.2.1 as an alternative.

[2020-04-15 11:00] siteadvice commented on #350
1. Not sure where to find the "Download log" link - can you explain?
2. I have these rows in the oc_setting table which match the key "%facebook%":
1687 | 0 | facebook | facebook_last_upgrade_check_time | 2020-04-13 | 0
-- | -- | -- | -- | -- | --
  | Edit | Copy | Delete | 1790 | 0 | facebook | facebook_feed_runtime_avg | 0.2669677734375 | 0
I cannot see 'facebook_fbe_v2_installed'

[2020-04-15 14:20] ramirami593 opened #356 "Product categories in facebook page shop section is not showing"
Hi,
Product categories in facebook shop section is now showing - only "all products" is showing with no categories.

Website
www.ikiaz.com

Facebook page
https://www.facebook.com/KIAZmore/?ref=bookmarks

Opencart V. 3.0.2.0 and the latest extension.

Please advise,
Thank you.

[2020-04-16 02:13] cheekymykool commented on #356
Hi Im having the same issue i have it all set up but nothing shows in my shop of facebook

[2020-04-16 02:15] shue249 commented on #356
@ramirami593 We are unable to access your page. Is the page public and still available?

[2020-04-16 02:20] shue249 commented on #356
@cheekymykool Want to check if you have deleted your Facebook business extension settings? We did not see the Shop tab on your Facebook page

[2020-04-16 02:27] cheekymykool commented on #356
sorry https://www.facebook.com/MajicPersonalisation/?view_public_for=659546914254182

[2020-04-16 02:28] cheekymykool commented on #356
i have set it up but it isnt sending it to my facebook page

[2020-04-16 07:21] jepsdk opened #357 "Can't pass FBE menu in opencart - says wrong user"
Updated FBE to v3
When accessing FBE in Opencart menu, I see the start screen
![image](https://user-images.githubusercontent.com/63775439/79426254-2edff180-7fc3-11ea-870c-cbf62bd11108.png)
When clicking Get started, Pop-up shows 'Continue as xx-me-xx' - I am logged in and seeing FB business manager pixel - but when clicking continue, it says I'm not the administrator - I have to get permissions fr

[2020-04-16 07:45] ramirami593 commented on #356
i think you get confused with the other user data please read my message again the first message.

my page and my website is available please let me know if you cant see it

[2020-04-16 07:54] dtying commented on #350
It's not correctly setup. Let me follow up internally and get back to you later.

[2020-04-16 08:13] dtying commented on #351
Hi @ltona @magbor, just to double check when did you see the error. Did you click 'Get Started' button, see the screen as below, finished the setup flow before you see the error?
![Screen Shot 2020-04-16 at 4 10 37 PM](https://user-images.githubusercontent.com/21333308/79431431-083eac80-7ffd-11ea-9c12-eb9c8ebc1184.png)

[2020-04-16 09:36] exitsport commented on #352
If we choosed page, the page not found and not impossible to change that in the extension

[2020-04-16 11:19] igorechaves opened #358 "Error on facebook business extension 3.0.0 = [object Object]."
hello guys, i have some problems to install the extension, could you help me please?

This firts image show the version of my extension: 3.0.0
![image](https://user-images.githubusercontent.com/63788082/79449521-c0e2fc80-7fb9-11ea-86fd-3eb2993241d8.png)

when i click on get start i inform my facebook login and show this msg [object Object].
![image](https://user-images.githubusercontent.com/637880

[2020-04-16 11:28] igorechaves commented on #358
follow the log:

MOD: Facebook Business Extension
CODE: public function index(
LINE: 22

FILE: admin/controller/common/dashboard.php
CODE: public function index(
LINE: 45

FILE: catalog/controller/common/header.php
CODE: public function index(
LINE: 31
CODE: public function index(
LINE: 33

FILE: catalog/view/theme/default/template/common/header.twig
CODE: </head>
LINE: 170
CODE: </header>
LINE: 2

[2020-04-16 11:35] ltona commented on #351
Hi, @dtying . I click Get Started, the new windows opens and says: You've previously linked OpenCart to Facebook. Would you like to continue with your previous settings? I continue with my name. At this moment the windows closes and I get the above-mentioned error.

[2020-04-16 11:36] igorechaves commented on #358
User group access was checked all too!

[2020-04-16 11:53] magbor commented on #351
Hi @dtying. The error comes after the click:
path 1) Get Started - Continue as xxxxx = ERROR
path 2) Get Started - Edit settings - Continue - Done - (You've now linked OpenCart to Facebook) - OK = ERROR

[2020-04-16 12:23] chauting commented on #334
I have reinstall opencart3.0 . That I have install Facebook adv extension. But I got permission denied . How to fix it?
![image](https://user-images.githubusercontent.com/62597431/79455779-fae6e980-801f-11ea-86ee-ea96b076e96e.png)
Url:   hkisayyes.com/online-shop/

[2020-04-17 01:22] shue249 commented on #356
@ramirami593 We are getting this when we tried to access your Facebook page.
![image](https://user-images.githubusercontent.com/11957585/79521862-ca896480-808c-11ea-948e-03736424af96.png)

On the topic of categories on Page shop, we are not creating the categories, hence only All products is available.

[2020-04-17 01:28] shue249 commented on #345
@Eaglebill Wondering if you have still enabled the messenger chat on your website?

Can you share with us a screenshot of the bubble blocking your site elements on mobile?

[2020-04-17 01:29] shue249 commented on #334
@chauting Can you follow the install guide here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#plugin-installation. For Opencart 3.x, there is an additional step that you need to do to give your adminstrator role access to the extension.

[2020-04-17 01:43] cheekymykool commented on #356
im getting same but not sure what is going on that is why i sent message

[2020-04-17 03:21] dtying commented on #358
Hi @igorechaves , could you provide me with your webstore url?

[2020-04-17 03:25] dtying commented on #357
Hi @jepsdk , thanks for your feedback!

- can you provide your webstore url?
- can you confirm if this is your first time to setup FBE, or if you were an existing user and have setup FBE before in previous version?
- are you able to attach a screenshot where you see the error says you're not the admin? Is it at the pixel selection page?

[2020-04-17 03:36] dtying commented on #356
Hi @ramirami593 , I've checked that:
- your FBE setup is correct
- ensure your page shop plugin is enabled as below:
1. click 'Manage Setting'
![Screen Shot 2020-04-15 at 11 26 04 AM](https://user-images.githubusercontent.com/21333308/79529493-60c68600-809f-11ea-91f5-9014fc2b80a1.png)
2. click 'View'
![Screen Shot 2020-04-15 at 1 46 43 PM](https://user-images.githubusercontent.com/21333308/7952942

[2020-04-17 03:54] dtying commented on #356
Hi @cheekymykool , I think you're on older version of FBE before v3.0.0, and the problem is that your catalog is not connected with your page shop.

If so, you need to:
1. remove existing settings: https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#delete-the-existing-settings-for-facebook-for-opencart
2. setup FBE settings again with page shop toggle enabled:

[2020-04-17 06:07] cheekymykool commented on #356
Hi Im running the latest version i have tryed uninstalling and reinstalling it is not getting anywhere

[2020-04-17 07:54] ramirami593 commented on #356
@shue249  shue249  - Why no categories will show in facebook shop ? i mean i have categories in my website and it should show products within their normal categories , can we solve this ?

Thank you

[2020-04-17 08:04] dtying commented on #356
Hi @cheekymykool , can you follow the guides here?
1.[ Setup for Facebook business manager, page, pixel and catalog](https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#setup-for-facebook-business-manager-page-pixel-and-catalog)
2. [Launch Management View](https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#launch-management-v

[2020-04-17 09:29] cheekymykool commented on #356
all im getting is
![image](https://user-images.githubusercontent.com/63763201/79554603-e0b91400-80d0-11ea-874a-43e6cd93c59e.png)
if needed i can supply a login to our site if you have a secure email i can send detail too

[2020-04-17 11:26] rhinsu opened #359 "Special Price not showing on Facebook Catalog"
I have installed Facebook for Opencart v3.0 on open cart 3.0.3.2 with Journal 3 theme. All installation works well but special price does not display on Facebook Shop. When I downgrade Facebook for Opencart to V2 it works well and special prices sync very well. Please see the example of what I refer to.

https://i.postimg.cc/BZySdkSW-/fbdetails.jpg
https://i.postimg.cc/9fpXKfM1/sitedetail.jpg

www

[2020-04-17 12:46] igorechaves commented on #358
momentodivertido.com

[2020-04-17 13:01] bonyod commented on #351
Hi, my site https://www.grobmart.com face the same issue... I already click get started, finished the installation, then I click uninstall because I want to change account, but right now when I click get started and click "Continue as (my name)" it just show alert [object Object]

[2020-04-17 13:38] chauting commented on #334
Thank you so much. I had succeeded to get my permission. And then I had opened a Facebook business account (online shop). How do I do to make open cart connect to my Facebook business account?

![image](https://user-images.githubusercontent.com/62597431/79573839-cf343400-80f1-11ea-9e33-ac24615169a3.png)

![image](https://user-images.githubusercontent.com/62597431/79574217-67cab400-80f2-11ea-84f3-f

[2020-04-17 13:40] chauting commented on #334
![image](https://user-images.githubusercontent.com/62597431/79575215-04da1c80-80f4-11ea-87db-c2c41069c461.png)

[2020-04-17 14:26] jepsdk commented on #357
Thanks for your response and time

Url: hebehome.dk
This is not the first time, this was update from 2.2.1 to 3.0.

step 1:
![image](https://user-images.githubusercontent.com/63775439/79579298-aeef7f80-80c7-11ea-83c7-8ed658c204a2.png)

step 2:

![image](https://user-images.githubusercontent.com/63775439/79579434-df371e00-80c7-11ea-8222-c3f55e7b0e44.png)

step 3: - this is where I stop
(Ask adminis

[2020-04-17 15:06] shue249 commented on #359
@rhinsu Can you try to install the latest version of the plugin and do a resync for us to check on the issue.

[2020-04-17 15:17] igorechaves commented on #358
i update my store and refresh some tables nome on my database and are working fine the integration

[2020-04-17 15:17] #358 closed

[2020-04-17 17:19] baud13 opened #360 "I cannot find the chat bubble on facebook extension."
hi, i had the extension up an running well downloaded form fb. Since a new update arrived i updated it but it seems there is a difference between the extension from opencart market place and fb.
the previous had a different environment and i could enable and edit the chat bubble. this one does not but i still get the bubble on my website. so how to i edit the bubble and turn it on and off?

now i

[2020-04-17 22:28] danilomacedo10 commented on #351
My website has the same error: www.lefotick.com.br
I uninstalled the plugin and reinstalled and now the configuration screen no longer appears after clicking on "Get started". It is a white screen.

![tela-branca-fb](https://user-images.githubusercontent.com/63831088/79618705-309fd700-80e1-11ea-8a62-0807bb6d2c3b.png)

![object-erro-fb](https://user-images.githubusercontent.com/63831088/79618704-30

[2020-04-18 02:55] decorello commented on #351
I have the same problem with the object Object + Problems with GDPR...

[2020-04-18 06:35] rhinsu commented on #359
We have already tried resync earlier but the special price does not display, interestingly any new products created get updated but not the special price

[2020-04-18 07:44] mediagraf opened #361 "Cookie Message on Mobile"
Hi,
İm trying to disable this cookies message on mobile. is it possible to disable it or disable sticky position on buttom?

https://drive.google.com/file/d/1H3-au9_wOePf5crnWhbdVwb4MkxYR-h-/view?usp=sharing

[2020-04-18 08:38] #361 closed

[2020-04-18 09:35] honeynatividad opened #362 "Messenger Plugin Not Showing"
I have not changed the header.twig in the Theme Editor.

I was able to install and add the products on my Facebook page but not the messenger. Any help is appreciated. Thank you!

[2020-04-18 13:52] moseur commented on #342
I have installed this version but same result. what can i do, please help me. Also I have another shop which opencart version is latest one with latest facebook ads extension. But here I am facing another problem. after configuring everything after last window Its giving me en error like :"An error occured when creating Facebook Business Extension setup."  When I go to the ads extension log file t

[2020-04-18 15:34] elavweb commented on #355
Hello,
we have the same issue with Facebook Business Extension v 3.0.0 on opencart v 3.0.3.2 and journal theme v3.0.46
We don't see the page when we have to select one.
We have all permissions for that page.
Why?
thanks

[2020-04-19 08:17] alexeypp opened #363 "Can't load facebook ligin page in pop up window"
Using the Facebook extension in the Opencart the browser can't load the login page. When I close the window, the browser says: User cancelled login or did not fully authorize.
![New Bitmap Image (2)](https://user-images.githubusercontent.com/63948651/79682957-3d324580-822f-11ea-8b4a-7bca4f70a667.png)
![Untitled](https://user-images.githubusercontent.com/63948651/79682963-428f9000-822f-11ea-92c6-d8

[2020-04-19 09:47] llll7uoh opened #364 "Error Opencart 2.3"
When I first start the module, I get an error.
Tell me how to solve?
http://prntscr.com/s27ace

[2020-04-19 11:42] nasrulizwan commented on #363
same problem,

[2020-04-19 13:20] tuncaytunckol commented on #363
same problem,

[2020-04-19 15:25] alexeypp commented on #363
Also, if I clear the cache of the browser or opened it in incognito mode, the page load the first step. The authorization window, then I add my username and password. And the next window is the same... same window with the same error message.

[2020-04-19 23:23] and33sand commented on #363
Same problem...

[2020-04-20 04:02] shue249 commented on #364
@llll7uoh Thank you for the feedback. Can you download the latest version of the plugin - https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v3.0.0, remove the existing plugin and install the latest version. Then follow the on screen steps to upgrade your settings.

[2020-04-20 04:06] shue249 commented on #342
@moseur Can I understand that you have 2 shops and both shops have problems with the plugin.

1. What are the plugin versions used for both shops? We have another new version 3.0.0. Can you check if the plugin used is 3.0.0? https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v3.0.0

2. What is the error you are facing now with both shops? Can you show us a screenshot of the er

[2020-04-20 04:07] shue249 commented on #362
@honeynatividad Thank you for the feedback. Can you share with us your website URL?

Also have you followed the installation steps here - https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#plugin-installation. Pls ensure that you have followed the step to "Refresh modifications"

[2020-04-20 04:11] shue249 commented on #359
@rhinsu Can you share with us 2 examples of such products (where the sale price is not reflected) on your website so that we can help to check. Information that will be useful for us:
1. webstore URL of the product
2. What is the sale price and normal price

We want to verify that the sale price is shown on your website and then match it against the facebook product catalog sale price.

[2020-04-20 04:14] shue249 commented on #360
@baud13 We are working on enabling the Messenger chat features on the version 3.0.0 of our plugin. We will update you soonest when it is ready.

Can you explain more on what is the problem that you are facing now and is not able to solve.

[2020-04-20 04:52] nunaoppa opened #365 "Plugin Version: 3.0.0 - no action (OC v3.0.3.1)"
![image](https://user-images.githubusercontent.com/56949405/79715176-8b197d00-8305-11ea-84bc-9ff217ce1217.png)

I downloaded 3.0.0 ver, and installed it

There's no response when I Click <Get Stared>

![image](https://user-images.githubusercontent.com/56949405/79715247-cf0c8200-8305-11ea-8085-668b4a859a45.png)

[2020-04-20 05:29] dtying commented on #363
Thank you all for the feedback! Sorry for the inconvenience.
Let me check with the team internally first.

[2020-04-20 06:42] dtying commented on #365
Thank you for the feedback!
We're currently aware of the issue and working on the fix.

[2020-04-20 06:44] nunaoppa commented on #365
Please reply when the problem is solved.
Can I download the previous version?

[2020-04-20 06:45] nunaoppa commented on #365
Please reply when the problem is solved.
Can I download the previous version?

[2020-04-20 06:45] dtying commented on #365
Yup, pls use the previous version as an alternative.

[2020-04-20 06:47] nunaoppa commented on #365
Where can I download it?

[2020-04-20 06:49] dtying commented on #365
Here you go: https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

[2020-04-20 06:50] dtying commented on #363
Meanwhile, you may use the previous version as an alternative: https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v2.2.1

[2020-04-20 08:21] and33sand commented on #363
With 2.2.1 working perfect! Thanks!

[2020-04-20 09:40] dtying commented on #363
This issue should have already been fixed now. Let me know if you still can't see the login screen.

[2020-04-20 09:41] dtying commented on #365
This issue should have already been fixed now. Let me know if you still can't see the login screen.

[2020-04-20 10:00] ghostofjava opened #366 "ErrorUtils caught an error:"
After I install it.I clicked on Get Started button, I got an error :

So, What is the solution for this error ??? and Why I got this error ??

[2020-04-20 10:02] ghostofjava commented on #366
The same issue opened in this link https://github.com/facebookincubator/Facebook-For-OpenCart/issues/365

[2020-04-20 10:02] #366 closed

[2020-04-20 10:13] siteadvice opened #367 "Cannot click on Update token because there is no "Update token" link"
Hi there,

I have a couple of Opencart 2.x sites and both have this message on the dashboard right now:
[code]
The plugin is Version: 2.1.12. I tried to install the latest version (3.0.0) but I got this error:

[code]

I have attempted to uninstall version 2.1.12 and it no longer appears in the list of Modifications, but it is still running.

Any ideas what I can do?

Here's an extract from the lo

[2020-04-20 10:23] SilverDario commented on #362
Messenger plugin not showing after update. Products are OK. OC version 3,0,2,0, Journal 3 theme,  Any help is appreciated. Thank you!

[2020-04-20 10:46] moseur commented on #342
![image](https://user-images.githubusercontent.com/32351568/79743325-39351f00-8326-11ea-8380-7dda6b2dc8ef.png)
![image](https://user-images.githubusercontent.com/32351568/79743352-4520e100-8326-11ea-8631-f1ff3ae10a71.png)
![image](https://user-images.githubusercontent.com/32351568/79743384-510ca300-8326-11ea-87b7-4f5fa9d55aa6.png)

Please find the attachment for your kind reference. I am using lat

[2020-04-21 02:05] shue249 commented on #362
@SilverDario What is the plugin version that you are using? If you are using version 3.0.0, we are now working to enable Messenger chat plugin. If you are using older versions of v2.x, can you share with us your web store URL.

[2020-04-21 02:06] shue249 commented on #367
@siteadvice Can you upgrade to version 3.0.0 for our plugin. Before you do the installation, can you check that you have provided read+write access for the admin, catalog and system folders.

[2020-04-21 02:08] dtying commented on #334
Hi @chauting , you may follow the [guide](https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/FAQ.md#setup-for-facebook-business-manager-page-pixel-catalog-and-page-shop) here to setup your FBE.
Can you also provide me the ID of the Facebook Business Manager which you created before?

[2020-04-21 02:11] shue249 commented on #342
@moseur Thank you for the screenshots and feedback.

1. Want to understand if you have installed any ad blocker on your chrome. If so, can you disable the ad blocker and try to launch the plugin again.

2. If point 1 does not work, can you toggle the Chrome developer console and then refresh the webpage. We like to check if there are any error messages on the console.

[2020-04-21 02:51] #365 closed

[2020-04-21 02:52] #363 closed

[2020-04-21 02:53] dtying commented on #354
Hi @johnnyipp, I'll close out this ticket for now. Let me know if you have any further questions.

[2020-04-21 02:53] #354 closed

[2020-04-21 02:58] dtying commented on #351
Hi @ltona @magbor, thanks for your waiting.
There's issue with our backend in the last week and that's why I can't find your installation log from my end. It should have been fixed now, you may re-try and let me know if it's still not working.

[2020-04-21 02:59] dtying commented on #351
Hi @danilomacedo10 , this issue should have been fixed now.

[2020-04-21 03:00] dtying commented on #351
Hi @decorello , can you show me a screenshot of how your error is triggered?

[2020-04-21 03:11] dtying commented on #357
Hi @jepsdk , here's the latest version of setup steps. Could you verify that you're able to see the screen of each step in the exact sequence?
https://github.com/facebookincubator/Facebook-For-OpenCart/blob/master/INSTALL_GUIDE.md#setup-for-facebook-business-manager-page-pixel-and-catalog

If not, I want to know in which step did you see the error. Did you see the screen of 'Select an existing Fac

[2020-04-21 05:29] dtying commented on #356
Hi @cheekymykool , this error screen looks like is from the previous FBE version. Can you double check which plugin version are you on? Below shows how to check your plugin version.
![Screen Shot 2020-04-21 at 11 18 33 AM](https://user-images.githubusercontent.com/21333308/79828814-1a8d6180-83d4-11ea-8833-cbbcf987e68c.png)

[2020-04-21 06:38] AlexGolemis opened #368 "FacebookAdsExtension is not defined"
I installed the extension, but it loads infinitely and throws a console error &quot;Uncaught ReferenceError: _facebookAdsExtension is not defined&quot; .

[2020-04-21 06:42] siteadvice commented on #367
What permission settings would you recommend on those folders?

On 21 Apr 2020, at 03:10, shue249 <notifications@github.com> wrote:

﻿

@siteadvice<https://github.com/siteadvice> Can you upgrade to version 3.0.0 for our plugin. Before you do the installation, can you check that you have provided read+write access for the admin, catalog and system folders.

—
You are receiving this because you were

[2020-04-21 07:00] AlexGolemis commented on #277
I had the same error today after uninstalling the plugin. Has anybody found a solution?

[2020-04-21 07:00] cheekymykool commented on #356
As per photo v3 I have downloaded this from your site

Warmest Regards

Mike Carter

Majic Personalisation

08 6363 5163

0491057248

2322 Albany Hwy

Gosnells WA 6110

 <http://www.majicpersonalisation.com.au/> www.majicpersonalisation.com.au

From: dtying <notifications@github.com>
Sent: Tuesday, 21 April 2020 1:30 PM
To: facebookincubator/Facebook-For-OpenCart <Facebook-For-OpenCart@noreply.git

[2020-04-21 07:34] magbor commented on #351
Hi @dtying , nothing changed, the same problem! www.magbor.com
In my case, despite the error, Facebook is showing the new products I created in OC.
2020-04-21 10:26:36 - Get Sample product feed
2020-04-21 10:26:36 - Complete - Get Sample product feed
2020-04-21 10:27:16 - Facebook Ads Extension version = 3.0.0
2020-04-21 10:27:16 - OpenCart version = 2.3.0.2
2020-04-21 10:27:16 - PHP version = 7.1

[2020-04-21 10:21] AlexGolemis commented on #368
I have already Downloaded the latest version of your Extension from here:
https://github.com/facebookincubator/Facebook-For-OpenCart/releases/tag/v3.0.0
![facebook extension error](https://user-images.githubusercontent.com/64062947/79854947-ef564280-83d2-11ea-9aa5-813959418322.png)

[2020-04-21 10:23] blakerr commented on #351
I got exactly same problem on OC 2.3 with new version of extension, please tell us how to solve the problem ?

[2020-04-21 13:45] missbow commented on #351
Same Issue on Version 2.3.0.2
![image](https://user-images.githubusercontent.com/34458043/79873222-83360780-83ef-11ea-950b-e7af16966484.png)

[2020-04-21 20:07] acjp opened #369 "pixel fb on checkout page"
hi, i make the installation but i can't see the pixel on the checkout page after that i refreshed the page.
can u help me?

[2020-04-22 01:07] cheekymykool commented on #356
the version i have is v 3 downloaded from this site to make sure

Regards

[2020-04-22 02:02] shue249 commented on #368
@AlexGolemis Can you perform a clear cache and hard reload on your browser to see if the error message is resolved.

[2020-04-22 02:04] shue249 commented on #369
@acjp Want to know if you are using a 3rd party checkout plugin or using the default OpenCart checkout module?

[2020-04-22 05:59] bonyod opened #370 "Force fetch Product to Sync"
Hi, in previous version before ver. 3 I can find "Fetch Now" button to sync.
In version 3 I can't find it, how to re-sync my product immediately? Or sync from beginning

[2020-04-22 06:06] arturiokas opened #371 "How set synchronize time FB shop witch OC store?"
How set synchronize time FB shop witch OC store?

[2020-04-22 07:33] acjp commented on #369
thanks, default

[2020-04-22 07:39] shue249 commented on #371
@arturiokas Can you share more on your problem. Are there any screenshots that you can use to explain on syncing FB shop time with OC store time.

[2020-04-22 07:43] shue249 commented on #369
@acjp
1. Can you share your website URL?
2. Are you using any Search Engine Optimization to rename the checkout URL?
3. Can I understand what is the checkout page you are looking at? Is it the page where the customer is confirming the purchase or the Thank you page after customer has confirmed the purchase?